<!-- received="Sun Oct 10 00:58:52 1999 PDT" -->
<!-- sent="Sat, 09 Oct 1999 23:18:46 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane-0.37" -->
<!-- id="" -->
<!-- inreplyto="xsane-0.37" -->
<title>sane-devel: Re: xsane-0.37</title>
<h1>Re: xsane-0.37</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 09 Oct 1999 23:18:46 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#71">[ date ]</a><a href="index.html#71">[ thread ]</a><a href="subject.html#71">[ subject ]</a><a href="author.html#71">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">David Crooke: "[Fwd: Stalling and banding problems with Umax Astra 610S in SANE 1.0.1]"</a>
<li> <b>Previous message:</b> <a href="0070.html">Rob Komar: "Re: HP 6350C support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
regis rampnoux wrote:<br>
<p>
<i>&gt; On 09-Oct-99 Oliver Rauch wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; If your system does not find libsane-dll.so, read xsane.PROBLEMS</i><br>
<i>&gt; &gt; ohterwise explain what happens if you do NOT add libsane.a to the Makefile.</i><br>
<i>&gt;</i><br>
<i>&gt; but configure says that xsane need sane ( of course ;-) and can't find</i><br>
<i>&gt; sane_init.</i><br>
<i>&gt;</i><br>
<p>
Where is your sane lib installed?<br>
That normally is a problem is the sane libs are not installed in the standard<br>
places. I know that some people had that problem because they installed<br>
the sane libs in the X path.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">David Crooke: "[Fwd: Stalling and banding problems with Umax Astra 610S in SANE 1.0.1]"</a>
<li> <b>Previous message:</b> <a href="0070.html">Rob Komar: "Re: HP 6350C support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
