<!-- received="Sun Oct 10 14:20:28 1999 PDT" -->
<!-- sent="Sun, 10 Oct 1999 23:20:59 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@wolfsburg.de" -->
<!-- subject="xsane-0.39" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane-0.39</title>
<h1>xsane-0.39</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@wolfsburg.de"><i>oliver.rauch@wolfsburg.de</i></a>)<br>
<i>Sun, 10 Oct 1999 23:20:59 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#77">[ date ]</a><a href="index.html#77">[ thread ]</a><a href="subject.html#77">[ subject ]</a><a href="author.html#77">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Timothy Reaves: "Not to look a gift horse in the mouth..."</a>
<li> <b>Previous message:</b> <a href="0076.html">Rob Komar: "Re: HP 6350C support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
for the people who had problems compiling xsane-0.38<br>
because of xsane-scan.c: GIMP_CHECK_VERSION<br>
I uploaded xsane-0.39 to<br>
 <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a><br>
<p>
Who had no problems to compile xsane-0.38 has no<br>
advantage of xsane-0.39<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Timothy Reaves: "Not to look a gift horse in the mouth..."</a>
<li> <b>Previous message:</b> <a href="0076.html">Rob Komar: "Re: HP 6350C support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
