<!-- received="Sun Oct 10 21:02:41 1999 PDT" -->
<!-- sent="Sun, 10 Oct 1999 21:02:40 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="test" -->
<!-- id="199910110402.VAA06465@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: test</title>
<h1>test</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sun, 10 Oct 1999 21:02:40 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#81">[ date ]</a><a href="index.html#81">[ thread ]</a><a href="subject.html#81">[ subject ]</a><a href="author.html#81">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Andreas Kraska: "Re: Mustek SE 12000SP Firmware 2.02"</a>
<li> <b>Previous message:</b> <a href="0080.html">Tim Waugh: "Re: xsane-0.38 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sorry for the noise.  I'm trying to fix a mailing list problem.<br>
Please bear with me...<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Andreas Kraska: "Re: Mustek SE 12000SP Firmware 2.02"</a>
<li> <b>Previous message:</b> <a href="0080.html">Tim Waugh: "Re: xsane-0.38 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
