<!-- received="Tue Oct 12 13:56:39 1999 PDT" -->
<!-- sent="Tue, 12 Oct 1999 22:56:34 +0200 (CEST)" -->
<!-- name="regis rampnoux" -->
<!-- email="regisr@regix.com" -->
<!-- subject="Re: xsane-0.37 (0.38)" -->
<!-- id="" -->
<!-- inreplyto="37FFB136.37B6E6CA@wolfsburg.de" -->
<title>sane-devel: Re: xsane-0.37 (0.38)</title>
<h1>Re: xsane-0.37 (0.38)</h1>
<b>regis rampnoux</b> (<a href="mailto:regisr@regix.com"><i>regisr@regix.com</i></a>)<br>
<i>Tue, 12 Oct 1999 22:56:34 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#97">[ date ]</a><a href="index.html#97">[ thread ]</a><a href="subject.html#97">[ subject ]</a><a href="author.html#97">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">Oliver Rauch: "Re: xsane-0.37 (0.38)"</a>
<li> <b>Previous message:</b> <a href="0096.html">Peter Kirchgessner: "Re: Not to look a gift horse in the mouth..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 09-Oct-99 Oliver Rauch wrote:<br>
 <br>
<i>&gt; Where is your sane lib installed?</i><br>
<p>
Sorry the problem was in gettext.<br>
I have modified the configure file (in 0.38, I have not yet the 0.39 ;-) :<br>
<p>
%  diff -c  configure configure.orig<br>
*** configure   Tue Oct 12 22:49:26 1999<br>
--- configure.orig      Tue Oct 12 22:39:07 1999<br>
***************<br>
*** 4763,4769 ****<br>
    echo $ac_n "(cached) $ac_c" 1&gt;&amp;6<br>
  else<br>
    ac_save_LIBS="$LIBS"<br>
! LIBS="-lsane -lintl -L${x_libraries} $LIBS"<br>
  cat &gt; conftest.$ac_ext &lt;&lt;EOF<br>
  #line 4769 "configure"<br>
  #include "confdefs.h"<br>
--- 4763,4769 ----<br>
    echo $ac_n "(cached) $ac_c" 1&gt;&amp;6<br>
  else<br>
    ac_save_LIBS="$LIBS"<br>
! LIBS="-lsane -L${x_libraries} $LIBS"<br>
  cat &gt; conftest.$ac_ext &lt;&lt;EOF<br>
  #line 4769 "configure"<br>
  #include "confdefs.h"<br>
<p>
and this seems Ok now!<br>
<p>
<p>
<pre>
---
&lt;regisr&gt;       <a href="mailto:regisr@regix.com">regisr@regix.com</a>     <a href="http://www.regix.com/">http://www.regix.com/</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">Oliver Rauch: "Re: xsane-0.37 (0.38)"</a>
<li> <b>Previous message:</b> <a href="0096.html">Peter Kirchgessner: "Re: Not to look a gift horse in the mouth..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
