<!-- received="Fri Oct 15 08:14:49 1999 PDT" -->
<!-- sent="Fri, 15 Oct 1999 17:18:37 +0200" -->
<!-- name="Christian" -->
<!-- email="christian.dietlmeier@wiesent.de" -->
<!-- subject="Win9x-Client" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Win9x-Client</title>
<h1>Win9x-Client</h1>
<b>Christian</b> (<a href="mailto:christian.dietlmeier@wiesent.de"><i>christian.dietlmeier@wiesent.de</i></a>)<br>
<i>Fri, 15 Oct 1999 17:18:37 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#105">[ date ]</a><a href="index.html#105">[ thread ]</a><a href="subject.html#105">[ subject ]</a><a href="author.html#105">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Frederic Bregier: "Any support for Guillemot Maxi Scan A4 Deluxe ?"</a>
<li> <b>Previous message:</b> <a href="0104.html">Zot O'Connor: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0109.html">Zot O'Connor: "Re: Win9x-Client"</a>
<li> <b>Reply:</b> <a href="0109.html">Zot O'Connor: "Re: Win9x-Client"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello everybody,<br>
<p>
I have an Linux-Server, on which a scanner is connectet to. On my other<br>
PC's is running Win9x, therefor  I nned an Win9x-Client for Sane, to use<br>
the scanner on the Win-PC's.<br>
<p>
I hope somebody can help me.<br>
<p>
so long<br>
<p>
Christian<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Frederic Bregier: "Any support for Guillemot Maxi Scan A4 Deluxe ?"</a>
<li> <b>Previous message:</b> <a href="0104.html">Zot O'Connor: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0109.html">Zot O'Connor: "Re: Win9x-Client"</a>
<li> <b>Reply:</b> <a href="0109.html">Zot O'Connor: "Re: Win9x-Client"</a>
<!-- reply="end" -->
</ul>
