<!-- received="Fri Oct 15 09:36:11 1999 PDT" -->
<!-- sent="Fri, 15 Oct 1999 09:39:16 -0700" -->
<!-- name="Zot O'Connor" -->
<!-- email="zot@zotconsulting.com" -->
<!-- subject="Multi-Function Machines (all-in-one)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Multi-Function Machines (all-in-one)</title>
<h1>Multi-Function Machines (all-in-one)</h1>
<b>Zot O'Connor</b> (<a href="mailto:zot@zotconsulting.com"><i>zot@zotconsulting.com</i></a>)<br>
<i>Fri, 15 Oct 1999 09:39:16 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#110">[ date ]</a><a href="index.html#110">[ thread ]</a><a href="subject.html#110">[ subject ]</a><a href="author.html#110">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Zot O'Connor: "Re: find-scanner...but?"</a>
<li> <b>Previous message:</b> <a href="0109.html">Zot O'Connor: "Re: Win9x-Client"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have been eyeing the copier/scanner/printer/fax machines for a while.<br>
<p>
Has anyone had any luck with the scanner portion?  I didn't see any<br>
listed on the supported page.  But I wasn't sure if some of these<br>
puppies worked with other drivers.<br>
<p>
I figure worst case I should be able to work this with VMWare since the<br>
new linux version uses bi-directional ports.<br>
<p>
<p>
<p>
<pre>
-- 
Zot O'Connor
<p>
www.ZotConsulting.com
www.WhiteKnightHackers.com
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Zot O'Connor: "Re: find-scanner...but?"</a>
<li> <b>Previous message:</b> <a href="0109.html">Zot O'Connor: "Re: Win9x-Client"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
