<!-- received="Sun Oct 17 08:07:02 1999 PDT" -->
<!-- sent="Sun, 17 Oct 1999 10:09:41 -0500 (CDT)" -->
<!-- name="David Nelson" -->
<!-- email="dnelson@jump.net" -->
<!-- subject="Re: Doubt - Can a scanner be faster on Windows 98 than on Linux?" -->
<!-- id="" -->
<!-- inreplyto="3809BECD.DC29C519@mgconecta.com.br" -->
<title>sane-devel: Re: Doubt - Can a scanner be faster on Windows 98 than on Linux?</title>
<h1>Re: Doubt - Can a scanner be faster on Windows 98 than on Linux?</h1>
<b>David Nelson</b> (<a href="mailto:dnelson@jump.net"><i>dnelson@jump.net</i></a>)<br>
<i>Sun, 17 Oct 1999 10:09:41 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Oliver Rauch: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<li> <b>Previous message:</b> <a href="0122.html">Eduardo Mazoni Andrade Marcal Mendes: "Doubt - Can a scanner be faster on Windows 98 than on Linux?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Eduardo,<br>
<p>
Sounds to me like that there is a small buffer in the device driver<br>
(scsi/pp/etc) or the reading process (SANE backend) is requesting little<br>
chunks of data.  Irregardless, you *should* end up with an image...hmmm,<br>
you might have another issue.<br>
<p>
I've experienced much of the same issues while writing my USB device<br>
driver and trying to find an optimal read buffer.<br>
<p>
Regards,<br>
	/\/elson<br>
<p>
On Sun, 17 Oct 1999, Eduardo Mazoni Andrade Marcal Mendes wrote:<br>
<p>
<i>&gt; Hello</i><br>
<i>&gt;     I have been struggling to get my old UMax T-630 to work with sane</i><br>
<i>&gt; for almost six months. I decided to start from scratch again just to</i><br>
<i>&gt; see if I can find the missing point.  As usual there is a very simple</i><br>
<i>&gt; question that is getting in the way:</i><br>
<p>
<i>&gt;     Why my scanner works fine and fast with Adobe Photoshop</i><br>
<i>&gt; 3.05-VistaScan 2.30 on Windows 98?  When I switch to caldera</i><br>
<i>&gt; 2.3-sane-1.0.1 is a completely different story: i) the scanner scans</i><br>
<i>&gt; with tiny steps (so tiny that I can go for lunch and the thingy is</i><br>
<i>&gt; still going) and ii) crashes with error messages at the end of the</i><br>
<i>&gt; whole scanning process (that is, no image). What is going on?</i><br>
<p>
<pre>
-- 
David /\/elson
<a href="http://www.jump.net/~dnelson">http://www.jump.net/~dnelson</a>
  
  "Management is doing things right; leadership is doing the right things."
                                         -- The 7 Habits Book
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Oliver Rauch: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<li> <b>Previous message:</b> <a href="0122.html">Eduardo Mazoni Andrade Marcal Mendes: "Doubt - Can a scanner be faster on Windows 98 than on Linux?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
