<!-- received="Sun Oct 17 12:27:45 1999 PDT" -->
<!-- sent="Sun, 17 Oct 1999 16:35:33 -0200" -->
<!-- name="Eduardo Mazoni Andrade Marcal Mendes" -->
<!-- email="mendes@mgconecta.com.br" -->
<!-- subject="Re: Can a scanner be faster on Windows 98 than on Linux?" -->
<!-- id="" -->
<!-- inreplyto="Can a scanner be faster on Windows 98 than on Linux?" -->
<title>sane-devel: Re: Can a scanner be faster on Windows 98 than on Linux?</title>
<h1>Re: Can a scanner be faster on Windows 98 than on Linux?</h1>
<b>Eduardo Mazoni Andrade Marcal Mendes</b> (<a href="mailto:mendes@mgconecta.com.br"><i>mendes@mgconecta.com.br</i></a>)<br>
<i>Sun, 17 Oct 1999 16:35:33 -0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#127">[ date ]</a><a href="index.html#127">[ thread ]</a><a href="subject.html#127">[ subject ]</a><a href="author.html#127">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Oliver Rauch: "Re: Can a scanner be faster on Windows 98 than on Linux?"</a>
<li> <b>Previous message:</b> <a href="0126.html">joakim verona: "problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<p>
<i>&gt; Eduardo Mazoni Andrade Marcal Mendes wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; Hello</i><br>
<i>&gt; &gt;     I have been struggling to get my old UMax T-630 to work with sane</i><br>
<i>&gt; &gt; for almost six months. I decided</i><br>
<i>&gt; &gt; to start from scratch again just to see if I can find the missing</i><br>
<i>&gt; &gt; point.  As usual there is a very simple</i><br>
<i>&gt; &gt; question that is getting in the way:</i><br>
<i>&gt; &gt;     Why my scanner works fine and fast with Adobe Photoshop</i><br>
<i>&gt; &gt; 3.05-VistaScan 2.30 on Windows 98?  When</i><br>
<i>&gt; &gt; I switch to caldera 2.3-sane-1.0.1 is a completely different story: i)</i><br>
<i>&gt; &gt; the scanner scans with tiny steps</i><br>
<i>&gt; &gt; (so tiny that I can go for lunch and the thingy is still going) and ii)</i><br>
<i>&gt; &gt; crashes with error messages at the</i><br>
<i>&gt; &gt; end of the whole scanning process (that is, no image). What is going on?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;     Thanks for your help.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Ed</i><br>
<i>&gt; &gt;</i><br>
<i>&gt;</i><br>
<i>&gt; Hi Ed,</i><br>
<i>&gt;</i><br>
<i>&gt; please try the new umax driver from my homepage!</i><br>
<p>
Hi Oliver<br>
    Greetings.<br>
    What do you mean?  The new xsane-0.39? If so I have just compiled and run<br>
it. It didn't work:<br>
I/O device error. In some way it is worse than using xscanimage: the scanning<br>
process crashes<br>
it starts again. I need to click cancel to stop it.  Once I do that and leave<br>
xsane, there is a segmentation<br>
fault message. I am using Col 2.3 and have not wrecked the kernel yet.<br>
    I remeber that once you sent me a "debug" command (something like<br>
xscanimage 2&gt;1 &amp;) .  Is there<br>
any log file for xsane?<br>
<p>
    Many thanks<br>
<p>
Ed<br>
<p>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Oliver Rauch: "Re: Can a scanner be faster on Windows 98 than on Linux?"</a>
<li> <b>Previous message:</b> <a href="0126.html">joakim verona: "problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
