<!-- received="Mon Oct 18 03:08:07 1999 PDT" -->
<!-- sent="Mon, 18 Oct 1999 08:49:00 +0200 (MET DST)" -->
<!-- name="Levente NOVAK" -->
<!-- email="novak@jaguar.dote.hu" -->
<!-- subject="Re: Microtek Phantom 636cx again" -->
<!-- id="" -->
<!-- inreplyto="19991016165138.5698.qmail@aquila.muc.de" -->
<title>sane-devel: Re: Microtek Phantom 636cx again</title>
<h1>Re: Microtek Phantom 636cx again</h1>
<b>Levente NOVAK</b> (<a href="mailto:novak@jaguar.dote.hu"><i>novak@jaguar.dote.hu</i></a>)<br>
<i>Mon, 18 Oct 1999 08:49:00 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#131">[ date ]</a><a href="index.html#131">[ thread ]</a><a href="subject.html#131">[ subject ]</a><a href="author.html#131">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0132.html">Eduardo Mazoni Andrade Marcal Mendes: "Re: Can a scanner be faster on Windows 98 than on Linux?"</a>
<li> <b>Previous message:</b> <a href="0130.html">joakim verona: "Re: problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 16 Oct 1999, Bernd Schroeder wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; sorry for the late response.</i><br>
<i>&gt; </i><br>
<p>
Hello,<br>
<p>
No problem, thanks for the responses.<br>
<p>
<i>&gt; On Tue, Oct 05, 1999 at 08:13:20PM +0200, =??Q?Nov=E1k_Levente?= wrote:</i><br>
<i>&gt; &gt; Unfortunately I don't know of a method what would permit to "intercept" the commands sent by the Windows driver. Do you? </i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; You could try it with wine, which has builtin tracing capabilities.</i><br>
<i>&gt; I tried it some months ago with a SCSI model and managed to get it</i><br>
<i>&gt; scanning the SCSI bus using the ASPI 16-bit layer with a simple</i><br>
<i>&gt; test application, that comes with the Microtek software. IIRC it is </i><br>
<i>&gt; called scantest.exe.</i><br>
<i>&gt;</i><br>
<p>
Yesterday, I tried Wine, but unfortunately without success. In fact, I did<br>
not manage Wine to work reliably, and it always crashed (I installed the<br>
oct. 98 version, the one that is part of Debian 2.1). After configuring<br>
the SCSI ID, channel and LUN in wine.conf, and scantest.exe was<br>
succesfully launched, it detected my scanner properly, however when I<br>
clicked on the test scan button, I got a segfault.<br>
<p>
<i>&gt; In the meanwhile I do not think so any more. Two people have tried it</i><br>
<i>&gt; with a V6USL, which also often says, that it does not support gamma tables,</i><br>
<i>&gt; and these devices did not accept the gamma tables that these users tried</i><br>
<i>&gt; to send.</i><br>
<i>&gt; </i><br>
<i>&gt; [...]</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; &gt; &gt;   Scanning direction: Right to left</i><br>
<i>&gt; </i><br>
<i>&gt; In the meanwhile I have a new release of the backend, where it might</i><br>
<i>&gt; be fixed, that the image is mirrored (see my other mail).</i><br>
<i>&gt; </i><br>
<p>
OK, thanks, the mirror problem has gone now. So _almost_ everything is<br>
working fine for the Phantom 636cx, excepted these annoying dark stripes.<br>
Do you think it would be possible to reverse-engineer the dll-s of<br>
Microtek to find the solution? Or should I try a newer version of wine<br>
(which was the version of yours)?<br>
Anyway, thanks a lot for your help.<br>
<p>
Levente<br>
<p>
PS: I think you can include the settings for Phantom 636cx in the next<br>
release of sane-microtek2. You have only to add the entries for the model<br>
number (0x9a) in microtek2.c and add an if statement to the part where the<br>
backend wants to try the SLIDES option, as the hardware reports wrongly<br>
that Phantom 636cx has a slides option but hangs when the driver queries<br>
it.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0132.html">Eduardo Mazoni Andrade Marcal Mendes: "Re: Can a scanner be faster on Windows 98 than on Linux?"</a>
<li> <b>Previous message:</b> <a href="0130.html">joakim verona: "Re: problem getting a snapscan to work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
