<!-- received="Tue Oct 19 11:56:08 1999 PDT" -->
<!-- sent="Tue, 19 Oct 1999 12:54:41 -0600 (MDT)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: problem getting a snapscan to work" -->
<!-- id="19991019185446Z433444-19041+203@scapa.cs.ualberta.ca" -->
<!-- inreplyto="380A4902.BADE1A57@gate.verona.se" -->
<title>sane-devel: Re: problem getting a snapscan to work</title>
<h1>Re: problem getting a snapscan to work</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Tue, 19 Oct 1999 12:54:41 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Kevin Charter: "Re: Any support for Guillemot Maxi Scan A4 Deluxe ?"</a>
<li> <b>Previous message:</b> <a href="0152.html">Oliver Rauch: "Is anyone using more than 8bpp with umax/xsane?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; hello!</i><br>
<i>&gt; </i><br>
<i>&gt; i'm trying to get a snapscan 310 scanner to work with sane.</i><br>
<i>&gt; i have fairly complicated setup,</i><br>
...<br>
<i>&gt; snapscan backend 0.7</i><br>
...<br>
<i>&gt; scanimage -d snapscan:/dev/sge </i><br>
<i>&gt; </i><br>
<i>&gt; gives the following(with DEBUG_SANE_SNAPSCAN set)</i><br>
<i>&gt; at the end it complains about io error,</i><br>
<i>&gt; and goes into some kind of loop.</i><br>
<i>&gt; </i><br>
<i>&gt; Any suggestions would be very apreciated!!!!</i><br>
<p>
Are your disks or other essential peripherals attached to<br>
the ncr card? As a last resort, you might consider taking<br>
that card out if you can and seeing if the scanner works<br>
with sane in a simplified system.<br>
<p>
Does this happen in all scanning modes, with all sizes of<br>
images? Does your system lock up? Can you give the exact<br>
text of the error message?<br>
<p>
Thanks,<br>
<p>
Kevin<br>
 <br>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Kevin Charter: "Re: Any support for Guillemot Maxi Scan A4 Deluxe ?"</a>
<li> <b>Previous message:</b> <a href="0152.html">Oliver Rauch: "Is anyone using more than 8bpp with umax/xsane?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
