<!-- received="Thu Oct 28 09:16:08 1999 PDT" -->
<!-- sent="Thu, 28 Oct 1999 09:41:23 +0000" -->
<!-- name="galysh@juno.nrl.navy.mil" -->
<!-- email="galysh@juno.nrl.navy.mil" -->
<!-- subject="floating point exception error" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: floating point exception error</title>
<h1>floating point exception error</h1>
<a href="mailto:galysh@juno.nrl.navy.mil"><i>galysh@juno.nrl.navy.mil</i></a><br>
<i>Thu, 28 Oct 1999 09:41:23 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#221">[ date ]</a><a href="index.html#221">[ thread ]</a><a href="subject.html#221">[ subject ]</a><a href="author.html#221">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0222.html">Oliver Rauch: "Re: xsane-0.41 on SPARC SOLARIS 2.6"</a>
<li> <b>Previous message:</b> <a href="0220.html">Wolfgang Cohrs: "xsane-0.41 on SPARC SOLARIS 2.6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0223.html">Oliver Rauch: "Re: floating point exception error"</a>
<li> <b>Reply:</b> <a href="0223.html">Oliver Rauch: "Re: floating point exception error"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Hello,<br>
<p>
 I have Mandrake RedHat 6.1. I installed sane 1.0.1 from a precompiled<br>
 RPM. I downloaded the precompiled client software and the source to<br>
 xsane. I compiled xsane and got it working. I have a UMAX Vista-S6E<br>
 scanner. I can scan in greyscale but whenever, I scan in color I get a<br>
 floating point exception error. This occurs both in xsane and<br>
 xscanimage. I suspect the error is coming from sane. Is there a setup<br>
 I didn't get properly or is this a bug.<br>
<p>
 Thanks,<br>
 Ivan<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0222.html">Oliver Rauch: "Re: xsane-0.41 on SPARC SOLARIS 2.6"</a>
<li> <b>Previous message:</b> <a href="0220.html">Wolfgang Cohrs: "xsane-0.41 on SPARC SOLARIS 2.6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0223.html">Oliver Rauch: "Re: floating point exception error"</a>
<li> <b>Reply:</b> <a href="0223.html">Oliver Rauch: "Re: floating point exception error"</a>
<!-- reply="end" -->
</ul>
