<!-- received="Wed Aug  6 08:50:32 1997 MST" -->
<!-- sent="Wed, 6 Aug 1997 17:09:21 +0200" -->
<!-- name="Didier Carlier" -->
<!-- email="carlierd@acm.org" -->
<!-- subject="Re: COOLSCAN II backend - resend" -->
<!-- id="199708061509.RAA28353@fritz.sema.be" -->
<!-- inreplyto="199708061455.HAA03788@panda.mosberger" -->
<title>sane-devel: Re: COOLSCAN II backend - resend</title>
<h1>Re: COOLSCAN II backend - resend</h1>
<b>Didier Carlier</b> (<a href="mailto:carlierd@acm.org"><i>carlierd@acm.org</i></a>)<br>
<i>Wed, 6 Aug 1997 17:09:21 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#28">[ date ]</a><a href="index.html#28">[ thread ]</a><a href="subject.html#28">[ subject ]</a><a href="author.html#28">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0029.html">Rogier Wolff: "Re: COOLSCAN II backend"</a>
<li> <b>Previous message:</b> <a href="0027.html">David Mosberger-Tang: "Re: Preview Window problems"</a>
<li> <b>In reply to:</b> <a href="0026.html">David Mosberger-Tang: "Re: COOLSCAN II backend - resend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang writes:<br>
<i> &gt; Not a SANE backend, but there is coolscan-0.2.tgz at</i><br>
<i> &gt; sunsite.unc.edu:/pub/Linux/apps/graphics/capture which could serve as</i><br>
<i> &gt; a base for a SANE backend.  Or are you implying that the Coolscan II</i><br>
<i> &gt; interface is different from the "regular" Coolscan interface?</i><br>
<i> &gt; </i><br>
<i> &gt; 	--david</i><br>
<p>
<p>
Yes, I have seen that driver and contacted its author by email.<br>
<p>
The problem is indeed that the SL-10 and SL-20 (Coolscan II) have different<br>
commands set, the SL-20 being closer to SCSI-2 definition.<br>
<p>
Didier<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0029.html">Rogier Wolff: "Re: COOLSCAN II backend"</a>
<li> <b>Previous message:</b> <a href="0027.html">David Mosberger-Tang: "Re: Preview Window problems"</a>
<li> <b>In reply to:</b> <a href="0026.html">David Mosberger-Tang: "Re: COOLSCAN II backend - resend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
