<!-- received="Thu Aug  7 06:46:24 1997 MST" -->
<!-- sent="Thu, 7 Aug 1997 15:09:19 +0200" -->
<!-- name="krienke@mailhost.uni-koblenz.de" -->
<!-- email="krienke@mailhost.uni-koblenz.de" -->
<!-- subject="Mustec 1200SP Firmware 1.02 Color Problem" -->
<!-- id="199708071309.PAA11724@informatik.uni-koblenz.de" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustec 1200SP Firmware 1.02 Color Problem</title>
<h1>Mustec 1200SP Firmware 1.02 Color Problem</h1>
<a href="mailto:krienke@mailhost.uni-koblenz.de"><i>krienke@mailhost.uni-koblenz.de</i></a><br>
<i>Thu, 7 Aug 1997 15:09:19 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#31">[ date ]</a><a href="index.html#31">[ thread ]</a><a href="subject.html#31">[ subject ]</a><a href="author.html#31">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Michael K. Johnson: "Re: COOLSCAN II backend"</a>
<li> <b>Previous message:</b> <a href="0030.html">Didier Carlier: "Re: COOLSCAN II backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0034.html">David Mosberger-Tang: "MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color Problem]"</a>
<li> <b>Reply:</b> <a href="0034.html">David Mosberger-Tang: "MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color Problem]"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
since some days I own a Mustec 1200SP scanner. I run it on my linux box <br>
connected to an ADAPTEC 2940 SCSI controller. So far everything works fine. <br>
<p>
The only problems I have are scanning color images with more than 18DPI <br>
resolution. Eg scanning a color picture at 110dpi or so results in  a picture <br>
that has lots of hozontal color stripes. The stripes  are very thin and there  <br>
is<br>
always a red green and blue stripe following each other. You can recognize the <br>
contents of the picture but it looks very ugly. <br>
<p>
Gray scanning works allright.<br>
<p>
I read in the readmes that color scanning on mustecs 1200sp Firmware 1.02 <br>
is known to be buggy. Is there a solution in between for this bug ?<br>
<p>
Thanks a lot <br>
Rainer<br>
---------------------------------------------------------------------------<br>
Rainer Krienke                          <a href="mailto:krienke@informatik.uni-koblenz.de">krienke@informatik.uni-koblenz.de</a><br>
Universitaet Koblenz, 			<a href="http://www.uni-koblenz.de/~krienke">http://www.uni-koblenz.de/~krienke</a><br>
Rechenzentrum,                          Voice: +49 261 9119-641<br>
Rheinau 1, D-56075 Koblenz, Germany     Fax:   +49 261 9119-495<br>
---------------------------------------------------------------------------<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Michael K. Johnson: "Re: COOLSCAN II backend"</a>
<li> <b>Previous message:</b> <a href="0030.html">Didier Carlier: "Re: COOLSCAN II backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0034.html">David Mosberger-Tang: "MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color Problem]"</a>
<li> <b>Reply:</b> <a href="0034.html">David Mosberger-Tang: "MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color Problem]"</a>
<!-- reply="end" -->
</ul>
