<!-- received="Wed Aug 13 04:43:00 1997 MST" -->
<!-- sent="Wed, 13 Aug 1997 13:17:52 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color" -->
<!-- id="m0wybR2-000BWVC@charon.beck-sw.de" -->
<!-- inreplyto="199708071516.IAA14039@panda.mosberger" -->
<title>sane-devel: Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color</title>
<h1>Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 13 Aug 1997 13:17:52 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#58">[ date ]</a><a href="index.html#58">[ thread ]</a><a href="subject.html#58">[ subject ]</a><a href="author.html#58">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">Christophe Zwecker: "Re: libc prob with 0.62 solved, now gimp"</a>
<li> <b>Previous message:</b> <a href="0057.html">Christophe Zwecker: "libc prob with 0.62 solved, now gimp"</a>
<li> <b>In reply to:</b> <a href="0034.html">David Mosberger-Tang: "MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color Problem]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0060.html">David Mosberger-Tang: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color"</a>
<li> <b>Reply:</b> <a href="0060.html">David Mosberger-Tang: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
O.K. - now for the experiences when using --disable-ld-fix at ./configure time:<br>
<p>
<i>&gt;  - What version of SANE are you using?</i><br>
0.62<br>
<p>
<i>&gt;  - How was SANE configured?  Did you use the --disable-ld-fix option?</i><br>
Yes. No other special options.<br>
<p>
<i>&gt;  - What SCSI adapter are you using?</i><br>
NCR53c400 as last time. And the scanner is a MFS12000 with 1.00 FW.<br>
<p>
<i>&gt;  - Does grayscale scanning work fine at various resolutions and without</i><br>
<i>&gt;    dropped lines (e.g., try to scan a diagonal line to detect dropped</i><br>
<i>&gt;    lines).  If not, does it work for certain resolutions or do other</i><br>
<i>&gt;    settings (such as "force backtracking") affect the result?</i><br>
No. No scanning at all works. The scanner locks after its three "calibration<br>
moves" it makes at startup. The PC will still work, but the scanner process <br>
will be left open and needs to be killed with -KILL.<br>
<p>
After setting back to the normal mode, I have checked the seldomly used <br>
modes and found the following :<br>
<p>
- Color Lineart and Color Halftone have wrong colors. Brightness seems all <br>
  right, but color is wrong by far. Maybe the assignment of the color-planes<br>
  is wrong.(Don't waste too much time on that - who needs it ?)<br>
- Halftone mode works fine, if a 0 pattern size is set. If you set a pattern,<br>
  it doesn't work right.<br>
- The pattern vector does seem to have incorrect length constraints.<br>
  You can only set up to pattern-size values. pattern-size^2 should be the<br>
  correct limit.<br>
- Pattern setting itself seems to work right except for the far too small<br>
  size.<br>
<p>
The halftoning mechanism works as follows :<br>
<p>
The image is scanned in grayscale-mode internally, but for each dot the <br>
scanner has an individual threshold to decide it is black or white. This <br>
threshold is in the halftoning matrix.<br>
<p>
Say we have a matrix of 1 3 and an all gray picture of value 3.5, we get<br>
                        2 4<br>
* * in the output. The downloaded matrix is repeated like a tile-pattern.<br>
* -<br>
<p>
Ask if I haven't made myself clear. The default matrix ain't bad, but rolling <br>
your own might be nice for some applications.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">Christophe Zwecker: "Re: libc prob with 0.62 solved, now gimp"</a>
<li> <b>Previous message:</b> <a href="0057.html">Christophe Zwecker: "libc prob with 0.62 solved, now gimp"</a>
<li> <b>In reply to:</b> <a href="0034.html">David Mosberger-Tang: "MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color Problem]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0060.html">David Mosberger-Tang: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color"</a>
<li> <b>Reply:</b> <a href="0060.html">David Mosberger-Tang: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color"</a>
<!-- reply="end" -->
</ul>
