<!-- received="Thu Aug 14 15:26:46 1997 MST" -->
<!-- sent="Thu, 14 Aug 1997 14:50:33 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Destroyed my MUSTEK II 600 CD Scanner! HELP!" -->
<!-- id="199708142150.OAA01274@hopper.mosberger" -->
<!-- inreplyto="Destroyed my MUSTEK II 600 CD Scanner! HELP!" -->
<title>sane-devel: Re: Destroyed my MUSTEK II 600 CD Scanner! HELP!</title>
<h1>Re: Destroyed my MUSTEK II 600 CD Scanner! HELP!</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Thu, 14 Aug 1997 14:50:33 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#66">[ date ]</a><a href="index.html#66">[ thread ]</a><a href="subject.html#66">[ subject ]</a><a href="author.html#66">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Destroyed my MUSTEK II 600 CD Scanner!"</a>
<li> <b>Previous message:</b> <a href="0065.html">Zach Beane: "Epson 1200C"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0067.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Destroyed my MUSTEK II 600 CD Scanner!"</a>
<li> <b>Reply:</b> <a href="0067.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Destroyed my MUSTEK II 600 CD Scanner!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 14 Aug 1997 11:40:32 -0700, Familie Rode &lt;<a href="mailto:Rode@Wobcom.de">Rode@Wobcom.de</a>&gt; said:</i><br>
<p>
  Martin&gt; I think the backend/mustek.c driver doesn't recognizes my<br>
  Martin&gt; scanner as different to MUSTEK Paragon 600 CD (first<br>
  Martin&gt; version) which was physically longer. The new dimension of<br>
  Martin&gt; MUSTEK'S II 600 CD is 216x297mm !! A brief look on the code<br>
  Martin&gt; showed me that the driver sets the length to app. 355mm<br>
  Martin&gt; which is ways to long!!! I consider this to be the reason<br>
  Martin&gt; for the the broken scanner. Please place a warning in<br>
  Martin&gt; sane-mustek-manpage!!<br>
<p>
Which version are you using?  Since 0.57 or thereabouts "configure"<br>
prints a big fat message that you should read the file PROBLEMS before<br>
trying out SANE.  I don't think putting the warning message in the man<br>
page would help more (it's usually too late by the time people read<br>
man-pages).<br>
<p>
As for the length: the MFC-06000CZ is assumed to have a length of<br>
300mm, which is definitely correct and safe for my Paragon 600 II SP<br>
scanner (and many other MFC-06000CZ scanners).  Why do you think the<br>
backend is using a value of 355mm?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Destroyed my MUSTEK II 600 CD Scanner!"</a>
<li> <b>Previous message:</b> <a href="0065.html">Zach Beane: "Epson 1200C"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0067.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Destroyed my MUSTEK II 600 CD Scanner!"</a>
<li> <b>Reply:</b> <a href="0067.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Destroyed my MUSTEK II 600 CD Scanner!"</a>
<!-- reply="end" -->
</ul>
