<!-- received="Fri Aug 22 05:37:25 1997 MST" -->
<!-- sent="Fri, 22 Aug 1997 14:00:38 -0600" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem2.pharmazie.uni-halle.de" -->
<!-- subject="Re: xscanimage as gimp plug-in" -->
<!-- id="9708221400.ZM28670@medchem2.pharmazie.uni-halle.de" -->
<!-- inreplyto="krienke@mailhost.uni-koblenz.de" -->
<title>sane-devel: Re: xscanimage as gimp plug-in</title>
<h1>Re: xscanimage as gimp plug-in</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de"><i>p5iba@medchem2.pharmazie.uni-halle.de</i></a>)<br>
<i>Fri, 22 Aug 1997 14:00:38 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#82">[ date ]</a><a href="index.html#82">[ thread ]</a><a href="subject.html#82">[ subject ]</a><a href="author.html#82">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Michael K. Johnson: "Re: sane &amp; gtk problems"</a>
<li> <b>Previous message:</b> <a href="0081.html">Rainer Krienke: "Re: xscanimage as gimp plug-in"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Servus !<br>
<p>
<i>&gt; I think I ran into this trap the first time too. You have to compile</i><br>
xscanimage<br>
<i>&gt; with gimp-support. I cannot remember what switch to turn on when compiling</i><br>
<i>&gt; xscanimage but it is documented somewhere in the READMEs or Makefiles.</i><br>
<i>&gt;</i><br>
<i>&gt; Just turn this switch on recompile xscanimage and it works fine (at least for</i><br>
<i>&gt; me).</i><br>
<p>
I think there aren't any switches, you have to compile and install gtk and gimp<br>
first and then type configure of sane and sane will be configured automatically<br>
with gimp-support. So simply type make distclean with sane and configure again.<br>
<p>
<pre>
-- 
Mathias Weigt 
<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de">p5iba@medchem2.pharmazie.uni-halle.de</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Michael K. Johnson: "Re: sane &amp; gtk problems"</a>
<li> <b>Previous message:</b> <a href="0081.html">Rainer Krienke: "Re: xscanimage as gimp plug-in"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
