<!-- received="Mon Aug 25 02:44:14 1997 MST" -->
<!-- sent="Mon, 25 Aug 1997 11:22:21 +0200" -->
<!-- name="Marco Lonsing" -->
<!-- email="Marco.Lonsing@ruhr-uni-bochum.de" -->
<!-- subject="Re: xscanimage as gimp plug-in" -->
<!-- id="m0x2Nyc-000FxAC@drawbridge.in-berlin.de" -->
<!-- inreplyto="xscanimage as gimp plug-in" -->
<title>sane-devel: Re: xscanimage as gimp plug-in</title>
<h1>Re: xscanimage as gimp plug-in</h1>
<b>Marco Lonsing</b> (<a href="mailto:Marco.Lonsing@ruhr-uni-bochum.de"><i>Marco.Lonsing@ruhr-uni-bochum.de</i></a>)<br>
<i>Mon, 25 Aug 1997 11:22:21 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#87">[ date ]</a><a href="index.html#87">[ thread ]</a><a href="subject.html#87">[ subject ]</a><a href="author.html#87">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Fritz Jetzek: "Re: xscanimage as gimp plug-in"</a>
<li> <b>Previous message:</b> <a href="0086.html">Wolfgang Jung: "Re: Problem with Mustek"</a>
<li> <b>Maybe in reply to:</b> <a href="0080.html">Marco Lonsing: "xscanimage as gimp plug-in"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0088.html">Fritz Jetzek: "Re: xscanimage as gimp plug-in"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mathias Weigt wrote:<br>
<i>&gt; </i><br>
<i>&gt; Servus !</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; I think there aren't any switches, you have to compile and install gtk and gimp</i><br>
<i>&gt; first and then type configure of sane and sane will be configured automatically</i><br>
<i>&gt; with gimp-support. So simply type make distclean with sane and configure again.</i><br>
<i>&gt; </i><br>
<p>
My problem is that configure doesn't find my libgimp/gimp.h in<br>
/usr/include. If I force xscanimage to compile with gimp-support<br>
everything works.<br>
<p>
Marco<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Fritz Jetzek: "Re: xscanimage as gimp plug-in"</a>
<li> <b>Previous message:</b> <a href="0086.html">Wolfgang Jung: "Re: Problem with Mustek"</a>
<li> <b>Maybe in reply to:</b> <a href="0080.html">Marco Lonsing: "xscanimage as gimp plug-in"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0088.html">Fritz Jetzek: "Re: xscanimage as gimp plug-in"</a>
<!-- reply="end" -->
</ul>
