<!-- received="Wed Aug 27 09:15:25 1997 MST" -->
<!-- sent="Wed, 27 Aug 1997 08:50:59 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Agfa Snapscan driver?" -->
<!-- id="199708271550.IAA11747@hopper.mosberger" -->
<!-- inreplyto="199708261159.NAA28899@turtle.stack.nl" -->
<title>sane-devel: Re: Agfa Snapscan driver?</title>
<h1>Re: Agfa Snapscan driver?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 27 Aug 1997 08:50:59 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Michael Burghart: "Hi...Newcomer question.;))"</a>
<li> <b>Previous message:</b> <a href="0093.html">David Mosberger-Tang: "Re: Mustek 1200SP PRO"</a>
<li> <b>In reply to:</b> <a href="0091.html">Michel Roelofs: "Agfa Snapscan driver?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0096.html">Michael K. Johnson: "Re: Agfa Snapscan driver?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 26 Aug 1997 13:59:27 +0200 (MET DST), Michel Roelofs &lt;<a href="mailto:michelr@stack.nl">michelr@stack.nl</a>&gt; said:</i><br>
<p>
  Michel&gt; Hello, Is there already a driver for the Agfa SnapScan?<br>
<p>
Not as far as I know.  What exactly is the SnapScan?<br>
<p>
  Michel&gt; If not, I have just got some specs for it from Agfa (in<br>
  Michel&gt; Word-format). I'm not a good programmer, if someone might<br>
  Michel&gt; help me then maybe I can do some work (programming and<br>
  Michel&gt; testing).<br>
<p>
That's good news!  Let's hope somebody comes forward with such a<br>
scanner and the time/knowledge to write such a driver.  If you want to<br>
give it a shot on your own, you might want to look at some existing<br>
backends.  Depending on what the Agfa protocol looks like, the HP,<br>
Mustek, or UMAX backend may provide a useful starting point.  If you<br>
have any questions, feel free to drop a note.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Michael Burghart: "Hi...Newcomer question.;))"</a>
<li> <b>Previous message:</b> <a href="0093.html">David Mosberger-Tang: "Re: Mustek 1200SP PRO"</a>
<li> <b>In reply to:</b> <a href="0091.html">Michel Roelofs: "Agfa Snapscan driver?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0096.html">Michael K. Johnson: "Re: Agfa Snapscan driver?"</a>
<!-- reply="end" -->
</ul>
