<!-- received="Mon Sep  1 14:28:23 1997 MST" -->
<!-- sent="Mon, 1 Sep 1997 22:37:36 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: umax-backend" -->
<!-- id="199709012037.WAA00913@cave.BitWizard.nl" -->
<!-- inreplyto="m0x5VrW-000J8HC@hex.prestel.co.uk" -->
<title>sane-devel: Re: umax-backend</title>
<h1>Re: umax-backend</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Mon, 1 Sep 1997 22:37:36 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#121">[ date ]</a><a href="index.html#121">[ thread ]</a><a href="subject.html#121">[ subject ]</a><a href="author.html#121">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0122.html">Jonathan A. Buzzard: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0120.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<li> <b>In reply to:</b> <a href="0119.html">Jonathan A. Buzzard: "Re: umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Jonathan A. Buzzard: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Jonathan A. Buzzard wrote:<br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> said:</i><br>
<i>&gt; &gt; Yes, the q/a program will show "only noise" still, the doctors won't </i><br>
<i>&gt; &gt; allow you to trhow away that information. Maybe if you average 4 </i><br>
<i>&gt; &gt; pixels together that you get a little information. This IS visible to </i><br>
<i>&gt; &gt; the naked eye..... </i><br>
<i>&gt; </i><br>
<i>&gt; Never said the radiologist would let you throw the info away, but noise</i><br>
<i>&gt; is noise and averaging bits together will (should)</i><br>
<p>
should not make a difference. Right. <br>
<p>
<i>&gt; &gt; How do you measure the "just noise" in a 12bit scanner? I'd try to </i><br>
<i>&gt; &gt; generate a perfect analog greyscale and scan that.</i><br>
<i>&gt; </i><br>
<i>&gt; Not that I was involved in the q/a program, (it was an M.Sc. project done</i><br>
<i>&gt; at the same time as mime, and I had to use the same scanner for some</i><br>
<i>&gt; radiotherapy films). Roughly their was a test film which had a large number</i><br>
<i>&gt; of squares of different (but uniform) optical density. Roughly a scan was</i><br>
<i>&gt; taken of the film, a template was placed over the image and some statistics</i><br>
<i>&gt; where done on the pixels of the different areas. As far as I understood</i><br>
<i>&gt; the analysis showed that on a uniform area the distribution of the values</i><br>
<i>&gt; in the lower two bits was more or less uniform. The conclusions drawn from</i><br>
<i>&gt; that it must be noise.</i><br>
<p>
If "that is all there is to it", then I don't think this is a valid <br>
conclusion. I think I'd have to read the whole thesis. <br>
<p>
My explanation of the "uniformity" of the values in the lower bits is<br>
"there is noise in the source image". <br>
<p>
Yeah, it may look VERY uniform, but we're trying to detect the noise<br>
in the area that we're agreeing on that humans (almost) don't see the<br>
difference any more. <br>
<p>
Try creating a greyscale image:          example:<br>
                 position -&gt;             1234556789<br>
                        /                1234556789<br>
                      _/                 1234556789<br>
                ^    /                   1234556789<br>
       intensity|   /                    1234556789<br>
<p>
and notice the white stripe. <br>
<p>
% xv -perfect -geometry 260x240 -<br>
P2    <br>
260 1 255<br>
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26<br>
27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49<br>
50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72<br>
73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95<br>
96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113<br>
114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 128 128<br>
128 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143<br>
144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160<br>
161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177<br>
178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194<br>
195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211<br>
212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228<br>
229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245<br>
246 247 248 249 250 251 252 253 254 255<br>
^D (EOF)<br>
<p>
The only thing I changed from the ramp is that the value 128 is <br>
mentioned 5 times. The human eye makes that into a WHITE band. <br>
<p>
(This effect requires 8 bit deep DAC's.)<br>
<p>
What might be a reasonable test is to scan the same image over and<br>
over again. For every position in the image you can then calculate<br>
the statistical parameters for that position. The standard deviation<br>
has something to do with the amount of noise. I expect the pixels<br>
on sharp edges to show a higher noise figure than other pixels<br>
due to mechanical positioning problems. <br>
<p>
					Roger. <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0122.html">Jonathan A. Buzzard: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0120.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<li> <b>In reply to:</b> <a href="0119.html">Jonathan A. Buzzard: "Re: umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Jonathan A. Buzzard: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
