<!-- received="Tue Sep  2 09:22:46 1997 MST" -->
<!-- sent="Tue, 2 Sep 1997 17:32:25 +0200" -->
<!-- name="Wolfgang Jung" -->
<!-- email="woju@keep.in-berlin.de" -->
<!-- subject="Re: Backtracking in color scanning" -->
<!-- id="9709021448.AA22170@gypsy.atlantic.infi.net" -->
<!-- inreplyto="9709021448.AA22170@gypsy.atlantic.infi.net" -->
<title>sane-devel: Re: Backtracking in color scanning</title>
<h1>Re: Backtracking in color scanning</h1>
<b>Wolfgang Jung</b> (<a href="mailto:woju@keep.in-berlin.de"><i>woju@keep.in-berlin.de</i></a>)<br>
<i>Tue, 2 Sep 1997 17:32:25 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#124">[ date ]</a><a href="index.html#124">[ thread ]</a><a href="subject.html#124">[ subject ]</a><a href="author.html#124">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0125.html">Henning Sauer: "UMAX Scanner ?"</a>
<li> <b>Previous message:</b> <a href="0123.html">shendrix@gypsy.atlantic.infi.net: "Re: Backtracking in color scanning"</a>
<li> <b>In reply to:</b> <a href="0125.html">Henning Sauer: "UMAX Scanner ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0126.html">Michael K. Johnson: "Re: UMAX Scanner ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--1jdw2sOBCFtR2d/S<br>
Content-Type: text/plain; charset=us-ascii<br>
<p>
On Tue, Sep 02, 1997 at 10:48:00AM -0400, <a href="mailto:shendrix@gypsy.atlantic.infi.net">shendrix@gypsy.atlantic.infi.net</a> wrote:<br>
<i>&gt; </i><br>
<i>&gt; In message &lt;19970901104750.53420@drawbridge.in-berlin.de&gt; </i><br>
<i>&gt;     <a href="mailto:woju@keep.in-berlin.de">woju@keep.in-berlin.de</a> (&gt; ) writes:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Just calcualte the Data the scanner needs to transfer.</i><br>
<i>&gt; &gt; As Far as I could find the Mustek Scanner justs  uses async transfer</i><br>
<i>&gt; &gt; to the HOST which could be as slow as 1.5MB/S (even if you Adapter</i><br>
<i>&gt; &gt; could get up to 7MB/s )</i><br>
<i>&gt; &gt; An tiny Area of 1" times 1" brings you with 24 Bit and 1200 dpi Color</i><br>
<i>&gt; &gt; into 4320000 Bytes of Imagedata. if the scanner is able to scan that within</i><br>
<i>&gt; &gt; 1 Second the scanner needs to stop to get rid of the</i><br>
<i>&gt; &gt; Data.</i><br>
<i>&gt; </i><br>
<i>&gt; Well, under Windows95 it usually never did backtracking.  When it did,</i><br>
<i>&gt; it only backed up half the number of times it does with sane.   This</i><br>
<i>&gt; was with the little cheap controller it came with too.</i><br>
<p>
I suspect the driver just got a lot more of Data in one chunk, or just<br>
issued the READ Command almost immediatly after completition of the<br>
previous one. If you watch the Statusbar in the Win95 tool, you might<br>
have detected, that it just moves one or two times if you scane an area of <br>
2x3 inches (estimate). I think they use an awful big buffer for<br>
scanning, or at least TWAIN uses a real big one bevore sending it<br>
to the applikation.<br>
<p>
<i>&gt; </i><br>
<i>&gt; There had got to be a way to get it as fast as under Windows.  My scanner</i><br>
<i>&gt; is backtracking every half inch sometimes.  Under Win95 it always moved at</i><br>
<i>&gt; least a couple of inches before backtracking.</i><br>
<p>
I would love top get the gray mode working :-(.<br>
But I think the Idea with using a MEG of SG Buffer is no good Idea.<br>
I probably will experimet a bit on the comingf weekend. building a small<br>
testprogramm which tries to get the READ Command issued as soon<br>
as possible. <br>
<p>
Gruss<br>
	Wolfgang<br>
<p>
--1jdw2sOBCFtR2d/S<br>
Content-Type: application/pgp-signature<br>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: 2.6.3i<br>
<p>
iQCVAwUBNAwxiTJlt0x7iX79AQEFYQP+Ony6tRi80iWm69kDqiu4EA7JRHOxlAzI<br>
ALX7RNDlYCVsHqtj6ETzHdtjXk129u25o2oP/PitW+6nkIgny0PzVIvanOYWISGC<br>
TDVdrr7Um9pFOUPZzdX0nt9djU4FSakLu+Hw4tzKO8sX0z1zpkzCSbSP7K+92g5c<br>
/0+Tgk7Zvc4=<br>
=qWKQ<br>
-----END PGP SIGNATURE-----<br>
<p>
--1jdw2sOBCFtR2d/S--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0125.html">Henning Sauer: "UMAX Scanner ?"</a>
<li> <b>Previous message:</b> <a href="0123.html">shendrix@gypsy.atlantic.infi.net: "Re: Backtracking in color scanning"</a>
<li> <b>In reply to:</b> <a href="0125.html">Henning Sauer: "UMAX Scanner ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0126.html">Michael K. Johnson: "Re: UMAX Scanner ?"</a>
<!-- reply="end" -->
</ul>
