<!-- received="Sat Sep  6 12:04:30 1997 MST" -->
<!-- sent="Sat, 6 Sep 1997 11:51:06 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: umax-backend" -->
<!-- id="199709061851.LAA00802@hopper.mosberger" -->
<!-- inreplyto="199709012038.WAA15168@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re: umax-backend</title>
<h1>Re: umax-backend</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sat, 6 Sep 1997 11:51:06 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#138">[ date ]</a><a href="index.html#138">[ thread ]</a><a href="subject.html#138">[ subject ]</a><a href="author.html#138">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0139.html">David Mosberger-Tang: "Re: mustek problems in lineart mode"</a>
<li> <b>Previous message:</b> <a href="0137.html">David Mosberger-Tang: "Re: Backtracking in color scanning"</a>
<li> <b>In reply to:</b> <a href="0120.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 1 Sep 1997 22:38:34 +0200 (MET DST), <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> said:</i><br>
<p>
  Oliver&gt; If I manipulate the custom-gamma-curve with the mouse,<br>
  Oliver&gt; everything is ok. But If I set a gamma-value, white gets<br>
  Oliver&gt; black, all other colors are ok, so it looks like the<br>
  Oliver&gt; gamma-value-calculation is only 255 insted of 256 bytes<br>
  Oliver&gt; long.  But I'am not sure, because I changed a lot for the<br>
  Oliver&gt; 30-bit mode, so it could be my fault!<br>
<p>
Possibly a bug in the gtkgamma widget.  I don't have the sources handy<br>
until I get access to my other machines, but if you want to take a<br>
look at it, the code is completely self-explanatory... ;-)<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0139.html">David Mosberger-Tang: "Re: mustek problems in lineart mode"</a>
<li> <b>Previous message:</b> <a href="0137.html">David Mosberger-Tang: "Re: Backtracking in color scanning"</a>
<li> <b>In reply to:</b> <a href="0120.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
