<!-- received="Sun Sep  7 04:24:55 1997 MST" -->
<!-- sent="Sun, 7 Sep 1997 08:59:11 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: SANE and Mustek MFC-600S" -->
<!-- id="199709070659.IAA00932@cave.BitWizard.nl" -->
<!-- inreplyto="199709061820.LAA00666@hopper.mosberger" -->
<title>sane-devel: Re: SANE and Mustek MFC-600S</title>
<h1>Re: SANE and Mustek MFC-600S</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Sun, 7 Sep 1997 08:59:11 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#142">[ date ]</a><a href="index.html#142">[ thread ]</a><a href="subject.html#142">[ subject ]</a><a href="author.html#142">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<li> <b>Previous message:</b> <a href="0141.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<li> <b>In reply to:</b> <a href="0136.html">David Mosberger-Tang: "Re: SANE and Mustek MFC-600S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; I don't know what exactly the Windows driver does (in fact, I have</i><br>
<i>&gt; never actually seen the Windows driver working since it doesn't work</i><br>
<i>&gt; on my Alpha box...).  I discussed the issue with a Mustek engineer a</i><br>
<i>&gt; long time ago and he said backtracking for the MFC-06000CZ is</i><br>
<i>&gt; unavoidable at high resolutions (probably because it has an internal</i><br>
<i>&gt; buffer of 128KB only).  If you're saying that the windows driver does</i><br>
<i>&gt; not backtrack even at 600dpi in color mode, then this is obviously not</i><br>
<i>&gt; the whole truth.  It might be that using a larger kernel buffer (say</i><br>
<i>&gt; 1MB) might get rid of the backtracking completely, but it would at</i><br>
<i>&gt; least require some kernel hacking (also, I thought I read somewhere</i><br>
<i>&gt; that single SCSI transfers are limited to 128KB, am I</i><br>
<i>&gt; misremembering?).</i><br>
<p>
Yes, 1Mb SCSI transfers work just fine. The "strip-height" option that<br>
you added due to my request was to prevent such a transfer to take the<br>
bus for more than 10 seconds in a row.....<br>
<p>
I posted the patch to do this (the kernel hacking you mention :-) a few<br>
days ago. Here it is again.<br>
<p>
				Roger.<br>
<p>
-------------------------- sg_big_buf.patch ---------------------------<br>
--- linux-2.0.28/include/scsi/sg.h      Thu May  2 06:48:55 1996<br>
+++ linux-2.0.28.posix6/include/scsi/sg.h       Thu Jan 23 00:10:40 1997<br>
@@ -36,6 +36,10 @@<br>
 #define SG_MAX_QUEUE 4 /* maximum outstanding request, arbitrary, may be<br>
                          changed if sufficient DMA buffer room available */<br>
 <br>
+#if 0<br>
 #define SG_BIG_BUFF 32768<br>
+#else<br>
+#define SG_BIG_BUFF 0x100000<br>
+#endif<br>
 <br>
 #endif<br>
--- linux-2.0.28/drivers/scsi/sg.c      Sun Sep  1 08:15:33 1996<br>
+++ linux-2.0.28.posix6/drivers/scsi/sg.c       Thu Jan 23 00:12:52 1997<br>
@@ -39,7 +39,11 @@<br>
                                               NULL, sg_attach, sg_detach};<br>
 <br>
 #ifdef SG_BIG_BUFF<br>
+#if SG_BIG_BUFF &lt; 0x10000<br>
 static char *big_buff = NULL;<br>
+#else<br>
+static char big_buff[SG_BIG_BUFF];<br>
+#endif<br>
 static struct wait_queue *big_wait;   /* wait for buffer available */<br>
 static int big_inuse=0;<br>
 #endif<br>
@@ -565,8 +569,10 @@<br>
 #endif<br>
     <br>
 #ifdef SG_BIG_BUFF<br>
+#if SG_BIG_BUFF &lt; 0x10000<br>
     big_buff= (char *) scsi_init_malloc(SG_BIG_BUFF, GFP_ATOMIC | GFP_DMA);<br>
 #endif<br>
+#endif<br>
     <br>
     scsi_generics = (struct scsi_generic *) <br>
        scsi_init_malloc((sg_template.dev_noticed + SG_EXTRA_DEVS) <br>
@@ -648,8 +654,10 @@<br>
     }<br>
     sg_template.dev_max = 0;<br>
 #ifdef SG_BIG_BUFF<br>
+#if SG_BIG_BUFF &lt; 0x10000<br>
     if(big_buff != NULL)<br>
        scsi_init_free(big_buff, SG_BIG_BUFF);<br>
+#endif<br>
 #endif<br>
 }<br>
 #endif /* MODULE */<br>
<p>
<p>
<pre>
-- 
** <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> ** +31-15-2137555 ** <a href="http://www.BitWizard.nl/">http://www.BitWizard.nl/</a> **
Florida -- A 39 year old construction worker woke up this morning when a
109-car freigt train drove over him. According to the police the man was 
drunk. The man himself claims he slipped while walking the dog. 080897
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<li> <b>Previous message:</b> <a href="0141.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<li> <b>In reply to:</b> <a href="0136.html">David Mosberger-Tang: "Re: SANE and Mustek MFC-600S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
