<!-- received="Thu Sep 11 05:39:09 1997 MST" -->
<!-- sent="Thu, 11 Sep 1997 13:58:41 +0200 (METDST)" -->
<!-- name="Per Harald Myrvang" -->
<!-- email="Per.Harald.Myrvang@cc.uit.no" -->
<!-- subject="saned check_hosts() frobnication" -->
<!-- id="199709111158.NAA28748@esme.cc.uit.no" -->
<!-- inreplyto="" -->
<title>sane-devel: saned check_hosts() frobnication</title>
<h1>saned check_hosts() frobnication</h1>
<b>Per Harald Myrvang</b> (<a href="mailto:Per.Harald.Myrvang@cc.uit.no"><i>Per.Harald.Myrvang@cc.uit.no</i></a>)<br>
<i>Thu, 11 Sep 1997 13:58:41 +0200 (METDST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#164">[ date ]</a><a href="index.html#164">[ thread ]</a><a href="subject.html#164">[ subject ]</a><a href="author.html#164">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Michael Burghart: "Re: Umax UC 840"</a>
<li> <b>Previous message:</b> <a href="0163.html">Matto Marjanovic: "Microtek backend:  in progress?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've just spent 2 hours trying to scan over the net (using sane-0.63), only to<br>
fill syslog with "rejected" messages.<br>
<p>
Then, after much gnashing of teeth, I discovered that, in frontend/saned.c, in<br>
check_host(), one does two strcmp(3) to check the connecting party's hostname to<br>
those in saned.conf. These should really be strcasecmp(3)s, since DNS-entries<br>
are case-insensitive (and yes, that's why I couldn't get it to work before).<br>
<p>
This should definitly be fixed in 0.64.<br>
<p>
And now for some good <a href="news:">news:</a><br>
	I got the Nikon LS-1000 to scan at 300 and 2700 dpi using Didier's<br>
	code!  Hurrah! But there are still quite a lot of work left...<br>
<p>
<pre>
--
Per Harald Myrvang
<a href="mailto:perm@cc.uit.no">perm@cc.uit.no</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Michael Burghart: "Re: Umax UC 840"</a>
<li> <b>Previous message:</b> <a href="0163.html">Matto Marjanovic: "Microtek backend:  in progress?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
