<!-- received="Mon Sep 15 06:17:28 1997 MST" -->
<!-- sent="Mon, 15 Sep 1997 10:46:23 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: mustek problems in lineart mode" -->
<!-- id="m0xAWnY-000BWYC@charon.beck-sw.de" -->
<!-- inreplyto="XFMail.970914212041.Ritzert@T-Online.de" -->
<title>sane-devel: Re: mustek problems in lineart mode</title>
<h1>Re: mustek problems in lineart mode</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 15 Sep 1997 10:46:23 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#188">[ date ]</a><a href="index.html#188">[ thread ]</a><a href="subject.html#188">[ subject ]</a><a href="author.html#188">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">F. Paquet: "Sun Solaris"</a>
<li> <b>Previous message:</b> <a href="0187.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: "Permission denied" on /dev/sga under linux?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0193.html">Michael Ritzert: "Re: mustek problems in lineart mode"</a>
<li> <b>Reply:</b> <a href="0193.html">Michael Ritzert: "Re: mustek problems in lineart mode"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt;Is this command a "lockup-always" on your system ? Or does it work from time </i><br>
<i>&gt; &gt;to time ?</i><br>
<p>
<i>&gt; Well, I haven't tried it too often, but in most, not all, cases it locks up.</i><br>
So it sounds this is a timing-related problem. I have an old 486DX/33 attached<br>
to the scanner, so maybe it is slow enough most of the time ;-).<br>
<p>
<i>&gt; &gt;Moreover please note, that -l,-t,-x,-y might be ignored because the mode-set</i><br>
<i>&gt; &gt;command might override these values.</i><br>
<p>
<i>&gt; They actually seem to be accepted, but that shouldn't change the result anyway.</i><br>
<p>
Well - they are accepted, but in my case, they are ignored and the whole area<br>
is scanned when it works. This is a "known feature".<br>
<p>
<i>&gt; Does it still lock up when you change the mode to Gray? </i><br>
Haven't seen that happen. Maybe it does, too, but it is quite infrequent, then.<br>
<p>
<i>&gt; Here, it still does, but not that often (much less often, indeed).</i><br>
<i>&gt; How big is your SCSI buffer?</i><br>
32K. Unchanged, standard kernel.<br>
<p>
<i>&gt; Where does the scanner stop? (ruler on the scanner)</i><br>
At 0. The scanner does its "calibration move" and that's it.<br>
<p>
<i>&gt; I don't have any idea what could be the problem.</i><br>
I suppose some timing problem ...<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">F. Paquet: "Sun Solaris"</a>
<li> <b>Previous message:</b> <a href="0187.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: "Permission denied" on /dev/sga under linux?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0193.html">Michael Ritzert: "Re: mustek problems in lineart mode"</a>
<li> <b>Reply:</b> <a href="0193.html">Michael Ritzert: "Re: mustek problems in lineart mode"</a>
<!-- reply="end" -->
</ul>
