<!-- received="Wed Sep 17 14:53:23 1997 MST" -->
<!-- sent="Wed, 17 Sep 1997 14:24:48 -0700" -->
<!-- name="Craig Milo Rogers" -->
<!-- email="Rogers@ISI.EDU" -->
<!-- subject="SANE FTP Archive Problem?" -->
<!-- id="199709161735.TAA00442@Babylon5.wolfsburg.de" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE FTP Archive Problem?</title>
<h1>SANE FTP Archive Problem?</h1>
<b>Craig Milo Rogers</b> (<a href="mailto:Rogers@ISI.EDU"><i>Rogers@ISI.EDU</i></a>)<br>
<i>Wed, 17 Sep 1997 14:24:48 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#195">[ date ]</a><a href="index.html#195">[ thread ]</a><a href="subject.html#195">[ subject ]</a><a href="author.html#195">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Petri Lehtonen: "HP 4P problems"</a>
<li> <b>Previous message:</b> <a href="0194.html">Dan Mueth: "Can't find device"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
	Hello.  I can read the SANE Web pages, such as:<br>
<p>
<a href="http://www.azstarnet.com/~axplinux/sane/source.html">http://www.azstarnet.com/~axplinux/sane/source.html</a><br>
<p>
but I do not receive a response from the FTP server:<br>
<p>
<a href="ftp://ftp.azstarnet.com/pub/linux/axp/sane/">ftp://ftp.azstarnet.com/pub/linux/axp/sane/</a><br>
<p>
	I was able to pick up a copy of sane-0.63 at sunsite.unc.edu.<br>
<p>
					Craig Milo Rogers<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Petri Lehtonen: "HP 4P problems"</a>
<li> <b>Previous message:</b> <a href="0194.html">Dan Mueth: "Can't find device"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
