<!-- received="Fri Sep 19 00:29:12 1997 MST" -->
<!-- sent="Fri, 19 Sep 1997 08:29:46 +0200 (MET DST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: HP 4P problems" -->
<!-- id="199709190629.IAA00625@cave.BitWizard.nl" -->
<!-- inreplyto="XFMail.970918233719.onaias@iki.fi" -->
<title>sane-devel: Re: HP 4P problems</title>
<h1>Re: HP 4P problems</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Fri, 19 Sep 1997 08:29:46 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#199">[ date ]</a><a href="index.html#199">[ thread ]</a><a href="subject.html#199">[ subject ]</a><a href="author.html#199">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Michael Burghart: "Q: HP IICX"</a>
<li> <b>Previous message:</b> <a href="0198.html">Petri Lehtonen: "Re: HP 4P problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Petri Lehtonen wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;Does the Kernel recognizes the Scanner ?</i><br>
<i>&gt; </i><br>
<i>&gt; Yes</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;Is your link /dev/scanner to /dev/sg? correct set ?</i><br>
<i>&gt; </i><br>
<i>&gt; Yes, and I've even tried to use all the /dev/sg* because I was desperate.</i><br>
<p>
Really, the "scsi_open: no such device or address" means otherwise. <br>
<p>
					Roger.<br>
<p>
<p>
<i>&gt; Any other ideas?</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a></i><br>
<i>&gt; To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a></i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
-- 
** <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> ** +31-15-2137555 ** <a href="http://www.BitWizard.nl/">http://www.BitWizard.nl/</a> **
Florida -- A 39 year old construction worker woke up this morning when a
109-car freigt train drove over him. According to the police the man was 
drunk. The man himself claims he slipped while walking the dog. 080897
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Michael Burghart: "Q: HP IICX"</a>
<li> <b>Previous message:</b> <a href="0198.html">Petri Lehtonen: "Re: HP 4P problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
