<!-- received="Fri Sep 19 10:53:35 1997 MST" -->
<!-- sent="Fri, 19 Sep 1997 13:39:51 +0200 (CEST)" -->
<!-- name="Michael Ritzert" -->
<!-- email="Ritzert@T-Online.de" -->
<!-- subject="Re: mustek problems in lineart mode" -->
<!-- id="199709190629.IAA00625@cave.BitWizard.nl" -->
<!-- inreplyto="XFMail.970916092217.Ritzert@T-Online.de" -->
<title>sane-devel: Re: mustek problems in lineart mode</title>
<h1>Re: mustek problems in lineart mode</h1>
<b>Michael Ritzert</b> (<a href="mailto:Ritzert@T-Online.de"><i>Ritzert@T-Online.de</i></a>)<br>
<i>Fri, 19 Sep 1997 13:39:51 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#203">[ date ]</a><a href="index.html#203">[ thread ]</a><a href="subject.html#203">[ subject ]</a><a href="author.html#203">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0204.html">Petri Lehtonen: "Re: HP 4P problems"</a>
<li> <b>Previous message:</b> <a href="0202.html">Mathias Weigt: "Re: Q: HP IICX"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everybody!<br>
<p>
On 16-Sep-97 *I* wrote:<br>
<p>
<i>&gt;&gt;So it sounds this is a timing-related problem. I have an old 486DX/33</i><br>
<i>&gt;attached</i><br>
<i>&gt;&gt;to the scanner, so maybe it is slow enough most of the time ;-).</i><br>
<i>&gt;</i><br>
<i>&gt;Mine is a PPro200, so it shouldn't be too slow ;-)</i><br>
<p>
But it's too fast!<br>
Adding a delay in mustek.c in the sane_read() function solves the problem.<br>
At the moment I added a 0.1sec delay, but will try to get shorter until it<br>
does no longer work. 0.05sec should still work, but I haven't validated this<br>
yet.<br>
My question is how I can find out the scanmode in this context. I would like to<br>
add the delay only in lineart mode, as other modes work without delay.<br>
<p>
Ciao, Michael<br>
<pre>
---
    _
|\/|_)  -=&gt; <a href="mailto:ritzert@cfg.hd.bw.schule.de">ritzert@cfg.hd.bw.schule.de</a> &lt;=-
|  | \  *Michael Ritzert* - <a href="http://home.t-online.de/home/ritzert">http://home.t-online.de/home/ritzert</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0204.html">Petri Lehtonen: "Re: HP 4P problems"</a>
<li> <b>Previous message:</b> <a href="0202.html">Mathias Weigt: "Re: Q: HP IICX"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
