<!-- received="Mon Sep 22 00:20:40 1997 MST" -->
<!-- sent="Mon, 22 Sep 1997 08:39:24 -0100 (GMT)" -->
<!-- name="Tristan Tarrant" -->
<!-- email="ttarrant@suntlc.etnoteam.it" -->
<!-- subject="Re: uc840/uc630" -->
<!-- id="199709220939.IAA19795@suntlc.etnoteam.it" -->
<!-- inreplyto="199709191827.UAA00714@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re: uc840/uc630</title>
<h1>Re: uc840/uc630</h1>
<b>Tristan Tarrant</b> (<a href="mailto:ttarrant@suntlc.etnoteam.it"><i>ttarrant@suntlc.etnoteam.it</i></a>)<br>
<i>Mon, 22 Sep 1997 08:39:24 -0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#215">[ date ]</a><a href="index.html#215">[ thread ]</a><a href="subject.html#215">[ subject ]</a><a href="author.html#215">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Martin Goik: "Mustek scanner Problems"</a>
<li> <b>Previous message:</b> <a href="0214.html">Petri Lehtonen: "Re: HP 4P problems"</a>
<li> <b>In reply to:</b> <a href="0207.html">Wolfgang Jung: "Re: HP 4P problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 19 Set , <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<i>&gt; Hello UMAX UC840 owners,</i><br>
<i>&gt; </i><br>
<i>&gt; as far as I see the problem with the UC840 (and may be with the UC630 too)</i><br>
<p>
Hi Oliver,<br>
when my UC630 is connected to a Mac, using the Umax drivers under<br>
Photoshop, it scans in colour and grayscale flawlessly...<br>
<p>
Tristan<br>
<pre>
-- 
Tristan Tarrant                                      <a href="mailto:ttarrant@etnoteam.it">ttarrant@etnoteam.it</a>
Il software e' come il sesso. E' meglio quando e' gratis.
                                  Linus Torvalds
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0216.html">Martin Goik: "Mustek scanner Problems"</a>
<li> <b>Previous message:</b> <a href="0214.html">Petri Lehtonen: "Re: HP 4P problems"</a>
<li> <b>In reply to:</b> <a href="0207.html">Wolfgang Jung: "Re: HP 4P problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
