<!-- received="Wed Sep 24 05:23:50 1997 MST" -->
<!-- sent="Wed, 24 Sep 1997 08:17:03 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: uc840/uc630" -->
<!-- id="199709241217.IAA10561@nigel.redhat.com" -->
<!-- inreplyto="uc840/uc630" -->
<title>sane-devel: Re: uc840/uc630</title>
<h1>Re: uc840/uc630</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Wed, 24 Sep 1997 08:17:03 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#225">[ date ]</a><a href="index.html#225">[ thread ]</a><a href="subject.html#225">[ subject ]</a><a href="author.html#225">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0226.html">Tristan Tarrant: "Re: uc840/uc630"</a>
<li> <b>Previous message:</b> <a href="0224.html">Allan Nielsen: "GIMP 0.99.11 and sane"</a>
<li> <b>Maybe in reply to:</b> <a href="0206.html">Oliver.Rauch@Wolfsburg.DE: "uc840/uc630"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0226.html">Tristan Tarrant: "Re: uc840/uc630"</a>
<li> <b>Reply:</b> <a href="0226.html">Tristan Tarrant: "Re: uc840/uc630"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Tristan Tarrant writes:<br>
<i>&gt;Right. Does anyone know how I can get a SCSI protocol trace from a</i><br>
<i>&gt;Windows or Mac session ?</i><br>
<p>
Spend $1400 on a protocol analyzer?  :-P<br>
<p>
I'm not aware of software to grab traces on either windows or mac<br>
machines.<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0226.html">Tristan Tarrant: "Re: uc840/uc630"</a>
<li> <b>Previous message:</b> <a href="0224.html">Allan Nielsen: "GIMP 0.99.11 and sane"</a>
<li> <b>Maybe in reply to:</b> <a href="0206.html">Oliver.Rauch@Wolfsburg.DE: "uc840/uc630"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0226.html">Tristan Tarrant: "Re: uc840/uc630"</a>
<li> <b>Reply:</b> <a href="0226.html">Tristan Tarrant: "Re: uc840/uc630"</a>
<!-- reply="end" -->
</ul>
