<!-- received="Tue Sep  7 17:05:21 1999 PDT" -->
<!-- sent="Tue, 07 Sep 1999 20:08:51 -0400" -->
<!-- name="Tom Martone" -->
<!-- email="tom@martoneconsulting.com" -->
<!-- subject="Re: ACARD scsi w/ 620S weirdness" -->
<!-- id="" -->
<!-- inreplyto="ACARD scsi w/ 620S weirdness" -->
<title>sane-devel: Re: ACARD scsi w/ 620S weirdness</title>
<h1>Re: ACARD scsi w/ 620S weirdness</h1>
<b>Tom Martone</b> (<a href="mailto:tom@martoneconsulting.com"><i>tom@martoneconsulting.com</i></a>)<br>
<i>Tue, 07 Sep 1999 20:08:51 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Clive A Stubbings: "EPSON FS200 Filmscanner"</a>
<li> <b>Previous message:</b> <a href="0035.html">Alexey Zilber: "ACARD scsi w/ 620S weirdness"</a>
<li> <b>Maybe in reply to:</b> <a href="0035.html">Alexey Zilber: "ACARD scsi w/ 620S weirdness"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0038.html">William D. Johnston: "Re: ACARD scsi w/ 620S weirdness"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Alexey Zilber wrote:<br>
<i>&gt; </i><br>
<i>&gt; All,</i><br>
<i>&gt; </i><br>
<i>&gt; I've been using the Acer 620S scsi scanner w/ a scsi card </i><br>
<i>&gt; that came with it, the ACARD scsi card.  </i><br>
<i>&gt; I've tried hooking up this scanner to the back of my Sparc 10 </i><br>
<i>&gt; (to run SANE).  But the Sparc refuses to boot with the scanner </i><br>
<i>&gt; attached.  I've yet to hook it up my Tekram scsi card to test </i><br>
<i>&gt; out under Linux.</i><br>
<i>&gt; I'm wondering if anyone knows any scsi specifics about this scanner.  </i><br>
<i>&gt; Does it have automatic termination?  I'm having trouble getting a </i><br>
<i>&gt; 25pin scsi terminator.</i><br>
Just guessing, but I think that the terminator is a necessity.<br>
I had a similar experience with a UMAX 2400S on a SparcStation 20.<br>
Without the terminator I was getting really scary disk parity<br>
errors on bootup.  Adding the terminator restored normal working<br>
order.  You can try the probe-scsi and probe-scsi-all commands<br>
at the boot prompt and see if the scanner is seen.  And make sure<br>
you're using an unused scsi id.<br>
<p>
Tom Martone<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Clive A Stubbings: "EPSON FS200 Filmscanner"</a>
<li> <b>Previous message:</b> <a href="0035.html">Alexey Zilber: "ACARD scsi w/ 620S weirdness"</a>
<li> <b>Maybe in reply to:</b> <a href="0035.html">Alexey Zilber: "ACARD scsi w/ 620S weirdness"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0038.html">William D. Johnston: "Re: ACARD scsi w/ 620S weirdness"</a>
<!-- reply="end" -->
</ul>
