<!-- received="Tue Sep  7 19:45:15 1999 PDT" -->
<!-- sent="Tue, 7 Sep 1999 13:43:13 -0700 (PDT)" -->
<!-- name="William D. Johnston" -->
<!-- email="William.Johnston@west.sun.com" -->
<!-- subject="Re: ACARD scsi w/ 620S weirdness" -->
<!-- id="" -->
<!-- inreplyto="s7d53b8f.060@mail.batesww.com" -->
<title>sane-devel: Re: ACARD scsi w/ 620S weirdness</title>
<h1>Re: ACARD scsi w/ 620S weirdness</h1>
<b>William D. Johnston</b> (<a href="mailto:William.Johnston@west.sun.com"><i>William.Johnston@west.sun.com</i></a>)<br>
<i>Tue, 7 Sep 1999 13:43:13 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#38">[ date ]</a><a href="index.html#38">[ thread ]</a><a href="subject.html#38">[ subject ]</a><a href="author.html#38">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Petter Reinholdtsen: "Re: Prisa 620s; SnapScan good news and bad news"</a>
<li> <b>Previous message:</b> <a href="0037.html">Clive A Stubbings: "EPSON FS200 Filmscanner"</a>
<li> <b>In reply to:</b> <a href="0035.html">Alexey Zilber: "ACARD scsi w/ 620S weirdness"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">Alexey Zilber: "Re: ACARD scsi w/ 620S weirdness"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Linux driver source is at:<br>
<p>
<a href="http://www.acard.com/Download/Driver.htm">http://www.acard.com/Download/Driver.htm</a><br>
<p>
Its a ways down;  linux.tgz<br>
<p>
I built &amp; installed it, but never got the scanner to work with that card<br>
under SANE.<br>
<p>
It has "worked" with Gary Plewa's patches to the Snapscan driver<br>
using an Adaptek card.<br>
<p>
-WDJ<br>
<p>
<i>&gt; All,</i><br>
<i>&gt; </i><br>
<i>&gt; 	I've been using the Acer 620S scsi scanner w/ a scsi card that came with</i><br>
<i>&gt; it, the ACARD scsi card.  I've been using it under *gag* NT and that reports</i><br>
<i>&gt; it as a SCSI-3 card.</i><br>
<i>&gt; 	I've tried hooking up this scanner to the back of my Sparc 10 (to run</i><br>
<i>&gt; SANE).  But the Sparc refuses to boot with the scanner attached.  I've yet</i><br>
<i>&gt; to hook it up my Tekram scsi card to test out under Linux.</i><br>
<i>&gt; 	I'm wondering if anyone knows any scsi specifics about this scanner.  Does</i><br>
<i>&gt; it have automatic termination?  I'm having trouble getting a 25pin scsi</i><br>
<i>&gt; terminator.</i><br>
<i>&gt; 	And finally, is there a Linux driver for that scsi card?</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Petter Reinholdtsen: "Re: Prisa 620s; SnapScan good news and bad news"</a>
<li> <b>Previous message:</b> <a href="0037.html">Clive A Stubbings: "EPSON FS200 Filmscanner"</a>
<li> <b>In reply to:</b> <a href="0035.html">Alexey Zilber: "ACARD scsi w/ 620S weirdness"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">Alexey Zilber: "Re: ACARD scsi w/ 620S weirdness"</a>
<!-- reply="end" -->
</ul>
