<!-- received="Sat Sep 18 17:18:45 1999 PDT" -->
<!-- sent="Sat, 18 Sep 1999 20:28:53 -0400" -->
<!-- name="John Craig" -->
<!-- email="jcraig@water.agen.ufl.edu" -->
<!-- subject="Re: Microtek E3 crashes..." -->
<!-- id="" -->
<!-- inreplyto="Microtek E3 crashes..." -->
<title>sane-devel: Re: Microtek E3 crashes...</title>
<h1>Re: Microtek E3 crashes...</h1>
<b>John Craig</b> (<a href="mailto:jcraig@water.agen.ufl.edu"><i>jcraig@water.agen.ufl.edu</i></a>)<br>
<i>Sat, 18 Sep 1999 20:28:53 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#115">[ date ]</a><a href="index.html#115">[ thread ]</a><a href="subject.html#115">[ subject ]</a><a href="author.html#115">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Brian Macy: "Re: Microtek E3 crashes..."</a>
<li> <b>Previous message:</b> <a href="0114.html">Petter Reinholdtsen: "Re: Strange net sane response... [is microtek2 broken???]"</a>
<li> <b>Maybe in reply to:</b> <a href="0111.html">John Craig: "Microtek E3 crashes..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0116.html">Brian Macy: "Re: Microtek E3 crashes..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
Replying to my own message, because I got part of the problem solved. Still<br>
would like to get pointers on solving the rest of it.....<br>
<p>
John Craig wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt;</i><br>
<i>&gt; I am a newbie to the list and have recently tried to get SANE set up on</i><br>
<i>&gt; my Linux 2.2.12 laptop. I use a New Media pcmcia Bus Toaster SCSI card.</i><br>
<i>&gt; It has 2 additional devices, a Zip and a Jaz drive, with the Jaz drive</i><br>
<i>&gt; providing termination (that's the ony way the Jaz likes it).</i><br>
<i>&gt;</i><br>
<i>&gt; First problem, the scanner is recognized by scanimage -L when executed</i><br>
<i>&gt; by root, but not by a user. I did as the sane-scsi man page suggested --</i><br>
<i>&gt; created a group scanner, and added the user to the group, and gave the</i><br>
<i>&gt; /dev/sg* devices rw permissions  to user and group (660) as well as</i><br>
<i>&gt; ownership by root and group scanner.  What else could be wrong so that a</i><br>
<i>&gt; user can't access it?</i><br>
<i>&gt;</i><br>
<p>
Actually, the first  problem is solved now. I can crash the computer as<br>
either root or user.<br>
<p>
<i>&gt;</i><br>
<i>&gt; Next problem, when I run xscanimage as root, the user interface comes</i><br>
<i>&gt; up, and when I try to scan something,  the scanner makes a few moves,</i><br>
<i>&gt; like it was preparing to scan, and then locks up the machine. I had to</i><br>
<i>&gt; turn off the power and reboot. When you click the button to get</i><br>
<i>&gt; information about the scanner it correctly reports it</i><br>
<i>&gt; (microtek:/dev/sgc). I tried this using StarOffice 5.1 as the front end,</i><br>
<i>&gt; and the exact same results occur. The maching hangs on scanning or</i><br>
<i>&gt; previewing.</i><br>
<i>&gt;</i><br>
<i>&gt; Any ideas about where to proceed here? How do I set up the file</i><br>
<i>&gt; interfaces (pnm) to see if the front ends are operating correctly? Also,</i><br>
<i>&gt; since the machine freezes in the process, I can't really get debug</i><br>
<i>&gt; information, unless it is written to a file. Is there a way to do that,</i><br>
<i>&gt; so I can retrieve the file after a crash to see what happened?</i><br>
<i>&gt;</i><br>
<p>
Anyone have experience with the Bus Toaster SCSI card?<br>
<p>
It uses a Symbios  sym53c500_cs  driver .<br>
<p>
<p>
<i>&gt;</i><br>
<i>&gt; Thanks much,</i><br>
<i>&gt;</i><br>
<i>&gt; John Craig</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Brian Macy: "Re: Microtek E3 crashes..."</a>
<li> <b>Previous message:</b> <a href="0114.html">Petter Reinholdtsen: "Re: Strange net sane response... [is microtek2 broken???]"</a>
<li> <b>Maybe in reply to:</b> <a href="0111.html">John Craig: "Microtek E3 crashes..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0116.html">Brian Macy: "Re: Microtek E3 crashes..."</a>
<!-- reply="end" -->
</ul>
