<!-- received="Fri Sep 24 18:01:02 1999 PDT" -->
<!-- sent="Fri, 24 Sep 1999 21:00:36 -0400" -->
<!-- name="Rick Knebel" -->
<!-- email="rknebel@uplink.net" -->
<!-- subject="sane and freebsd 3.2" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane and freebsd 3.2</title>
<h1>sane and freebsd 3.2</h1>
<b>Rick Knebel</b> (<a href="mailto:rknebel@uplink.net"><i>rknebel@uplink.net</i></a>)<br>
<i>Fri, 24 Sep 1999 21:00:36 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#159">[ date ]</a><a href="index.html#159">[ thread ]</a><a href="subject.html#159">[ subject ]</a><a href="author.html#159">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">Manuel Panea: "Re: changing Canon FS 2710 settings won't change image"</a>
<li> <b>Previous message:</b> <a href="0158.html">Oliver Rauch: "Re: Segfault from scanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,                                                                             <br>
i have posted before about my scanner being recognized on bootup as pass4       <br>
but not having a /dev/pass4 in the dev directory.                               <br>
It will not make a pass4 even if I try to make it.                              <br>
I am running Freebsd 3.2<br>
                                                                     <br>
<p>
<p>
           <br>
This is an exert from my bootup.                                                <br>
Waiting 15 seconds for SCSI devices to settle                                   <br>
pass4 at ahc0 bus 0 target 0 lun 0                                              <br>
pass4: &lt;UMAX Astra 1220S V1.2&gt; Fixed Scanner SCSI-2 device                      <br>
pass4: 3.300MB/s transfers                                                      <br>
changing root device to da1s1a                                                  <br>
cd0 at ncr0 bus 0 target 6 lun 0                                                <br>
cd0: &lt;YAMAHA CRW4416S 1.0g&gt; Removable CD-ROM SCSI-2 device                      <br>
cd0: 8.333MB/s transfers (8.333MHz, offset 31)                                  <br>
cd0: Attempt to query device size failed: NOT READY, Medium not present -       <br>
tray c                                                                          <br>
losed                                                                           <br>
da2 at ncr0 bus 0 target 2 lun 0                                                <br>
da2: &lt;IOMEGA ZIP 100 J.03&gt; Removable Direct Access SCSI-2 device                <br>
da2: 3.300MB/s transfers                                                        <br>
da2: Attempt to query device size failed: NOT READY, Medium not present         <br>
da0 at ncr0 bus 0 target 0 lun 0                                                <br>
da0: &lt;IBM DNES-309170W SA30&gt; Fixed Direct Access SCSI-3 device                  <br>
da0: 40.000MB/s transfers (20.000MHz, offset 31, 16bit), Tagged Queueing        <br>
Enabled                                                                         <br>
da0: 8748MB (17916240 512 byte sectors: 255H 63S/T 1115C)                       <br>
da1 at ncr0 bus 0 target 1 lun 0                                                <br>
da1: &lt;IBM DNES-309170W SA30&gt; Fixed Direct Access SCSI-3 device                  <br>
da1: 40.000MB/s transfers (20.000MHz, offset 31, 16bit), Tagged Queueing        <br>
Enabled                                                                         <br>
da1: 8748MB (17916240 512 byte sectors: 255H 63S/T 1115C)                       <br>
                                                                                <br>
                                                                                <br>
The scanner is on my second scsi card.                                          <br>
                                                                                <br>
camcontrol devlist shows                                                        <br>
&lt;IBM DNES-309170W SA30&gt;            at scbus0 target 0 lun 0 (pass0,da0)         <br>
&lt;IBM DNES-309170W SA30&gt;            at scbus0 target 1 lun 0 (pass1,da1)         <br>
&lt;IOMEGA ZIP 100 J.03&gt;              at scbus0 target 2 lun 0 (pass2,da2)         <br>
&lt;YAMAHA CRW4416S 1.0g&gt;             at scbus0 target 6 lun 0 (pass3,cd0)         <br>
&lt;UMAX Astra 1220S V1.2&gt;            at scbus1 target 0 lun 0 (pass4)  <br>
<pre>
-- 
Rick Knebel
<a href="mailto:rknebel@uplink.net">rknebel@uplink.net</a>
<a href="http://rknebel.uplink.net">http://rknebel.uplink.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">Manuel Panea: "Re: changing Canon FS 2710 settings won't change image"</a>
<li> <b>Previous message:</b> <a href="0158.html">Oliver Rauch: "Re: Segfault from scanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
