<!-- received="Sat Sep 25 12:33:09 1999 PDT" -->
<!-- sent="Sat, 25 Sep 1999 21:31:31 +0200" -->
<!-- name="Manuel Panea" -->
<!-- email="mpd@rzg.mpg.de" -->
<!-- subject="Re: changing Canon FS 2710 settings won't change image" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.990923222739.16637D-100000@weissnich.buero.loca.net" -->
<title>sane-devel: Re: changing Canon FS 2710 settings won't change image</title>
<h1>Re: changing Canon FS 2710 settings won't change image</h1>
<b>Manuel Panea</b> (<a href="mailto:mpd@rzg.mpg.de"><i>mpd@rzg.mpg.de</i></a>)<br>
<i>Sat, 25 Sep 1999 21:31:31 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#160">[ date ]</a><a href="index.html#160">[ thread ]</a><a href="subject.html#160">[ subject ]</a><a href="author.html#160">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">regis rampnoux: "RE: sane and freebsd 3.2"</a>
<li> <b>Previous message:</b> <a href="0159.html">Rick Knebel: "sane and freebsd 3.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
<p>
<p>
<p>
On Thu, 23 Sep 1999, Henning Holtschneider wrote:<br>
<p>
<i>&gt; a colleague recently bought a Canon CanoScan FS 2710 slide scanner. It</i><br>
<i>&gt; works perfectly under Windows and now we tried to plug it to our Linux box</i><br>
<i>&gt; (Kernel 2.2.6) running SANE 1.0.1. The scanner is recognized correctly</i><br>
<i>&gt; using the "canon" driver and we can scan images with no problem. But</i><br>
<i>&gt; changing settings like brightness, contrast, auto exposure or focus in the</i><br>
<i>&gt; xscanimage dialog box have no effect on the image at all. It's possible to</i><br>
<i>&gt; change the image resolution and the scanning area but that's about it :-(</i><br>
<i>&gt; Does anyone have any clue on how to solve this problem?</i><br>
<p>
Hi. I am the main developer of the Canon backend. Go to<br>
<a href="http://www.rzg.mpg.de/~mpd/sane">http://www.rzg.mpg.de/~mpd/sane</a> and get the latest version of the Canon<br>
driver. (The latest version is already some months old, but newer than the<br>
one included with SANE.)<br>
<p>
I have a CanoScan 2700F. I don't have any reports from anyone using the<br>
backend with a FS 2710, so it could be that some things don't work with<br>
your scanner. Please try it with the latest backend version and report<br>
again.<br>
<p>
Regards,<br>
<p>
  Manuel Panea &lt;<a href="mailto:mpd@rzg.mpg.de">mpd@rzg.mpg.de</a>&gt;<br>
<p>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: PGPfreeware 5.0i for non-commercial use<br>
Charset: noconv<br>
<p>
iQCVAwUBN+0VConxRMteJ3RRAQFdtgP9Hah8HjvB5NoNlFZEt4U+Dg21VEYfcyxd<br>
11khy+R/TBmnNEPfR6TATj0s2rixbYTfXMuQr7VIvCf4QjMJCz9x4EA+2kp9SU7t<br>
7LFSaWsv8r5yoAcLLTPs/A2qQNbIjbKKQ70hpRzfPZl5gs4Uh4sC8JIdeWnGVDip<br>
v8bDy24Vp9E=<br>
=OTni<br>
-----END PGP SIGNATURE-----<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">regis rampnoux: "RE: sane and freebsd 3.2"</a>
<li> <b>Previous message:</b> <a href="0159.html">Rick Knebel: "sane and freebsd 3.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
