<!-- received="Sat Sep 25 12:36:10 1999 PDT" -->
<!-- sent="Sat, 25 Sep 1999 21:34:48 +0200 (CEST)" -->
<!-- name="regis rampnoux" -->
<!-- email="regisr@regix.com" -->
<!-- subject="RE: sane and freebsd 3.2" -->
<!-- id="" -->
<!-- inreplyto="19990924210036.A469@rknebel.uplink.net" -->
<title>sane-devel: RE: sane and freebsd 3.2</title>
<h1>RE: sane and freebsd 3.2</h1>
<b>regis rampnoux</b> (<a href="mailto:regisr@regix.com"><i>regisr@regix.com</i></a>)<br>
<i>Sat, 25 Sep 1999 21:34:48 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#161">[ date ]</a><a href="index.html#161">[ thread ]</a><a href="subject.html#161">[ subject ]</a><a href="author.html#161">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">Rick Knebel: "Re: sane and freebsd 3.2"</a>
<li> <b>Previous message:</b> <a href="0160.html">Manuel Panea: "Re: changing Canon FS 2710 settings won't change image"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 25-Sep-99 Rick Knebel wrote:<br>
                                                                          <br>
<i>&gt; i have posted before about my scanner being recognized on bootup as pass4    </i><br>
<i>&gt; but not having a /dev/pass4 in the dev directory.                            </i><br>
<i>&gt; It will not make a pass4 even if I try to make it. </i><br>
<p>
You have tried to make it by thie following command as root?:<br>
<p>
cd /dev<br>
sh MAKEDEV pass5<br>
<p>
(pass5 because you want 5 entries pass0 to pass4)<br>
<p>
                        <br>
<p>
<pre>
---
&lt;regisr&gt;       <a href="mailto:regisr@regix.com">regisr@regix.com</a>     <a href="http://www.regix.com/">http://www.regix.com/</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">Rick Knebel: "Re: sane and freebsd 3.2"</a>
<li> <b>Previous message:</b> <a href="0160.html">Manuel Panea: "Re: changing Canon FS 2710 settings won't change image"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
