<!-- received="Mon Sep 27 07:41:10 1999 PDT" -->
<!-- sent="Mon, 27 Sep 1999 09:39:24 -0500 (CDT)" -->
<!-- name="David Nelson" -->
<!-- email="dnelson@jump.net" -->
<!-- subject="Re: Typical "which scanner" question." -->
<!-- id="" -->
<!-- inreplyto="Pine.SOL.4.02.9909271015130.22252-100000@cnm23" -->
<title>sane-devel: Re: Typical "which scanner" question.</title>
<h1>Re: Typical "which scanner" question.</h1>
<b>David Nelson</b> (<a href="mailto:dnelson@jump.net"><i>dnelson@jump.net</i></a>)<br>
<i>Mon, 27 Sep 1999 09:39:24 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#177">[ date ]</a><a href="index.html#177">[ thread ]</a><a href="subject.html#177">[ subject ]</a><a href="author.html#177">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0178.html">Peter Kirchgessner: "Re: problems with sane on solaris"</a>
<li> <b>Previous message:</b> <a href="0176.html">Dmitry Veprintsev: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Jorge,<br>
<p>
If you consider HP, you *must* verify that the scanner in question<br>
supports HP's SCL (Scanner Control Language).  Most of them do.  However,<br>
I know for a fact that the 4200 does NOT.  I do know that the 4100, 5200,<br>
6200 do.  However, most of these models are out of your price range.  You<br>
might find an old 4100 (replaced by the 4200).<br>
<p>
As for USB, I'm the developer for the USB driver for<br>
scanners...particularly HP scanners.  USB support for Linux is still very<br>
alpha but development is going well and would expect to see it appear in<br>
linux-2.4.x series.  You can visit <a href="http://www.linux-usb.org">http://www.linux-usb.org</a> for details.<br>
<p>
Regards,<br>
	/\/elson<br>
<p>
<p>
 On Mon, 27 Sep 1999, Jorge JUAN CHICO wrote:<br>
<p>
<i>&gt; Hi all,</i><br>
<i>&gt; </i><br>
<i>&gt; I've visited <a href="http://www.mostang.com/sane">http://www.mostang.com/sane</a> and read the mailing list archive</i><br>
<i>&gt; of the last month. If you have a scanner, it is easy to find if it is</i><br>
<i>&gt; supported or not. The opposite is not so clear: which scanner to buy? I</i><br>
<i>&gt; read the HP FAQ and couldn't find any recommendations.</i><br>
<i>&gt; </i><br>
<i>&gt; I'm buying a scanner this week for personal use and would like to be able</i><br>
<i>&gt; to use it in my Linux box. This is what I'm looking for:</i><br>
<i>&gt; </i><br>
<i>&gt; - low cost: 150$ or so.</i><br>
<i>&gt; - SANE compatibility, of course.</i><br>
<i>&gt; - good results for home use.</i><br>
<i>&gt; </i><br>
<i>&gt; And some questions:</i><br>
<i>&gt; </i><br>
<i>&gt; - I've seen a new HP Scanjet 3200C at 110$. Is it suported?</i><br>
<i>&gt; - Is SCSI always preferable to PP? Any printer conflicts when using PP?</i><br>
<i>&gt; - Is the SCSI interface which comes with some HP Scanners supported?</i><br>
<i>&gt; - Will USB be supported soon?</i><br>
<i>&gt; - Is USB a good option thinking in the future?</i><br>
<i>&gt; </i><br>
<i>&gt; Any particular working setup you know is wellcome.</i><br>
<i>&gt; </i><br>
<i>&gt; Thanks,</i><br>
<i>&gt; </i><br>
<i>&gt; jorge.</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<pre>
-- 
David /\/elson
<a href="http://www.jump.net/~dnelson">http://www.jump.net/~dnelson</a>
  
  "Management is doing things right; leadership is doing the right things."
                                         -- The 7 Habits Book
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0178.html">Peter Kirchgessner: "Re: problems with sane on solaris"</a>
<li> <b>Previous message:</b> <a href="0176.html">Dmitry Veprintsev: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
