<!-- received="Tue Sep 28 10:18:31 1999 PDT" -->
<!-- sent="Tue, 28 Sep 1999 13:22:57 -0400" -->
<!-- name="Mitchell, Sean" -->
<!-- email="mitchell@chrs.com" -->
<!-- subject="Mustek MFS 6000CX Problems" -->
<!-- id="99Sep28.131321edt.26895@gateway.chrs.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek MFS 6000CX Problems</title>
<h1>Mustek MFS 6000CX Problems</h1>
<b>Mitchell, Sean</b> (<a href="mailto:mitchell@chrs.com"><i>mitchell@chrs.com</i></a>)<br>
<i>Tue, 28 Sep 1999 13:22:57 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#182">[ date ]</a><a href="index.html#182">[ thread ]</a><a href="subject.html#182">[ subject ]</a><a href="author.html#182">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Oliver Rauch: "Re: Choice of SCSI Controller."</a>
<li> <b>Previous message:</b> <a href="0181.html">Camille DIOU: "Re: ppSCSI and Microtek Phantom 330 CX"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi All...<br>
<p>
I've been using SANE with some success on Linux-2.2.x with a Mustek MFS<br>
6000CX and a AHA-1542C. I've got xscanimage working, but it will not scan at<br>
resolutions higher than 300dpi. When I try to set it to 600dpi (the max<br>
allowable in xscanimage) it scans at what appears to be the default<br>
resolution of somewhat less than 300dpi. When using the Mustek drivers under<br>
Windows the scanner seems to have an optical resolution of 1200dpi and an<br>
interpolated resolution of up to 4800dpi.<br>
<p>
I thought perhaps I could get around this by using scanimage, but I cannot<br>
find any documentation on how to specify resolution or the area to scan.<br>
I've looked at the man pages for sane-mustek, scanimage, sane-scsi, etc,<br>
etc, but strangely there's absolutely no mention of this.<br>
<p>
Can anyone tell me how to get this scanner to work at &gt;300dpi and how to<br>
tell scanimage what to scan?<br>
<p>
Thanks,<br>
<p>
Sean<br>
<p>
-------------------------------------------------------<br>
Sean Mitchell                  email: <a href="mailto:mitchell@chrs.com">mitchell@chrs.com</a> <br>
Software Quality Engineer      phone: 519-672-0745 x224<br>
TradeMart Technologies           fax: 519-679-3943<br>
-------------------------------------------------------<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Oliver Rauch: "Re: Choice of SCSI Controller."</a>
<li> <b>Previous message:</b> <a href="0181.html">Camille DIOU: "Re: ppSCSI and Microtek Phantom 330 CX"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
