<!-- received="Wed Sep 29 09:59:59 1999 PDT" -->
<!-- sent="Wed, 29 Sep 1999 19:02:54 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="xsane-0.37" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane-0.37</title>
<h1>xsane-0.37</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 29 Sep 1999 19:02:54 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#187">[ date ]</a><a href="index.html#187">[ thread ]</a><a href="subject.html#187">[ subject ]</a><a href="author.html#187">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">Mitchell, Sean: "RE: Mustek MFS 6000CX Problems"</a>
<li> <b>Previous message:</b> <a href="0186.html">Thomas Ley: "Primax Profi 19200"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
after everyone got xsane-0.36, here is xsane-0.37 ;-)<br>
<p>
    <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a><br>
<p>
Now everyone can start writing translation tables for the banckends!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">Mitchell, Sean: "RE: Mustek MFS 6000CX Problems"</a>
<li> <b>Previous message:</b> <a href="0186.html">Thomas Ley: "Primax Profi 19200"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
