<!-- received="Mon Feb  1 08:42:40 1999 PST" -->
<!-- sent="Mon, 01 Feb 1999 08:41:46 -0800" -->
<!-- name="Steven R. Robertson" -->
<!-- email="srobert@anv.net" -->
<!-- subject="Re: Adaptec 1505A and UMAX 1200s" -->
<!-- id="" -->
<!-- inreplyto="Adaptec 1505A and UMAX 1200s" -->
<title>sane-devel: Re: Adaptec 1505A and UMAX 1200s</title>
<h1>Re: Adaptec 1505A and UMAX 1200s</h1>
<b>Steven R. Robertson</b> (<a href="mailto:srobert@anv.net"><i>srobert@anv.net</i></a>)<br>
<i>Mon, 01 Feb 1999 08:41:46 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#3">[ date ]</a><a href="index.html#3">[ thread ]</a><a href="subject.html#3">[ subject ]</a><a href="author.html#3">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Robert Brink: "Re: Adaptec 1505A and UMAX 1200s"</a>
<li> <b>Previous message:</b> <a href="0002.html">Oliver Rauch: "Re: I'd like a backend feature (UMAX)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<i>&gt; Did you test it under WINDOWS ?</i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt; </i><br>
I could not get the scanner to work under Dos 6.22/Windows 3.11 which is<br>
all I have. The scanner advertisement indicates this should be possible. <br>
 I also couldn't get my Adaptec 1505 card working under Dos 6.22/Windows<br>
3.11. Again, the software included with the card said this should be<br>
possible. I tried every combination of IO ports and IRQ's that I could.<br>
I also tried to get the scanner to work also with the SCSI card that<br>
came with it. Again no success.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Robert Brink: "Re: Adaptec 1505A and UMAX 1200s"</a>
<li> <b>Previous message:</b> <a href="0002.html">Oliver Rauch: "Re: I'd like a backend feature (UMAX)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
