<!-- received="Tue Feb  2 12:10:32 1999 PST" -->
<!-- sent="Tue, 02 Feb 1999 20:57:39 +0100" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="pkirchgessner@t-online.de" -->
<!-- subject="sanei_scsi_req_enter and Diamond Fireport 40" -->
<!-- id="џџџџџџџџри" -->
<!-- inreplyto="" -->
<title>sane-devel: sanei_scsi_req_enter and Diamond Fireport 40</title>
<h1>sanei_scsi_req_enter and Diamond Fireport 40</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:pkirchgessner@t-online.de"><i>pkirchgessner@t-online.de</i></a>)<br>
<i>Tue, 02 Feb 1999 20:57:39 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#11">[ date ]</a><a href="index.html#11">[ thread ]</a><a href="subject.html#11">[ subject ]</a><a href="author.html#11">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Henk Verleye: "installing sane 1.00"</a>
<li> <b>Previous message:</b> <a href="0010.html">Jonathan A. Buzzard: "Re: Reviving logiscan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I am just looking for some strange behaviour of a scanner.<br>
Could it be that some SCSI-cards have problems with<br>
sanei_scsi_req_enter() if the requested data size is 32768 Bytes ?<br>
What is a typical value to use ?<br>
<p>
Does anybody have some experience with a Diamond Fireport 40 SCSI card ?<br>
Good or bad ones ?<br>
<p>
<p>
-- Peter<br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Henk Verleye: "installing sane 1.00"</a>
<li> <b>Previous message:</b> <a href="0010.html">Jonathan A. Buzzard: "Re: Reviving logiscan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
