<!-- received="Tue Feb  9 14:01:26 1999 PST" -->
<!-- sent="Tue, 09 Feb 1999 15:00:14 -0700" -->
<!-- name="Paul Gangwisch" -->
<!-- email="gangwisc@CS.ColoState.EDU" -->
<!-- subject="qcam backend" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: qcam backend</title>
<h1>qcam backend</h1>
<b>Paul Gangwisch</b> (<a href="mailto:gangwisc@CS.ColoState.EDU"><i>gangwisc@CS.ColoState.EDU</i></a>)<br>
<i>Tue, 09 Feb 1999 15:00:14 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#48">[ date ]</a><a href="index.html#48">[ thread ]</a><a href="subject.html#48">[ subject ]</a><a href="author.html#48">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Tripp Lilley: "16-bit frames and interleaving"</a>
<li> <b>Previous message:</b> <a href="0047.html">Zachary L. Stauber: "Re: sane on s/linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi David,<br>
I notice that in the "supported scanner" matrix the qcam entries are all<br>
?'s.  I am trying to use a quickcam for a robotic project for my MS<br>
thesis in computer science and I would like to do a SANE front end in<br>
KHOROS.  I am also willing to update the qcam backend if necessary to<br>
work with the latest models, provided the hardware interface is<br>
documented.  Could you let me know about the current status of SANE's<br>
support of qcam?<br>
Thanks!<br>
<pre>
-- 
Paul Gangwisch
<a href="mailto:gangwisc@cs.colostate.edu">gangwisc@cs.colostate.edu</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Tripp Lilley: "16-bit frames and interleaving"</a>
<li> <b>Previous message:</b> <a href="0047.html">Zachary L. Stauber: "Re: sane on s/linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
