<!-- received="Mon Feb 15 09:29:54 1999 PST" -->
<!-- sent="Mon, 15 Feb 1999 18:28:38 +0100" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: xsane 0.11 available" -->
<!-- id="199902151728.SAA06245@mender.Cc.Uit.No" -->
<!-- inreplyto="xsane 0.11 available" -->
<title>sane-devel: Re: xsane 0.11 available</title>
<h1>Re: xsane 0.11 available</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Mon, 15 Feb 1999 18:28:38 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#80">[ date ]</a><a href="index.html#80">[ thread ]</a><a href="subject.html#80">[ subject ]</a><a href="author.html#80">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Oliver Rauch: "Re: xsane 0.11 available"</a>
<li> <b>Previous message:</b> <a href="0079.html">H C Pumphrey: "AT12 / DTC SCSI"</a>
<li> <b>Maybe in reply to:</b> <a href="0074.html">Oliver Rauch: "xsane 0.11 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">Oliver Rauch: "Re: xsane 0.11 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Oliver Rauch]<br>
<i>&gt; I uploaded xsane version 0.11 to my homepage</i><br>
<p>
Do you test xsane with saned and the net driver?  I've had all sorts<br>
of problems with frontends (or backends), not handling the network<br>
code correct.  Normally kscan for instance will dump core when using<br>
remote scanners.<br>
<p>
Is this version a standalone version, or does it require to be dumped<br>
in the sane source three.  I would really favour a standalone version,<br>
for complicated reasons. :-)<br>
<p>
Keep up the good work.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Oliver Rauch: "Re: xsane 0.11 available"</a>
<li> <b>Previous message:</b> <a href="0079.html">H C Pumphrey: "AT12 / DTC SCSI"</a>
<li> <b>Maybe in reply to:</b> <a href="0074.html">Oliver Rauch: "xsane 0.11 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">Oliver Rauch: "Re: xsane 0.11 available"</a>
<!-- reply="end" -->
</ul>
