<!-- received="Tue Feb 16 12:39:20 1999 PST" -->
<!-- sent="Tue, 16 Feb 1999 20:37:46 +0000 (/usr/local/etc/localtime)" -->
<!-- name="Paul Jakma" -->
<!-- email="paul@clubi.ie" -->
<!-- subject="Re: Please help me with unrecogn. scanner (Microtek 630)" -->
<!-- id="" -->
<!-- inreplyto="36C9608B.CD029EAB@raleigh.ibm.com" -->
<title>sane-devel: Re: Please help me with unrecogn. scanner (Microtek 630)</title>
<h1>Re: Please help me with unrecogn. scanner (Microtek 630)</h1>
<b>Paul Jakma</b> (<a href="mailto:paul@clubi.ie"><i>paul@clubi.ie</i></a>)<br>
<i>Tue, 16 Feb 1999 20:37:46 +0000 (/usr/local/etc/localtime)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#95">[ date ]</a><a href="index.html#95">[ thread ]</a><a href="subject.html#95">[ subject ]</a><a href="author.html#95">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">Jeff Evarts: "no devices available?"</a>
<li> <b>Previous message:</b> <a href="0094.html">Mike: "xscanimage &amp; SGI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 16 Feb 1999, Robert J. Alexander wrote:<br>
<p>
  How can I force the scanner always to be /dev/sg1 ?<br>
  <br>
devfs? it gives devices a slightly saner /dev/ entry - eg scsi<br>
devices are named accroding to<br>
controller/channel/id/lun/partition.<br>
<p>
see:<br>
<p>
<a href="http://www.atnf.csiro.au/~rgooch/linux/kernel-patches.html">http://www.atnf.csiro.au/~rgooch/linux/kernel-patches.html</a><br>
<p>
<pre>
--
Paul Jakma		<a href="mailto:paul@clubi.ie">paul@clubi.ie</a>
PGP5 key: <a href="http://www.clubi.ie/jakma/publickey.txt">http://www.clubi.ie/jakma/publickey.txt</a>
-------------------------------------------
Fortune:
<p>
Torque is cheap.
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">Jeff Evarts: "no devices available?"</a>
<li> <b>Previous message:</b> <a href="0094.html">Mike: "xscanimage &amp; SGI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
