<!-- received="Thu Feb 18 14:20:25 1999 PST" -->
<!-- sent="Thu, 18 Feb 1999 22:16:50 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: find-scanner finds nothing. NOT permissions" -->
<!-- id="" -->
<!-- inreplyto="find-scanner finds nothing. NOT permissions" -->
<title>sane-devel: Re: find-scanner finds nothing. NOT permissions</title>
<h1>Re: find-scanner finds nothing. NOT permissions</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 18 Feb 1999 22:16:50 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#117">[ date ]</a><a href="index.html#117">[ thread ]</a><a href="subject.html#117">[ subject ]</a><a href="author.html#117">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">Oliver Rauch: "Re: Shared library problems (Was: No devices?)"</a>
<li> <b>Previous message:</b> <a href="0116.html">wolfgang Rapp: "Re: xsane 0.11 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0109.html">Jeff Evarts: "find-scanner finds nothing. NOT permissions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Jeff Evarts wrote:<br>
<p>
<i>&gt; I posted this question a week ago, and Milon Firikis was</i><br>
<i>&gt; kind enough to reply, but the problem persists.</i><br>
<i>&gt;</i><br>
<i>&gt; I just installed sane v1.00 on my machine (running BSD/OS)</i><br>
<i>&gt; It compiled, built, and installed without error.</i><br>
<i>&gt;</i><br>
<i>&gt; I have a UMAX Astra 1200S at /dev/sg0.</i><br>
<p>
Are you sure it is at sg0?<br>
<p>
Did you try to run find-scanner as root?<br>
<p>
Do you have any other scsi-devices?<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">Oliver Rauch: "Re: Shared library problems (Was: No devices?)"</a>
<li> <b>Previous message:</b> <a href="0116.html">wolfgang Rapp: "Re: xsane 0.11 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0109.html">Jeff Evarts: "find-scanner finds nothing. NOT permissions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
