<!-- received="Sat Feb 20 14:16:24 1999 PST" -->
<!-- sent="Sat, 20 Feb 1999 17:13:59 -0500" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: xsane-saving formats" -->
<!-- id="" -->
<!-- inreplyto="xsane-saving formats" -->
<title>sane-devel: Re: xsane-saving formats</title>
<h1>Re: xsane-saving formats</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Sat, 20 Feb 1999 17:13:59 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#137">[ date ]</a><a href="index.html#137">[ thread ]</a><a href="subject.html#137">[ subject ]</a><a href="author.html#137">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">Rene Vellekoop: "Re: resolution option unknown"</a>
<li> <b>Previous message:</b> <a href="0136.html">Robert Schwebel: "Re: xsane-saving formats"</a>
<li> <b>Maybe in reply to:</b> <a href="0134.html">Oliver Rauch: "xsane-saving formats"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0140.html">Oliver Rauch: "Re: xsane-saving formats"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Robert Schwebel wrote:<br>
<i>&gt; ...</i><br>
<i>&gt; Does there really exist a problem with the copyright of the GIF</i><br>
<i>&gt; compression algorithm? Nearly all programs support GIF today, and I</i><br>
<i>&gt; think the discussion was over.</i><br>
<p>
It isn't an issue of copyright; it's an issue of software patents, and<br>
currently you *cannot* write a GIF encoder with LZW compression, free<br>
or otherwise, without licensing LZW from Unisys.<br>
<p>
<i>&gt; The best thing for xsane was to implement a netpbm interface; it is</i><br>
<i>&gt; present on nearly all platforms today and you don't have to implement</i><br>
<i>&gt; all this stuff again.</i><br>
<i>&gt; ...</i><br>
<p>
netpbm is far from universal; none of the commercial UNIX's I use<br>
(IRIX, Solaris, HP-UX, Digital UNIX) include it.<br>
<p>
Besides, GIF is hardly a good format for scanned images...<br>
<p>
<pre>
-- 
______________________________________________________________________
Michael Sweet, Easy Software Products                  <a href="mailto:mike@easysw.com">mike@easysw.com</a>
Printing Software for UNIX                       <a href="http://www.easysw.com">http://www.easysw.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">Rene Vellekoop: "Re: resolution option unknown"</a>
<li> <b>Previous message:</b> <a href="0136.html">Robert Schwebel: "Re: xsane-saving formats"</a>
<li> <b>Maybe in reply to:</b> <a href="0134.html">Oliver Rauch: "xsane-saving formats"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0140.html">Oliver Rauch: "Re: xsane-saving formats"</a>
<!-- reply="end" -->
</ul>
