<!-- received="Mon Feb 22 14:48:38 1999 PST" -->
<!-- sent="Mon, 22 Feb 1999 14:51:40 -0800" -->
<!-- name="Richard W. Knight" -->
<!-- email="sforwk@dames.com" -->
<!-- subject="RE: Acer scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: RE: Acer scanners</title>
<h1>RE: Acer scanners</h1>
<b>Richard W. Knight</b> (<a href="mailto:sforwk@dames.com"><i>sforwk@dames.com</i></a>)<br>
<i>Mon, 22 Feb 1999 14:51:40 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#148">[ date ]</a><a href="index.html#148">[ thread ]</a><a href="subject.html#148">[ subject ]</a><a href="author.html#148">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Wolfgang Goeller: "Re: Acer scanners"</a>
<li> <b>Previous message:</b> <a href="0147.html">Wolfgang Goeller: "Re: Acer scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thanks for the info. I'm very new to Linux. What would be involved?<br>
<p>
Thanks,<br>
Rick Knight<br>
<p>
-----Original Message-----<br>
From: <a href="mailto:owner-sane-devel@mostang.com">owner-sane-devel@mostang.com</a><br>
[<a href="mailto:owner-sane-devel@mostang.com">mailto:owner-sane-devel@mostang.com</a>]On Behalf Of Wolfgang Goeller<br>
Sent: Monday, February 22, 1999 2:37 PM<br>
To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a><br>
Subject: Re: Acer scanners<br>
<p>
<p>
"Richard W. Knight" wrote:<br>
<i>&gt;</i><br>
<i>&gt; Has anyone had any success using the Acer flatbed scanners with SANE or</i><br>
any<br>
<i>&gt; other scanner drivers?</i><br>
<p>
The Acer 310S is nearly identical to the Agfa Snapscan 310S, only<br>
minor changes in the code are needed, unfortunately nobody has the<br>
time.... I did discover the similarity. My hope is, that the next<br>
version of the snapscan-modul will support Acer scanners as well.<br>
<p>
regards<br>
wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Wolfgang Goeller: "Re: Acer scanners"</a>
<li> <b>Previous message:</b> <a href="0147.html">Wolfgang Goeller: "Re: Acer scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
