<!-- received="Wed Feb 24 08:15:13 1999 PST" -->
<!-- sent="Wed, 24 Feb 1999 17:15:31 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: HIres DIN A3 scanner advice" -->
<!-- id="" -->
<!-- inreplyto="HIres DIN A3 scanner advice" -->
<title>sane-devel: Re: HIres DIN A3 scanner advice</title>
<h1>Re: HIres DIN A3 scanner advice</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 24 Feb 1999 17:15:31 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#162">[ date ]</a><a href="index.html#162">[ thread ]</a><a href="subject.html#162">[ subject ]</a><a href="author.html#162">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Henning Meier-Geinitz: "Re: resolution option unknown"</a>
<li> <b>Previous message:</b> <a href="0161.html">Christian Ordig: "Re: Primax for Linux - temp. down"</a>
<li> <b>Maybe in reply to:</b> <a href="0159.html">Robert Wilhelm: "HIres DIN A3 scanner advice"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Robert Wilhelm wrote:<br>
<p>
<i>&gt; I am looking into purchasing an DIN A3 Scanner with</i><br>
<i>&gt; at least 700x1400 optical resolution.</i><br>
<i>&gt;</i><br>
<i>&gt; Is Umax Mirage II SE supported? The web page just says "untested".</i><br>
<i>&gt; Are there any scanners with higher (e.g. 800x1600 or 1200x2400)</i><br>
<i>&gt; resolutions?</i><br>
<i>&gt;</i><br>
<p>
I did not get any other informations about the Mirage II SE Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Henning Meier-Geinitz: "Re: resolution option unknown"</a>
<li> <b>Previous message:</b> <a href="0161.html">Christian Ordig: "Re: Primax for Linux - temp. down"</a>
<li> <b>Maybe in reply to:</b> <a href="0159.html">Robert Wilhelm: "HIres DIN A3 scanner advice"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
