<!-- received="Sat Feb 27 00:25:47 1999 PST" -->
<!-- sent="Sat, 27 Feb 1999 02:02:04 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: HP ScanJet 5p scan button" -->
<!-- id="" -->
<!-- inreplyto="HP ScanJet 5p scan button" -->
<title>sane-devel: Re: HP ScanJet 5p scan button</title>
<h1>Re: HP ScanJet 5p scan button</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 27 Feb 1999 02:02:04 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#196">[ date ]</a><a href="index.html#196">[ thread ]</a><a href="subject.html#196">[ subject ]</a><a href="author.html#196">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0197.html">Yuri Dario: "Re: Porting SANE backends"</a>
<li> <b>Previous message:</b> <a href="0195.html">Tim Waugh: "HP ScanJet 5p scan button"</a>
<li> <b>Maybe in reply to:</b> <a href="0195.html">Tim Waugh: "HP ScanJet 5p scan button"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Tim Waugh wrote:<br>
<p>
<i>&gt; I've just acquired an HP ScanJet scanner, and it's working just fine in</i><br>
<i>&gt; SANE (thanks guys!).</i><br>
<i>&gt;</i><br>
<i>&gt; There's a green button on the front marked "Scan", and I was thinking that</i><br>
<i>&gt; it would be quite neat if I could set things up so that pressing the</i><br>
<i>&gt; button would cause the scan to be printed to the printer.  I'd then have a</i><br>
<i>&gt; push-button photocopier.</i><br>
<i>&gt;</i><br>
<i>&gt; Does anyone know how to get this to happen?</i><br>
<i>&gt;</i><br>
<p>
I talked about that with David Mosberger some month ago.The problem is that it<br>
would be necessary to repeately call the backend to test<br>
if the button was pressed. But that is a bad idea and there is no possibility in<br>
the<br>
sane-API that allows the backend to send any unrequested information to the<br>
frontend.<br>
<p>
So there is no good possibility to implement the button with the recent<br>
sane-api!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0197.html">Yuri Dario: "Re: Porting SANE backends"</a>
<li> <b>Previous message:</b> <a href="0195.html">Tim Waugh: "HP ScanJet 5p scan button"</a>
<li> <b>Maybe in reply to:</b> <a href="0195.html">Tim Waugh: "HP ScanJet 5p scan button"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
