<!-- received="Sat Feb 27 08:35:45 1999 PST" -->
<!-- sent="Sat, 27 Feb 1999 11:04:53 -0500" -->
<!-- name="Dennis Putnam" -->
<!-- email="dap1@mindspring.com" -->
<!-- subject="Info Peripherals' ImageReaderISA" -->
<!-- id="3.0.5.32.19990227110453.007b5350@mindspring.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Info Peripherals' ImageReaderISA</title>
<h1>Info Peripherals' ImageReaderISA</h1>
<b>Dennis Putnam</b> (<a href="mailto:dap1@mindspring.com"><i>dap1@mindspring.com</i></a>)<br>
<i>Sat, 27 Feb 1999 11:04:53 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#201">[ date ]</a><a href="index.html#201">[ thread ]</a><a href="subject.html#201">[ subject ]</a><a href="author.html#201">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0202.html">Darren Marshall: "Re: Primax for Linux - temp. down"</a>
<li> <b>Previous message:</b> <a href="0200.html">Petter Reinholdtsen: "Re: CVS Branch fails to compile with egcs"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0223.html">becka@rz.uni-duesseldorf.de: "Re: Info Peripherals' ImageReaderISA"</a>
<li> <b>Reply:</b> <a href="0223.html">becka@rz.uni-duesseldorf.de: "Re: Info Peripherals' ImageReaderISA"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
<p>
As I understand the supported devices list, the subject scanner is not<br>
supported by 'sane'. However, I have a couple of generic questions<br>
that I can't seem to get from the documentation which apparenly<br>
assumes a lot of knowledge on the part of the reader. For the purposes<br>
of these questions, if it matters, I am running RH 5.2 (kernel 2.0.38)<br>
i386.<br>
<p>
1) It appears that 'sane' expects the Linux kernel to recognize the<br>
device, correct? If so then where and how are the device drivers<br>
added? Are the supported device drivers 'modprobe'd in (i.e. 'modprobe<br>
sane-xxxx') or is there some kernel option I missed that brings in<br>
drivers? Am I confusing the backend drivers with device drivers and if<br>
so where does one get the device drivers if not included in the 'sane'<br>
distribution?<br>
<p>
Assuming my first surmise is correct then perhaps the following is<br>
academic:<br>
<p>
2) Where is the documentation for defining /dev/scanner? I assume<br>
there probably is a symbolic link to the real /dev but how is it<br>
created and how is it identified? There seems to be no documentation<br>
about creating or linking the scanner device to /dev/scanner? I saw a<br>
reference in the man pages to tools/find-scanner but that does not<br>
exist (I installed the RH RPM).<br>
<p>
3) Since the ImageReader is TWAIN compliant is there not a generic<br>
TWAIN backend that should work with TWAIN compliant scanners? Or is<br>
TWAIN an insufficiently defined standard to actually allow a generic<br>
software solution?<br>
<p>
4) The obvious: is anyone working on support for this scanner?<br>
<p>
Thanks in advance for your replies.<br>
-----BEGIN PGP SIGNATURE-----<br>
Version: PGP Personal Privacy 6.0.2<br>
<p>
iQEVAwUBNtgXo24UNPcD1WilAQGYAwf+MG41KoDRmL4VHEHpCi4wL3Gr14AS2iaw<br>
rvJNvKE2QuMhK2wt+kQSKc+EGKT3LZ6v4ccGPQHfUPTApJItuFKR5iEktR/6O2Ct<br>
FSdVWyTZ4rLeXU6CpRjVemD9HXZwIYUyVZdrlzbhA6j+wqFII8WI09IVuh2mjGB0<br>
elNM7BzVUUPOuZF9vHLQaviv8mZl6Z+GIe7hwVu+jkaVGXJJoJo0oYUsIACGGuQr<br>
orWOpwO/c2dtvGMAjgX6bfAp4LaUWncR/ktWePng5/oCXrLD/Q2QHeuOF7v74Dey<br>
c6rFK3yHPns3ggo6CoHsN3puATcfjp6E8OCzN9P8OU5BKsuBX48iyQ==<br>
=jGOG<br>
-----END PGP SIGNATURE-----<br>
<p>
<p>
----------------------------------------------------------------------------<br>
----------------------<br>
Dennis Putnam			Public Key can be obtained from:<br>
Loganville, Ga.			&lt;<a href="http://www.geocities.com/Heartland/Estates/8573">http://www.geocities.com/Heartland/Estates/8573</a>&gt;<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0202.html">Darren Marshall: "Re: Primax for Linux - temp. down"</a>
<li> <b>Previous message:</b> <a href="0200.html">Petter Reinholdtsen: "Re: CVS Branch fails to compile with egcs"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0223.html">becka@rz.uni-duesseldorf.de: "Re: Info Peripherals' ImageReaderISA"</a>
<li> <b>Reply:</b> <a href="0223.html">becka@rz.uni-duesseldorf.de: "Re: Info Peripherals' ImageReaderISA"</a>
<!-- reply="end" -->
</ul>
