<!-- received="Sat Feb 27 13:29:28 1999 PST" -->
<!-- sent="Tue, 16 Feb 1999 08:19:54 -0800" -->
<!-- name="David_Wegmuller@logitech.com" -->
<!-- email="David_Wegmuller@logitech.com" -->
<!-- subject="Logitech Scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Logitech Scanners</title>
<h1>Logitech Scanners</h1>
<a href="mailto:David_Wegmuller@logitech.com"><i>David_Wegmuller@logitech.com</i></a><br>
<i>Tue, 16 Feb 1999 08:19:54 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#212">[ date ]</a><a href="index.html#212">[ thread ]</a><a href="subject.html#212">[ subject ]</a><a href="author.html#212">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0213.html">Oliver Rauch: "Re: Sane Logo"</a>
<li> <b>Previous message:</b> <a href="0211.html">Joern Schekahn: "Sane Logo"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Frank Becker: "Re: Logitech Scanners"</a>
<li> <b>Maybe reply:</b> <a href="0086.html">Frank Becker: "Re: Logitech Scanners"</a>
<li> <b>Reply:</b> <a href="0253.html">Frank Becker: "Re: Logitech Scanners"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
As you can see from my address, I work for Logitech. I recently heard that<br>
some people on this list would like to get some more information about the<br>
various scanners made by Logitech. As an engineer involved with the<br>
development of these products and as a Linux user I would be happy to help.<br>
BUT, Logitech has always been very protective with its devices<br>
specifications (believe it or not, there are some fake Logitech products<br>
out there: everything is copied perfectly including boxes, CDs etc...).<br>
In the case of the scanners, things are more complicated: in december 1997,<br>
Logitech sold its scanner line to Storm Technologies. The problem with<br>
Storm is that they recently went out of business... I do not know what is<br>
supposed to happen next, I will try to get some info from our legal<br>
department and I'll keep you posted.<br>
<p>
Sorry for the bad news... But there's hope!<br>
<p>
Greetings,<br>
David E. Wegmuller<br>
<p>
PS: I do not subscribe to this list, please Email your comments directly to<br>
me.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0213.html">Oliver Rauch: "Re: Sane Logo"</a>
<li> <b>Previous message:</b> <a href="0211.html">Joern Schekahn: "Sane Logo"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Frank Becker: "Re: Logitech Scanners"</a>
<li> <b>Maybe reply:</b> <a href="0086.html">Frank Becker: "Re: Logitech Scanners"</a>
<li> <b>Reply:</b> <a href="0253.html">Frank Becker: "Re: Logitech Scanners"</a>
<!-- reply="end" -->
</ul>
