<!-- received="Sun Feb 28 14:00:17 1999 PST" -->
<!-- sent="Mon, 1 Mar 1999 08:58:57 +1100 (EST)" -->
<!-- name="Nathan Hand" -->
<!-- email="nathanh@wookie.chirp.com.au" -->
<!-- subject="multiple cams" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: multiple cams</title>
<h1>multiple cams</h1>
<b>Nathan Hand</b> (<a href="mailto:nathanh@wookie.chirp.com.au"><i>nathanh@wookie.chirp.com.au</i></a>)<br>
<i>Mon, 1 Mar 1999 08:58:57 +1100 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#238">[ date ]</a><a href="index.html#238">[ thread ]</a><a href="subject.html#238">[ subject ]</a><a href="author.html#238">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0239.html">Oliver Rauch: "Re: 16-bit frames and interleaving"</a>
<li> <b>Previous message:</b> <a href="0237.html">Nick Lamb: "Scanimage -T backend tester [patch]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
There have been a couple of recent burglaries in the neighbouring offices<br>
and I'm interested in putting some cheap b&amp;w cameras in my office, mostly<br>
as a deterrent but also for storing photo evidence to help out the police<br>
if (god forbid) my offices are burgled as well.<br>
<p>
It looks reasonably easy to use SANE to connect up one camera and use the<br>
sanecgi software to store continuously running images. I'd then upload my<br>
images to an offsite server (in case the servers stolen). So 1st question<br>
is: what cameras do people recommend for this sort of application?<br>
<p>
Cheap is preferred, but keeping CPU costs low is also important. I have a<br>
small battery of servers, but I'd like to keep all this scanning software<br>
on a single machine, probably a PII-333 running Linux, which will also be<br>
doing a number of other things. Another issue is cable length (need 10m).<br>
<p>
I'd also like to use multiple cameras, possibly 4 of them. Does this rule<br>
out parallel port cameras (ie, would the CPU usage sky rocket)? Would the<br>
scanners require a dedicated server (I have no idea about the bandwidth I<br>
would need here)? Are there camera "chains" designed for this purpose?<br>
<p>
I've looked at the dedicated camera/vcr setups but was unimpressed. It is<br>
impossible to monitor the cameras from the web, and getting offsite video<br>
storage costs an arm and a leg, far more (I think) than even buying a new<br>
dedicated server just for scanning and paying for additional bandwidth.<br>
<p>
What else am I missing? I've never had a scanner before, let alone one of<br>
these new fangled "computer cameras". I'd appreciate any advice.<br>
<p>
<pre>
--
Nathan Hand - Chirp Web Design - <a href="http://www.chirp.com.au/">http://www.chirp.com.au/</a> - $e^{i\pi}+1 = 0$
Phone: +61 2 6230 1871   Fax: +61 2 6230 4455   E-mail: <a href="mailto:nathanh@chirp.com.au">nathanh@chirp.com.au</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0239.html">Oliver Rauch: "Re: 16-bit frames and interleaving"</a>
<li> <b>Previous message:</b> <a href="0237.html">Nick Lamb: "Scanimage -T backend tester [patch]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
