<!-- received="Mon Sep 29 21:04:07 1997 MST" -->
<!-- sent="Mon, 29 Sep 1997 21:12:16 -0700" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: success: Mustek 1200SP, firmware 1.02" -->
<!-- id="199709300403.AAA04983@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="success: Mustek 1200SP, firmware 1.02" -->
<title>sane-devel: Re: success: Mustek 1200SP, firmware 1.02</title>
<h1>Re: success: Mustek 1200SP, firmware 1.02</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Mon, 29 Sep 1997 21:12:16 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#23">[ date ]</a><a href="index.html#23">[ thread ]</a><a href="subject.html#23">[ subject ]</a><a href="author.html#23">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Mathias Weigt: "Re: Mustek 600 II EP"</a>
<li> <b>Previous message:</b> <a href="0022.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek 600 II EP"</a>
<li> <b>Maybe in reply to:</b> <a href="0010.html">Nils Schuller: "success: Mustek 1200SP, firmware 1.02"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
....<br>
   The upside of this is that I have I'll write up a patch tomorrow that<br>
   allows several different subsystems to allocate memory from a single <br>
   buffer that is allocated at boot time. <br>
<p>
   For example a video grabber would need a big contiguous physical<br>
   buffer, just like "sg". Using my big buffer patch, you would be able<br>
   to share that buffer between these two "users". <br>
<p>
					   Roger.<br>
<p>
<p>
I think such a patch already exists....<br>
Look around for "bigphysarea", or something like that, created for <br>
 framegrabbing with the Meteor frame-grabbers.<br>
<p>
(AltaVista suggests here:<br>
    <a href="ftp://ftp.parker.boston.ma.us/pub/mbone/meteor/">ftp://ftp.parker.boston.ma.us/pub/mbone/meteor/</a><br>
)<br>
<p>
<p>
-matt m.<br>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Mathias Weigt: "Re: Mustek 600 II EP"</a>
<li> <b>Previous message:</b> <a href="0022.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek 600 II EP"</a>
<li> <b>Maybe in reply to:</b> <a href="0010.html">Nils Schuller: "success: Mustek 1200SP, firmware 1.02"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
