<!-- received="Wed Oct  1 21:37:29 1997 MST" -->
<!-- sent="Wed, 1 Oct 1997 21:45:40 -0700" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="improved Microtek backend..." -->
<!-- id="199710020437.AAA15071@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: improved Microtek backend...</title>
<h1>improved Microtek backend...</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Wed, 1 Oct 1997 21:45:40 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#0">[ date ]</a><a href="index.html#0">[ thread ]</a><a href="subject.html#0">[ subject ]</a><a href="author.html#0">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Kazuhiro Sasayama: "Re: Epson flatbed backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Release 0.2(?) of the source is up on my web page,<br>
  <a href="http://www.mir.com/mtek/">http://www.mir.com/mtek/</a><br>
If you are playing with this, you can just download "microtek.*" into your<br>
 "sane-XXX/backend/" directory and recompile.<br>
<p>
(David, what's your preferred method of getting backend updates?)<br>
<p>
<p>
This fixes some dumb goofs which made "scanimage" unuseable,<br>
 and also adds support for gamma/look-up tables.<br>
<p>
-matt m.<br>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Kazuhiro Sasayama: "Re: Epson flatbed backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
