<!-- received="Sun Oct  5 13:43:21 1997 MST" -->
<!-- sent="Sun, 05 Oct 1997 22:41:13 +0200" -->
<!-- name="Franck SCHNEIDER" -->
<!-- email="schnefra@afair.fr" -->
<!-- subject="Re: AGFA SnapScan backend" -->
<!-- id="" -->
<!-- inreplyto="AGFA SnapScan backend" -->
<title>sane-devel: Re: AGFA SnapScan backend</title>
<h1>Re: AGFA SnapScan backend</h1>
<b>Franck SCHNEIDER</b> (<a href="mailto:schnefra@afair.fr"><i>schnefra@afair.fr</i></a>)<br>
<i>Sun, 05 Oct 1997 22:41:13 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#10">[ date ]</a><a href="index.html#10">[ thread ]</a><a href="subject.html#10">[ subject ]</a><a href="author.html#10">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Henning Sauer: "RE: sane-0.65 released"</a>
<li> <b>Previous message:</b> <a href="0009.html">Stefan Luettringhaus-Kappel: "Re: sane-0.65 released"</a>
<li> <b>Maybe in reply to:</b> <a href="0003.html">Kevin Charter: "AGFA SnapScan backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Kevin Charter wrote:<br>
<i>&gt; </i><br>
<i>&gt; I've started working on a backend for the AGFA SnapScan scanner. This</i><br>
<p>
So am I.<br>
I'm new to scsi (&amp; scanner) programming. What I've done so far is mainly <br>
experiment in order to clarify my (mis)understanding.<br>
<p>
<i>&gt; If anybody else is already working on this give me a shout. Maybe we</i><br>
<i>&gt; can pool our energies.</i><br>
<p>
Sure !<br>
I read that you live in Canada. Do you speak french ?<br>
<p>
<p>
Franck<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Henning Sauer: "RE: sane-0.65 released"</a>
<li> <b>Previous message:</b> <a href="0009.html">Stefan Luettringhaus-Kappel: "Re: sane-0.65 released"</a>
<li> <b>Maybe in reply to:</b> <a href="0003.html">Kevin Charter: "AGFA SnapScan backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
