<!-- received="Sun Oct  5 23:52:13 1997 MST" -->
<!-- sent="06 Oct 1997 15:42:03 +0900" -->
<!-- name="Kazuhiro Sasayama" -->
<!-- email="kaz@hypercore.co.jp" -->
<!-- subject="Re: Epson flatbed backend" -->
<!-- id="" -->
<!-- inreplyto="01 Oct 1997 14:51:47 +0900" -->
<title>sane-devel: Re: Epson flatbed backend</title>
<h1>Re: Epson flatbed backend</h1>
<b>Kazuhiro Sasayama</b> (<a href="mailto:kaz@hypercore.co.jp"><i>kaz@hypercore.co.jp</i></a>)<br>
<i>06 Oct 1997 15:42:03 +0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#13">[ date ]</a><a href="index.html#13">[ thread ]</a><a href="subject.html#13">[ subject ]</a><a href="author.html#13">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Patxi Larrayoz: "Solaris 2.5 &amp; Mustek MFS-8000SP"</a>
<li> <b>Previous message:</b> <a href="0012.html">David Mosberger-Tang: "RE: sane-0.65 released"</a>
<li> <b>In reply to:</b> <a href="0001.html">Kazuhiro Sasayama: "Re: Epson flatbed backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
My fifth test version of the Epson backend is now available at<br>
&lt;URL:<a href="http://www.spice.or.jp/%7Ehypercor/dist/sane-epson-latest.tar.gz">http://www.spice.or.jp/%7Ehypercor/dist/sane-epson-latest.tar.gz</a>&gt;.<br>
<p>
Note that the backend name is now epsonx if you build the<br>
library in its own directory.  This is to avoid name/version <br>
conflicts with the official SANE distribution, which now<br>
includes a version of the epson backend.<br>
<p>
Many changes are made since the last announcement:<br>
<p>
Version 1.1.5<br>
<p>
* Binary images with/without halftoning are supported.<br>
<p>
Version 1.1.4<br>
<p>
* sane_cancel now works.<br>
<p>
* Option values are now constrained properly.<br>
<p>
* Added stub entries.  You should now be able to use the library<br>
  as libsane.*.<br>
<p>
Version 1.1.3<br>
<p>
* The backend name is changed to epsonx for the developer's<br>
  distribution.  This change is to avoid name conflicts with the<br>
  normal SANE distribution.<br>
<p>
Version 1.1.2<br>
<p>
* Add "Dropout" option.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Patxi Larrayoz: "Solaris 2.5 &amp; Mustek MFS-8000SP"</a>
<li> <b>Previous message:</b> <a href="0012.html">David Mosberger-Tang: "RE: sane-0.65 released"</a>
<li> <b>In reply to:</b> <a href="0001.html">Kazuhiro Sasayama: "Re: Epson flatbed backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
