<!-- received="Tue Oct  7 22:54:49 1997 MST" -->
<!-- sent="Tue, 7 Oct 1997 22:30:05 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Solaris 2.5 &amp; Mustek MFS-8000SP" -->
<!-- id="199710080530.WAA21127@panda.mostang.com" -->
<!-- inreplyto="199710070011.BAA01014@eguzki." -->
<title>sane-devel: Re: Solaris 2.5 &amp; Mustek MFS-8000SP</title>
<h1>Re: Solaris 2.5 &amp; Mustek MFS-8000SP</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 7 Oct 1997 22:30:05 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#25">[ date ]</a><a href="index.html#25">[ thread ]</a><a href="subject.html#25">[ subject ]</a><a href="author.html#25">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">David Mosberger-Tang: "Re: Is SANE_CAP_ADVANCED for groups only?"</a>
<li> <b>Previous message:</b> <a href="0024.html">Iain O'Cain: "segfault with sane-umax"</a>
<li> <b>In reply to:</b> <a href="0014.html">Patxi Larrayoz: "Solaris 2.5 &amp; Mustek MFS-8000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 07 Oct 1997 01:11:04 +0100, Patxi Larrayoz &lt;<a href="mailto:larrayoz@redestb.es">larrayoz@redestb.es</a>&gt; said:</i><br>
<p>
  Patxi&gt; Hello to all SANE people!  I am trying to make SANE work with<br>
  Patxi&gt; a Mustek MFS-8000SP from Solaris.  Regrettably I haven't had<br>
  Patxi&gt; much success. Has anybody made such a trial?  I tried to use<br>
  Patxi&gt; an SCSI generic driver that I found developed for accessing<br>
  Patxi&gt; CD writers. It does not work. I do not have, as far as I see,<br>
  Patxi&gt; user-level SCSI support. But how do SANE people solve this<br>
  Patxi&gt; problem with Solaris? Is there any progress on this?<br>
<p>
If I recall correctly, Michael Sweet is working or planning on Solaris<br>
support.<br>
<p>
  Patxi&gt; Added to this SCSI problem, It seems that Mustek SCSI<br>
  Patxi&gt; protocols have their pecularities. Is it possible to work<br>
  Patxi&gt; with these scanners from Solaris? And with other scanners?<br>
<p>
Once Solaris SCSI support is done, Mustek support should follow<br>
automatically.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">David Mosberger-Tang: "Re: Is SANE_CAP_ADVANCED for groups only?"</a>
<li> <b>Previous message:</b> <a href="0024.html">Iain O'Cain: "segfault with sane-umax"</a>
<li> <b>In reply to:</b> <a href="0014.html">Patxi Larrayoz: "Solaris 2.5 &amp; Mustek MFS-8000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
