<!-- received="Thu Oct  9 16:38:35 1997 MST" -->
<!-- sent="Thu, 09 Oct 1997 19:41:21 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: Java API" -->
<!-- id="199710092341.TAA29986@nigel.redhat.com" -->
<!-- inreplyto="Java API" -->
<title>sane-devel: Re: Java API</title>
<h1>Re: Java API</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Thu, 09 Oct 1997 19:41:21 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#41">[ date ]</a><a href="index.html#41">[ thread ]</a><a href="subject.html#41">[ subject ]</a><a href="author.html#41">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Iain O'Cain: "Re: segfault with sane-umax"</a>
<li> <b>Previous message:</b> <a href="0040.html">Jeff Freedman: "Java API"</a>
<li> <b>Maybe in reply to:</b> <a href="0040.html">Jeff Freedman: "Java API"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0054.html">Jeff Freedman: "Re: Java API"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Jeff Freedman writes:<br>
<i>&gt;But if someone's already done this, I won't bother doing the rest:-).</i><br>
<p>
Someone alreaedy announced half a year ago or so that they were going<br>
to do this, but I don't recall hearing anything more.  I'd say you<br>
are pretty safe making it your project...<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Iain O'Cain: "Re: segfault with sane-umax"</a>
<li> <b>Previous message:</b> <a href="0040.html">Jeff Freedman: "Java API"</a>
<li> <b>Maybe in reply to:</b> <a href="0040.html">Jeff Freedman: "Java API"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0054.html">Jeff Freedman: "Re: Java API"</a>
<!-- reply="end" -->
</ul>
