<!-- received="Thu Oct  9 19:07:51 1997 MST" -->
<!-- sent="Thu, 09 Oct 1997 22:10:43 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: segfault with sane-umax" -->
<!-- id="199710100210.WAA31012@nigel.redhat.com" -->
<!-- inreplyto="segfault with sane-umax" -->
<title>sane-devel: Re: segfault with sane-umax</title>
<h1>Re: segfault with sane-umax</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Thu, 09 Oct 1997 22:10:43 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#44">[ date ]</a><a href="index.html#44">[ thread ]</a><a href="subject.html#44">[ subject ]</a><a href="author.html#44">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">Vance Stith: "RE: libsane.so.0 error."</a>
<li> <b>Previous message:</b> <a href="0043.html">Michael K. Johnson: "Re: segfault with sane-umax"</a>
<li> <b>Maybe in reply to:</b> <a href="0024.html">Iain O'Cain: "segfault with sane-umax"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Iain O'Cain" writes:<br>
<i>&gt;write failed; CMD = 0xa, result = 0x0, errno = 12</i><br>
<i>&gt;Out of memory</i><br>
<i>&gt;Could not do scan</i><br>
<p>
Oh, that's helpful.  That was a failed write to the sg device due to <br>
the device driver saying that it is out of memory.  What has happened<br>
is that you have no large, unfragmented blocks of memory available<br>
in the system for the sg device.  At least, that's my guess.  I've<br>
never had this happen with my S6.  Anyone want to give me an S12?  :-)<br>
<p>
You could redefine SG_BIG_BUFF to be 15872 throughout and see if that<br>
solves the problem.<br>
<p>
There's work going on for the 2.1 kernel that may eventually make<br>
this problem go away.  For now, we've got to work around it.  Start<br>
with the SG_BIG_BUFF hack and see if that fixes it.  If it does,<br>
we either need to wait for the kernel to catch up with us, or<br>
implement a workaround.  Not sure how long that would take, particularly<br>
because I'm incredibly busy at the moment; it's after 10pm and I'm<br>
still working on stuff for my job...<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">Vance Stith: "RE: libsane.so.0 error."</a>
<li> <b>Previous message:</b> <a href="0043.html">Michael K. Johnson: "Re: segfault with sane-umax"</a>
<li> <b>Maybe in reply to:</b> <a href="0024.html">Iain O'Cain: "segfault with sane-umax"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
