<!-- received="Fri Oct 10 13:53:25 1997 MST" -->
<!-- sent="Fri, 10 Oct 1997 22:54:14 +0200 (MET DST)" -->
<!-- name="Guido Muesch" -->
<!-- email="odiug@faho.rwth-aachen.de" -->
<!-- subject="Re: Java API" -->
<!-- id="199710102054.WAA00730@darkstar.faho.rwth-aachen.de" -->
<!-- inreplyto="343E915F.5BFEA999@hevanet.com" -->
<title>sane-devel: Re: Java API</title>
<h1>Re: Java API</h1>
<b>Guido Muesch</b> (<a href="mailto:odiug@faho.rwth-aachen.de"><i>odiug@faho.rwth-aachen.de</i></a>)<br>
<i>Fri, 10 Oct 1997 22:54:14 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#60">[ date ]</a><a href="index.html#60">[ thread ]</a><a href="subject.html#60">[ subject ]</a><a href="author.html#60">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Ricardo Muggli: "Re: xscanimage problem"</a>
<li> <b>Previous message:</b> <a href="0059.html">becka@rz.uni-duesseldorf.de: "Re: xscanimage problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 10 Oct, Jeff Freedman wrote:<br>
<i>&gt; [..]</i><br>
<i>&gt; </i><br>
<i>&gt; If you were using native methods under JDK 1.0.x, you'll find that the</i><br>
<i>&gt; interface is GREATLY improved under 1.1.x, and there's even a nice</i><br>
<i>&gt; tutorial on the javasoft site that shows how to use it.</i><br>
Well, my intention was not to use native methods. For simplicity and<br>
because I wanted to use it in a Webbrowser later. I was mainly doing<br>
this with the intention to view  pictures from  my quickcam. I<br>
understand that using a scanner through the networkinterface must be<br>
very slow. But for a B/W camera it should be sufficient. The quickcam<br>
is not that fast anyway.<br>
<p>
Maybe when we both got a bit farer, we might try to synchronize our<br>
Java API or even merge the code. I will continue to keep my focus on<br>
the network interface and try to produce at least something like<br>
scanimage in java. <br>
<p>
Ciao<br>
  Guido<br>
<pre>
-- 
__/\  ______________________________________              Guido Muesch
    \/                                       <a href="mailto:odiug@faho.rwth-aachen.de">odiug@faho.rwth-aachen.de</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Ricardo Muggli: "Re: xscanimage problem"</a>
<li> <b>Previous message:</b> <a href="0059.html">becka@rz.uni-duesseldorf.de: "Re: xscanimage problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
