<!-- received="Fri Oct 10 14:03:49 1997 MST" -->
<!-- sent="Fri, 10 Oct 1997 16:03:34 -0500 (CDT)" -->
<!-- name="Ricardo Muggli" -->
<!-- email="ricardo@calvin.net" -->
<!-- subject="Re: xscanimage problem" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.95.971010090947.2109A-100000@linux" -->
<title>sane-devel: Re: xscanimage problem</title>
<h1>Re: xscanimage problem</h1>
<b>Ricardo Muggli</b> (<a href="mailto:ricardo@calvin.net"><i>ricardo@calvin.net</i></a>)<br>
<i>Fri, 10 Oct 1997 16:03:34 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#61">[ date ]</a><a href="index.html#61">[ thread ]</a><a href="subject.html#61">[ subject ]</a><a href="author.html#61">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">David Mosberger-Tang: "Re: xscanimage problem"</a>
<li> <b>Previous message:</b> <a href="0060.html">Guido Muesch: "Re: Java API"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
It looks like xscanimage was built without the gimp support. What I had to<br>
do was to edit the libgimp/gimp.h file.<br>
I changed the line in libgimp/gimp.h that said:<br>
#include &lt;glib/glib.h&gt;<br>
to:<br>
#include &lt;glib.h&gt;<br>
<p>
On my system libgimp/gimp.h is located in /usr/local/inlcude/ .<br>
After changing that go back to the sane source tree and do a <br>
make distclean<br>
./configure<br>
make<br>
make install<br>
<p>
I'm not sure what the "real and correct" way is to fix this problem but<br>
this worked for me. If someone is reading this who knows how to fix it<br>
could you please do it? I had basically forgotten about this little<br>
problem becase I didn't have to change it after upgrading to the newer<br>
sanes.<br>
<p>
The message that I pulled this fix out of was originally from Fritz Jetzek<br>
&lt;<a href="mailto:6jetzek@informatik.uni-hamburg.de">6jetzek@informatik.uni-hamburg.de</a>&gt;<br>
<p>
hope this helps,<br>
<p>
- <a href="mailto:ricardo@calvin.net">ricardo@calvin.net</a><br>
<p>
On Fri, 10 Oct 1997, Vance Stith wrote:<br>
<p>
<i>&gt; Has anyone figured out what can be done to resolve the error below. I'm</i><br>
<i>&gt; running Redhat 4.2 and using UMAX Powerlook II</i><br>
<i>&gt; </i><br>
<i>&gt; parsing "/root/.gimp/gtkrc"</i><br>
<i>&gt; parsing "/usr/local/share/gimp/0.99.13/gimprc"</i><br>
<i>&gt; parsing "/root/.gimp/gimprc"</i><br>
<i>&gt; parsing "/root/.gimp/pluginrc"</i><br>
<i>&gt; query plug-in: "/root/.gimp/plug-ins/xscanimage"</i><br>
<i>&gt; /root/.gimp/plug-ins/xscanimage: illegal option -- g</i><br>
<i>&gt; Usage: xscanimage [OPTION]... [DEVICE]</i><br>
<i>&gt; </i><br>
<i>&gt; Start up graphical user interface to access SANE (Scanner Access Now</i><br>
<i>&gt; Easy) devices.</i><br>
<i>&gt; </i><br>
<i>&gt; -h, --help                 display this help message and exit</i><br>
<i>&gt; -V, --version              print version information</i><br>
<i>&gt; wire_read: unexpected EOF</i><br>
<i>&gt; writing "/root/.gimp/pluginrc"</i><br>
<i>&gt; Starting extensions: extension_script_fu </i><br>
<i>&gt; </i><br>
<i>&gt; I've seen this question popup on the list but haven't seen a reply</i><br>
<i>&gt; addressing a work around.</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Thanks,</i><br>
<i>&gt; </i><br>
<i>&gt; Vance</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">David Mosberger-Tang: "Re: xscanimage problem"</a>
<li> <b>Previous message:</b> <a href="0060.html">Guido Muesch: "Re: Java API"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
