<!-- received="Mon Oct 13 15:40:16 1997 MST" -->
<!-- sent="Mon, 13 Oct 1997 22:24:31 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Mustek scanner problems... Not recognized" -->
<!-- id="m0xKryZ-000BWXC@charon.beck-sw.de" -->
<!-- inreplyto="5010400012362188000002L082*@MHS" -->
<title>sane-devel: Re: Mustek scanner problems... Not recognized</title>
<h1>Re: Mustek scanner problems... Not recognized</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 13 Oct 1997 22:24:31 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#72">[ date ]</a><a href="index.html#72">[ thread ]</a><a href="subject.html#72">[ subject ]</a><a href="author.html#72">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Chris Wall: "OpticPro 4800 users"</a>
<li> <b>Previous message:</b> <a href="0071.html">Wolfgang Jung: "Re: Mustek scanner problems... Not recognized"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I have a Mustek Paragon IISP (600 II CD) scanner that I can't</i><br>
<i>&gt; seem to get to work with SANE.  In fact, it doesn't seem that</i><br>
<i>&gt; the SCSI card is recognized at all.  The SCSI adapter is the</i><br>
<i>&gt; one shipped by Mustek... It is a DTC3181E.  I tried the patch</i><br>
<i>&gt; recommended by the man pages, but that doesn't seem to</i><br>
<i>&gt; help either.  Can anyone give me any insights into how to get</i><br>
<i>&gt; this working?</i><br>
The best advice I can give you about this card is to use it as a<br>
wall decoration. It's crap. <br>
<p>
You may want to try using the NCR5380 driver with it. <br>
For this you might need to configure the card by starting up the Windoze <br>
software that came with the scanner.<br>
<p>
Sick. Yes. Maybe you get it working, but most that try don't succceed.<br>
<p>
If anyone has other evidence, please tell us, so we can add that to the<br>
READMEs.<br>
<p>
I had the luck to get an old 53c400 card which was configureable with<br>
dip-switches. No IRQ, so it's still a mess, but it works ...<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Chris Wall: "OpticPro 4800 users"</a>
<li> <b>Previous message:</b> <a href="0071.html">Wolfgang Jung: "Re: Mustek scanner problems... Not recognized"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
