<!-- received="Fri Oct 17 08:20:59 1997 MST" -->
<!-- sent="Fri, 17 Oct 1997 11:15:01 -0400" -->
<!-- name="Marc LaFleur" -->
<!-- email="Marc@genesisfour.com" -->
<!-- subject="Some questions" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Some questions</title>
<h1>Some questions</h1>
<b>Marc LaFleur</b> (<a href="mailto:Marc@genesisfour.com"><i>Marc@genesisfour.com</i></a>)<br>
<i>Fri, 17 Oct 1997 11:15:01 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#96">[ date ]</a><a href="index.html#96">[ thread ]</a><a href="subject.html#96">[ subject ]</a><a href="author.html#96">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">Klaus Weglehner: "Mustek600IICD / lost lines"</a>
<li> <b>Previous message:</b> <a href="0095.html">Michael Sweet: "IRIX SCSI driver update for SANE 0.65/0.66"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
	I'm trying to get some add "scanabilaty" to my application. My<br>
customers are run SCO OpenServer 5.0.4<br>
	servers. All I really need is a program to pull images into a<br>
file. I don't care what file type they are. I needs<br>
	to be command line controlled. <br>
<p>
	My question is, are there any other commercial developers using<br>
SANE? And who could I talk with about<br>
	helping me get SANE up and running on SCO OpenServer?<br>
<p>
	Any help would be great... I'm may also be willing to help you<br>
guys out with some kind of royalty deal for <br>
	your help in getting this running. <br>
<p>
Marc LaFleur<br>
GenesisFour (HQ)<br>
-------------------------------<br>
(508) 443-4440<br>
<a href="http://www.genesisfour.com">http://www.genesisfour.com</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">Klaus Weglehner: "Mustek600IICD / lost lines"</a>
<li> <b>Previous message:</b> <a href="0095.html">Michael Sweet: "IRIX SCSI driver update for SANE 0.65/0.66"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
