<!-- received="Sun Oct 19 22:17:09 1997 MST" -->
<!-- sent="Sun, 19 Oct 1997 22:17:07 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="mustek problems" -->
<!-- id="199710200517.WAA15524@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: mustek problems</title>
<h1>mustek problems</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sun, 19 Oct 1997 22:17:07 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#112">[ date ]</a><a href="index.html#112">[ thread ]</a><a href="subject.html#112">[ subject ]</a><a href="author.html#112">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: mustek problems"</a>
<li> <b>Previous message:</b> <a href="0111.html">David Mosberger-Tang: "Re: Mustek600IICD / lost lines"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: mustek problems"</a>
<li> <b>Reply:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: mustek problems"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Andy&gt; Please try, if scanimage --mode color --resolution 111 -y 131<br>
 Andy&gt; hangs for you.<br>
<p>
For what it's worth, I just tried this and it didn't hang for me.<br>
However, I now have odd problems with lineart and grayscale that I'm<br>
99.9% sure I never had before.  E.g., in lineart, every once in a<br>
while there is a shift by 8 pixels and in grayscale mode there seem to<br>
be shifts by 1 to 2 bytes.  Oddly enough, my scanner now makes strange<br>
noises too.  The noises are not terrible, but the scanner sounds<br>
definitely different from what it did back in Arizona.  Makes me kind<br>
of wonder whether the problem might be of mechanical nature.<br>
<p>
Could somebody with a Paragon 600 II SP try the following command with<br>
a white paper with a bunch of black vertical lines on it?<br>
<p>
 scanimage -d mustek --mode lineart --resolution 95 -x 218 -y 100 &gt; out.pnm<br>
<p>
At present, I usually get a good scan, but every so often the lines<br>
are displaced by 8 pixels.  If you try this a couple of times and you<br>
_always_ get good results, I'd like to hear about it.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: mustek problems"</a>
<li> <b>Previous message:</b> <a href="0111.html">David Mosberger-Tang: "Re: Mustek600IICD / lost lines"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: mustek problems"</a>
<li> <b>Reply:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: mustek problems"</a>
<!-- reply="end" -->
</ul>
