<!-- received="Mon Oct 20 15:22:41 1997 MST" -->
<!-- sent="Mon, 20 Oct 1997 11:43:25 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: mustek problems" -->
<!-- id="199710200943.LAA00405@classic46.rz.uni-duesseldorf.de" -->
<!-- inreplyto="199710200517.WAA15524@panda.mostang.com" -->
<title>sane-devel: Re: mustek problems</title>
<h1>Re: mustek problems</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 20 Oct 1997 11:43:25 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#113">[ date ]</a><a href="index.html#113">[ thread ]</a><a href="subject.html#113">[ subject ]</a><a href="author.html#113">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Matt Thompson: "./configure doesn't think I have X"</a>
<li> <b>Previous message:</b> <a href="0112.html">David Mosberger-Tang: "mustek problems"</a>
<li> <b>In reply to:</b> <a href="0112.html">David Mosberger-Tang: "mustek problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;  Andy&gt; Please try, if scanimage --mode color --resolution 111 -y 131</i><br>
<i>&gt;  Andy&gt; hangs for you.</i><br>
<i>&gt; For what it's worth, I just tried this and it didn't hang for me.</i><br>
<p>
You are using the different SCSI buffer length, right ?<br>
<p>
Please try something that computes to a number of lines about a "natural<br>
boundary", as set by the SCSI buffer length. E.g. if the debuglog says<br>
you are reading 100 lines at a time, set it up in a way that would read<br>
199.5 lines approximately.<br>
<p>
<i>&gt; be shifts by 1 to 2 bytes.  Oddly enough, my scanner now makes strange</i><br>
<i>&gt; noises too.  The noises are not terrible, but the scanner sounds</i><br>
<i>&gt; definitely different from what it did back in Arizona.  Makes me kind</i><br>
<i>&gt; of wonder whether the problem might be of mechanical nature.</i><br>
I am already thinking in this direction, too. However my hangs are repro-<br>
ducible, so we should try to find a fix or workaround.<br>
<p>
<i>&gt; Could somebody with a Paragon 600 II SP try the following command with</i><br>
<i>&gt; a white paper with a bunch of black vertical lines on it?</i><br>
<i>&gt; </i><br>
<i>&gt;  scanimage -d mustek --mode lineart --resolution 95 -x 218 -y 100 &gt; out.pnm</i><br>
<i>&gt; </i><br>
<i>&gt; At present, I usually get a good scan, but every so often the lines</i><br>
<i>&gt; are displaced by 8 pixels.  If you try this a couple of times and you</i><br>
<i>&gt; _always_ get good results, I'd like to hear about it.</i><br>
<p>
Hmm - maybe this is realted ... It seems to be a relatively weird resolution<br>
and you are loosing/winning bytes ...<br>
<p>
Maybe this is what causes my lock, as the crappy NCR53c400 card is not at<br>
all tolerant to any errors ...<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Matt Thompson: "./configure doesn't think I have X"</a>
<li> <b>Previous message:</b> <a href="0112.html">David Mosberger-Tang: "mustek problems"</a>
<li> <b>In reply to:</b> <a href="0112.html">David Mosberger-Tang: "mustek problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
