<!-- received="Sun Oct 26 04:27:13 1997 MST" -->
<!-- sent="Sun, 26 Oct 1997 13:22:49 +0100 (MET)" -->
<!-- name="Peter Daum" -->
<!-- email="gator@cs.tu-berlin.de" -->
<!-- subject="umax &amp; gtk+-971025 (Re: forwarded message from Federico Mena)" -->
<!-- id="" -->
<!-- inreplyto="199710252010.NAA24895@panda.mostang.com" -->
<title>sane-devel: umax &amp; gtk+-971025 (Re: forwarded message from Federico Mena)</title>
<h1>umax &amp; gtk+-971025 (Re: forwarded message from Federico Mena)</h1>
<b>Peter Daum</b> (<a href="mailto:gator@cs.tu-berlin.de"><i>gator@cs.tu-berlin.de</i></a>)<br>
<i>Sun, 26 Oct 1997 13:22:49 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">David Mosberger-Tang: "mustek owners: check your scsi cabling!"</a>
<li> <b>Previous message:</b> <a href="0135.html">Matto Marjanovic: "Re: can't get microtek E3 recognized"</a>
<li> <b>In reply to:</b> <a href="0131.html">David Mosberger-Tang: "forwarded message from Federico Mena"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0145.html">Tom Lee: "Re: forwarded message from Federico Mena"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 25 Oct 1997, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; If you saw crashes with the umax backend, could you try out this</i><br>
<i>&gt; version of gtk and let me know whether it fixes the problem?</i><br>
<p>
<p>
Hi,<br>
<p>
I just tried gtk+971025 - its all the same: Right after starting<br>
xscanimage with the umax backend, it crashes with a segfault in<br>
gtk_real_widget_queue_draw (gtkwidget.c: line 2854)<br>
<p>
               Peter<br>
<pre>
-- 
     | Peter Daum (<a href="mailto:gator@cs.tu-berlin.de">gator@cs.tu-berlin.de</a>)        __o   (+49 30)
     | <a href="http://www.cs.tu-berlin.de/~gator">http://www.cs.tu-berlin.de/~gator</a>       _'\&lt;_  691 46 35
     | pgp messages welcome!                 _(_)/(_) ___________
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">David Mosberger-Tang: "mustek owners: check your scsi cabling!"</a>
<li> <b>Previous message:</b> <a href="0135.html">Matto Marjanovic: "Re: can't get microtek E3 recognized"</a>
<li> <b>In reply to:</b> <a href="0131.html">David Mosberger-Tang: "forwarded message from Federico Mena"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0145.html">Tom Lee: "Re: forwarded message from Federico Mena"</a>
<!-- reply="end" -->
</ul>
