<!-- received="Mon Oct 27 20:21:27 1997 PST" -->
<!-- sent="Mon, 27 Oct 1997 20:21:26 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: mustek owners: check your scsi cabling!" -->
<!-- id="199710280421.UAA06548@panda.mostang.com" -->
<!-- inreplyto="m0xPtef-000BX4C@charon.beck-sw.de" -->
<title>sane-devel: Re: mustek owners: check your scsi cabling!</title>
<h1>Re: mustek owners: check your scsi cabling!</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 27 Oct 1997 20:21:26 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#149">[ date ]</a><a href="index.html#149">[ thread ]</a><a href="subject.html#149">[ subject ]</a><a href="author.html#149">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0150.html">David Mosberger-Tang: "address change"</a>
<li> <b>Previous message:</b> <a href="0148.html">becka@rz.uni-duesseldorf.de: "Re: mustek owners: check your scsi cabling!"</a>
<li> <b>In reply to:</b> <a href="0148.html">becka@rz.uni-duesseldorf.de: "Re: mustek owners: check your scsi cabling!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 27 Oct 1997 19:12:45 +0100 (MET), <a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a> said:</i><br>
<p>
<i>  &gt;&gt; I'm still a bit confused on how to provide meaningful</i><br>
<i>  &gt;&gt; "DEBUG_MUSTEK" output.  Perhaps someone could whip-out a perl</i><br>
<i>  &gt;&gt; script to run the requested tests??</i><br>
<p>
  Andy&gt; bash$ export DEBUG_MUSTEK=255<br>
<p>
Make that SANE_DEBUG_MUSTEK though.  You might also want to set<br>
SANE_DEBUG_SANEI_SCSI to narrow things further down (you'll get lots<br>
of output that way, though).  I also find it often useful to set<br>
SANE_DEBUG_DLL to 255 as that will give you a "function call trace" of<br>
what's going on.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0150.html">David Mosberger-Tang: "address change"</a>
<li> <b>Previous message:</b> <a href="0148.html">becka@rz.uni-duesseldorf.de: "Re: mustek owners: check your scsi cabling!"</a>
<li> <b>In reply to:</b> <a href="0148.html">becka@rz.uni-duesseldorf.de: "Re: mustek owners: check your scsi cabling!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
