<!-- received="Thu Oct 30 21:59:59 1997 PST" -->
<!-- sent="Thu, 30 Oct 1997 21:59:57 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Nikon LS 1000" -->
<!-- id="199710310559.VAA14747@panda.mostang.com" -->
<!-- inreplyto="199710301134.MAA07037@rednitz.darmstadt.gmd.de" -->
<title>sane-devel: Re: Nikon LS 1000</title>
<h1>Re: Nikon LS 1000</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 30 Oct 1997 21:59:57 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#161">[ date ]</a><a href="index.html#161">[ thread ]</a><a href="subject.html#161">[ subject ]</a><a href="author.html#161">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">David Mosberger-Tang: "Re: problems with SANE 0.66"</a>
<li> <b>Previous message:</b> <a href="0160.html">David Mosberger-Tang: "Re: SANE mailinglist subscription"</a>
<li> <b>In reply to:</b> <a href="0153.html">Dr. M. Eisner: "Nikon LS 1000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 30 Oct 1997 12:34:48 +0100 (MET), "Dr. M. Eisner" &lt;<a href="mailto:eisnerm@darmstadt.gmd.de">eisnerm@darmstadt.gmd.de</a>&gt; said:</i><br>
<p>
  M&gt; I am archaeologist and I use the Nikon-LS-1000-film-scanner under<br>
  M&gt; Windows 95 for scanning a big lot of scientific b&amp;w<br>
  M&gt; nedgatives. Under Linux I developed something like a hypertext<br>
  M&gt; tool which integrates these pictures. I would be very happy to be<br>
  M&gt; able to use also the scanner under Linux and to avoid W'95<br>
  M&gt; completely. Is there anything in preparation for the LS 1000 ?  I<br>
  M&gt; found your mail address in the last number of the German review<br>
  M&gt; "iX".  Yours truly M.Eisner<br>
<p>
Didier Carlier &lt;<a href="mailto:carlierd@acm.org">carlierd@acm.org</a>&gt; is working on a Coolscan II backend,<br>
which, IIRC, is the LS-2000.  Reportedly, the programmatic differences<br>
between the LS-1000 and LS-2000 are small, so chances are that the<br>
Coolscan backend would work for the LS-1000 as well.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">David Mosberger-Tang: "Re: problems with SANE 0.66"</a>
<li> <b>Previous message:</b> <a href="0160.html">David Mosberger-Tang: "Re: SANE mailinglist subscription"</a>
<li> <b>In reply to:</b> <a href="0153.html">Dr. M. Eisner: "Nikon LS 1000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
