<!-- received="Wed Dec  1 22:19:13 1999 PST" -->
<!-- sent="Thu, 02 Dec 1999 01:26:59 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="New release of microtek(1) backend...." -->
<!-- id="E11tPhj-0002RF-00@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: New release of microtek(1) backend....</title>
<h1>New release of microtek(1) backend....</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Thu, 02 Dec 1999 01:26:59 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#14">[ date ]</a><a href="index.html#14">[ thread ]</a><a href="subject.html#14">[ subject ]</a><a href="author.html#14">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">David Mosberger-Tang: "Re: SANE Net backend suggestion..."</a>
<li> <b>Previous message:</b> <a href="0013.html">Joe J.: "Visioneer Parallel Scanners?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--Multipart_Thu_Dec__2_01:26:58_1999-1<br>
Content-Type: text/plain; charset=US-ASCII<br>
<p>
<p>
Wow, that sure took a long time!<br>
<p>
Attached is a patch file (against SANE v.1.0.1) which updates the<br>
 microtek backend to version 0.11.0.  A number of small fixes and<br>
 additional scanner id codes have been added.  The most significant<br>
 changes, however, are:<br>
<p>
   o fixing up the gamma table code for &gt;8 bit scanners like<br>
      the ScanMaker III<br>
   o adding all new calibration code which uses some undocumented<br>
      commands.  Klaus Espenlaub did all the dirty work of snooping<br>
      on Microtek's TWAIN driver to figure out what those commands do.<br>
<p>
The gamma table changes could use some testing on the ScanMaker III,<br>
 but should not change the behavior for other scanners.<br>
The calibration code could well break any scanner besides the E6, so<br>
 I would appreciate feedback.  An option has been added to the .conf<br>
 file as a fallback in case of severe tire damage.<br>
<p>
I still have some old, old email to clear through, and cosmetic stuff<br>
 to add, so there will probably be another patch or two, maybe even <br>
 before Y2K!<br>
<p>
-matt m.<br>
<p>
<p>
Changes in 0.11.0:<br>
   Sync'ed up with sane-1.0.1.<br>
   Added extra "Microtek" vendor string for 35t+. <br>
     (thanks to Henk van der Knaap)<br>
   Added extra "MII SC25" vendor string for 600GS. <br>
     (thanks to Romain Dolbeau)<br>
   Correct base resolutions for 35t and 45t. <br>
     (thanks to David T. Gregorich)<br>
   Agfa StudioScan reported to work.<br>
   Fixed handling of large gamma tables (i.e. ScanMaker III).<br>
   Changed name of option "halftone"-&gt;"halftone-pattern"<br>
   Increased status timeout, to try to help IIXE. <br>
     (Thanks to P.J. Rovero)<br>
   Added "magic" calibration code using undocumented commands, <br>
     thanks to the SCSI-snooping expertise of Klaus Espenlaub.<br>
   Added "norealcal" option for microtek.conf to disable new code<br>
    in case it causes problems.<br>
   Added new UI option "Calibrate Only Once" if new code is enabled,<br>
    which can cut a few seconds off scans (enabled by default).<br>
   Updated man pages, default .conf file, and .desc file.<br>
<p>
<p>
--Multipart_Thu_Dec__2_01:26:58_1999-1<br>
Content-Type: application/octet-stream; type=gzip<br>
Content-Disposition: attachment; filename="microtek-0.11-patch.gz"<br>
Content-Transfer-Encoding: base64<br>
<p>
H4sICDkIRjgAA21pY3JvdGVrLTAuMTEtcGF0Y2gA1Fx7V9vIkv8bPkXDnAQby+AHBoNDMoYA47s8<br>
cjCZmZ1Mjo6QZFCQJY8kB7gz7GffquqHWg8bJ+GePevJYFvqqq6u+lV1dXfJ9XqdxVbg1psbjY1m<br>
3fHiZPPasu/cwNkce3YUJu7dhr00nAbs2L1mrS5rdvZa7b1OmzV3d3eXa7WaTj8OnVnk5+FXIt/e<br>
a7T2Ol1O/vPPrN42dlgN//z88zJbZvBKKeH7ch2uXN16MRt5vssqh1Uk3WFnVpLcuvfwHn2xgvCr<br>
Zy/XylrulrXk/aRt4X1iRQkLRwyasmH//Agu2HfWjbsBjVHMzpbRZTX6ywVdZj857sgLXHY2OLy8<br>
uDr6L/Os/6+LS9ZYrhfvDM7hTrPs1of+1eEvrLlcm0VUdosTNUgKL7D9qeOyN3Hi+N71xu3b7MXI<br>
C27wIo5id9vYZjX4y0cRJ1bi2exMKNwc2lYQuBFbH3lRnJi3VuCAdvbZ+cfT0x7bXGc+AAS1FE7c<br>
gMW8dczWN1EQwQyVZx6Eoc+84Na79hLT9t2vbmROIte2fOBGLY77p8Oj3nJtJlXkWr4JBN51niSj<br>
e/NkODR/6w+uWAcFjF07DBwhEo54p9FFgO00GwJi/BW5SfRYq/Xk9/cHJ5VW22CrN25i4sBMFGwa<br>
7zF2PY0fDU4AwrFXzsbGxp/BqrHMlpje/zpvU+0RZOEV+647qaQt4E6t/I5GS/ef8O2J3d8SkCvr<br>
KAJb2WeNKnv9mlW4LG/YVlUS8KF2uojRne2G0dxSY1Uj23DC+8APLce8scZjC0YWhMwNAB9u3GPx<br>
nTeZAFJgZJIpdDONAq774VX/6uPQPLm4eE93n5brOEw7HI9j79+IkWaD1dg4rr8l7qZkjEP2RjCI<br>
7K1Hk8hgTE0+plm3W9Uq+5vrbc5IiIYRzSvn3Qr8hxZiZUylFUpGNzj/tc9x/jt/PTwgkGo4XKLB<br>
v3OkeOVIfaKPwLfrx8SNQQzrAb4RZgQACnoql1W/Ckz4HT6AvOYrBZYAqhnjZ5wcSMG//NCuSGYG<br>
qTAcVaamFyRdMxEAQwNyCh4L0CTPgcsOp74TrCWMurASVymEjcKIC3A9HY3caIU0Qwje6RgtGM1O<br>
t220OgLC2PLT1meQtqFE/9TJfd8W3wUmP+3g9xKdvH3LugA41ng4Pk5bd7F1sXG+2W7aCWCEZTtr<br>
5tg1Suk4nDQRF7dbTvaa3tk3cMnT75bQC/fbR/dj71iT7aH4NQmFlQrMKvZ4QlRfLf/TxYcr8/Dj<br>
8OoCQlr/7Kz/eQMAfWZe9Q9Oj6qpA2+u44udYD8ABUb3GV3c5HhC7jpT4mYeDM7ff964R3nIXa8u<br>
Px4pCCJbBFTF22/0mPem1dmGt1qtyuR9tuRYifXJo4EqZGvqSaxr3/3U+AxNelISxnSmxbgmuqjP<br>
4R1Zj6Y/TZDrcm0pvvcS+7Zc06ShJduKXdbcg0+MLcoVpieYKO96krylk6+3kEGeLEWAbFiBltVa<br>
MwVC2vjtWx1yendPUk98ogRaTAQ9mDxjz7THDnGKR45BMDNYGmMa8E/NdMz1QWxly4nPXQmjQbex<br>
bbSarNZt7hpbTYoG2OvSbHvPVZxm6okvbV1fWtDMMzhPfGWM+lLqTzCMN2/YNuppEf5/k2qfRwi4<br>
rIaR50XirZTJBHkrSy5Qosgy5i4ihFVUywI4Mn09EUhqS+l0StFP01JFfkQe7eMq+weZk+YQH0vf<br>
jaylia/ldmkihcwha6KEQzLfLyQ41VwaRgj9lrg3POyf9i/nBD7e4McjnxNOAc6MwCKz5I/nx4Pf<br>
M6z65/3TixMp4X2aoC4AzUyAIzfQkFZpdTowz8DlJeG94X2lwoWqMo9tsvRbcYKqM1g0Vg2kBnL4<br>
DO2pRTVNlBd1HpCIfaXFhe4+KmVCIWtcyO8SEWiX8gK+REAHkRcM4ji4uXEbGsyL1UKf/5mgrcNQ<br>
hO52y2i1IHRvd4ytBg/dNLT23reg1TwgvMqBwETujqypn6RMwCryNi3/bjHrZAEuONmtNcFlKnoY<br>
aOC7Ij19nYX5pR+AewHwPzx7LO4CP+AERT9dcN7Kz1zPOcTC81beMRZ0jdKZ6v/TzFRP3ZBWI7CW<br>
t6dxEo6Fa1CiQ/sgdT4D5cNpmjfJNov5R956gFzdPXRcrTNwFsKLmiKeB1oVFrONjQ6fA9QQM/Po<br>
uRorn1HFPFr7hhmDj0L3mazgZR60KT3oGwdB8fY5H+HNUieZ5x4SuhpNK6Up84syn8ivJ3NsxZwh<br>
ZowfmC+IwyhyXXKqqpggOnwnsrFjdDpqR3W5xi38g69NRpzY2LrxbJLJChyWhDiKKGG0qRhZiRcG<br>
bP4LQfVyEulbnUPSJ12LElOTqFLcjB3H1eUaQUQiQVv5/w3mazZB2Q+NRuFvS/vM21jsCRfymX2s<br>
rAwu396sqp07aGieHv16dMrewny721JwRe/xekz45mgSwYURRC/HjSLgO7w6tPy9VekDyjG9N90e<br>
uWGB4lXrga1yEAH0FWG+mZKOICr28ebjsisByVDcJ64B/PufxZvcFMtADlxvCoHi/wZvapvuOcgZ<br>
KdjWSYcqe1DXfTdJXDAI4sD3Avfec5JbCdWSnUGtS8AYe2WLTVHFKGUiMEpIaNDu2UPDTvesmuJS<br>
I73UKl5qU6RTTGfsn9HOYtoof7uj8VUXtzOdydjOhyHcg6Ly2uXanrbZ13jYUtlq2uYk16Zb0uYg<br>
18bOtFFZcWaprTUQgF/IVSAqp+pQcZz7DPzHXgafL8nnmSC+wAv40OnY1i4eoDQb9M53n2n2kmuT<br>
y6PhxenHq8HFOS7K8SWPpmAR02zQhIcZUhw61P6X/unx1QXc/9C/ujq6BKrAGruS6Lx/dqSa9ObT<br>
JV7iK8KrwdWpTln7rh5lk2fo5/SccmDzODhubEsG74+Gh99KnzxOUgH++wNmxJeD85NnqMThCKZv<br>
/AyUcq3KreWPkjBwzXHouCaeZ4qMpNmCNesOWL9N79z6kj1fjf56dHh1cSlYl54YrMsDFBL2tzBy<br>
qr3ZfGxrAvf+EUM77H8wB+f9w6vBr0fziMIAxmNB0DV1xRxenINa+oNzQGn//CSLp1kcNiIruHGZ<br>
QPLradekCxlELEhbyGzpNh89umh2X0uyu7dK6NV2fANyAMY3yJ4h13ete+Lkt9na6nCD0vtsg5ov<br>
ZlLz+4xqvoBZzR8y7Fzq7zGtOd+4TW7c2bY189aNXCdr3E6XG5fe5xj35MWMe/J9xj15AeOe/JBx<br>
51F/l3FP5hq39axxTwqu67pB1rw7TW5eep9j3oMXM+/B95n34AXMe/BD5p1H/V3mPZhr3vaz5j3I<br>
mfcaFjxZ63a3cPXfbMN7c1eVqsjRHf3+AVMtbo+Z1pBdq9bZjIwXCzFda4f908GBeXF+eCTSImi8<br>
SqsSMwxsd7U3q7HMgVYP5SKZXQT+I/yZR0V5D1L1v4aeww4P32fWgfAPt6kfqY5qlf3JV7urlSS8<br>
uYHewtFoE5rAKtK2prAGyJEG7kNClNU5YiMYM5nTwcXF6czmRfT33//ah1vv1V7ACqHBCbXqrPSU<br>
axbPcgsSiTpE00jKzJhuBS5IhwdltGLDWrgRVsql8h1fXB4eme0P/eFQw8EojGzXbE+sOF7tzWyu<br>
kHCMzVm7LtoTrNs7OxS0tnYbRrOpYD32wAVgGQdKi0NwA7TgPttuNMRmrjzdEIu9xkOnSUs5XI2f<br>
WXewHt/qJHKdUpvNERYgDaHXIstWjmV7MZbdVncWy+0SljXJc87Am7ud3MhJeR2RrW1vt7RKPWTh<br>
hG7MDcNrA9QNTOFj9nqf/c/ZwDy7gLUFQOEIDSVr1GiTh80rZXuSMWlnm8843Z2usatVCtKhb4Cn<br>
vqtngwEbHrabqwaERRgTrLk/dT9XDdYFJ/jnH4qouM2FNaSDwfADS4tJClxaC3EBkPwxnMumvQib<br>
egh/o3rKrjaLXec5dnE4zvA7mSFe/+S4T/HsGX79yJ7GoK0ZUomdqYWkQvytxeXiiCvl4qgTdbmT<br>
Ixpstz6rWwL0zW22x/GyCziFOazV6DYNAA8h5qX2NPhOOAum42vwq3BEGzJUVKjPAripL5DtYmmd<br>
LMglVcoCWVwrfxiyZot0de/6vgGQsBJQ1D28MQ9mEdcdxzjRXLsKMUfbxGWZtkghixpPIOzZ4Xhi<br>
RV4Mfct2f8VhlAChH94LArHriJuCvH1YoeyE0SS4buE+U/r1Wu4XCg+trFeQcr1qsTqTn6+1DSiQ<br>
Bma+yLITuZE6isIxDZ0rCbdeSaiMONQbXjY5FefM7axvdUo+nz7zfc2J9yAl5Nvd+Ek/Y+L6FQdL<br>
Ajf82Eax8j5XPwGfz0RLCqvIjjm1KrsU9A0EplBeZugvgi5UIeQx9tTHPAaNmAfVBnv2JfjwGnoN<br>
QAYpx7XAi2DIro+YpW+XmyebB8y2HYO6tCDzsSBPlXxk5T3p4ydpWpgeCNh4S4DbYBPU0hhS0UfM<br>
kbjrKz7XvhXcsXgSJmwaOC4HqR1CbwsMKjMul0XWvXIp8jWciAAGjgvuBkK4Y6x6wA4AGm4Qe8kj<br>
CBfSEwXauCzmW+PJYt3PlYdQDeqGbNDheaFvU/dj1/GswMDDZNC01iJyxzB0nU84TXwPa/a9gEhx<br>
XD02th7R99GRnGlcUN27vDwvg8PlnHvieJ45l4hlGQJj+vmE5eM4ZvlxSiI8GhLJjFMbX3ryM+rY<br>
dT5xHH4uHJXlRdTPyvSowDvJHjcj+7+aBvur3UsvXIcQBZJwol0CcPNyYXXFDqfwl1+TqXYaybjI<br>
hgqBELjk0dlfTTyx1YfENtnW554wJk6e+KAH+2tqRYmELRG2C4TrrK2IgTC59SKnSAjjAUrotw7N<br>
11kFGNXhaxVIWz0i/Gvq2XdrwZprxY/QfCqe1iBqUARSt1mthDotwRe6/oK6/qIi8Jfs0T4+cyBG<br>
8OUzHl2CaKK+Ql19s49d8hXMEuq9pkb9hconSfNYsJE/FK/JPqhFlaWH8b52ck8sRRscQxVHQt8E<br>
R1FHJYgVzv7tRuEe8/axYn4zgbdN+ASpi2cowKSlBYUz2labD2imkgonquxV2wH2auhU2DP73FVT<br>
QW7EErVP4tRJnhq98Nwl1uAyOMPKms8qq7gsXWX31uO8cJudu5IpTCLwIQDkOqE9HbsQzB0ZH+Vh<br>
buyC2q+nCeI+xuYaH8qjZKyCvOrqt/7gnDmRh0Voam50QoONwwgW9hHz3Tg2cBVvBRofyLksPFW1<br>
4gTE/w25Up6dPmh17/k+MCIh3r17Vzqul9Hzcq3s/JhlVv5og7IYLWOrTsjrRwzx3u+p+wMMgvSE<br>
lXboSJkc36eAxMhM6EER/NjLVEGse8FkCnZJo72I2wadWSNRloCf0PbSwE+ZgvoejK0HgwVJeIPW<br>
Dnx3xO/JOaDZAC8oqECfA/B/DI6QZit00jwMeYyHObfvJbiBYN9aIkOVkUrV1xQKQmKIGisltWDq<br>
OJdIe0VWuUfZKqD+11zVrzVd02foQ62+yrrKP4GlKWGP5TtiIwumBGdFixdFUZ+EqsbWHWRaIWQe<br>
GK4ozfICSuLpM+QrUk1o6/SRJW1WWtehIzJpao2JtHpaCtGQkqcH/jW2rahEs5SOFCp6lo8+wbKz<br>
oviJi89p6JrXgEDP7NUE/lHZg0Cv4KXKXbBSim5lruRalWxonF+YZ0dnGeUS7oSm1BLy0mAnBqNc<br>
nOuY6xfBj7tnh8OBefDx+NgcDv44wtLQjIJ5/7NxkHjBDedaAX4wc1VpqMhcy5LItbAzufwBL9xv<br>
qLmFux57ywqX6vvKPSnHh/lahgZlAt4Ap1/Jhnpn7/gQ9zTHZoqaScZ5RPVydgVv52xhRmacAj+J<br>
Rw8ZFws/kAlr/OuEP/u3RJRphJGd88EYGok0s+bQfRAR7ck9DVWMDi1ZpaTk5EIlmJcszXPo7MAI<br>
LsheeHBmwterA58UyLS4FU5INIhX+VjULw8q6EiCvuy+EvKbPOKZPt/JGQhwwD9VMx5jq4VxYadF<br>
LWxd38UkgQcpWeHFnYjQzWcZ0Mna5VpPzDkozdrv8HVupOATCnjSfRjdoSdB369srUYqU0zHvQZs<br>
jykeAe2NVsi0ztIQ2VPekjpyNlXm8RJbUYHoPtOKmZaUqNQzZOwI8IqFOOfuLSZSShuJG6ahvHtZ<br>
AK54/PbLRX9lZYWxVx67tWB1avmIO1gLuG7A2a9wpqK8XH+KYUnbVKHDKU3uFk9bvZnpemF9Gavg<br>
C7NAV19BpWqsQ9ZedEbou7SSLuVYVtVW/SZvLOugzDGL7lHuIGWzsNJNaQ2bXsWWgvpkrZcJBmkV<br>
W9rmoLQNVrHx76piTaP5PUfzlPFLSIsDNp1IP8uNuTjemTv+aSXbi9agHdIhnZbzKXfm6wYnxGeh<br>
0dF9vlEL4eMR8nhwcpW9475yq9HawnOIVruZ/ijGi0laB0k/0O8wZJdQBoI7cG1Yl1jRYw/ktMPI<br>
EfuZ+VrVWeuwb2XyYuovWaiMvMC68V3xoxP8/P8X/nMW/FctqsuAca7wdpseOm+1Wy2jJev+cD0w<br>
tsAnevzXQjCrjx7JsLeufYdDlca+tWIevHBPMGHieQogwDaw6oMFG8wemOcihQGrOIgrulNzTKcE<br>
qXm8RO4sVFyP1oIY+RFFBq4jv3rW86y58BUEYYiH1td8UQl9PYZTXChNfWedOV6Mp/s6sXwyBOMe<br>
P/XN/JKHCBI8Kpbdpvm97LRYzTppNOW73aIqL3aD2KXlCllgxvpH+ykPParVFfMVTg1y4DMqKApy<br>
x8ntbEjHhebhxenFJW4KaQG+KDJtGq3A5bRUgJ8+gVrB6SN2bwXo2vjrJvSEq9Yzm/cC+hA3tMM4<br>
9lD3KX5qz8hb4MFteu96kQNpPj8EWyL1c2uYwhnfIK8Pl0eH/VPBjfTDntOPYOY+TMB7XCc90NXv<br>
zu4KazREd9rjq2q2y3orzApj3IWeaIFqRftdEpit8n3ta32dy2rasjnb1Jl+y9JaMiuigz9/RU6O<br>
lzPuBxS46rt3eYK4VBAnt5sySyBKhMqFSp8CK0EXouLeg9u0aeRSqKjT7AOOGsvYUxRrIS3NE0pa<br>
SqhsBrAACUuiRQmy6Hn+uaZWsOI1BK1Op2Hgr6G0uls7RnOn+Bs4WPpueoGX0A+UBCPvps5exZBs<br>
Ou5XE0tBJMZQKnmNnkCABOWntSoSwRJ36vbwsXbvJsANPdwjhPVAevKsnhXnZ89ByEegdUPnzjj+<br>
OpstoDZRo6Vo8+/alZHa0feddB5klgyjQ4rLs/hh4YuHp2kFxtKG837HiRfaiJZKO/IpxVqpOhD0<br>
eX3sao/LzxvLZd7Fnh9GLTuM4g9LiWKh/BhqGpJ9N6BFboQfKnPRgi3qjK+i1v4MADTqVr0ON3Hh<br>
svZnY02jXYHLOraWNHS540nyKHZvZI64vbVrNDuA890O5C6qPpLnI/W315F3cwsDZfIncvJ3bmbe<br>
udaOmfhyWCk6vnUDK/BurEAincIGDK7+1gtG4Qady5tY8fWanQ3AObHg6/1gaJKz0kQh4A5wKAVV<br>
BgNaIz1/KC6gCR74i2Rl8ACZCQwaFNSYKTSn0bdYc6a1zcTqEuDoDef+4FnmFyW+TXviwegFtFeq<br>
GxEGJtkwkFUQe1kFySrMhTSkQon6fYH6zLHkBhGFMGWghyjn1+xdyqDvZ3Eyi8NCCiHJ0V8sO5ni<br>
Cg8ycfnzV5AK0jaAe/tOnXO+oNLSxriu1SnCwBU1cxrKRMkcyxfMyYpgRQ2Jbf/9cbYX9od4Cf/P<br>
qgV/+BELc+6yWkG14FmV9hswPIZtd4zWFsawbtNoN/IxbGTFCVZ6YK5SGGoatbwkNiegFDv0Q4x3<br>
XfEEFsZPmDCyD8NX7l36LTY8VLAS1upsy99rq6ZLsAJVGus0NVoPph+Gd9OJeoJbzDEJ+2Kwr72y<br>
vEMgr9BDdr5VY8uWsu+zmb2LZDclFA/CsPS4o5ypwf63uWPtTRxJfh5+RS+r0ybBJrxJyIe7ZIeZ<br>
cJrbREBmZ3V3ihwwwTuAWRvCIO3896tHt7vbNo9Ed9JFmmhid1e/qsr17hQ6ZiuAGaPyy8QLl+mm<br>
E+XTc+X3nLy+czwKTC/Pg4XhRt7XkLwVu6ZwuP8fa49iKqo6puL1+wcSqiqpoVxIGSjSmWSfrcxm<br>
Eccc0Z4xJBg5RBoLZE7F67Hg6J771y+h5M5OpQS8HkeP77lvdgqKeTqsBWWwwHD8oZ6cOcNd741t<br>
3NEiWYrpRszVCCTrWNO3Go1QSVHFeOmNOGzzL2MXyyuKTw/Dn+Irs9rkm2AxKRvASBvL3WmtKpie<br>
guQHTVoWR12EGwGSDVb/e2+rGmTHzRyBzNCstS5rzqUo1SvVhhlfL0V0YN532x+E6wpg8/EK1QL4<br>
/K3nPsW7cqCc963MsYW0Svi0wPq4eGhSLDCIsWoJggnKfllcuPCNUfGIaD+jyJIv6kdZ++yQpPxt<br>
skOUUD3/6lDYibfYUmhIGdPirUImh+BRwNIu7m1YWl5QClDxFlTlSNcw+d2o06Kf7vgMcXkTXd0k<br>
BWdXd6OICkqxrx1GIVKGt/5OpU6yDRRj3PVeMyfVghDsolnFmO56td00chDIeZEpTfWxs+/tTfqt<br>
zFLqGP4QO4GloybJCe1JCyP9pKND2890Sps4O2WUpqIv/wyXKM/+u7xJVr3TFUJrxqR3XHOtDURV<br>
MxIfvh/sL/YsRrIea0Yww5x5J5o3mtgx94kcn5MJ+VdJ76SaXpSfQza2VB0JnTjAhgZryFMDxQ6Z<br>
DEsHlltKHaku0Zc+bLMmYHKuODueF/J7G8CpdEbUq3XKjKs3QDq+MA5DV3bQYrQ6JfmBNO3TKBoZ<br>
JQrNLKlkHWxZkwK20Rr25HOv+6vGILbOhfE68imoUTcFpL4bPPQp+epc1JFg27oT2jMiEONTnX6+<br>
+2XYvx4MuVNbdqLVs8+rVG81WrqENeFhYm5IrJQbjw0D4+1BM66/GMvQBEc7/d00wJTL6E1AS5xs<br>
VhK5tl18D92CCberZkO2jp2DFfKwYyZypOzOEUFgQYRJ5M0PG8FzwQttDU9E/ThcYwod4zgqmQp5<br>
T0DbHPR/fvzQ7b5/vBmKP4V8cHs9AC3x+peB+FMiQK3qVOuIAa2qacC1F+CN0McYRm88eUVQAHTw<br>
azwbrVA//auwCSwhse9ZTLFrXf+X0E96vmb+aEUQxY5QvL2H/taZHoFPh+b7Rrh5iEQJfwi/mgjE<br>
O8d+rL6RUt8MNfWd2LWq7wdcpznLir0X2wP6xoW9wSWbsx1Hz+bYDRH/Ez7O3xoVfooB7LY90T3m<br>
ipPpuwGoCHTFSRvvKKm2O43K8VecTK0rThqd2mWn1jrqipPp/9EVJ+02ih6Uw8x8FyXRlAjqMFPE<br>
p4O7B3jsCP0D7d2V0C2kJEF6qC2HOOqbTmJQ9+4f3WH/t8eP/buHe0cCmgilDslmw0+PX8zRpMC4<br>
dCkc81tiWLykPN4a6IpVZVXUt4vMgzFV/4nXy2UYra6StxiHvvTQlDjzF8+rKZlzMbKfbOZrtNlR<br>
ZqZrQksTmA5rz39t+VR0tBBKbA4FcyShHFKqtWBpkr1Sy9ewsLdVfy7OgNDi4ZWxg7jNFBeiYREc<br>
ClQiWZLyAaxdTJnBr+y30vCceiplTUfYxmKlhbASUqknude6p2EKts/Ltv6mxsteQ5L3bqsNmunX<br>
tjGR3vaptkbGmKhDhGAvMYQDc3HR1IKB8UB1IGWtMH1DnJBJwXgSL/1RMAk4fVcKTqcS52nEe92W<br>
usUy/Qq0obm3csQM9obEOJk0gS7VJcbBL5czRzwtKSLlKBaI7vB3w+la/B1YmWjgRU+VSgekcOAw<br>
F8dd9IQQbEbYbAMQzQirTkOUZEEX98eHhfScw2oQJ1Dvw0VQtowMRyqO8pxWxcRdAxsOoq44ClQ6<br>
OiMNJXFMHw3xiMmJH5X7H6EK8RAjJMMJzg7sCAEB4vCe4iDQyYWtxnrLpp9qBB9kgIrV+8SZ4PIL<br>
wEMK4hzkp3PJUY47caxPQt89Oq+qgI9e8+JVJ84Q7BO/TL6cfOJNPHEu8dpRyysqCMWC21GRKEUY<br>
plIslKwHMHgROkppofPkrzz4E/jbErOHyaDpJsCACjvraCaK09Vq2Tk/32w25XkQAWLOz+fQ4LzI<br>
c+LiMw31feioky7Kch44AmwzAMLdnSfFLYpm23gWjDmWBjYcp53p0miu8PkretSb+zrkzKrX6+14<br>
Prjf8eK2X5SmBpJKmg6XLshsnPc88WjnDDiqWIO1EfzwrNc7Y2sm/f2Dub7VehyEOAdzSslDgudq<br>
eAjjj3UA36HJejFCpAey3fqrXZ3j4MjueUQxDkfnFhKVAbfefYgCYIMzUWsIvK2uIaW5XKLIh2AS<br>
RbNTrXUaFxk2SAYOtzy8FVZ/0RRFGHyLo+OgsJO5bQC8T/UhahcOwYYNKve+2A3h0eBWYN3HQgrC<br>
v1wWAhVNor1ZJfMlGYc03ZZTBXppYUF/xJTh1AeoN+lxiEXhFWlYKoLjoTwe4USlBl6T3g77shFd<br>
L96eanYHclbBXUYguaJ7mvV7ZIKZCZWFuKbIQNBJVpz0mfDngjv1ovHGi0ja/boA3RdhYC4FB8ZS<br>
7qYcs1Mo5YxHSaR8h5x49mFAydEPzKNQsiYiXjUPUb6/h1/9QUEPo4vqdGuO6NbhXwvaPEW5bXo9<br>
B/59dIi6HSJ+/N3jHqWcHsDNHGJpDnIpQLAdkKnAiyPrxpzEvi+e1s9I5X58KqFfA58QmiAZVvop<br>
TTFFtXJUaplUgaEwZSRhOgl6XJQjic/hE+xb8TZ4nsYjNOBTtE9MfEVytGoNWFpb2Q49BAVy0oxM<br>
yUUVYlgUOsgwljJZtVapfMNfMiu32zp1SPCkE48L8s4yDDKAQ38J/A2IWmYCkKcvYpFefT7YElVu<br>
YG3DH+tUXsQOkIQp305jFewJIgP2kfnDVHOC6A12paAg0fYs/I0fr7K4CcrxejQVXkytPtfrFZrp<br>
51arompErGOgYQ8h0CsqQzYO8DI25KE4JxcOw0h+Bnz/QCVfwhhETYqExyoeM5BMF6AB0AQVL6gV<br>
XIncsB71P6CXxRbWsHCtFXOcDM5HLckaVRJHj2PVkZC8zHpl7DPwEE7ZDjGKBwu7wnZ7T8AkHc7H<br>
XcMpUqo23wsSC/oe+DQw16QniaCEiqMs50Mi1TOurt/lqbhDSgrHyNG1SslB9XrubWE34pCC+DyZ<br>
PE7SPWDfKoQtYEx4U9cY0KInDPE0jJDVCyVZlgtuj+77RN5DzIUTxaWYOgtRLeSDZ/caOn25Io6S<br>
F20Rtpwe0IKH88MDCyesKTpYL0RnzqtjsaVW1kkBEk0Dsd9mjOFC1h3idBncFGQDmmnyKZMAEKv5<br>
KcH6lctNCexlaSehjgCMMJJUYspPo9QODySJF48KA0ykK5l07ZRkLjZIdVyQKZxM0LIi2Tt8hT/0<br>
PnUHUgIlHlWqopWbFV6gn3FY4PUirwF8ByUOiwH4jL5zX3GU9yF7jeOv8BBRfL1K+AJ2zRAZLdDf<br>
SlrziBYY7UvIQyK7ygH+h1viKE8m96JSPLBTzJsUt2LqTMoUwD6OvsZivWQ+EcukYNy0A3hccKV/<br>
LCm+kCYWnh0SLRxDAKTsz5a4vJMe/YnM0im4kU97EazKpzDGAZDihGughJj3B00WlCBzmj9SoWSO<br>
JMyB+JwHKM6wBWlL30puwmWpkLupTUJDN6rwAdV4xPPvC9RRXOgU/01qLQIo+2YvEJB0CcWlk1Rd<br>
+wus0I8irDQRPtMqYeYY8bh/RscDE78BO8YPuRSScGOXQYgslsuFYIwdZs0/2Qgga4DfPHx8VHcZ<br>
C3/xEkThgqT3Fy8KkIgLAlXLKHhSPFx+f/xvHoqXncJ/AMKUK8W5egAA<br>
<p>
--Multipart_Thu_Dec__2_01:26:58_1999-1--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">David Mosberger-Tang: "Re: SANE Net backend suggestion..."</a>
<li> <b>Previous message:</b> <a href="0013.html">Joe J.: "Visioneer Parallel Scanners?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
