<!-- received="Thu Dec  2 06:28:37 1999 PST" -->
<!-- sent="Thu, 2 Dec 1999 14:36:41 +0000" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: SANE Net backend suggestion..." -->
<!-- id="" -->
<!-- inreplyto="38448535.1EDB6658@sunshinecomputing.com" -->
<title>sane-devel: Re: SANE Net backend suggestion...</title>
<h1>Re: SANE Net backend suggestion...</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Thu, 2 Dec 1999 14:36:41 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#18">[ date ]</a><a href="index.html#18">[ thread ]</a><a href="subject.html#18">[ subject ]</a><a href="author.html#18">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">Brian Macy: "Re: SANE Net backend suggestion..."</a>
<li> <b>Previous message:</b> <a href="0017.html">Klaus Espenlaub: "Re: detrammage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, Nov 30, 1999 at 06:17:25PM -0800, Brian Macy wrote:<br>
<i>&gt; A bit of a thought that I've been interested in for quite some time...</i><br>
<i>&gt; what do you all think of having the net backend writing the data during</i><br>
<i>&gt; a scan to a file. At the same time a thread (or whatever is appropriate)</i><br>
<i>&gt; writes the file out the data socket. That way if you have a slow network</i><br>
<i>&gt; connection (which it can easily be slower than a SCSI scanner) your</i><br>
<i>&gt; scanner doesn't play the two steps forward, one step back game.</i><br>
<p>
Is this really a problem for a lot of readers? It must not be a feature<br>
of the net midend in any case, if you'd like to write a midend which<br>
buffers data to disk I'm sure such readers would be grateful. There<br>
may even be non-networked applications which would benefit from such<br>
an optional buffer.<br>
<p>
For me at least (nice HP scanners on decent PCI SCSI card, 100Mbit net)<br>
it was very much faster to send data over the network than down the<br>
already clogged up SCSI bus to the disk. I am too busy to even try<br>
the brand new A3 scanner which arrived last week (not an HP this time)<br>
so I must get back to work now.<br>
<p>
Nick.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">Brian Macy: "Re: SANE Net backend suggestion..."</a>
<li> <b>Previous message:</b> <a href="0017.html">Klaus Espenlaub: "Re: detrammage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
