<!-- received="Thu Dec  2 21:52:30 1999 PST" -->
<!-- sent="Thu, 02 Dec 1999 08:49:06 +0000" -->
<!-- name="Dave Hill" -->
<!-- email="dave@minnie.demon.co.uk" -->
<!-- subject="Re: detrammage" -->
<!-- id="" -->
<!-- inreplyto="detrammage" -->
<title>sane-devel: Re: detrammage</title>
<h1>Re: detrammage</h1>
<b>Dave Hill</b> (<a href="mailto:dave@minnie.demon.co.uk"><i>dave@minnie.demon.co.uk</i></a>)<br>
<i>Thu, 02 Dec 1999 08:49:06 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#27">[ date ]</a><a href="index.html#27">[ thread ]</a><a href="subject.html#27">[ subject ]</a><a href="author.html#27">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">Brian Macy: "Re: Cross platform GUI toolkit"</a>
<li> <b>Previous message:</b> <a href="0026.html">Petter Reinholdtsen: "Cross platform GUI toolkit"</a>
<li> <b>Maybe in reply to:</b> <a href="0006.html">Philippe Amelant: "detrammage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0034.html">Douglas Gilbert: "Re: detrammage"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Philippe Amelant wrote:<br>
<i>&gt; </i><br>
<i>&gt; hi, i 'am french and i don't speak english very well so</i><br>
<i>&gt; please be indulgent.</i><br>
<i>&gt; </i><br>
<i>&gt; i vould like to know howto make a "detrammage"</i><br>
<i>&gt; i don't know the english word to say that...</i><br>
<i>&gt; this operation is required when you scan from  mag</i><br>
<i>&gt; else you obtain an ugly image...</i><br>
<i>&gt; i hope you understand what i mean ...</i><br>
<i>&gt; </i><br>
<i>&gt; thank</i><br>
<i>&gt; </i><br>
<p>
Hello Philippe,<br>
<p>
I think that you mean "descreen". This is to get rid of the<br>
nasty pattern that you get when scanning a magazine or<br>
newspaper image. It is caused by the dots that make up the<br>
image interfering with the scan.<br>
<p>
If you are using GIMP as your image processor, there is a<br>
descreen filter in "Filters -&gt; Enhance -&gt; Despeckle" that<br>
will go the job.<br>
<p>
If you don't have GIMP, you can try softening the image if<br>
your backend drivers supports it, or for a last resort, try<br>
this:-<br>
<p>
Carefully (!!) place a suitable sheet of glass on the scanner<br>
bed and put the image on top of that. Scan as usual. The glass<br>
will slightly defocus the image and remove the pattern. Be very<br>
careful not to scratch the scanner's own glass!!<br>
<p>
Regards<br>
Dave Hill<br>
<p>
<p>
<pre>
-- 
Dave Hill, Kempston, Bedford UK		<a href="mailto:dave@minnie.demon.co.uk">dave@minnie.demon.co.uk</a>
Sicth munce ago, I cutn't evun spel enjuneer, and now I are one!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">Brian Macy: "Re: Cross platform GUI toolkit"</a>
<li> <b>Previous message:</b> <a href="0026.html">Petter Reinholdtsen: "Cross platform GUI toolkit"</a>
<li> <b>Maybe in reply to:</b> <a href="0006.html">Philippe Amelant: "detrammage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0034.html">Douglas Gilbert: "Re: detrammage"</a>
<!-- reply="end" -->
</ul>
