<!-- received="Sat Dec  4 15:12:10 1999 PST" -->
<!-- sent="Sat, 04 Dec 1999 18:11:23 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: hexadecimal C syntax for serial ports" -->
<!-- id="E11uOKp-00009b-00@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="hexadecimal C syntax for serial ports" -->
<title>sane-devel: Re: hexadecimal C syntax for serial ports</title>
<h1>Re: hexadecimal C syntax for serial ports</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Sat, 04 Dec 1999 18:11:23 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Tim Carroll: "Re: hexadecimal C syntax for serial ports"</a>
<li> <b>Previous message:</b> <a href="0039.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0036.html">Tim Carroll: "hexadecimal C syntax for serial ports"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0041.html">Tim Carroll: "Re: hexadecimal C syntax for serial ports"</a>
<li> <b>Reply:</b> <a href="0041.html">Tim Carroll: "Re: hexadecimal C syntax for serial ports"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;  &gt;&gt; Newbie-me would say that the printer port would be /dev/ttyS1, as</i><br>
<i> &gt;  &gt;&gt; this port has been used successfully to activate a printer in the</i><br>
<i> &gt;  &gt;&gt; past. Is there a method to determine this address in hexadecimal</i><br>
<i> &gt;  &gt;&gt; form?</i><br>
<p>
<i> &gt;Hmmm... I think that the original qcams were made for Mac and for its</i><br>
<i> &gt;serial ports and I am pretty sure that there isn't any sort of</i><br>
<i> &gt;parallel port on the thing. Looking at the owner's manual...</i><br>
<i> &gt;nope.. just serial.</i><br>
<i> &gt;</i><br>
<i> &gt;Also, no such beast, BIOS on an Apple box. dmesg reveals nothing,</i><br>
<i> &gt;however...</i><br>
<p>
Looks like you have the Mac version of the QuickCam, which is indeed a<br>
 serial device, of sorts.  The qcam driver is for the PC version which<br>
 is a parallel port device, and the driver directly flips bits on the<br>
 parallel port, which is why it needs the port address.  So, I'd say<br>
 you're kind of out of luck from that perspective.<br>
<p>
 feature of the Mac serial port, whereby the Mac could clock data<br>
 in/out of the port at some high rate, like 1Mbps or so, which is<br>
 why the Mac version couldn't be used on a PC (and hence no x86-linux<br>
 driver for the Mac version, that I ever heard of).<br>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Tim Carroll: "Re: hexadecimal C syntax for serial ports"</a>
<li> <b>Previous message:</b> <a href="0039.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0036.html">Tim Carroll: "hexadecimal C syntax for serial ports"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0041.html">Tim Carroll: "Re: hexadecimal C syntax for serial ports"</a>
<li> <b>Reply:</b> <a href="0041.html">Tim Carroll: "Re: hexadecimal C syntax for serial ports"</a>
<!-- reply="end" -->
</ul>
