<!-- received="Sat Dec  4 19:53:45 1999 PST" -->
<!-- sent="Sat, 4 Dec 1999 22:52:43 -0500 (EST)" -->
<!-- name="Larry Snyder" -->
<!-- email="larrys@lexis-nexis.com" -->
<!-- subject="Re: aha152x, microtek e6, kernel 2.2.13" -->
<!-- id="199912050352.WAA06920@ra.lexis-nexis.com" -->
<!-- inreplyto="Pine.LNX.4.10.9912042154070.22216-100000@plato.nebulanet.net" -->
<title>sane-devel: Re: aha152x, microtek e6, kernel 2.2.13</title>
<h1>Re: aha152x, microtek e6, kernel 2.2.13</h1>
<b>Larry Snyder</b> (<a href="mailto:larrys@lexis-nexis.com"><i>larrys@lexis-nexis.com</i></a>)<br>
<i>Sat, 4 Dec 1999 22:52:43 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#45">[ date ]</a><a href="index.html#45">[ thread ]</a><a href="subject.html#45">[ subject ]</a><a href="author.html#45">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">thomas huber: "snapscan300-warum nicht?"</a>
<li> <b>Previous message:</b> <a href="0044.html">mabus: "aha152x, microtek e6, kernel 2.2.13"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0047.html">mabus: "Re: aha152x, microtek e6, kernel 2.2.13"</a>
<li> <b>Reply:</b> <a href="0047.html">mabus: "Re: aha152x, microtek e6, kernel 2.2.13"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Did you enable SCSI_GENERIC in the kernel, and do you have<br>
/dev/sg[0-7|a-h] out there in devices-land?<br>
-ls-<br>
<p>
<p>
mabus &lt;<a href="mailto:mabus@nebulanet.net">mabus@nebulanet.net</a>&gt; wrote:<br>
<i>&gt; </i><br>
<i>&gt; I've gotten the kernel(2.2.13) to see the scsi card(i think):</i><br>
<i>&gt; </i><br>
<i>&gt; kernel: aha152x: processing commandline: ok </i><br>
<i>&gt; kernel: aha152x: BIOS test: passed, detected 1 controller(s) </i><br>
<i>&gt; kernel: aha152x0: vital data: PORTBASE=0x140, IRQ=10, SCSI ID=7,</i><br>
<i>&gt;                   reconnect=enabled, parity=enabled, synchronous=disabled, </i><br>
<i>&gt;                   delay=100, extended translation=disabled </i><br>
<i>&gt; kernel: aha152x: trying software interrupt, ok. </i><br>
<i>&gt; kernel: scsi0 : Adaptec 152x SCSI driver; $Revision: 1.7 $ </i><br>
<i>&gt; kernel: scsi : 1 host. </i><br>
<i>&gt; kernel:   Vendor:           Model: Scanner 600 Rev: 1.90 </i><br>
<i>&gt; kernel:   Type:   Scanner ANSI SCSI revision: 03 </i><br>
<i>&gt; kernel: scsi : detected total. </i><br>
<i>&gt; </i><br>
<i>&gt; I compiled it into the kernel and used lilo.conf options to set the i/o</i><br>
<i>&gt; and irq</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; In /proc/scsi/aha152x/0 is has:</i><br>
<i>&gt; </i><br>
<i>&gt; Adaptec 152x SCSI driver; $Revision: 1.7 $</i><br>
<i>&gt; ioports 0x0140 to 0x015f</i><br>
<i>&gt; interrupt 0x0a</i><br>
<i>&gt; disconnection/reconnection enabled</i><br>
<i>&gt; parity checking enabled</i><br>
<i>&gt; synchronous transfers disabled</i><br>
<i>&gt; 0 commands currently queued</i><br>
<i>&gt; enabled debugging options: (abort) (reset) </i><br>
<i>&gt; </i><br>
<i>&gt; queue status:</i><br>
<i>&gt; no not yet issued commands</i><br>
<i>&gt; no current command</i><br>
<i>&gt; no disconnected commands</i><br>
<i>&gt; </i><br>
<i>&gt; waiting: SCSISEQ (); SCSISIG (DATA OUT); INTSTAT (lo); SSTAT (BUSFREE</i><br>
<i>&gt; PHASECHG ); SSTAT (); SXFRCTL0 (CH1 ); SIGNAL (); SELID (02), SSTAT2</i><br>
<i>&gt; (SEMPTY ); SFCNT (0); SCSICNT (0), OFFCNT(0), SSTAT4 (); DMACNTRL0 (16BIT</i><br>
<i>&gt; PIO READ INTEN ); DMASTAT (DFIFOEMP )</i><br>
<i>&gt; </i><br>
<i>&gt; enabled interrupts ()</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; I had no problems building sane-1.0.1</i><br>
<i>&gt; </i><br>
<i>&gt; my dll.conf only has microtek in it</i><br>
<i>&gt; microtek.conf has /dev/sga and i've tried it with and without noprecal</i><br>
<i>&gt; </i><br>
<i>&gt; When I run find-scanner it finds nothing. Scanimage says no SANE devices</i><br>
<i>&gt; found.</i><br>
<i>&gt; </i><br>
<i>&gt; I have no clue what to do now. Any ideas?</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Brian McQuay</i><br>
<i>&gt; <a href="mailto:mabus@nebulanet.net">mabus@nebulanet.net</a></i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">thomas huber: "snapscan300-warum nicht?"</a>
<li> <b>Previous message:</b> <a href="0044.html">mabus: "aha152x, microtek e6, kernel 2.2.13"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0047.html">mabus: "Re: aha152x, microtek e6, kernel 2.2.13"</a>
<li> <b>Reply:</b> <a href="0047.html">mabus: "Re: aha152x, microtek e6, kernel 2.2.13"</a>
<!-- reply="end" -->
</ul>
