<!-- received="Mon Dec  6 20:55:14 1999 PST" -->
<!-- sent="Mon, 06 Dec 1999 23:56:08 -0500" -->
<!-- name="Mark Brown" -->
<!-- email="mark@matrixsys.on.ca" -->
<!-- subject="Re: UMAX Astra 1200S seems to hang on all commands" -->
<!-- id="" -->
<!-- inreplyto="UMAX Astra 1200S seems to hang on all commands" -->
<title>sane-devel: Re: UMAX Astra 1200S seems to hang on all commands</title>
<h1>Re: UMAX Astra 1200S seems to hang on all commands</h1>
<b>Mark Brown</b> (<a href="mailto:mark@matrixsys.on.ca"><i>mark@matrixsys.on.ca</i></a>)<br>
<i>Mon, 06 Dec 1999 23:56:08 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#69">[ date ]</a><a href="index.html#69">[ thread ]</a><a href="subject.html#69">[ subject ]</a><a href="author.html#69">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Manuel Panea: "Setting gamma with xsane"</a>
<li> <b>Previous message:</b> <a href="0068.html">Rod Pike: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Maybe in reply to:</b> <a href="0059.html">Nathan Kennedy: "UMAX Astra 1200S seems to hang on all commands"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hmm - I was plagued with problems with my 2920 on  a fast (200+ MHz) machine.<br>
I was always having the scsi bus freeze and lock (usually under heavy i/o load),<br>
not only with the penguin-os, but even using<br>
win-dos95 :-)  I tried different disks, cables and termination, but I finally gave<br>
up on the card.<br>
Not too sure if I just had a bad card..... or if this is similar to what you are<br>
experiencing.<br>
The 2940 is a much-much better card!<br>
<p>
Lots of luck.<br>
<p>
Mark<br>
<p>
<p>
Rod Pike wrote:<br>
<p>
<i>&gt; Sorry if I'm repeating questions, I don't recall seeing the beginning of the</i><br>
<i>&gt; thread.</i><br>
<i>&gt;</i><br>
<i>&gt; Is the 2920 terminated?</i><br>
<i>&gt; Make sure you haven't left the ZIP terminator switched on in addition to the UMAX</i><br>
<i>&gt; supplied terminator.</i><br>
<i>&gt;</i><br>
<i>&gt; It sounds like you are using the cable that came with the ZIP.  What's the other</i><br>
<i>&gt; cable you are using, I'm not familiar with the 2920 does it use a 25  pin D Sub,</i><br>
<i>&gt; a 50 pin Centronics type or a 50 pin High density?</i><br>
<i>&gt;</i><br>
<i>&gt; Try simplifying your SCSI cabling.  Does it work without the ZIP drive attached</i><br>
<i>&gt; using the shortest cable and the supplied terminator?.  If this passes or fails,</i><br>
<i>&gt; try the longer cable.  If both work or not try adding the ZIP to the end of the</i><br>
<i>&gt; buss and using the internal termination in the ZIP to terminate the buss.  I</i><br>
<i>&gt; think the UMAX supplied terminator is passive, the one in the ZIP is active and</i><br>
<i>&gt; should do a better job.</i><br>
<i>&gt;</i><br>
<i>&gt; I have a ZIP and UMAX 1220S as well.  I would put the ZIP at the end of the buss</i><br>
<i>&gt; instead of the scanner.  I've tried other configurations and "seem" to remember</i><br>
<i>&gt; having problems.  I also "think" I had problems with the UMAX supplied cable but</i><br>
<i>&gt; it's been a while and it may have been due to another device causing problems.  I</i><br>
<i>&gt; also tend to have alot of cabling/devices in my setup which can be problematic.</i><br>
<i>&gt; You tend to get alot of discontinuities on the bus and different cabling with</i><br>
<i>&gt; different impedances which can degrade the buss.  Your setup doesn't sound like</i><br>
<i>&gt; it should be a problem as long as the terminators are working properly which the</i><br>
<i>&gt; above tests may help determine.</i><br>
<i>&gt;</i><br>
<i>&gt; I'm currently running 4 internal devices on a 5' ribbon and 3 external devices</i><br>
<i>&gt; with about 8' of cable using an Adaptec 2940 and it's working (allways knock on</i><br>
<i>&gt; wood).  The scanner is the first external device on the buss, then the ZIP and</i><br>
<i>&gt; finally an actively terminated hard drive is on the end of the buss.</i><br>
<i>&gt;</i><br>
<i>&gt; Hope that helps.  Good luck</i><br>
<i>&gt;</i><br>
<i>&gt; Nathan Kennedy wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; The scsi bus is terminated at the scanner using the terminator that came with</i><br>
<i>&gt; &gt; it.  The cable situation is a little long, but under the 20 ft.</i><br>
<i>&gt; &gt; specification.  I have on 6 foot cable going from the scsi card to the zip</i><br>
<i>&gt; &gt; drive, and a three foot cord from the zip drive to the scanner.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Nathan %-)</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Oliver Rauch wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt; Nathan Kennedy wrote:</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; I just bought a brand new UMAX Astra 1200S scanner specifically for use</i><br>
<i>&gt; &gt; &gt; &gt; with sane.  However it seems that it hangs on the initialization of the</i><br>
<i>&gt; &gt; &gt; &gt; scanner.  I am using the card on an adaptec 2920 PCI card with a zip</i><br>
<i>&gt; &gt; &gt; &gt; drive in-line with the scanner.</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; I have run the scanimage -T with a dll debug level of 128.  Everything</i><br>
<i>&gt; &gt; &gt; &gt; goes fine,  until it reaches the do_calibration command.  Then it just</i><br>
<i>&gt; &gt; &gt; &gt; sits waiting for the scanner.  I can usually &lt;ctrl&gt; c out of it, but any</i><br>
<i>&gt; &gt; &gt; &gt; attempt to unload the sg module and fdomain module results in a total</i><br>
<i>&gt; &gt; &gt; &gt; system lock up.</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; Any help with this would be great.  I am really looking forward to</i><br>
<i>&gt; &gt; &gt; &gt; removing windows off of my computer.</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; Hi Nathan,</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; is the scsi bus terminated correct on both ends of the bus,</i><br>
<i>&gt; &gt; &gt; how long is the scsi bus (all scsi cables together)?</i><br>
<i>&gt; &gt; &gt; is the driver for your scsi controller up to date?</i><br>
<i>&gt; &gt; &gt; Is disconnect reconnect disabled?</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; Bye</i><br>
<i>&gt; &gt; &gt; Oliver</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; --</i><br>
<i>&gt; &gt; &gt; Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>&gt; &gt; &gt; sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a></i><br>
<i>&gt; &gt; &gt; xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a></i><br>
<i>&gt; &gt; &gt; E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; --</i><br>
<i>&gt; &gt; &gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; &gt; &gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; --</i><br>
<i>&gt; &gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; &gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Manuel Panea: "Setting gamma with xsane"</a>
<li> <b>Previous message:</b> <a href="0068.html">Rod Pike: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Maybe in reply to:</b> <a href="0059.html">Nathan Kennedy: "UMAX Astra 1200S seems to hang on all commands"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<!-- reply="end" -->
</ul>
