<!-- received="Sat Dec 11 08:14:09 1999 PST" -->
<!-- sent="Sat, 11 Dec 1999 17:19:19 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Error compiling SANE" -->
<!-- id="" -->
<!-- inreplyto="Error compiling SANE" -->
<title>sane-devel: Re: Error compiling SANE</title>
<h1>Re: Error compiling SANE</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 11 Dec 1999 17:19:19 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Petter Reinholdtsen: "Re: [patch] support for Ricoh IS50"</a>
<li> <b>Previous message:</b> <a href="0090.html">marcel pol: "Error compiling SANE"</a>
<li> <b>Maybe in reply to:</b> <a href="0090.html">marcel pol: "Error compiling SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
marcel pol wrote:<br>
<p>
<i>&gt;</i><br>
<i>&gt; I use SANE 1.00 and the abaton version is 0.1.</i><br>
<p>
Hi Marcel,<br>
please try at first sane-1.0.1<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Petter Reinholdtsen: "Re: [patch] support for Ricoh IS50"</a>
<li> <b>Previous message:</b> <a href="0090.html">marcel pol: "Error compiling SANE"</a>
<li> <b>Maybe in reply to:</b> <a href="0090.html">marcel pol: "Error compiling SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
