<!-- received="Fri Dec 17 10:18:07 1999 PST" -->
<!-- sent="Fri, 17 Dec 1999 13:17:17 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Linux sg and sense codes" -->
<!-- id="E11z1wL-0002ES-00@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Linux sg and sense codes" -->
<title>sane-devel: Re: Linux sg and sense codes</title>
<h1>Re: Linux sg and sense codes</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Fri, 17 Dec 1999 13:17:17 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#116">[ date ]</a><a href="index.html#116">[ thread ]</a><a href="subject.html#116">[ subject ]</a><a href="author.html#116">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">Stuey Monster: "Storm TotalScan Express"</a>
<li> <b>Previous message:</b> <a href="0115.html">Douglas Gilbert: "Re: Linux sg and sense codes"</a>
<li> <b>Maybe in reply to:</b> <a href="0112.html">Matto Marjanovic: "Linux sg and sense codes"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;If the newer regime is used ("eh_code") then the request</i><br>
<i> &gt;by the sg driver for no retries is almost always honoured.</i><br>
<i> &gt;So there shouldn't be any retries, resets, etc</i><br>
<i> &gt;</i><br>
<i> &gt;If the older regime is used then the situation described</i><br>
<i> &gt;above occurs. [If the ".h" or the ".c" file of your</i><br>
<i> &gt;adapter source contains something like:</i><br>
<i> &gt;  use_new_eh_code:   1</i><br>
<i> &gt;then this is the newer regime. If not, it is using the older</i><br>
<i> &gt;regime.]</i><br>
<i> &gt;</i><br>
<i> &gt;Unfortunately, a large majority of linux scsi adapter drivers</i><br>
<i> &gt;(including aic7xxx) use the older regime. The maintainer of</i><br>
<i> &gt;the scsi mid level, Eric Youngdale, has renewed his push</i><br>
<i> &gt;for the adapter driver maintainers to upgrade to the newer</i><br>
<i> &gt;regime. The nature of open software development makes it</i><br>
<i> &gt;difficult to force such an issue too hard but things are</i><br>
<i> &gt;changing slowly.</i><br>
<i> &gt;</i><br>
<i> &gt;Sorry the answer couldn't be a bit more positive.</i><br>
<p>
That's a great answer:  it's moving in the right direction!<br>
And now when someone complains about errors related to this problem,<br>
 I can tell them to harass the author of their scsi card driver to<br>
 get with the new program.<br>
<p>
Thanks,<br>
 matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">Stuey Monster: "Storm TotalScan Express"</a>
<li> <b>Previous message:</b> <a href="0115.html">Douglas Gilbert: "Re: Linux sg and sense codes"</a>
<li> <b>Maybe in reply to:</b> <a href="0112.html">Matto Marjanovic: "Linux sg and sense codes"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
