<!-- received="Mon Dec 20 10:21:56 1999 PST" -->
<!-- sent="Mon, 20 Dec 1999 18:20:33 +0000" -->
<!-- name="Harry E. Clarke" -->
<!-- email="hec@heclarke.demon.co.uk" -->
<!-- subject="Epson Perfection 1200S" -->
<!-- id="19991220182034.D90FF11166@heclarke.demon.co.uk" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson Perfection 1200S</title>
<h1>Epson Perfection 1200S</h1>
<b>Harry E. Clarke</b> (<a href="mailto:hec@heclarke.demon.co.uk"><i>hec@heclarke.demon.co.uk</i></a>)<br>
<i>Mon, 20 Dec 1999 18:20:33 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#126">[ date ]</a><a href="index.html#126">[ thread ]</a><a href="subject.html#126">[ subject ]</a><a href="author.html#126">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">Kevin Charter: "Re: transparency option on snapscan1236"</a>
<li> <b>Previous message:</b> <a href="0125.html">Christoph Wasshuber: "EPSON scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have the film adapter to the Epon Perfection 1200S. While the scanner<br>
works OK, the film adapter is not recognised, and hence the light is not<br>
switched on when scanning a transpancy.<br>
<p>
Does any one know what is required to add this functionality to the<br>
sane-epson driver.<br>
<p>
Regards<br>
Harry<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">Kevin Charter: "Re: transparency option on snapscan1236"</a>
<li> <b>Previous message:</b> <a href="0125.html">Christoph Wasshuber: "EPSON scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
