<!-- received="Thu Dec 23 20:13:22 1999 PST" -->
<!-- sent="Thu, 23 Dec 1999 09:18:46 +0100" -->
<!-- name="Martin Heinen" -->
<!-- email="mheinen0@wiesbaden-online.de" -->
<!-- subject="Re: Mustek SE 12000 SP Plus" -->
<!-- id="" -->
<!-- inreplyto="19991223015456.KEGD29093.fep02-svc@leon.libero.it" -->
<title>sane-devel: Re: Mustek SE 12000 SP Plus</title>
<h1>Re: Mustek SE 12000 SP Plus</h1>
<b>Martin Heinen</b> (<a href="mailto:mheinen0@wiesbaden-online.de"><i>mheinen0@wiesbaden-online.de</i></a>)<br>
<i>Thu, 23 Dec 1999 09:18:46 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#168">[ date ]</a><a href="index.html#168">[ thread ]</a><a href="subject.html#168">[ subject ]</a><a href="author.html#168">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Andreas: "Re: Umax Astra 600S annoyance"</a>
<li> <b>Previous message:</b> <a href="0167.html">A E Lawrence: "USB HP C5101A PhotoSmart S20 film scanner"</a>
<li> <b>In reply to:</b> <a href="0160.html">Marco G. Salvagno: "Re: Mustek SE 12000 SP Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, Dec 23, 1999 at 02:41:40AM +0100, Marco G. Salvagno wrote:<br>
<p>
<i>&gt; &gt;Did I purchase a very old model or a very new one ????</i><br>
<i>&gt; </i><br>
<i>&gt; Don't know really. Having ordered a 12000 SP in October/November '99, I</i><br>
<i>&gt; was given a 12000 SP Plus, which reports V101.</i><br>
<p>
I too own a 12000 SP plus, at least it's printed<br>
on the cover, but it reports revision V100.<br>
<p>
<pre>
-- 
<a href="mailto:mheinen0@wiesbaden-online.de">mheinen0@wiesbaden-online.de</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Andreas: "Re: Umax Astra 600S annoyance"</a>
<li> <b>Previous message:</b> <a href="0167.html">A E Lawrence: "USB HP C5101A PhotoSmart S20 film scanner"</a>
<li> <b>In reply to:</b> <a href="0160.html">Marco G. Salvagno: "Re: Mustek SE 12000 SP Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
