<!-- received="Sun Dec 26 19:12:35 1999 PST" -->
<!-- sent="Sun, 26 Dec 1999 22:15:59 -0500" -->
<!-- name="Karl Heinz Kremer" -->
<!-- email="khk@khk.net" -->
<!-- subject="Update for Epson Backend / Perfection 1200S Support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Update for Epson Backend / Perfection 1200S Support</title>
<h1>Update for Epson Backend / Perfection 1200S Support</h1>
<b>Karl Heinz Kremer</b> (<a href="mailto:khk@khk.net"><i>khk@khk.net</i></a>)<br>
<i>Sun, 26 Dec 1999 22:15:59 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#174">[ date ]</a><a href="index.html#174">[ thread ]</a><a href="subject.html#174">[ subject ]</a><a href="author.html#174">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0175.html">David Nelson: "PV8630"</a>
<li> <b>Previous message:</b> <a href="0173.html">Paulo Abreu: "Asking info on the Mustek 12000P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0179.html">Leonard Bottleman: "Re: Update for Epson Backend / Perfection 1200S Support"</a>
<li> <b>Reply:</b> <a href="0179.html">Leonard Bottleman: "Re: Update for Epson Backend / Perfection 1200S Support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--nFreZHaLTZJo0R7j<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: quoted-printable<br>
<p>
I just got a note from Kaz Sasayama, saying that he's not=20<br>
mainaining the Epson backend in the release code. Who is?<br>
<p>
I've made some changes to the code in order to support the<br>
1200S scanner. At the same time I also added some features<br>
that would also work with other (already supported) Epson<br>
scanners (like mirroring, gamma and color correction).<br>
<p>
Who shall I send the patch to?<br>
<p>
If somebody wants the patch before it goes into either a<br>
new release or a new development snapshot, just drop me<br>
a note.<br>
<p>
Karl Heinz<br>
<p>
--=20<br>
Karl Heinz Kremer                                      <a href="mailto:khk@khk.net">khk@khk.net</a><br>
                                                <a href="http://www.khk.net">http://www.khk.net</a><br>
                                                     ICQ: 41190739<br>
<p>
--nFreZHaLTZJo0R7j<br>
Content-Type: application/pgp-signature<br>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: PGP 6.5.2<br>
<p>
iQCVAwUBOGbZ7h4KmkKPBVxtAQFy3AQAihL/vKH8so6WO550ND3W+eHo01odEuch<br>
ZvXlbbwRXD4Xfbb1fTSnuCKZmKfY4Q1Ws4W0mPRnmasqvUyWGEy1qyOqyTHZnBCA<br>
MhXT4iAqBgggPx17nzwk4lWnFTwBedO2/yeP0i9HLyXQ1eHrYHSvBlG428qVnPY1<br>
E0OZWHMzBsM=<br>
=4/Jn<br>
-----END PGP SIGNATURE-----<br>
<p>
--nFreZHaLTZJo0R7j--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0175.html">David Nelson: "PV8630"</a>
<li> <b>Previous message:</b> <a href="0173.html">Paulo Abreu: "Asking info on the Mustek 12000P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0179.html">Leonard Bottleman: "Re: Update for Epson Backend / Perfection 1200S Support"</a>
<li> <b>Reply:</b> <a href="0179.html">Leonard Bottleman: "Re: Update for Epson Backend / Perfection 1200S Support"</a>
<!-- reply="end" -->
</ul>
