<!-- received="Thu Dec 30 23:54:20 1999 PST" -->
<!-- sent="Fri, 31 Dec 1999 03:00:17 -0500 (EST)" -->
<!-- name="Warren Chartier" -->
<!-- email="icebalm@bigfoot.com" -->
<!-- subject="Re: IBM IdeaScan" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.02.9912310105480.273-100000@supernova" -->
<title>sane-devel: Re: IBM IdeaScan</title>
<h1>Re: IBM IdeaScan</h1>
<b>Warren Chartier</b> (<a href="mailto:icebalm@bigfoot.com"><i>icebalm@bigfoot.com</i></a>)<br>
<i>Fri, 31 Dec 1999 03:00:17 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#210">[ date ]</a><a href="index.html#210">[ thread ]</a><a href="subject.html#210">[ subject ]</a><a href="author.html#210">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0211.html">Paulo Abreu: "Mustek SE12000P: patching musteka4s2 and mustek..."</a>
<li> <b>Previous message:</b> <a href="0209.html">Brad Johnson: "Re: IBM IdeaScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 31 Dec 1999, Brad Johnson wrote:<br>
<p>
<i>&gt; 	Unfortunately, I looked all over IBM's website and the only two</i><br>
<i>&gt; scanners I can find any information about are the IdeaScan (the parallel one</i><br>
<i>&gt; that I have) and the IdeaScan 2000 (A USB version of the former). Apparently,</i><br>
<i>&gt; there is no SCSI equivalent, so I have doubts that there's a SCSI controller</i><br>
<i>&gt; in there (That, and the fact that there are very few chips inside the scanner,</i><br>
<i>&gt; and the box even says that the big chip is an ASIC chip used to speed up scans</i><br>
<i>&gt; by using compression in some way)</i><br>
<p>
There was none for mine either, however when probed at startup by the<br>
Linux SCSI subsystem the truth gets known, its really a ScanMaker 330CS.<br>
<p>
<i>&gt; 	I haven't noticed any signs of SCSI when configuring it in Windows...</i><br>
<i>&gt; but then, it doesn't even seem to show up in the Device listings.</i><br>
<i>&gt; </i><br>
<i>&gt; 	I wonder if IBM has any plans on supporting this scanner in Linux...</i><br>
<p>
Yeah, I guess it isn't.  Mine installed a software "SCSI Adaptor" in the<br>
windows device listing and the scanner shows up there aswell.<br>
<p>
One thing you could do is ask IBM rather nicely for some documentation on<br>
it (be sure to mention linux even tho SANE runs on many unices, companies<br>
love the buzzword...) to possibly write your own or post here if you<br>
can't?  It's worth a shot.<br>
<p>
Warren Chartier<br>
Minister of the Mobile Mechanized Infantry - <a href="http://www.juga.com">http://www.juga.com</a><br>
Fight Spam - Join CAUSE!  <a href="http://www.cause.org">http://www.cause.org</a><br>
<p>
---- BEGIN ECHELON BLOCK ----<br>
SCUD missile Ortega AK-47 Uzi $400 million in gold bullion Rule Psix Nazi<br>
militia Project Monarch counter-intelligence JFK cypherpunk Kibo Ron Brown<br>
clones bomb special-ops terrorism WACO nuclear missile MI5<br>
----- END ECHELON BLOCK -----<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0211.html">Paulo Abreu: "Mustek SE12000P: patching musteka4s2 and mustek..."</a>
<li> <b>Previous message:</b> <a href="0209.html">Brad Johnson: "Re: IBM IdeaScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
