<!-- received="Sun Nov  2 19:25:10 1997 PST" -->
<!-- sent="Sun, 2 Nov 1997 19:25:08 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Make OS2 Binaries ?" -->
<!-- id="199711030325.TAA20100@panda.mostang.com" -->
<!-- inreplyto="199711030126.CAA22587@bluewin.ch" -->
<title>sane-devel: Re: Make OS2 Binaries ?</title>
<h1>Re: Make OS2 Binaries ?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sun, 2 Nov 1997 19:25:08 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#19">[ date ]</a><a href="index.html#19">[ thread ]</a><a href="subject.html#19">[ subject ]</a><a href="author.html#19">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">Matt Thompson: "Re: ./configure doesn't think I have X"</a>
<li> <b>Previous message:</b> <a href="0018.html">Stefan Knodt: "Make OS2 Binaries ?"</a>
<li> <b>In reply to:</b> <a href="0018.html">Stefan Knodt: "Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0030.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 03 Nov 97 02:28:58 +0100, "Stefan Knodt" &lt;<a href="mailto:sknodt@bluewin.ch">sknodt@bluewin.ch</a>&gt; said:</i><br>
<p>
  Stefan&gt; Can anybody tell me what tools are needed to make the<br>
  Stefan&gt; binaries for OS2 ?  Tks.<br>
<p>
Can't help with that but I just added a pointer to the OS/2 binary<br>
distribution at:<br>
<p>
	     <a href="http://www.mostang.com/sane/source.html">http://www.mostang.com/sane/source.html</a><br>
<p>
The version there is 0.66, though.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">Matt Thompson: "Re: ./configure doesn't think I have X"</a>
<li> <b>Previous message:</b> <a href="0018.html">Stefan Knodt: "Make OS2 Binaries ?"</a>
<li> <b>In reply to:</b> <a href="0018.html">Stefan Knodt: "Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0030.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<!-- reply="end" -->
</ul>
