<!-- received="Mon Nov  3 10:45:05 1997 PST" -->
<!-- sent="Mon, 3 Nov 1997 13:44:26 -0500 (EST)" -->
<!-- name="Eric Ludlam" -->
<!-- email="eludlam@mathworks.com" -->
<!-- subject="HP backend" -->
<!-- id="199711031844.NAA27829@dogbert.mathworks.com" -->
<!-- inreplyto="" -->
<title>sane-devel: HP backend</title>
<h1>HP backend</h1>
<b>Eric Ludlam</b> (<a href="mailto:eludlam@mathworks.com"><i>eludlam@mathworks.com</i></a>)<br>
<i>Mon, 3 Nov 1997 13:44:26 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#32">[ date ]</a><a href="index.html#32">[ thread ]</a><a href="subject.html#32">[ subject ]</a><a href="author.html#32">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Ben Sinclair: "SANE + UMAX"</a>
<li> <b>Previous message:</b> <a href="0031.html">Jeff Freedman: "JAVA version"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0034.html">Geoffrey T. Dairiki: "Re: HP backend"</a>
<li> <b>Reply:</b> <a href="0034.html">Geoffrey T. Dairiki: "Re: HP backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
  I just wanted to let you guys know that I have put my request in to<br>
be an HP peripherals developer so I can get the details on the new HP<br>
5p scanner in an attempted to improve that backend.<br>
<p>
  From what I can tell that backend is unclaimed, and I intend to<br>
improve it to the point I can use the 5p's advanced features.  As I<br>
already have projects for the FSF that I'm responsible for I can't<br>
claim that development will be all that speedy, but I will certainly<br>
post patches as I create them.<br>
<p>
  -Eric<br>
<p>
<pre>
-- 
[====]___||.   Eric Ludlam          "The X Guy"    The MathWorks   x 7556
  |[]|     |=  <a href="mailto:eludlam@mathworks.com">eludlam@mathworks.com</a>  (work)      <a href="http://www.mathworks.com">http://www.mathworks.com</a>
 _|__|=====+   <a href="mailto:zappo@ultranet.com">zappo@ultranet.com</a>     (home)   <a href="http://www.ultranet.com/~zappo">http://www.ultranet.com/~zappo</a>
   O-O-O[ ]\\  	          `To err is human, to moo bovine'
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Ben Sinclair: "SANE + UMAX"</a>
<li> <b>Previous message:</b> <a href="0031.html">Jeff Freedman: "JAVA version"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0034.html">Geoffrey T. Dairiki: "Re: HP backend"</a>
<li> <b>Reply:</b> <a href="0034.html">Geoffrey T. Dairiki: "Re: HP backend"</a>
<!-- reply="end" -->
</ul>
