<!-- received="Mon Nov  3 14:55:23 1997 PST" -->
<!-- sent="Mon, 3 Nov 1997 17:55:14 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="gamma-bind infinite loops in 0.67" -->
<!-- id="199711032255.RAA08504@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: gamma-bind infinite loops in 0.67</title>
<h1>gamma-bind infinite loops in 0.67</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Mon, 3 Nov 1997 17:55:14 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#38">[ date ]</a><a href="index.html#38">[ thread ]</a><a href="subject.html#38">[ subject ]</a><a href="author.html#38">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Oliver.Rauch@Wolfsburg.DE: "Re: SANE + UMAX"</a>
<li> <b>Previous message:</b> <a href="0037.html">Michiel Toneman: "Re: HP backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0040.html">Oliver.Rauch@Wolfsburg.DE: "Re: gamma-bind infinite loops in 0.67"</a>
<li> <b>Reply:</b> <a href="0040.html">Oliver.Rauch@Wolfsburg.DE: "Re: gamma-bind infinite loops in 0.67"</a>
<li> <b>Reply:</b> <a href="0043.html">Matto Marjanovic: "Re: gamma-bind infinite loops in 0.67"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
It's a good thing I held on to this e-mail... (attached at end)<br>
<p>
I'm having a similar problem with the Microtek backend now, and<br>
 will probably come up with a similar patch today/tomorrow.<br>
 (The problem is related to insistent setting of the gamma-bind<br>
  option.)<br>
<p>
But in the meantime, has anyone gone and figured out what changed<br>
 in xscanimage to break the original, non-infinite-loop behavior?<br>
<p>
-Matt M.<br>
<p>
<p>
<p>
   From: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a><br>
   Date: Sun, 2 Nov 1997 10:31:25 +0100 (MET)<br>
   X-Mailer: ELM [version 2.4 PL25]<br>
   MIME-Version: 1.0<br>
   Content-Type: text/plain; charset=iso-8859-1<br>
   Content-Transfer-Encoding: 8bit<br>
   Sender: <a href="mailto:owner-sane-devel@mostang.com">owner-sane-devel@mostang.com</a><br>
   Precedence: bulk<br>
   Reply-To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a><br>
<p>
   Hello David, hello UMAX-owners,<br>
<p>
   the umax-backend hangs in sane-0.67, but here is a patch<br>
   that corrects it!<br>
<p>
   There has changed something in the way the options between<br>
   xscanimage (and may be scanimage too) and the umax-backend<br>
   were handled and so we got into an endless loop.<br>
   At the end of the mail there is a fix for it!<br>
<p>
   just kill everything until ------------------, save the file<br>
   as umax-patch, move it to sane-0.67/backend and then do<br>
   cd sane-0.67/backend<br>
   patch umax.c &lt;umax-patch<br>
<p>
   I also had problems to compile the umax-backend because<br>
   usleep and strdup were not found any more.<br>
   Simple trick at first: use old sane-0.66/backend/Makefile<br>
   if you have it!<br>
<p>
   Bye<br>
   Oliver<br>
   --------------------------<br>
<p>
[patch deleted for brevity]<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Oliver.Rauch@Wolfsburg.DE: "Re: SANE + UMAX"</a>
<li> <b>Previous message:</b> <a href="0037.html">Michiel Toneman: "Re: HP backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0040.html">Oliver.Rauch@Wolfsburg.DE: "Re: gamma-bind infinite loops in 0.67"</a>
<li> <b>Reply:</b> <a href="0040.html">Oliver.Rauch@Wolfsburg.DE: "Re: gamma-bind infinite loops in 0.67"</a>
<li> <b>Reply:</b> <a href="0043.html">Matto Marjanovic: "Re: gamma-bind infinite loops in 0.67"</a>
<!-- reply="end" -->
</ul>
