<!-- received="Tue Nov  4 22:40:49 1997 PST" -->
<!-- sent="Tue, 4 Nov 1997 22:40:47 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: v0.67+mustek 1200: color =) --- lineart =(" -->
<!-- id="199711050640.WAA06518@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.3.96.971104202332.1678A-100000@unsolved.weh.rwth-aachen.de" -->
<title>sane-devel: Re: v0.67+mustek 1200: color =) --- lineart =(</title>
<h1>Re: v0.67+mustek 1200: color =) --- lineart =(</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 4 Nov 1997 22:40:47 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#52">[ date ]</a><a href="index.html#52">[ thread ]</a><a href="subject.html#52">[ subject ]</a><a href="author.html#52">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0053.html">David Mosberger-Tang: "Re: gamma-bind infinite loops in 0.67"</a>
<li> <b>Previous message:</b> <a href="0051.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0060.html">Jens Ritter: "Re: v0.67+mustek 1200: color =) --- lineart =("</a>
<li> <b>Reply:</b> <a href="0060.html">Jens Ritter: "Re: v0.67+mustek 1200: color =) --- lineart =("</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 4 Nov 1997 20:39:58 +0100 (CET), Jens Ritter &lt;<a href="mailto:jens@unsolved.weh.rwth-aachen.de">jens@unsolved.weh.rwth-aachen.de</a>&gt; said:</i><br>
<p>
  Jens&gt; In color mode the scanner works fine in resolutions 300 and<br>
  Jens&gt; 600 dpi.  This is with option line-distance-fix in<br>
  Jens&gt; mustek.conf.<br>
<p>
Yes, a known problem with the MFS-12000SP.  Turning on backtracking<br>
may help, but will also slow down scanning a lot.  Check the mailing<br>
list archive for more details (<a href="http://www.mostang.com/sane/mail.html">http://www.mostang.com/sane/mail.html</a>).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0053.html">David Mosberger-Tang: "Re: gamma-bind infinite loops in 0.67"</a>
<li> <b>Previous message:</b> <a href="0051.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0060.html">Jens Ritter: "Re: v0.67+mustek 1200: color =) --- lineart =("</a>
<li> <b>Reply:</b> <a href="0060.html">Jens Ritter: "Re: v0.67+mustek 1200: color =) --- lineart =("</a>
<!-- reply="end" -->
</ul>
