<!-- received="Sun Nov  9 00:59:45 1997 PST" -->
<!-- sent="Sun, 9 Nov 1997 00:59:45 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Help: Mustek 600 II N scanner" -->
<!-- id="199711090859.AAA07332@panda.mostang.com" -->
<!-- inreplyto="m0xUJra-000BVJC@charon.beck-sw.de" -->
<title>sane-devel: Re: Help: Mustek 600 II N scanner</title>
<h1>Re: Help: Mustek 600 II N scanner</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sun, 9 Nov 1997 00:59:45 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#74">[ date ]</a><a href="index.html#74">[ thread ]</a><a href="subject.html#74">[ subject ]</a><a href="author.html#74">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<li> <b>Previous message:</b> <a href="0073.html">Howard J. Poe: "Doh!"</a>
<li> <b>In reply to:</b> <a href="0071.html">becka@rz.uni-duesseldorf.de: "Re: Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0076.html">becka@rz.uni-duesseldorf.de: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0076.html">becka@rz.uni-duesseldorf.de: "Re: Help: Mustek 600 II N scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 9 Nov 1997 00:00:21 +0100 (MET), <a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a> said:</i><br>
<p>
<i>  &gt;&gt; &gt; Tell us what is printed on the chip(s) on the card. We can</i><br>
<i>  &gt;&gt; probably derive &gt; what this card actually is.</i><br>
<p>
<i>  &gt;&gt; On the card it is written: AB306N I/F CARD REV. A</i><br>
<p>
<i>  &gt;&gt; On one of the chips there is the following text: GA 160 AH 1515.1</i><br>
<i>  &gt;&gt; 9703</i><br>
<p>
  Andy&gt; Hmm - I'd guess this is some Adaptec SCSI clone. try using the<br>
  Andy&gt; Adaptec 15XX driver.<br>
<p>
The ab306 is the parallel port interface for the 600 II N.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<li> <b>Previous message:</b> <a href="0073.html">Howard J. Poe: "Doh!"</a>
<li> <b>In reply to:</b> <a href="0071.html">becka@rz.uni-duesseldorf.de: "Re: Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0076.html">becka@rz.uni-duesseldorf.de: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0076.html">becka@rz.uni-duesseldorf.de: "Re: Help: Mustek 600 II N scanner"</a>
<!-- reply="end" -->
</ul>
