<!-- received="Sun Nov  9 05:27:27 1997 PST" -->
<!-- sent="Sun, 9 Nov 1997 14:17:07 +0000" -->
<!-- name="Johan Bengtsson" -->
<!-- email="johanb@lls.se" -->
<!-- subject="Re: Help: Mustek 600 II N scanner" -->
<!-- id="199711091328.OAA24293@leonardo.lls.se" -->
<!-- inreplyto="Help: Mustek 600 II N scanner" -->
<title>sane-devel: Re: Help: Mustek 600 II N scanner</title>
<h1>Re: Help: Mustek 600 II N scanner</h1>
<b>Johan Bengtsson</b> (<a href="mailto:johanb@lls.se"><i>johanb@lls.se</i></a>)<br>
<i>Sun, 9 Nov 1997 14:17:07 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#77">[ date ]</a><a href="index.html#77">[ thread ]</a><a href="subject.html#77">[ subject ]</a><a href="author.html#77">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">David Mosberger-Tang: "Re: SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<li> <b>Previous message:</b> <a href="0076.html">becka@rz.uni-duesseldorf.de: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0066.html">Johan Bengtsson: "Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0080.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On  9 Nov 97 at 12:03, <a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a> wrote:<br>
<p>
<i>&gt; &gt;   &gt;&gt; On the card it is written: AB306N I/F CARD REV. A</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;   &gt;&gt; On one of the chips there is the following text: GA 160 AH 1515.1</i><br>
<i>&gt; &gt;   &gt;&gt; 9703</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; The ab306 is the parallel port interface for the 600 II N.</i><br>
<i>&gt; </i><br>
<i>&gt; Interesting ... Why the heck are they supplying a parallel port with their</i><br>
<i>&gt; scanner ? Are they afraid you might not have one ? Or does the scanner</i><br>
<i>&gt; hog the port and you can't print anymore ?</i><br>
<p>
The scanner has a 26 pin connector (looks like a VGA connector, but a <br>
bit wider) which fits the supplied card, but it can't be plugged into <br>
the paralell port. The card is very small, and only takes up half the <br>
ISA slot (8 bit card?). I'm almost 100% sure it's not a scsi card, <br>
because it's not detected on bootup (I've included scsi support in <br>
kernel) and I found a usenet posting that said that it wasn't a scsi <br>
card but some proprietary design. So i guess I can forget about using <br>
this scanner with Linux ,or...?<br>
<p>
Regards<br>
Johan B.<br>
-------------------------------------------------------------<br>
               TENT OF MIRACLES<br>
-the unofficial homepage of the legendary band SPIRIT<br>
         <a href="http://www.lls.se/~johanb/spirit/">http://www.lls.se/~johanb/spirit/</a><br>
------------------------------------------------------------<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">David Mosberger-Tang: "Re: SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<li> <b>Previous message:</b> <a href="0076.html">becka@rz.uni-duesseldorf.de: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0066.html">Johan Bengtsson: "Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0080.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<!-- reply="end" -->
</ul>
