<!-- received="Wed Nov 12 10:16:53 1997 PST" -->
<!-- sent="Wed, 12 Nov 1997 13:16:29 -0500 (EST)" -->
<!-- name="Andrew Kuchling" -->
<!-- email="amk@magnet.com" -->
<!-- subject="Re: OCR Software..?!" -->
<!-- id="199711121816.NAA01091@lemur.magnet.com" -->
<!-- inreplyto="OCR Software..?!" -->
<title>sane-devel: Re: OCR Software..?!</title>
<h1>Re: OCR Software..?!</h1>
<b>Andrew Kuchling</b> (<a href="mailto:amk@magnet.com"><i>amk@magnet.com</i></a>)<br>
<i>Wed, 12 Nov 1997 13:16:29 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#95">[ date ]</a><a href="index.html#95">[ thread ]</a><a href="subject.html#95">[ subject ]</a><a href="author.html#95">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">oli@Wolfsburg.DE: "Re: Problem Scanning with UMAX S6E."</a>
<li> <b>Previous message:</b> <a href="0094.html">Michael Burghart: "OCR Software..?!"</a>
<li> <b>Maybe in reply to:</b> <a href="0094.html">Michael Burghart: "OCR Software..?!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0098.html">becka@rz.uni-duesseldorf.de: "Re: OCR Software..?!"</a>
<li> <b>Reply:</b> <a href="0098.html">becka@rz.uni-duesseldorf.de: "Re: OCR Software..?!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;as there is little need of a Scanner without a functional OCR software I</i><br>
<i>&gt;would like to ask if there is anything planned in that direction..</i><br>
<i>&gt;Otherwise I'd like to help implementing an OCR for SANE using the gtklib.</i><br>
<p>
	I started on an OCR program in July, but only got the<br>
interface and some of the processing done before getting distracted by<br>
other projects.  See <a href="http://starship.skyport.net/crew/amk/ocr/">http://starship.skyport.net/crew/amk/ocr/</a> .  If<br>
you want to start a focused OCR effort, I'd certainly help.<br>
<p>
	There's a commercial OCR program for Linux described at<br>
<a href="http://www.mentalix.com">http://www.mentalix.com</a>, but it doesn't sit on top of SANE.<br>
<p>
<p>
	Andrew Kuchling<br>
	<a href="mailto:amk@magnet.com">amk@magnet.com</a><br>
	<a href="http://starship.skyport.net/crew/amk/">http://starship.skyport.net/crew/amk/</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">oli@Wolfsburg.DE: "Re: Problem Scanning with UMAX S6E."</a>
<li> <b>Previous message:</b> <a href="0094.html">Michael Burghart: "OCR Software..?!"</a>
<li> <b>Maybe in reply to:</b> <a href="0094.html">Michael Burghart: "OCR Software..?!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0098.html">becka@rz.uni-duesseldorf.de: "Re: OCR Software..?!"</a>
<li> <b>Reply:</b> <a href="0098.html">becka@rz.uni-duesseldorf.de: "Re: OCR Software..?!"</a>
<!-- reply="end" -->
</ul>
