<!-- received="Sat Nov 22 17:20:41 1997 PST" -->
<!-- sent="Sun, 23 Nov 1997 02:00:06 +0100 (MET)" -->
<!-- name="Johan Bengtsson" -->
<!-- email="root@lls.se" -->
<!-- subject="xscanimage compilation messages 1" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage compilation messages 1</title>
<h1>xscanimage compilation messages 1</h1>
<b>Johan Bengtsson</b> (<a href="mailto:root@lls.se"><i>root@lls.se</i></a>)<br>
<i>Sun, 23 Nov 1997 02:00:06 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#135">[ date ]</a><a href="index.html#135">[ thread ]</a><a href="subject.html#135">[ subject ]</a><a href="author.html#135">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0136.html">Johan Bengtsson: "output of "make install" command"</a>
<li> <b>Previous message:</b> <a href="0134.html">Johan Bengtsson: "output of make command"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  This message is in MIME format.  The first part should be readable text,<br>
  while the remaining parts are likely unreadable without MIME-aware tools.<br>
  Send mail to <a href="mailto:mime@docserver.cac.washington.edu">mime@docserver.cac.washington.edu</a> for more info.<br>
<p>
--0-1877996128-880246446=:259<br>
Content-Type: TEXT/PLAIN; CHARSET=US-ASCII<br>
Content-ID: &lt;<a href="mailto:Pine.LNX.3.95.971123015542.301B@LLS">Pine.LNX.3.95.971123015542.301B@LLS</a>&gt;<br>
<p>
Hi,<br>
I'm having some troubles compiling xscanimage on my machine.<br>
I have installed Gtk/gimp with the following rpm files:<br>
<p>
gtk-0.99.9-1.i386.rpm<br>
gimp-0.99.9-1.i386.rpm<br>
<p>
Here is the screen output of the "configure" command:<br>
(will send output of make &amp; make install commands later)<br>
 <br>
checking for main in -lglib... (cached) yes<br>
checking for main in -lgdk... (cached) yes<br>
checking for gtk_gamma_curve_new in -lgtk... (cached) no<br>
checking for libgimp/gimp.h... (cached) no<br>
disabling PINT backend<br>
enabling QuickCam backend<br>
enabling NET backend<br>
creating ./config.status<br>
creating Makefile<br>
creating lib/Makefile<br>
creating sanei/Makefile<br>
creating frontend/Makefile<br>
creating japi/Makefile<br>
creating backend/Makefile<br>
creating include/Makefile<br>
creating doc/Makefile<br>
creating include/sane/config.h<br>
include/sane/config.h is unchanged<br>
****************************************************************<br>
* Please be sure to read file PROBLEMS in thi<br>
<p>
Thanks for any help,<br>
Johan Bengtsson<br>
<p>
<p>
<p>
--0-1877996128-880246446=:259<br>
Content-Type: TEXT/PLAIN; CHARSET=US-ASCII; NAME="msg.txt"<br>
Content-Transfer-Encoding: BASE64<br>
Content-ID: &lt;<a href="mailto:Pine.LNX.3.95.971123015406.259B@LLS">Pine.LNX.3.95.971123015406.259B@LLS</a>&gt;<br>
Content-Description: output of <br>
<p>
bG9hZGluZyBjYWNoZSAuL2NvbmZpZy5jYWNoZQ0KY2hlY2tpbmcgZm9yIGdj<br>
Yy4uLiAoY2FjaGVkKSBnY2MNCmNoZWNraW5nIHdoZXRoZXIgdGhlIEMgY29t<br>
cGlsZXIgKGdjYyAgKSB3b3Jrcy4uLiB5ZXMNCmNoZWNraW5nIHdoZXRoZXIg<br>
dGhlIEMgY29tcGlsZXIgKGdjYyAgKSBpcyBhIGNyb3NzLWNvbXBpbGVyLi4u<br>
IG5vDQpjaGVja2luZyB3aGV0aGVyIHdlIGFyZSB1c2luZyBHTlUgQy4uLiAo<br>
Y2FjaGVkKSB5ZXMNCmNoZWNraW5nIHdoZXRoZXIgZ2NjIGFjY2VwdHMgLWcu<br>
Li4gKGNhY2hlZCkgeWVzDQpjaGVja2luZyBmb3IgYSBCU0QgY29tcGF0aWJs<br>
ZSBpbnN0YWxsLi4uIChjYWNoZWQpIC91c3IvYmluL2luc3RhbGwgLWMNCmNo<br>
ZWNraW5nIHdoZXRoZXIgbWFrZSBzZXRzICR7TUFLRX0uLi4gKGNhY2hlZCkg<br>
eWVzDQpjaGVja2luZyBob3cgdG8gcnVuIHRoZSBDIHByZXByb2Nlc3Nvci4u<br>
LiAoY2FjaGVkKSBnY2MgLUUNCmNoZWNraW5nIHdoZXRoZXIgZ2NjIG5lZWRz<br>
IC10cmFkaXRpb25hbC4uLiAoY2FjaGVkKSBubw0KY2hlY2tpbmcgZm9yIEFJ<br>
WC4uLiBubw0KY2hlY2tpbmcgZm9yIG1pbml4L2NvbmZpZy5oLi4uIChjYWNo<br>
ZWQpIG5vDQpjaGVja2luZyBmb3IgUE9TSVhpemVkIElTQy4uLiBubw0KY2hl<br>
Y2tpbmcgZm9yIEFOU0kgQyBoZWFkZXIgZmlsZXMuLi4gKGNhY2hlZCkgeWVz<br>
DQpjaGVja2luZyBmb3IgZmNudGwuaC4uLiAoY2FjaGVkKSB5ZXMNCmNoZWNr<br>
aW5nIGZvciB1bmlzdGQuaC4uLiAoY2FjaGVkKSB5ZXMNCmNoZWNraW5nIGZv<br>
ciBsaWJpbnRsLmguLi4gKGNhY2hlZCkgeWVzDQpjaGVja2luZyBmb3IgbGli<br>
Yy5oLi4uIChjYWNoZWQpIG5vDQpjaGVja2luZyBmb3Igc3lzL2RzcmVxLmgu<br>
Li4gKGNhY2hlZCkgbm8NCmNoZWNraW5nIGZvciBzeXMvc2VsZWN0LmguLi4g<br>
KGNhY2hlZCkgbm8NCmNoZWNraW5nIGZvciBzeXMvc2NhbmlvLmguLi4gKGNh<br>
Y2hlZCkgbm8NCmNoZWNraW5nIGZvciBzY3NpLmguLi4gKGNhY2hlZCkgbm8N<br>
CmNoZWNraW5nIGZvciBzeXMvc2NzaS5oLi4uIChjYWNoZWQpIG5vDQpjaGVj<br>
a2luZyBmb3Igc3lzL3Njc2ljbWQuaC4uLiAoY2FjaGVkKSBubw0KY2hlY2tp<br>
bmcgZm9yIHN5cy9zY3NpaW8uaC4uLiAoY2FjaGVkKSBubw0KY2hlY2tpbmcg<br>
Zm9yIGJzZC9kZXYvc2NzaXJlZy5oLi4uIChjYWNoZWQpIG5vDQpjaGVja2lu<br>
ZyBmb3Igc2NzaS9zZy5oLi4uIChjYWNoZWQpIHllcw0KY2hlY2tpbmcgZm9y<br>
IC91c3Ivc3JjL2xpbnV4L2luY2x1ZGUvc2NzaS9zZy5oLi4uIChjYWNoZWQp<br>
IHllcw0KY2hlY2tpbmcgZm9yIGlvL2NhbS9jYW0uaC4uLiAoY2FjaGVkKSBu<br>
bw0KY2hlY2tpbmcgZm9yIG9zMi5oLi4uIChjYWNoZWQpIG5vDQpjaGVja2lu<br>
ZyBmb3Igc3lzL3NvY2tldC5oLi4uIChjYWNoZWQpIHllcw0KY2hlY2tpbmcg<br>
Zm9yIHN5cy9pby5oLi4uIChjYWNoZWQpIG5vDQpjaGVja2luZyBmb3IgYXNt<br>
L2lvLmguLi4gKGNhY2hlZCkgeWVzDQpjaGVja2luZyBmb3Igd29ya2luZyBj<br>
b25zdC4uLiAoY2FjaGVkKSB5ZXMNCmNoZWNraW5nIGZvciBpbmxpbmUuLi4g<br>
KGNhY2hlZCkgX19pbmxpbmVfXw0KY2hlY2tpbmcgcmV0dXJuIHR5cGUgb2Yg<br>
c2lnbmFsIGhhbmRsZXJzLi4uIChjYWNoZWQpIHZvaWQNCmNoZWNraW5nIGZv<br>
ciBzaXplX3QuLi4gKGNhY2hlZCkgeWVzDQpjaGVja2luZyBmb3IgcGlkX3Qu<br>
Li4gKGNhY2hlZCkgeWVzDQpjaGVja2luZyBmb3Igc3NpemVfdC4uLiAoY2Fj<br>
aGVkKSB5ZXMNCmNoZWNraW5nIGZvciBzY3NpcmVxX2VudGVyIGluIC1sc2Nz<br>
aS4uLiAoY2FjaGVkKSBubw0KY2hlY2tpbmcgZm9yIHNxcnQgaW4gLWxtLi4u<br>
IChjYWNoZWQpIHllcw0KY2hlY2tpbmcgZm9yIGdldHRleHQgaW4gLWxpbnRs<br>
Li4uIChjYWNoZWQpIHllcw0KY2hlY2tpbmcgZm9yIGdldGhvc3RieWFkZHIg<br>
aW4gLWxuc2wuLi4gKGNhY2hlZCkgbm8NCmNoZWNraW5nIGZvciBzb2NrZXQg<br>
aW4gLWxzb2NrZXQuLi4gKGNhY2hlZCkgbm8NCmNoZWNraW5nIGZvciB3b3Jr<br>
aW5nIGFsbG9jYS5oLi4uIChjYWNoZWQpIHllcw0KY2hlY2tpbmcgZm9yIGFs<br>
bG9jYS4uLiAoY2FjaGVkKSB5ZXMNCmNoZWNraW5nIGZvciB1bmlzdGQuaC4u<br>
LiAoY2FjaGVkKSB5ZXMNCmNoZWNraW5nIGZvciBnZXRwYWdlc2l6ZS4uLiAo<br>
Y2FjaGVkKSB5ZXMNCmNoZWNraW5nIGZvciB3b3JraW5nIG1tYXAuLi4gKGNh<br>
Y2hlZCkgeWVzDQpjaGVja2luZyBmb3IgYXRleGl0Li4uIChjYWNoZWQpIHll<br>
cw0KY2hlY2tpbmcgZm9yIGlvcGVybS4uLiAoY2FjaGVkKSB5ZXMNCmNoZWNr<br>
aW5nIGZvciBta2Rpci4uLiAoY2FjaGVkKSB5ZXMNCmNoZWNraW5nIGZvciBz<br>
Y3NpcmVxX2VudGVyLi4uIChjYWNoZWQpIG5vDQpjaGVja2luZyBmb3Igc2ln<br>
cHJvY21hc2suLi4gKGNhY2hlZCkgeWVzDQpjaGVja2luZyBmb3Igc3RyZHVw<br>
Li4uIChjYWNoZWQpIHllcw0KY2hlY2tpbmcgZm9yIHN0cm5kdXAuLi4gKGNh<br>
Y2hlZCkgbm8NCmNoZWNraW5nIGZvciBzdHJmdGltZS4uLiAoY2FjaGVkKSB5<br>
ZXMNCmNoZWNraW5nIGZvciBzdHJzdHIuLi4gKGNhY2hlZCkgeWVzDQpjaGVj<br>
a2luZyBmb3Igc3Ryc2VwLi4uIChjYWNoZWQpIHllcw0KY2hlY2tpbmcgZm9y<br>
IHN0cnRvZC4uLiAoY2FjaGVkKSB5ZXMNCmNoZWNraW5nIGZvciBzbnByaW50<br>
Zi4uLiAoY2FjaGVkKSB5ZXMNCmNoZWNraW5nIGZvciB1c2xlZXAuLi4gKGNh<br>
Y2hlZCkgeWVzDQpjaGVja2luZyBmb3Igc3RybmNhc2VjbXAuLi4gKGNhY2hl<br>
ZCkgeWVzDQpjaGVja2luZyBob3N0IHN5c3RlbSB0eXBlLi4uIGk1ODYtcGMt<br>
bGludXgtZ251DQpjaGVja2luZyBmb3IgcmFubGliLi4uIChjYWNoZWQpIHJh<br>
bmxpYg0KY2hlY2tpbmcgZm9yIGxkIHVzZWQgYnkgR0NDLi4uIChjYWNoZWQp<br>
IC91c3IvYmluL2xkDQpjaGVja2luZyBpZiB0aGUgbGlua2VyICgvdXNyL2Jp<br>
bi9sZCkgaXMgR05VIGxkLi4uIChjYWNoZWQpIHllcw0KY2hlY2tpbmcgZm9y<br>
IEJTRC1jb21wYXRpYmxlIG5tLi4uIChjYWNoZWQpIC91c3IvYmluL25tIC1C<br>
DQpjaGVja2luZyB3aGV0aGVyIGxuIC1zIHdvcmtzLi4uIChjYWNoZWQpIHll<br>
cw0KY2hlY2tpbmcgZm9yIGdjYyBvcHRpb24gdG8gcHJvZHVjZSBQSUMuLi4g<br>
LWZQSUMNCmNoZWNraW5nIGlmIGdjYyBQSUMgZmxhZyAtZlBJQyB3b3Jrcy4u<br>
LiB5ZXMNCmNoZWNraW5nIGlmIGdjYyBzdGF0aWMgZmxhZyAtc3RhdGljIHdv<br>
cmtzLi4uIC1zdGF0aWMNCmNoZWNraW5nIGlmIHRoZSBsaW5rZXIgKC91c3Iv<br>
YmluL2xkKSBpcyBHTlUgbGQuLi4geWVzDQpjaGVja2luZyB3aGV0aGVyIHRo<br>
ZSBsaW5rZXIgKC91c3IvYmluL2xkKSBzdXBwb3J0cyBzaGFyZWQgbGlicmFy<br>
aWVzLi4uIHllcw0KY2hlY2tpbmcgY29tbWFuZCB0byBwYXJzZSAvdXNyL2Jp<br>
bi9ubSAtQiBvdXRwdXQuLi4geWVzDQpjaGVja2luZyBob3cgdG8gaGFyZGNv<br>
ZGUgbGlicmFyeSBwYXRocyBpbnRvIHByb2dyYW1zLi4uIGltbWVkaWF0ZQ0K<br>
Y2hlY2tpbmcgZm9yIC91c3IvYmluL2xkIG9wdGlvbiB0byByZWxvYWQgb2Jq<br>
ZWN0IGZpbGVzLi4uIC1yDQpjaGVja2luZyBkeW5hbWljIGxpbmtlciBjaGFy<br>
YWN0ZXJpc3RpY3MuLi4gTGludXggbGQuc28NCmNoZWNraW5nIGlmIGxpYnRv<br>
b2wgc3VwcG9ydHMgc2hhcmVkIGxpYnJhcmllcy4uLiB5ZXMNCmNoZWNraW5n<br>
IHdoZXRoZXIgdG8gYnVpbGQgc2hhcmVkIGxpYnJhcmllcy4uLiB5ZXMNCmNo<br>
ZWNraW5nIHdoZXRoZXIgdG8gYnVpbGQgc3RhdGljIGxpYnJhcmllcy4uLiB5<br>
ZXMNCmNoZWNraW5nIGZvciBvYmpkaXIuLi4gLmxpYnMNCmNyZWF0aW5nIGxp<br>
YnRvb2wNCmNoZWNraW5nIGZvciBYLi4uIChjYWNoZWQpIGxpYnJhcmllcyAv<br>
dXNyL1gxMVI2L2xpYiwgaGVhZGVycyAvdXNyL1gxMVI2L2luY2x1ZGUNCmNo<br>
ZWNraW5nIGZvciBkbGZjbi5oLi4uIChjYWNoZWQpIHllcw0KY2hlY2tpbmcg<br>
Zm9yIGRsb3BlbiBpbiAtbGRsLi4uIChjYWNoZWQpIHllcw0KY2hlY2tpbmcg<br>
Zm9yIGRsb3Blbi4uLiAoY2FjaGVkKSB5ZXMNCmNoZWNraW5nIGZvciBtYWlu<br>
IGluIC1sWDExLi4uIChjYWNoZWQpIHllcw0KY2hlY2tpbmcgZm9yIG1haW4g<br>
aW4gLWxYZXh0Li4uIChjYWNoZWQpIHllcw0KY2hlY2tpbmcgZm9yIG1haW4g<br>
aW4gLWxYcG0uLi4gKGNhY2hlZCkgeWVzDQpjaGVja2luZyBmb3IgbWFpbiBp<br>
biAtbGdsaWIuLi4gKGNhY2hlZCkgeWVzDQpjaGVja2luZyBmb3IgbWFpbiBp<br>
biAtbGdkay4uLiAoY2FjaGVkKSB5ZXMNCmNoZWNraW5nIGZvciBndGtfZ2Ft<br>
bWFfY3VydmVfbmV3IGluIC1sZ3RrLi4uIChjYWNoZWQpIG5vDQpjaGVja2lu<br>
ZyBmb3IgbGliZ2ltcC9naW1wLmguLi4gKGNhY2hlZCkgbm8NCmRpc2FibGlu<br>
ZyBQSU5UIGJhY2tlbmQNCmVuYWJsaW5nIFF1aWNrQ2FtIGJhY2tlbmQNCmVu<br>
YWJsaW5nIE5FVCBiYWNrZW5kDQpjcmVhdGluZyAuL2NvbmZpZy5zdGF0dXMN<br>
CmNyZWF0aW5nIE1ha2VmaWxlDQpjcmVhdGluZyBsaWIvTWFrZWZpbGUNCmNy<br>
ZWF0aW5nIHNhbmVpL01ha2VmaWxlDQpjcmVhdGluZyBmcm9udGVuZC9NYWtl<br>
ZmlsZQ0KY3JlYXRpbmcgamFwaS9NYWtlZmlsZQ0KY3JlYXRpbmcgYmFja2Vu<br>
ZC9NYWtlZmlsZQ0KY3JlYXRpbmcgaW5jbHVkZS9NYWtlZmlsZQ0KY3JlYXRp<br>
bmcgZG9jL01ha2VmaWxlDQpjcmVhdGluZyBpbmNsdWRlL3NhbmUvY29uZmln<br>
LmgNCmluY2x1ZGUvc2FuZS9jb25maWcuaCBpcyB1bmNoYW5nZWQNCioqKioq<br>
KioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioq<br>
KioqKioqKioqKioqKioNCiogUGxlYXNlIGJlIHN1cmUgdG8gcmVhZCBmaWxl<br>
IFBST0JMRU1TIGluIHRoaXMgZGlyZWN0b3J5ICAgICAgICoNCiogQkVGT1JF<br>
IHJ1bm5pbmcgYW55IG9mIHRoZSBTQU5FIGFwcGxpY2F0aW9ucy4gIFNvbWUg<br>
ZGV2aWNlcyAgICoNCiogbWF5IGJlIGRhbWFnZWQgYnkgaW5wcm9wZXIgb3Bl<br>
cmF0aW9uLCBzbyBwbGVhc2UgZG8gaGVlZCB0aGlzICoNCiogYWR2aWNlLiAg<br>
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg<br>
ICAgICAgICoNCioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioq<br>
KioqKioqKioqKioqKioqKioqKioqKioqKioqKioNCg==<br>
--0-1877996128-880246446=:259--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0136.html">Johan Bengtsson: "output of "make install" command"</a>
<li> <b>Previous message:</b> <a href="0134.html">Johan Bengtsson: "output of make command"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
