<!-- received="Sat Jul  3 05:40:14 1999 PDT" -->
<!-- sent="Sat, 03 Jul 1999 14:39:49 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: XSANE-0.27 still has problems with scan selection in preview" -->
<!-- id=" " -->
<!-- inreplyto="XSANE-0.27 still has problems with scan selection in preview" -->
<title>sane-devel: Re: XSANE-0.27 still has problems with scan selection in preview</title>
<h1>Re: XSANE-0.27 still has problems with scan selection in preview</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 03 Jul 1999 14:39:49 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#15">[ date ]</a><a href="index.html#15">[ thread ]</a><a href="subject.html#15">[ subject ]</a><a href="author.html#15">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Wolfgang Goeller: "Re: XSANE-0.27 still has problems with scan selection in preview"</a>
<li> <b>Previous message:</b> <a href="0014.html">Wolfgang Goeller: "Re: Artec AT6 yet again"</a>
<li> <b>Maybe in reply to:</b> <a href="0013.html">Kevin Dalley: "XSANE-0.27 still has problems with scan selection in preview"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0016.html">Wolfgang Goeller: "Re: XSANE-0.27 still has problems with scan selection in preview"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Kevin Dalley wrote:<br>
<p>
<i>&gt; I have still problems with the preview window in xsane.  I'm using a</i><br>
<i>&gt; Umax Astra 1200S.  When I choose the area to scan in the preview, and</i><br>
<i>&gt; then hit the "Zoom into selected area" button, I zoom close to the</i><br>
<i>&gt; selected area, but not into the selected area.  The numbers on the</i><br>
<i>&gt; scale more or less match, but the image does not match.  In the</i><br>
<i>&gt; example before me, the image is off by 0.4 inches.  I thought that</i><br>
<i>&gt; this problem was reported as solved, but I may be wrong.  Is this</i><br>
<i>&gt; still a known problem?  Does it have a solution?</i><br>
<i>&gt;</i><br>
<p>
Hello Kevin,<br>
<p>
I do not know anything of such problem,<br>
does anyone else have this problem too?<br>
<p>
Are you able to select the right area if you don't zoom?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Wolfgang Goeller: "Re: XSANE-0.27 still has problems with scan selection in preview"</a>
<li> <b>Previous message:</b> <a href="0014.html">Wolfgang Goeller: "Re: Artec AT6 yet again"</a>
<li> <b>Maybe in reply to:</b> <a href="0013.html">Kevin Dalley: "XSANE-0.27 still has problems with scan selection in preview"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0016.html">Wolfgang Goeller: "Re: XSANE-0.27 still has problems with scan selection in preview"</a>
<!-- reply="end" -->
</ul>
