<!-- received="Tue Jul  6 00:54:16 1999 PDT" -->
<!-- sent="Tue, 06 Jul 1999 09:56:15 +0200" -->
<!-- name="Wolfgang Goeller" -->
<!-- email="wgoeller@active.ch" -->
<!-- subject="Re: once more on the aha152x problem" -->
<!-- id="" -->
<!-- inreplyto="once more on the aha152x problem" -->
<title>sane-devel: Re: once more on the aha152x problem</title>
<h1>Re: once more on the aha152x problem</h1>
<b>Wolfgang Goeller</b> (<a href="mailto:wgoeller@active.ch"><i>wgoeller@active.ch</i></a>)<br>
<i>Tue, 06 Jul 1999 09:56:15 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Steve Gunnell: "Sane 1.0.1 Compilation errors with gimp 1.1.4"</a>
<li> <b>Previous message:</b> <a href="0039.html">Brian B.: "once more on the aha152x problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0039.html">Brian B.: "once more on the aha152x problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Brian B." wrote:<br>
<p>
<i>&gt; my question now lies in the "synchronous=disabled" there is a jumper the card</i><br>
<i>&gt; to enable/disable synchronous negotiation, but no matter how I set the jumper I</i><br>
<i>&gt; still get "synchronous=disabled" in the boot mesg.</i><br>
<p>
Your scanning-problems are in now way affilated with synchronous-options.<br>
synchronous is only important, if you have several devices connected to<br>
your card. So in your case this option is not useable/used.<br>
<p>
<i>&gt; Could this be some of my problem? I really am new with scsi so I really dont</i><br>
<i>&gt; know much about it. And what about termination. Is there more I need to buy</i><br>
<i>&gt; other than my card scanner and cable? </i><br>
<p>
Your scanner is - unless otherwise in the manuals stated - equipped with<br>
SCSI-termination. Your Adaptec-card is by default equipped with little<br>
inline-resistors (2 or three rows). Again: That's correct for you.<br>
<p>
To be more general: You need on both ends of the SCSI-BUS termination.<br>
<p>
T=Terminated; U=Unterminated; D=Device (Scanner/HD/CDROM...); A=SCSI-Adapter<br>
<p>
TA----UD----UD---TD or in case of internal and external Devices:<br>
TD----UD---UD---UD---UA--UD---UD---TD.<br>
Your case is the most simple case:   TA-----TD<br>
<p>
Note that this cabeling-scheme is independent of the SCSI-IDs of the devices.<br>
<p>
Regards<br>
Wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Steve Gunnell: "Sane 1.0.1 Compilation errors with gimp 1.1.4"</a>
<li> <b>Previous message:</b> <a href="0039.html">Brian B.: "once more on the aha152x problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0039.html">Brian B.: "once more on the aha152x problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
