<!-- received="Tue Jul 13 11:02:35 1999 PDT" -->
<!-- sent="Tue, 13 Jul 1999 20:09:24 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane-0.28 problems when compiling it!!" -->
<!-- id="" -->
<!-- inreplyto="xsane-0.28 problems when compiling it!!" -->
<title>sane-devel: Re: xsane-0.28 problems when compiling it!!</title>
<h1>Re: xsane-0.28 problems when compiling it!!</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 13 Jul 1999 20:09:24 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">mendes@mgconecta.com.br: "Re: xsane-0.28 problems when compiling it!!"</a>
<li> <b>Previous message:</b> <a href="0066.html">Eduardo M. A. M. Mendes: "xsane-0.28 problems when compiling it!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0066.html">Eduardo M. A. M. Mendes: "xsane-0.28 problems when compiling it!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">mendes@mgconecta.com.br: "Re: xsane-0.28 problems when compiling it!!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Eduardo M. A. M. Mendes" wrote:<br>
<p>
<i>&gt; Hello all</i><br>
<i>&gt;     I know it is silly problem but I can't solve it.</i><br>
<i>&gt;     When making xsane-0.28 I've got the following message:</i><br>
<i>&gt;</i><br>
<i>&gt; sanei_wire.c:49: sane/sane.h: No such file or directory</i><br>
<i>&gt; make[1]: *** [sanei_wire.o] Error 1</i><br>
<i>&gt; make: *** [all-recursive] Error 1</i><br>
<p>
You have to install sane-devel package if you did not<br>
compile it yourself!<br>
<p>
<p>
<i>&gt;</i><br>
<i>&gt; and something similar when compiling gtk+-1.2.3</i><br>
<i>&gt;</i><br>
<i>&gt; libtool: link: `../../glib-1.2.3/gmodule.la' is not a valid libtool archive</i><br>
<i>&gt; make[2]: *** [testgtk] Error 1</i><br>
<i>&gt; make[2]: Leaving directory `/packages/gtk+-1.2.3/gtk'</i><br>
<i>&gt; make[1]: *** [all-recursive] Error 1</i><br>
<i>&gt; make[1]: Leaving directory `/packages/gtk+-1.2.3'</i><br>
<i>&gt; make: *** [all-recursive-am] Error 2</i><br>
<i>&gt;</i><br>
<i>&gt; Any help would be appreciated.</i><br>
<p>
Don`t know about that!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">mendes@mgconecta.com.br: "Re: xsane-0.28 problems when compiling it!!"</a>
<li> <b>Previous message:</b> <a href="0066.html">Eduardo M. A. M. Mendes: "xsane-0.28 problems when compiling it!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0066.html">Eduardo M. A. M. Mendes: "xsane-0.28 problems when compiling it!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">mendes@mgconecta.com.br: "Re: xsane-0.28 problems when compiling it!!"</a>
<!-- reply="end" -->
</ul>
