<!-- received="Thu Jul 15 07:56:15 1999 PDT" -->
<!-- sent="Thu, 15 Jul 1999 17:02:41 GMT" -->
<!-- name="Meino Christian Cramer" -->
<!-- email="root@solfire.ludwigsburg.netsurf.de" -->
<!-- subject="defunct reader process after scan an image..." -->
<!-- id="19990715170241B.root@solfire.ludwigsburg.netsurf.de" -->
<!-- inreplyto="378DA75E.A4AE5277@satzbau-gmbh.de" -->
<title>sane-devel: defunct reader process after scan an image...</title>
<h1>defunct reader process after scan an image...</h1>
<b>Meino Christian Cramer</b> (<a href="mailto:root@solfire.ludwigsburg.netsurf.de"><i>root@solfire.ludwigsburg.netsurf.de</i></a>)<br>
<i>Thu, 15 Jul 1999 17:02:41 GMT</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#80">[ date ]</a><a href="index.html#80">[ thread ]</a><a href="subject.html#80">[ subject ]</a><a href="author.html#80">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Lee Bartolotti: "Re: My configure problem with 0.28"</a>
<li> <b>Previous message:</b> <a href="0079.html">Oliver Rauch: "Re: Xsane questions and wish list"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0082.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: defunct reader process after scan an image..."</a>
<li> <b>Reply:</b> <a href="0082.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: defunct reader process after scan an image..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all!<br>
<p>
 Currently I am writing a backend for the AVISION AV630CS-scanner.<br>
 Grayscale, Dithered, Line Art and True color are working, in <br>
 preview mode also. Scan speed, quality scan/calibration switch is<br>
 implemented, resolution is scalable from 50 dpi up to 1200 dpi.<br>
 Windowsize is scalable also :-)<br>
<p>
 BUT: There is one problem. The resulting images are ok - while<br>
 reading those with xv, I get NO "truncated image data" or something<br>
 like that warning. On the other hand, the progress bar ends its work<br>
 before reaching the 100% mark. There is not MUCH way left, but...<br>
<p>
 AND (more bad) after scanning a picture I'll get a "defunct" reader<br>
 process. Hmmm.... <br>
<p>
 Does anyone out there has any clue, why this happens?<br>
 For e it looks like, that the reader process THINKS there is<br>
 some data left to read. But all parts of the program read from<br>
 the same source of information. So, if the reader process is<br>
 wrongly informed: Why is the data of the image correct?????<br>
<p>
 ANY help VERY appreciated...otherwise I will get pixelized ;o)<br>
<p>
  <br>
 <br>
 KEEP HACKING THE MATRIX!<br>
 Meino<br>
<p>
<p>
           ---------------------------------------------<br>
           *** YOU CAN STILL GET OUT OF THE MATRIX!  ***<br>
           ***              USE LINUX!               ***<br>
           ---------------------------------------------<br>
<p>
--------------------------------------------------------------------------<br>
Anyone sending unwanted advertising e-mail to this address will be charged<br>
$25 for network traffic and computing time. By extracting my address from<br>
this message or its header, you agree to these terms.<br>
--------------------------------------------------------------------------<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Lee Bartolotti: "Re: My configure problem with 0.28"</a>
<li> <b>Previous message:</b> <a href="0079.html">Oliver Rauch: "Re: Xsane questions and wish list"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0082.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: defunct reader process after scan an image..."</a>
<li> <b>Reply:</b> <a href="0082.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: defunct reader process after scan an image..."</a>
<!-- reply="end" -->
</ul>
