<!-- received="Mon Jul 19 04:29:25 1999 PDT" -->
<!-- sent="Mon, 19 Jul 1999 13:39:49 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: Release early, release often" -->
<!-- id="199907191139.NAA09653@lee.cc.uit.no" -->
<!-- inreplyto="Release early, release often" -->
<title>sane-devel: Re: Release early, release often</title>
<h1>Re: Release early, release often</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Mon, 19 Jul 1999 13:39:49 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#115">[ date ]</a><a href="index.html#115">[ thread ]</a><a href="subject.html#115">[ subject ]</a><a href="author.html#115">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Oliver Rauch: "Re: Possible xsane bug?"</a>
<li> <b>Previous message:</b> <a href="0114.html">Wolfgang Denk: "Re: newbie question"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Petter Reinholdtsen: "Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Kevin Charter: "Re: Release early, release often"</a>
<li> <b>Reply:</b> <a href="0122.html">Kevin Charter: "Re: Release early, release often"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Andreas Rick]<br>
<i>&gt; I'm not too familiar with CVS myself, but I'm willing to learn.</i><br>
<p>
You can have a look at<br>
&lt;URL:<a href="http://www.loria.fr/~molli/cvs/cvs-tut/cvs_tutorial_toc.html">http://www.loria.fr/~molli/cvs/cvs-tut/cvs_tutorial_toc.html</a>&gt; to<br>
find out more.<br>
<p>
<i>&gt; I wouldn't mind injecting my work on the Coolscan Backend into CVS.</i><br>
<i>&gt; It needs some changes to sane.h and I was wondering what I have to</i><br>
<i>&gt; do to get them accepted and included.</i><br>
<p>
Well, the CVS server will not solve that problem.  All API changes<br>
must still be agreed upon before changes are made.  The only thing CVS <br>
does it making the change available when it is done.<br>
<p>
[Nick Lamb]<br>
<i>&gt; Does someone have the TIME to do the thankless donkey-work required</i><br>
<i>&gt; for Release Early and Often on a big project like SANE?</i><br>
<p>
I beleave a CVS repository with write access to all maintainers would<br>
make it easy to release often.  Anyone can do 'make dist' at any time<br>
to generate a distribution and upload it to the ftp site.<br>
<p>
Some projects have 'release-masters' to do this job.  Once in a while,<br>
one must have code freeze to make a proper release, but most bugs<br>
should already be fixed because of the tested snapshot releases.<br>
<p>
David should not have to do all the work.  When he has little time to<br>
spare, it creates a bottle-neck in the development process.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Oliver Rauch: "Re: Possible xsane bug?"</a>
<li> <b>Previous message:</b> <a href="0114.html">Wolfgang Denk: "Re: newbie question"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Petter Reinholdtsen: "Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">Kevin Charter: "Re: Release early, release often"</a>
<li> <b>Reply:</b> <a href="0122.html">Kevin Charter: "Re: Release early, release often"</a>
<!-- reply="end" -->
</ul>
