<!-- received="Mon Jul 19 17:38:02 1999 PDT" -->
<!-- sent="Mon, 19 Jul 1999 01:15:03 +0000" -->
<!-- name="Adam Williams" -->
<!-- email="awilliam@whitemice.org" -->
<!-- subject="Re: Possible xsane bug?" -->
<!-- id="9907190115.ZM19265@estate1.whitemice.org" -->
<!-- inreplyto="9907180118.ZM14450@estate1.whitemice.org" -->
<title>sane-devel: Re: Possible xsane bug?</title>
<h1>Re: Possible xsane bug?</h1>
<b>Adam Williams</b> (<a href="mailto:awilliam@whitemice.org"><i>awilliam@whitemice.org</i></a>)<br>
<i>Mon, 19 Jul 1999 01:15:03 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#119">[ date ]</a><a href="index.html#119">[ thread ]</a><a href="subject.html#119">[ subject ]</a><a href="author.html#119">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">Paul Waldo: "Re: Scanjet 5P and seg fault"</a>
<li> <b>Previous message:</b> <a href="0118.html">Bernd Schroeder: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>In reply to:</b> <a href="0108.html">Adam Williams: "Possible xsane bug?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0128.html">Oliver Rauch: "Re: Possible xsane bug?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; When I use the copy function of xsane 0.29 it only produces the "bottom"</i><br>
3/4 of<br>
<i>&gt; &gt; the page.  In scan mode it seems to work correctly.  My sane is 1.01 and my</i><br>
<i>&gt; &gt; scanner is a HP 4c.  Is this a bug or am I missing something obvious (I</i><br>
have<br>
<i>&gt; &gt; tried endless setting diddles).</i><br>
<i>&gt; &gt;</i><br>
<i>&gt;</i><br>
<i>&gt; Hi Adam,</i><br>
<i>&gt;</i><br>
<i>&gt; I tested it with my umax scanner and everything works fine.</i><br>
<i>&gt;</i><br>
<i>&gt; Is your zoomfactor to large?</i><br>
<i>&gt;</i><br>
<i>&gt; If you select scan mode: do you select the resolution with a slider</i><br>
<i>&gt;</i><br>
<i>&gt; or from a list?</i><br>
<i>&gt;</i><br>
<p>
The zoom factor on the slider is at it's default of 1.  I discovered I have to<br>
put the page in the middle of the scanner,  even if I pick size letter in the<br>
preview window.  I assumed you would put on the same starting point you use in<br>
scanning?  Is that a mistaked assumption?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">Paul Waldo: "Re: Scanjet 5P and seg fault"</a>
<li> <b>Previous message:</b> <a href="0118.html">Bernd Schroeder: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>In reply to:</b> <a href="0108.html">Adam Williams: "Possible xsane bug?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0128.html">Oliver Rauch: "Re: Possible xsane bug?"</a>
<!-- reply="end" -->
</ul>
