<!-- received="Sat Jul 24 05:43:51 1999 PDT" -->
<!-- sent="Sat, 24 Jul 1999 14:58:14 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Anyone with a Umax Document Feeder?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Anyone with a Umax Document Feeder?</title>
<h1>Anyone with a Umax Document Feeder?</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 24 Jul 1999 14:58:14 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#152">[ date ]</a><a href="index.html#152">[ thread ]</a><a href="subject.html#152">[ subject ]</a><a href="author.html#152">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Bernd Schroeder: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>Previous message:</b> <a href="0151.html">Oliver Rauch: "Re: Problem with Astra 1200s"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0161.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Reply:</b> <a href="0161.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Reply:</b> <a href="0164.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Reply:</b> <a href="0166.html">Tom Martone: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Reply:</b> <a href="0173.html">Tom: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Reply:</b> <a href="0177.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Reply:</b> <a href="0179.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I am working on support for a Document Feeder for xsane.<br>
<p>
Is there anyone who has a document feeder, best would be<br>
someone with a umax scanner.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Bernd Schroeder: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>Previous message:</b> <a href="0151.html">Oliver Rauch: "Re: Problem with Astra 1200s"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0161.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Reply:</b> <a href="0161.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Reply:</b> <a href="0164.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Reply:</b> <a href="0166.html">Tom Martone: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Reply:</b> <a href="0173.html">Tom: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Reply:</b> <a href="0177.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Reply:</b> <a href="0179.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<!-- reply="end" -->
</ul>
