<!-- received="Mon Jul 26 11:50:49 1999 PDT" -->
<!-- sent="Mon, 26 Jul 1999 21:05:10 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: CVS web page?" -->
<!-- id="199907261905.VAA27607@lee.Cc.Uit.No" -->
<!-- inreplyto="CVS web page?" -->
<title>sane-devel: Re: CVS web page?</title>
<h1>Re: CVS web page?</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Mon, 26 Jul 1999 21:05:10 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#180">[ date ]</a><a href="index.html#180">[ thread ]</a><a href="subject.html#180">[ subject ]</a><a href="author.html#180">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">regis rampnoux: "RE: supported scanner that can scan from microfilm?"</a>
<li> <b>Previous message:</b> <a href="0179.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Maybe in reply to:</b> <a href="0169.html">Petter Reinholdtsen: "CVS web page?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Andreas Rick]<br>
<i>&gt; Does the new developement process work already?</i><br>
<p>
Not yet.  The backend maintainers has to get approval on write access<br>
from David, and David has to use CVS more actively to get this<br>
working.<br>
<p>
<i>&gt; Who has currently write access to the CVS server?</i><br>
<p>
Currently only David.  (And me obviously, but I don't use it on the<br>
main branch :-)<br>
<p>
<i>&gt; To whom should I send patches for the coolscan-backend or should I</i><br>
<i>&gt; ask for write access myself?</i><br>
<p>
Patches are sendt to the backend maintainer, as always.  It will<br>
probably be that way for years to come. :-)<br>
<p>
Easier access to the source does not mean changes in how the<br>
development is done.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">regis rampnoux: "RE: supported scanner that can scan from microfilm?"</a>
<li> <b>Previous message:</b> <a href="0179.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Maybe in reply to:</b> <a href="0169.html">Petter Reinholdtsen: "CVS web page?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
