<!-- received="Mon Jul 26 16:38:19 1999 PDT" -->
<!-- sent="Mon, 26 Jul 1999 17:48:53 -0600" -->
<!-- name="Keith Gross" -->
<!-- email="kegross@webaccess.net" -->
<!-- subject="OCR package?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: OCR package?</title>
<h1>OCR package?</h1>
<b>Keith Gross</b> (<a href="mailto:kegross@webaccess.net"><i>kegross@webaccess.net</i></a>)<br>
<i>Mon, 26 Jul 1999 17:48:53 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#183">[ date ]</a><a href="index.html#183">[ thread ]</a><a href="subject.html#183">[ subject ]</a><a href="author.html#183">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">Mike Harris: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>Previous message:</b> <a href="0182.html">Nick Lamb: "Document Feeders (was Re: Anyone with a Umax Document Feeder?)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0186.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: OCR package?"</a>
<li> <b>Reply:</b> <a href="0186.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: OCR package?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Can someone on this list recommend a good OCR package for Linux?<br>
<p>
--Keith<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0184.html">Mike Harris: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>Previous message:</b> <a href="0182.html">Nick Lamb: "Document Feeders (was Re: Anyone with a Umax Document Feeder?)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0186.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: OCR package?"</a>
<li> <b>Reply:</b> <a href="0186.html">=?iso-8859-1?Q?Fran=E7ois=20D=E9sarm=E9nien?=: "Re: OCR package?"</a>
<!-- reply="end" -->
</ul>
