<!-- received="Tue Jul 27 13:30:38 1999 PDT" -->
<!-- sent="Tue, 27 Jul 1999 21:56:51 +0200" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: ScanJet 4c on (DEC Alpha) NetBSD problem" -->
<!-- id="" -->
<!-- inreplyto="ScanJet 4c on (DEC Alpha) NetBSD problem" -->
<title>sane-devel: Re: ScanJet 4c on (DEC Alpha) NetBSD problem</title>
<h1>Re: ScanJet 4c on (DEC Alpha) NetBSD problem</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Tue, 27 Jul 1999 21:56:51 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#198">[ date ]</a><a href="index.html#198">[ thread ]</a><a href="subject.html#198">[ subject ]</a><a href="author.html#198">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Ewald R. de Wit: "LS30 prescan"</a>
<li> <b>Previous message:</b> <a href="0197.html">Peter Kirchgessner: "sane on HP-UX"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Major A wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hello,</i><br>
<i>&gt; </i><br>
<i>&gt; I have problems getting a HP scanner working on a DEC Alpha 3000 running</i><br>
<i>&gt; NetBSD release 1.4. The scanner is a ScanJet 4c (SCSI). It is recognized</i><br>
<i>&gt; by cdrecord 1.6.1:</i><br>
<i>&gt; </i><br>
<i>&gt; ~ #cdrecord dev=/dev/uk0 -inq</i><br>
<i>&gt; Cdrecord release 1.6.1 Copyright (C) 1995-1998 Jrg Schilling</i><br>
<i>&gt; scsidev: '/dev/uk0'</i><br>
<i>&gt; devname: '/dev/uk0'</i><br>
<i>&gt; scsibus: -2 target: -2 lun: -2</i><br>
<i>&gt; Device type    : Processor</i><br>
<i>&gt; Version        : 2</i><br>
<i>&gt; Response Format: 2</i><br>
<i>&gt; Capabilities   :</i><br>
<i>&gt; Vendor_info    : 'HP      '</i><br>
<i>&gt; Identifikation : 'C2520A          '</i><br>
<i>&gt; Revision       : '3503'</i><br>
<i>&gt; Device seems to be: unknown.</i><br>
<i>&gt; </i><br>
<i>&gt; The find-scanner tool of SANE 1.0.1 says:</i><br>
<i>&gt; </i><br>
<i>&gt; ~ #/scratch/sane-1.0.1/tools/find-scanner</i><br>
<i>&gt; find-scanner: found processor "  " at device /dev/uk0</i><br>
<p>
Hi Anndras,<br>
<p>
this should say: found processor "HP C2520A 3503"<br>
So the find-scanner tool may also encounter the problems.<br>
<p>
<i>&gt; </i><br>
<i>&gt; Nevertheless, scanimage refuses to recognize the scanner. The output of</i><br>
<i>&gt; scanimage is:</i><br>
<i>&gt; </i><br>
<i>&gt; ~ #export SANE_DEBUG_HP=128</i><br>
<i>&gt; ~ #scanimage -L</i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of hp to 128.</i><br>
<i>&gt; [hp] init called</i><br>
<i>&gt; [hp] get_devices called</i><br>
<i>&gt; [hp] hp_read_config: hp backend v0.82 starts reading config file</i><br>
<i>&gt; [hp] hp_read_config: processing line &lt;scsi HP&gt;</i><br>
<i>&gt; [hp] hp_read_config: processing line &lt;/dev/scanner&gt;</i><br>
<i>&gt; [hp] hp_read_config: attach scsi HP</i><br>
<i>&gt; [hp] hp_read_config: attach /dev/scanner</i><br>
<i>&gt; [hp] hp_get_dev: New device /dev/scanner, connect-scsi, scsi-request=1</i><br>
<i>&gt; [hp] scsi_inquire: sending INQUIRE</i><br>
<i>&gt; [hp] scsi_new: sending TEST_UNIT_READY</i><br>
<i>&gt; [hp] scsi_flush: writing 2 bytes:</i><br>
<i>&gt;  0x0000  1B 45                                            .E</i><br>
<i>&gt; [hp] scsi_flush: writing 7 bytes:</i><br>
<i>&gt;  0x0000  1B 2A 73 32 35 37 45                             .*s257E</i><br>
<i>&gt; [hp] scsi_read:  9 bytes:</i><br>
<i>&gt;  0x0000  1B 2A 73 32 35 37 64 30 00                       .*s257d0.</i><br>
<p>
The 00-character is definitely wrong. The scanner should respond with a<br>
'V' at that place like:<br>
<p>
[hp] scsi_read:  16 bytes:<br>
 0x0000  1B 2A 73 32 35 37 64 30 56 50 20 20 20 20 20 20  .*s257d0VP<br>
<p>
<p>
<i>&gt; [hp] scl_inq: malformed response: expected 'V', got ''</i><br>
<i>&gt; [hp] scl_errcheck: Can't read SCL error stack: Error during device I/O</i><br>
<i>&gt; [hp] sanei_hp_device_new: SCL reset failed</i><br>
<i>&gt; [hp] scsi_close: closing fd 5</i><br>
<i>&gt; [hp] exit called</i><br>
<i>&gt; </i><br>
<i>&gt; I would appreciate any help. Thanks in advance,</i><br>
<i>&gt; </i><br>
<i>&gt;       Andras (CIP-Service, Universitaet Stuttgart)</i><br>
<i>&gt; </i><br>
<i>&gt; ===========================================================================</i><br>
<i>&gt; Major Andras</i><br>
<i>&gt;     e-mail: 1. <a href="mailto:andras@sticks.phy.bris.ac.uk">andras@sticks.phy.bris.ac.uk</a></i><br>
<i>&gt;             2. <a href="mailto:andras@physcip.uni-stuttgart.de">andras@physcip.uni-stuttgart.de</a></i><br>
<i>&gt;     www:    <a href="http://wwwcip.rus.uni-stuttgart.de/~phy10296/">http://wwwcip.rus.uni-stuttgart.de/~phy10296/</a></i><br>
<i>&gt; ===========================================================================</i><br>
<p>
There could be several problems:<br>
- the backend has problems with the DEC-Alpha architecture. But I think<br>
there are other Alpha-users which use HP-scanners.<br>
- Timing problems with read operations. It seems that the scanner has<br>
recognized the Reset (EscE) and the inquire error stack command<br>
(Esc*s257E). The beginning of the response is ok. But it is incomplete.<br>
I have posted this to the sane-devel mailing list. Maybe someone knows a<br>
solution to that problem.<br>
<p>
Sincerely<br>
<p>
Peter<br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Ewald R. de Wit: "LS30 prescan"</a>
<li> <b>Previous message:</b> <a href="0197.html">Peter Kirchgessner: "sane on HP-UX"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
