<!-- received="Tue Jul 27 14:53:58 1999 PDT" -->
<!-- sent="Wed, 28 Jul 1999 00:10:04 +0200" -->
<!-- name="Ewald R. de Wit" -->
<!-- email="ewald@pobox.com" -->
<!-- subject="LS30 prescan" -->
<!-- id="" -->
<!-- inreplyto="379D9B81.83635113@gemse.fr" -->
<title>sane-devel: LS30 prescan</title>
<h1>LS30 prescan</h1>
<b>Ewald R. de Wit</b> (<a href="mailto:ewald@pobox.com"><i>ewald@pobox.com</i></a>)<br>
<i>Wed, 28 Jul 1999 00:10:04 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#199">[ date ]</a><a href="index.html#199">[ thread ]</a><a href="subject.html#199">[ subject ]</a><a href="author.html#199">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Bernd Schroeder: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>Previous message:</b> <a href="0198.html">Peter Kirchgessner: "Re: ScanJet 4c on (DEC Alpha) NetBSD problem"</a>
<li> <b>In reply to:</b> <a href="0188.html">Andreas Rick: "Re: Document Feeders"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0202.html">Andreas Rick: "Re: LS30 prescan"</a>
<li> <b>Reply:</b> <a href="0202.html">Andreas Rick: "Re: LS30 prescan"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Andreas Rick (<a href="mailto:rickand@gemse.fr">rickand@gemse.fr</a>) wrote:<br>
<p>
<i>&gt; When you put the film strip into the scanner </i><br>
<i>&gt; (Strip of up to 6  24*36mm slides/negatives )</i><br>
<i>&gt; the scanner does a very quick scan of the whole strip </i><br>
<i>&gt; to find out and store the positions of all images. </i><br>
<p>
Are you positive about this? I thought the prescan was to<br>
establish the density of the images on the filmstrip and<br>
to use the optimal exposure time for each colorchannel<br>
(to fill the full bit range). It can do the positioning<br>
without prescan too so that's why I was wondering.<br>
<p>
Btw, is there anyway a frontend could extract the proper<br>
RGB exposure times from you backend?<br>
<p>
<pre>
-- 
  --  Ewald
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Bernd Schroeder: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>Previous message:</b> <a href="0198.html">Peter Kirchgessner: "Re: ScanJet 4c on (DEC Alpha) NetBSD problem"</a>
<li> <b>In reply to:</b> <a href="0188.html">Andreas Rick: "Re: Document Feeders"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0202.html">Andreas Rick: "Re: LS30 prescan"</a>
<li> <b>Reply:</b> <a href="0202.html">Andreas Rick: "Re: LS30 prescan"</a>
<!-- reply="end" -->
</ul>
