<!-- received="Wed Jul 28 09:07:23 1999 PDT" -->
<!-- sent="Wed, 28 Jul 1999 18:24:05 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: sane-1.0.1 available for SCO UnixWare 7.1" -->
<!-- id="199907281624.SAA02543@lee.Cc.Uit.No" -->
<!-- inreplyto="sane-1.0.1 available for SCO UnixWare 7.1" -->
<title>sane-devel: Re: sane-1.0.1 available for SCO UnixWare 7.1</title>
<h1>Re: sane-1.0.1 available for SCO UnixWare 7.1</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Wed, 28 Jul 1999 18:24:05 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#207">[ date ]</a><a href="index.html#207">[ thread ]</a><a href="subject.html#207">[ subject ]</a><a href="author.html#207">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0208.html">Ewald R. de Wit: "SANE &amp; exposure times"</a>
<li> <b>Previous message:</b> <a href="0206.html">Jan Wieck: "Y range max on tamarack"</a>
<li> <b>Maybe in reply to:</b> <a href="0191.html">Jens Scheithauer: "sane-1.0.1 available for SCO UnixWare 7.1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Jens Scheithauer ]<br>
<i>&gt; I also had to add a couple of lines to ltconfig and config.sub in</i><br>
<i>&gt; order to get the configure scripts to recognise the OS. I'm not</i><br>
<i>&gt; entirely sure about these config related changes.</i><br>
<p>
Make sure to contribute these changes to the libtool maintainers.<br>
Check &lt;URL:<a href="http://www.gnu.org/software/libtool/libtool.html">http://www.gnu.org/software/libtool/libtool.html</a>&gt; for more<br>
info.<br>
<p>
According to the web page, SCO UnixWare 7.x is already supported.  Is<br>
this correct?<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0208.html">Ewald R. de Wit: "SANE &amp; exposure times"</a>
<li> <b>Previous message:</b> <a href="0206.html">Jan Wieck: "Y range max on tamarack"</a>
<li> <b>Maybe in reply to:</b> <a href="0191.html">Jens Scheithauer: "sane-1.0.1 available for SCO UnixWare 7.1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
