<!-- received="Wed Jul 28 11:22:08 1999 PDT" -->
<!-- sent="Wed, 28 Jul 1999 20:38:55 +0200" -->
<!-- name="Ewald R. de Wit" -->
<!-- email="ewald@pobox.com" -->
<!-- subject="SANE &amp; exposure times" -->
<!-- id="" -->
<!-- inreplyto="379EFE78.9A5E5276@gemse.fr" -->
<title>sane-devel: SANE &amp; exposure times</title>
<h1>SANE &amp; exposure times</h1>
<b>Ewald R. de Wit</b> (<a href="mailto:ewald@pobox.com"><i>ewald@pobox.com</i></a>)<br>
<i>Wed, 28 Jul 1999 20:38:55 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#208">[ date ]</a><a href="index.html#208">[ thread ]</a><a href="subject.html#208">[ subject ]</a><a href="author.html#208">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0209.html">Brandon Ibach: "Vivicam 2000 / Mustek VDC-100"</a>
<li> <b>Previous message:</b> <a href="0207.html">Petter Reinholdtsen: "Re: sane-1.0.1 available for SCO UnixWare 7.1"</a>
<li> <b>In reply to:</b> <a href="0202.html">Andreas Rick: "Re: LS30 prescan"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0210.html">Andreas Rick: "Re: SANE &amp; exposure times"</a>
<li> <b>Reply:</b> <a href="0210.html">Andreas Rick: "Re: SANE &amp; exposure times"</a>
<li> <b>Reply:</b> <a href="0211.html">Didier Carlier: "Re: SANE &amp; exposure times"</a>
<li> <b>Reply:</b> <a href="0212.html">Andreas Rick: "Re: SANE &amp; exposure times"</a>
<li> <b>Reply:</b> <a href="0220.html">Didier Carlier: "Re: SANE &amp; exposure times"</a>
<li> <b>Reply:</b> <a href="0221.html">Andreas Rick: "Re: SANE &amp; exposure times"</a>
<li> <b>Reply:</b> <a href="0225.html">Oliver Rauch: "Re: SANE &amp; exposure times"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Andreas Rick (<a href="mailto:rickand@gemse.fr">rickand@gemse.fr</a>) wrote:<br>
<i>&gt; When I said "quick scan" I didn't mean the "prescan".</i><br>
<i>&gt; The "quick scan" happens when you put in the film without</i><br>
<i>&gt; sending anything to the scanner on the SCSI bus.</i><br>
<i>&gt; I called it "quick scan" as it determines already something</i><br>
<i>&gt; based on the images on the film - I'm not sure whether the</i><br>
<i>&gt; scanner is actually scanning.</i><br>
<i>&gt; As you said: "Prescan" - which you have to ask for by a SCSI command once</i><br>
<i>&gt; you have positioned the film on one image - is to find the exposure time.</i><br>
<p>
Ok, thanks for clearing this up for me.<br>
 <br>
<i>&gt; &gt; Btw, is there anyway a frontend could extract the proper</i><br>
<i>&gt; &gt; RGB exposure times from you backend?</i><br>
<i>&gt; </i><br>
<i>&gt; Not in version 0.4.2 but I am working on the problem.</i><br>
<i>&gt; Do you really need these values or would it be sufficient</i><br>
<i>&gt; if you can change the exposure time in percent of the optimal</i><br>
<i>&gt; value determined by the prescan as it was for the LS-20?</i><br>
<p>
My concern is not changing the values but getting them from the<br>
backend so the frontend knows how to make sense out of the RGB values.<br>
I think we could use SANE_NAME_SCAN_EXPOS_TIME_R (defined in<br>
sane/saneopts.h) and friends for that. That is, the frontend should<br>
check these options and if they are present then it should divide the<br>
RGB values by their corresponding exposure time.<br>
<p>
The RGB exposure options that the backend exports need not be absolute<br>
in any way; they can be relative to each other and the frontend should<br>
be able to make sense of it.<br>
<p>
An alternative way would be to do the dividing in the backends. Since<br>
we're dealing with filmscanners here that will most likely use <br>
16 bit transmit data, there is no loss of accuracy. For 8 bit data<br>
there would be unacceptable loss of accuracy when scanning negatives.<br>
<p>
So where should we put it, in the frontend or up the backend?<br>
<p>
<pre>
-- 
  --  Ewald
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0209.html">Brandon Ibach: "Vivicam 2000 / Mustek VDC-100"</a>
<li> <b>Previous message:</b> <a href="0207.html">Petter Reinholdtsen: "Re: sane-1.0.1 available for SCO UnixWare 7.1"</a>
<li> <b>In reply to:</b> <a href="0202.html">Andreas Rick: "Re: LS30 prescan"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0210.html">Andreas Rick: "Re: SANE &amp; exposure times"</a>
<li> <b>Reply:</b> <a href="0210.html">Andreas Rick: "Re: SANE &amp; exposure times"</a>
<li> <b>Reply:</b> <a href="0211.html">Didier Carlier: "Re: SANE &amp; exposure times"</a>
<li> <b>Reply:</b> <a href="0212.html">Andreas Rick: "Re: SANE &amp; exposure times"</a>
<li> <b>Reply:</b> <a href="0220.html">Didier Carlier: "Re: SANE &amp; exposure times"</a>
<li> <b>Reply:</b> <a href="0221.html">Andreas Rick: "Re: SANE &amp; exposure times"</a>
<li> <b>Reply:</b> <a href="0225.html">Oliver Rauch: "Re: SANE &amp; exposure times"</a>
<!-- reply="end" -->
</ul>
