<!-- received="Thu Jul 29 11:19:00 1999 PDT" -->
<!-- sent="Thu, 29 Jul 1999 19:36:26 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: SANE &amp; exposure times" -->
<!-- id="" -->
<!-- inreplyto="19990729200833.A3095@bitterling.LeidenUniv.nl" -->
<title>sane-devel: Re: SANE &amp; exposure times</title>
<h1>Re: SANE &amp; exposure times</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Thu, 29 Jul 1999 19:36:26 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#218">[ date ]</a><a href="index.html#218">[ thread ]</a><a href="subject.html#218">[ subject ]</a><a href="author.html#218">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0219.html">Stephen Williams: "scanners that do jpeg compression"</a>
<li> <b>Previous message:</b> <a href="0217.html">Ewald R. de Wit: "Re: SANE &amp; exposure times"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 29 Jul 1999, Ewald R. de Wit wrote:<br>
<p>
<i>&gt; Nick Lamb (<a href="mailto:njl98r@ecs.soton.ac.uk">njl98r@ecs.soton.ac.uk</a>) wrote:</i><br>
<i>&gt; &gt; There is a third option which won't have me (or anyone else) crying out</i><br>
<i>&gt; &gt; for the lost precision from messing about with my data in the backend,</i><br>
<i>&gt; &gt; while avoiding having to put the same code in every frontend...</i><br>
<i>&gt; </i><br>
<i>&gt; Like, how many frontends are there? It is easy to implement and if</i><br>
<i>&gt; it's not implemented then flatbed users won't miss a thing.</i><br>
<p>
True, that's fine also -- I was just worried that people were going to<br>
run off with the last 8 bits of my precision, in the backend  ;)<br>
<p>
<i>&gt; My frontend *wants* to know about negatives. It wants to know the exact</i><br>
<i>&gt; film density and do stuff with it. I don't need no stinking proxy</i><br>
<i>&gt; mangling my pure raw scandata before it enters my precious enhance routines!</i><br>
<p>
Proxies are of course, optional to the user, and potentially optional to<br>
a smart frontend too. The user can just pick the raw backend from the<br>
device-list, and no "stinking proxy" will get involved. Point taken anyway<br>
<p>
<i>&gt; The disadvantages you mention are only when it's implemented in the</i><br>
<i>&gt; backend. The more I thought about it the more I felt that exposure time</i><br>
<i>&gt; correction should be in the frontend. Anyway I've implemented it in my</i><br>
<i>&gt; experimental frontend and it works great.</i><br>
<p>
Cool. The only thing I wanted to avoid was unnecessary data-mangling in<br>
the backend. Creating/ modifying a frontend is a much better solution,<br>
and I hope eventually autofocus will work with the LS-30 here, so I can<br>
try some of this properly :)<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0219.html">Stephen Williams: "scanners that do jpeg compression"</a>
<li> <b>Previous message:</b> <a href="0217.html">Ewald R. de Wit: "Re: SANE &amp; exposure times"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
