<!-- received="Sat Jul 31 02:02:41 1999 PDT" -->
<!-- sent="Sat, 31 Jul 1999 11:01:40 +0200" -->
<!-- name="Ewald R. de Wit" -->
<!-- email="ewald@pobox.com" -->
<!-- subject="Re: SANE &amp; exposure times" -->
<!-- id="" -->
<!-- inreplyto="37A17BD9.6D002F5D@gemse.fr" -->
<title>sane-devel: Re: SANE &amp; exposure times</title>
<h1>Re: SANE &amp; exposure times</h1>
<b>Ewald R. de Wit</b> (<a href="mailto:ewald@pobox.com"><i>ewald@pobox.com</i></a>)<br>
<i>Sat, 31 Jul 1999 11:01:40 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#223">[ date ]</a><a href="index.html#223">[ thread ]</a><a href="subject.html#223">[ subject ]</a><a href="author.html#223">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0224.html">Ewald R. de Wit: "Re: SANE &amp; exposure times"</a>
<li> <b>Previous message:</b> <a href="0222.html">Stephen Williams: "Re: SANE &amp; exposure times"</a>
<li> <b>In reply to:</b> <a href="0221.html">Andreas Rick: "Re: SANE &amp; exposure times"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0225.html">Oliver Rauch: "Re: SANE &amp; exposure times"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Andreas Rick (<a href="mailto:rickand@gemse.fr">rickand@gemse.fr</a>) wrote:<br>
<i>&gt; I think you are right: When scanning negatives with the Coolscan scanners</i><br>
<i>&gt; the backend tells the scanner it is doing a negatives and the</i><br>
<i>&gt; scanner adapts its exposure range to the right levels for negatives.</i><br>
<i>&gt; That's why you don't get the same image when scanning a negative</i><br>
<i>&gt; using "positive" as a backend-option and inverting the image yourself.</i><br>
<i>&gt; I havn't tested the quality of this exposure adaptation throughout</i><br>
<i>&gt; a significant image base of negatives yet, but I didn't have any problems with</i><br>
<i>&gt; it either.</i><br>
<p>
Okay, so the coolscan scanner apapts the exposure automatically. That<br>
is cool but I would still like to know the exact exposure ratios. The<br>
current situation when scanning negatives is that you have to fiddle<br>
with gamma sliders till you get some slightly credible color balance.<br>
And that for every negative. This is time consuming and highly non-optimal.<br>
<p>
<i>&gt; Perhabs this is different for the HP-Photosmart?</i><br>
<p>
The Photosmart doesn't adapt exposures automatically but the theory<br>
is the same of course.<br>
 <br>
<i>&gt; So without doing multiple scanning there is no way of getting more</i><br>
<i>&gt; than 8-Bit out of the LS-20, 10 bit out of the LS-30 or 12 bit out of the</i><br>
<i>&gt; LS-2000 and there doesn't seem to be much neccessity to change</i><br>
<i>&gt; exposure values to get these 8/10/12 bit.</i><br>
<i>&gt; Can the other users of these Scanners confirm this hypothesis?</i><br>
<p>
I think the Nikons are quite unique in that they fill up the bitrange<br>
automatically but I'm not sure.<br>
 <br>
<i>&gt; I don't know too much about the subject, but I think there must be</i><br>
<i>&gt; some standards allready defined that we can use.</i><br>
<i>&gt; Who does know more about this.</i><br>
<p>
You might like to read the color and the gamma FAQ at<br>
<a href="http://www.inforamp.net/~poynton/Poynton-color.html">http://www.inforamp.net/~poynton/Poynton-color.html</a><br>
<p>
<pre>
-- 
  --  Ewald
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0224.html">Ewald R. de Wit: "Re: SANE &amp; exposure times"</a>
<li> <b>Previous message:</b> <a href="0222.html">Stephen Williams: "Re: SANE &amp; exposure times"</a>
<li> <b>In reply to:</b> <a href="0221.html">Andreas Rick: "Re: SANE &amp; exposure times"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0225.html">Oliver Rauch: "Re: SANE &amp; exposure times"</a>
<!-- reply="end" -->
</ul>
