<!-- received="Tue Sep  1 03:36:47 1998 PDT" -->
<!-- sent="Tue, 01 Sep 1998 06:40:53 -0400" -->
<!-- name="Mitch Chapman" -->
<!-- email="mchapman@siscom.net" -->
<!-- subject="Mustek Paragon 1200 III SP" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek Paragon 1200 III SP</title>
<h1>Mustek Paragon 1200 III SP</h1>
<b>Mitch Chapman</b> (<a href="mailto:mchapman@siscom.net"><i>mchapman@siscom.net</i></a>)<br>
<i>Tue, 01 Sep 1998 06:40:53 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#1">[ date ]</a><a href="index.html#1">[ thread ]</a><a href="subject.html#1">[ subject ]</a><a href="author.html#1">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">Oliver Graf: "Re: Mustek Paragon 1200 III SP"</a>
<li> <b>Previous message:</b> <a href="0000.html">Smokie@welfen-netz.com: "Optics Pro 4800 and SANE ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0002.html">Oliver Graf: "Re: Mustek Paragon 1200 III SP"</a>
<li> <b>Reply:</b> <a href="0002.html">Oliver Graf: "Re: Mustek Paragon 1200 III SP"</a>
<li> <b>Reply:</b> <a href="0012.html">Dieter Urban: "Re: Mustek Paragon 1200 III SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
A couple of weeks ago I contacted Mustek, hoping to get enough<br>
info to write a SANE driver for the 1200 III SP.  The response<br>
I got said, in part:<br>
<p>
"Our scanners are not currently supported for operation under OS/2, UNIX<br>
or<br>
Linux. I hear there are several third-party companies that are working<br>
on <br>
solutions..."<br>
<p>
I assume the folks who wrote the existing SANE Mustek drivers<br>
got the same sort of responses.  And I'm wondering where to go<br>
from here.<br>
<p>
So far I know only that the 1200 III SP provides a strange<br>
response to the SCSI Inquiry command.  The response includes<br>
a vendor identification string of "SCANNER " and a product<br>
identification string containing only blanks.  (I can include<br>
the entire raw response if anyone is interested.)<br>
Yet it claims to support the SCSI-1 command set.<br>
<p>
Any help would be greatly appreciated.<br>
<pre>
-- 
Mitch Chapman
<a href="mailto:mchapman@siscom.net">mchapman@siscom.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">Oliver Graf: "Re: Mustek Paragon 1200 III SP"</a>
<li> <b>Previous message:</b> <a href="0000.html">Smokie@welfen-netz.com: "Optics Pro 4800 and SANE ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0002.html">Oliver Graf: "Re: Mustek Paragon 1200 III SP"</a>
<li> <b>Reply:</b> <a href="0002.html">Oliver Graf: "Re: Mustek Paragon 1200 III SP"</a>
<li> <b>Reply:</b> <a href="0012.html">Dieter Urban: "Re: Mustek Paragon 1200 III SP"</a>
<!-- reply="end" -->
</ul>
