<!-- received="Fri Sep  4 21:32:35 1998 PDT" -->
<!-- sent="Fri, 4 Sep 1998 21:31:44 -0700 (PDT)" -->
<!-- name="Marcel Oliver" -->
<!-- email="moliver@math.uci.edu" -->
<!-- subject="Re: ScanMaker E3 plus Problems" -->
<!-- id="199809050431.VAA10653@math.uci.edu" -->
<!-- inreplyto="ScanMaker E3 plus Problems" -->
<title>sane-devel: Re: ScanMaker E3 plus Problems</title>
<h1>Re: ScanMaker E3 plus Problems</h1>
<b>Marcel Oliver</b> (<a href="mailto:moliver@math.uci.edu"><i>moliver@math.uci.edu</i></a>)<br>
<i>Fri, 4 Sep 1998 21:31:44 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#37">[ date ]</a><a href="index.html#37">[ thread ]</a><a href="subject.html#37">[ subject ]</a><a href="author.html#37">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">Rogier Wolff: "Re: How to build a db25 terminator"</a>
<li> <b>Previous message:</b> <a href="0036.html">Petter Adsen: "Re: ScanMaker E3 plus Problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0035.html">Marcel Oliver: "ScanMaker E3 plus Problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Petter Adsen wrote:<br>
<i>&gt; </i><br>
<i>&gt; Marcel Oliver writes:</i><br>
<i>&gt; | Hallo,</i><br>
<i>&gt; |</i><br>
<i>&gt; | I have a Microtek ScanMaker E3 plus SCSI scanner, which was reported</i><br>
<i>&gt; | in this mailing list to work with sane (that's why I bought it...).</i><br>
<i>&gt; | The scanner seems to be detected OK during system boot, but when I try</i><br>
<i>&gt; | scanimage -L, it just hangs.</i><br>
<i>&gt; |</i><br>
<i>&gt; | Is there anybody who can help me debug this?  I enclose some hopefully</i><br>
<i>&gt; | useful output below.</i><br>
<i>&gt; </i><br>
<i>&gt; I had the same problem here, but with a HP-scanner. After making sure</i><br>
<i>&gt; the permissions on /dev/sg[device] was set correctly (660), everything</i><br>
<i>&gt; worked perfectly.</i><br>
<i>&gt; </i><br>
<i>&gt; You might also (I have _no_ idea why, but it seems to sometimes make a</i><br>
<i>&gt; difference) try deleting /dev/scanner (which should only be a symlink),</i><br>
<i>&gt; and making sure the config file for your scanner only points to the SCSI</i><br>
<i>&gt; generic device for your scanner.</i><br>
<p>
Thanks for the reply.  Unfortunately tI have tried these things<br>
already, and the behavior is always the save...<br>
<p>
Marcel<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">Rogier Wolff: "Re: How to build a db25 terminator"</a>
<li> <b>Previous message:</b> <a href="0036.html">Petter Adsen: "Re: ScanMaker E3 plus Problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0035.html">Marcel Oliver: "ScanMaker E3 plus Problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
