<!-- received="Mon Sep  7 03:31:32 1998 PDT" -->
<!-- sent="Mon, 07 Sep 1998 13:34:16 +0300" -->
<!-- name="Milon Firikis" -->
<!-- email="milonf@ariadne-t.gr" -->
<!-- subject="Re: Re :- PIE (SCANACE) won't release technical info" -->
<!-- id="" -->
<!-- inreplyto="Re :- PIE (SCANACE) won't release technical info" -->
<title>sane-devel: Re: Re :- PIE (SCANACE) won't release technical info</title>
<h1>Re: Re :- PIE (SCANACE) won't release technical info</h1>
<b>Milon Firikis</b> (<a href="mailto:milonf@ariadne-t.gr"><i>milonf@ariadne-t.gr</i></a>)<br>
<i>Mon, 07 Sep 1998 13:34:16 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#56">[ date ]</a><a href="index.html#56">[ thread ]</a><a href="subject.html#56">[ subject ]</a><a href="author.html#56">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0057.html">Ian R. Justman: "Re: Apple OneScanner/Color OneScanner status?"</a>
<li> <b>Previous message:</b> <a href="0055.html">Milon Firikis: "Re: Apple OneScanner/Color OneScanner status?"</a>
<li> <b>Maybe in reply to:</b> <a href="0048.html">Dave Restall - System Administrator: "Re :- PIE (SCANACE) won't release technical info"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dave Restall - System Administrator wrote:<br>
<p>
[Snip]<br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; More specifically :-</i><br>
<i>&gt; </i><br>
<i>&gt; 1) Are there any stubs available that I just fill in the relevant parts</i><br>
<i>&gt;    of to make the driver work or do I have to start the whole thing from</i><br>
<i>&gt;    scratch ?</i><br>
<p>
Nop there is not such a thing such a stub backend. The one thing that is<br>
the closest to this is the PNM backend. This backends reads from a file<br>
and the primary reason of its existence is to demonstrate the SANE API.<br>
I wouldn't recomment to start from the PNM backend though.<br>
<p>
<i>&gt; </i><br>
<i>&gt; 2) Now I have the spec, what do I do next ?  Here I'm concerned that I</i><br>
<i>&gt;    may be reinventing the wheel, i.e. the scanace kit may be very close</i><br>
<i>&gt;    to an already developed driver, with the NDA I can't say "Does this</i><br>
<i>&gt;    look familiar ?"  I have to compare with every driver to see what is</i><br>
<i>&gt;    available, this will probably be longer than starting from 0.</i><br>
<p>
Take a good look at the specs. If you are planning to support one model<br>
choose a simpler backend for coding base. If you intend to support<br>
multiple models choose a big one. If the scanner is not SCSI choose one<br>
backend with similar interface.<br>
<p>
I personally started from the MUSTEK backend. Since it is written by the<br>
Author and the maintener of the SANE package it guarrantees the proper<br>
style that things should be. I changed all occurences of<br>
mustek-&gt;apple<br>
Mustek-&gt;Apple<br>
MUSTEK-APPLE<br>
tweaked the Makefiles (I am always build the static version of sane when<br>
I am in developing phase, with most backends taken off to save some time<br>
during compilation and linking).<br>
and built the damn thing.<br>
<p>
At this time I had an apple backend with all the functionality of the<br>
mustek backend. I started correcting things until I twisted the<br>
personality of the backend completely to the apple behaviour.<br>
<p>
It took me a week to submit the first version of the apple backend, but<br>
to be honest I had already a working program that I was using to scan.<br>
Since It was mine (I had written it) it was easy (for me) to built its<br>
functionality within the SANE Standard.<br>
<p>
<i>&gt; </i><br>
<i>&gt; The C isn't a problem, I understand the API but I would appreciate some</i><br>
<i>&gt; discussion on the various development techniques used, e.g.  "I tried</i><br>
<i>&gt; using SCSI setting XYZ and had major problems" or "I Rebooted the machine</i><br>
<i>&gt; and Scanner before EVERY test" etc.  As much help as possible would be</i><br>
<i>&gt; appreciated - simply because the time I can devote to this is now VERY</i><br>
<i>&gt; limited so it must be as smooth as possible.</i><br>
<i>&gt; </i><br>
<p>
I never rebooted my computer. In the worst case you may have to reboot<br>
your scanner, and or<br>
rmmod/insmod the scsi conntroller module (These are linuxisms of<br>
course). In most cases I think scanners are sensible enaugh to start<br>
over a fresh scan if the previous was unsucessfull or a new scan command<br>
had arrived.<br>
<p>
I hope it helps and  !!!!!!!!!! Good Luck !!!!!!!!!<br>
<p>
		Milon Firikis.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0057.html">Ian R. Justman: "Re: Apple OneScanner/Color OneScanner status?"</a>
<li> <b>Previous message:</b> <a href="0055.html">Milon Firikis: "Re: Apple OneScanner/Color OneScanner status?"</a>
<li> <b>Maybe in reply to:</b> <a href="0048.html">Dave Restall - System Administrator: "Re :- PIE (SCANACE) won't release technical info"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
