<!-- received="Wed Sep  9 07:57:56 1998 PDT" -->
<!-- sent="09 Sep 1998 16:56:55 +0200" -->
<!-- name="Kjetil Torgrim Homme" -->
<!-- email="kjetilho@ifi.uio.no" -->
<!-- subject="What works best?" -->
<!-- id="" -->
<!-- inreplyto="35F65F74.B24769CE@ariadne-t.gr" -->
<title>sane-devel: What works best?</title>
<h1>What works best?</h1>
<b>Kjetil Torgrim Homme</b> (<a href="mailto:kjetilho@ifi.uio.no"><i>kjetilho@ifi.uio.no</i></a>)<br>
<i>09 Sep 1998 16:56:55 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#62">[ date ]</a><a href="index.html#62">[ thread ]</a><a href="subject.html#62">[ subject ]</a><a href="author.html#62">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Jim Ford: "Re: What works best?"</a>
<li> <b>Previous message:</b> <a href="0061.html">Milon Firikis: "Re: Apple OneScanner/Color OneScanner status?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">Jim Ford: "Re: What works best?"</a>
<li> <b>Reply:</b> <a href="0063.html">Jim Ford: "Re: What works best?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
We want to replace our Agfa Arcus scanner with something that is<br>
supported by SANE, and I thought I'd solicit recommendations from you<br>
guys.  We'll probably hook it up to a Sun Ultra 1 workstation.<br>
<p>
I was thinking the Umax Astra 1200S might be a good choice, or perhaps<br>
a Microtek Scanmaker E6 (if it's not obsolete).<br>
<p>
Also, are there any scanners where the light source is a moving point<br>
on the market?  Of course, drum scanners qualify, but they are<br>
probably too expensive.  I'd say we'd want one in the $1000-1500<br>
range.<br>
<p>
<p>
Kjetil T.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Jim Ford: "Re: What works best?"</a>
<li> <b>Previous message:</b> <a href="0061.html">Milon Firikis: "Re: Apple OneScanner/Color OneScanner status?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">Jim Ford: "Re: What works best?"</a>
<li> <b>Reply:</b> <a href="0063.html">Jim Ford: "Re: What works best?"</a>
<!-- reply="end" -->
</ul>
