<!-- received="Wed Sep  9 11:19:52 1998 PDT" -->
<!-- sent="Wed,  9 Sep 1998 20:18:55 +0200 (CEST)" -->
<!-- name="Dieter Faulbaum" -->
<!-- email="faulbaum@bii.bessy.de" -->
<!-- subject="HP 62(0/5)0 Scanner" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP 62(0/5)0 Scanner</title>
<h1>HP 62(0/5)0 Scanner</h1>
<b>Dieter Faulbaum</b> (<a href="mailto:faulbaum@bii.bessy.de"><i>faulbaum@bii.bessy.de</i></a>)<br>
<i>Wed,  9 Sep 1998 20:18:55 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#64">[ date ]</a><a href="index.html#64">[ thread ]</a><a href="subject.html#64">[ subject ]</a><a href="author.html#64">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Antonio Mitarotondo: "Mustek 4800 P"</a>
<li> <b>Previous message:</b> <a href="0063.html">Jim Ford: "Re: What works best?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Can anyone tell me, if these (very new) scanners will work with SANE and <br>
sane-0.74.hp.0.70.tar.gz? <br>
<p>
<pre>
-- 
                                                         _~o__o
  Dieter Faulbaum                                      _`\&lt;.\&lt;,_
                                               ______ (_)/  / (_) ___
  Network-System-Administrator
  Berliner Elektronenspeicherring-Gesellschaft
  f"ur Synchrotronstrahlung mbH  (BESSY II)   phone  +49 30 6392-4652
  Rudower Chaussee 5  Geb. 15.1               fax    +49 30 6392-4649
<p>
D 12489 Berlin/Adlershof                 email  <a href="mailto:faulbaum@bii.bessy.de">faulbaum@bii.bessy.de</a>  
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Antonio Mitarotondo: "Mustek 4800 P"</a>
<li> <b>Previous message:</b> <a href="0063.html">Jim Ford: "Re: What works best?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
