<!-- received="Mon Sep 14 07:56:35 1998 PDT" -->
<!-- sent="Wed, 09 Sep 1998 17:07:16 -0400" -->
<!-- name="Webmaster Jeff Maki" -->
<!-- email="meteor2@cris.com" -->
<!-- subject="HP ScanJet 5100Cse" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP ScanJet 5100Cse</title>
<h1>HP ScanJet 5100Cse</h1>
<b>Webmaster Jeff Maki</b> (<a href="mailto:meteor2@cris.com"><i>meteor2@cris.com</i></a>)<br>
<i>Wed, 09 Sep 1998 17:07:16 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Zot O'Connor: "Re: Getting UMAX scanner to work with Future Domain"</a>
<li> <b>Previous message:</b> <a href="0088.html">Mariano Rinc\sn: "support for Mustek ScanMagic 9636P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Does anybody know if support for the HP ScanJet 5100Cse (Parallel Port<br>
EPST Connection) is being worked on? I'd work on it if I knew C, but<br>
unfortunately, I don't. I tried an EPST driver off of the internet that<br>
someone wrote, but it doesn't work too good.  It appears to detect my<br>
scanner, but then hangs with a message about "disconnected_queues". Whatever<br>
that means.Thanks for any replies!<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Zot O'Connor: "Re: Getting UMAX scanner to work with Future Domain"</a>
<li> <b>Previous message:</b> <a href="0088.html">Mariano Rinc\sn: "support for Mustek ScanMagic 9636P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
