<!-- received="Sun Sep 20 06:01:17 1998 PDT" -->
<!-- sent="Sun, 20 Sep 1998 14:02:49 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: newbie trouble" -->
<!-- id="" -->
<!-- inreplyto="newbie trouble" -->
<title>sane-devel: Re: newbie trouble</title>
<h1>Re: newbie trouble</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Sun, 20 Sep 1998 14:02:49 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#137">[ date ]</a><a href="index.html#137">[ thread ]</a><a href="subject.html#137">[ subject ]</a><a href="author.html#137">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">Kevin Dalley: "apple scanner backend hangs when using Umax sane-0.74"</a>
<li> <b>Previous message:</b> <a href="0136.html">Scott J. Kramer: "Re: E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]"</a>
<li> <b>Maybe in reply to:</b> <a href="0132.html">C. Le Cannellier, Pdt LUG Normandie: "newbie trouble"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0149.html">Dr. Andreas Bolsch: "Re: newbie trouble"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
First of all, did you configure the kernel for<br>
'generic SCSI support' and recomiled/installed it?<br>
Second, the microtek2 backend caused hanging once<br>
on my box. So, try to remove it from the makefile<br>
(.../sane-?.??/backend/Makefile) and recompile SANE.<br>
Last, specify the the device on the command line,<br>
i.e. scanimage -d mustek:/dev/sgc .<br>
Hope one of these suggestions helps.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">Kevin Dalley: "apple scanner backend hangs when using Umax sane-0.74"</a>
<li> <b>Previous message:</b> <a href="0136.html">Scott J. Kramer: "Re: E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]"</a>
<li> <b>Maybe in reply to:</b> <a href="0132.html">C. Le Cannellier, Pdt LUG Normandie: "newbie trouble"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0149.html">Dr. Andreas Bolsch: "Re: newbie trouble"</a>
<!-- reply="end" -->
</ul>
