<!-- received="Mon Sep 21 00:08:18 1998 PDT" -->
<!-- sent="21 Sep 1998 00:06:35 -0700" -->
<!-- name="Kevin Dalley" -->
<!-- email="kevind@rahul.net" -->
<!-- subject="Re: Oops artec problems (was Re: apple scanner backend hangs when  using Umax sane-0.74)" -->
<!-- id="" -->
<!-- inreplyto="Mon, 21 Sep 1998 08:12:33 +0200 (CEST)"" -->
<title>sane-devel: Re: Oops artec problems (was Re: apple scanner backend hangs when  using Umax sane-0.74)</title>
<h1>Re: Oops artec problems (was Re: apple scanner backend hangs when  using Umax sane-0.74)</h1>
<b>Kevin Dalley</b> (<a href="mailto:kevind@rahul.net"><i>kevind@rahul.net</i></a>)<br>
<i>21 Sep 1998 00:06:35 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#142">[ date ]</a><a href="index.html#142">[ thread ]</a><a href="subject.html#142">[ subject ]</a><a href="author.html#142">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">David B. Rees: "Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0141.html">Hugo van der Kooij: "Re: Oops artec problems (was Re: apple scanner backend hangs when"</a>
<li> <b>In reply to:</b> <a href="0141.html">Hugo van der Kooij: "Re: Oops artec problems (was Re: apple scanner backend hangs when"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Yes, I have checked the mailing list.  I did not find that there was a <br>
specific mention of an interaction between umax and artec.  I consider <br>
that relevant information for the developers of one of the two<br>
backends.<br>
<p>
Editing dll.conf is a workaround.  It is not a solution.  None of the<br>
backends should break any of the other backends.  This is broken<br>
behavior.<br>
<p>
Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; writes:<br>
<p>
<i>&gt; If you check the mailinglist you will find this is a known issue. Standard</i><br>
<i>&gt; operation would be to leave out all the scanner types but the one you</i><br>
<i>&gt; need.</i><br>
<p>
<pre>
--
Kevin Dalley
<a href="mailto:kevind@rahul.net">kevind@rahul.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">David B. Rees: "Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0141.html">Hugo van der Kooij: "Re: Oops artec problems (was Re: apple scanner backend hangs when"</a>
<li> <b>In reply to:</b> <a href="0141.html">Hugo van der Kooij: "Re: Oops artec problems (was Re: apple scanner backend hangs when"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
