<!-- received="Tue Sep 22 07:17:26 1998 PDT" -->
<!-- sent="Tue, 22 Sep 1998 09:16:34 -0500 (EST)" -->
<!-- name="Brian E. Bothwell" -->
<!-- email="brbothwe@cs.indiana.edu" -->
<!-- subject="Microtek ScanMaker X6EL supported??" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek ScanMaker X6EL supported??</title>
<h1>Microtek ScanMaker X6EL supported??</h1>
<b>Brian E. Bothwell</b> (<a href="mailto:brbothwe@cs.indiana.edu"><i>brbothwe@cs.indiana.edu</i></a>)<br>
<i>Tue, 22 Sep 1998 09:16:34 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#152">[ date ]</a><a href="index.html#152">[ thread ]</a><a href="subject.html#152">[ subject ]</a><a href="author.html#152">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Brian E. Bothwell: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>Previous message:</b> <a href="0151.html">Bernd Schroeder: "Re: Microtek ScanMaker V300?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I just got a Microtek ScanMaker X6EL (hanging off of a Adaptec AVA-2902<br>
adapter, which shows up successfully as a Adaptec AIC-7850 and works with<br>
the Zip drive on the same SCSI chain)<br>
<p>
I set up SANE to use only the microtek and microtek2 backends,  while the<br>
scanner seems to be recognized, SANE still complains "no SANE devices<br>
found".<br>
<p>
Anyone had any luck with this model?  It's a great scanner, and I would<br>
love not to have to boot to Windoze95 to use it.  I assume if their is no<br>
support, this is due to the fact the X6EL is so new to the market.<br>
<p>
*************************************************<br>
<p>
Here is a debugging dump of the microtek and microtek2 backends<br>
(one thing to note is the VENDOR string is '        ', and the model it<br>
shows up as is '636EL')<br>
----------------------------------------------------------------<br>
[root@scruffy sane.d]# scanimage<br>
[inquiry]<br>
120000006000<br>
[inquiryresult]<br>
060002025b00000020202020202020207363616e6e657220363336454c202020312e3130980000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000<br>
[inquiry]<br>
120000006000<br>
[inquiryresult]<br>
060002025b00000020202020202020207363616e6e657220363336454c202020312e3130980000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000<br>
[inquiry]<br>
120000006000<br>
[inquiryresult]<br>
060002025b00000020202020202020207363616e6e657220363336454c202020312e3130980000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000<br>
[inquiry]<br>
120000006000<br>
[inquiryresult]<br>
060002025b00000020202020202020207363616e6e657220363336454c202020312e3130980000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000<br>
[sanei_init_debug]: Setting debug level of microtek to 128.<br>
[microtek] sane_init:  MICROTEK says hello! (v0.9)<br>
[microtek] sane_init:  config- #Uncomment following line to disable<br>
"clever precalibration" routines...<br>
[microtek] sane_init:  config- #noprecal<br>
[microtek] sane_init:  config- #scsi VENDOR MODEL TYPE BUS CHANNEL ID LUN<br>
[microtek] sane_init:  config- #scsi * * Scanner 0 0 6 0<br>
[microtek] sane_init:  config- scsi * * Scanner<br>
[microtek] attach_scanner:  /dev/sgd<br>
[microtek] attach_scanner:  opening /dev/sgd<br>
[microtek] attach_scanner:  sending INQUIRY<br>
[microtek] id_microtek...<br>
[microtek] id_microtek:  (uses new SCSI II command set)<br>
<p>
<p>
<p>
========== Congratulations! ==========<br>
You appear to be the proud owner of a <br>
brand-new Microtek scanner, which uses<br>
a new SCSI II command set.            <br>
<p>
Try the `microtek2' backend instead.  <br>
<p>
<p>
<p>
[microtek] attach_scanner:  device doesn't look like a Microtek<br>
scanner.[microtek] dump_suspect_inquiry...<br>
  === SANE/Microtek backend v0.9 ===<br>
========== Scanner Inquiry Block ========mm<br>
06 00 02 02 5b 00 00 00 20 20 20 20 20 20 20 20 <br>
73 63 61 6e 6e 65 72 20 36 33 36 45 4c 20 20 20 <br>
31 2e 31 30 98 00 00 00 00 00 00 00 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 <br>
<p>
========== Scanner Inquiry Report ==========<br>
===== Scanner ID...<br>
Device Type Code: 0x06<br>
Model Code: 0x00<br>
Vendor Name: '        '   Model Name: 'scanner 636EL   '<br>
Firmware Rev: '1.10'<br>
SCSI F/W version: 0.0     Scanner F/W version: 0.2<br>
Response data format: 0x02<br>
<p>
<p>
[microtek] attach_scanner:  /dev/sgd<br>
[microtek] attach_scanner:  opening /dev/sgd<br>
[microtek] attach_scanner:  sending INQUIRY<br>
[microtek] id_microtek...<br>
[microtek] id_microtek:  (uses new SCSI II command set)<br>
<p>
<p>
<p>
========== Congratulations! ==========<br>
You appear to be the proud owner of a <br>
brand-new Microtek scanner, which uses<br>
a new SCSI II command set.            <br>
<p>
Try the `microtek2' backend instead.  <br>
<p>
<p>
<p>
[microtek] attach_scanner:  device doesn't look like a Microtek<br>
scanner.[microtek] dump_suspect_inquiry...<br>
  === SANE/Microtek backend v0.9 ===<br>
========== Scanner Inquiry Block ========mm<br>
06 00 02 02 5b 00 00 00 20 20 20 20 20 20 20 20 <br>
73 63 61 6e 6e 65 72 20 36 33 36 45 4c 20 20 20 <br>
31 2e 31 30 98 00 00 00 00 00 00 00 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 <br>
<p>
========== Scanner Inquiry Report ==========<br>
===== Scanner ID...<br>
Device Type Code: 0x06<br>
Model Code: 0x00<br>
Vendor Name: '        '   Model Name: 'scanner 636EL   '<br>
Firmware Rev: '1.10'<br>
SCSI F/W version: 0.0     Scanner F/W version: 0.2<br>
Response data format: 0x02<br>
<p>
<p>
[microtek] sane_init:  config- /dev/scanner<br>
[microtek] attach_scanner:  /dev/scanner<br>
[microtek] attach_scanner:  opening /dev/scanner<br>
[microtek] attach_scanner:  sending INQUIRY<br>
[microtek] id_microtek...<br>
[microtek] id_microtek:  (uses new SCSI II command set)<br>
<p>
<p>
<p>
========== Congratulations! ==========<br>
You appear to be the proud owner of a <br>
brand-new Microtek scanner, which uses<br>
a new SCSI II command set.            <br>
<p>
Try the `microtek2' backend instead.  <br>
<p>
<p>
<p>
[microtek] attach_scanner:  device doesn't look like a Microtek<br>
scanner.[microtek] dump_suspect_inquiry...<br>
  === SANE/Microtek backend v0.9 ===<br>
========== Scanner Inquiry Block ========mm<br>
06 00 02 02 5b 00 00 00 20 20 20 20 20 20 20 20 <br>
73 63 61 6e 6e 65 72 20 36 33 36 45 4c 20 20 20 <br>
31 2e 31 30 98 00 00 00 00 00 00 00 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 <br>
<p>
========== Scanner Inquiry Report ==========<br>
===== Scanner ID...<br>
Device Type Code: 0x06<br>
Model Code: 0x00<br>
Vendor Name: '        '   Model Name: 'scanner 636EL   '<br>
Firmware Rev: '1.10'<br>
SCSI F/W version: 0.0     Scanner F/W version: 0.2<br>
Response data format: 0x02<br>
<p>
<p>
[microtek] sane_get_devices<br>
scanimage: no SANE devices found<br>
[microtek] sane_exit...<br>
[microtek] sane_exit:  MICROTEK says goodbye.<br>
 <br>
<p>
**********************************************<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Brian E. Bothwell: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>Previous message:</b> <a href="0151.html">Bernd Schroeder: "Re: Microtek ScanMaker V300?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
