<!-- received="Fri Sep 25 02:41:53 1998 PDT" -->
<!-- sent="Fri, 25 Sep 1998 02:40:59 -0700 (PDT)" -->
<!-- name="David B. Rees" -->
<!-- email="dbr@oto.dyn.ml.org" -->
<!-- subject="Re: Microtek ScanMaker V300?" -->
<!-- id="" -->
<!-- inreplyto="19980922110732.2301.qmail@aquila.muc.de" -->
<title>sane-devel: Re: Microtek ScanMaker V300?</title>
<h1>Re: Microtek ScanMaker V300?</h1>
<b>David B. Rees</b> (<a href="mailto:dbr@oto.dyn.ml.org"><i>dbr@oto.dyn.ml.org</i></a>)<br>
<i>Fri, 25 Sep 1998 02:40:59 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#178">[ date ]</a><a href="index.html#178">[ thread ]</a><a href="subject.html#178">[ subject ]</a><a href="author.html#178">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0179.html">Bernd Schroeder: "Re: Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0177.html">Hugo van der Kooij: "Re: CanoScan 300 SCSI scanner setup problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This message is in MIME format<br>
--_=XFMail.1.3.p0.Linux:980925024059:31978=_<br>
Content-Type: text/plain; charset=us-ascii<br>
<p>
On 22-Sep-98 Bernd Schroeder wrote:<br>
<i>&gt; I have uploaded this to</i><br>
<i>&gt; </i><br>
<i>&gt;  <a href="ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.5.220998.tar.gz">ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.5.220998.tar.gz</a> .</i><br>
<i>&gt; </i><br>
<i>&gt; According to the scanner attributes the difference between the V300</i><br>
<i>&gt; and the ScanMaker 330 is that the V300 has a 256 bytes gamma table, whereas</i><br>
<i>&gt; the the 330 has 1024 bytes gamma table. This means that the V300 works</i><br>
<i>&gt; internally with 8 bit per colour and the 330 with 10 bit.</i><br>
<i>&gt; </i><br>
<i>&gt; The backend should handle both sizes, so I would have expected, that</i><br>
<i>&gt; it works with the above version, but it returned an IO-error.</i><br>
<i>&gt; If this happens for you, too, please send me a trace with the environment</i><br>
<i>&gt; variable SANE_DEBUG_MICROTEK2 set to 30.</i><br>
<i>&gt; </i><br>
<i>&gt; Just be sure, that find-scanner finds the scanner before calling scanimage</i><br>
<i>&gt; or xscanimage.</i><br>
<p>
OK, so for now, I've quit trying to use the scanner on my UW scsi card, and I<br>
installed the Adaptec 1502 which came with the scanner.  scanimage now detects<br>
the scanner properly.<br>
<p>
device `pnm:0' is a Noname PNM file reader virtual device<br>
device `pnm:1' is a Noname PNM file reader virtual device<br>
device `microtek2:/dev/sga' is a Microtek ScanMaker V300 flatbed scanner<br>
<p>
However, I get the following message trying to scan an image.<br>
<p>
forty:~&gt; scanimage -d microtek2:/dev/scanner &gt;t.pnm<br>
<p>
I've attached the debug output FYI.  Here's the interesting part, though:<br>
<p>
[microtek2] sane_start: Scan buffer too small<br>
<p>
-Dave<br>
<p>
--_=XFMail.1.3.p0.Linux:980925024059:31978=_<br>
Content-Disposition: attachment; filename="debug.out"<br>
Content-Transfer-Encoding: 7bit<br>
Content-Description: debug.out<br>
Content-Type: text/plain; charset=us-ascii; name=debug.out; SizeOnDisk=17078<br>
<p>
[sanei_init_debug]: Setting debug level of microtek2 to 128.<br>
[microtek2] sane_init: Microtek2 (v0.5) says hello...<br>
[microtek2] attach_one: name='# See sane-microtek2(5) for a description of the o<br>
ptions<br>
'<br>
[microtek2] add_device_list: device='# See sane-microtek2(5) for a description o<br>
f the options'<br>
[microtek2] add_device_list: Comment or empty line in microtek2.conf<br>
[microtek2] attach_one: returning<br>
[microtek2] attach_one: name='<br>
'<br>
[microtek2] add_device_list: device=''<br>
[microtek2] add_device_list: Comment or empty line in microtek2.conf<br>
[microtek2] attach_one: returning<br>
[microtek2] attach_one: name='option dump 1<br>
'<br>
[microtek2] add_device_list: device='option dump 1'<br>
[microtek2] attach_one: returning<br>
[microtek2] attach_one: name='/dev/sga'<br>
[microtek2] add_device_list: device='/dev/sga'<br>
[microtek2] attach: device='/dev/sga'<br>
[microtek2] scsi_inquiry: mi=0x80b1924, device='/dev/sga'<br>
[microtek2] check_inquiry: mi=0x80b1924<br>
[microtek2] scsi_read_attributes: mi=0x80b1924, device='/dev/sga', source=0<br>
[microtek2] dump_attributes: mi=0x80b1924<br>
<p>
<p>
Scanner attributes from device structure<br>
========================================<br>
<p>
Scanner ID...<br>
~~~~~~~~~~~~~<br>
  Vendor Name:        '        '<br>
  Model Name:         'Scanner 300A4   '<br>
  Revision:           '2.50'<br>
  Model Code:         0x85 (TR3)<br>
  Device Type Code:   0x06 (Scanner),<br>
  Scanner type:       Flatbed scanner<br>
  Supported options:  Automatic document feeder: Yes<br>
                      Transparency media adapter: Yes<br>
                      Auto paper detecting: Yes<br>
  Scan button:        No<br>
<p>
Imaging Capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~<br>
  Color scanner:      Yes<br>
  Number passes:      1 pass<br>
  Resolution:         X-max:   300 dpi<br>
                      Y-max:   600 dpi<br>
  Geometry:           Geometric width:  2550 pts (8.50'')<br>
                      Geometric height: 3510 pts (11.70'')<br>
  Optical resol.  :   300<br>
  Modes:              Lineart:      Yes<br>
                      Halftone:     Yes<br>
                      Gray:         Yes<br>
                      Color:        Yes<br>
  Depths:             Nibble Gray:  No<br>
                      10-bit-color: No<br>
                      12-bit-color: No<br>
  d/l of HT pattern:  Yes<br>
  Builtin HT patt.:   12<br>
  LUT capabilities:    256 bytes<br>
<p>
Miscellaneous capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  Data format:        Line by line in segregated sequence,<br>
                      with color indicator<br>
  Color Sequence:     G - B - R<br>
  CCD gap:            8 lines<br>
  CCD pixels:         2550<br>
  Calib wh str loc:   -110<br>
  Max calib space:    48<br>
  Number of lens:     1<br>
  Max no of windows:  8<br>
  Sh trnsf func equ:  0<br>
  Buffer type:        Ring<br>
  FEPROM:             No<br>
[microtek2] scsi_read_attributes: mi=0x80b1a14, device='/dev/sga', source=2<br>
[microtek2] dump_attributes: mi=0x80b1a14<br>
<p>
<p>
Scanner attributes from device structure<br>
========================================<br>
<p>
Scanner ID...<br>
~~~~~~~~~~~~~<br>
  Vendor Name:        ''<br>
  Model Name:         ''<br>
  Revision:           ''<br>
  Model Code:         0x00 (Unknown)<br>
  Device Type Code:   0x00 (Unknown type),<br>
  Scanner type:       Flatbed scanner<br>
  Supported options:  Automatic document feeder: Yes<br>
                      Transparency media adapter: Yes<br>
                      Auto paper detecting: No<br>
  Scan button:        No<br>
<p>
Imaging Capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~<br>
  Color scanner:      Yes<br>
  Number passes:      1 pass<br>
  Resolution:         X-max:   300 dpi<br>
                      Y-max:   600 dpi<br>
  Geometry:           Geometric width:  1800 pts (6.00'')<br>
                      Geometric height: 2250 pts (7.50'')<br>
  Optical resol.  :   300<br>
  Modes:              Lineart:      Yes<br>
                      Halftone:     Yes<br>
                      Gray:         Yes<br>
                      Color:        Yes<br>
  Depths:             Nibble Gray:  No<br>
                      10-bit-color: No<br>
                      12-bit-color: No<br>
  d/l of HT pattern:  Yes<br>
  Builtin HT patt.:   12<br>
  LUT capabilities:    256 bytes<br>
<p>
Miscellaneous capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  Data format:        Line by line in segregated sequence,<br>
                      with color indicator<br>
  Color Sequence:     G - B - R<br>
  CCD gap:            8 lines<br>
  CCD pixels:         2550<br>
  Calib wh str loc:   -128<br>
  Max calib space:    48<br>
  Number of lens:     1<br>
  Max no of windows:  8<br>
  Sh trnsf func equ:  0<br>
  Buffer type:        Ring<br>
  FEPROM:             No<br>
[microtek2] scsi_read_attributes: mi=0x80b199c, device='/dev/sga', source=1<br>
[microtek2] dump_attributes: mi=0x80b199c<br>
<p>
<p>
Scanner attributes from device structure<br>
========================================<br>
<p>
Scanner ID...<br>
~~~~~~~~~~~~~<br>
  Vendor Name:        ''<br>
  Model Name:         ''<br>
  Revision:           ''<br>
  Model Code:         0x00 (Unknown)<br>
  Device Type Code:   0x00 (Unknown type),<br>
  Scanner type:       Flatbed scanner<br>
  Supported options:  Automatic document feeder: Yes<br>
                      Transparency media adapter: Yes<br>
                      Auto paper detecting: No<br>
  Scan button:        No<br>
<p>
Imaging Capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~<br>
  Color scanner:      Yes<br>
  Number passes:      1 pass<br>
  Resolution:         X-max:   300 dpi<br>
                      Y-max:   600 dpi<br>
  Geometry:           Geometric width:  2550 pts (8.50'')<br>
                      Geometric height: 4050 pts (13.50'')<br>
  Optical resol.  :   300<br>
  Modes:              Lineart:      Yes<br>
                      Halftone:     Yes<br>
                      Gray:         Yes<br>
                      Color:        Yes<br>
  Depths:             Nibble Gray:  No<br>
                      10-bit-color: No<br>
                      12-bit-color: No<br>
  d/l of HT pattern:  Yes<br>
  Builtin HT patt.:   12<br>
  LUT capabilities:    256 bytes<br>
<p>
Miscellaneous capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  Data format:        Line by line in segregated sequence,<br>
                      with color indicator<br>
  Color Sequence:     R - B - G<br>
  CCD gap:            8 lines<br>
  CCD pixels:         2550<br>
  Calib wh str loc:   0<br>
  Max calib space:    0<br>
  Number of lens:     1<br>
  Max no of windows:  8<br>
  Sh trnsf func equ:  0<br>
  Buffer type:        Ring<br>
  FEPROM:             No<br>
[microtek2] scsi_read_system_status: md=0x80b1920, fd=-1<br>
[microtek2] attach_one: returning<br>
[microtek2] attach_one: name='/dev/sga'<br>
[microtek2] add_device_list: device='/dev/sga'<br>
[microtek2] add_device_list: device '/dev/sga' already in list<br>
[microtek2] attach_one: returning<br>
[microtek2] sane_open: device='/dev/scanner'<br>
[microtek2] add_device_list: device='/dev/scanner'<br>
[microtek2] attach: device='/dev/scanner'<br>
[microtek2] scsi_inquiry: mi=0x80ba1c4, device='/dev/scanner'<br>
[microtek2] check_inquiry: mi=0x80ba1c4<br>
[microtek2] scsi_read_attributes: mi=0x80ba1c4, device='/dev/scanner', source=0<br>
[microtek2] dump_attributes: mi=0x80ba1c4<br>
<p>
<p>
Scanner attributes from device structure<br>
========================================<br>
<p>
Scanner ID...<br>
~~~~~~~~~~~~~<br>
  Vendor Name:        '        '<br>
  Model Name:         'Scanner 300A4   '<br>
  Revision:           '2.50'<br>
  Model Code:         0x85 (TR3)<br>
  Device Type Code:   0x06 (Scanner),<br>
  Scanner type:       Flatbed scanner<br>
  Supported options:  Automatic document feeder: Yes<br>
                      Transparency media adapter: Yes<br>
                      Auto paper detecting: Yes<br>
  Scan button:        No<br>
<p>
Imaging Capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~<br>
  Color scanner:      Yes<br>
  Number passes:      1 pass<br>
  Resolution:         X-max:   300 dpi<br>
                      Y-max:   600 dpi<br>
  Geometry:           Geometric width:  2550 pts (8.50'')<br>
                      Geometric height: 3510 pts (11.70'')<br>
  Optical resol.  :   300<br>
  Modes:              Lineart:      Yes<br>
                      Halftone:     Yes<br>
                      Gray:         Yes<br>
                      Color:        Yes<br>
  Depths:             Nibble Gray:  No<br>
                      10-bit-color: No<br>
                      12-bit-color: No<br>
  d/l of HT pattern:  Yes<br>
  Builtin HT patt.:   12<br>
  LUT capabilities:    256 bytes<br>
<p>
Miscellaneous capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  Data format:        Line by line in segregated sequence,<br>
                      with color indicator<br>
  Color Sequence:     G - B - R<br>
  CCD gap:            8 lines<br>
  CCD pixels:         2550<br>
  Calib wh str loc:   -110<br>
  Max calib space:    48<br>
  Number of lens:     1<br>
  Max no of windows:  8<br>
  Sh trnsf func equ:  0<br>
  Buffer type:        Ring<br>
  FEPROM:             No<br>
[microtek2] scsi_read_attributes: mi=0x80ba2b4, device='/dev/scanner', source=2<br>
[microtek2] dump_attributes: mi=0x80ba2b4<br>
<p>
<p>
Scanner attributes from device structure<br>
========================================<br>
<p>
Scanner ID...<br>
~~~~~~~~~~~~~<br>
  Vendor Name:        ''<br>
  Model Name:         ''<br>
  Revision:           ''<br>
  Model Code:         0x00 (Unknown)<br>
  Device Type Code:   0x00 (Unknown type),<br>
  Scanner type:       Flatbed scanner<br>
  Supported options:  Automatic document feeder: Yes<br>
                      Transparency media adapter: Yes<br>
                      Auto paper detecting: No<br>
  Scan button:        No<br>
<p>
Imaging Capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~<br>
  Color scanner:      Yes<br>
  Number passes:      1 pass<br>
  Resolution:         X-max:   300 dpi<br>
                      Y-max:   600 dpi<br>
  Geometry:           Geometric width:  1800 pts (6.00'')<br>
                      Geometric height: 2250 pts (7.50'')<br>
  Optical resol.  :   300<br>
  Modes:              Lineart:      Yes<br>
                      Halftone:     Yes<br>
                      Gray:         Yes<br>
                      Color:        Yes<br>
  Depths:             Nibble Gray:  No<br>
                      10-bit-color: No<br>
                      12-bit-color: No<br>
  d/l of HT pattern:  Yes<br>
  Builtin HT patt.:   12<br>
  LUT capabilities:    256 bytes<br>
<p>
Miscellaneous capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  Data format:        Line by line in segregated sequence,<br>
                      with color indicator<br>
  Color Sequence:     G - B - R<br>
  CCD gap:            8 lines<br>
  CCD pixels:         2550<br>
  Calib wh str loc:   -128<br>
  Max calib space:    48<br>
  Number of lens:     1<br>
  Max no of windows:  8<br>
  Sh trnsf func equ:  0<br>
  Buffer type:        Ring<br>
  FEPROM:             No<br>
[microtek2] scsi_read_attributes: mi=0x80ba23c, device='/dev/scanner', source=1<br>
[microtek2] dump_attributes: mi=0x80ba23c<br>
<p>
<p>
Scanner attributes from device structure<br>
========================================<br>
<p>
Scanner ID...<br>
~~~~~~~~~~~~~<br>
  Vendor Name:        ''<br>
  Model Name:         ''<br>
  Revision:           ''<br>
  Model Code:         0x00 (Unknown)<br>
  Device Type Code:   0x00 (Unknown type),<br>
  Scanner type:       Flatbed scanner<br>
  Supported options:  Automatic document feeder: Yes<br>
                      Transparency media adapter: Yes<br>
                      Auto paper detecting: No<br>
  Scan button:        No<br>
<p>
Imaging Capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~<br>
  Color scanner:      Yes<br>
  Number passes:      1 pass<br>
  Resolution:         X-max:   300 dpi<br>
                      Y-max:   600 dpi<br>
  Geometry:           Geometric width:  2550 pts (8.50'')<br>
                      Geometric height: 4050 pts (13.50'')<br>
  Optical resol.  :   300<br>
  Modes:              Lineart:      Yes<br>
                      Halftone:     Yes<br>
                      Gray:         Yes<br>
                      Color:        Yes<br>
  Depths:             Nibble Gray:  No<br>
                      10-bit-color: No<br>
                      12-bit-color: No<br>
  d/l of HT pattern:  Yes<br>
  Builtin HT patt.:   12<br>
  LUT capabilities:    256 bytes<br>
<p>
Miscellaneous capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  Data format:        Line by line in segregated sequence,<br>
                      with color indicator<br>
  Color Sequence:     R - B - G<br>
  CCD gap:            8 lines<br>
  CCD pixels:         2550<br>
  Calib wh str loc:   0<br>
  Max calib space:    0<br>
  Number of lens:     1<br>
  Max no of windows:  8<br>
  Sh trnsf func equ:  0<br>
  Buffer type:        Ring<br>
  FEPROM:             No<br>
[microtek2] scsi_read_system_status: md=0x80ba1c0, fd=-1<br>
[microtek2] init_options: handle=0x80ba898, source=0<br>
[microtek2] get_lut_size: mi=0x80ba1c4<br>
[microtek2] get_lut_size:  mi=0x80ba1c4, lut_size=256, lut_word=1<br>
[microtek2] set_option_dependencies: val=0x80ba8a0, sod=0x80ba97c, mode=24-bit C<br>
olor<br>
[microtek2] restore_gamma_options: val=0x80ba8a0, sod=0x80ba97c<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=0<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=1<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=2<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=3<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=4<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=5<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=6<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=7<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=8<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=9<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=10<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=11<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=12<br>
[microtek2] sane_control_option: opt=12, act=0, val=215.899994<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=13<br>
[microtek2] sane_control_option: opt=13, act=0, val=297.179993<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=14<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=15<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=16<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=17<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=18<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=19<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=20<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=21<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=22<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=23<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=24<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=25<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=26<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=27<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=28<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=29<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=30<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=31<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=32<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=33<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=34<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=35<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=36<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=37<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=38<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=39<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=40<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=41<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=42<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=43<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=44<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=45<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=46<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=47<br>
[microtek2] sane_control_option: opt=10, act=0, val=0.000000<br>
[microtek2] sane_control_option: opt=11, act=0, val=0.000000<br>
[microtek2] sane_control_option: opt=10, act=0, val=0.000000<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=12<br>
[microtek2] sane_control_option: option=12, action=1, value=215.899994<br>
[microtek2] sane_control_option: opt=11, act=0, val=0.000000<br>
[microtek2] sane_get_option_descriptor: handle=0x80ba898, opt=13<br>
[microtek2] sane_control_option: option=13, action=1, value=297.179993<br>
[microtek2] sane_start: handle=0x0x80ba898<br>
[microtek2] get_lut_size: mi=0x80ba1c4<br>
[microtek2] get_lut_size:  mi=0x80ba1c4, lut_size=256, lut_word=1<br>
[microtek2] get_scan_parameters: handle=0x80ba898<br>
[microtek2] get_scan_mode_and_depth: handle=0x80ba898<br>
[microtek2] get_scan_mode_and_depth: mode=5, depth=8, bits_pp_in=8, bits_pp_out=<br>
8<br>
[microtek2] get_scan_parameters: mode=5, depth=8, bpp_in=8, bpp_out=8<br>
[microtek2] get_scan_parameters: yres=72, x1=0, width=2550, y1=0, height=3510<br>
[microtek2] do_dummy_scan: ms=0x80ba898<br>
[microtek2] scsi_set_window: ms=0x80ba898, wnd=1<br>
[microtek2] scsi_read_image_info: ms=0x80ba898<br>
[microtek2] scsi_read_image_info: ppl=40109874, bpl=55181335, lines=-1435184639,<br>
 remain=739183094<br>
[microtek2] sane_start: Scan buffer too small<br>
[microtek2] cleanup_scanner: ms=0x80ba898<br>
scanimage: sane_start: Error during device I/O<br>
[microtek2] sane_cancel: handle=0x80ba898<br>
[microtek2] cleanup_scanner: ms=0x80ba898<br>
[microtek2] sane_close: ms=0x80ba898<br>
[microtek2] cleanup_scanner: ms=0x80ba898<br>
[microtek2] sane_exit:<br>
[microtek2] sane_get_devices: local_only=0<br>
[microtek2] sane_get_devices: sd_list_freed<br>
[microtek2] sane_exit: MICROTEK2 says goodbye.<br>
<p>
--_=XFMail.1.3.p0.Linux:980925024059:31978=_--<br>
End of MIME message<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0179.html">Bernd Schroeder: "Re: Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0177.html">Hugo van der Kooij: "Re: CanoScan 300 SCSI scanner setup problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
