<!-- received="Sat Sep 26 07:41:18 1998 PDT" -->
<!-- sent="Sat, 26 Sep 1998 16:39:37 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek ScanMaker X6EL supported??" -->
<!-- id="" -->
<!-- inreplyto="Pine.SV4.3.96.980924001050.9744A-100000@school.cs.indiana.edu" -->
<title>sane-devel: Re: Microtek ScanMaker X6EL supported??</title>
<h1>Re: Microtek ScanMaker X6EL supported??</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sat, 26 Sep 1998 16:39:37 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#180">[ date ]</a><a href="index.html#180">[ thread ]</a><a href="subject.html#180">[ subject ]</a><a href="author.html#180">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">David B. Rees: "Re: FW: Re: Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0179.html">Bernd Schroeder: "Re: Microtek ScanMaker V300?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Thu, Sep 24, 1998 at 12:14:27AM -0500, Brian E. Bothwell wrote:<br>
<i>&gt; On Wed, 23 Sep 1998, Bernd Schroeder wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; &gt; &gt; Oops!  I sent the debug info without SANE_DEBUG_MICROTEK2=128.  Looks like</i><br>
<i>&gt; &gt; &gt; I may have answered my own question given the line "Model 0x98 not</i><br>
<i>&gt; &gt; &gt; supported"... :(</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; This means that the backend doesn't yet know this model, but it doesn't</i><br>
<i>&gt; &gt; mean that the backend does not work with it or can be made to work with</i><br>
<i>&gt; &gt; it.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt;   Sh trnsf func equ:  1</i><br>
<i>&gt;   Buffer type:        Ring</i><br>
<i>&gt;   FEPROM:             No</i><br>
<i>&gt; [microtek2] scsi_read_system_status: md=0x80b1448, fd=-1</i><br>
<i>&gt; [microtek2] dump_area2: readsystemstatus</i><br>
<i>&gt; [readsystemstatus]</i><br>
<i>&gt; 28008100000000000900</i><br>
<i>&gt; [microtek2] dump_area2: readsystemstatusresult</i><br>
<i>&gt; [readsystemstatusresult]</i><br>
<i>&gt; 030000001100000000</i><br>
<i>&gt; [microtek2] scsi_test_unit_ready: md=/dev/sgd</i><br>
<i>&gt; [microtek2] dump_area2: testunitready</i><br>
<i>&gt; [testunitready]</i><br>
<i>&gt; 000000000000</i><br>
<p>
this model should work with the backend.<br>
<p>
But it is very strange, that the application hangs at a "test unit ready".<br>
This is perhaps the most simple SCSI command at all and should at least<br>
return anything (eventually 'busy'). The above commands are model<br>
independent.<br>
<p>
Does it always hang at this command ?<br>
<p>
Can you check, what happens, if you remove the scsi_test_uni_ready() <br>
call in microtek2.c (it is called in one place) ?<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">David B. Rees: "Re: FW: Re: Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0179.html">Bernd Schroeder: "Re: Microtek ScanMaker V300?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
