<!-- received="Wed Dec  2 20:57:55 1998 PST" -->
<!-- sent="Wed, 2 Dec 1998 20:57:50 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="SANE logo contest at http://contest.gimp.org/" -->
<!-- id="199812030457.UAA22632@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE logo contest at http://contest.gimp.org/</title>
<h1>SANE logo contest at http://contest.gimp.org/</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 2 Dec 1998 20:57:50 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#11">[ date ]</a><a href="index.html#11">[ thread ]</a><a href="subject.html#11">[ subject ]</a><a href="author.html#11">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">David Mosberger-Tang: "Re: USB scanners?"</a>
<li> <b>Previous message:</b> <a href="0010.html">William L. Sebok: "Re: Adjusting contrast and brightness"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Ever wanted to show off your GIMP/SANE creations?  Well, here is your<br>
chance: there is now a logo contest going on at<br>
<a href="http://contest.gimp.org/">http://contest.gimp.org/</a>.<br>
<p>
	--david<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">David Mosberger-Tang: "Re: USB scanners?"</a>
<li> <b>Previous message:</b> <a href="0010.html">William L. Sebok: "Re: Adjusting contrast and brightness"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
