<!-- received="Thu Dec  3 13:05:01 1998 PST" -->
<!-- sent="Thu, 03 Dec 1998 16:03:59 -0500" -->
<!-- name="Andre Couture" -->
<!-- email="acouture@videotron.ca" -->
<!-- subject="Re: USB scanners?" -->
<!-- id="" -->
<!-- inreplyto="USB scanners?" -->
<title>sane-devel: Re: USB scanners?</title>
<h1>Re: USB scanners?</h1>
<b>Andre Couture</b> (<a href="mailto:acouture@videotron.ca"><i>acouture@videotron.ca</i></a>)<br>
<i>Thu, 03 Dec 1998 16:03:59 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#29">[ date ]</a><a href="index.html#29">[ thread ]</a><a href="subject.html#29">[ subject ]</a><a href="author.html#29">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">John Stoffel: "Re: HP ScanJet not recognized w/ scanimage -L"</a>
<li> <b>Previous message:</b> <a href="0028.html">Jonathan Buzzard: "Re: USB scanners?"</a>
<li> <b>Maybe in reply to:</b> <a href="0005.html">David Mosberger-Tang: "USB scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">Milon Firikis: "Re: USB scanners?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
My two cents comment;<br>
<p>
Well, there are different solutions for this,<br>
There is a Parallel-&gt;USB converter that supposelly support most printer. Did<br>
anyone tried this with a scanner?<br>
That might be a way to combine USB support and parallel problems...<br>
I've also saw that HP6200C support USB and SCSI, are the command set<br>
compatible? the same?<br>
<p>
I do believe that USB scanner are still scanners, and that Sane is growing<br>
very fast, therefore supporting all kind of scanner is a plus for this<br>
project.<br>
Of course, in order to do that the team will certainly have to grow,<br>
therefore instead of people trying to refrain the developpment to SCSI only<br>
or ...<br>
Please be objective and let Sane grow into a wider scanner support and stop<br>
complaining about supporting only this or that.<br>
<p>
For example Linux started with 386 only few years ago, now it support, with<br>
helps of thousands of developper, a very wide range of hardware.<br>
Let's do the same with Sane.<br>
<p>
/ac<br>
<p>
Jonathan Buzzard wrote:<br>
<p>
<i>&gt; <a href="mailto:davidm@mostang.com">davidm@mostang.com</a> said:</i><br>
<i>&gt; &gt; It occurred to me that this whole boring debate about parallel-port</i><br>
<i>&gt; &gt; scanners and the lack of support may soon disappear as a result of USB</i><br>
<i>&gt; &gt; picking up in popularity.  Maybe we should focus on USB support?  It</i><br>
<i>&gt; &gt; seems to me that parallel port scanners don't work well even if they</i><br>
<i>&gt; &gt; are supported.  The reason for this is that parallel port scanners</i><br>
<i>&gt; &gt; tend to waste all available CPU cycles on the scanner, effectively</i><br>
<i>&gt; &gt; turning your nice &amp; fast multi-user, multi-tasking machine into a</i><br>
<i>&gt; &gt; crummy single-task machine.  AFAIK, USB doesn't have any of these</i><br>
<i>&gt; &gt; problems yet is much cheaper than a SCSI interface.</i><br>
<i>&gt;</i><br>
<i>&gt; Indeed, while this is true, (a) USB scanners are still significantly more</i><br>
<i>&gt; expensive than parallel port ones, (b) there are still countless thousands</i><br>
<i>&gt; of parallel port scanners out there and (c) unless their exists some</i><br>
<i>&gt; sort of USB scanner command set that manufactures actually stick too, are</i><br>
<i>&gt; they any more likely to give us the protocols for USB scanners than</i><br>
<i>&gt; parallel ones?</i><br>
<i>&gt;</i><br>
<i>&gt; Just my experience though, a scanner will turn any fast multi-user,</i><br>
<i>&gt; multi-tasking machine to a single-task machine SCSI or otherwise.</i><br>
<i>&gt;</i><br>
<i>&gt; JAB.</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a></i><br>
<i>&gt; Northumberland, United Kingdom.       Tel: +44(0)1661-832195</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
<p>
  ------------------------------------------------------------------------
Andre Couture
938934 Ontario Inc.
<a href="mailto:acouture@videotron.ca">mailto:acouture@videotron.ca</a>
<p>
<a href="mailto:search_n_find@yahoo.com">mailto:search_n_find@yahoo.com</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">John Stoffel: "Re: HP ScanJet not recognized w/ scanimage -L"</a>
<li> <b>Previous message:</b> <a href="0028.html">Jonathan Buzzard: "Re: USB scanners?"</a>
<li> <b>Maybe in reply to:</b> <a href="0005.html">David Mosberger-Tang: "USB scanners?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">Milon Firikis: "Re: USB scanners?"</a>
<!-- reply="end" -->
</ul>
