<!-- received="Fri Dec  4 01:48:09 1998 PST" -->
<!-- sent="Fri, 04 Dec 1998 10:04:18 +0000" -->
<!-- name="Stefan Gombar" -->
<!-- email="e9125065@student.tuwien.ac.at" -->
<!-- subject="Re: Microtek E3 and sane OS/2, anyone??" -->
<!-- id="199812040907.KAA31670@stud1.tuwien.ac.at" -->
<!-- inreplyto="Microtek E3 and sane OS/2, anyone??" -->
<title>sane-devel: Re: Microtek E3 and sane OS/2, anyone??</title>
<h1>Re: Microtek E3 and sane OS/2, anyone??</h1>
<b>Stefan Gombar</b> (<a href="mailto:e9125065@student.tuwien.ac.at"><i>e9125065@student.tuwien.ac.at</i></a>)<br>
<i>Fri, 04 Dec 1998 10:04:18 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">S.Ellerbrock: "Sane upgrade"</a>
<li> <b>Previous message:</b> <a href="0035.html">Matthias Fleischer: "Re: Adjusting contrast and brightness"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 03 Dec 1998 19:34:13 +0100, Yuri Dario wrote:<br>
<p>
<i>&gt;On Mon, 30 Nov 98 16:20:40 -0700, John Brush wrote:</i><br>
<i>&gt;</i><br>
<i>&gt;&gt;Does anyone know who I should speak to about the lack of resolution in</i><br>
<i>&gt;&gt;the Saneos2 backend for the Microtek E3. 100 dpi just isn't good for</i><br>
<i>&gt;&gt;anything.</i><br>
<i>&gt;</i><br>
<i>&gt;I think that resolution under OS/2 should be the same of Linux. Sorry, but I don't </i><br>
know more that this.<br>
<p>
As far as my experiences were (i have a Microtek 330 now), Black/White worked<br>
also in higher resoulutions, there were problems with color scanning.<br>
<p>
Best regards,<br>
<p>
Stefan<br>
<p>
<p>
<p>
<p>
-----------------------------------<br>
Stefan GOMBAR<br>
Member of TeamOS/2<br>
Certified OS/2 Engineer<br>
<p>
email:	<a href="mailto:e9125065@stud1.tuwien.ac.at">e9125065@stud1.tuwien.ac.at</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">S.Ellerbrock: "Sane upgrade"</a>
<li> <b>Previous message:</b> <a href="0035.html">Matthias Fleischer: "Re: Adjusting contrast and brightness"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
