<!-- received="Sun Dec  6 12:20:13 1998 PST" -->
<!-- sent="Sun, 6 Dec 1998 15:10:04 -0500 (EST)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: sane and microtek scanmaker 35t" -->
<!-- id="m0zmkVI-000q48C@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="sane and microtek scanmaker 35t" -->
<title>sane-devel: Re: sane and microtek scanmaker 35t</title>
<h1>Re: sane and microtek scanmaker 35t</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Sun, 6 Dec 1998 15:10:04 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#57">[ date ]</a><a href="index.html#57">[ thread ]</a><a href="subject.html#57">[ subject ]</a><a href="author.html#57">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Martin Huber: "Re: Solaris v2.6 support?"</a>
<li> <b>Previous message:</b> <a href="0056.html">Lars Erik Kolden: "sane and microtek scanmaker 35t"</a>
<li> <b>Maybe in reply to:</b> <a href="0056.html">Lars Erik Kolden: "sane and microtek scanmaker 35t"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0101.html">Lars Erik Kolden: "Re: sane and microtek scanmaker 35t"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;Some months ago I got hold of an old scanner called Microtek Scanmaker</i><br>
<i> &gt;35t, which I want to get up and running in Linux as well as Windows 98.</i><br>
<i> &gt;I'm aware of the fact that only the scanmaker 35t+ is officially</i><br>
<i> &gt;supported by SANE, but I tried it anyway.</i><br>
<p>
This scanner should work with the microtek backend, give or take few bug<br>
 fixes, I suppose.  It's not listed as "working" because you are the<br>
 first person to ever mention it to me, working or non-working.<br>
<p>
<p>
Try it again, but enable debugging output (instructions available on both<br>
 man-page and backend website), and send a log to &lt;<a href="mailto:mtek-bugs@mir.com">mtek-bugs@mir.com</a>&gt;.<br>
<p>
Could you also tell me what the optical resolution of the scanner is?<br>
 The backend guesses 1950dpi; this is not information returned by the <br>
 scanner itself.  If this is wrong, it could be the root of the problem.<br>
<p>
<p>
One last thing:  it's probably best to disable disconnect/reconnect for<br>
 the scanner -- this would be an option to the SCSI driver.  It seems to<br>
 be enabled, from the log you sent.  The aha152x is pretty lame about<br>
 timeouts and all; that's why you have to reboot the machine when it hangs.<br>
 (You're better off installing it as a module, but even then you have to<br>
 wait a long time before it will let you rmmod and re-insmod it.)<br>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Martin Huber: "Re: Solaris v2.6 support?"</a>
<li> <b>Previous message:</b> <a href="0056.html">Lars Erik Kolden: "sane and microtek scanmaker 35t"</a>
<li> <b>Maybe in reply to:</b> <a href="0056.html">Lars Erik Kolden: "sane and microtek scanmaker 35t"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0101.html">Lars Erik Kolden: "Re: sane and microtek scanmaker 35t"</a>
<!-- reply="end" -->
</ul>
