<!-- received="Sun Dec  6 15:54:57 1998 PST" -->
<!-- sent="Mon, 7 Dec 1998 00:52:44 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Solaris v2.6 support?" -->
<!-- id="" -->
<!-- inreplyto="199812062210.XAA09948@garfield.m.isar.de" -->
<title>sane-devel: Re: Solaris v2.6 support?</title>
<h1>Re: Solaris v2.6 support?</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Mon, 7 Dec 1998 00:52:44 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#60">[ date ]</a><a href="index.html#60">[ thread ]</a><a href="subject.html#60">[ subject ]</a><a href="author.html#60">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Mentore #cat# Siesto: "Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0059.html">Bernd Schroeder: "Re: MicroTek X6el"</a>
<li> <b>In reply to:</b> <a href="0058.html">Martin Huber: "Re: Solaris v2.6 support?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0070.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 6 Dec 1998, Martin Huber wrote:<br>
<p>
<i>&gt; &gt; I have tried and tried but can't get my scanner working under Solaris with</i><br>
<i>&gt; &gt; SANE 1.0 (I haven't tried other versions as this laptop is new to me and</i><br>
<i>&gt; &gt; I need to get other things running within a week.)</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; scanimage won't see the device (a HP Scanjet 5P) at all but the scanner is</i><br>
<i>&gt; &gt; detected correctly by the findscanner tool.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; The SCSCI bus is correctly terminated (otherwise I would not be able to</i><br>
<i>&gt; &gt; boot from my external SCSI CDROM at the end of the chain). And I added the</i><br>
<i>&gt; &gt; driver as instructed in the Solaris README file. (Without it findscanner</i><br>
<i>&gt; &gt; finds zippo so the driver seems to do it's job well.)</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; All tests are performed as root.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; The dynamic libraries are stored under /usr/local/lib/sane and</i><br>
<i>&gt; &gt; LD_LIBRARY_PATH does point to that directory as well.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; So finally I end up clueless as to why the scanner won't work.</i><br>
<i>&gt; </i><br>
<i>&gt; The 5P is used with sane by many persons.</i><br>
<p>
I know as I had it running on my Linux Alpha system for nearly a year<br>
running various versions of sane (up to 0.74).<br>
<p>
<i>&gt; - What do you have in /opt/local/etc/sane.d/hp.conf (or /usr/local/...,</i><br>
<i>&gt; there should be a link between /usr/local and /opt/local)?</i><br>
<i>&gt; The default /dev/scanner will not work. See README.Solaris.</i><br>
<p>
I did read the document and got the driver installed before persuing the<br>
issue. (The lot is on /usr/local)<br>
<p>
<i>&gt; - Did you have installed the SCHILYscg driver *before* "./configure"</i><br>
<i>&gt; and "make" SANE?</i><br>
<p>
Just redid it. But to no avail.<br>
<p>
<i>&gt; If not, you will have no SCSI support compiled in sane, because sane</i><br>
<i>&gt; needs /usr/include/sys/scsi/targets/scgio.h to determine the type</i><br>
<i>&gt; of SCSI driver to use.</i><br>
<p>
It's there.<br>
<p>
<i>&gt; - Check if you use the correct scsi driver. Some people had one of the</i><br>
<i>&gt; scsi include files tested by the sane configure in their /usr/include</i><br>
<i>&gt; tree  and did not get the correct SCSI driver compiled in without</i><br>
<i>&gt; any warning.</i><br>
<i>&gt; You can do this with gdb or "set env SANE_DEBUG_SANEI_SCSI 128" before</i><br>
<i>&gt; starting scanimage (see frontend/.gdbinit how to do this). Send me</i><br>
<i>&gt; the output you get from this if you have still problems.</i><br>
<p>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[sanei_scsi] sanei_scsi_open: `i' is not a valid target id<br>
device `pnm:0' is a Noname PNM file reader virtual device<br>
device `pnm:1' is a Noname PNM file reader virtual device<br>
<p>
I can't find related info to the mentioned target id.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Mentore #cat# Siesto: "Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0059.html">Bernd Schroeder: "Re: MicroTek X6el"</a>
<li> <b>In reply to:</b> <a href="0058.html">Martin Huber: "Re: Solaris v2.6 support?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0070.html">Chris Riggins: "Re:  Solaris v2.6 support?"</a>
<!-- reply="end" -->
</ul>
