<!-- received="Mon Dec  7 14:32:55 1998 PST" -->
<!-- sent="Mon, 7 Dec 1998 17:31:55 -0500 (EST)" -->
<!-- name="Benedict P. Barszcz" -->
<!-- email="cp427@freenet.buffalo.edu" -->
<!-- subject="sane-1.00 how to compile?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-1.00 how to compile?</title>
<h1>sane-1.00 how to compile?</h1>
<b>Benedict P. Barszcz</b> (<a href="mailto:cp427@freenet.buffalo.edu"><i>cp427@freenet.buffalo.edu</i></a>)<br>
<i>Mon, 7 Dec 1998 17:31:55 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#76">[ date ]</a><a href="index.html#76">[ thread ]</a><a href="subject.html#76">[ subject ]</a><a href="author.html#76">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Gordon Scott: "Getting started with SANE &amp; SnapScan"</a>
<li> <b>Previous message:</b> <a href="0075.html">Andre Couture: "Saned screwing up???"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have been trying to compile sane with no results. It always stops with<br>
errors about xscanimage pointing to libgimp.so as the reason for failure.<br>
<p>
Could anyone tell me what Libraries are necessary to compile sane-1.00?<br>
I tried gtk+1.0.6 and then later gtk+1.1.3. I am not sure how the two<br>
coexist.<br>
<p>
thank you for any reply.<br>
<p>
<p>
<i>&gt;&gt;&gt; regards &lt;&lt;&lt;</i><br>
Benedict<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Gordon Scott: "Getting started with SANE &amp; SnapScan"</a>
<li> <b>Previous message:</b> <a href="0075.html">Andre Couture: "Saned screwing up???"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
