<!-- received="Mon Dec  7 15:10:40 1998 PST" -->
<!-- sent="Mon, 7 Dec 1998 18:09:38 -0500 (EST)" -->
<!-- name="Benedict P. Barszcz" -->
<!-- email="cp427@freenet.buffalo.edu" -->
<!-- subject="compile errors" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: compile errors</title>
<h1>compile errors</h1>
<b>Benedict P. Barszcz</b> (<a href="mailto:cp427@freenet.buffalo.edu"><i>cp427@freenet.buffalo.edu</i></a>)<br>
<i>Mon, 7 Dec 1998 18:09:38 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#78">[ date ]</a><a href="index.html#78">[ thread ]</a><a href="subject.html#78">[ subject ]</a><a href="author.html#78">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">Benedict P. Barszcz: "sane-1.00 compile success"</a>
<li> <b>Previous message:</b> <a href="0077.html">Gordon Scott: "Getting started with SANE &amp; SnapScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Below are the errors i get when I compile san-1.00.<br>
<p>
<p>
/usr/local/lib/libgimp.so: undefined reference to `g_debug'<br>
/usr/local/lib/libgimp.so: undefined reference to `g_message'<br>
/usr/local/lib/libgimp.so: undefined reference to `g_warning'<br>
/usr/local/lib/libgimp.so: undefined reference to `g_error'<br>
make[1]: *** [xscanimage] Error 1<br>
make: *** [all-recursive] Error 1<br>
<p>
<p>
I will appreciate hints on how to fix it.<br>
<p>
<i>&gt;&gt;&gt; regards &lt;&lt;&lt;</i><br>
Benedict<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">Benedict P. Barszcz: "sane-1.00 compile success"</a>
<li> <b>Previous message:</b> <a href="0077.html">Gordon Scott: "Getting started with SANE &amp; SnapScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
