<!-- received="Mon Dec  7 19:52:49 1998 PST" -->
<!-- sent="Mon, 07 Dec 1998 15:10:46 -0600" -->
<!-- name="Brian Kirkland/Senior Designer Engineer" -->
<!-- email="bgk@cypress.com" -->
<!-- subject="does SANE support the HP ScanJet 4C" -->
<!-- id="366C4456.949BCDDA@cypress.com" -->
<!-- inreplyto="" -->
<title>sane-devel: does SANE support the HP ScanJet 4C</title>
<h1>does SANE support the HP ScanJet 4C</h1>
<b>Brian Kirkland/Senior Designer Engineer</b> (<a href="mailto:bgk@cypress.com"><i>bgk@cypress.com</i></a>)<br>
<i>Mon, 07 Dec 1998 15:10:46 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Chris Burghart: "SnapScan backend"</a>
<li> <b>Previous message:</b> <a href="0088.html">Sascha Kreischer: "Scanexpress 6000 SP / Unknown Model ' C03 S10IDWM103599'"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0096.html">Ray Curtis: "Re: does SANE support the HP ScanJet 4C"</a>
<li> <b>Reply:</b> <a href="0096.html">Ray Curtis: "Re: does SANE support the HP ScanJet 4C"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi, I was wondering if SANE supports the HP ScanJet 4C.<br>
<p>
The documentation only talks about the HP PhotoScanner.<br>
<p>
If there is no support currently for this scanner is there<br>
any in development? <br>
<p>
If there is no support in development<br>
what do I do to start this development?<br>
<p>
Thanks,<br>
<p>
<p>
<pre>
-- 
 +--------------+   Brian Kirkland          phone: (512) 425-5235
 | _____  _____ |                           fax  : (512) 425-5201
 |_|   |  |   |_|   Senior Design Engineer  email: <a href="mailto:bgk@cypress.com">bgk@cypress.com</a>
 ____  |  | _    _  CYPRESS SEMICONDUCTOR  
 /__\  |  | |\  /|  Austin Design Center
/    \ |  | | \/ |        
    ___|  |___      CLASS OF '92            Red Hat Linux 5.0 User
    |________|      GIG'EM AGS!
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Chris Burghart: "SnapScan backend"</a>
<li> <b>Previous message:</b> <a href="0088.html">Sascha Kreischer: "Scanexpress 6000 SP / Unknown Model ' C03 S10IDWM103599'"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0096.html">Ray Curtis: "Re: does SANE support the HP ScanJet 4C"</a>
<li> <b>Reply:</b> <a href="0096.html">Ray Curtis: "Re: does SANE support the HP ScanJet 4C"</a>
<!-- reply="end" -->
</ul>
