<!-- received="Mon Dec  7 19:52:41 1998 PST" -->
<!-- sent="Sat, 05 Dec 1998 21:23:01 -0600" -->
<!-- name="John Duchek" -->
<!-- email="jrduchek@primary.net" -->
<!-- subject="I am trying to install SANE and" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: I am trying to install SANE and</title>
<h1>I am trying to install SANE and</h1>
<b>John Duchek</b> (<a href="mailto:jrduchek@primary.net"><i>jrduchek@primary.net</i></a>)<br>
<i>Sat, 05 Dec 1998 21:23:01 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#92">[ date ]</a><a href="index.html#92">[ thread ]</a><a href="subject.html#92">[ subject ]</a><a href="author.html#92">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">Thomas Nemeth: "Difference between 2 distro of Linux :("</a>
<li> <b>Previous message:</b> <a href="0091.html">Peter Kirchgessner: "Re: HP1100A?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0097.html">Wolfgang Cohrs: "Re: I am trying to install SANE and"</a>
<li> <b>Reply:</b> <a href="0097.html">Wolfgang Cohrs: "Re: I am trying to install SANE and"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I get to the 'make' command.  It goes for a while and then comes up with<br>
an assignment error in attach in the file abaton.c<br>
How can I work around this?<br>
<p>
John<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">Thomas Nemeth: "Difference between 2 distro of Linux :("</a>
<li> <b>Previous message:</b> <a href="0091.html">Peter Kirchgessner: "Re: HP1100A?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0097.html">Wolfgang Cohrs: "Re: I am trying to install SANE and"</a>
<li> <b>Reply:</b> <a href="0097.html">Wolfgang Cohrs: "Re: I am trying to install SANE and"</a>
<!-- reply="end" -->
</ul>
