<!-- received="Thu Dec 10 13:39:28 1998 PST" -->
<!-- sent="Thu, 10 Dec 1998 21:23:37 +0100 (CET)" -->
<!-- name="Kaare Rasmussen" -->
<!-- email="kar@webline.dk" -->
<!-- subject="Re: pre alpha version of my new sane-frontend out" -->
<!-- id="199812102023.VAA04708@bohr.webline.dk" -->
<!-- inreplyto="36702093.CBFCD8F4@wolfsburg.de" -->
<title>sane-devel: Re: pre alpha version of my new sane-frontend out</title>
<h1>Re: pre alpha version of my new sane-frontend out</h1>
<b>Kaare Rasmussen</b> (<a href="mailto:kar@webline.dk"><i>kar@webline.dk</i></a>)<br>
<i>Thu, 10 Dec 1998 21:23:37 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#144">[ date ]</a><a href="index.html#144">[ thread ]</a><a href="subject.html#144">[ subject ]</a><a href="author.html#144">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">Neil Zampella: "Re:- Pacific Image Electronics 630P ?"</a>
<li> <b>Previous message:</b> <a href="0143.html">becka@rz.uni-duesseldorf.de: "Re: SANE standard,"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0149.html">Danilo Godec: "Re: pre alpha version of my new sane-frontend out"</a>
<li> <b>Reply:</b> <a href="0149.html">Danilo Godec: "Re: pre alpha version of my new sane-frontend out"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; In the moment I call it xsane, suggestions for the name and other things are</i><br>
<i>&gt; welcome!</i><br>
<p>
Well, anything wrong with In-sane ? :-)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">Neil Zampella: "Re:- Pacific Image Electronics 630P ?"</a>
<li> <b>Previous message:</b> <a href="0143.html">becka@rz.uni-duesseldorf.de: "Re: SANE standard,"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0149.html">Danilo Godec: "Re: pre alpha version of my new sane-frontend out"</a>
<li> <b>Reply:</b> <a href="0149.html">Danilo Godec: "Re: pre alpha version of my new sane-frontend out"</a>
<!-- reply="end" -->
</ul>
