<!-- received="Sat Dec 12 09:17:59 1998 PST" -->
<!-- sent="Fri, 11 Dec 1998 13:15:20 -0500" -->
<!-- name="Gregory Propf" -->
<!-- email="gregp@home.com" -->
<!-- subject="Problems using Umax Astr 1220S scanner under SANE" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Problems using Umax Astr 1220S scanner under SANE</title>
<h1>Problems using Umax Astr 1220S scanner under SANE</h1>
<b>Gregory Propf</b> (<a href="mailto:gregp@home.com"><i>gregp@home.com</i></a>)<br>
<i>Fri, 11 Dec 1998 13:15:20 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#176">[ date ]</a><a href="index.html#176">[ thread ]</a><a href="subject.html#176">[ subject ]</a><a href="author.html#176">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Sandro Gasparetto: "Re: UMAX...  It works!"</a>
<li> <b>Previous message:</b> <a href="0175.html">William R. Ward: "HP PhotoSmart scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0180.html">Oliver Rauch: "Re: Problems using Umax Astr 1220S scanner under SANE"</a>
<li> <b>Reply:</b> <a href="0180.html">Oliver Rauch: "Re: Problems using Umax Astr 1220S scanner under SANE"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I just got the SANE package and tried it out (version 0.74 and version<br>
1.0).  I have an Advansys ABP940UA SCSI card and have tried the SANE<br>
package under both kernel 2.0.35 and kernel 2.1.128.  I am sorry to<br>
report that the system can hang under xscanimage during both previews<br>
and scans under both kernels.  I have also noticed that even when the<br>
system does not hang the SCSI module is left is a strange state by the<br>
program and you need to unload and then reload the SCSI module. <br>
Reloading the module after using xscanimage can also cause a system<br>
hang.  Also, even when there is not a system hang the scans often fail<br>
to complete and simply hang there.  Pressing the "cancel" button on the<br>
status indicator does not help.<br>
<p>
<pre>
-- 
 
	    -- homepage: <a href="http://members.home.net/gregp/">http://members.home.net/gregp/</a> --
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Sandro Gasparetto: "Re: UMAX...  It works!"</a>
<li> <b>Previous message:</b> <a href="0175.html">William R. Ward: "HP PhotoSmart scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0180.html">Oliver Rauch: "Re: Problems using Umax Astr 1220S scanner under SANE"</a>
<li> <b>Reply:</b> <a href="0180.html">Oliver Rauch: "Re: Problems using Umax Astr 1220S scanner under SANE"</a>
<!-- reply="end" -->
</ul>
