<!-- received="Sun Dec 13 14:45:21 1998 PST" -->
<!-- sent="Sun, 13 Dec 1998 23:44:18 +0100 (MET)" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: New and improved development model?" -->
<!-- id="199812132244.XAA04456@zero.cc.uit.no" -->
<!-- inreplyto="New and improved development model?" -->
<title>sane-devel: Re: New and improved development model?</title>
<h1>Re: New and improved development model?</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sun, 13 Dec 1998 23:44:18 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#201">[ date ]</a><a href="index.html#201">[ thread ]</a><a href="subject.html#201">[ subject ]</a><a href="author.html#201">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0202.html">Petter Reinholdtsen: "HP/UX 10.20 patch for find-scanner"</a>
<li> <b>Previous message:</b> <a href="0200.html">Maciej Szulc: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Maybe in reply to:</b> <a href="0188.html">Petter Reinholdtsen: "New and improved development model?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0203.html">Oliver Rauch: "Re: New and improved development model?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[David Mosberger-Tang]<br>
<i>&gt; Are you volunteering to run and maintain this?</i><br>
<p>
It neccesary, yes.  It is not very hard to do. :-)<br>
<p>
<i>&gt; If the regular developers express a strong interest in this, I'm</i><br>
<i>&gt; willing to do this.</i><br>
<p>
<i>&gt; However, I'd want to keep the list of people with write access very</i><br>
<i>&gt; short. Not to prevent from people from contributing to SANE, but to</i><br>
<i>&gt; ensure that all submissions are reviewed by someone who has</i><br>
<i>&gt; demonstrated a longstanding committment and understanding of SANE.</i><br>
<p>
I'd expect 2-3 peoples with write access.  Enough to handle someones<br>
holidays without stopping development. :-)<br>
<p>
<i>&gt; Lack of necessity? Note that SANE is very different from other</i><br>
<i>&gt; projects because it is primarily an API. If you work on</i><br>
<i>&gt; backend/frontend X, the need for having the latest and greatest</i><br>
<i>&gt; version of backend/frontend Y is virtually non-existent.</i><br>
<p>
When I work on porting it to HP/UX and Irix, I would like to get the<br>
latest changes without searching thu the mailinglist and webpages to<br>
find the patches.<br>
<p>
[David Huggins-Daines]<br>
<i>&gt; Has anyone asked Debian or RedHat? (i.e. cvs.gnome.org and</i><br>
<i>&gt; cvs.gimp.org) SANE is relatively small compared to GNOME or the</i><br>
<i>&gt; GIMP, I doubt it would be much of a strain on their servers.</i><br>
<p>
Maybe that is a good idea.  I was thinking about either setting up my<br>
own CVS tree, or include it at cvs.hungry.com.<br>
<p>
<i>&gt; FWIW, I like the idea of at least having anonymous CVS access and</i><br>
<i>&gt; regular snapshot releases / diffs (doesn't have to be nightly). That</i><br>
<i>&gt; way, people would have more of a chance to try compiling and running</i><br>
<i>&gt; the new stuff in a variety of different configurations (and a</i><br>
<i>&gt; variety of different GCC versions :-) right up to the minute an</i><br>
<i>&gt; official release is made.</i><br>
<p>
I would like this too.<br>
<p>
[David Mosberger-Tang]<br>
<i>&gt; Huh? The pre1.0 release has been available for several weeks before</i><br>
<i>&gt; we switched to 1.0. I don't see how would more frequent snapshots</i><br>
<i>&gt; would get people to compile SANE more often. I think I strongly</i><br>
<i>&gt; encouraged people to test out the pre1.0 releases and it's not my</i><br>
<i>&gt; fault if people don't test it on platforms other than Linux until</i><br>
<i>&gt; after 1.0 was released.</i><br>
<p>
Well.  Something changed from pre1.0 to 1.0 that made HP/UX stop<br>
working.  I tested pre1.0, but missed a new patch to check which<br>
changes other made, and to verify that my patches was included into<br>
the distribution.<br>
<p>
<i>&gt; Maybe the real issue is that we may need/want a sane-testers mailing</i><br>
<i>&gt; list so people can be alerted to impending new releases without</i><br>
<i>&gt; having to deal with the volumes of mail on sane-devel. I'd be happy</i><br>
<i>&gt; to maintain such a list.</i><br>
<p>
I don't think there is need for another mailing-list.  It would not<br>
help me with my problems. :-)<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0202.html">Petter Reinholdtsen: "HP/UX 10.20 patch for find-scanner"</a>
<li> <b>Previous message:</b> <a href="0200.html">Maciej Szulc: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Maybe in reply to:</b> <a href="0188.html">Petter Reinholdtsen: "New and improved development model?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0203.html">Oliver Rauch: "Re: New and improved development model?"</a>
<!-- reply="end" -->
</ul>
