<!-- received="Wed Dec 16 08:04:09 1998 PST" -->
<!-- sent="Wed, 16 Dec 1998 10:02:31 -0600 (CST)" -->
<!-- name="Michael D Hughes" -->
<!-- email="mdh@logcabin.woods.bridge.com" -->
<!-- subject="Re: sane-1.00 and FreeBSD" -->
<!-- id="199812161602.KAA20641@logcabin.woods.bridge.com" -->
<!-- inreplyto="19981216083152.B24471@aire.ncl.ac.uk" -->
<title>sane-devel: Re: sane-1.00 and FreeBSD</title>
<h1>Re: sane-1.00 and FreeBSD</h1>
<b>Michael D Hughes</b> (<a href="mailto:mdh@logcabin.woods.bridge.com"><i>mdh@logcabin.woods.bridge.com</i></a>)<br>
<i>Wed, 16 Dec 1998 10:02:31 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#225">[ date ]</a><a href="index.html#225">[ thread ]</a><a href="subject.html#225">[ subject ]</a><a href="author.html#225">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0226.html">Kevin R. Charter: "SnapScan 0.6"</a>
<li> <b>Previous message:</b> <a href="0224.html">Julian Coleman: "Re: sane-1.00 and FreeBSD"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0228.html">Michael D Hughes: "Re: sane-1.00 and FreeBSD"</a>
<li> <b>Reply:</b> <a href="0228.html">Michael D Hughes: "Re: sane-1.00 and FreeBSD"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt;&gt; Copy from a message Julian Coleman sent me. &lt;&lt;&lt;&lt;&lt;&lt;</i><br>
<i>&gt; Michael D Hughes wrote:</i><br>
<i>&gt; &gt;   I am tring to make sane-1.00 on FreeBSD and getting the following error:</i><br>
<i>&gt; </i><br>
<i>&gt; Are you using GNU make?  The makefile contains the % operator which isn't</i><br>
<i>&gt; understood by the *BSD make.</i><br>
<p>
  I downloaded GNU make and that did the trick.  I did run in to one little<br>
problem with the file backend/dc210.c at line 344.  TCSBKP is not defined.<br>
I will be tring the new build when I get home tonight.  THANKS for you<br>
help.<br>
 <br>
<i>&gt; J</i><br>
<i>&gt; </i><br>
<i>&gt; -- </i><br>
<i>&gt; "Railways have always been plagued by politicians, and it is not hard to</i><br>
<i>&gt; think that Robert Stephenson had the right idea when he drove his engine</i><br>
<i>&gt; over one of them at the opening of the Liverpool &amp; Manchester Railway"</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
-- 
-------------------------------------------------------------------------------
 _ _ _                    _    _    ,                     Loghome living is the 
' ) ) )      /           //   ' )  /         /                           best !
 / / / o _. /_  __.  _  //     /--/ . . _,  /_  _  _ 
/ ' (_&lt;_(__/ /_(_/|_&lt;/_&lt;/_    /  (_(_/_(_)_/ /_&lt;/_/_)_
                                        /|
                                        |/
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0226.html">Kevin R. Charter: "SnapScan 0.6"</a>
<li> <b>Previous message:</b> <a href="0224.html">Julian Coleman: "Re: sane-1.00 and FreeBSD"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0228.html">Michael D Hughes: "Re: sane-1.00 and FreeBSD"</a>
<li> <b>Reply:</b> <a href="0228.html">Michael D Hughes: "Re: sane-1.00 and FreeBSD"</a>
<!-- reply="end" -->
</ul>
