<!-- received="Tue Dec 22 07:42:45 1998 PST" -->
<!-- sent="Tue, 22 Dec 1998 16:27:23 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: GIMP plugin crashes !" -->
<!-- id="199812221527.QAA08734@zeus.rz.uni-duesseldorf.de" -->
<!-- inreplyto="19981222134850.A3845@pantera" -->
<title>sane-devel: Re: GIMP plugin crashes !</title>
<h1>Re: GIMP plugin crashes !</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Tue, 22 Dec 1998 16:27:23 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#247">[ date ]</a><a href="index.html#247">[ thread ]</a><a href="subject.html#247">[ subject ]</a><a href="author.html#247">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0248.html">becka@rz.uni-duesseldorf.de: "Re: parallel Port"</a>
<li> <b>Previous message:</b> <a href="0246.html">Reinhold Bader: "(no subject)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; I own a Scanmaker 330 and I can use xscanimage without any problem but when</i><br>
<i>&gt; I try to use it with GIMP, I receive</i><br>
<i>&gt; /usr/lib/gimp/1.0/plug-ins/xscanimage: invalid option -- g</i><br>
<i>&gt; wire_read: unexpected EOF (plug-in crashed?)</i><br>
<p>
Try to run the xscanimage from the command line with option -g.<br>
<p>
It will probably respond with something like "xscanimage compiled without<br>
GIMP support". Recompile and make sure gimp support is enabled at configure <br>
time.<br>
<p>
CU, Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0248.html">becka@rz.uni-duesseldorf.de: "Re: parallel Port"</a>
<li> <b>Previous message:</b> <a href="0246.html">Reinhold Bader: "(no subject)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
