<!-- received="Sat Dec 26 14:37:05 1998 PST" -->
<!-- sent="Sat, 26 Dec 1998 23:36:20 +0100" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: SANE 1.0 and FreeBSD" -->
<!-- id="" -->
<!-- inreplyto="SANE 1.0 and FreeBSD" -->
<title>sane-devel: Re: SANE 1.0 and FreeBSD</title>
<h1>Re: SANE 1.0 and FreeBSD</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Sat, 26 Dec 1998 23:36:20 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#287">[ date ]</a><a href="index.html#287">[ thread ]</a><a href="subject.html#287">[ subject ]</a><a href="author.html#287">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0288.html">a.bolsch@ic.ac.uk: "Re: Mustek 12000P"</a>
<li> <b>Next message:</b> <a href="0288.html">a.bolsch@ic.ac.uk: "Re: Mustek SE 12000SP"</a>
<li> <b>Previous message:</b> <a href="0286.html">Jeffrey Perry: "Which scanners work best with SANE?"</a>
<li> <b>Maybe in reply to:</b> <a href="0280.html">Stingray: "SANE 1.0 and FreeBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Stingray wrote:<br>
<i>&gt; I downloaded and compiled SANE 1.0 on my FreeBSD 2.2.6 system.  </i><br>
<i>&gt; I have a HP scanjet 6200c, which is supported, right?  When the</i><br>
<i>&gt; system boots, the SCSI card is found (adaptec 1520) then it assigns</i><br>
<i>&gt; uk0 to the scanner so thats the device I specified in hp.conf:</i><br>
<p>
<i>&gt; </i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of hp to 4.</i><br>
<i>&gt; [hp] init called</i><br>
<i>&gt; [hp] get_devices called</i><br>
<i>&gt; [hp] scsi_inquire: sending INQUIRE</i><br>
<i>&gt; [hp] scsi_inquire: inquiry failed: Device busy</i><br>
<i>&gt; [hp] /dev/uk0: Can't open scsi device</i><br>
<i>&gt; [hp] exit called</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<p>
Hi,<br>
<p>
opening of the device was ok (sanei_scsi_open()).<br>
Then it tried to send an inquire command to get manufacturer,<br>
model and firmware date from the scanner.<br>
This inquiry failed. So it seems to be a problem with the connection<br>
of the scanner to the system.<br>
Anybody else who knows FreeBSD with a good idea ?<br>
<p>
-- Peter<br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0288.html">a.bolsch@ic.ac.uk: "Re: Mustek 12000P"</a>
<li> <b>Next message:</b> <a href="0288.html">a.bolsch@ic.ac.uk: "Re: Mustek SE 12000SP"</a>
<li> <b>Previous message:</b> <a href="0286.html">Jeffrey Perry: "Which scanners work best with SANE?"</a>
<li> <b>Maybe in reply to:</b> <a href="0280.html">Stingray: "SANE 1.0 and FreeBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
