<!-- received="Mon Dec 28 21:51:41 1998 PST" -->
<!-- sent="Sun, 27 Dec 1998 12:40:57 -0500 (EST)" -->
<!-- name="Jeffrey Perry" -->
<!-- email="j.perry@lynx.dac.neu.edu" -->
<!-- subject="Web site is down???" -->
<!-- id="199812271740.MAA02547@networkxxiii.xionics.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Web site is down???</title>
<h1>Web site is down???</h1>
<b>Jeffrey Perry</b> (<a href="mailto:j.perry@lynx.dac.neu.edu"><i>j.perry@lynx.dac.neu.edu</i></a>)<br>
<i>Sun, 27 Dec 1998 12:40:57 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#289">[ date ]</a><a href="index.html#289">[ thread ]</a><a href="subject.html#289">[ subject ]</a><a href="author.html#289">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0290.html">NOGAYA Shigeki: "Re: SANE 1.0 and FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0288.html">a.bolsch@ic.ac.uk: "Re: Mustek 12000P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0294.html">Pascal Bonete: "Re: Web site is down???"</a>
<li> <b>Reply:</b> <a href="0294.html">Pascal Bonete: "Re: Web site is down???"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Anyone else having problems accessing the SANE web page?<br>
Yesterday I had no problems, today it never connects and<br>
finally netscape has a timeout.<br>
<p>
Jeffrey Perry<br>
<a href="mailto:j.perry@lynx.dac.neu.edu">j.perry@lynx.dac.neu.edu</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0290.html">NOGAYA Shigeki: "Re: SANE 1.0 and FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0288.html">a.bolsch@ic.ac.uk: "Re: Mustek 12000P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0294.html">Pascal Bonete: "Re: Web site is down???"</a>
<li> <b>Reply:</b> <a href="0294.html">Pascal Bonete: "Re: Web site is down???"</a>
<!-- reply="end" -->
</ul>
