<!-- received="Sat Apr  3 23:44:32 1999 PST" -->
<!-- sent="Sat, 3 Apr 1999 23:43:12 -0800 (PST)" -->
<!-- name="De Clarke" -->
<!-- email="de@ucolick.org" -->
<!-- subject="microtek scanmaker again :-(" -->
<!-- id="199904040743.XAA03459@celeste.ucolick.org" -->
<!-- inreplyto="199904040654.WAA03395@celeste.ucolick.org" -->
<title>sane-devel: microtek scanmaker again :-(</title>
<h1>microtek scanmaker again :-(</h1>
<b>De Clarke</b> (<a href="mailto:de@ucolick.org"><i>de@ucolick.org</i></a>)<br>
<i>Sat, 3 Apr 1999 23:43:12 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#47">[ date ]</a><a href="index.html#47">[ thread ]</a><a href="subject.html#47">[ subject ]</a><a href="author.html#47">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Nick Lamb: "Re: microtek scanmaker again :-("</a>
<li> <b>Previous message:</b> <a href="0046.html">De Clarke: "Re: new prerelease available"</a>
<li> <b>In reply to:</b> <a href="0046.html">De Clarke: "Re: new prerelease available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0048.html">Nick Lamb: "Re: microtek scanmaker again :-("</a>
<li> <b>Reply:</b> <a href="0048.html">Nick Lamb: "Re: microtek scanmaker again :-("</a>
<li> <b>Reply:</b> <a href="0058.html">Bernd Schroeder: "Re: microtek scanmaker again :-("</a>
<li> <b>Reply:</b> <a href="0081.html">Dr. Andreas Bolsch: "Re: microtek scanmaker again :-("</a>
<li> <b>Reply:</b> <a href="0091.html">Paul Jakma: "Re: microtek scanmaker again :-("</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Well, the AVA card I got is yet a new model:<br>
<p>
	AVA 2902E/I<br>
<p>
It has NO onboard jumpers, and no BIOS.  It has no internal<br>
bus connector (the pads are there but there's no connector<br>
mounted in them).  I have no idea what IRQ, etc., it ought<br>
to have, or what driver might work with it.  The manual,<br>
of course, assumes that you have WinDoze or WinDoesN'T<br>
and you "just" use the CDROM software :-)<br>
<p>
I really *wish* microtek would just ship one scsi card and<br>
stick with it.  I was hoping to follow the path blazed by<br>
the other microtek owners but it appears my card is different.<br>
Phooey.<br>
<p>
Linux does not even detect the card (no PnP) on the way up.  <br>
I will try loading an adaptec 152x module but have little<br>
confidence... hmm, interesting error message...<br>
<p>
[root@musashi scsi]# insmod -v aha152x.o<br>
aha152x.o: init_module: Device or resource busy<br>
[root@musashi scsi]# insmod -v aha1740.o<br>
aha1740.o: init_module: Device or resource busy<br>
<p>
OK, I'm an ignoramus when it comes to PCI bus hardware,<br>
drivers, scsi configuration, etc.  So I'm already out<br>
of my depth :-)  No idea what the "busy" message means.<br>
<p>
I do have a Tekram scsi adapter with its own BIOS that "just <br>
works" with no problems.  Maybe I should get an adapter cable <br>
and hang the scanner on this card which I know works?  It has<br>
a mini 50pin instead of the mac-style 25pin, but I believe<br>
both cards are fast (not wide) scsi2.   I'll try linux-scsi<br>
list for clues about the AVA card, but putting it on a known<br>
working card seems like the easiest course.  Comments?<br>
<p>
de<br>
<p>
<pre>
-- 
.............................................................................
:De Clarke, Software Engineer                     UCO/Lick Observatory, UCSC:
:Mail: <a href="mailto:de@ucolick.org">de@ucolick.org</a> | There are only two kinds of computer languages: the :
:Web: www.ucolick.org | ones people hate, and the ones people don't use.--JO:
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">Nick Lamb: "Re: microtek scanmaker again :-("</a>
<li> <b>Previous message:</b> <a href="0046.html">De Clarke: "Re: new prerelease available"</a>
<li> <b>In reply to:</b> <a href="0046.html">De Clarke: "Re: new prerelease available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0048.html">Nick Lamb: "Re: microtek scanmaker again :-("</a>
<li> <b>Reply:</b> <a href="0048.html">Nick Lamb: "Re: microtek scanmaker again :-("</a>
<li> <b>Reply:</b> <a href="0058.html">Bernd Schroeder: "Re: microtek scanmaker again :-("</a>
<li> <b>Reply:</b> <a href="0081.html">Dr. Andreas Bolsch: "Re: microtek scanmaker again :-("</a>
<li> <b>Reply:</b> <a href="0091.html">Paul Jakma: "Re: microtek scanmaker again :-("</a>
<!-- reply="end" -->
</ul>
