<!-- received="Sun Apr  4 03:05:04 1999 PDT" -->
<!-- sent="Sun, 04 Apr 1999 09:44:43 +0000" -->
<!-- name="Jonathan A. Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: 16 bit per sample support" -->
<!-- id="m10TjSO-00018YC@hex" -->
<!-- inreplyto="199904032050.MAA15834@panda.mostang.com" -->
<title>sane-devel: Re: 16 bit per sample support</title>
<h1>Re: 16 bit per sample support</h1>
<b>Jonathan A. Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Sun, 04 Apr 1999 09:44:43 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#53">[ date ]</a><a href="index.html#53">[ thread ]</a><a href="subject.html#53">[ subject ]</a><a href="author.html#53">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Tim Waugh: "Re: Epson GT-5000 (parallel port)"</a>
<li> <b>Previous message:</b> <a href="0052.html">Oliver Graf: "Re: Epson GT-5000 (parallel port)"</a>
<li> <b>In reply to:</b> <a href="0041.html">David Mosberger-Tang: "Re: 16 bit per sample support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0057.html">Nick Lamb: "Re: 16 bit per sample support"</a>
<li> <b>Reply:</b> <a href="0057.html">Nick Lamb: "Re: 16 bit per sample support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a> said:<br>
<i>&gt; This is perfectly well defined in section 3.2:</i><br>
<i>&gt;   ... Valid bit depths are 1, 8, or 16 bits per sample.</i><br>
<i>&gt;   If a device's natural bit depth is something else, it is up</i><br>
<i>&gt;   to the driver to scale the sample values appropriately (e.g.,</i><br>
<i>&gt;   a 4 bit sample could be scaled by a factor of four to represent</i><br>
<i>&gt;   a sample value of depth 8). </i><br>
<p>
Possibly depending on the device this should be configurable. If I<br>
was scanning an X-ray at say 12bits I would be very upset if the backend<br>
then stretched it to 16bits.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Tim Waugh: "Re: Epson GT-5000 (parallel port)"</a>
<li> <b>Previous message:</b> <a href="0052.html">Oliver Graf: "Re: Epson GT-5000 (parallel port)"</a>
<li> <b>In reply to:</b> <a href="0041.html">David Mosberger-Tang: "Re: 16 bit per sample support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0057.html">Nick Lamb: "Re: 16 bit per sample support"</a>
<li> <b>Reply:</b> <a href="0057.html">Nick Lamb: "Re: 16 bit per sample support"</a>
<!-- reply="end" -->
</ul>
