<!-- received="Sun Apr  4 03:55:29 1999 PDT" -->
<!-- sent="Sun, 4 Apr 1999 11:50:04 +0100 (GMT)" -->
<!-- name="Tim Waugh" -->
<!-- email="tim@cyberelk.demon.co.uk" -->
<!-- subject="Re: Epson GT-5000 (parallel port)" -->
<!-- id="" -->
<!-- inreplyto="lm1zi01zyv.fsf@stargate.rhein-zeitung.de" -->
<title>sane-devel: Re: Epson GT-5000 (parallel port)</title>
<h1>Re: Epson GT-5000 (parallel port)</h1>
<b>Tim Waugh</b> (<a href="mailto:tim@cyberelk.demon.co.uk"><i>tim@cyberelk.demon.co.uk</i></a>)<br>
<i>Sun, 4 Apr 1999 11:50:04 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#55">[ date ]</a><a href="index.html#55">[ thread ]</a><a href="subject.html#55">[ subject ]</a><a href="author.html#55">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">Christian Ordig: "RE: Epson Parallel Port Scanner"</a>
<li> <b>Previous message:</b> <a href="0054.html">Tim Waugh: "Re: Epson GT-5000 (parallel port)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 4 Apr 1999, Oliver Graf wrote:<br>
<p>
<i>&gt; All parallel scanners require a hexadecimal portnumber as</i><br>
<i>&gt; configuration. (0x378 0x278 0x3bc or whatever your port is set to)</i><br>
<p>
Incidentally, it would be nice if backend maintainers for parallel port<br>
scanners would take a look at a device driver I have for user access to<br>
the port.  It's /dev/parport, effectively.<br>
<p>
The advantages of using /dev/parport are: no need to be root (file access<br>
permissions on device node), ability to share the port with other devices<br>
(for instance, a Zip drive with a pass-through port), potential for<br>
working on architectures other than PC.<br>
<p>
&lt;<a href="ftp://ftp.torque.net/pub/parport/ppuser-0.8.tar.gz">ftp://ftp.torque.net/pub/parport/ppuser-0.8.tar.gz</a>&gt;<br>
<p>
Note that this is a work in progress, so if you don't like how it works,<br>
let me know of a better way. ;-)<br>
<p>
Thanks,<br>
Tim.<br>
*/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">Christian Ordig: "RE: Epson Parallel Port Scanner"</a>
<li> <b>Previous message:</b> <a href="0054.html">Tim Waugh: "Re: Epson GT-5000 (parallel port)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
