<!-- received="Sun Apr  4 09:29:14 1999 PDT" -->
<!-- sent="Sun, 4 Apr 1999 10:49:24 +0100" -->
<!-- name="Matthias Gamisch" -->
<!-- email="vp00955@pop.vpn.at" -->
<!-- subject="Re: Sane drivers" -->
<!-- id="199904040849.KAA28916@e250.austriaONE.at" -->
<!-- inreplyto="Sane drivers" -->
<title>sane-devel: Re: Sane drivers</title>
<h1>Re: Sane drivers</h1>
<b>Matthias Gamisch</b> (<a href="mailto:vp00955@pop.vpn.at"><i>vp00955@pop.vpn.at</i></a>)<br>
<i>Sun, 4 Apr 1999 10:49:24 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Petter Reinholdtsen: "Small patches for SANE 1.01 pre4"</a>
<li> <b>Previous message:</b> <a href="0058.html">Bernd Schroeder: "Re: microtek scanmaker again :-("</a>
<li> <b>Maybe in reply to:</b> <a href="0021.html">Bert Bakker: "Sane drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0065.html">Oliver Rauch: "Re: Sane drivers"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 2 Apr 1999 Trip Lilley wrote:<br>
<p>
<i>&gt; And we, as a community, have a lot to learn yet about how to best convince</i><br>
<i>&gt; people to join us. I believe we will make much more headway with Microtek</i><br>
<i>&gt; if we can explain to them the benefits of releasing driver details without</i><br>
<i>&gt; the encumberance of non-disclosure agreements. If we can collect</i><br>
<i>&gt; statistics about our users, testimonials as to why they use brand X</i><br>
<i>&gt; scanners with SANE, and what they'd ideally use, if drivers existed, we</i><br>
<i>&gt; can do more to sway Microtek and others.</i><br>
<p>
I absolutely agree to that. Free and Open Source Software has reached a <br>
point where it becomes interesting for (experienced?) Windoze-users too. <br>
Step-by-step they are getting into Linux (as the most commonly used i <br>
suppose), and many of them into SANE too. I don't think that we need <br>
a "take-it-or-leave-it" attitude (that's how I understood what Hugo wrote), <br>
we need a open base for everyone interested (users AND manufacturers of <br>
course, although there might be some misunderstandings in the beginning).<br>
<p>
Concerning the testimonials: I am currently using a UMAX Astra 1200 S with <br>
Sane 1.0.0 (as far as I can remember ;-) on a SGI PI 4D/35 with IRIX 5.3 <br>
and it really works fine (a perfect example of the great work SANE <br>
developers do, I think). As I share this scanner with a friend, I already <br>
thought about buying another one. I would look for a UMAX device again, <br>
although the Microtek devices seem quite interesting. But the UMAX devices <br>
seem to have a better documentation than the Microtek ones, therefore the <br>
backend causes less troubles (this point of view is not adressed to the <br>
developers but to the manufacturers of course ). If I am spending up to 200 <br>
Euros for a scanner, I would like to be sure that I can use it without <br>
limitation on a Linux- or Unix-platform, and I think that this is a very <br>
common point of view.<br>
<p>
I can't believe that manufacturers like Microtek will close <br>
there eyes to the fact of a growing OS-Community - or will they???<br>
<p>
<p>
Matthias<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Petter Reinholdtsen: "Small patches for SANE 1.01 pre4"</a>
<li> <b>Previous message:</b> <a href="0058.html">Bernd Schroeder: "Re: microtek scanmaker again :-("</a>
<li> <b>Maybe in reply to:</b> <a href="0021.html">Bert Bakker: "Sane drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0065.html">Oliver Rauch: "Re: Sane drivers"</a>
<!-- reply="end" -->
</ul>
