<!-- received="Sun Apr  4 11:52:26 1999 PDT" -->
<!-- sent="Sun, 04 Apr 1999 20:08:57 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: sane 1.0, UMAX 610S and FreeBSD 3.1" -->
<!-- id="" -->
<!-- inreplyto="sane 1.0, UMAX 610S and FreeBSD 3.1" -->
<title>sane-devel: Re: sane 1.0, UMAX 610S and FreeBSD 3.1</title>
<h1>Re: sane 1.0, UMAX 610S and FreeBSD 3.1</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 04 Apr 1999 20:08:57 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#64">[ date ]</a><a href="index.html#64">[ thread ]</a><a href="subject.html#64">[ subject ]</a><a href="author.html#64">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Oliver Rauch: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0063.html">David Mosberger-Tang: "Re: umax 1120s"</a>
<li> <b>Maybe in reply to:</b> <a href="0006.html">Allan Strand: "sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Allan Strand wrote:<br>
<p>
<i>&gt; Oliver Rauch &lt;<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a>&gt; writes:</i><br>
<i>&gt; &gt; Allan Strand wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt; 1) I've just installed sane 1.00 on a freebsd 3.1 box.  The compile went</i><br>
<i>&gt; &gt; &gt; fine.  I have a UMAX 610S scanner on an adaptec 2940.  The scanner</i><br>
<i>&gt; &gt; &gt; probes fine during bootup (appears as device pass3).  I set the</i><br>
<i>&gt; &gt; &gt; permissions on /dev/pass3 to 777.  Executing scanimage -L  as root</i><br>
<i>&gt; &gt; &gt; reveals three devices, the UMAX scanner and two pnm devices.</i><br>
<i>&gt; &gt; &gt; Executing the same command as a normal user only reports the two pnm</i><br>
<i>&gt; &gt; &gt; devices.  Apparently I have a permission problem, but I;m not sure</i><br>
<i>&gt; &gt; &gt; where.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; is /dev/pass3 a symlink?do ls -l /dev/pass3</i><br>
<i>&gt; &gt;</i><br>
<i>&gt;</i><br>
<i>&gt; pass3 is the actual device.  If I symlink /dev/pass3 to /dev/scanner,</i><br>
<i>&gt; and update the umax.conf file then I can't even get root to see the</i><br>
<i>&gt; scanner.</i><br>
<p>
what does the tool find_scanner print as root and as user?<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Oliver Rauch: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0063.html">David Mosberger-Tang: "Re: umax 1120s"</a>
<li> <b>Maybe in reply to:</b> <a href="0006.html">Allan Strand: "sane 1.0, UMAX 610S and FreeBSD 3.1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
