<!-- received="Sun Apr  4 15:07:12 1999 PDT" -->
<!-- sent="Sun, 4 Apr 1999 18:06:15 -0400" -->
<!-- name="Rick Knebel" -->
<!-- email="rknebel@uplink.net" -->
<!-- subject="sane install" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane install</title>
<h1>sane install</h1>
<b>Rick Knebel</b> (<a href="mailto:rknebel@uplink.net"><i>rknebel@uplink.net</i></a>)<br>
<i>Sun, 4 Apr 1999 18:06:15 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Petter Reinholdtsen: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0066.html">Jeff DeFouw: "Re: twainscan 600 III EP plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I am using freebsd 3.1 and have installed all the required packages for sane<br>
via the ports collection.<br>
<p>
During the build of sane it always stops with these error messages.<br>
<p>
cc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -I/usr/local/include<br>
-I/usr/X11R6/include/gtk12 -I/usr/X11R6/include -I/usr/local/include/glib12<br>
-O -pipe -I/usr/local/include -D_GNU_SOURCE<br>
-DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d<br>
-DPATH_SANE_DATA_DIR=/usr/local/share           -DV_MAJOR=1 -DV_MINOR=0 -O<br>
-pipe -Wall gtkglue.c<br>
cc -o .libs/xscanimage xscanimage.o progress.o preview.o preferences.o<br>
gtkglue.o ../sanei/libsanei.a -Wl,--rpath -Wl,/usr/local/lib<br>
../backend/.libs/libsane.so ../lib/liblib.a -lgimp -L/usr/X11R6/lib<br>
-L/usr/X11R6/lib -lgtk12 -lgdk12 -L/usr/local/lib -Wl,-E -lgmodule12<br>
-lglib12 -lintl -lXext -lX11 -lm -ljpeg -lintl -lm -L/usr/local/lib -lcam<br>
/usr/X11R6/lib/libgimp.so: undefined reference to _debug'<br>
/usr/X11R6/lib/libgimp.so: undefined reference to _message'<br>
/usr/X11R6/lib/libgimp.so: undefined reference to _warning'<br>
/usr/X11R6/lib/libgimp.so: undefined reference to _error'<br>
gmake[1]: *** [xscanimage] Error 1<br>
gmake[1]: Leaving directory<br>
/usr/ports/graphics/sane/work/sane-1.00/frontend'<br>
gmake: *** [all-recursive] Error 1<br>
*** Error code 2<br>
<p>
Stop.<br>
*** Error code 1<br>
<p>
Stop.<br>
*** Error code 1<br>
<p>
Does this make sense to anyone??<br>
<p>
Thanks<br>
<p>
Rick<br>
<p>
<pre>
-- 
Rick Knebel
<a href="mailto:rknebel@uplink.net">rknebel@uplink.net</a>
<a href="http://woodstock.csrlink.net/~bknebel">http://woodstock.csrlink.net/~bknebel</a>
<p>
Soon to be <a href="http://rknebel.uplink.net">http://rknebel.uplink.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Petter Reinholdtsen: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0066.html">Jeff DeFouw: "Re: twainscan 600 III EP plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
