<!-- received="Mon Apr  5 16:07:52 1999 PDT" -->
<!-- sent="Mon, 05 Apr 1999 23:02:56 +0000" -->
<!-- name="Jonathan A. Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: 16 bit per sample support" -->
<!-- id="m10UIOO-00017mC@hex" -->
<!-- inreplyto="199904051525.JAA25934@munet-d.enel.ucalgary.ca" -->
<title>sane-devel: Re: 16 bit per sample support</title>
<h1>Re: 16 bit per sample support</h1>
<b>Jonathan A. Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Mon, 05 Apr 1999 23:02:56 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">David Mosberger-Tang: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0088.html">Jonathan A. Buzzard: "Re: 16 bit per sample support"</a>
<li> <b>In reply to:</b> <a href="0082.html">Andreas Dilger: "Re: 16 bit per sample support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0085.html">Nick Lamb: "Re: 16 bit per sample support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:adilger@enel.ucalgary.ca">adilger@enel.ucalgary.ca</a> said:<br>
<i>&gt; If you are doing things like adding images together, just assuming</i><br>
<i>&gt; that 12 bits is better than the stored 16 bits is pointless, because</i><br>
<i>&gt; if you are adding more than 16 images or doing other mathematical</i><br>
<i>&gt; operations you will overflow anyways, and you are probably better off</i><br>
<i>&gt; using a 32-bit fixed point representation anyways.  The important</i><br>
<i>&gt; thing is that you know what bit-depth the original data was in, and</i><br>
<i>&gt; the back-end will know this, and the front-end should save it.  PNG</i><br>
<i>&gt; does this, and it is being used for medical image storage. </i><br>
<p>
In a world where everyone is using PNG and the front end stores the<br>
bit depth of the original image this is fine. Not everyone lives in<br>
a perfect world.<br>
<p>
Fixed point representation in image processing is a last resort, and adding<br>
images is only an example, intended to be simplistic so everyone could<br>
grasp the concept.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">David Mosberger-Tang: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0088.html">Jonathan A. Buzzard: "Re: 16 bit per sample support"</a>
<li> <b>In reply to:</b> <a href="0082.html">Andreas Dilger: "Re: 16 bit per sample support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0085.html">Nick Lamb: "Re: 16 bit per sample support"</a>
<!-- reply="end" -->
</ul>
