<!-- received="Thu Apr  8 08:48:32 1999 PDT" -->
<!-- sent="Thu, 8 Apr 1999 09:49:35 -0600 (MDT)" -->
<!-- name="Andreas Dilger" -->
<!-- email="adilger@enel.ucalgary.ca" -->
<!-- subject="Re: Scanner -&gt; printer problem" -->
<!-- id="199904081549.JAA01030@munet-d.enel.ucalgary.ca" -->
<!-- inreplyto="Pine.GSO.3.95q.990408090541.3897C-100000@jupiter" -->
<title>sane-devel: Re: Scanner -&gt; printer problem</title>
<h1>Re: Scanner -&gt; printer problem</h1>
<b>Andreas Dilger</b> (<a href="mailto:adilger@enel.ucalgary.ca"><i>adilger@enel.ucalgary.ca</i></a>)<br>
<i>Thu, 8 Apr 1999 09:49:35 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#145">[ date ]</a><a href="index.html#145">[ thread ]</a><a href="subject.html#145">[ subject ]</a><a href="author.html#145">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">Oliver Rauch: "Re: Scanner -&gt; printer problem"</a>
<li> <b>Previous message:</b> <a href="0144.html">Raymond A. Ingles: "Scanner -&gt; printer problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
You write:<br>
<i>&gt;  I've got a Mustek scanner that I use with SANE (at 300dpi, lineart mode)</i><br>
<i>&gt; and an HP DeskJet 600 printer (used at 300dpi again). SANE spits out a</i><br>
<i>&gt; PPM-format file.</i><br>
<i>&gt; </i><br>
<i>&gt;  I've tried using "pnmtops" (from the netpbm package) and "convert" (from</i><br>
<i>&gt; ImageMagick) to produce a postscript file that then goes through</i><br>
<i>&gt; magicfilter. I *thought* I read the man pages appropriately, but the image</i><br>
<i>&gt; on the paper is not *quite* the same size as the original.</i><br>
<p>
I would avoid the entire ppm-&gt;ps-&gt;pcl conversion step, since it is possible<br>
to confuse things with the multiple conversions.  I'm pretty sure there is<br>
a pbm-&gt;pcl filter (pbmtolj), that I use with sendfax, but it may<br>
even be part of the normal netpbm tools.  I had set up my magicfilter to<br>
use this instead of going to PS, and then having ghostscript convert back<br>
to raster, because it uses a lot of memory + CPU, and I didn't have a fast<br>
machine back then.  Here are the relevant lines in my filter file:<br>
<p>
0       P1\n            pipe    /usr/local/bin/netpbm/pbmtolj  -resoution 300 2&gt; /dev/null<br>
0       P2\n            pipe    /usr/local/bin/netpbm/pgmtopbm 2&gt;/dev/null<br>
0       P3\n            pipe    /usr/local/bin/netpbm/ppmtopgm 2&gt;/dev/null<br>
0       P4\n            pipe    /usr/local/bin/netpbm/pbmtolj -resolution 300 2&gt; /dev/null<br>
0       P5\n            pipe    /usr/local/bin/netpbm/pgmtopbm 2&gt;/dev/null<br>
0       P6\n            pipe    /usr/local/bin/netpbm/ppmtopgm 2&gt;/dev/null<br>
<p>
As you can see, it converts color/grayscale to b&amp;w first, and then prints.<br>
Now, this works fine with my LaserJet, but I'm not 100% sure on the DeskJet<br>
if it supports PCL.  If it doesn't, you may need to use a different back-end,<br>
but it is relatively easy to do, since the data is guaranteed to be in raster<br>
format, which the printer can handle, with a few codes.<br>
<p>
Cheers, Andreas<br>
<pre>
-- 
Andreas Dilger   University of Calgary  \"If a man ate a pound of pasta and
                 Micronet Research Group \ a pound of antipasto, would they
Dept of Electrical &amp; Computer Engineering \   cancel out, leaving him still
<a href="http://www-mddsp.enel.ucalgary.ca/People/adilger/">http://www-mddsp.enel.ucalgary.ca/People/adilger/</a>       hungry?" -- Dogbert
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0146.html">Oliver Rauch: "Re: Scanner -&gt; printer problem"</a>
<li> <b>Previous message:</b> <a href="0144.html">Raymond A. Ingles: "Scanner -&gt; printer problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
