<!-- received="Thu Apr  8 10:08:25 1999 PDT" -->
<!-- sent="Thu, 08 Apr 1999 18:09:40 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="Andreas.Bolsch@maths.nott.ac.uk" -->
<!-- subject="Re: Color images - Lines mismatched ?" -->
<!-- id="" -->
<!-- inreplyto="Color images - Lines mismatched ?" -->
<title>sane-devel: Re: Color images - Lines mismatched ?</title>
<h1>Re: Color images - Lines mismatched ?</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:Andreas.Bolsch@maths.nott.ac.uk"><i>Andreas.Bolsch@maths.nott.ac.uk</i></a>)<br>
<i>Thu, 08 Apr 1999 18:09:40 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#147">[ date ]</a><a href="index.html#147">[ thread ]</a><a href="subject.html#147">[ subject ]</a><a href="author.html#147">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Petter Reinholdtsen: "Link from SANE pages to Windows clients"</a>
<li> <b>Previous message:</b> <a href="0146.html">Oliver Rauch: "Re: Scanner -&gt; printer problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0136.html">Gaetano Paolone: "Color images - Lines mismatched ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0154.html">Gaetano Paolone: "Re: Color images - Lines mismatched ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
There was a report some time ago that disabling disconnect/reconnect for<br>
the SCSI driver might help.<br>
See the documentation for your SCSI card's driver how to do this. Maybe<br>
you have to recompile<br>
the driver /kernel to do this.<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Petter Reinholdtsen: "Link from SANE pages to Windows clients"</a>
<li> <b>Previous message:</b> <a href="0146.html">Oliver Rauch: "Re: Scanner -&gt; printer problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0136.html">Gaetano Paolone: "Color images - Lines mismatched ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0154.html">Gaetano Paolone: "Re: Color images - Lines mismatched ?"</a>
<!-- reply="end" -->
</ul>
