<!-- received="Fri Apr  9 02:06:21 1999 PDT" -->
<!-- sent="Fri, 09 Apr 1999 10:08:04 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="Andreas.Bolsch@maths.nott.ac.uk" -->
<!-- subject="Re: Color images - Lines mismatched ?" -->
<!-- id="" -->
<!-- inreplyto="Color images - Lines mismatched ?" -->
<title>sane-devel: Re: Color images - Lines mismatched ?</title>
<h1>Re: Color images - Lines mismatched ?</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:Andreas.Bolsch@maths.nott.ac.uk"><i>Andreas.Bolsch@maths.nott.ac.uk</i></a>)<br>
<i>Fri, 09 Apr 1999 10:08:04 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#162">[ date ]</a><a href="index.html#162">[ thread ]</a><a href="subject.html#162">[ subject ]</a><a href="author.html#162">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Dr. Andreas Bolsch: "Re: Scanner -&gt; printer problem"</a>
<li> <b>Previous message:</b> <a href="0161.html">Mentore #cat# Siesto: "Re: Epson GT-5000 (parallel port)"</a>
<li> <b>Maybe in reply to:</b> <a href="0136.html">Gaetano Paolone: "Color images - Lines mismatched ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Yes, for some drivers. If you enable them you'll get some additional<br>
properties to select from. Beware: It's not in the global SCSI<br>
configuration but the low level driver section. <br>
<p>
At least for my AVA1505 (driver aha152x compiled as module) it's<br>
possible to set this (and some other properties as well) when<br>
loading the module.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Dr. Andreas Bolsch: "Re: Scanner -&gt; printer problem"</a>
<li> <b>Previous message:</b> <a href="0161.html">Mentore #cat# Siesto: "Re: Epson GT-5000 (parallel port)"</a>
<li> <b>Maybe in reply to:</b> <a href="0136.html">Gaetano Paolone: "Color images - Lines mismatched ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
