<!-- received="Sat Apr 10 10:27:13 1999 PDT" -->
<!-- sent="Sat, 10 Apr 1999 19:29:48 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: updated RPM packages" -->
<!-- id="" -->
<!-- inreplyto="199904101643.SAA08255@lee.Cc.Uit.No" -->
<title>sane-devel: Re: updated RPM packages</title>
<h1>Re: updated RPM packages</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sat, 10 Apr 1999 19:29:48 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#172">[ date ]</a><a href="index.html#172">[ thread ]</a><a href="subject.html#172">[ subject ]</a><a href="author.html#172">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">martica@martica.org: "Relisys Backend devel snags -- lockup when scanner buffer fills"</a>
<li> <b>Previous message:</b> <a href="0171.html">Petter Reinholdtsen: "Re: updated RPM packages"</a>
<li> <b>In reply to:</b> <a href="0171.html">Petter Reinholdtsen: "Re: updated RPM packages"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 10 Apr 1999, Petter Reinholdtsen wrote:<br>
<p>
<i>&gt; &gt; I am currently sending updated RPM packages to incoming.redhat.com</i><br>
<i>&gt; &gt; and they should appear on contrib.redhat.com in due time. These are</i><br>
<i>&gt; &gt; both for the Alpha en Intel machines.</i><br>
<i>&gt; </i><br>
<i>&gt; That sounds marvelous.  Will you be packing up v1.01 when it is</i><br>
<i>&gt; available too?</i><br>
<p>
I plan too.<br>
<p>
<i>&gt; Remember to place the etc/ files in /etc, not /usr/etc/ or</i><br>
<i>&gt; /usr/local/etc.</i><br>
<p>
I did some previous versions untill someone took over but somehow I can't<br>
recall seeing recent version as RPM. Or they lacked GIMP support.<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">martica@martica.org: "Relisys Backend devel snags -- lockup when scanner buffer fills"</a>
<li> <b>Previous message:</b> <a href="0171.html">Petter Reinholdtsen: "Re: updated RPM packages"</a>
<li> <b>In reply to:</b> <a href="0171.html">Petter Reinholdtsen: "Re: updated RPM packages"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
