<!-- received="Sun Apr 11 01:01:49 1999 PDT" -->
<!-- sent="Sun, 11 Apr 1999 10:06:55 +0200" -->
<!-- name="Laurent GRAWET" -->
<!-- email="laurent.grawet@europe.com" -->
<!-- subject="Need help to compile Sane." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Need help to compile Sane.</title>
<h1>Need help to compile Sane.</h1>
<b>Laurent GRAWET</b> (<a href="mailto:laurent.grawet@europe.com"><i>laurent.grawet@europe.com</i></a>)<br>
<i>Sun, 11 Apr 1999 10:06:55 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#176">[ date ]</a><a href="index.html#176">[ thread ]</a><a href="subject.html#176">[ subject ]</a><a href="author.html#176">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Oliver Rauch: "Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Previous message:</b> <a href="0175.html">martica@martica.org: "Re: Relisys Backend devel snags -- lockup when scanner buffer fills"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0178.html">Oliver Rauch: "Re: Need help to compile Sane."</a>
<li> <b>Reply:</b> <a href="0178.html">Oliver Rauch: "Re: Need help to compile Sane."</a>
<li> <b>Reply:</b> <a href="0179.html">Oliver Rauch: "Re: Need help to compile Sane."</a>
<li> <b>Reply:</b> <a href="0184.html">Laurent GRAWET: "Re: Need help to compile Sane."</a>
<li> <b>Reply:</b> <a href="0185.html">Laurent GRAWET: "Re: Need help to compile Sane."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I'm trying to compile sane-pre1.01-4 with the patch<br>
agfa-snapscan-1236-5.diff <br>
(for agfa 1236) for a few days. When I launch configure, it says that it<br>
can't<br>
run GTK (but it find usr/bin/gtk-config !!!). I'm SURE that gtk is well<br>
installed because I've got other applications which run with it.<br>
I tryed to tell configure where GTK is installed (with the option line)<br>
but I<br>
can't get any results.<br>
<p>
I've installed :<br>
GTK+ 1.0.6-3 (rpm version)<br>
GTL+-devel 1.0.6-3 (rpm version)<br>
<p>
and I run the Kernel 2.2.5 with source codes in usr/src/linux.<br>
I use a mandrake 5.3 distribution.<br>
<p>
Question : When I run Configure, does all the lines must be <br>
terminated by yes ? Or it is normal (following the configuration of the <br>
system) that some lines are set to no ?<br>
<p>
Is it possible that the test (for GTK) in Configure is a bad test ?<br>
Can I disable this test ?<br>
<p>
When I try to compile with make, I get the following error report after<br>
a few<br>
seconds :<br>
<p>
gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -D_GNU_SOURCE<br>
-Dgtk_events_pending=gdk_events_pending<br>
-DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d<br>
-DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=1 -DV_MINOR=0 -g -O2<br>
-Wall -fPIC -DPIC sanei_net.c<br>
sanei_net.c: In function `w_option_value':<br>
sanei_net.c:122: `EINVAL' undeclared (first use this function)<br>
sanei_net.c:122: (Each undeclared identifier is reported only once<br>
sanei_net.c:122: for each function it appears in.)<br>
make[1]: *** [sanei_net.o] Error 1<br>
make[1]: Leaving directory `/usr/src/sane-pre1.01/sanei'<br>
make: *** [all-recursive] Error 1<br>
<p>
Can anybody help me ?<br>
<p>
Last thing, If somebody have sane compiled in RPM format patched for the<br>
snapscan 1236, it would be very nice !<br>
<p>
Thanks<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Oliver Rauch: "Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Previous message:</b> <a href="0175.html">martica@martica.org: "Re: Relisys Backend devel snags -- lockup when scanner buffer fills"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0178.html">Oliver Rauch: "Re: Need help to compile Sane."</a>
<li> <b>Reply:</b> <a href="0178.html">Oliver Rauch: "Re: Need help to compile Sane."</a>
<li> <b>Reply:</b> <a href="0179.html">Oliver Rauch: "Re: Need help to compile Sane."</a>
<li> <b>Reply:</b> <a href="0184.html">Laurent GRAWET: "Re: Need help to compile Sane."</a>
<li> <b>Reply:</b> <a href="0185.html">Laurent GRAWET: "Re: Need help to compile Sane."</a>
<!-- reply="end" -->
</ul>
