<!-- received="Sun Apr 11 01:40:42 1999 PDT" -->
<!-- sent="Sun, 11 Apr 1999 10:08:04 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Mustek 1200SP/12000SP Firmware-1.05" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek 1200SP/12000SP Firmware-1.05</title>
<h1>Mustek 1200SP/12000SP Firmware-1.05</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 11 Apr 1999 10:08:04 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#177">[ date ]</a><a href="index.html#177">[ thread ]</a><a href="subject.html#177">[ subject ]</a><a href="author.html#177">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0178.html">Oliver Rauch: "Re: Need help to compile Sane."</a>
<li> <b>Previous message:</b> <a href="0176.html">Laurent GRAWET: "Need help to compile Sane."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0199.html">*** Gaetano Paolone ***: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0199.html">*** Gaetano Paolone ***: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0203.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0204.html">Oliver Rauch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0205.html">Oliver Rauch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0206.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0212.html">Oliver Rauch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0213.html">Oliver Rauch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0217.html">Bjoern Buerger: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0219.html">*** Gaetano Paolone ***: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0227.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0229.html">Bjoern Buerger: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0230.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0247.html">*** Gaetano Paolone ***: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--------------86F0B60D76F12C84DD0D23AC<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Hi everyone,<br>
<p>
Did anyone get a Mustek 1200SP / 12000SP with firmware 1.05 to work?<br>
A neigbour saind he had the following problems:<br>
 - scan time 10-60 times the time the windows driver needs<br>
 - in lineart is ok only in some resolutions<br>
 - colormode gives very bad results in all resolutions, but the quality changes<br>
with the resolution<br>
<p>
in the manpage and the supported scanner webpage the firmwareversion is not<br>
mentioned.<br>
<p>
I would like to help him, can anyone give me some tips?<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
--------------86F0B60D76F12C84DD0D23AC
Content-Type: text/html; charset=us-ascii
Content-Transfer-Encoding: 7bit
<p>
<HTML>
Hi everyone,

<P>Did anyone get a Mustek 1200SP / 12000SP with firmware 1.05 to work?
<BR>A neigbour saind he had the following problems:
<BR>&nbsp;- scan time 10-60 times the time the windows driver needs
<BR>&nbsp;- in lineart is ok only in some resolutions
<BR>&nbsp;- colormode gives very bad results in all resolutions, but the
quality changes with the resolution

<P>in the manpage and the supported scanner webpage the firmwareversion
is not mentioned.

<P>I would like to help him, can anyone give me some tips?

<P>Bye
<BR>Oliver
<PRE>--&nbsp;
EMAIL: Oliver.Rauch@Wolfsburg.DE
WWW: <A HREF="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</A></PRE>
&nbsp;</HTML>

--------------86F0B60D76F12C84DD0D23AC--


--
Source code, list archive, and docs: http://www.mostang.com/sane/
To unsubscribe: echo unsubscribe sane-devel | mail majordomo@mostang.com
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0178.html">Oliver Rauch: "Re: Need help to compile Sane."</a>
<li> <b>Previous message:</b> <a href="0176.html">Laurent GRAWET: "Need help to compile Sane."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0199.html">*** Gaetano Paolone ***: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0199.html">*** Gaetano Paolone ***: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0203.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0204.html">Oliver Rauch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0205.html">Oliver Rauch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0206.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0212.html">Oliver Rauch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0213.html">Oliver Rauch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0217.html">Bjoern Buerger: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0219.html">*** Gaetano Paolone ***: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0227.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0229.html">Bjoern Buerger: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0230.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Reply:</b> <a href="0247.html">*** Gaetano Paolone ***: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- reply="end" -->
</ul>
