<!-- received="Sun Apr 11 13:08:35 1999 PDT" -->
<!-- sent="Sun, 11 Apr 1999 13:08:32 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: May sane_init fail?" -->
<!-- id="199904112008.NAA04717@panda.mostang.com" -->
<!-- inreplyto="199904091333.PAA04971@lee.Cc.Uit.No" -->
<title>sane-devel: Re: May sane_init fail?</title>
<h1>Re: May sane_init fail?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sun, 11 Apr 1999 13:08:32 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#191">[ date ]</a><a href="index.html#191">[ thread ]</a><a href="subject.html#191">[ subject ]</a><a href="author.html#191">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0192.html">David Mosberger-Tang: "Re: updated RPM packages"</a>
<li> <b>Previous message:</b> <a href="0190.html">Richard Kuhlbars: "GTK-Critical error with sane 1.01 pre4"</a>
<li> <b>In reply to:</b> <a href="0166.html">Petter Reinholdtsen: "May sane_init fail?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0196.html">Tripp Lilley: "Re: May sane_init fail?"</a>
<li> <b>Next in thread:</b> <a href="0194.html">Petter Reinholdtsen: "Re: May sane_init fail?"</a>
<li> <b>Reply:</b> <a href="0196.html">Tripp Lilley: "Re: May sane_init fail?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 9 Apr 1999 15:33:56 +0200, Petter Reinholdtsen &lt;<a href="mailto:pere@hungry.com">pere@hungry.com</a>&gt; said:</i><br>
<p>
  Petter&gt; I am reading the sane documentation 4.3.1: sane_init.  This<br>
  Petter&gt; operation returns SANE_Status, but the documentation does<br>
  Petter&gt; not describe which return values that are valid.<br>
<p>
Hmmh, this may well be a typo.  I'm quite sure our intention was that<br>
a frontend does not have to check for the return value of sane_init()<br>
(i.e., treat it as a void).  Note that none of the existing frontends<br>
check the return status of sane_init().  I think we should correct<br>
this in v2 of the SANE protocol.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0192.html">David Mosberger-Tang: "Re: updated RPM packages"</a>
<li> <b>Previous message:</b> <a href="0190.html">Richard Kuhlbars: "GTK-Critical error with sane 1.01 pre4"</a>
<li> <b>In reply to:</b> <a href="0166.html">Petter Reinholdtsen: "May sane_init fail?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0196.html">Tripp Lilley: "Re: May sane_init fail?"</a>
<li> <b>Next in thread:</b> <a href="0194.html">Petter Reinholdtsen: "Re: May sane_init fail?"</a>
<li> <b>Reply:</b> <a href="0196.html">Tripp Lilley: "Re: May sane_init fail?"</a>
<!-- reply="end" -->
</ul>
