<!-- received="Wed Apr 14 10:27:50 1999 PDT" -->
<!-- sent="Wed, 14 Apr 1999 19:26:37 +0200" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: wait for so long time" -->
<!-- id="" -->
<!-- inreplyto="wait for so long time" -->
<title>sane-devel: Re: wait for so long time</title>
<h1>Re: wait for so long time</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Wed, 14 Apr 1999 19:26:37 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#223">[ date ]</a><a href="index.html#223">[ thread ]</a><a href="subject.html#223">[ subject ]</a><a href="author.html#223">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0224.html">Joao Pedras: "Re: new release delayed"</a>
<li> <b>Previous message:</b> <a href="0222.html">Alexander Jerjomin: "wait for so long time"</a>
<li> <b>Maybe in reply to:</b> <a href="0222.html">Alexander Jerjomin: "wait for so long time"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Alexander Jerjomin wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hello.</i><br>
<i>&gt; </i><br>
<i>&gt; I use RedHat Linux 5.2, kernel 2.0.36, sane-1.00-1.</i><br>
<i>&gt; I have an HP ScanJet 6100C, Adaptec AHA-294X Ultra SCSI host</i><br>
<i>&gt;   adapter.</i><br>
<i>&gt; </i><br>
<i>&gt; When run command "scanimage -v" I see</i><br>
<i>&gt; |Detected scsi generic sga at scsi0, channel 0, id 2, lun 0</i><br>
<i>&gt; |scanimage: scanning image of size 2550x4199 pixels at 1 bits/pixel</i><br>
<i>&gt; |scanimage: acquiring gray frame</i><br>
<i>&gt; |P4</i><br>
<i>&gt; |# SANE data follows</i><br>
<i>&gt; |2550 4199</i><br>
<i>&gt; </i><br>
<i>&gt; then scanning process waits ~3 min,</i><br>
<i>&gt; </i><br>
<i>&gt; then data get printed.</i><br>
<i>&gt; </i><br>
<i>&gt; Why does it wait for so long time?</i><br>
<i>&gt; Is this software or hardware problem?</i><br>
<i>&gt; Can you help me?</i><br>
<i>&gt; </i><br>
<p>
Hi,<br>
<p>
if you want to see in detail whats going on, you can set some<br>
environment variables:<br>
<p>
export SANE_DEBUG_HP=128<br>
export SANE_DEBUG_SANEI_SCSI=128<br>
<p>
and start scanimage again. This will give you a lot (!) of output. The<br>
commands immediately in front of the 3 minute delay would be<br>
interesting.<br>
You can reduce the values of 128 to reduce the output.<br>
<p>
Sincerely<br>
<p>
Peter<br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0224.html">Joao Pedras: "Re: new release delayed"</a>
<li> <b>Previous message:</b> <a href="0222.html">Alexander Jerjomin: "wait for so long time"</a>
<li> <b>Maybe in reply to:</b> <a href="0222.html">Alexander Jerjomin: "wait for so long time"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
