<!-- received="Sat Apr 17 05:09:51 1999 PDT" -->
<!-- sent="Sat, 17 Apr 1999 14:11:24 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: Silly question?" -->
<!-- id="199904171211.OAA25351@lee.Cc.Uit.No" -->
<!-- inreplyto="Silly question?" -->
<title>sane-devel: Re: Silly question?</title>
<h1>Re: Silly question?</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sat, 17 Apr 1999 14:11:24 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#236">[ date ]</a><a href="index.html#236">[ thread ]</a><a href="subject.html#236">[ subject ]</a><a href="author.html#236">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0237.html">Hugo van der Kooij: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0235.html">David Mosberger-Tang: "Re: Silly question?"</a>
<li> <b>Maybe in reply to:</b> <a href="0234.html">Hugo van der Kooij: "Silly question?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0237.html">Hugo van der Kooij: "Re: Silly question?"</a>
<li> <b>Reply:</b> <a href="0237.html">Hugo van der Kooij: "Re: Silly question?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Hugo van der Kooij]<br>
<i>&gt; But it would be nice if [net devices] were selectable from a short</i><br>
<i>&gt; list.</i><br>
<p>
[David Mosberger-Tang]<br>
<i>&gt; This should happen automatically if /dev/scanner is detected</i><br>
<i>&gt; automatically on the host system _and_ the net backend in listed in</i><br>
<i>&gt; dll.conf.</i><br>
<p>
And if &lt;host&gt; is listed in net.conf or in the environment variable<br>
SANE_NET_HOSTS.  Summary:<br>
<p>
  - net listed in dll.conf on &lt;localhost&gt;<br>
  - &lt;host&gt; listed in net.conf (or SANE_NET_HOSTS) on &lt;localhost&gt;<br>
  - saned++ listed in /etc/inetd.conf<br>
  - &lt;localhost&gt; listed in saned.conf on &lt;host&gt;<br>
  - scanner is autodetected on &lt;host&gt;<br>
<p>
Hm, maybe this should go into the documentation somewhere... :-)<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0237.html">Hugo van der Kooij: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0235.html">David Mosberger-Tang: "Re: Silly question?"</a>
<li> <b>Maybe in reply to:</b> <a href="0234.html">Hugo van der Kooij: "Silly question?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0237.html">Hugo van der Kooij: "Re: Silly question?"</a>
<li> <b>Reply:</b> <a href="0237.html">Hugo van der Kooij: "Re: Silly question?"</a>
<!-- reply="end" -->
</ul>
