<!-- received="Sat Apr 17 09:31:13 1999 PDT" -->
<!-- sent="Sun, 18 Apr 1999 20:21:23 +0200" -->
<!-- name="Nestech" -->
<!-- email="nestech@online.worldnet.fr" -->
<!-- subject="Guillemot MaxiScan A4 //" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Guillemot MaxiScan A4 //</title>
<h1>Guillemot MaxiScan A4 //</h1>
<b>Nestech</b> (<a href="mailto:nestech@online.worldnet.fr"><i>nestech@online.worldnet.fr</i></a>)<br>
<i>Sun, 18 Apr 1999 20:21:23 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#239">[ date ]</a><a href="index.html#239">[ thread ]</a><a href="subject.html#239">[ subject ]</a><a href="author.html#239">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0240.html">Hugo van der Kooij: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0238.html">David Mosberger-Tang: "Re: Silly question?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi, are you going to make a driver for the Guillemot MaxiScan A4 // ? If<br>
you don't, I'd like to make one, I've asked information from Guillemot I<br>
hope they'll give me, and could you explain me the principe of a scanner<br>
driver ? (scuse my bad english, I'm french :)<br>
<p>
thx you in advance<br>
<p>
Nestech <a href="mailto:nestech@online.worldnet.fr">nestech@online.worldnet.fr</a>    Undernet ==&gt; #linuxfr<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0240.html">Hugo van der Kooij: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0238.html">David Mosberger-Tang: "Re: Silly question?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
