<!-- received="Mon Apr 19 21:28:18 1999 PDT" -->
<!-- sent="Mon, 19 Apr 1999 18:18:20 +0200 (CEST)" -->
<!-- name="Irvin Probst" -->
<!-- email="irvin@atlantic-line.fr" -->
<!-- subject="RE: at3 + ava 1505 again..." -->
<!-- id="" -->
<!-- inreplyto="371B458B.90381037@tin.it" -->
<title>sane-devel: RE: at3 + ava 1505 again...</title>
<h1>RE: at3 + ava 1505 again...</h1>
<b>Irvin Probst</b> (<a href="mailto:irvin@atlantic-line.fr"><i>irvin@atlantic-line.fr</i></a>)<br>
<i>Mon, 19 Apr 1999 18:18:20 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#262">[ date ]</a><a href="index.html#262">[ thread ]</a><a href="subject.html#262">[ subject ]</a><a href="author.html#262">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">David Mosberger-Tang: "Re: latest beta finally available!"</a>
<li> <b>Previous message:</b> <a href="0261.html">J. David Eisenberg: "Copy of letter to Relisys"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Have you try scanimage -d driver_name:/dev/device_of_the_scanner ?<br>
<p>
For example with my Epson GT5500 it is<br>
<p>
scanimage -d epson:/dev/scanner  where /dev/scanner is a link to /dev/sga<br>
<p>
<p>
<pre>
--
                                Irvin Probst
Micro$oft is not the answer, Micro$oft is the question and the answer is Linux
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">David Mosberger-Tang: "Re: latest beta finally available!"</a>
<li> <b>Previous message:</b> <a href="0261.html">J. David Eisenberg: "Copy of letter to Relisys"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
