<!-- received="Tue Apr 20 10:49:23 1999 PDT" -->
<!-- sent="Tue, 20 Apr 1999 19:47:45 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Re[2]: Silly question?" -->
<!-- id="" -->
<!-- inreplyto="18843.990420@ddd.kursknet.ru" -->
<title>sane-devel: Re: Re[2]: Silly question?</title>
<h1>Re: Re[2]: Silly question?</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Tue, 20 Apr 1999 19:47:45 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#272">[ date ]</a><a href="index.html#272">[ thread ]</a><a href="subject.html#272">[ subject ]</a><a href="author.html#272">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0273.html">Peter Kirchgessner: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0271.html">Petter Reinholdtsen: "Sane 1.01pre5 segfaults in RedHat 5.1 (net)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 20 Apr 1999, John Profic wrote:<br>
<p>
<i>&gt; you wrote:</i><br>
<i>&gt; &gt;&gt; hp.conf?</i><br>
<i>&gt; </i><br>
<i>&gt; HvdK&gt; scsi HP</i><br>
<i>&gt;       ^^^^^^ You must remove this line from your hp.conf</i><br>
<p>
Didn't need to in the past. But it did cure things. Still a bit off if you<br>
ask me.<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0273.html">Peter Kirchgessner: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0271.html">Petter Reinholdtsen: "Sane 1.01pre5 segfaults in RedHat 5.1 (net)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
