<!-- received="Thu Apr 22 22:34:30 1999 PDT" -->
<!-- sent="Fri, 23 Apr 1999 07:34:55 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Sane config thoughts" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.990423013133.7892D-100000@mail.perspex.com" -->
<title>sane-devel: Re: Sane config thoughts</title>
<h1>Re: Sane config thoughts</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Fri, 23 Apr 1999 07:34:55 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#316">[ date ]</a><a href="index.html#316">[ thread ]</a><a href="subject.html#316">[ subject ]</a><a href="author.html#316">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0317.html">Kevin Charter: "Re: sane and Agfa 1236s"</a>
<li> <b>Previous message:</b> <a href="0315.html">Nick Lamb: "Re: Sane config thoughts"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 23 Apr 1999, Tripp Lilley wrote:<br>
<p>
<i>&gt; On Thu, 22 Apr 1999, Oliver Rauch wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; The "normal" user does use a binary and that has to come with all backends</i><br>
<i>&gt; &gt; - or do you like to create dozens of sane-binaries -- for each scanner or</i><br>
<i>&gt; &gt; backend one?</i><br>
<i>&gt; </i><br>
<i>&gt; John -- Oliver makes a good point, but I come to a different conclusion</i><br>
<i>&gt; than he does :-) Instead of investing your time in building patches to the</i><br>
<i>&gt; source side, and instead of building "dozens of sane binaries" (which, I</i><br>
<i>&gt; realize, was not at all your original suggestion), consider building a</i><br>
<i>&gt; thoughtful RPM -- perhaps one that prompts the user for which backend(s)</i><br>
<i>&gt; they'd like to install.</i><br>
<p>
The current RPM split is 3way.<br>
 - SANE itself (all backends) about 2 MB<br>
 - SANE clients (scanimage/xscanimage/xcam) about 250 kB<br>
 - SANE development (the libraries) about 3.7 MB<br>
<p>
Most installations wil require only the first two and you will end up with<br>
less then 2.5 MB<br>
<p>
Splitting up the lot for all the backends will result in 21 more packages.<br>
Which will result in a lot of confusement for those that want to download<br>
the files but don't know which one to take.<br>
<p>
There is maybe 1.5 MB diskspace to win but the cost of utterly confused<br>
people is not worth that gain. I mean: Scanning a normal photo will result<br>
in about 5 to 10MB of data.<br>
<p>
All in all: no further splitting up will be done.<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0317.html">Kevin Charter: "Re: sane and Agfa 1236s"</a>
<li> <b>Previous message:</b> <a href="0315.html">Nick Lamb: "Re: Sane config thoughts"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
