<!-- received="Fri Apr 23 07:25:14 1999 PDT" -->
<!-- sent="Fri, 23 Apr 1999 10:25:38 -0400" -->
<!-- name="Rick Frank" -->
<!-- email="rfrank@dominionsw.com" -->
<!-- subject="SANE on MacOS, MacOS X ?" -->
<!-- id="199904231425.HAA13919@panda.mostang.com" -->
<!-- inreplyto="004f01be8d92$c7b4a940$499672cf@sunshinecomputing.com" -->
<title>sane-devel: SANE on MacOS, MacOS X ?</title>
<h1>SANE on MacOS, MacOS X ?</h1>
<b>Rick Frank</b> (<a href="mailto:rfrank@dominionsw.com"><i>rfrank@dominionsw.com</i></a>)<br>
<i>Fri, 23 Apr 1999 10:25:38 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#331">[ date ]</a><a href="index.html#331">[ thread ]</a><a href="subject.html#331">[ subject ]</a><a href="author.html#331">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0332.html">Sigurjon Sindrason: "dysan scanners and linux"</a>
<li> <b>Previous message:</b> <a href="0330.html">Josh Udall: "Re: sane and Agfa 1236s"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0333.html">becka@rz.uni-duesseldorf.de: "Re: SANE on MacOS, MacOS X ?"</a>
<li> <b>Reply:</b> <a href="0333.html">becka@rz.uni-duesseldorf.de: "Re: SANE on MacOS, MacOS X ?"</a>
<li> <b>Reply:</b> <a href="0373.html">abel deuring: "Re: SANE on MacOS, MacOS X ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
My name is Rick Frank, and I am the developer of WorkingPapers, a MacOS<br>
Scanning application.<br>
<p>
On the Mac, we have similar problems that your group is trying to address -<br>
a number of different standards some of which aren't too well thought out or<br>
that haven't been updated in some number of years.<br>
<p>
 I am very impressed by what I've seen in your mailing lists, and the amount of<br>
developer participation.<br>
<p>
I was wondering how you folks would react to some of us bringing SANE over to<br>
the MacOS?   The APIs would be as close as possible, the low level code would of<br>
course be different in the current MacOS    . <br>
<p>
I confess to not knowing that much about MacOS X, and MacOS X Server. But as<br>
they are going to be somewhat unix based, perhaps the efforts in this area<br>
would have good forward migration possibilities for the future.<br>
<p>
The goals would be:<br>
<p>
Open Source<br>
<p>
Ease of programming<br>
<p>
Unified API As Good As Possible(AGAP) (Unixes, Macintosh) so we <br>
don't have to learn new tricks all the time.<br>
<p>
<p>
If there are other Linux developers who also do some MacOS and<br>
are interested in this possibility, please let me know. If we can get<br>
enough developers interested, Dominion Software would be willing to <br>
"host" the code, or take some other lead in this area.<br>
<p>
My goal is to reduce the programming burden, and increase user satisfaction.<br>
<p>
<p>
Thanks,<br>
<p>
<p>
Rick Frank<br>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
----------------------------------------------------------------------<br>
Dominion Software, Inc.<br>
825 Beacon Street                               (617) 332-1144 voice<br>
Newton, MA 02459                                (617) 332-5145 fax<br>
<p>
<a href="mailto:info@dominionsw.com">info@dominionsw.com</a><br>
<a href="http://www.dominionsw.com">http://www.dominionsw.com</a><br>
<p>
<p>
 <br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0332.html">Sigurjon Sindrason: "dysan scanners and linux"</a>
<li> <b>Previous message:</b> <a href="0330.html">Josh Udall: "Re: sane and Agfa 1236s"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0333.html">becka@rz.uni-duesseldorf.de: "Re: SANE on MacOS, MacOS X ?"</a>
<li> <b>Reply:</b> <a href="0333.html">becka@rz.uni-duesseldorf.de: "Re: SANE on MacOS, MacOS X ?"</a>
<li> <b>Reply:</b> <a href="0373.html">abel deuring: "Re: SANE on MacOS, MacOS X ?"</a>
<!-- reply="end" -->
</ul>
