<!-- received="Sat Apr 24 08:29:55 1999 PDT" -->
<!-- sent="Sat, 24 Apr 1999 15:33:50 +0000" -->
<!-- name="Luca Del Signore" -->
<!-- email="lucadels@tin.it" -->
<!-- subject="HEEEELP!!!!!!!!!!!" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HEEEELP!!!!!!!!!!!</title>
<h1>HEEEELP!!!!!!!!!!!</h1>
<b>Luca Del Signore</b> (<a href="mailto:lucadels@tin.it"><i>lucadels@tin.it</i></a>)<br>
<i>Sat, 24 Apr 1999 15:33:50 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#341">[ date ]</a><a href="index.html#341">[ thread ]</a><a href="subject.html#341">[ subject ]</a><a href="author.html#341">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0342.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0340.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0339.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe reply:</b> <a href="0339.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe reply:</b> <a href="0340.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0342.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0355.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0356.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0357.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0371.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0374.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0375.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0387.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
--------------39FAD069CD5C6257F2F156DD<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Luca Del Signore wrote:<br>
<i>&gt; </i><br>
<i>&gt; "Dr. Andreas Bolsch" wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Would be useful to describe your problem precisely instead of</i><br>
<i>&gt; &gt; sending useless blabla.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; Well if you take a look of my entire mail its FULLY explained!</i><br>
<i>&gt; Anyway, i think it would be useful to repeat myself:</i><br>
<i>&gt; I have an artec scanner at3 with an ava 1505. My linux partition is a</i><br>
<i>&gt; 5.3 mandrake with kde 1.1 and kernel 2.2.5 recompiled with the</i><br>
<i>&gt; appropriate low-level driver.</i><br>
<i>&gt; It all works fine and it does recognize my scsi adapter perfectly (i</i><br>
<i>&gt; include my dmesg again)</i><br>
<i>&gt; But when i try to run scanimage or xscanimage, my artec begins</i><br>
<i>&gt; calibrating but then , instead of beginning the scan, everything freezes</i><br>
<i>&gt; and i have to reboot.</i><br>
<i>&gt; I would like to point out that i have tried everything i can</i><br>
<i>&gt; (considering i am using linux from</i><br>
<i>&gt; just three months and had no experience before except the f..ing</i><br>
<i>&gt; win98...), including creating a link /dev/sga /dev/scanner . I am</i><br>
<i>&gt; currently using SANE 1.01 (unsuccessfully) after having tried (equally</i><br>
<i>&gt; unsuccessfully) SANE 1.00-3 the result is always the same: my pc freezes</i><br>
<i>&gt; after the scanner calibration stage.</i><br>
<i>&gt; I was about to give up whe i saw that, on the SANE web site, that two</i><br>
<i>&gt; authors use successfully the same scanner (artec at3) with linux.</i><br>
<i>&gt; I have tried to send a mail to them AND I DIDNT GET ANY HELP (sorry to</i><br>
<i>&gt; repeat myself again).</i><br>
<i>&gt; That's all. I hope you can help and would like to ask you to forgive me</i><br>
<i>&gt; for my terrible english</i><br>
<i>&gt; </i><br>
OPS i forgot the dmesg : here it is<br>
<p>
<i>&gt; Luca Del Signore</i><br>
<i>&gt; Viale Manlio gelsomini, 26</i><br>
<i>&gt; Rome Italy 00153</i><br>
<i>&gt; work phone: +393393541194</i><br>
<i>&gt; <a href="mailto:lucadels@tin.it">lucadels@tin.it</a></i><br>
<i>&gt; &gt; --</i><br>
<i>&gt; &gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; &gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
--------------39FAD069CD5C6257F2F156DD<br>
Content-Type: text/plain; charset=us-ascii;<br>
 name="dmesg.txt"<br>
Content-Transfer-Encoding: 7bit<br>
Content-Disposition: inline;<br>
 filename="dmesg.txt"<br>
<p>
Linux version 2.2.2 (<a href="mailto:root@localhost.localdomain">root@localhost.localdomain</a>) (gcc version 2.7.2.3) #2 SMP mar apr 20 08:54:58 CEST 1999<br>
mapped APIC to ffffe000 (00255000)<br>
mapped IOAPIC to ffffd000 (00256000)<br>
Detected 200457555 Hz processor.<br>
Console: colour VGA+ 80x25<br>
Calibrating delay loop... 399.77 BogoMIPS<br>
Memory: 128004k/131072k available (1036k kernel code, 416k reserved, 1568k data, 48k init)<br>
Checking 386/387 coupling... OK, FPU using exception 16 error reporting.<br>
Checking 'hlt' instruction... OK.<br>
Intel Pentium with F0 0F bug - workaround enabled.<br>
POSIX conformance testing by UNIFIX<br>
per-CPU timeslice cutoff: 1.56 usecs.<br>
CPU0: Intel Pentium MMX stepping 03<br>
SMP motherboard not detected. Using dummy APIC emulation.<br>
PCI: PCI BIOS revision 2.10 entry at 0xf04b0<br>
PCI: Using configuration type 1<br>
PCI: Probing PCI hardware<br>
Linux NET4.0 for Linux 2.2<br>
Based upon Swansea University Computer Society NET3.039<br>
NET4: Unix domain sockets 1.0 for Linux NET4.0.<br>
NET4: Linux TCP/IP 1.0 for NET4.0<br>
IP Protocols: ICMP, UDP, TCP<br>
Starting kswapd v 1.5 <br>
parport0: PC-style at 0x378 [SPP,ECP,ECPEPP,ECPPS2]<br>
parport0: detected irq 7; use procfs to enable interrupt-driven operation.<br>
parport0: no IEEE-1284 device present.<br>
Detected PS/2 Mouse Port.<br>
Serial driver version 4.27 with no serial options enabled<br>
ttyS00 at 0x03f8 (irq = 4) is a 16550A<br>
ttyS01 at 0x02f8 (irq = 3) is a 16550A<br>
pty: 256 Unix98 ptys configured<br>
lp0: using parport0 (polling).<br>
apm: BIOS version 1.2 Flags 0x03 (Driver version 1.9)<br>
Real Time Clock Driver v1.09<br>
PIIX3: IDE controller on PCI bus 00 dev 39<br>
PIIX3: not 100% native mode: will probe irqs later<br>
    ide0: BM-DMA at 0xe800-0xe807, BIOS settings: hda:pio, hdb:pio<br>
    ide1: BM-DMA at 0xe808-0xe80f, BIOS settings: hdc:pio, hdd:pio<br>
hda: QUANTUM FIREBALL EL5.1A, ATA DISK drive<br>
hdc: CDA106801ISE, ATAPI CDROM drive<br>
ide0 at 0x1f0-0x1f7,0x3f6 on irq 14<br>
ide1 at 0x170-0x177,0x376 on irq 15<br>
hda: QUANTUM FIREBALL EL5.1A, 4892MB w/418kB Cache, CHS=623/255/63, (U)DMA<br>
hdc: ATAPI 10X CD-ROM drive, 120kB Cache<br>
Uniform CDROM driver Revision: 2.52<br>
Floppy drive(s): fd0 is 1.44M<br>
FDC 0 is a post-1991 82077<br>
aha152x: processing commandline: ok<br>
aha152x: BIOS test: passed, detected 1 controller(s)<br>
aha152x0: vital data: PORTBASE=0x340, IRQ=11, SCSI ID=7, reconnect=enabled, parity=enabled, synchronous=disabled, delay=100, extended translation=disabled<br>
aha152x: trying software interrupt, ok.<br>
scsi0 : Adaptec 152x SCSI driver; $Revision: 1.7 $<br>
scsi : 1 host.<br>
  Vendor: ULTIMA    Model: AT3               Rev: 1.90<br>
  Type:   Scanner                            ANSI SCSI revision: 02<br>
Detected scsi generic sga at scsi0, channel 0, id 5, lun 0<br>
scsi : detected total.<br>
PPP: version 2.3.3 (demand dialling)<br>
TCP compression code copyright 1989 Regents of the University of California<br>
PPP line discipline registered.<br>
Partition check:<br>
 hda: hda1 hda2 &lt; hda5 hda6 hda7 &gt;<br>
VFS: Mounted root (ext2 filesystem) readonly.<br>
Freeing unused kernel memory: 48k freed<br>
Adding Swap: 40124k swap-space (priority -1)<br>
Soundblaster audio driver Copyright (C) by Hannu Savolainen 1993-1996<br>
SB 4.13 detected OK (220)<br>
YM3812 and OPL-3 driver Copyright (C) by Hannu Savolainen, Rob Hooft 1993-1996<br>
VFS: Disk change detected on device fd(2,0)<br>
end_request: I/O error, dev 02:00 (floppy), sector 0<br>
tty_io.c: process 271 (gpm) used obsolete /dev/cua0 - update software to use /dev/ttyS0<br>
registered device ppp0<br>
<p>
--------------39FAD069CD5C6257F2F156DD--<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0342.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0340.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0339.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe reply:</b> <a href="0339.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe reply:</b> <a href="0340.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0342.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0355.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0356.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0357.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0371.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0374.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0375.html">Dr. Andreas Bolsch: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Reply:</b> <a href="0387.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<!-- reply="end" -->
</ul>
