<!-- received="Sun Apr 25 10:34:19 1999 PDT" -->
<!-- sent="Sun, 25 Apr 1999 17:37:34 +0000" -->
<!-- name="Tom Reinertson" -->
<!-- email="treinertson@uswest.net" -->
<!-- subject="Re: 2 Channel SCSI Card" -->
<!-- id="" -->
<!-- inreplyto="2 Channel SCSI Card" -->
<title>sane-devel: Re: 2 Channel SCSI Card</title>
<h1>Re: 2 Channel SCSI Card</h1>
<b>Tom Reinertson</b> (<a href="mailto:treinertson@uswest.net"><i>treinertson@uswest.net</i></a>)<br>
<i>Sun, 25 Apr 1999 17:37:34 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#358">[ date ]</a><a href="index.html#358">[ thread ]</a><a href="subject.html#358">[ subject ]</a><a href="author.html#358">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0359.html">Oliver Rauch: "Re: 2 Channel SCSI Card"</a>
<li> <b>Previous message:</b> <a href="0357.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0283.html">Tom Reinertson: "2 Channel SCSI Card"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0359.html">Oliver Rauch: "Re: 2 Channel SCSI Card"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver,<br>
<p>
Thanks for your response.<br>
<p>
<p>
<i>&gt; which scsi-driver did you compile into the kernel?</i><br>
<i>&gt; Use the BSD-driver!</i><br>
<p>
Sorry, but I'm a real newbie at this.  Can you tell where I can find the<br>
BSD drivers?<br>
<p>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; Disable disconnect reconnect and if that not helps disable tagged</i><br>
<i>&gt; command queing!</i><br>
<p>
I presume the driver source will tell me how this is done.<br>
<p>
<p>
Thank you.<br>
<p>
Tom<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0359.html">Oliver Rauch: "Re: 2 Channel SCSI Card"</a>
<li> <b>Previous message:</b> <a href="0357.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Maybe in reply to:</b> <a href="0283.html">Tom Reinertson: "2 Channel SCSI Card"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0359.html">Oliver Rauch: "Re: 2 Channel SCSI Card"</a>
<!-- reply="end" -->
</ul>
