<!-- received="Sun Apr 25 16:54:32 1999 PDT" -->
<!-- sent="Mon, 26 Apr 1999 11:49:43 +1200 (NZST)" -->
<!-- name="henk van der knaap" -->
<!-- email="henkvand@es.co.nz" -->
<!-- subject="Re: Microtek Scanmaker 35t+" -->
<!-- id="" -->
<!-- inreplyto="3721E659.7C5E@maths.nott.ac.uk" -->
<title>sane-devel: Re: Microtek Scanmaker 35t+</title>
<h1>Re: Microtek Scanmaker 35t+</h1>
<b>henk van der knaap</b> (<a href="mailto:henkvand@es.co.nz"><i>henkvand@es.co.nz</i></a>)<br>
<i>Mon, 26 Apr 1999 11:49:43 +1200 (NZST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#367">[ date ]</a><a href="index.html#367">[ thread ]</a><a href="subject.html#367">[ subject ]</a><a href="author.html#367">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0368.html">r_valetti@iol.it: "CanoScan 2700 Slide Ejection"</a>
<li> <b>Previous message:</b> <a href="0366.html">Russ Price: "HP PhotoSmart R030 vs. SANE 1.01"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dear Readers,<br>
<p>
Does the Microtek Scanmaker 35t+ really work with the Sane package? Could<br>
somebody please give some assistance if at all possible?<br>
<p>
I have been trying to use a Microtek Scanmaker 35 plus under Linux with the<br>
Sane software package. My Microtek Scanmaker II works without any problems<br>
whatsoever, when I use scanimage or xscanimage with Gimp. But I have not been<br>
able to get the Scanmaker 35 plus to work. I use Debian 2.1.<br>
I have an AVA 1502 SCSI card.<br>
<p>
When I boot up I get the following kernel messages:<br>
******************************************************************************<br>
Linux version 2.2.3 (root@henk) (gcc version egcs-2.91.60 19981201 <br>
(egcs-1.1.1 release)) #2 Sun Apr 11 11:30:31 NZST 1999<br>
<p>
aha152x: BIOS test: passed, detected 1 controller(s)<br>
aha152x0: vital data: PORTBASE=0x140, IRQ=11, SCSI ID=7, reconnect=enabled, <br>
parity=enabled, synchronous=disabled, delay=100, extended translation=disabled<br>
aha152x: trying software interrupt, ok.<br>
scsi0 : Adaptec 152x SCSI driver; $Revision: 1.7 $<br>
scsi : 1 host.<br>
  Vendor: Microtek  Model: ScanMaker 35t+    Rev: 1.40<br>
  Type:   Scanner                            ANSI SCSI revision: 01 CCS<br>
Detected scsi generic sga at scsi0, channel 0, id 6, lun 0<br>
<p>
parport0: PC-style at 0x378 [SPP,PS2]<br>
parport0: no IEEE-1284 device present.<br>
ppa: Version 2.03 (for Linux 2.2.x)<br>
ppa: Found device at ID 6, Attempting to use EPP 32 bit<br>
ppa: Found device at ID 6, Attempting to use PS/2<br>
ppa: Communication established with ID 6 using PS/2<br>
scsi1 : Iomega VPI0 (ppa) interface<br>
scsi : 2 hosts.<br>
  Vendor: IOMEGA    Model: ZIP 100           Rev: D.09<br>
  Type:   Direct-Access                      ANSI SCSI revision: 02<br>
*****************************************************************************<br>
<p>
This means that the scanner is obvioulsy being detected.<br>
<p>
find-scanner gives the following result:<br>
*****************************************************************************<br>
find-scanner: found scanner "Microtek ScanMaker 35t+ 1.40" at device <br>
/dev/scanner<br>
find-scanner: found scanner "Microtek ScanMaker 35t+ 1.40" at device /dev/sg0<br>
find-scanner: found scanner "Microtek ScanMaker 35t+ 1.40" at device /dev/sga<br>
******************************************************************************<br>
sga is a symbolic link to /dev/sg0<br>
<p>
mtekscan -I gives the following information:<br>
*****************************************************************************<br>
Vendor/model: Microtek ScanMaker 35t+  <br>
Firmware revision no. 1.40, device type 06.<br>
SCSI firmware version: 3.1, scanner firmware version: 9.9<br>
Response data format: 0x01<br>
Resolution selection stepsize: 1% 5% <br>
Supported scanning modes: Lineart Halftone Multi-Bit Color Transparencies Negative<br>
One-pass color scanning supported<br>
12 built-in halftone patterns, pattern downloading supported<br>
Scanner is edge feed type<br>
Huffman data compression: no, Read data compression: no<br>
Frame &amp; paper length setting units: 1/8"  pixels <br>
Max. document size code is 0x80 - 35.00 x 35.00 mm<br>
14 contrast settings, 12 exposure time settings<br>
Model code : 0x62 (unknown model code)<br>
F/W does support document feeder,<br>
F/W does support feeder/backtracking enable/disable<br>
Feeder is not installed <br>
Type / Location code is unknown (0x02)<br>
Transparency illuminator is not installed<br>
Expanded resolution range: yes<br>
Shadow/highlight adjustment supported, midtone adjustment supported<br>
Gamma adjustment look-up table size: 1024 bytes<br>
Max. value: 1023 (entry length 2 bytes)<br>
Fast color prescan supported, data transfer format select not supported<br>
Color data sequencing: Line by line, non-R-G-B sequence, with data headers<br>
Three pass scanning supported<br>
MODE SELECT 1 and MODE SENSE 1 command supported<br>
cntr_vals = 14, min_cntr = -42, max_cntr = 49<br>
exp_vals = 14, min_exp = -18, max_exp = 21<br>
Supported multi-bit data formats: 4 bpp  8 bpp  <br>
Offset adjustment (digital brightness control) supported<br>
Linearization table can not be disabled<br>
Start-of-scan recalibration function can be disabled<br>
****************************************************************************<br>
<p>
I do apologize if I I have taken too much of your time.<br>
Both scanimage and xscanimage report that there is no Sane devive.<br>
Does somebody have any suggestion how I might get Sane to work for the<br>
Microtek Scanmaker plus. Or has is somebody using this scanner successfully.<br>
By the way the scanner works without any problems under Windows95, so the <br>
scanner has no defects.<br>
<p>
I would be grateful for any help.<br>
<p>
Regards Henk<br>
<p>
Henk van der Knaap,<br>
92 Halswell Junction Road,<br>
Christchurch, New Zealand.<br>
Phone/fax 64 3 3229185<br>
<p>
Operating system is Linux Debian 2.1<br>
===================================================<br>
My e-mail address is as follows:  <a href="mailto:henkvand@es.co.nz">henkvand@es.co.nz</a><br>
===================================================<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0368.html">r_valetti@iol.it: "CanoScan 2700 Slide Ejection"</a>
<li> <b>Previous message:</b> <a href="0366.html">Russ Price: "HP PhotoSmart R030 vs. SANE 1.01"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
