<!-- received="Wed Apr 28 11:41:05 1999 PDT" -->
<!-- sent="Wed, 28 Apr 1999 20:27:57 +0200" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: HP1100A and Sane and Linux" -->
<!-- id="" -->
<!-- inreplyto="HP1100A and Sane and Linux" -->
<title>sane-devel: Re: HP1100A and Sane and Linux</title>
<h1>Re: HP1100A and Sane and Linux</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Wed, 28 Apr 1999 20:27:57 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#402">[ date ]</a><a href="index.html#402">[ thread ]</a><a href="subject.html#402">[ subject ]</a><a href="author.html#402">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0403.html">Russell W. Behne: "HP ScanJet Plus"</a>
<li> <b>Previous message:</b> <a href="0401.html">Peter Kirchgessner: "Re: How to config my HP Scanjet 4p to work with SANE ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0363.html">Matti J Kinnunen: "HP1100A and Sane and Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Matti J Kinnunen wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; I am about to buy an HP1100 printer.</i><br>
<i>&gt; I wonder whether it would be a good idea to pay</i><br>
<i>&gt; an extra $100 to get HP1100A which has a scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; Does SANE support HP1100A ? I quess it is a parallel</i><br>
<i>&gt; device and I read from FAQ that they are not supported.</i><br>
<i>&gt; </i><br>
<p>
Hi,<br>
<p>
the HP 1100A is not supported.<br>
<p>
<i>&gt; Is someone developing SANE support for HP1100A ?</i><br>
<i>&gt; </i><br>
<p>
I dont know. I suppose noone is working on it.<br>
<p>
--Peter<br>
<p>
<i>&gt; Yes, I'm using Linux.</i><br>
<i>&gt; </i><br>
<i>&gt; Yours,</i><br>
<i>&gt; </i><br>
<i>&gt;         Matti Kinnunen</i><br>
<i>&gt; * <a href="mailto:matti.kinnunen@helsinki.fi">matti.kinnunen@helsinki.fi</a> *</i><br>
<i>&gt; * +358-(0)40-568 98 34 (mobile)  +358-(0)9- 511 22332 (work) *</i><br>
<i>&gt; * +358-(0)9 -72 46 495 (home)    +358-(0)9- 511 22844 (fax)  *</i><br>
<i>&gt; * Haavikkotie 15 -17 A 12 00630 Helsinki *</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0403.html">Russell W. Behne: "HP ScanJet Plus"</a>
<li> <b>Previous message:</b> <a href="0401.html">Peter Kirchgessner: "Re: How to config my HP Scanjet 4p to work with SANE ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0363.html">Matti J Kinnunen: "HP1100A and Sane and Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
