<!-- received="Thu Apr 29 14:11:35 1999 PDT" -->
<!-- sent="Thu, 29 Apr 1999 17:16:36 -0400 (EDT)" -->
<!-- name="Russell W. Behne" -->
<!-- email="russ@behne.stafford.va.us" -->
<!-- subject="Re: HP ScanJet Plus" -->
<!-- id="" -->
<!-- inreplyto="3728A264.D1EE1AEA@kirchgessner.net" -->
<title>sane-devel: Re: HP ScanJet Plus</title>
<h1>Re: HP ScanJet Plus</h1>
<b>Russell W. Behne</b> (<a href="mailto:russ@behne.stafford.va.us"><i>russ@behne.stafford.va.us</i></a>)<br>
<i>Thu, 29 Apr 1999 17:16:36 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#411">[ date ]</a><a href="index.html#411">[ thread ]</a><a href="subject.html#411">[ subject ]</a><a href="author.html#411">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0412.html">Milon Firikis: "Re: Possible fix for Sane 1.0.1 segfault in RedHat 5.1 (net)"</a>
<li> <b>Previous message:</b> <a href="0410.html">Peter Kirchgessner: "Re: HP ScanJet Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; First, "Russell W. Behne" wrote:</i><br>
<i>&gt; &gt; A friend just donated a HP ScanJet Plus to me, along with the Parallel</i><br>
<i>&gt; &gt; interface card, but no documentation.</i><br>
<i>&gt; &gt; How can I create a /dev/hpscan for this card since none exists in the</i><br>
<i>&gt; &gt; /dev directory? I have no idea what the major and minor numbers should</i><br>
<i>&gt; &gt; be. Also, any other tips would be helpfull.</i><br>
<i>&gt; &gt; Thanks,</i><br>
<i>&gt; &gt; Russ.</i><br>
<p>
On Thu, 29 Apr 1999, Peter Kirchgessner replied:<br>
<i>&gt; Hi,</i><br>
<i>&gt; there is a Linux driver available for the parallel card at</i><br>
<i>&gt; <a href="ftp://rvs.ctrl-c.liu.se/pub/wingel/hpscan">ftp://rvs.ctrl-c.liu.se/pub/wingel/hpscan</a></i><br>
<i>&gt; --Peter</i><br>
<p>
Thanks Peter, This is just what I'm looking for. I knew there must have<br>
been one somewhere since the HP ScanJet Plus is a proven supported<br>
scanner according to the man page.<br>
	(It doesn't make sense to have a scanner fully supported<br>
acording to the docs, and then not already have a driver available thus<br>
requiring each HP ScanJet + user to write a new driver from scratch!)<br>
<p>
Thanks again Peter,<br>
Russ.<br>
<p>
<pre>
-- 
	  For a copy of my mailbot's index, send an empty email:
		     <a href="mailto:index@behne.stafford.va.us">mailto:index@behne.stafford.va.us</a>
(Last updated 10 Aug 1998: Privacy, web proxy &amp; encrypting identd responses)
Have you tried the world's Smallest Political Quiz? <a href="http://www.self-gov.org">http://www.self-gov.org</a>
<p>
Sued?  SUED???!!?  When MS gets through with you, you're going to WISH
that they'd jusT SUED you!  These people are EVIL!!! They kidnapped my
dog and G$%&lt;S-F4&gt;@^&lt;S-F6&gt;RB. f NO CARRIER
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0412.html">Milon Firikis: "Re: Possible fix for Sane 1.0.1 segfault in RedHat 5.1 (net)"</a>
<li> <b>Previous message:</b> <a href="0410.html">Peter Kirchgessner: "Re: HP ScanJet Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
