<!-- received="Tue Dec  2 15:38:28 1997 PST" -->
<!-- sent="Wed, 03 Dec 1997 00:40:05 -0000 (GMT)" -->
<!-- name="frees@technologist.com" -->
<!-- email="frees@technologist.com" -->
<!-- subject="RE: Relysis" -->
<!-- id="" -->
<!-- inreplyto="66240p$7n0$1@blackstar.xs4all.nl" -->
<title>sane-devel: RE: Relysis</title>
<h1>RE: Relysis</h1>
<a href="mailto:frees@technologist.com"><i>frees@technologist.com</i></a><br>
<i>Wed, 03 Dec 1997 00:40:05 -0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#1">[ date ]</a><a href="index.html#1">[ thread ]</a><a href="subject.html#1">[ subject ]</a><a href="author.html#1">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">David Mosberger-Tang: "Re: NECH Scanner"</a>
<li> <b>Previous message:</b> <a href="0000.html">Bas Vermeulen: "Back-end for Ricoh RS322+"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Gentlefolk<br>
<p>
Someone e-mailed me about Relysis. I am sorry but I lost the note<br>
Have been out of the country for some while and now I am back<br>
I am going to look into doing something for this with my very<br>
limited skills.<br>
<p>
Sorry not to have got back personally.<br>
<p>
Phil <br>
<p>
---------------------------------<br>
E-Mail: <a href="mailto:frees@technologist.com">frees@technologist.com</a><br>
and at <a href="mailto:prisby@acm.org">prisby@acm.org</a><br>
Date: 03-Dec-97<br>
Time: 00:40:07<br>
<p>
This message was sent by XFMail using Linux 2.0<br>
Where do you want to go tomorrow?<br>
----------------------------------<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">David Mosberger-Tang: "Re: NECH Scanner"</a>
<li> <b>Previous message:</b> <a href="0000.html">Bas Vermeulen: "Back-end for Ricoh RS322+"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
