<!-- received="Wed Dec  3 01:04:40 1997 PST" -->
<!-- sent="Wed, 3 Dec 1997 01:04:38 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="sane-0.68 available" -->
<!-- id="199712030904.BAA17388@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-0.68 available</title>
<h1>sane-0.68 available</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 3 Dec 1997 01:04:38 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#3">[ date ]</a><a href="index.html#3">[ thread ]</a><a href="subject.html#3">[ subject ]</a><a href="author.html#3">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Michael Burghart: "second SCSI controller.."</a>
<li> <b>Previous message:</b> <a href="0002.html">David Mosberger-Tang: "Re: NECH Scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0011.html">Oliver.Rauch@Wolfsburg.DE: "new-sane-homepage-outfit"</a>
<li> <b>Reply:</b> <a href="0011.html">Oliver.Rauch@Wolfsburg.DE: "new-sane-homepage-outfit"</a>
<li> <b>Reply:</b> <a href="0013.html">Oliver.Rauch@Wolfsburg.DE: "Re: sane-0.68 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Just a quick note that sane-0.68 is now available in the usual places.<br>
Among the more important changes:<br>
<p>
      - Jeff's Java frontend is included<br>
<p>
      - Mustek 600 II N is now supposed to work (but test at your own<br>
        risk!)<br>
<p>
      - Umax updates (I think the Astra 610 should now work)<br>
<p>
      - Oliver's find-scanner program is now included (see tools directory)<br>
<p>
      - various bug fixes big and small<br>
<p>
Remind me if I forgot anything---it's late here...<br>
<p>
This time, I built both RH4.2 alpha and RH5.0 x86 RPMs.  It's all at<br>
<a href="ftp://ftp.mostang.com/pub/sane/">ftp://ftp.mostang.com/pub/sane/</a>, as usual.<br>
<p>
Oh, you may also have noticed a face lift for the SANE home page.<br>
That's primarily the good work of Oliver.  You'll notice that most of<br>
the applications/middleware/drivers pages are mostly empty (with the<br>
notable exception of Oliver's umax page).  The idea is that<br>
eventually, there is a meaningful page for each SANE frontend/backend.<br>
If you wrote, maintain one or simply use a backend, all contributions<br>
are welcome!<br>
<p>
Thanks to everbody who sent new stuff, fixes, and/or reported bugs.<br>
<p>
Enjoy,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Michael Burghart: "second SCSI controller.."</a>
<li> <b>Previous message:</b> <a href="0002.html">David Mosberger-Tang: "Re: NECH Scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0011.html">Oliver.Rauch@Wolfsburg.DE: "new-sane-homepage-outfit"</a>
<li> <b>Reply:</b> <a href="0011.html">Oliver.Rauch@Wolfsburg.DE: "new-sane-homepage-outfit"</a>
<li> <b>Reply:</b> <a href="0013.html">Oliver.Rauch@Wolfsburg.DE: "Re: sane-0.68 available"</a>
<!-- reply="end" -->
</ul>
