<!-- received="Wed Dec  3 03:27:37 1997 PST" -->
<!-- sent="Wed, 3 Dec 1997 12:26:27 +0100" -->
<!-- name="Wolfgang Jung" -->
<!-- email="woju@keep.in-berlin.de" -->
<!-- subject="Re: second SCSI controller.." -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.971203120743.3926H-100000@einstein.fs100.suse.de" -->
<title>sane-devel: Re: second SCSI controller..</title>
<h1>Re: second SCSI controller..</h1>
<b>Wolfgang Jung</b> (<a href="mailto:woju@keep.in-berlin.de"><i>woju@keep.in-berlin.de</i></a>)<br>
<i>Wed, 3 Dec 1997 12:26:27 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#5">[ date ]</a><a href="index.html#5">[ thread ]</a><a href="subject.html#5">[ subject ]</a><a href="author.html#5">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0006.html">Christoph Doerbeck: "Re: second SCSI controller.."</a>
<li> <b>Previous message:</b> <a href="0004.html">Michael Burghart: "second SCSI controller.."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, Dec 03, 1997 at 12:09:22PM +0100, Michael Burghart wrote: <br>
<i>&gt; Hi...</i><br>
<i>&gt; </i><br>
<i>&gt; I just found out that SANE has problems recognizing a scanner attached to</i><br>
<i>&gt; the second SCSI bus. SANE kept initializing the SCSI 0 bus...</i><br>
<i>&gt; So, is there a way of attaching it to the second SCSI bus?</i><br>
<p>
<p>
Sure... It works for me :-)<br>
BUT:<br>
a) you should load sg.o AFTER loading the second SCSI Module<br>
<p>
at least I am using an aic7xxx for Disk activity and an NCR<br>
53810a for Streamer/CDROM/Scanner activity.<br>
<p>
as long as the driver detects the scanner it should be possible to use.<br>
(you need to have the /dev/sg* devices for the device. BEWARE<br>
donot use sga for the first attached scanner. if the scanner is the 4th detected<br>
device, you should use sgd for scanner access.)<br>
IBM DPES 31800 will crash the partiotiontable if you use the mustel<br>
driver on sga (iif the disk is sda)<br>
<p>
Gruss<br>
	Wolfgang<br>
<pre>
-- 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0006.html">Christoph Doerbeck: "Re: second SCSI controller.."</a>
<li> <b>Previous message:</b> <a href="0004.html">Michael Burghart: "second SCSI controller.."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
