<!-- received="Wed Dec  3 06:26:02 1997 PST" -->
<!-- sent="Wed, 03 Dec 1997 09:11:48 -0500" -->
<!-- name="Christoph Doerbeck" -->
<!-- email="doerbeck@dma.isg.mot.com" -->
<!-- subject="Re: second SCSI controller.." -->
<!-- id="199712031411.JAA06855@prospero.dma.isg.mot.com" -->
<!-- inreplyto="second SCSI controller.." -->
<title>sane-devel: Re: second SCSI controller..</title>
<h1>Re: second SCSI controller..</h1>
<b>Christoph Doerbeck</b> (<a href="mailto:doerbeck@dma.isg.mot.com"><i>doerbeck@dma.isg.mot.com</i></a>)<br>
<i>Wed, 03 Dec 1997 09:11:48 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#6">[ date ]</a><a href="index.html#6">[ thread ]</a><a href="subject.html#6">[ subject ]</a><a href="author.html#6">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">David Mosberger-Tang: "Re: second SCSI controller.."</a>
<li> <b>Previous message:</b> <a href="0005.html">Wolfgang Jung: "Re: second SCSI controller.."</a>
<li> <b>Maybe in reply to:</b> <a href="0004.html">Michael Burghart: "second SCSI controller.."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt; I just found out that SANE has problems recognizing a scanner attached to</i><br>
<i>&gt; the second SCSI bus. SANE kept initializing the SCSI 0 bus...</i><br>
<i>&gt; So, is there a way of attaching it to the second SCSI bus?</i><br>
<i>&gt; </i><br>
<p>
Works for me... I have 2 adaptec controllers (a PCI something-or-other, and<br>
an older 1542CF.  I had some initial difficulty getting both SCSI controllers<br>
to appear because I am using loadable modules with kernel 2.0.27 (i think).<br>
I couldn't design a module relationship that would load the secondary aha1542<br>
module during boot.  So, I resorted to slapping a "insmod aha1542" into <br>
the /etc/rc.d/modules.rc file (technically an outdated method which is <br>
still supported for backward compatability).  At any rate, this method works<br>
great for me.  I doubt that SANE has anything to do with supporting multiple<br>
SCSI busses.... (?)<br>
<p>
Also, please let me thank all the developers here for doing such a wonderful<br>
job.  I was recently blessed with the birth of my 2 girls, and through the<br>
use of SANE and my mustek scanner  my family was able to access pictures <br>
within the hours (relatives reaching from Australia to Ilminau (sp?), Germany)<br>
I'd send pizza, but those funds got sucked up buying diapers ;-)<br>
<p>
Did everyone read that HP has ported MkLinux to HP PA-RISC??????<br>
(Linux Journal Dec 1997)<br>
<p>
Thanks again.  <br>
<p>
- Christoph<br>
- <a href="http://www.ici.net/cust_pages/linuxguy">http://www.ici.net/cust_pages/linuxguy</a><br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0007.html">David Mosberger-Tang: "Re: second SCSI controller.."</a>
<li> <b>Previous message:</b> <a href="0005.html">Wolfgang Jung: "Re: second SCSI controller.."</a>
<li> <b>Maybe in reply to:</b> <a href="0004.html">Michael Burghart: "second SCSI controller.."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
