<!-- received="Wed Dec  3 08:53:35 1997 PST" -->
<!-- sent="Wed, 3 Dec 1997 17:53:11 +0100 (MET)" -->
<!-- name="Michael Burghart" -->
<!-- email="mb@suse.de" -->
<!-- subject="Re: second SCSI controller.." -->
<!-- id="" -->
<!-- inreplyto="199712031645.IAA19310@panda.mostang.com" -->
<title>sane-devel: Re: second SCSI controller..</title>
<h1>Re: second SCSI controller..</h1>
<b>Michael Burghart</b> (<a href="mailto:mb@suse.de"><i>mb@suse.de</i></a>)<br>
<i>Wed, 3 Dec 1997 17:53:11 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Philipp Klan: "Scanner not recognized on 2nd SCSI Host"</a>
<li> <b>Previous message:</b> <a href="0007.html">David Mosberger-Tang: "Re: second SCSI controller.."</a>
<li> <b>In reply to:</b> <a href="0007.html">David Mosberger-Tang: "Re: second SCSI controller.."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 3 Dec 1997, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Wed, 3 Dec 1997 12:09:22 +0100 (MET), Michael Burghart &lt;<a href="mailto:mb@suse.de">mb@suse.de</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Michael&gt; Hi...  I just found out that SANE has problems recognizing</i><br>
<i>&gt;   Michael&gt; a scanner attached to the second SCSI bus. SANE kept</i><br>
<i>&gt;   Michael&gt; initializing the SCSI 0 bus...  So, is there a way of</i><br>
<i>&gt;   Michael&gt; attaching it to the second SCSI bus?</i><br>
<i>&gt; </i><br>
<i>&gt; As Wolfgang already pointed out: SANE has no problem with multiple</i><br>
<i>&gt; SCSI buses in principle (unless the OS itself has troubles with this,</i><br>
<i>&gt; but that's not the case for Linux).  For example, I run my scanner off</i><br>
<i>&gt; the third SCSI controller in the system.  Maybe the cause of your</i><br>
<i>&gt; problem is something else?  Could you be specific as to what's</i><br>
<i>&gt; happening?  The output you get with environment variables</i><br>
<i>&gt; SANE_DEBUG_DLL and SANE_DEBUG_SANEI_SCSI set to 128 might be helpful</i><br>
<i>&gt; in understanding what's going on.</i><br>
<p>
Hi David...<br>
<p>
so sorry...it was my fault..:((<br>
It was just the wrong devices it was linked too...oops...:)<br>
<p>
gruesse<br>
-micha-<br>
<p>
<pre>
---
  Michael Burghart, S.u.S.E. GmbH, Gebhardtstr. 2, 90762 Fuerth, Germany
  Tel: +49-911-3247130 Mo/Do 13-18.00,	WWW: <a href="http://www.suse.de/">http://www.suse.de/</a>
  Fax: +49-911-3206727,					Email: <a href="mailto:mb@suse.de">mb@suse.de</a>
          [Error 23. Unable to locate /dev/reality. Universe Halted.]
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Philipp Klan: "Scanner not recognized on 2nd SCSI Host"</a>
<li> <b>Previous message:</b> <a href="0007.html">David Mosberger-Tang: "Re: second SCSI controller.."</a>
<li> <b>In reply to:</b> <a href="0007.html">David Mosberger-Tang: "Re: second SCSI controller.."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
