<!-- received="Wed Dec  3 14:59:49 1997 PST" -->
<!-- sent="Wed, 3 Dec 1997 23:38:42 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: sane-0.68 available" -->
<!-- id="199712032238.XAA06196@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199712030904.BAA17388@panda.mostang.com" -->
<title>sane-devel: Re: sane-0.68 available</title>
<h1>Re: sane-0.68 available</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Wed, 3 Dec 1997 23:38:42 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#13">[ date ]</a><a href="index.html#13">[ thread ]</a><a href="subject.html#13">[ subject ]</a><a href="author.html#13">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Philipp Klan: "Re: Scanner not recognized on 2nd SCSI Host"</a>
<li> <b>Previous message:</b> <a href="0012.html">Bas Vermeulen: "Ricoh RS322+ (SCSI) support"</a>
<li> <b>In reply to:</b> <a href="0003.html">David Mosberger-Tang: "sane-0.68 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;       - Umax updates (I think the Astra 610 should now work)</i><br>
<p>
The Astra 610S is added to be known, but it has the same problems<br>
like the Astra 600S!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0014.html">Philipp Klan: "Re: Scanner not recognized on 2nd SCSI Host"</a>
<li> <b>Previous message:</b> <a href="0012.html">Bas Vermeulen: "Ricoh RS322+ (SCSI) support"</a>
<li> <b>In reply to:</b> <a href="0003.html">David Mosberger-Tang: "sane-0.68 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
