<!-- received="Sat Dec  6 09:43:03 1997 PST" -->
<!-- sent="Sat, 6 Dec 1997 09:42:43 -0800" -->
<!-- name="Geoffrey T Dairiki" -->
<!-- email="dairiki@u.washington.edu" -->
<!-- subject="Re: New HP ScanJet backend." -->
<!-- id="199712061742.JAA32864@mead1.u.washington.edu" -->
<!-- inreplyto="New HP ScanJet backend." -->
<title>sane-devel: Re: New HP ScanJet backend.</title>
<h1>Re: New HP ScanJet backend.</h1>
<b>Geoffrey T Dairiki</b> (<a href="mailto:dairiki@u.washington.edu"><i>dairiki@u.washington.edu</i></a>)<br>
<i>Sat, 6 Dec 1997 09:42:43 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">eric: "Re: New HP ScanJet backend."</a>
<li> <b>Previous message:</b> <a href="0033.html">Geoffrey T. Dairiki: "New HP ScanJet backend."</a>
<li> <b>Maybe in reply to:</b> <a href="0033.html">Geoffrey T. Dairiki: "New HP ScanJet backend."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">eric: "Re: New HP ScanJet backend."</a>
<li> <b>Reply:</b> <a href="0035.html">eric: "Re: New HP ScanJet backend."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi.<br>
<p>
I posted an announcement last night regarding a new HP backend<br>
I've been working on for SANE.<br>
<p>
I said:<br>
<i>&gt; If you're interested, I've made it available as a patch on</i><br>
<i>&gt; the recent sane-0.68:</i><br>
<i>&gt;</i><br>
<i>&gt;   <a href="ftp://irving.apl.washington.edu/pub/sane/sane-0.68-newhp.patch.README">ftp://irving.apl.washington.edu/pub/sane/sane-0.68-newhp.patch.README</a></i><br>
<i>&gt;   <a href="ftp://irving.apl.washington.edu/pub/sane/sane-0.68-newhp.patch.gz">ftp://irving.apl.washington.edu/pub/sane/sane-0.68-newhp.patch.gz</a></i><br>
<p>
Apparently that machine is down (as of some-time this morning).  Probably<br>
on account of some plumbing work they're doing at work...<br>
<p>
In any case, if you're in a big rush to try it out this weekend, I've<br>
placed the patch on<br>
<p>
  <a href="ftp://ftp.u.washington.edu/pub/user-supported/dairiki/sane/sane-0.68-newhp.patch.README">ftp://ftp.u.washington.edu/pub/user-supported/dairiki/sane/sane-0.68-newhp.patch.README</a><br>
  <a href="ftp://ftp.u.washington.edu/pub/user-supported/dairiki/sane/sane-0.68-newhp.patch.gz">ftp://ftp.u.washington.edu/pub/user-supported/dairiki/sane/sane-0.68-newhp.patch.gz</a><br>
<p>
Since my e-mail gets to me through irving (the missing machine) I am<br>
unreachable until it is back up --- hopefully this evening, but who knows?<br>
<p>
Jeff<br>
&lt;<a href="mailto:dairiki@apl.washington.edu">dairiki@apl.washington.edu</a>&gt;<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">eric: "Re: New HP ScanJet backend."</a>
<li> <b>Previous message:</b> <a href="0033.html">Geoffrey T. Dairiki: "New HP ScanJet backend."</a>
<li> <b>Maybe in reply to:</b> <a href="0033.html">Geoffrey T. Dairiki: "New HP ScanJet backend."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">eric: "Re: New HP ScanJet backend."</a>
<li> <b>Reply:</b> <a href="0035.html">eric: "Re: New HP ScanJet backend."</a>
<!-- reply="end" -->
</ul>
