<!-- received="Thu Dec 11 19:07:49 1997 PST" -->
<!-- sent="Thu, 11 Dec 1997 22:08:30 -0500" -->
<!-- name="Mark Andrachek" -->
<!-- email="hallow@webmages.com" -->
<!-- subject="Re: Highscreen PerfectScan" -->
<!-- id="" -->
<!-- inreplyto="Highscreen PerfectScan" -->
<title>sane-devel: Re: Highscreen PerfectScan</title>
<h1>Re: Highscreen PerfectScan</h1>
<b>Mark Andrachek</b> (<a href="mailto:hallow@webmages.com"><i>hallow@webmages.com</i></a>)<br>
<i>Thu, 11 Dec 1997 22:08:30 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#71">[ date ]</a><a href="index.html#71">[ thread ]</a><a href="subject.html#71">[ subject ]</a><a href="author.html#71">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Matto Marjanovic: "Re: Highscreen PerfectScan"</a>
<li> <b>Previous message:</b> <a href="0070.html">Mark Andrachek: "Re: Highscreen PerfectScan"</a>
<li> <b>Maybe in reply to:</b> <a href="0062.html">Early, Warren: "Highscreen PerfectScan"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0072.html">Matto Marjanovic: "Re: Highscreen PerfectScan"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Previous instructions are for linux.  Sorry if you're using something<br>
else.<br>
<p>
Hallow<br>
<a href="mailto:hallow@webmages.com">hallow@webmages.com</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Matto Marjanovic: "Re: Highscreen PerfectScan"</a>
<li> <b>Previous message:</b> <a href="0070.html">Mark Andrachek: "Re: Highscreen PerfectScan"</a>
<li> <b>Maybe in reply to:</b> <a href="0062.html">Early, Warren: "Highscreen PerfectScan"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0072.html">Matto Marjanovic: "Re: Highscreen PerfectScan"</a>
<!-- reply="end" -->
</ul>
