<!-- received="Mon Dec 15 06:12:06 1997 PST" -->
<!-- sent="Mon, 15 Dec 1997 15:11:45 +0100 (MEZ)" -->
<!-- name="Fred Hucht" -->
<!-- email="fred@thp.Uni-Duisburg.DE" -->
<!-- subject="SANE support for AIX added" -->
<!-- id="Pine.A32.3.95.971215145816.81194A-200000@hal6000.thp.Uni-Duisburg.DE" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE support for AIX added</title>
<h1>SANE support for AIX added</h1>
<b>Fred Hucht</b> (<a href="mailto:fred@thp.Uni-Duisburg.DE"><i>fred@thp.Uni-Duisburg.DE</i></a>)<br>
<i>Mon, 15 Dec 1997 15:11:45 +0100 (MEZ)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#82">[ date ]</a><a href="index.html#82">[ thread ]</a><a href="subject.html#82">[ subject ]</a><a href="author.html#82">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Jeff Freedman: "Re: jscanimage won't compile"</a>
<li> <b>Previous message:</b> <a href="0081.html">Martin Huber: "sane running on Solaris 2.5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0084.html">David Mosberger-Tang: "Re: SANE support for AIX added"</a>
<li> <b>Reply:</b> <a href="0084.html">David Mosberger-Tang: "Re: SANE support for AIX added"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  This message is in MIME format.  The first part should be readable text,<br>
  while the remaining parts are likely unreadable without MIME-aware tools.<br>
  Send mail to <a href="mailto:mime@docserver.cac.washington.edu">mime@docserver.cac.washington.edu</a> for more info.<br>
<p>
---2040820479-1255864037-882195105=:81194<br>
Content-Type: TEXT/PLAIN; charset=US-ASCII<br>
<p>
Hi SaneDevel,<br>
<p>
we added support for user-level SCSI under AIX using the generic SCSI<br>
driver gsc written by Matthew Jacob &lt;<a href="mailto:mjacob@feral.com">mjacob@feral.com</a>&gt;. We tested SANE<br>
under AIX 4.1.5 with a HP-ScanJet IIc, it works fine.<br>
We have used configure as<br>
<p>
% CC=cc configure --disable-shared<br>
<p>
as shared libs failed to build. The latest version of GIMP does work,<br>
too, but is a little bit unstable.<br>
<p>
The appended context diffs are based on SANE 0.68.<br>
<p>
One remark to the program tools/find-scanner:<br>
The HP ScanJet failed to respond to the inquiry command<br>
	{INQUIRY, 0x00, 0x02, 0x00, 0xff, 0x00},<br>
while the command<br>
	{INQUIRY, 0x00, 0x00, 0x00, 0xff, 0x00}<br>
worked well.<br>
<p>
We changed this, but we don't know if it still will work with other<br>
scanners... <br>
<p>
Have fun<br>
<p>
     Fred &amp; Michael<br>
<p>
Fred Hucht, Institute of Theoretical Physics, University of Duisburg, Germany<br>
Email: <a href="mailto:fred@thp.Uni-Duisburg.DE">fred@thp.Uni-Duisburg.DE</a>               <a href="http://WWW.thp.Uni-Duisburg.DE/">http://WWW.thp.Uni-Duisburg.DE/</a><br>
"Der Koerper der algebraischen Zahlen ist kein algebraischer Zahlkoerper"<br>
(E.. Landau, Zahlentheorie (1927), Satz 718)<br>
<p>
---2040820479-1255864037-882195105=:81194<br>
Content-Type: TEXT/PLAIN; charset=US-ASCII; name=diffs<br>
Content-Transfer-Encoding: BASE64<br>
Content-ID: &lt;<a href="mailto:Pine.A32.3.95.971215151145.81194B@hal6000.thp.Uni-Duisburg.DE">Pine.A32.3.95.971215151145.81194B@hal6000.thp.Uni-Duisburg.DE</a>&gt;<br>
Content-Description: Context diffs<br>
<p>
KioqIC4vZnJvbnRlbmQvc2FuZWQuYy5vcmkJU3VuIE5vdiAyMyAwNTo1NDo1<br>
OCAxOTk3DQotLS0gLi9mcm9udGVuZC9zYW5lZC5jCVRodSBEZWMgMTEgMTY6<br>
MzQ6NTQgMTk5Nw0KKioqKioqKioqKioqKioqDQoqKiogMjAsMjUgKioqKg0K<br>
LS0tIDIwLDI3IC0tLS0NCiAgICAgYmFja2VuZC4NCiAgICovDQogIA0KKyAj<br>
aW5jbHVkZSA8bGFsbG9jYS5oPgkvKiBNVVNUIGNvbWUgZmlyc3QgZm9yIEFJ<br>
WCEgKi8NCisgDQogICNpbmNsdWRlIDxzYW5lL2NvbmZpZy5oPg0KICAjaW5j<br>
bHVkZSA8c2FuZS9zYW5laV9jb25maWcuaD4NCiAgDQoqKiogLi9mcm9udGVu<br>
ZC9zY2FuaW1hZ2UuYy5vcmkJV2VkIERlYyAgMyAwODo0MTozNyAxOTk3DQot<br>
LS0gLi9mcm9udGVuZC9zY2FuaW1hZ2UuYwlUaHUgRGVjIDExIDE2OjM0OjIy<br>
IDE5OTcNCioqKioqKioqKioqKioqKg0KKioqIDE4LDI2ICoqKioNCiAgICAg<br>
YWxvbmcgd2l0aCB0aGlzIHByb2dyYW07IGlmIG5vdCwgd3JpdGUgdG8gdGhl<br>
IEZyZWUgU29mdHdhcmUNCiAgICAgRm91bmRhdGlvbiwgSW5jLiwgNjc1IE1h<br>
c3MgQXZlLCBDYW1icmlkZ2UsIE1BIDAyMTM5LCBVU0EuICAqLw0KICANCi0g<br>
I2luY2x1ZGUgPHNhbmUvY29uZmlnLmg+DQotIA0KICAjaW5jbHVkZSA8bGFs<br>
bG9jYS5oPgkvKiBNVVNUIGNvbWUgZmlyc3QgZm9yIEFJWCEgKi8NCiAgDQog<br>
ICNpbmNsdWRlIDxhc3NlcnQuaD4NCiAgI2luY2x1ZGUgPGdldG9wdC5oPg0K<br>
LS0tIDE4LDI2IC0tLS0NCiAgICAgYWxvbmcgd2l0aCB0aGlzIHByb2dyYW07<br>
IGlmIG5vdCwgd3JpdGUgdG8gdGhlIEZyZWUgU29mdHdhcmUNCiAgICAgRm91<br>
bmRhdGlvbiwgSW5jLiwgNjc1IE1hc3MgQXZlLCBDYW1icmlkZ2UsIE1BIDAy<br>
MTM5LCBVU0EuICAqLw0KICANCiAgI2luY2x1ZGUgPGxhbGxvY2EuaD4JLyog<br>
TVVTVCBjb21lIGZpcnN0IGZvciBBSVghICovDQorIA0KKyAjaW5jbHVkZSA8<br>
c2FuZS9jb25maWcuaD4NCiAgDQogICNpbmNsdWRlIDxhc3NlcnQuaD4NCiAg<br>
I2luY2x1ZGUgPGdldG9wdC5oPg0KKioqIC4vZnJvbnRlbmQvZ3RrZ2x1ZS5j<br>
Lm9yaQlTdW4gTm92IDE2IDIzOjExOjQ0IDE5OTcNCi0tLSAuL2Zyb250ZW5k<br>
L2d0a2dsdWUuYwlUaHUgRGVjIDExIDE2OjQxOjMyIDE5OTcNCioqKioqKioq<br>
KioqKioqKg0KKioqIDE2LDI0ICoqKioNCiAgICAgYWxvbmcgd2l0aCB0aGlz<br>
IHByb2dyYW07IGlmIG5vdCwgd3JpdGUgdG8gdGhlIEZyZWUgU29mdHdhcmUN<br>
CiAgICAgRm91bmRhdGlvbiwgSW5jLiwgNjc1IE1hc3MgQXZlLCBDYW1icmlk<br>
Z2UsIE1BIDAyMTM5LCBVU0EuICAqLw0KICANCi0gI2luY2x1ZGUgPHNhbmUv<br>
Y29uZmlnLmg+DQotIA0KICAjaW5jbHVkZSA8bGFsbG9jYS5oPgkvKiBNVVNU<br>
IGNvbWUgZmlyc3QgZm9yIEFJWCEgKi8NCiAgDQogICNpbmNsdWRlIDxhc3Nl<br>
cnQuaD4NCiAgI2luY2x1ZGUgPGVycm5vLmg+DQotLS0gMTYsMjQgLS0tLQ0K<br>
ICAgICBhbG9uZyB3aXRoIHRoaXMgcHJvZ3JhbTsgaWYgbm90LCB3cml0ZSB0<br>
byB0aGUgRnJlZSBTb2Z0d2FyZQ0KICAgICBGb3VuZGF0aW9uLCBJbmMuLCA2<br>
NzUgTWFzcyBBdmUsIENhbWJyaWRnZSwgTUEgMDIxMzksIFVTQS4gICovDQog<br>
IA0KICAjaW5jbHVkZSA8bGFsbG9jYS5oPgkvKiBNVVNUIGNvbWUgZmlyc3Qg<br>
Zm9yIEFJWCEgKi8NCisgDQorICNpbmNsdWRlIDxzYW5lL2NvbmZpZy5oPg0K<br>
ICANCiAgI2luY2x1ZGUgPGFzc2VydC5oPg0KICAjaW5jbHVkZSA8ZXJybm8u<br>
aD4NCioqKiAuL2Zyb250ZW5kL3hzY2FuaW1hZ2UuYy5vcmkJU3VuIEp1bCAy<br>
NyAyMzo0OTowNyAxOTk3DQotLS0gLi9mcm9udGVuZC94c2NhbmltYWdlLmMJ<br>
RnJpIERlYyAxMiAxMTozMjoyOSAxOTk3DQoqKioqKioqKioqKioqKioNCioq<br>
KiAxOSwyOCAqKioqDQogICAgIGFsb25nIHdpdGggdGhpcyBwcm9ncmFtOyBp<br>
ZiBub3QsIHdyaXRlIHRvIHRoZSBGcmVlIFNvZnR3YXJlDQogICAgIEZvdW5k<br>
YXRpb24sIEluYy4sIDY3NSBNYXNzIEF2ZSwgQ2FtYnJpZGdlLCBNQSAwMjEz<br>
OSwgVVNBLiAgKi8NCiAgDQotICNpbmNsdWRlIDxzYW5lL2NvbmZpZy5oPg0K<br>
LSANCiAgI2luY2x1ZGUgPGxhbGxvY2EuaD4JLyogTVVTVCBjb21lIGZpcnN0<br>
IGZvciBBSVghICovDQogIA0KICAjaW5jbHVkZSA8ZXJybm8uaD4NCiAgI2lu<br>
Y2x1ZGUgPGZjbnRsLmg+DQogICNpbmNsdWRlIDxnZXRvcHQuaD4NCi0tLSAx<br>
OSwzMCAtLS0tDQogICAgIGFsb25nIHdpdGggdGhpcyBwcm9ncmFtOyBpZiBu<br>
b3QsIHdyaXRlIHRvIHRoZSBGcmVlIFNvZnR3YXJlDQogICAgIEZvdW5kYXRp<br>
b24sIEluYy4sIDY3NSBNYXNzIEF2ZSwgQ2FtYnJpZGdlLCBNQSAwMjEzOSwg<br>
VVNBLiAgKi8NCiAgDQogICNpbmNsdWRlIDxsYWxsb2NhLmg+CS8qIE1VU1Qg<br>
Y29tZSBmaXJzdCBmb3IgQUlYISAqLw0KICANCisgI2RlZmluZSBPVVRGSUxF<br>
TkFNRSAic2Nhbi5wbm0iDQorIA0KKyAjaW5jbHVkZSA8c2FuZS9jb25maWcu<br>
aD4NCisgDQogICNpbmNsdWRlIDxlcnJuby5oPg0KICAjaW5jbHVkZSA8ZmNu<br>
dGwuaD4NCiAgI2luY2x1ZGUgPGdldG9wdC5oPg0KKioqKioqKioqKioqKioq<br>
DQoqKiogNDE3LDQyMyAqKioqDQogICAgICAgIGNsb3NlIChmZCk7DQogICAg<br>
ICB9DQogICAgaWYgKCFwcmVmZXJlbmNlcy5maWxlbmFtZSkNCiEgICAgIHBy<br>
ZWZlcmVuY2VzLmZpbGVuYW1lID0gc3RyZHVwICgib3V0LnBubSIpOw0KICB9<br>
DQogIA0KICBzdGF0aWMgdm9pZA0KLS0tIDQxOSw0MjUgLS0tLQ0KICAgICAg<br>
ICBjbG9zZSAoZmQpOw0KICAgICAgfQ0KICAgIGlmICghcHJlZmVyZW5jZXMu<br>
ZmlsZW5hbWUpDQohICAgICBwcmVmZXJlbmNlcy5maWxlbmFtZSA9IHN0cmR1<br>
cCAoT1VURklMRU5BTUUpOw0KICB9DQogIA0KICBzdGF0aWMgdm9pZA0KKioq<br>
KioqKioqKioqKioqDQoqKiogMTI5MSwxMjk3ICoqKioNCiAgICAgICAgZmls<br>
ZW5hbWVbc2l6ZW9mIChmaWxlbmFtZSkgLSAxXSA9ICdcMCc7DQogICAgICB9<br>
DQogICAgZWxzZQ0KISAgICAgc3RyY3B5IChmaWxlbmFtZSwgIm91dC5wbm0i<br>
KTsNCiAgICBnc2dfZ2V0X2ZpbGVuYW1lICgiT3V0cHV0IEZpbGVuYW1lIiwg<br>
ZmlsZW5hbWUsIHNpemVvZiAoZmlsZW5hbWUpLCBmaWxlbmFtZSk7DQogICAg<br>
Z3RrX2VudHJ5X3NldF90ZXh0IChHVEtfRU5UUlkgKFNjYW5XaW4uZmlsZW5h<br>
bWVfZW50cnkpLCBmaWxlbmFtZSk7DQogIA0KLS0tIDEyOTMsMTI5OSAtLS0t<br>
DQogICAgICAgIGZpbGVuYW1lW3NpemVvZiAoZmlsZW5hbWUpIC0gMV0gPSAn<br>
XDAnOw0KICAgICAgfQ0KICAgIGVsc2UNCiEgICAgIHN0cmNweSAoZmlsZW5h<br>
bWUsIE9VVEZJTEVOQU1FKTsNCiAgICBnc2dfZ2V0X2ZpbGVuYW1lICgiT3V0<br>
cHV0IEZpbGVuYW1lIiwgZmlsZW5hbWUsIHNpemVvZiAoZmlsZW5hbWUpLCBm<br>
aWxlbmFtZSk7DQogICAgZ3RrX2VudHJ5X3NldF90ZXh0IChHVEtfRU5UUlkg<br>
KFNjYW5XaW4uZmlsZW5hbWVfZW50cnkpLCBmaWxlbmFtZSk7DQogIA0KKioq<br>
IC4vZG9jL3NhbmUtc2NzaS5tYW4ub3JpCVNhdCBPY3QgMjUgMjI6NTU6NTYg<br>
MTk5Nw0KLS0tIC4vZG9jL3NhbmUtc2NzaS5tYW4JVGh1IERlYyAxMSAxNzoy<br>
NTozNSAxOTk3DQoqKioqKioqKioqKioqKioNCioqKiAxNDMsMTQ5ICoqKioN<br>
CiAgYW5kIHNvIG9uLg0KICAuU0ggRU5WSVJPTk1FTlQNCiAgLlRQDQohIC5C<br>
IFNBTkVfU0FORUlfU0NTSQ0KICBJZiB0aGUgbGlicmFyeSB3YXMgY29tcGls<br>
ZWQgd2l0aCBkZWJ1ZyBzdXBwb3J0IGVuYWJsZWQsIHRoaXMNCiAgZW52aXJv<br>
bm1lbnQgdmFyaWFibGUgY29udHJvbHMgdGhlIGRlYnVnIGxldmVsIGZvciB0<br>
aGUgZ2VuZXJpYyBTQ1NJIEkvTw0KICBzdWJzeXN0ZW0uICBFLmcuLCBhIHZh<br>
bHVlIG9mIDEyOCByZXF1ZXN0cyBhbGwgZGVidWcgb3V0cHV0IHRvIGJlDQot<br>
LS0gMTQzLDE0OSAtLS0tDQogIGFuZCBzbyBvbi4NCiAgLlNIIEVOVklST05N<br>
RU5UDQogIC5UUA0KISAuQiBTQU5FX0RFQlVHX1NBTkVJX1NDU0kNCiAgSWYg<br>
dGhlIGxpYnJhcnkgd2FzIGNvbXBpbGVkIHdpdGggZGVidWcgc3VwcG9ydCBl<br>
bmFibGVkLCB0aGlzDQogIGVudmlyb25tZW50IHZhcmlhYmxlIGNvbnRyb2xz<br>
IHRoZSBkZWJ1ZyBsZXZlbCBmb3IgdGhlIGdlbmVyaWMgU0NTSSBJL08NCiAg<br>
c3Vic3lzdGVtLiAgRS5nLiwgYSB2YWx1ZSBvZiAxMjggcmVxdWVzdHMgYWxs<br>
IGRlYnVnIG91dHB1dCB0byBiZQ0KKioqIC4vaW5jbHVkZS9zYW5lL2NvbmZp<br>
Zy5oLmluLm9yaQlTdW4gTm92IDE2IDIxOjAyOjE1IDE5OTcNCi0tLSAuL2lu<br>
Y2x1ZGUvc2FuZS9jb25maWcuaC5pbglUaHUgRGVjIDExIDE1OjUwOjQ1IDE5<br>
OTcNCioqKioqKioqKioqKioqKg0KKioqIDI0NCwyNDkgKioqKg0KLS0tIDI0<br>
NCwyNTIgLS0tLQ0KICAvKiBEZWZpbmUgaWYgeW91IGhhdmUgdGhlIDxpby9j<br>
YW0vY2FtLmg+IGhlYWRlciBmaWxlLiAqLw0KICAjdW5kZWYgSEFWRV9JT19D<br>
QU1fQ0FNX0gNCiAgDQorIC8qIERlZmluZSBpZiB5b3UgaGF2ZSB0aGUgPGdz<br>
Y2Rkcy5oPiBoZWFkZXIgZmlsZS4gKi8NCisgI3VuZGVmIEhBVkVfR1NDRERT<br>
X0gNCisgDQogIC8qIERlZmluZSBpZiB5b3UgaGF2ZSB0aGUgPG9zMi5oPiBo<br>
ZWFkZXIgZmlsZS4gICovDQogICN1bmRlZiBIQVZFX09TMl9IDQogIA0KKioq<br>
IC4vaW5jbHVkZS9sYWxsb2NhLmgub3JpCVN1biBOb3YgMTYgMjE6MDA6MjIg<br>
MTk5Nw0KLS0tIC4vaW5jbHVkZS9sYWxsb2NhLmgJVGh1IERlYyAxMSAxNjoy<br>
NjoyMSAxOTk3DQoqKioqKioqKioqKioqKioNCioqKiAzMSwzNyAqKioqDQog<br>
ICMgIGluY2x1ZGUgPGFsbG9jYS5oPg0KICAjIGVsc2UNCiAgIyAgaWZkZWYg<br>
X0FJWA0KISAgI3ByYWdtYSBhbGxvY2ENCiAgIyAgZWxzZQ0KICAjICAgaWZu<br>
ZGVmIGFsbG9jYSAvKiBwcmVkZWZpbmVkIGJ5IEhQIGNjICtPbGliY2FsbHMg<br>
Ki8NCiAgIyAgICBpZiBfX1NURENfXw0KLS0tIDMxLDM3IC0tLS0NCiAgIyAg<br>
aW5jbHVkZSA8YWxsb2NhLmg+DQogICMgZWxzZQ0KICAjICBpZmRlZiBfQUlY<br>
DQohICNwcmFnbWEgYWxsb2NhDQogICMgIGVsc2UNCiAgIyAgIGlmbmRlZiBh<br>
bGxvY2EgLyogcHJlZGVmaW5lZCBieSBIUCBjYyArT2xpYmNhbGxzICovDQog<br>
ICMgICAgaWYgX19TVERDX18NCioqKiAuL2JhY2tlbmQvcWNhbS5jLm9yaQlG<br>
cmkgTm92ICA3IDA2OjEyOjUyIDE5OTcNCi0tLSAuL2JhY2tlbmQvcWNhbS5j<br>
CVRodSBEZWMgMTEgMTY6NDE6MzIgMTk5Nw0KKioqKioqKioqKioqKioqDQoq<br>
KiogNjYsNzQgKioqKg0KICAgICBDT05UUkFDVCwgVE9SVCBPUiBPVEhFUldJ<br>
U0UsIEFSSVNJTkcgRlJPTSwgT1VUIE9GIE9SIElOIENPTk5FQ1RJT04NCiAg<br>
ICAgV0lUSCBUSEUgU09GVFdBUkUgT1IgVEhFIFVTRSBPUiBPVEhFUiBERUFM<br>
SU5HUyBJTiBUSEUgU09GVFdBUkUuICAqLw0KICANCi0gI2luY2x1ZGUgPHNh<br>
bmUvY29uZmlnLmg+DQotIA0KICAjaW5jbHVkZSA8bGFsbG9jYS5oPgkvKiBN<br>
VVNUIGNvbWUgZmlyc3QgZm9yIEFJWCEgKi8NCiAgDQogICNpbmNsdWRlIDxh<br>
c3NlcnQuaD4NCiAgI2luY2x1ZGUgPGN0eXBlLmg+DQotLS0gNjYsNzQgLS0t<br>
LQ0KICAgICBDT05UUkFDVCwgVE9SVCBPUiBPVEhFUldJU0UsIEFSSVNJTkcg<br>
RlJPTSwgT1VUIE9GIE9SIElOIENPTk5FQ1RJT04NCiAgICAgV0lUSCBUSEUg<br>
U09GVFdBUkUgT1IgVEhFIFVTRSBPUiBPVEhFUiBERUFMSU5HUyBJTiBUSEUg<br>
U09GVFdBUkUuICAqLw0KICANCiAgI2luY2x1ZGUgPGxhbGxvY2EuaD4JLyog<br>
TVVTVCBjb21lIGZpcnN0IGZvciBBSVghICovDQorIA0KKyAjaW5jbHVkZSA8<br>
c2FuZS9jb25maWcuaD4NCiAgDQogICNpbmNsdWRlIDxhc3NlcnQuaD4NCiAg<br>
I2luY2x1ZGUgPGN0eXBlLmg+DQoqKiogLi9iYWNrZW5kL2RsbC5jLm9yaQlX<br>
ZWQgRGVjICAzIDA3OjUxOjQxIDE5OTcNCi0tLSAuL2JhY2tlbmQvZGxsLmMJ<br>
VGh1IERlYyAxMSAxNjo0MDoxMCAxOTk3DQoqKioqKioqKioqKioqKioNCioq<br>
KiA0Miw1MCAqKioqDQogICAgIGFsbG93cyBtYW5hZ2luZyBhbiBhcmJpdHJh<br>
cnkgbnVtYmVyIG9mIFNBTkUgYmFja2VuZHMgYnkgdXNpbmcNCiAgICAgZHlu<br>
YW1pYyBsaW5raW5nIHRvIGxvYWQgYmFja2VuZHMgb24gZGVtYW5kLiAgKi8N<br>
CiAgDQotICNpbmNsdWRlIDxzYW5lL2NvbmZpZy5oPg0KLSANCiAgI2luY2x1<br>
ZGUgPGxhbGxvY2EuaD4JLyogTVVTVCBjb21lIGZpcnN0IGZvciBBSVghICov<br>
DQogIA0KICAjaW5jbHVkZSA8ZXJybm8uaD4NCiAgI2luY2x1ZGUgPGxpbWl0<br>
cy5oPg0KLS0tIDQyLDUwIC0tLS0NCiAgICAgYWxsb3dzIG1hbmFnaW5nIGFu<br>
IGFyYml0cmFyeSBudW1iZXIgb2YgU0FORSBiYWNrZW5kcyBieSB1c2luZw0K<br>
ICAgICBkeW5hbWljIGxpbmtpbmcgdG8gbG9hZCBiYWNrZW5kcyBvbiBkZW1h<br>
bmQuICAqLw0KICANCiAgI2luY2x1ZGUgPGxhbGxvY2EuaD4JLyogTVVTVCBj<br>
b21lIGZpcnN0IGZvciBBSVghICovDQorIA0KKyAjaW5jbHVkZSA8c2FuZS9j<br>
b25maWcuaD4NCiAgDQogICNpbmNsdWRlIDxlcnJuby5oPg0KICAjaW5jbHVk<br>
ZSA8bGltaXRzLmg+DQoqKiogLi9iYWNrZW5kL2Vwc29uLmMub3JpCVNhdCBP<br>
Y3QgMTEgMTA6MTI6MzYgMTk5Nw0KLS0tIC4vYmFja2VuZC9lcHNvbi5jCVRo<br>
dSBEZWMgMTEgMTY6NDE6MzMgMTk5Nw0KKioqKioqKioqKioqKioqDQoqKiog<br>
MzksNDkgKioqKg0KICAgICB3aGV0aGVyIHRvIHBlcm1pdCB0aGlzIGV4Y2Vw<br>
dGlvbiB0byBhcHBseSB0byB5b3VyIG1vZGlmaWNhdGlvbnMuDQogICAgIElm<br>
IHlvdSBkbyBub3Qgd2lzaCB0aGF0LCBkZWxldGUgdGhpcyBleGNlcHRpb24g<br>
bm90aWNlLiAgKi8NCiAgDQogICNpZmRlZiBIQVZFX0NPTkZJR19IDQogICMg<br>
aW5jbHVkZSA8c2FuZS9jb25maWcuaD4NCiAgI2VuZGlmDQotIA0KLSAjaW5j<br>
bHVkZSA8bGFsbG9jYS5oPg0KICANCiAgI2luY2x1ZGUgPHN0ZGlvLmg+DQog<br>
ICNpZmRlZiBTVERDX0hFQURFUlMNCi0tLSAzOSw0OSAtLS0tDQogICAgIHdo<br>
ZXRoZXIgdG8gcGVybWl0IHRoaXMgZXhjZXB0aW9uIHRvIGFwcGx5IHRvIHlv<br>
dXIgbW9kaWZpY2F0aW9ucy4NCiAgICAgSWYgeW91IGRvIG5vdCB3aXNoIHRo<br>
YXQsIGRlbGV0ZSB0aGlzIGV4Y2VwdGlvbiBub3RpY2UuICAqLw0KICANCisg<br>
I2luY2x1ZGUgPGxhbGxvY2EuaD4gLyogTVVTVCBjb21lIGZpcnN0IGZvciBB<br>
SVghICovDQorIA0KICAjaWZkZWYgSEFWRV9DT05GSUdfSA0KICAjIGluY2x1<br>
ZGUgPHNhbmUvY29uZmlnLmg+DQogICNlbmRpZg0KICANCiAgI2luY2x1ZGUg<br>
PHN0ZGlvLmg+DQogICNpZmRlZiBTVERDX0hFQURFUlMNCioqKiAuL2JhY2tl<br>
bmQvdW1heC5jLm9yaQlTdW4gTm92IDE2IDE5OjA3OjE4IDE5OTcNCi0tLSAu<br>
L2JhY2tlbmQvdW1heC5jCVRodSBEZWMgMTEgMTY6NDk6MzggMTk5Nw0KKioq<br>
KioqKioqKioqKioqDQoqKiogNzIsNzcgKioqKg0KLS0tIDcyLDc5IC0tLS0N<br>
CiAgDQogIC8qIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0t<br>
LS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0gKi8NCiAg<br>
DQorICNpbmNsdWRlIDxsYWxsb2NhLmg+CS8qIE1VU1QgY29tZSBmaXJzdCBm<br>
b3IgQUlYISAqLw0KKyANCiAgI2RlZmluZSBVTUFYX1RPX1NBTkUNCiAgDQog<br>
ICNkZWZpbmUgQkFDS0VORF9OQU1FIHVtYXgNCioqKiAuL2JhY2tlbmQvbmV0<br>
LmMub3JpCVNhdCBPY3QgMjUgMDQ6NDQ6MjYgMTk5Nw0KLS0tIC4vYmFja2Vu<br>
ZC9uZXQuYwlUaHUgRGVjIDExIDE2OjUwOjQyIDE5OTcNCioqKioqKioqKioq<br>
KioqKg0KKioqIDQwLDQ1ICoqKioNCi0tLSA0MCw0NyAtLS0tDQogIA0KICAg<br>
ICBUaGlzIGZpbGUgaW1wbGVtZW50cyBhIFNBTkUgbmV0d29yay1iYXNlZCBt<br>
ZXRhIGJhY2tlbmQuICAqLw0KICANCisgI2luY2x1ZGUgPGxhbGxvY2EuaD4J<br>
LyogTVVTVCBjb21lIGZpcnN0IGZvciBBSVghICovDQorIA0KICAjaW5jbHVk<br>
ZSA8c2FuZS9jb25maWcuaD4NCiAgDQogICNpbmNsdWRlIDxlcnJuby5oPg0K<br>
KioqIC4vc2FuZWkvc2FuZWlfc2NzaS5jLm9yaQlTdW4gTm92IDE2IDIxOjE1<br>
OjAwIDE5OTcNCi0tLSAuL3NhbmVpL3NhbmVpX3Njc2kuYwlNb24gRGVjIDE1<br>
IDE0OjU2OjA4IDE5OTcNCioqKioqKioqKioqKioqKg0KKioqIDQwLDQ5ICoq<br>
KioNCiAgDQogICAgIFRoaXMgZmlsZSBwcm92aWRlcyBhIGdlbmVyaWMgU0NT<br>
SSBpbnRlcmZhY2UuICAqLw0KICANCi0gI2luY2x1ZGUgPHNhbmUvY29uZmln<br>
Lmg+DQotIA0KICAjaW5jbHVkZSA8bGFsbG9jYS5oPgkvKiBNVVNUIGNvbWUg<br>
Zmlyc3QgZm9yIEFJWCEgKi8NCiAgDQogICNpbmNsdWRlIDxhc3NlcnQuaD4N<br>
CiAgI2luY2x1ZGUgPGVycm5vLmg+DQogICNpbmNsdWRlIDxmY250bC5oPg0K<br>
LS0tIDQwLDQ5IC0tLS0NCiAgDQogICAgIFRoaXMgZmlsZSBwcm92aWRlcyBh<br>
IGdlbmVyaWMgU0NTSSBpbnRlcmZhY2UuICAqLw0KICANCiAgI2luY2x1ZGUg<br>
PGxhbGxvY2EuaD4JLyogTVVTVCBjb21lIGZpcnN0IGZvciBBSVghICovDQog<br>
IA0KKyAjaW5jbHVkZSA8c2FuZS9jb25maWcuaD4NCisgDQogICNpbmNsdWRl<br>
IDxhc3NlcnQuaD4NCiAgI2luY2x1ZGUgPGVycm5vLmg+DQogICNpbmNsdWRl<br>
IDxmY250bC5oPg0KKioqKioqKioqKioqKioqDQoqKiogNjUsNzAgKioqKg0K<br>
LS0tIDY1LDcxIC0tLS0NCiAgI2RlZmluZSBJUklYX0lOVEVSRkFDRQkJNw0K<br>
ICAjZGVmaW5lIFNPTEFSSVNfSU5URVJGQUNFCTgNCiAgI2RlZmluZSBPUzJf<br>
SU5URVJGQUNFCQk5DQorICNkZWZpbmUgQUlYX0dTQ19JTlRFUkZBQ0UJMTAN<br>
CiAgDQogICNpZmRlZiBIQVZFX1NDU0lfU0dfSA0KICAjIGRlZmluZSBVU0Ug<br>
TElOVVhfSU5URVJGQUNFDQoqKioqKioqKioqKioqKioNCioqKiAxMDcsMTEz<br>
ICoqKioNCiAgIwkgaWZkZWYgU0NUTF9SRUFEDQogICMJICBkZWZpbmUgVVNF<br>
IEhQVVhfSU5URVJGQUNFDQogICMJIGVsc2UNCiEgCSAgLyogVGhpcyBoYXBw<br>
ZW5zIGZvciBBSVggYW5kIHBvc3NpYmx5IG90aGVyIHBsYXRmb3Jtcy4uLiAq<br>
Lw0KICAjCSBlbmRpZg0KICAjICAgICAgIGVsc2UNCiAgIyAgICAgICAgaWZk<br>
ZWYgSEFWRV9PUzJfSA0KLS0tIDEwOCwxMTkgLS0tLQ0KICAjCSBpZmRlZiBT<br>
Q1RMX1JFQUQNCiAgIwkgIGRlZmluZSBVU0UgSFBVWF9JTlRFUkZBQ0UNCiAg<br>
IwkgZWxzZQ0KISAjICAgICAgICAgaWZkZWYgSEFWRV9HU0NERFNfSA0KISAj<br>
ICAgICAgICAgIGRlZmluZSBVU0UgQUlYX0dTQ19JTlRFUkZBQ0UNCiEgIyAg<br>
ICAgICAgICBpbmNsdWRlIDxnc2NkZHMuaD4NCiEgIyAgICAgICAgIGVsc2UN<br>
CiEgLyogVGhpcyBoYXBwZW5zIGZvciBBSVggd2l0aG91dCBnc2MgYW5kIHBv<br>
c3NpYmx5IG90aGVyIHBsYXRmb3Jtcy4uLiAqLw0KISAjICAgICAgICAgZW5k<br>
aWYNCiAgIwkgZW5kaWYNCiAgIyAgICAgICBlbHNlDQogICMgICAgICAgIGlm<br>
ZGVmIEhBVkVfT1MyX0gNCioqKioqKioqKioqKioqKg0KKioqIDE1MSwxNTYg<br>
KioqKg0KLS0tIDE1NywxNjQgLS0tLQ0KICBpbnQgc2FuZWlfc2NzaV9tYXhf<br>
cmVxdWVzdF9zaXplID0gOCAqIDEwMjQgKiAxMDI0Ow0KICAjIGVsaWYgVVNF<br>
ID09IE9TMl9JTlRFUkZBQ0UNCiAgaW50IHNhbmVpX3Njc2lfbWF4X3JlcXVl<br>
c3Rfc2l6ZSA9ICAzMiAqIDEwMjQ7IC8qIE9TLzIgbGltaXRlZCB0byA2NEsg<br>
Ki8NCisgIyBlbGlmIFVTRSA9PSBBSVhfR1NDX0lOVEVSRkFDRQ0KKyBpbnQg<br>
c2FuZWlfc2NzaV9tYXhfcmVxdWVzdF9zaXplID0gIDMyICogMTAyNDsNCiAg<br>
IyBlbHNlDQogIGludCBzYW5laV9zY3NpX21heF9yZXF1ZXN0X3NpemUgPSAx<br>
MjAgKiAxMDI0OyAvKiB3b3JrcyBhdCBsZWFzdCBmb3IgT3BlblN0ZXAgKi8N<br>
CiAgIyBlbmRpZg0KKioqKioqKioqKioqKioqDQoqKiogMTEzNSwxMTQwICoq<br>
KioNCi0tLSAxMTQzLDEyMDMgLS0tLQ0KICAgIHJldHVybiBTQU5FX1NUQVRV<br>
U19HT09EOw0KICB9DQogICNlbmRpZiAvKiBVU0UgPT0gSVJJWF9JTlRFUkZB<br>
Q0UgKi8NCisgDQorICNpZiBVU0UgPT0gQUlYX0dTQ19JTlRFUkZBQ0UNCisg<br>
U0FORV9TdGF0dXMNCisgc2FuZWlfc2NzaV9jbWQgKGludCBmZCwgY29uc3Qg<br>
dm9pZCAqIHNyYywgc2l6ZV90IHNyY19zaXplLA0KKyAJCXZvaWQgKiBkc3Qs<br>
IHNpemVfdCAqIGRzdF9zaXplKQ0KKyB7DQorICAgc2NtZF90IHNjbWQ7DQor<br>
ICAgc2l6ZV90IGNkYl9zaXplOw0KKyAgIGNoYXIgc2Vuc2VfYnVmWzMyXTsN<br>
CisgICBjaGFyIHN0YXR1czsNCisgICANCisgICBjZGJfc2l6ZSA9IENEQl9T<br>
SVpFICgqKHVfY2hhciAqKSBzcmMpOw0KKyANCisgICBtZW1zZXQgKCZzY21k<br>
LCAwLCBzaXplb2YgKHNjbWQpKTsNCisgICBpZiAoZHN0X3NpemUgJiYgKmRz<br>
dF9zaXplKSB7DQorICAgICBhc3NlcnQgKGNkYl9zaXplID09IHNyY19zaXpl<br>
KTsNCisgICAgIHNjbWQucncgICAgICAgPSAxOw0KKyAgICAgc2NtZC5kYXRh<br>
X2J1ZiA9IGRzdDsNCisgICAgIHNjbWQuZGF0YWxlbiAgPSAqZHN0X3NpemU7<br>
DQorICAgfSBlbHNlIHsNCisgICAgIGFzc2VydCAoY2RiX3NpemUgPD0gc3Jj<br>
X3NpemUpOw0KKyAgICAgc2NtZC5kYXRhX2J1ZiA9IChjaGFyICopIHNyYyAr<br>
IGNkYl9zaXplOw0KKyAgICAgc2NtZC5kYXRhbGVuICA9IHNyY19zaXplIC0g<br>
Y2RiX3NpemU7DQorICAgfQ0KKyAgIHNjbWQuY2RiICAgICAgID0gKGNoYXIq<br>
KSBzcmM7DQorICAgc2NtZC5jZGJsZW4gICAgPSBjZGJfc2l6ZTsNCisgICBz<br>
Y21kLnRpbWV2YWwgICA9IDYwOwkvKiAxIG1pbnV0ZSB0aW1lb3V0ICovDQor<br>
ICAgc2NtZC5zZW5zZV9idWYgPSBzZW5zZV9idWY7DQorICAgc2NtZC5zZW5z<br>
ZWxlbiAgPSBzaXplb2Yoc2Vuc2VfYnVmKTsNCisgICBzY21kLnN0YXR1c3Ag<br>
ICA9ICZzdGF0dXM7DQorICAgREJHKDEsICJzYW5laV9zY3NpX2NtZDogc2Nt<br>
ZC5ydyA9ICVkLCBzY21kLmNkYmxlbiA9ICVkLCAiLA0KKyAgICAgICBzY21k<br>
LnJ3LCBzY21kLmNkYmxlbik7DQorICAgREJHKDEsICJzY21kLmNkYiA9IHsw<br>
eCV4LDB4JXgsMHgleCwweCV4LDB4JXgsMHgleCwgLi4ufVxuIiwNCisgICAg<br>
ICAgc2NtZC5jZGJbMF0sc2NtZC5jZGJbMV0sc2NtZC5jZGJbMl0sDQorICAg<br>
ICAgIHNjbWQuY2RiWzNdLHNjbWQuY2RiWzRdLHNjbWQuY2RiWzVdKTsNCisg<br>
ICBpZiAoaW9jdGwoZmQsIEdTQ19DTUQsICZzY21kKSA8IDApIHsNCisgICAg<br>
IERCRygxLCAic2FuZWlfc2NzaV9jbWQ6IGlvY3RsKFNJT0NfSU8pIGZhaWxl<br>
ZDogJXNcbiIsDQorIAlzdHJlcnJvciAoZXJybm8pKTsNCisgICAgIHJldHVy<br>
biBTQU5FX1NUQVRVU19JT19FUlJPUjsNCisgICB9DQorICAgaWYgKCpzY21k<br>
LnN0YXR1c3ApIA0KKyAgICAgREJHKDEsICJzYW5laV9zY3NpX2NtZDogU0NT<br>
SSBjb21wbGV0ZWQgd2l0aCBzdGF0dXM9JWRcbiIsICpzY21kLnN0YXR1c3Ap<br>
Ow0KKyAgICAgICANCisgICBEQkcoMSwgInNhbmVpX3Njc2lfY21kOiBkc3Qg<br>
PSB7MHgleCwweCV4LDB4JXgsMHgleCwweCV4LDB4JXgsIC4uLn1cbiIsDQor<br>
ICAgICAgICooKGNoYXIgKilkc3QgKyAwKSwgKigoY2hhciAqKWRzdCArIDEp<br>
LCAqKChjaGFyICopZHN0ICsgMiksIA0KKyAgICAgICAqKChjaGFyICopZHN0<br>
ICsgMyksICooKGNoYXIgKilkc3QgKyA0KSwgKigoY2hhciAqKWRzdCArIDUp<br>
KTsNCisgICANCisgICBpZiAoZHN0X3NpemUpDQorICAgICAqZHN0X3NpemUg<br>
PSBzY21kLmRhdGFsZW47DQorICAgDQorICAgaWYgKHNjbWQuc2Vuc2VsZW4g<br>
PiAwICYmIChzY21kLnNlbnNlX2J1ZlswXSAmIDB4ODApICYmIGZkX2luZm9b<br>
ZmRdLnNlbnNlX2hhbmRsZXIpDQorICAgICByZXR1cm4gKCpmZF9pbmZvW2Zk<br>
XS5zZW5zZV9oYW5kbGVyKSAoZmQsICh1bnNpZ25lZCBjaGFyICopc2NtZC5z<br>
ZW5zZV9idWYpOw0KKyAgIHJldHVybiBTQU5FX1NUQVRVU19HT09EOw0KKyB9<br>
DQorICNlbmRpZiAvKiBVU0UgPT0gQUlYX0dTQ19JTlRFUkZBQ0UgKi8NCiAg<br>
DQogICNpZm5kZWYgV0VfSEFWRV9BU1lOQ19TQ1NJDQogIA0KKioqIC4vc2Fu<br>
ZWkvc2FuZWlfY29uZmlnLmMub3JpCVR1ZSBOb3YgMTEgMDU6MDQ6MDAgMTk5<br>
Nw0KLS0tIC4vc2FuZWkvc2FuZWlfY29uZmlnLmMJVGh1IERlYyAxMSAxNjox<br>
MDo0OCAxOTk3DQoqKioqKioqKioqKioqKioNCioqKiAxMDQsMTEwICoqKioN<br>
CiAgICAgIH0NCiAgDQogICAgY29weSA9IHN0cmR1cCAoZGlyX2xpc3QpOw0K<br>
ISAgIGZvciAobmV4dCA9IGNvcHk7IChkaXIgPSBzdHJzZXAgKCZuZXh0LCBE<br>
SVJfU0VQKSkgIT0gMDsgKQ0KICAgICAgew0KICAgICAgICBzbnByaW50ZiAo<br>
cmVzdWx0LCBzaXplb2YgKHJlc3VsdCksICIlcyVjJXMiLCBkaXIsIFBBVEhf<br>
U0VQLCBmaWxlbmFtZSk7DQogICAgICAgIERCRyg0LCAic2FuZWlfY29uZmln<br>
X29wZW46IGF0dGVtcHRpbmcgdG8gb3BlbiBgJXMnXG4iLCByZXN1bHQpOw0K<br>
LS0tIDEwNCwxMTAgLS0tLQ0KICAgICAgfQ0KICANCiAgICBjb3B5ID0gc3Ry<br>
ZHVwIChkaXJfbGlzdCk7DQohICAgZm9yIChuZXh0ID0gY29weTsgKGRpciA9<br>
IChjaGFyKilzdHJzZXAgKCZuZXh0LCBESVJfU0VQKSkgIT0gMDsgKQ0KICAg<br>
ICAgew0KICAgICAgICBzbnByaW50ZiAocmVzdWx0LCBzaXplb2YgKHJlc3Vs<br>
dCksICIlcyVjJXMiLCBkaXIsIFBBVEhfU0VQLCBmaWxlbmFtZSk7DQogICAg<br>
ICAgIERCRyg0LCAic2FuZWlfY29uZmlnX29wZW46IGF0dGVtcHRpbmcgdG8g<br>
b3BlbiBgJXMnXG4iLCByZXN1bHQpOw0KKioqIC4vc2FuZWkvc2FuZWlfbG9h<br>
ZF92YWx1ZXMuYy5vcmkJU3VuIE5vdiAxNiAyMToxMzoxMCAxOTk3DQotLS0g<br>
Li9zYW5laS9zYW5laV9sb2FkX3ZhbHVlcy5jCVRodSBEZWMgMTEgMTY6NDE6<br>
MzMgMTk5Nw0KKioqKioqKioqKioqKioqDQoqKiogNTUsNjMgKioqKg0KICAg<br>
ICBzYW5lIGJhY2tlbmQgd291bGQgZG8gdGhpcyBhbmQgc2luY2UgdGhpcyBp<br>
cyBTQU5FLCB3ZSBqdXN0IHByb3ZlZA0KICAgICB0aGF0IHRoaXMgYWxnb3Jp<br>
dGhtIHdvcmtzIHBlcmZlY3RseS4gICovDQogIA0KLSAjaW5jbHVkZSA8c2Fu<br>
ZS9jb25maWcuaD4NCi0gDQogICNpbmNsdWRlIDxsYWxsb2NhLmg+CS8qIE1V<br>
U1QgY29tZSBmaXJzdCBmb3IgQUlYISAqLw0KICANCiAgI2luY2x1ZGUgPHN0<br>
ZGxpYi5oPg0KICAjaW5jbHVkZSA8c3RyaW5nLmg+DQotLS0gNTUsNjMgLS0t<br>
LQ0KICAgICBzYW5lIGJhY2tlbmQgd291bGQgZG8gdGhpcyBhbmQgc2luY2Ug<br>
dGhpcyBpcyBTQU5FLCB3ZSBqdXN0IHByb3ZlZA0KICAgICB0aGF0IHRoaXMg<br>
YWxnb3JpdGhtIHdvcmtzIHBlcmZlY3RseS4gICovDQogIA0KICAjaW5jbHVk<br>
ZSA8bGFsbG9jYS5oPgkvKiBNVVNUIGNvbWUgZmlyc3QgZm9yIEFJWCEgKi8N<br>
CisgDQorICNpbmNsdWRlIDxzYW5lL2NvbmZpZy5oPg0KICANCiAgI2luY2x1<br>
ZGUgPHN0ZGxpYi5oPg0KICAjaW5jbHVkZSA8c3RyaW5nLmg+DQoqKiogLi90<br>
b29scy9maW5kLXNjYW5uZXIuYy5vcmkJVGh1IE5vdiAyNyAwODowMjo1NSAx<br>
OTk3DQotLS0gLi90b29scy9maW5kLXNjYW5uZXIuYwlUaHUgRGVjIDExIDE5<br>
OjU3OjE3IDE5OTcNCioqKioqKioqKioqKioqKg0KKioqIDMxLDM2ICoqKioN<br>
Ci0tLSAzMSwzOCAtLS0tDQogIA0KICBzdGF0aWMgY29uc3QgY2hhciAqcHJv<br>
Z19uYW1lOw0KICANCisgc3RhdGljIGludCB2ZXJib3NlOw0KKyANCiAgdHlw<br>
ZWRlZiBzdHJ1Y3QNCiAgICB7DQogICAgICB1bnNpZ25lZCBjaGFyICpjbWQ7<br>
DQoqKioqKioqKioqKioqKioNCioqKiA0MCw0NiAqKioqDQogIA0KICAjZGVm<br>
aW5lIElOUVVJUlkJCQkJCTB4MTINCiAgI2RlZmluZSBzZXRfaW5xdWlyeV9y<br>
ZXR1cm5fc2l6ZShpY2IsdmFsKQlpY2JbMHgwNF09dmFsDQohICNkZWZpbmUg<br>
SU5fcGVyaXBoX2RldnR5cGVfY3B1CQkJMHgwMQ0KICAjZGVmaW5lIElOX3Bl<br>
cmlwaF9kZXZ0eXBlX3NjYW5uZXIJCTB4MDYNCiAgI2RlZmluZSBnZXRfaW5x<br>
dWlyeV92ZW5kb3IoaW4sIGJ1ZikJCXN0cm5jcHkoYnVmLCBpbiArIDB4MDgs<br>
IDB4MDgpDQogICNkZWZpbmUgZ2V0X2lucXVpcnlfcHJvZHVjdChpbiwgYnVm<br>
KQkJc3RybmNweShidWYsIGluICsgMHgxMCwgMHgwMTApDQotLS0gNDIsNDgg<br>
LS0tLQ0KICANCiAgI2RlZmluZSBJTlFVSVJZCQkJCQkweDEyDQogICNkZWZp<br>
bmUgc2V0X2lucXVpcnlfcmV0dXJuX3NpemUoaWNiLHZhbCkJaWNiWzB4MDRd<br>
PXZhbA0KISAjZGVmaW5lIElOX3BlcmlwaF9kZXZ0eXBlX2NwdQkJCTB4MDMN<br>
CiAgI2RlZmluZSBJTl9wZXJpcGhfZGV2dHlwZV9zY2FubmVyCQkweDA2DQog<br>
ICNkZWZpbmUgZ2V0X2lucXVpcnlfdmVuZG9yKGluLCBidWYpCQlzdHJuY3B5<br>
KGJ1ZiwgaW4gKyAweDA4LCAweDA4KQ0KICAjZGVmaW5lIGdldF9pbnF1aXJ5<br>
X3Byb2R1Y3QoaW4sIGJ1ZikJCXN0cm5jcHkoYnVmLCBpbiArIDB4MTAsIDB4<br>
MDEwKQ0KKioqKioqKioqKioqKioqDQoqKiogNTEsNTcgKioqKg0KICANCiAg<br>
c3RhdGljIHVuc2lnbmVkIGNoYXIgaW5xdWlyeUNbXSA9DQogICAgew0KISAg<br>
ICAgSU5RVUlSWSwgMHgwMCwgMHgwMiwgMHgwMCwgMHhmZiwgMHgwMA0KICAg<br>
IH07DQogIHN0YXRpYyBzY3NpYmxrIGlucXVpcnkgPQ0KICAgIHsNCi0tLSA1<br>
Myw2MCAtLS0tDQogIA0KICBzdGF0aWMgdW5zaWduZWQgY2hhciBpbnF1aXJ5<br>
Q1tdID0NCiAgICB7DQohIC8qICAgIElOUVVJUlksIDB4MDAsIDB4MDIsIDB4<br>
MDAsIDB4ZmYsIDB4MDAgKi8NCiEgICAgICAgSU5RVUlSWSwgMHgwMCwgMHgw<br>
MCwgMHgwMCwgMHhmZiwgMHgwMCANCiAgICB9Ow0KICBzdGF0aWMgc2NzaWJs<br>
ayBpbnF1aXJ5ID0NCiAgICB7DQoqKioqKioqKioqKioqKioNCioqKiA5Niwx<br>
MDggKioqKg0KICAgIHVuc2lnbmVkIGNoYXIgcHJvZHVjdFsxN107DQogICAg<br>
dW5zaWduZWQgY2hhciB2ZXJzaW9uWzVdOw0KICAgIHVuc2lnbmVkIGNoYXIg<br>
KnBwOw0KICANCiAgICBzY2FubmVyX2RvX2lucXVpcnkgKGJ1ZmZlciwgc2Zk<br>
KTsJLyogZ2V0IGlucXVpcnkgKi8NCiAgICBpZiAoZ2V0X2lucXVpcnlfcGVy<br>
aXBoX2RldnR5cGUgKGJ1ZmZlcikgIT0gSU5fcGVyaXBoX2RldnR5cGVfc2Nh<br>
bm5lcg0KISAgICAgICAvKiBvbGQgSFAgc2Nhbm5lcnMgdXNlIHRoZSBDUFUg<br>
aWQuLi4gKi8NCiAgICAgICAgJiYgZ2V0X2lucXVpcnlfcGVyaXBoX2RldnR5<br>
cGUgKGJ1ZmZlcikgIT0gSU5fcGVyaXBoX2RldnR5cGVfY3B1KQ0KICAgICAg<br>
cmV0dXJuOwkJCQkvKiBubywgY29udGludWUgc2VhcmNoaW5nICovDQohIA0K<br>
ICAgIGdldF9pbnF1aXJ5X3ZlbmRvciAoKGNoYXIgKikgYnVmZmVyLCB2ZW5k<br>
b3IpOw0KICAgIGdldF9pbnF1aXJ5X3Byb2R1Y3QgKChjaGFyICopIGJ1ZmZl<br>
ciwgcHJvZHVjdCk7DQogICAgZ2V0X2lucXVpcnlfdmVyc2lvbiAoKGNoYXIg<br>
KikgYnVmZmVyLCB2ZXJzaW9uKTsNCi0tLSA5OSwxMjIgLS0tLQ0KICAgIHVu<br>
c2lnbmVkIGNoYXIgcHJvZHVjdFsxN107DQogICAgdW5zaWduZWQgY2hhciB2<br>
ZXJzaW9uWzVdOw0KICAgIHVuc2lnbmVkIGNoYXIgKnBwOw0KKyAgIGNoYXIg<br>
KmRldnR5cGVzW10gPSB7IkRpc2siLCJUYXBlIiwiUHJpbnRlciIsIlByb2Nl<br>
c3NvciIsIkNELVdyaXRlciIsDQorIAkJICAgICAiQ0QtRHJpdmUiLCJTY2Fu<br>
bmVyIiwiT3B0aWNhbC1Ecml2ZSIsIkp1a2Vib3giLA0KKyAJCSAgICAgIkNv<br>
bW11bmljYXRvciIsInVua25vd24ifTsNCiAgDQogICAgc2Nhbm5lcl9kb19p<br>
bnF1aXJ5IChidWZmZXIsIHNmZCk7CS8qIGdldCBpbnF1aXJ5ICovDQorICAg<br>
aWYgKHZlcmJvc2UpIHsNCisgICAgIGludCBkZXZ0eXBlID0gZ2V0X2lucXVp<br>
cnlfcGVyaXBoX2RldnR5cGUgKGJ1ZmZlcik7DQorICAgICBwcmludGYgKCIl<br>
czogZGV2dHlwZSA9IDB4JTAyeCAoJXMpXG4iLA0KKyAJICAgIHByb2dfbmFt<br>
ZSwNCisgCSAgICBkZXZ0eXBlLA0KKyAJICAgIGRldnR5cGVzW2RldnR5cGUg<br>
PD0gMTAgPyBkZXZ0eXBlIDogMTBdKTsNCisgICB9DQorICAgDQogICAgaWYg<br>
KGdldF9pbnF1aXJ5X3BlcmlwaF9kZXZ0eXBlIChidWZmZXIpICE9IElOX3Bl<br>
cmlwaF9kZXZ0eXBlX3NjYW5uZXINCiEgICAgICAgLyogb2xkIEhQIHNjYW5u<br>
ZXJzIHVzZSB0aGUgQ1BVIGlkIC4uLiAqLw0KICAgICAgICAmJiBnZXRfaW5x<br>
dWlyeV9wZXJpcGhfZGV2dHlwZSAoYnVmZmVyKSAhPSBJTl9wZXJpcGhfZGV2<br>
dHlwZV9jcHUpDQogICAgICByZXR1cm47CQkJCS8qIG5vLCBjb250aW51ZSBz<br>
ZWFyY2hpbmcgKi8NCiEgICANCiAgICBnZXRfaW5xdWlyeV92ZW5kb3IgKChj<br>
aGFyICopIGJ1ZmZlciwgdmVuZG9yKTsNCiAgICBnZXRfaW5xdWlyeV9wcm9k<br>
dWN0ICgoY2hhciAqKSBidWZmZXIsIHByb2R1Y3QpOw0KICAgIGdldF9pbnF1<br>
aXJ5X3ZlcnNpb24gKChjaGFyICopIGJ1ZmZlciwgdmVyc2lvbik7DQoqKioq<br>
KioqKioqKioqKioNCioqKiAxMzMsMTM5ICoqKioNCiAgew0KICAgIHVuc2ln<br>
bmVkIGNoYXIgYnVmZmVyWzE2Mzg0XTsNCiAgICBjaGFyICoqZGV2X2xpc3Qs<br>
ICpkZXZfbmFtZSwgKiphcDsNCiEgICBpbnQgc2ZkLCB2ZXJib3NlID0gMDsN<br>
CiAgDQogICAgcHJvZ19uYW1lID0gc3RycmNociAoYXJndlswXSwgJy8nKTsN<br>
CiAgICBpZiAocHJvZ19uYW1lKQ0KLS0tIDE0NywxNTMgLS0tLQ0KICB7DQog<br>
ICAgdW5zaWduZWQgY2hhciBidWZmZXJbMTYzODRdOw0KICAgIGNoYXIgKipk<br>
ZXZfbGlzdCwgKmRldl9uYW1lLCAqKmFwOw0KISAgIGludCBzZmQ7DQogIA0K<br>
ICAgIHByb2dfbmFtZSA9IHN0cnJjaHIgKGFyZ3ZbMF0sICcvJyk7DQogICAg<br>
aWYgKHByb2dfbmFtZSkNCioqKioqKioqKioqKioqKg0KKioqIDMyMSwzMjYg<br>
KioqKg0KLS0tIDMzNSwzNDYgLS0tLQ0KICAJICAiL2Rldi9zZzJlIiwgIi9k<br>
ZXYvc2cyZiIsICIvZGV2L3NnMmciLCAiL2Rldi9zZzJoIiwNCiAgCSAgIi9k<br>
ZXYvc2czYSIsICIvZGV2L3NnM2IiLCAiL2Rldi9zZzNjIiwgIi9kZXYvc2cz<br>
ZCIsDQogIAkgICIvZGV2L3NnM2UiLCAiL2Rldi9zZzNmIiwgIi9kZXYvc2cz<br>
ZyIsICIvZGV2L3NnM2giLA0KKyAjZWxpZiBkZWZpbmVkKF9BSVgpDQorIAkg<br>
ICIvZGV2L3NjYW5uZXIiLA0KKyAJICAiL2Rldi9nc2MwIiwgICIvZGV2L2dz<br>
YzEiLCAgIi9kZXYvZ3NjMiIsICAiL2Rldi9nc2MzIiwgDQorIAkgICIvZGV2<br>
L2dzYzQiLCAgIi9kZXYvZ3NjNSIsICAiL2Rldi9nc2M2IiwgICIvZGV2L2dz<br>
YzciLA0KKyAJICAiL2Rldi9nc2M4IiwgICIvZGV2L2dzYzkiLCAgIi9kZXYv<br>
Z3NjMTAiLCAiL2Rldi9nc2MxMSIsIA0KKyAJICAiL2Rldi9nc2MxMiIsICIv<br>
ZGV2L2dzYzEzIiwgIi9kZXYvZ3NjMTQiLCAiL2Rldi9nc2MxNSIsIA0KICAj<br>
ZW5kaWYNCiAgCSAgMA0KICAJfTsNCioqKiAuL1JFQURNRS5vcmkJVGh1IE5v<br>
diAxMyAwNzozODoyOCAxOTk3DQotLS0gLi9SRUFETUUJTW9uIERlYyAxNSAx<br>
NDozNTozNSAxOTk3DQoqKioqKioqKioqKioqKioNCioqKiAyMywyOSAqKioq<br>
DQogIA0KICBTQU5FIGlzIGtub3cgdG8gYnVpbGQgb24gdGhlIGZvbGxvd2lu<br>
ZyBwbGF0Zm9ybXM6DQogIA0KISAJLSBBSVgJCQkJW25vIGdlbmVyaWMgU0NT<br>
SSBzdXBwb3J0XQ0KICAJLSBEaWdpdGFsIFVuaXggKEFscGhhKQkJW25vIGdl<br>
bmVyaWMgU0NTSSBzdXBwb3J0XQ0KICAJLSBGcmVlQlNEDQogIAktIEZyZWVT<br>
Q08NCi0tLSAyMywyOSAtLS0tDQogIA0KICBTQU5FIGlzIGtub3cgdG8gYnVp<br>
bGQgb24gdGhlIGZvbGxvd2luZyBwbGF0Zm9ybXM6DQogIA0KISAJLSBBSVgN<br>
CiAgCS0gRGlnaXRhbCBVbml4IChBbHBoYSkJCVtubyBnZW5lcmljIFNDU0kg<br>
c3VwcG9ydF0NCiAgCS0gRnJlZUJTRA0KICAJLSBGcmVlU0NPDQoqKioqKioq<br>
KioqKioqKioNCioqKiA3MCw3NSAqKioqDQotLS0gNzAsODYgLS0tLQ0KICBj<br>
b25maWd1cmUgbGlrZSB0aGlzOg0KICANCiAgICAgQ0ZMQUdTPSItZyAtTyAt<br>
V2FsbCIgLi9jb25maWd1cmUgLS1kaXNhYmxlLXNoYXJlZA0KKyANCisgKiog<br>
QUlYDQorIA0KKyBVbmRlciBBSVgsIHlvdSdsbCBuZWVkIHRoZSBnZW5lcmlj<br>
IFNDU0kgZGV2aWNlIGRyaXZlciBnc2Mgd3JpdHRlbiBieQ0KKyBNYXR0aGV3<br>
IEphY29iIDxtamFjb2JAZmVyYWwuY29tPiAobmljZSBwaWVjZSBvZiB3b3Jr<br>
ISkuIFdoZW4geW91DQorIGluc3RhbGwgdGhpcyBkcml2ZXIsIGNvcHkgdGhl<br>
IGhlYWRlciBmaWxlIGdzY2Rkcy5oIHRvIC91c3IvaW5jbHVkZSwgYXMNCisg<br>
d2UgbG9vayBmb3IgaXQgdGhlcmUuIA0KKyBGaW5kIHRoaXMgZHJpdmVyIHVu<br>
ZGVyOg0KKyANCisgCWZ0cDovL2Z0cC5mZXJhbC5jb20vcHViL2FpeC9nc2Mu<br>
dGFyLmd6DQorIAlmdHA6Ly9mdHAudGhwLlVuaS1EdWlzYnVyZy5ERS9wdWIv<br>
c291cmNlL2dzYy50YXIuZ3oNCiAgDQogICoqIEhQLVVYDQogIA0KKioqIC4v<br>
Y29uZmlndXJlLmluLm9yaQlXZWQgTm92IDE5IDA2OjA1OjMxIDE5OTcNCi0t<br>
LSAuL2NvbmZpZ3VyZS5pbglUaHUgRGVjIDExIDE1OjQ2OjQ3IDE5OTcNCioq<br>
KioqKioqKioqKioqKg0KKioqIDM4LDQ0ICoqKioNCiAgQUNfQ0hFQ0tfSEVB<br>
REVSUyhmY250bC5oIHVuaXN0ZC5oIGxpYmludGwuaCBsaWJjLmggc3lzL2Rz<br>
cmVxLmggc3lzL3NlbGVjdC5oIFwNCiAgICAgIHN5cy9zY2FuaW8uaCBzY3Np<br>
Lmggc3lzL3Njc2kuaCBzeXMvc2NzaWNtZC5oIHN5cy9zY3NpaW8uaCBcDQog<br>
ICAgICBic2QvZGV2L3Njc2lyZWcuaCBzY3NpL3NnLmggL3Vzci9zcmMvbGlu<br>
dXgvaW5jbHVkZS9zY3NpL3NnLmggaW8vY2FtL2NhbS5oIFwNCiEgICAgIG9z<br>
Mi5oIHN5cy9zb2NrZXQuaCBzeXMvaW8uaCBhc20vaW8uaCkNCiAgDQogIGRu<br>
bCBDaGVja3MgZm9yIHR5cGVkZWZzLCBzdHJ1Y3R1cmVzLCBhbmQgY29tcGls<br>
ZXIgY2hhcmFjdGVyaXN0aWNzLg0KICBBQ19DX0NPTlNUDQotLS0gMzgsNDQg<br>
LS0tLQ0KICBBQ19DSEVDS19IRUFERVJTKGZjbnRsLmggdW5pc3RkLmggbGli<br>
aW50bC5oIGxpYmMuaCBzeXMvZHNyZXEuaCBzeXMvc2VsZWN0LmggXA0KICAg<br>
ICAgc3lzL3NjYW5pby5oIHNjc2kuaCBzeXMvc2NzaS5oIHN5cy9zY3NpY21k<br>
Lmggc3lzL3Njc2lpby5oIFwNCiAgICAgIGJzZC9kZXYvc2NzaXJlZy5oIHNj<br>
c2kvc2cuaCAvdXNyL3NyYy9saW51eC9pbmNsdWRlL3Njc2kvc2cuaCBpby9j<br>
YW0vY2FtLmggXA0KISAgICAgb3MyLmggc3lzL3NvY2tldC5oIHN5cy9pby5o<br>
IGFzbS9pby5oIGdzY2Rkcy5oKQ0KICANCiAgZG5sIENoZWNrcyBmb3IgdHlw<br>
ZWRlZnMsIHN0cnVjdHVyZXMsIGFuZCBjb21waWxlciBjaGFyYWN0ZXJpc3Rp<br>
Y3MuDQogIEFDX0NfQ09OU1QNCioqKiAuL0NoYW5nZUxvZy5vcmkJV2VkIERl<br>
YyAgMyAwOToxMjozNyAxOTk3DQotLS0gLi9DaGFuZ2VMb2cJTW9uIERlYyAx<br>
NSAxNDoxMjowMyAxOTk3DQoqKioqKioqKioqKioqKioNCioqKiAxLDMgKioq<br>
Kg0KLS0tIDEsMjUgLS0tLQ0KKyAxOTk3LTEyLTE1ICBGcmVkIEh1Y2h0ICYg<br>
TWljaGFlbCBTdGFhdHMgPHtmcmVkfG1pY2hhZWx9QHRocC5VbmktRHVpc2J1<br>
cmcuREU+DQorIA0KKyAJKiBBZGRlZCBzdXBwb3J0IGZvciBnZW5lcmljIFND<br>
U0kgdW5kZXIgQUlYIDQuMS54IHVzaW5nIHRoZSBkZXZpY2UNCisgCWRyaXZl<br>
ciBnc2Mgd3JpdHRlbiBieSBNYXR0aGV3IEphY29iIDxtamFjb2JAZmVyYWwu<br>
Y29tPiAobmljZSBwaWVjZQ0KKyAJb2Ygd29yayEpLg0KKyAJRmluZCB0aGlz<br>
IGRyaXZlciB1bmRlcg0KKyAJZnRwOi8vZnRwLmZlcmFsLmNvbS9wdWIvYWl4<br>
L2dzYy50YXIuZ3ogb3INCisgCWZ0cDovL2Z0cC50aHAuVW5pLUR1aXNidXJn<br>
LkRFL3B1Yi9zb3VyY2UvZ3NjLnRhci5nei4NCisgCUNoYW5nZWQgZmlsZXM6<br>
IHNhbmVpL3NhbmVpX3Njc2kuYywgaW5jbHVkZS9zYW5lL2NvbmZpZy5oLmlu<br>
LA0KKyAJY29uZmlndXJlLmluLg0KKyANCisgCSogTW92ZWQgJyNpbmNsdWRl<br>
IDxsYWxsb2NhLmg+JyB0byB2ZXJ5IGJlZ2lubmluZyBpbiBhbGwgc291cmNl<br>
DQorIAlmaWxlcyBhcyBBSVggbmVlZHMgaXQgdGhlcmUuDQorIA0KKyAJKiBB<br>
ZGRlZCBkZWZpbmUgT1VURklMRU5BTUUgdG8gZnJvbnRlbmQveHNjYW5pbWFn<br>
ZS5jLg0KKyANCisgCSogRml4ZWQgd3JvbmcgZW52aXJvbm1lbnQgcmVmZXJl<br>
bmNlIGluIC9kb2Mvc2FuZS1zY3NpLm1hbi4NCisgDQorIAkqIFNldmVyYWwg<br>
Y2hhbmdlcyBpbiB0b29scy9maW5kLXNjYW5uZXIuYyB0byBydW4gdXNpbmcN<br>
CisgCWFib3ZlIG1lbnRpb25lZCBkcml2ZXIuDQorIAlGaXhlZCB3cm9uZyBJ<br>
Tl9wZXJpcGhfZGV2dHlwZV9jcHUgKHdhcyAxLCBzaG91bGQgYmUgMykuCQ0K<br>
KyANCiAgMTk5Ny0xMi0wMyAgRGF2aWQgTW9zYmVyZ2VyLVRhbmcgIDxEYXZp<br>
ZC5Nb3NiZXJnZXJAYWNtLm9yZz4NCiAgDQogIAkqIFZlcnNpb24gMC42OCBy<br>
ZWxlYXNlZC4NCg==<br>
---2040820479-1255864037-882195105=:81194--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Jeff Freedman: "Re: jscanimage won't compile"</a>
<li> <b>Previous message:</b> <a href="0081.html">Martin Huber: "sane running on Solaris 2.5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0084.html">David Mosberger-Tang: "Re: SANE support for AIX added"</a>
<li> <b>Reply:</b> <a href="0084.html">David Mosberger-Tang: "Re: SANE support for AIX added"</a>
<!-- reply="end" -->
</ul>
