<!-- received="Thu Nov  4 18:23:37 1999 PST" -->
<!-- sent="Thu, 04 Nov 1999 18:31:01 -0800" -->
<!-- name="Stephen Williams" -->
<!-- email="steve@icarus.com" -->
<!-- subject="Re: Burn all GIFs day / TIFF and LZW compression" -->
<!-- id="199911050231.SAA01182@icarus.com" -->
<!-- inreplyto="382215F5.B4F0D389@wolfsburg.de" -->
<title>sane-devel: Re: Burn all GIFs day / TIFF and LZW compression</title>
<h1>Re: Burn all GIFs day / TIFF and LZW compression</h1>
<b>Stephen Williams</b> (<a href="mailto:steve@icarus.com"><i>steve@icarus.com</i></a>)<br>
<i>Thu, 04 Nov 1999 18:31:01 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#33">[ date ]</a><a href="index.html#33">[ thread ]</a><a href="subject.html#33">[ subject ]</a><a href="author.html#33">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Yury Konovalov: "How to get to work Symbios Logic 400A (HP version) ?"</a>
<li> <b>Previous message:</b> <a href="0032.html">Oliver Rauch: "Burn all GIFs day / TIFF and LZW compression"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a> said:<br>
<i>&gt; As far as I understand it, GIF is not the real problem, the LZW</i><br>
<i>&gt; compression is the problem. </i><br>
<p>
LZW compression was removed from the baseline TIFF standard for exactly<br>
this reason. The standard even says so. It is accepted as an optional<br>
feature, and that is where the standard sits.<br>
<p>
I personally avoid TIFF for gray and color, preferring PNG and JPEG.<br>
They are more widely accepted anyhow.<br>
<pre>
-- 
Steve Williams                "The woods are lovely, dark and deep.
<a href="mailto:steve@icarus.com">steve@icarus.com</a>              But I have promises to keep,
<a href="mailto:steve@picturel.com">steve@picturel.com</a>            and lines to code before I sleep,
<a href="http://www.picturel.com">http://www.picturel.com</a>       And lines to code before I sleep."
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Yury Konovalov: "How to get to work Symbios Logic 400A (HP version) ?"</a>
<li> <b>Previous message:</b> <a href="0032.html">Oliver Rauch: "Burn all GIFs day / TIFF and LZW compression"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
