<!-- received="Mon Nov  8 05:40:33 1999 PST" -->
<!-- sent="Mon, 8 Nov 1999 14:35:17 +0100 (MET)" -->
<!-- name="Peter Daum" -->
<!-- email="gator@cs.tu-berlin.de" -->
<!-- subject="xsane as gimp plugin" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane as gimp plugin</title>
<h1>xsane as gimp plugin</h1>
<b>Peter Daum</b> (<a href="mailto:gator@cs.tu-berlin.de"><i>gator@cs.tu-berlin.de</i></a>)<br>
<i>Mon, 8 Nov 1999 14:35:17 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#51">[ date ]</a><a href="index.html#51">[ thread ]</a><a href="subject.html#51">[ subject ]</a><a href="author.html#51">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">Klaus Espenlaub: "color trouble with Microtek ScanMaker E6"</a>
<li> <b>Previous message:</b> <a href="0050.html">=?iso-8859-1?Q?H=E5kan=20Kvarnstr=F6m?=: "Xsane 0.43 on IRIX6.5 CORE-dumps"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0057.html">Oliver Rauch: "Re: xsane as gimp plugin"</a>
<li> <b>Reply:</b> <a href="0057.html">Oliver Rauch: "Re: xsane as gimp plugin"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
whenever I scan an image using xsane into gimp, I get a gimp<br>
window with just a dotted yellow line in the middle. The image<br>
actually is o.k., it is only displayed in such a weird way; as I<br>
figured out, the reason for this is, that gimp thinks that the<br>
resolution is set to something like 3.74x0.0 pixel/inch. When I<br>
manually set the resolution to 72x72 ppi or just save and reload<br>
the image, the problem disappears.<br>
<p>
I had this phenomenon with several different versions of xsane<br>
(0.39-0.43) and gimp (1.1.10/1.1.11). The problem does not occur<br>
when using xscanimage.<br>
<p>
Regards,<br>
          Peter<br>
<pre>
-- 
                                             __o  
     Peter Daum &lt;gator at cs.tu-berlin.de&gt; _'\&lt;_ 
       - pgp messages welcome -       ____(_)/(_)
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">Klaus Espenlaub: "color trouble with Microtek ScanMaker E6"</a>
<li> <b>Previous message:</b> <a href="0050.html">=?iso-8859-1?Q?H=E5kan=20Kvarnstr=F6m?=: "Xsane 0.43 on IRIX6.5 CORE-dumps"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0057.html">Oliver Rauch: "Re: xsane as gimp plugin"</a>
<li> <b>Reply:</b> <a href="0057.html">Oliver Rauch: "Re: xsane as gimp plugin"</a>
<!-- reply="end" -->
</ul>
