<!-- received="Fri Nov 12 06:08:08 1999 PST" -->
<!-- sent="Fri, 12 Nov 1999 09:09:25 -0500" -->
<!-- name="Timothy Reaves" -->
<!-- email="treaves@silverfields.com" -->
<!-- subject="Re: Problem with sane 44" -->
<!-- id="" -->
<!-- inreplyto="Problem with sane 44" -->
<title>sane-devel: Re: Problem with sane 44</title>
<h1>Re: Problem with sane 44</h1>
<b>Timothy Reaves</b> (<a href="mailto:treaves@silverfields.com"><i>treaves@silverfields.com</i></a>)<br>
<i>Fri, 12 Nov 1999 09:09:25 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#98">[ date ]</a><a href="index.html#98">[ thread ]</a><a href="subject.html#98">[ subject ]</a><a href="author.html#98">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Bernd Schroeder: "Re: Another Microtek Phantom 636 Problem"</a>
<li> <b>Previous message:</b> <a href="0097.html">Dieter Meinert: "Aldi parallel port Scanner Lifetec 9891"</a>
<li> <b>Maybe in reply to:</b> <a href="0096.html">Timothy Reaves: "Problem with sane 44"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0107.html">Oliver Rauch: "Re: Problem with sane 44"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
    This does not happen if I delete the .drc .  But If I then try and save<br>
the settings, this starts up again.  So I have to always re-set all<br>
settings each time I use xsane.<br>
<p>
Timothy Reaves wrote:<br>
<p>
<i>&gt; When I start xsane I get a window asking me to select between the two</i><br>
<i>&gt; scanners it sees; the sg device and the simlink to scanner.  When I</i><br>
<i>&gt; select either one, I then get an error window saying:</i><br>
<i>&gt;</i><br>
<i>&gt; File: "/home/treaves/.sane//Hewlett-Packard:C2520A.drc" has been created</i><br>
<i>&gt; for device "reserved for scanner name", you want to use it for device</i><br>
<i>&gt; "Hewlett-Packard:C2520A", this may cause problems!</i><br>
<i>&gt;</i><br>
<i>&gt; I then select the OK button and get a core dump.  The message printed in</i><br>
<i>&gt; the window says:</i><br>
<i>&gt; Gtk-WARNING **: incalid cast from (null) pointer to 'GtkObject'</i><br>
<i>&gt;</i><br>
<i>&gt; Any ideas?</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Bernd Schroeder: "Re: Another Microtek Phantom 636 Problem"</a>
<li> <b>Previous message:</b> <a href="0097.html">Dieter Meinert: "Aldi parallel port Scanner Lifetec 9891"</a>
<li> <b>Maybe in reply to:</b> <a href="0096.html">Timothy Reaves: "Problem with sane 44"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0107.html">Oliver Rauch: "Re: Problem with sane 44"</a>
<!-- reply="end" -->
</ul>
