<!-- received="Fri Nov 12 07:49:30 1999 PST" -->
<!-- sent="Fri, 12 Nov 1999 16:35:43 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Another Microtek Phantom 636 Problem" -->
<!-- id="" -->
<!-- inreplyto="l03130303b44f3bb92e7c@[192.168.2.2]" -->
<title>sane-devel: Re: Another Microtek Phantom 636 Problem</title>
<h1>Re: Another Microtek Phantom 636 Problem</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Fri, 12 Nov 1999 16:35:43 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Bernd Schroeder: "Re: Another Microtek Phantom 636 Problem"</a>
<li> <b>Previous message:</b> <a href="0098.html">Timothy Reaves: "Re: Problem with sane 44"</a>
<li> <b>In reply to:</b> <a href="0075.html">Christoph: "Re: Another Microtek Phantom 636 Problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, Nov 10, 1999 at 04:24:40PM +0100, Christoph wrote:<br>
<i>&gt; I still didn't fix the problem but here is some more debug information:</i><br>
<i>&gt; </i><br>
<i>&gt; My system is Redhat 6.0, kernel 2.2.12, sane1.0.1 with the latest patches,</i><br>
<i>&gt; I use Adaptec AVA-1505AE SCSI adapter.</i><br>
<i>&gt; </i><br>
<i>&gt; [root@aeon /root]# scanimage -d microtek2:/dev/scanner</i><br>
<p>
[...]<br>
<p>
Forget my other mail, I didn't see this one at first.<br>
<p>
<i>&gt; Scanner attributes from device structure</i><br>
<i>&gt; ========================================</i><br>
<i>&gt; </i><br>
<i>&gt; Scanner ID...</i><br>
<i>&gt; ~~~~~~~~~~~~~</i><br>
<i>&gt;   Vendor Name:        '        '</i><br>
<i>&gt;   Model Name:         'scanner V636A4  '</i><br>
<i>&gt;   Revision:           '1.20'</i><br>
<i>&gt;   Model Code:         0x97 (ScanMaker 636)</i><br>
<i>&gt;   Device Type Code:   0x06 (Scanner),</i><br>
<i>&gt;   Scanner type:       Flatbed scanner</i><br>
<i>&gt;   Supported options:  Automatic document feeder: Yes</i><br>
<i>&gt;                       Transparency media adapter: Yes</i><br>
<i>&gt;                       Auto paper detecting: Yes</i><br>
<i>&gt;                       Advanced picture system: No</i><br>
<i>&gt;                       Stripes: No</i><br>
<i>&gt;                       Slides: No</i><br>
<i>&gt;   Scan button:        No</i><br>
<i>&gt; </i><br>
<i>&gt; Imaging Capabilities...</i><br>
<i>&gt; ~~~~~~~~~~~~~~~~~~~~~~~</i><br>
<i>&gt;   Color scanner:      Yes</i><br>
<i>&gt;   Number passes:      1 pass</i><br>
<i>&gt;   Resolution:         X-max:   600 dpi</i><br>
<i>&gt;                       Y-max:  1200 dpi</i><br>
<i>&gt;   Geometry:           Geometric width:  5100 pts (8.50'')</i><br>
<i>&gt;                       Geometric height: 7020 pts (11.70'')</i><br>
<i>&gt;   Optical resol.  :   600</i><br>
<i>&gt;   Modes:              Lineart:      Yes</i><br>
<i>&gt;                       Halftone:     No</i><br>
<i>&gt;                       Gray:         Yes</i><br>
<i>&gt;                       Color:        Yes</i><br>
<i>&gt;   Depths:             Nibble Gray:  Yes</i><br>
<i>&gt;                       10-bit-color: No</i><br>
<i>&gt;                       12-bit-color: Yes</i><br>
<i>&gt;   d/l of HT pattern:  No</i><br>
<i>&gt;   Builtin HT patt.:   0</i><br>
<i>&gt;   LUT capabilities:   4096 words</i><br>
<i>&gt; </i><br>
<i>&gt; Miscellaneous capabilities...</i><br>
<i>&gt; ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</i><br>
<i>&gt;   Data format:        Chunky data, R, G &amp; B in one pixel</i><br>
<i>&gt;   Color Sequence:     R - G - B</i><br>
<i>&gt;   Scanning direction: Left to right</i><br>
<i>&gt;   CCD gap:            8 lines</i><br>
<i>&gt;   CCD pixels:         5100</i><br>
<i>&gt;   Calib wh str loc:   -288</i><br>
<i>&gt;   Max calib space:    80</i><br>
<i>&gt;   Number of lens:     1</i><br>
<i>&gt;   Max no of windows:  64</i><br>
<i>&gt;   Sh trnsf func equ:  1</i><br>
<i>&gt;   Buffer type:        Ring</i><br>
<i>&gt;   FEPROM:             No</i><br>
<p>
Basically this model should be supported, although you might need a newer<br>
release of the backend from<br>
<p>
 <a href="ftp://ftp.muc.de/people/bernds/mtek2">ftp://ftp.muc.de/people/bernds/mtek2</a> .<br>
<p>
<i>&gt; [microtek2] scsi_read_image_info: ms=0x8056f00</i><br>
<i>&gt; [microtek2] scsi_read_image_info: ppl=612, bpl=1842, lines=842, remain=1550964</i><br>
<i>&gt; [microtek2] scsi_wait_for_image: ms=0x8056f00</i><br>
<i>&gt; [microtek2] scsi_read_image_status: ms=0x8056f00</i><br>
<p>
If it stops here then it is normally indeed a problem with the<br>
settings for disconnect/reconnect. You could try it with something similar<br>
to aha152x=0x140,10,7,1,1.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Bernd Schroeder: "Re: Another Microtek Phantom 636 Problem"</a>
<li> <b>Previous message:</b> <a href="0098.html">Timothy Reaves: "Re: Problem with sane 44"</a>
<li> <b>In reply to:</b> <a href="0075.html">Christoph: "Re: Another Microtek Phantom 636 Problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
