<!-- received="Sat Nov 13 05:50:21 1999 PST" -->
<!-- sent="Sat, 13 Nov 1999 12:47:13 +0100" -->
<!-- name="Joern Krueger" -->
<!-- email="jkrueger@muenster.de" -->
<!-- subject="Re: Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler" -->
<!-- id="" -->
<!-- inreplyto="Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler" -->
<title>sane-devel: Re: Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler</title>
<h1>Re: Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler</h1>
<b>Joern Krueger</b> (<a href="mailto:jkrueger@muenster.de"><i>jkrueger@muenster.de</i></a>)<br>
<i>Sat, 13 Nov 1999 12:47:13 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#114">[ date ]</a><a href="index.html#114">[ thread ]</a><a href="subject.html#114">[ subject ]</a><a href="author.html#114">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">Thorsten Pfaff: "Mustek works!!!"</a>
<li> <b>Previous message:</b> <a href="0113.html">Martin Heinen: "Re: Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler"</a>
<li> <b>Maybe in reply to:</b> <a href="0086.html">Juergen Gerhard: "Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0180.html">Klaas Freitag: "Re: Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Juergen Gerhard wrote:<br>
<i>&gt; &gt; I recently bougth the 12000 SP Plus and it seems to work fine with</i><br>
<i>&gt; &gt; my Dawicontrol 2976 (UW).</i><br>
<i>&gt; </i><br>
<i>&gt; Sorry - mine is an SP Plus too, and not an SP Pro. But I had problems</i><br>
<i>&gt; with my DC-2974, maybe caused by the fact that there were two CD devices</i><br>
<i>&gt; (Fast SCSI) with the scanner (SCSI I) on the same SCSI bus.</i><br>
<p>
Did you disable the Reconnect function for the Scanner? <br>
 <br>
<i>&gt; &gt; After changing the mustek.* files and a recompile I get nice pictures</i><br>
<i>&gt; &gt; with xsane.</i><br>
<i>&gt; </i><br>
<i>&gt; What exactly did you change?</i><br>
<p>
Some things, but the only one which seems to be necessary<br>
is the SCSI ID of the scanner in the mustek.desc file.<br>
<p>
	:model "SE-12000SPp"<br>
	:comment "1 pass; (f/w == 1.01; scsi id XC06 S12IDW)"<br>
<p>
Perhaps this is completly wrong and can damage the scanner, but<br>
this works for me.<br>
<p>
<pre>
-- 
Bye, Joern
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">Thorsten Pfaff: "Mustek works!!!"</a>
<li> <b>Previous message:</b> <a href="0113.html">Martin Heinen: "Re: Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler"</a>
<li> <b>Maybe in reply to:</b> <a href="0086.html">Juergen Gerhard: "Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0180.html">Klaas Freitag: "Re: Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler"</a>
<!-- reply="end" -->
</ul>
