<!-- received="Sun Nov 14 18:43:28 1999 PST" -->
<!-- sent="Sun, 14 Nov 1999 21:27:28 +0530 (IST)" -->
<!-- name="raj2569@flashmail.com" -->
<!-- email="raj2569@flashmail.com" -->
<!-- subject="sane and video4linux" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane and video4linux</title>
<h1>sane and video4linux</h1>
<a href="mailto:raj2569@flashmail.com"><i>raj2569@flashmail.com</i></a><br>
<i>Sun, 14 Nov 1999 21:27:28 +0530 (IST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#124">[ date ]</a><a href="index.html#124">[ thread ]</a><a href="subject.html#124">[ subject ]</a><a href="author.html#124">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0125.html">Oliver Rauch: "Re: Questions re Sane API digression &amp; MF Scanner"</a>
<li> <b>Previous message:</b> <a href="0123.html">Petter Reinholdtsen: "Re: next release?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0132.html">Juergen Schimmer: "Re: sane and video4linux"</a>
<li> <b>Reply:</b> <a href="0132.html">Juergen Schimmer: "Re: sane and video4linux"</a>
<li> <b>Reply:</b> <a href="0134.html">Oliver Rauch: "Re: sane and video4linux"</a>
<li> <b>Reply:</b> <a href="0141.html">Petter Reinholdtsen: "Re: sane and video4linux"</a>
<li> <b>Reply:</b> <a href="0142.html">Oliver Rauch: "Re: sane and video4linux"</a>
<li> <b>Reply:</b> <a href="0152.html">Petter Reinholdtsen: "Re: sane and video4linux"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
hi all<br>
<p>
I am a newbie to the list. What is the relation between the sane and the<br>
video4linux arch. My requirement is to use a bt card to acquire image<br>
directly into gimp for processing insted of using a scanner.[i do not<br>
require high res, it is some thing like a ID card making] I think that<br>
sane is the standard to acquire images from scanners and such things, so<br>
where is video4linux in this picture.<br>
<p>
regards<br>
raj<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0125.html">Oliver Rauch: "Re: Questions re Sane API digression &amp; MF Scanner"</a>
<li> <b>Previous message:</b> <a href="0123.html">Petter Reinholdtsen: "Re: next release?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0132.html">Juergen Schimmer: "Re: sane and video4linux"</a>
<li> <b>Reply:</b> <a href="0132.html">Juergen Schimmer: "Re: sane and video4linux"</a>
<li> <b>Reply:</b> <a href="0134.html">Oliver Rauch: "Re: sane and video4linux"</a>
<li> <b>Reply:</b> <a href="0141.html">Petter Reinholdtsen: "Re: sane and video4linux"</a>
<li> <b>Reply:</b> <a href="0142.html">Oliver Rauch: "Re: sane and video4linux"</a>
<li> <b>Reply:</b> <a href="0152.html">Petter Reinholdtsen: "Re: sane and video4linux"</a>
<!-- reply="end" -->
</ul>
