<!-- received="Mon Nov 15 05:50:53 1999 PST" -->
<!-- sent="Mon, 15 Nov 1999 14:55:33 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Sane on OpenBSD/sparc" -->
<!-- id="" -->
<!-- inreplyto="Sane on OpenBSD/sparc" -->
<title>sane-devel: Re: Sane on OpenBSD/sparc</title>
<h1>Re: Sane on OpenBSD/sparc</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 15 Nov 1999 14:55:33 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Oliver Rauch: "Re: sane and video4linux"</a>
<li> <b>Previous message:</b> <a href="0132.html">Juergen Schimmer: "Re: sane and video4linux"</a>
<li> <b>Maybe in reply to:</b> <a href="0130.html">Arnaud Gomes-do-Vale: "Sane on OpenBSD/sparc"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0138.html">Arnaud Gomes-do-Vale: "Re: Sane on OpenBSD/sparc"</a>
<li> <b>Reply:</b> <a href="0138.html">Arnaud Gomes-do-Vale: "Re: Sane on OpenBSD/sparc"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Arnaud Gomes-do-Vale wrote:<br>
<p>
<i>&gt;</i><br>
<i>&gt; chance# scanimage -T -v -d /dev/ss0</i><br>
<p>
you must specify a SANE-DEVICE:<br>
<p>
       The -d or --device-name options must be followed by a SANE<br>
       device-name.  A (partial) list of available devices can be<br>
       obtained with the --list-devices option (see  below).   If<br>
       no  device-name  is  specified  explicitly, scanimage will<br>
       attempt to open the first available device.<br>
<p>
this can look like:<br>
scanimage -d umax:/dev/scanner<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Oliver Rauch: "Re: sane and video4linux"</a>
<li> <b>Previous message:</b> <a href="0132.html">Juergen Schimmer: "Re: sane and video4linux"</a>
<li> <b>Maybe in reply to:</b> <a href="0130.html">Arnaud Gomes-do-Vale: "Sane on OpenBSD/sparc"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0138.html">Arnaud Gomes-do-Vale: "Re: Sane on OpenBSD/sparc"</a>
<li> <b>Reply:</b> <a href="0138.html">Arnaud Gomes-do-Vale: "Re: Sane on OpenBSD/sparc"</a>
<!-- reply="end" -->
</ul>
