<!-- received="Tue Nov 16 00:46:58 1999 PST" -->
<!-- sent="Tue, 16 Nov 1999 00:46:55 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: sane and video4linux" -->
<!-- id="199911160846.AAA23879@panda.mostang.com" -->
<!-- inreplyto="199911151726.BAA01647@minerva.cc.uit.no" -->
<title>sane-devel: Re: sane and video4linux</title>
<h1>Re: sane and video4linux</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 16 Nov 1999 00:46:55 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#148">[ date ]</a><a href="index.html#148">[ thread ]</a><a href="subject.html#148">[ subject ]</a><a href="author.html#148">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">David Paschal: "Re: diff/patch (was: Re: HP OfficeJet Pro,R series support"</a>
<li> <b>Previous message:</b> <a href="0147.html">David Mosberger-Tang: "Re: next release?"</a>
<li> <b>In reply to:</b> <a href="0141.html">Petter Reinholdtsen: "Re: sane and video4linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0142.html">Oliver Rauch: "Re: sane and video4linux"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 16 Nov 1999 01:26:50 +0800, Petter Reinholdtsen &lt;<a href="mailto:pere@hungry.com">pere@hungry.com</a>&gt; said:</i><br>
<p>
  Petter&gt; I was going to add your backend to the CVS source, but I<br>
  Petter&gt; unpacked the source, and discovered headers files<br>
  Petter&gt; frequencies.h, grab.h and videodev.h.  Could you change the<br>
  Petter&gt; names of these files to v4l-* to make it more obvious that<br>
  Petter&gt; they are part of your particular backend?<br>
<p>
While I haven't looked at the v4l backend specifically, could you<br>
please also make sure new backends meet the guidelines outlined in<br>
backend/GUIDE?  It's much easier to enforce those guidelines _before_<br>
accepting a new backend... ;-)<br>
<p>
Thanks,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">David Paschal: "Re: diff/patch (was: Re: HP OfficeJet Pro,R series support"</a>
<li> <b>Previous message:</b> <a href="0147.html">David Mosberger-Tang: "Re: next release?"</a>
<li> <b>In reply to:</b> <a href="0141.html">Petter Reinholdtsen: "Re: sane and video4linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0142.html">Oliver Rauch: "Re: sane and video4linux"</a>
<!-- reply="end" -->
</ul>
