<!-- received="Thu Nov 18 10:46:20 1999 PST" -->
<!-- sent="Thu, 18 Nov 1999 13:44:56 -0500 (EST)" -->
<!-- name="David Brodbeck" -->
<!-- email="gull@condor.resnet.mtu.edu" -->
<!-- subject="Re: Opinion about SCSI scanner with FreeBSD" -->
<!-- id="" -->
<!-- inreplyto="Pine.HPP.3.91.991118001050.17261A-100000@pinon.ccu.uniovi.es" -->
<title>sane-devel: Re: Opinion about SCSI scanner with FreeBSD</title>
<h1>Re: Opinion about SCSI scanner with FreeBSD</h1>
<b>David Brodbeck</b> (<a href="mailto:gull@condor.resnet.mtu.edu"><i>gull@condor.resnet.mtu.edu</i></a>)<br>
<i>Thu, 18 Nov 1999 13:44:56 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#170">[ date ]</a><a href="index.html#170">[ thread ]</a><a href="subject.html#170">[ subject ]</a><a href="author.html#170">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">David Brodbeck: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<li> <b>Previous message:</b> <a href="0169.html">Randolph Bentson: "Fujitsu M3096G"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 18 Nov 1999, German Jose Gomez Garcia wrote:<br>
<p>
<i>&gt; 	I had bought and AGFA Snapscan 1236 SCSI, and it was my worst </i><br>
<i>&gt; nightmare. I own a Supermicro P6DBU (dual PII + U2W SCSI) and I was not </i><br>
<i>&gt; able to make it work using my own controller. The problems started </i><br>
<i>&gt; because the scanner does not support Sync SCSI, and although I had always </i><br>
<i>&gt; thought that SCSI setup itself in a per-device basis it only work if I </i><br>
<i>&gt; disable sync mode in every other device on the same bus.</i><br>
<i>&gt; </i><br>
<i>&gt; 	Anyway even disabling it the scanner was too broken to work, lots</i><br>
<i>&gt; of timeouts and SCSI resets got me to give it back, fortunately they</i><br>
<i>&gt; return me my money.</i><br>
<p>
--&gt; I'm having problems too, but I have to think it's the SANE driver<br>
that's broken, not the scanner.  It works flawlessly for me under Win95<br>
on either of the adapters I've tried it on.  (Granted, it's the only SCSI<br>
device in my system.)  I originally bought it because it got much better<br>
reviews for image quality than the similarly-priced UMAX scanners.<br>
<p>
I agree, though, that if you want to use a scanner under FreeBSD, you'd be<br>
better off buying one that's already supported well.  I'm not sure when<br>
(if ever) the Agfa back end will be fixed.<br>
<p>
-----------------------------------------------------------------------<br>
    "If men had wings and bore black feathers, few of them would be<br>
     clever enough to be crows."<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">David Brodbeck: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<li> <b>Previous message:</b> <a href="0169.html">Randolph Bentson: "Fujitsu M3096G"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
