<!-- received="Thu Nov 25 14:28:10 1999 PST" -->
<!-- sent="Thu, 25 Nov 1999 15:31:14 -0700 (MST)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: no SG__BIG_BUF in kernel 2.2.12" -->
<!-- id="19991125223125Z433225-16920+220@scapa.cs.ualberta.ca" -->
<!-- inreplyto="383DB4C3.3B6623F6@gate.verona.se" -->
<title>sane-devel: Re: no SG__BIG_BUF in kernel 2.2.12</title>
<h1>Re: no SG__BIG_BUF in kernel 2.2.12</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Thu, 25 Nov 1999 15:31:14 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#249">[ date ]</a><a href="index.html#249">[ thread ]</a><a href="subject.html#249">[ subject ]</a><a href="author.html#249">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">marcel pol: "Microtek Pagewizard support?"</a>
<li> <b>Previous message:</b> <a href="0248.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I've been trying now and then for some time to get my snapscan 300 to</i><br>
<i>&gt; work.</i><br>
<i>&gt; with the latest developer snapshot i had partial success, i could at</i><br>
<i>&gt; least do a preview scan with xscanimage, but when i try to do a full</i><br>
<i>&gt; scan it hangs after scanning a fraction of the image.</i><br>
<p>
By "latest developer snapshot" do you mean the latest sources in the<br>
CVS archive, the lastest backend available from my website, or<br>
SANE 1.0.1?<br>
<p>
<p>
<i>&gt; </i><br>
<i>&gt; so i've read some of the advice on the list and was going to try to</i><br>
<i>&gt; increase the SG_BIG_BUF parameter in sg.h. But there seems to be no such</i><br>
<i>&gt; parameter in kernel 2.2.12!</i><br>
<i>&gt; </i><br>
<i>&gt; is SG_BIG_BUF still applicable, or what?</i><br>
<p>
I believe SG_BIG_BUF isn't used anymore. My SnapScan 300 works fine with<br>
kernel 2.2.10 without such a modification.<br>
<p>
<p>
<p>
Kevin<br>
<p>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">marcel pol: "Microtek Pagewizard support?"</a>
<li> <b>Previous message:</b> <a href="0248.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
