<!-- received="Fri Nov 26 01:42:04 1999 PST" -->
<!-- sent="Fri, 26 Nov 1999 13:06:23 +0100" -->
<!-- name="joakim verona" -->
<!-- email="joakim@verona.se" -->
<!-- subject="Re: no SG__BIG_BUF in kernel 2.2.12" -->
<!-- id="" -->
<!-- inreplyto="no SG__BIG_BUF in kernel 2.2.12" -->
<title>sane-devel: Re: no SG__BIG_BUF in kernel 2.2.12</title>
<h1>Re: no SG__BIG_BUF in kernel 2.2.12</h1>
<b>joakim verona</b> (<a href="mailto:joakim@verona.se"><i>joakim@verona.se</i></a>)<br>
<i>Fri, 26 Nov 1999 13:06:23 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#257">[ date ]</a><a href="index.html#257">[ thread ]</a><a href="subject.html#257">[ subject ]</a><a href="author.html#257">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">Manuel Panea: "How do I get a negative orange mask *back*?"</a>
<li> <b>Previous message:</b> <a href="0256.html">Manuel Panea: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0245.html">joakim verona: "no SG__BIG_BUF in kernel 2.2.12"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Kevin,<br>
<p>
I'm sorry for my inprecise description of my problem. <br>
so:<br>
<p>
stock rh61 kernel, 2.2.12-20<br>
adaptec 1505 scsi card(aha 152x driver)<br>
dual celeron machine<br>
<p>
sane-devel-19991119<br>
snapscan backend 0.7<br>
<p>
everything WAS working before i did a lot of upgrades of everything.<br>
before i was running rh52, sane 1.0, backend 0.7(i think)<br>
and it was a single amd k6-2 cpu.<br>
<p>
AND i tested a simmilar configuration with my laptop running the same<br>
linux stuff,<br>
but with an adaptec pcmcia card. results are the same.<br>
<p>
and, well, it works under windows.<br>
termination seems ok and all. the scanner is the only thing on that<br>
card,<br>
i have a tekram dc390 for other devices.<br>
<p>
<p>
when i used sane-1.0.1, i could get nothing out of the scanner, with <br>
sane-devel-19991119 i can do previews fine, but not scan entire images.<br>
this is why i thought SG_BIGBUF would solve it, since small scans work.<br>
<p>
<p>
<p>
the thing is very mysterious, other people seem to use the same config<br>
as I and gets it working. <br>
<p>
<p>
<p>
Kevin Charter wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt; I've been trying now and then for some time to get my snapscan 300 to</i><br>
<i>&gt; &gt; work.</i><br>
<i>&gt; &gt; with the latest developer snapshot i had partial success, i could at</i><br>
<i>&gt; &gt; least do a preview scan with xscanimage, but when i try to do a full</i><br>
<i>&gt; &gt; scan it hangs after scanning a fraction of the image.</i><br>
<i>&gt; </i><br>
<i>&gt; By "latest developer snapshot" do you mean the latest sources in the</i><br>
<i>&gt; CVS archive, the lastest backend available from my website, or</i><br>
<i>&gt; SANE 1.0.1?</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; so i've read some of the advice on the list and was going to try to</i><br>
<i>&gt; &gt; increase the SG_BIG_BUF parameter in sg.h. But there seems to be no such</i><br>
<i>&gt; &gt; parameter in kernel 2.2.12!</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; is SG_BIG_BUF still applicable, or what?</i><br>
<i>&gt; </i><br>
<i>&gt; I believe SG_BIG_BUF isn't used anymore. My SnapScan 300 works fine with</i><br>
<i>&gt; kernel 2.2.10 without such a modification.</i><br>
<i>&gt; </i><br>
<i>&gt; Kevin</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Kevin Charter</i><br>
<i>&gt; <a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca</i><br>
<i>&gt; <a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
Joakim Verona
<a href="mailto:joakim@verona.se">joakim@verona.se</a>
<a href="http://www.verona.se/~joakimv">http://www.verona.se/~joakimv</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">Manuel Panea: "How do I get a negative orange mask *back*?"</a>
<li> <b>Previous message:</b> <a href="0256.html">Manuel Panea: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0245.html">joakim verona: "no SG__BIG_BUF in kernel 2.2.12"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
