<!-- received="Sun Nov 28 22:24:58 1999 PST" -->
<!-- sent="Mon, 29 Nov 1999 17:30:37 +1100 (EST)" -->
<!-- name="Tim Allen" -->
<!-- email="tim@proximity.com.au" -->
<!-- subject="Snapscan 1236s &amp; AVA1505AE" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Snapscan 1236s &amp; AVA1505AE</title>
<h1>Snapscan 1236s &amp; AVA1505AE</h1>
<b>Tim Allen</b> (<a href="mailto:tim@proximity.com.au"><i>tim@proximity.com.au</i></a>)<br>
<i>Mon, 29 Nov 1999 17:30:37 +1100 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#285">[ date ]</a><a href="index.html#285">[ thread ]</a><a href="subject.html#285">[ subject ]</a><a href="author.html#285">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0286.html">John Gay: "Re: Snapscan 1236s &amp; AVA1505AE"</a>
<li> <b>Previous message:</b> <a href="0284.html">Kai Haberzettl: "Re: does xsane-0.46 work with canon/hp backend?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0286.html">John Gay: "Re: Snapscan 1236s &amp; AVA1505AE"</a>
<li> <b>Reply:</b> <a href="0286.html">John Gay: "Re: Snapscan 1236s &amp; AVA1505AE"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've finally got my mini-howto in a somewhat coherent form, at<br>
<p>
<a href="http://www4.tpg.com.au/users/rita_tim/snapscan-ava1505-howto.txt">http://www4.tpg.com.au/users/rita_tim/snapscan-ava1505-howto.txt</a><br>
<p>
Hopefully this is of use to someone.<br>
<p>
Kevin, I think it would be good to have some mention of this on the<br>
Snapscan backend page. Whether you want to host the whole document on your<br>
site, or just put a link to this one is up to you. I would suggest the<br>
former, so things are in the one place, but your call, it's your site :).<br>
I actually think all the backends and documentation ought to be hosted at<br>
the same place as the Sane distribution itself - hopefully that will<br>
happen someday.<br>
<p>
Corrections, additions and suggestions happily accepted (well, additions<br>
_within_reason_, anyway - I'm not promising to blow the scope of the<br>
document out indefinitely :-)).<br>
<p>
Tim<br>
<p>
-----------------------------------------------<br>
Tim Allen<br>
Proximity Pty Ltd  <a href="http://www.proximity.com.au">http://www.proximity.com.au</a><br>
-----------------------------------------------<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0286.html">John Gay: "Re: Snapscan 1236s &amp; AVA1505AE"</a>
<li> <b>Previous message:</b> <a href="0284.html">Kai Haberzettl: "Re: does xsane-0.46 work with canon/hp backend?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0286.html">John Gay: "Re: Snapscan 1236s &amp; AVA1505AE"</a>
<li> <b>Reply:</b> <a href="0286.html">John Gay: "Re: Snapscan 1236s &amp; AVA1505AE"</a>
<!-- reply="end" -->
</ul>
