<!-- received="Tue Nov 30 02:01:24 1999 PST" -->
<!-- sent="Tue, 30 Nov 1999 10:07:21 +0000" -->
<!-- name="Jonathan A. Buzzard" -->
<!-- email="jonathan@buzzard.org.uk" -->
<!-- subject="Re: Umax Parallel" -->
<!-- id="E11skBu-0007eE-00@hex.buzzard.org.uk" -->
<!-- inreplyto="38437F3F.443E203D@informatik.uni-ulm.de" -->
<title>sane-devel: Re: Umax Parallel</title>
<h1>Re: Umax Parallel</h1>
<b>Jonathan A. Buzzard</b> (<a href="mailto:jonathan@buzzard.org.uk"><i>jonathan@buzzard.org.uk</i></a>)<br>
<i>Tue, 30 Nov 1999 10:07:21 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#298">[ date ]</a><a href="index.html#298">[ thread ]</a><a href="subject.html#298">[ subject ]</a><a href="author.html#298">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0299.html">Dmitry Veprintsev: "Re: Umax Parallel"</a>
<li> <b>Previous message:</b> <a href="0297.html">Klaus Espenlaub: "Re: Umax Parallel"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:espenlaub@informatik.uni-ulm.de">espenlaub@informatik.uni-ulm.de</a> said:<br>
<i>&gt; ... or you could try to get the TWAIN driver running under WINE.  Open</i><br>
<i>&gt; source emulators (WINE, dosemu, ...) are a great reverse engineering</i><br>
<i>&gt; tool, because decent operating systems can control almost anything</i><br>
<i>&gt; going on inside the system/computer hardware.  So WINE has some code</i><br>
<i>&gt; that actually does the printer port emulation.  At least it should. </i><br>
<p>
Been tried, unfortunately the Windows scanner drivers make use of .vxd's<br>
which Wine does not support. The run well under VMware but it provides<br>
no method of logging the parallel port at the moment.<br>
<p>
<p>
<i>&gt; By the way: is their scanner driven by a SCSI-over-parallel protocol</i><br>
<i>&gt; (which means that there is some SCSI driver installed by the Umax</i><br>
<i>&gt; software) or is it some fully proprietary protocol?  If it's SCSI then</i><br>
<i>&gt; you can cut a few corners. </i><br>
<p>
It's totally proprietary, though I believe UMAC licensed it to other<br>
scanner manufactures.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jonathan@buzzard.org.uk">jonathan@buzzard.org.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0299.html">Dmitry Veprintsev: "Re: Umax Parallel"</a>
<li> <b>Previous message:</b> <a href="0297.html">Klaus Espenlaub: "Re: Umax Parallel"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
