<!-- received="Tue Nov 30 18:09:31 1999 PST" -->
<!-- sent="Tue, 30 Nov 1999 21:15:56 EST" -->
<!-- name="PAILOTT@aol.com" -->
<!-- email="PAILOTT@aol.com" -->
<!-- subject="Re: Umax Astra 1220S, Serving as a Scanner Server???" -->
<!-- id="" -->
<!-- inreplyto="Umax Astra 1220S, Serving as a Scanner Server???" -->
<title>sane-devel: Re: Umax Astra 1220S, Serving as a Scanner Server???</title>
<h1>Re: Umax Astra 1220S, Serving as a Scanner Server???</h1>
<a href="mailto:PAILOTT@aol.com"><i>PAILOTT@aol.com</i></a><br>
<i>Tue, 30 Nov 1999 21:15:56 EST</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#309">[ date ]</a><a href="index.html#309">[ thread ]</a><a href="subject.html#309">[ subject ]</a><a href="author.html#309">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0310.html">Eric Galluzzo: "Re: Microtek2 X6EL problems"</a>
<li> <b>Previous message:</b> <a href="0308.html">Eric Galluzzo: "Microtek2 X6EL problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0306.html">Yuri Litvin: "Umax Astra 1220S, Serving as a Scanner Server???"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I recently installed this same scanner. It runs fine in windoz, and great under Linux. I use my adaptec card rather then the supplied card. I am very happy with it, and use the sane plugin in Gimp. It runs great !!!<br>
<p>
Peter Ilott, PhD<br>
<a href="mailto:PAILOTT@AOL.COM">PAILOTT@AOL.COM</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0310.html">Eric Galluzzo: "Re: Microtek2 X6EL problems"</a>
<li> <b>Previous message:</b> <a href="0308.html">Eric Galluzzo: "Microtek2 X6EL problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0306.html">Yuri Litvin: "Umax Astra 1220S, Serving as a Scanner Server???"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
