<!-- received="Thu Mar  4 15:52:04 1999 PST" -->
<!-- sent="Fri, 5 Mar 1999 00:16:01 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: microtek ScanMaker X6 (EL)" -->
<!-- id="" -->
<!-- inreplyto="199903041835.KAA16005@celeste.ucolick.org" -->
<title>sane-devel: Re: microtek ScanMaker X6 (EL)</title>
<h1>Re: microtek ScanMaker X6 (EL)</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Fri, 5 Mar 1999 00:16:01 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#53">[ date ]</a><a href="index.html#53">[ thread ]</a><a href="subject.html#53">[ subject ]</a><a href="author.html#53">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Bernd Schroeder: "Re: More problems with Microtek ScanMaker X6"</a>
<li> <b>Previous message:</b> <a href="0052.html">Oliver Rauch: "Re: Automatic Brightness and Contrast correction?"</a>
<li> <b>In reply to:</b> <a href="0050.html">De Clarke: "microtek ScanMaker X6 (EL)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, Mar 04, 1999 at 10:35:47AM -0800, De Clarke wrote:<br>
<i>&gt; </i><br>
<i>&gt; I just ordered one of these pups and am alarmed by the amount</i><br>
<i>&gt; of traffic (since I placed the order) about problems with them.</i><br>
<i>&gt; Could one of the reigning SANE gurus possibly post a summary</i><br>
<i>&gt; or FAQ about the X6 and the recommended SANE revision plus</i><br>
<i>&gt; patches required to get it working?</i><br>
<p>
The most common problem with this and some other models is, that they<br>
produce images with corrupted colors after one sucessful scan.<br>
V0.5 of the backend, which is included in sane-1.00, has a workaround<br>
for this problem, but newer devices have a FW-version, where this<br>
workaround fails.<br>
<p>
You must assure, that the function do_dummy_scan() in microtek2.c is<br>
executed in order to get the colors right. As written in an earlier mail,<br>
I intend to publish a patch, that should eliminate this problem.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Bernd Schroeder: "Re: More problems with Microtek ScanMaker X6"</a>
<li> <b>Previous message:</b> <a href="0052.html">Oliver Rauch: "Re: Automatic Brightness and Contrast correction?"</a>
<li> <b>In reply to:</b> <a href="0050.html">De Clarke: "microtek ScanMaker X6 (EL)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
