<!-- received="Mon Mar  8 08:03:34 1999 PST" -->
<!-- sent="Mon, 08 Mar 1999 17:04:05 -0100" -->
<!-- name="Roderick Klein" -->
<!-- email="rwklein@wxs.nl" -->
<!-- subject="Re: Trust Scanner support" -->
<!-- id="" -->
<!-- inreplyto="Trust Scanner support" -->
<title>sane-devel: Re: Trust Scanner support</title>
<h1>Re: Trust Scanner support</h1>
<b>Roderick Klein</b> (<a href="mailto:rwklein@wxs.nl"><i>rwklein@wxs.nl</i></a>)<br>
<i>Mon, 08 Mar 1999 17:04:05 -0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#77">[ date ]</a><a href="index.html#77">[ thread ]</a><a href="subject.html#77">[ subject ]</a><a href="author.html#77">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Petter Reinholdtsen: "Re: another pre-test"</a>
<li> <b>Previous message:</b> <a href="0076.html">=?iso-8859-1?Q?H=E5kan=20Kvarnstr=F6m?=: "Re: More problems with Microtek ScanMaker X6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
PierLuigi de Palo wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hello</i><br>
<i>&gt; I'm an italian Linux user.</i><br>
<i>&gt; First of all I apologize for my english and for bothering you with my</i><br>
<p>
The question about Trust Support has been floating around for a whle<br>
now. No devolper has answered our questions. I can't remeber who but<br>
there have been more people asking about trust support. As far as I know<br>
Trust uses scanners from Teco information products. If you want to get<br>
your trust scanner going under a non Microsoft OS then you can use OS/2<br>
Warp 4. The WIndows 3.1 in this version has almost completly been<br>
rewritten by IBM. My SCSI card is detected under OS/2. install the<br>
vaspi.sys in your config.sys and the scanner should work under WIN/OS2.<br>
Want you could also try is WINE. I can't remeber how but somebody got<br>
his scanner going via WINE. I tried to use the SANE port under OS/2<br>
(version 1.0.) Nothing.<br>
<p>
Greetings Roderick Klein<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">Petter Reinholdtsen: "Re: another pre-test"</a>
<li> <b>Previous message:</b> <a href="0076.html">=?iso-8859-1?Q?H=E5kan=20Kvarnstr=F6m?=: "Re: More problems with Microtek ScanMaker X6"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
