<!-- received="Fri Mar 12 11:35:14 1999 PST" -->
<!-- sent="Fri, 12 Mar 1999 20:33:19 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Microtek scanners" -->
<!-- id="" -->
<!-- inreplyto="017CD638FB49D1118AC100805FAD982D379E8F@mail.microtek.nl" -->
<title>sane-devel: Re: Microtek scanners</title>
<h1>Re: Microtek scanners</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Fri, 12 Mar 1999 20:33:19 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Juha Sahakangas: "Re: Microtek scanners"</a>
<li> <b>Previous message:</b> <a href="0122.html">Peter Kirchgessner: "Re: xscanimage won't detect my scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 12 Mar 1999, Leon van Zundert wrote:<br>
<p>
<i>&gt; We have quite a few customers asking for Linux drivers.</i><br>
<p>
We call them backends. It's not quite like the 'driver' thing of W95, NT<br>
or OS/2.<br>
 <br>
<i>&gt; Could you tell us which scanners are supported by S.A.N.E., so we don't</i><br>
<i>&gt; get any dissapointet customers after sending them to your homepage.</i><br>
<i>&gt; </i><br>
<i>&gt; Does S.A.N.E. also support parallel and USB scanners?</i><br>
<p>
Basically SANE does not support parallel port or USB scanners. The lack of<br>
parallel port support is mainly to blame on the manufacturers who don't<br>
want to supply technical information about the used protocols. USB is<br>
mainly an unexplored territory.<br>
<p>
If you are in any position to change this behaviour within your company<br>
(if it is currently reluctant to share the technical details) your help to<br>
acquire this information may result in actual support if someone is<br>
willing to accept the challenge.<br>
<p>
Regards,<br>
Hugo.<br>
<p>
PS: I hope you realize that this is a mailinglist of people involved or<br>
    interrested in the SANE project.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Juha Sahakangas: "Re: Microtek scanners"</a>
<li> <b>Previous message:</b> <a href="0122.html">Peter Kirchgessner: "Re: xscanimage won't detect my scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
