<!-- received="Sat Mar 13 01:39:33 1999 PST" -->
<!-- sent="Sat, 13 Mar 1999 10:39:17 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="16 bit per sample support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: 16 bit per sample support</title>
<h1>16 bit per sample support</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 13 Mar 1999 10:39:17 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#126">[ date ]</a><a href="index.html#126">[ thread ]</a><a href="subject.html#126">[ subject ]</a><a href="author.html#126">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">Petter Reinholdtsen: "saned documentation patch"</a>
<li> <b>Previous message:</b> <a href="0125.html">Ingo Wilken: "Bugs in saned"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0151.html">Oliver Rauch: "Re: 16 bit per sample support"</a>
<li> <b>Reply:</b> <a href="0151.html">Oliver Rauch: "Re: 16 bit per sample support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
*** TO ALL BACKEND AUTHORS, PLEASE READ THIS ***<br>
<p>
I want to include a 16 bit per sample support for xsane.<br>
<p>
But there are some things I need to know before.<br>
<p>
We need a well known option so the frontend can select 8 bit/sample<br>
for preview or phtocopy and so on. It does not make sense to do a<br>
preview or a photocopy with 16 bits per sample and I don't like to<br>
write a 16 to 8 bit conversion so it would be great if we could define<br>
such a common option for all backends.<br>
<p>
We could define an option the way like the preview option is defined:<br>
   SANE_TRUE=&gt; backend sends not more than 8 bit/sample<br>
   SANE_FALSE=&gt; backend can send more than 8 bits/sample<br>
or we define an option bit_depht that must be a SANE_CONSTRAINT_WORD_LIST<br>
so the frontend can simply select "8" (if available) for preview and so on!<br>
<p>
<p>
In the sane api it is not define how bit depths between 8 and 16 bits are<br>
handled.<br>
So if the scanner gives back 12 bpp is this bit 0-11 or bit 5-16 or does this<br>
mean<br>
the colors are mixed togeht in some bytes:<br>
(8 bits red) (4 bits red, 4 bits green) (8 bits green) (8 bits blue)  (4 bits<br>
blue, whats with the rest?)<br>
<p>
How can the fronten find out how the backend does this?<br>
Is it ok for a backend to say it is 16 bpp and use bit 5-16 although it is only<br>
12 bpp ?<br>
<p>
I think we need a closer definition about that!<br>
David, any suggestions?<br>
<p>
Bye<br>
<p>
Oliver<br>
<p>
<pre>
--
<p>
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">Petter Reinholdtsen: "saned documentation patch"</a>
<li> <b>Previous message:</b> <a href="0125.html">Ingo Wilken: "Bugs in saned"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0151.html">Oliver Rauch: "Re: 16 bit per sample support"</a>
<li> <b>Reply:</b> <a href="0151.html">Oliver Rauch: "Re: 16 bit per sample support"</a>
<!-- reply="end" -->
</ul>
