<!-- received="Sat Mar 13 05:36:43 1999 PST" -->
<!-- sent="Sat, 13 Mar 1999 14:35:33 +0100" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="saned documentation patch" -->
<!-- id="199903131335.OAA13295@lee.Cc.Uit.No" -->
<!-- inreplyto="" -->
<title>sane-devel: saned documentation patch</title>
<h1>saned documentation patch</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sat, 13 Mar 1999 14:35:33 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#127">[ date ]</a><a href="index.html#127">[ thread ]</a><a href="subject.html#127">[ subject ]</a><a href="author.html#127">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Petter Reinholdtsen: "AGFA SnapScan 1236 (patch 2)"</a>
<li> <b>Previous message:</b> <a href="0126.html">Oliver Rauch: "16 bit per sample support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here is a small patch to the sane documentation.<br>
<p>
diff -ru /store/store/joseph/sane/src-pre1.01r3/ChangeLog src-pre1.01r3-allarchs/ChangeLog<br>
--- /store/store/joseph/sane/src-pre1.01r3/ChangeLog    Fri Mar  5 07:20:00 1999<br>
+++ src-pre1.01r3-allarchs/ChangeLog    Sat Mar 13 15:31:58 1999<br>
@@ -1,3 +1,19 @@<br>
+1999-03-13  Petter Reinholdtsen  &lt;<a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>&gt;<br>
+<br>
+       * doc/saned.man: More info on how to use tcp_wrapper for access<br>
+       control.<br>
+<br>
 1999-03-04  David Mosberger-Tang  &lt;<a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a>&gt;<br>
<p>
        * backend/canon.c (adjust_hilo_points): Print values of type<br>
diff -ru /store/store/joseph/sane/src-pre1.01r3/doc/saned.man src-pre1.01r3-allarchs/doc/saned.man<br>
--- /store/store/joseph/sane/src-pre1.01r3/doc/saned.man        Sun Feb 28 00:20:52 1999<br>
+++ src-pre1.01r3-allarchs/doc/saned.man        Sat Mar 13 15:22:29 1999<br>
@@ -66,8 +66,12 @@<br>
 .PP<br>
 However, if your system uses<br>
 .BR tcpd (8)<br>
-for additional security screening, you may want to use a line of the<br>
-following form instead:<br>
+for additional security screening, you may want to disable saned<br>
+access control by putting ``+'' in<br>
+.IR saned.conf<br>
+and use a line of the following form in<br>
+.IR /etc/inetd.conf<br>
+instead:<br>
 .PP<br>
 .RS<br>
 sane stream tcp nowait saned.saned /usr/sbin/tcpd saned<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Petter Reinholdtsen: "AGFA SnapScan 1236 (patch 2)"</a>
<li> <b>Previous message:</b> <a href="0126.html">Oliver Rauch: "16 bit per sample support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
