<!-- received="Sun Mar 14 06:26:24 1999 PST" -->
<!-- sent="Sun, 14 Mar 1999 15:24:16 +0100 (CET)" -->
<!-- name="regis rampnoux" -->
<!-- email="regisr@regix.com" -->
<!-- subject="Any development underway for Minolta Scan Dual Dimaage?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Any development underway for Minolta Scan Dual Dimaage?</title>
<h1>Any development underway for Minolta Scan Dual Dimaage?</h1>
<b>regis rampnoux</b> (<a href="mailto:regisr@regix.com"><i>regisr@regix.com</i></a>)<br>
<i>Sun, 14 Mar 1999 15:24:16 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#134">[ date ]</a><a href="index.html#134">[ thread ]</a><a href="subject.html#134">[ subject ]</a><a href="author.html#134">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Andreas Dilger: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0133.html">Oliver Rauch: "New umax backend availableHi"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am looking for the new Minolta scanner, Dimage Scan Speed.<br>
Any news from Minolta? May be the backend, when available, for Scan Dual can<br>
work with this new scanner.<br>
<p>
Do you think than users can do something to help developers to obtain technical<br>
infos from manufacturers?<br>
<p>
I am interested by the Sony DSC-D700 camera. Is someone working on it?<br>
<p>
<p>
<pre>
---
&lt;regisr&gt;       <a href="mailto:regisr@regix.com">regisr@regix.com</a>     <a href="http://www.regix.com/">http://www.regix.com/</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Andreas Dilger: "Re: 16 bit per sample support"</a>
<li> <b>Previous message:</b> <a href="0133.html">Oliver Rauch: "New umax backend availableHi"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
