<!-- received="Mon Mar 15 06:50:57 1999 PST" -->
<!-- sent="Mon, 15 Mar 1999 16:49:55 +0200" -->
<!-- name="Milon Firikis" -->
<!-- email="milonf@ariadne-t.gr" -->
<!-- subject="Re: Sane drivers" -->
<!-- id="" -->
<!-- inreplyto="Sane drivers" -->
<title>sane-devel: Re: Sane drivers</title>
<h1>Re: Sane drivers</h1>
<b>Milon Firikis</b> (<a href="mailto:milonf@ariadne-t.gr"><i>milonf@ariadne-t.gr</i></a>)<br>
<i>Mon, 15 Mar 1999 16:49:55 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#141">[ date ]</a><a href="index.html#141">[ thread ]</a><a href="subject.html#141">[ subject ]</a><a href="author.html#141">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Tim Waugh: "Re: [Fwd: HP ScanJet 5p + Linux 2.2.3 w/ sym53c416 driver]"</a>
<li> <b>Previous message:</b> <a href="0140.html">Paulo Afonso Graner Fessel: "[Fwd: HP ScanJet 5p + Linux 2.2.3 w/ sym53c416 driver]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Juha Sahakangas wrote:<br>
<i>&gt; </i><br>
<i>&gt; On Mon, 15 Mar 1999, Bert Bakker wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Dear Sirs,</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; We have already sent out the SCSI command set to several people would</i><br>
<i>&gt; &gt; said that they would publish the resulting driver on the SANE website.</i><br>
<i>&gt; </i><br>
<p>
Looks like we will read about it in slashdot :-)<br>
<p>
	MF<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Tim Waugh: "Re: [Fwd: HP ScanJet 5p + Linux 2.2.3 w/ sym53c416 driver]"</a>
<li> <b>Previous message:</b> <a href="0140.html">Paulo Afonso Graner Fessel: "[Fwd: HP ScanJet 5p + Linux 2.2.3 w/ sym53c416 driver]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
