<!-- received="Tue Mar 16 10:02:31 1999 PST" -->
<!-- sent="Tue, 16 Mar 1999 19:01:22 +0100" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Sane documentation inconsistency" -->
<!-- id="199903161801.TAA14315@lee.Cc.Uit.No" -->
<!-- inreplyto="" -->
<title>sane-devel: Sane documentation inconsistency</title>
<h1>Sane documentation inconsistency</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Tue, 16 Mar 1999 19:01:22 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#167">[ date ]</a><a href="index.html#167">[ thread ]</a><a href="subject.html#167">[ subject ]</a><a href="author.html#167">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Oliver Rauch: "xsane-0.17 available"</a>
<li> <b>Previous message:</b> <a href="0166.html">Ewald R. de Wit: "Re: HP Photosmart R032 problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
While reading chapter 5, Network Protocol, I discovered that<br>
SANE_String is missing from the encoding list.  I began to wonder if<br>
it is encoded as an array (size, elem1, elem2, ...), or as a sequence<br>
described in 4.2.5.  More later.<br>
<p>
I also discovered that SANE_Char is inconsistently defined as '8-bit<br>
ASCII', while it in section 4.2.5 is defined as 'ISO Latin 1'<br>
(sometime refered to as ISO 8859/1).<br>
<p>
I assume the latter is correct, and that section 5.5.1 should be<br>
corrected.  Enclosed is my suggested change.<br>
<p>
After reading the source (sanei_codec_bin.c), I discovered that<br>
strings are encoded like arrays including the trailing 0.  I suggest<br>
stating that in the network chapter.  I enclose a suggested patch for<br>
this too.<br>
<p>
diff -c -r1.2 net.tex<br>
*** net.tex	1999/02/28 19:13:08	1.2<br>
--- net.tex	1999/03/16 17:59:15<br>
***************<br>
*** 79,86 ****<br>
    least-significant byte (big-endian byte-order).<br>
  <br>
  \item[\code{\defn{SANE\_Char}}:] A character is currently encoded as an 8-bit<br>
!   ASCII value.  An extension to support wider character sets (16 or 32<br>
    bits) is planned for the future, but not supported at this point.<br>
  <br>
  \item[\code{\defn{SANE\_Handle}}:] A handle is encoded like a word.<br>
    The network backend needs to take care of converting these integer<br>
--- 79,89 ----<br>
    least-significant byte (big-endian byte-order).<br>
  <br>
  \item[\code{\defn{SANE\_Char}}:] A character is currently encoded as an 8-bit<br>
!   ISO LATIN-1 value.  An extension to support wider character sets (16 or 32<br>
    bits) is planned for the future, but not supported at this point.<br>
+ <br>
+ \item[\code{\defn{SANE\_String}}:] A string is encoded as a SANE_char<br>
+   array.  The trailing NULL byte is considered part of the array.<br>
  <br>
  \item[\code{\defn{SANE\_Handle}}:] A handle is encoded like a word.<br>
    The network backend needs to take care of converting these integer<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Oliver Rauch: "xsane-0.17 available"</a>
<li> <b>Previous message:</b> <a href="0166.html">Ewald R. de Wit: "Re: HP Photosmart R032 problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
