<!-- received="Tue Mar 16 10:57:26 1999 PST" -->
<!-- sent="Tue, 16 Mar 1999 12:56:15 -0600" -->
<!-- name="john allen pitney" -->
<!-- email="pitney@students.uiuc.edu" -->
<!-- subject="Re: HP Photosmart R032 problem" -->
<!-- id="" -->
<!-- inreplyto="19990316185406.C3025@bitterling.LeidenUniv.nl" -->
<title>sane-devel: Re: HP Photosmart R032 problem</title>
<h1>Re: HP Photosmart R032 problem</h1>
<b>john allen pitney</b> (<a href="mailto:pitney@students.uiuc.edu"><i>pitney@students.uiuc.edu</i></a>)<br>
<i>Tue, 16 Mar 1999 12:56:15 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#169">[ date ]</a><a href="index.html#169">[ thread ]</a><a href="subject.html#169">[ subject ]</a><a href="author.html#169">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">Petter Reinholdtsen: "Scanner survey: Which scanner do you have?"</a>
<li> <b>Previous message:</b> <a href="0168.html">Oliver Rauch: "xsane-0.17 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; That is most definitely a tonemap transfer caught in the act, so it</i><br>
<i>&gt; can indeed be done.</i><br>
<p>
Well, it can, if the Photosmart isn't throwing an error that <br>
doesn't show up in the log (or that I missed while reading the log).  <br>
<p>
<i>&gt; &gt; KDE!?!  :-)  Anyway, enjoy your project.</i><br>
<i>&gt; </i><br>
<i>&gt; Hehehe.. thank you for your warm feelings :-) </i><br>
<p>
Some forums have a rule about mentioning KDE and gnome in the same <br>
message--or at least they should!  :-)  I'm not really a devotee of <br>
either, or even a user of either.  <br>
<p>
<i>&gt; &gt; I think that xscanimage/hp backend </i><br>
<i>&gt; &gt; is pretty close right now, it just needs a few more tweaks.  </i><br>
<i>&gt;  </i><br>
<i>&gt; If you could put in a 10x8 gamma map in the backend that would be very cool. </i><br>
<i>&gt; Meanwhile I'll be trying the software-only route, that is to do</i><br>
<i>&gt; everything with high bit depth accuracy in software.</i><br>
<p>
The advantage to doing the gamma with a tone map might be faster scanning <br>
speed, as the scanner outputs half the bits (30-bit color is read out in a <br>
48-bit format on the PS, right?).  The software-only route has the advantage <br>
that there is more freedom to manipulate the data, and the gamma (etc.) <br>
can be changed (with undo) without having to re-scan.  Looks like, <br>
with the right frontend, there's a strong case for grabbing the 30-bit <br>
data from the scanner!  <br>
<p>
John<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">Petter Reinholdtsen: "Scanner survey: Which scanner do you have?"</a>
<li> <b>Previous message:</b> <a href="0168.html">Oliver Rauch: "xsane-0.17 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
