<!-- received="Wed Mar 17 00:58:26 1999 PST" -->
<!-- sent="Wed, 17 Mar 1999 09:59:18 +0000" -->
<!-- name="Yvan Cottyn" -->
<!-- email="yvan.cottyn@eds.com" -->
<!-- subject="trust backend?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: trust backend?</title>
<h1>trust backend?</h1>
<b>Yvan Cottyn</b> (<a href="mailto:yvan.cottyn@eds.com"><i>yvan.cottyn@eds.com</i></a>)<br>
<i>Wed, 17 Mar 1999 09:59:18 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#180">[ date ]</a><a href="index.html#180">[ thread ]</a><a href="subject.html#180">[ subject ]</a><a href="author.html#180">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">Juha Sahakangas: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0179.html">Mentore #cat# Siesto: "Re: Epson backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0182.html">Roderick Klein: "Re: trust backend?"</a>
<li> <b>Reply:</b> <a href="0182.html">Roderick Klein: "Re: trust backend?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I am a new subscriber to the list.<br>
<p>
I found this posting in the archive:<br>
<p>
<i>&gt;Hello,</i><br>
<i>&gt;I have a Trust Imagery 2400SP.</i><br>
<i>&gt;Since I found some questions on your mailing list concerning Trust</i><br>
<i>&gt;Scanners, I want to ask:</i><br>
<i>&gt;How do I get SANE working with Trust Imagery 2400SP ?</i><br>
<i>&gt;Is this scanner compatible to any scanner which is already supported ?</i><br>
<i>&gt;Since it is a scanner which fulfills the TWAIN standard, it should in</i><br>
<i>&gt;principle be very easy to support it ?</i><br>
<i>&gt;i. e., is there any general TWAIN driver/backend for SANE ?</i><br>
<i>&gt;Thank you very much (especially for developing SANE :-),</i><br>
<i>&gt;Yours, (NAME DELETED ON REQUEST OF AUTHOR)</i><br>
<p>
but I could not find any replies to the posting.<br>
<p>
so.... same question here....<br>
<p>
is there a Trust Imagery (compatible) backend?<br>
<p>
<pre>
--
| <a href="mailto:yvan.cottyn@eds.com">yvan.cottyn@eds.com</a>                                   vanne@pandora.be |
| (32)(3)5446527                                          (32)(9)3294120 |
| A PC without Windows is like a fish without bicycle. ~ Install Linux ~ |
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">Juha Sahakangas: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0179.html">Mentore #cat# Siesto: "Re: Epson backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0182.html">Roderick Klein: "Re: trust backend?"</a>
<li> <b>Reply:</b> <a href="0182.html">Roderick Klein: "Re: trust backend?"</a>
<!-- reply="end" -->
</ul>
