<!-- received="Wed Mar 17 10:55:47 1999 PST" -->
<!-- sent="Wed, 17 Mar 1999 19:18:48 +0100" -->
<!-- name="abel deuring" -->
<!-- email="a.deuring@satzbau-gmbh.de" -->
<!-- subject="SANE backend for Sharp JX 250 version 0.11" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE backend for Sharp JX 250 version 0.11</title>
<h1>SANE backend for Sharp JX 250 version 0.11</h1>
<b>abel deuring</b> (<a href="mailto:a.deuring@satzbau-gmbh.de"><i>a.deuring@satzbau-gmbh.de</i></a>)<br>
<i>Wed, 17 Mar 1999 19:18:48 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#184">[ date ]</a><a href="index.html#184">[ thread ]</a><a href="subject.html#184">[ subject ]</a><a href="author.html#184">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Marco Foglia: "Linux Driver for Primax Colorado Direct"</a>
<li> <b>Previous message:</b> <a href="0183.html">Nick Lamb: "Re: Scanner survey: Which scanner do you have?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0198.html">abel deuring: "Re: SANE backend for Sharp JX 250 version 0.11"</a>
<li> <b>Reply:</b> <a href="0198.html">abel deuring: "Re: SANE backend for Sharp JX 250 version 0.11"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all,<br>
<p>
I just made version 0.11 of the backend for the JX 250 available:<br>
<a href="http://www.satzbau-gmbh.de/staff/abel/sane-sharp.html">http://www.satzbau-gmbh.de/staff/abel/sane-sharp.html</a><br>
<p>
Differences to version 0.1:<br>
<p>
  - memory leakages fixed<br>
  - a few options added<br>
<p>
Abel<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Marco Foglia: "Linux Driver for Primax Colorado Direct"</a>
<li> <b>Previous message:</b> <a href="0183.html">Nick Lamb: "Re: Scanner survey: Which scanner do you have?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0198.html">abel deuring: "Re: SANE backend for Sharp JX 250 version 0.11"</a>
<li> <b>Reply:</b> <a href="0198.html">abel deuring: "Re: SANE backend for Sharp JX 250 version 0.11"</a>
<!-- reply="end" -->
</ul>
