<!-- received="Thu Mar 18 16:53:24 1999 PST" -->
<!-- sent="Fri, 19 Mar 1999 01:51:55 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Sane drivers" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.990315140451.815B-100000@wasteland" -->
<title>sane-devel: Re: Sane drivers</title>
<h1>Re: Sane drivers</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Fri, 19 Mar 1999 01:51:55 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#191">[ date ]</a><a href="index.html#191">[ thread ]</a><a href="subject.html#191">[ subject ]</a><a href="author.html#191">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0192.html">Bernd Schroeder: "Re: Microtek scanners"</a>
<li> <b>Previous message:</b> <a href="0190.html">Oliver Rauch: "Re: Does the dtc SCSI adapter work with Linux 2.x?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, Mar 15, 1999 at 02:07:57PM +0200, Juha Sahakangas wrote:<br>
<i>&gt; On Mon, 15 Mar 1999, Bert Bakker wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Dear Sirs,</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; We have already sent out the SCSI command set to several people would</i><br>
<i>&gt; &gt; said that they would publish the resulting driver on the SANE website. </i><br>
<p>
It seems that the list server has some problems. Neither did I receive<br>
the original mail, nor did it show up in the archive.<br>
<p>
I am not sure, whether some text has been cut here, but backends for<br>
Microtek scanners exist, one for models with SCSI-1 command set and<br>
another for models with SCSI-2 command set. The latter is there for almost<br>
a year.<br>
<p>
If people want to have the specs they are probably not satisfied<br>
with the existing backend, and want to improve it or eliminate bugs or<br>
extend its capabilities to other models themselves. The results of these<br>
efforts get usually included into the backends that are part of the <br>
SANE distribution.<br>
<p>
<i>&gt; You need to give also paraller &lt;-&gt; scsi adapter specs if you would like to</i><br>
<i>&gt; get paraller port scanner drivers too..</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; I would like to have just one contact for this Linux SANE project and</i><br>
<i>&gt; &gt; not just individual people who just write a driver for only one scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; Well, just for that this mailing list is good for.</i><br>
<p>
Yes. This list is the primary contact for problems with or questions to SANE.<br>
If you want to contact individuals (for example the people who maintain<br>
the Microtek backends) you can find adresses either via<br>
the SANE webserver or in the sources.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0192.html">Bernd Schroeder: "Re: Microtek scanners"</a>
<li> <b>Previous message:</b> <a href="0190.html">Oliver Rauch: "Re: Does the dtc SCSI adapter work with Linux 2.x?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
