<!-- received="Thu Mar 18 16:53:25 1999 PST" -->
<!-- sent="Fri, 19 Mar 1999 01:10:53 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek scanners" -->
<!-- id="" -->
<!-- inreplyto="000d01be701b$9d261860$37c1a7a7@wbearly.mca.com" -->
<title>sane-devel: Re: Microtek scanners</title>
<h1>Re: Microtek scanners</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Fri, 19 Mar 1999 01:10:53 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#192">[ date ]</a><a href="index.html#192">[ thread ]</a><a href="subject.html#192">[ subject ]</a><a href="author.html#192">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">lduperval@sprint.ca: "Xsane"</a>
<li> <b>Previous message:</b> <a href="0191.html">Bernd Schroeder: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thanks for your efforts.<br>
<p>
On Tue, Mar 16, 1999 at 06:12:27PM -0800, Warren Early wrote:<br>
<i>&gt; This is a response from a technical person at Microtek. Hopefully this info</i><br>
<i>&gt; is useful for Bernd. The names were changed to protect the innocent. ;-)</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;Hey Wearly,</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;The SCSI command set can be downloaded from our ftp site at:</i><br>
<i>&gt; &gt; <a href="ftp://ftp.microtek.com/microtek/devpack">ftp://ftp.microtek.com/microtek/devpack</a></i><br>
<i>&gt; </i><br>
<i>&gt; &gt;Don't worry about the fact that the dates are old--this info covers</i><br>
<i>&gt; &gt;everything up to and including the SM-5. The SCSI command sets &gt;were</i><br>
<i>&gt; determined way back when.</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;One problem XXXX said everyone runs into is in how to read the &gt;color data</i><br>
<i>&gt; that comes back from the scanner. Each line of data that &gt;comes back is</i><br>
<i>&gt; preceded by a letter R, G, or B. That first letter tells you &gt;what channel</i><br>
<i>&gt; the line is for. The scanner does NOT send back one &gt;line of R, one line of</i><br>
<i>&gt; G, one line of B, etc. The scanner sends back like &gt;20 to 40 lines of red,</i><br>
<i>&gt; 20 to 40 lines of G, etc. So you have to check &gt;and buffer each line that</i><br>
<i>&gt; comes back.</i><br>
<p>
I already have this documentation. It defines several formats how the data<br>
is transferred, and I think the format XXX refers to is the format, where<br>
the backend has to cope with the CCD gap.<br>
<p>
One of the problems mentioned is that some models have have more bytes<br>
per scanline than expected (i.e. more than 3*pixels_per_line for a color<br>
scan, where the number of pixels per line (ppl) is even). For that format<br>
this is indeed the case because the color indicator is contained in the<br>
number of bytes per line (bpl).<br>
<p>
The models, where the problem occurs, however, transfers a scanline as<br>
RGBRGB... And for this format bpl should equal 3*ppl (again: even number<br>
of pixels per line). But actually it is bpl=3*ppl+6 (even number of<br>
pixels per line) and bpl=3*ppl+3 for an odd number of pixels per line.<br>
This is not really a serious problem, but one has to figure out, which<br>
pixels in a line are the relevant ones, and you must let do this other<br>
people, if you don't have such a model.<br>
<p>
A more serious problem are the corrupted colors. The symptoms are that one<br>
color scan, after the devices is switched on, produces good results, but<br>
all subsequent color scans are messed up, although the backend implements<br>
a sequence of SCSI commands as recommended in the documentation.<br>
<p>
I suppose that, when a scan is finished, the device is left in a somehow<br>
'confused' state and must be reset. One way to reset it is,  of course,<br>
to powercycle it. Another way seems to be to do a B/W scan, and this<br>
actually the workaround: to initiate a short B/W scanbefore each scan.<br>
People, who don't know this, are hardly aware of it, but it is at least <br>
annoying, though.<br>
<p>
<i>&gt; &gt;Apparently, this method of transfer is the fastest way there is and</i><br>
<i>&gt; &gt;Microtek holds the patent on it. :-)</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;For the EPP stuff, you have to get the info from OnSpec--not even &gt;XXX has</i><br>
<i>&gt; that info. But it seems unlikely that OnSpec would pass out &gt;that info.</i><br>
<i>&gt; Apparently, in order to talk to the chip, you either have to &gt;have OnSpec</i><br>
<i>&gt; develop the driver/backend for you, or you need the &gt;whole source code for</i><br>
<i>&gt; how they do it on the PC. In explaining how &gt;they do the communications,</i><br>
<i>&gt; they would be giving away their "trade &gt;secrets" and helping their</i><br>
<i>&gt; competitors. So you're right; it would be &gt;easier to get OnSpec to write a</i><br>
<i>&gt; Linux backend than to get them to &gt;show you how.</i><br>
<p>
I think this needs some clarification. One thing is to get a byte stream<br>
transferred over the cable. This is where the type of the chip plays a role,<br>
and , as you wrote earlier, is in case of Linux subject to the Linux parport<br>
project (although SANE is aimed to run on other platforms, too). A driver<br>
for the Onspec chip, how it is used in these scanners, is not yet available.<br>
<p>
The other thing is the communication protocol between the host and the<br>
scanner. This is what the documetation for the SCSI commad set provides.<br>
And I am pretty sure, that the same command set can be applied to an<br>
EPP model, where a respective SCSI model exists. But I don't know<br>
whether this command set applies to the Slimscan series, for example,<br>
but I suppose that not.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">lduperval@sprint.ca: "Xsane"</a>
<li> <b>Previous message:</b> <a href="0191.html">Bernd Schroeder: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
