<!-- received="Fri Mar 19 00:37:00 1999 PST" -->
<!-- sent="Fri, 19 Mar 1999 09:35:47 +0100 (MET)" -->
<!-- name="Danilo Godec" -->
<!-- email="danci@kibla.org" -->
<!-- subject="Re: Linux Driver for Primax Colorado Direct" -->
<!-- id="" -->
<!-- inreplyto="36F00011.A00B17E8@physik.unizh.ch" -->
<title>sane-devel: Re: Linux Driver for Primax Colorado Direct</title>
<h1>Re: Linux Driver for Primax Colorado Direct</h1>
<b>Danilo Godec</b> (<a href="mailto:danci@kibla.org"><i>danci@kibla.org</i></a>)<br>
<i>Fri, 19 Mar 1999 09:35:47 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#194">[ date ]</a><a href="index.html#194">[ thread ]</a><a href="subject.html#194">[ subject ]</a><a href="author.html#194">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">Danilo Godec: "Re: Linux Driver for Primax Colorado Direct"</a>
<li> <b>Previous message:</b> <a href="0193.html">lduperval@sprint.ca: "Xsane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 17 Mar 1999, Marco Foglia wrote:<br>
<p>
<i>&gt; Primax Colorado Direct is out. At the moment</i><br>
<i>&gt; it is very experimental. Be warned! </i><br>
<i>&gt; </i><br>
<i>&gt; You can get it directly from </i><br>
<i>&gt; </i><br>
<i>&gt; <a href="http://spinor1.physik.unizh.ch:8080/primax_scan-0.2.tgz">http://spinor1.physik.unizh.ch:8080/primax_scan-0.2.tgz</a></i><br>
<i>&gt; </i><br>
<i>&gt; or</i><br>
<i>&gt; </i><br>
<i>&gt; from the Primax Project Page at</i><br>
<i>&gt; </i><br>
<i>&gt; <a href="http://thor.prohosting.com/~chrordig/Primax/">http://thor.prohosting.com/~chrordig/Primax/</a></i><br>
<p>
I tried the driver with Primax 4800 DIRECT (I know this is not<br>
the *same* as Colorado Direct, but was hoping these two are somewhat<br>
compatible :((( ).<br>
<p>
All I get is nothing. When I start primax_scan it finds the port and it<br>
creates a test.tiff file - the size varies with the -p and -d parameters<br>
(just as if it was scanning :) ), however the scanner never moves, it<br>
doesn't turn on the light or anything.<br>
<p>
The driver (program) also doesn't say anything about finding or<br>
recognizing the scanner (if it should)...<br>
<p>
     D.<br>
<p>
PS.: I'm sad, cause I still need to have Weentendo installed on one<br>
machine.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0195.html">Danilo Godec: "Re: Linux Driver for Primax Colorado Direct"</a>
<li> <b>Previous message:</b> <a href="0193.html">lduperval@sprint.ca: "Xsane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
