<!-- received="Wed Mar 24 14:34:51 1999 PST" -->
<!-- sent="Wed, 24 Mar 1999 13:31:23 -0800 (PST)" -->
<!-- name="Washu chan" -->
<!-- email="washu@gothpunk.com" -->
<!-- subject="driver dev advice" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: driver dev advice</title>
<h1>driver dev advice</h1>
<b>Washu chan</b> (<a href="mailto:washu@gothpunk.com"><i>washu@gothpunk.com</i></a>)<br>
<i>Wed, 24 Mar 1999 13:31:23 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#225">[ date ]</a><a href="index.html#225">[ thread ]</a><a href="subject.html#225">[ subject ]</a><a href="author.html#225">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0226.html">Henning Meier-Geinitz: "Re: Scanner survey results"</a>
<li> <b>Next message:</b> <a href="0226.html">Henning Meier-Geinitz: "Re: xsane-0.18 available"</a>
<li> <b>Previous message:</b> <a href="0224.html">Oliver Rauch: "Re: xsane-0.18 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I have never written a device driver before and am thinking my unsupported<br>
scanner might be a good place to start. The problem is the company that<br>
made my scanner is probably out of business. <br>
<p>
The company is Scanpaq, Inc. <br>
It is a scanport parallel port TWAIN scanner. Will I be able to work<br>
without specific hardware information about the scanner? Is TWAIN a<br>
general purpose API? <br>
<p>
If you think it is possible what is a good roadmap of resources to get<br>
started. For instance I have the O'Rreilly Linux Device Driver book. Are<br>
there good resources about writing drives for the parallel port and<br>
scanners? Then I'll need to integrate with SANE, correct? <br>
<p>
Thanks,<br>
washu<br>
<p>
<p>
<p>
<p>
///////////////-////////-/-------//////////////---//////////---//////////<br>
His work was very much a personal inquiry, a continuous questioning of<br>
deeper and deeper assumptions, a delight in finding himself in new<br>
territory without answers, and thus innocent. We are always innocent,<br>
unless, from laziness or for convenience, we decide to overlook the<br>
novelty of the moment, this particular now.<br>
<p>
				-Brian Eno on Peter Schmidt<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0226.html">Henning Meier-Geinitz: "Re: Scanner survey results"</a>
<li> <b>Next message:</b> <a href="0226.html">Henning Meier-Geinitz: "Re: xsane-0.18 available"</a>
<li> <b>Previous message:</b> <a href="0224.html">Oliver Rauch: "Re: xsane-0.18 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
