<!-- received="Fri Mar 26 13:12:42 1999 PST" -->
<!-- sent="Fri, 26 Mar 1999 21:25:32 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Calibration problem on UMAX Astra 1220S" -->
<!-- id="" -->
<!-- inreplyto="Calibration problem on UMAX Astra 1220S" -->
<title>sane-devel: Re: Calibration problem on UMAX Astra 1220S</title>
<h1>Re: Calibration problem on UMAX Astra 1220S</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Fri, 26 Mar 1999 21:25:32 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#240">[ date ]</a><a href="index.html#240">[ thread ]</a><a href="subject.html#240">[ subject ]</a><a href="author.html#240">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0241.html">Jamie Honan: "Some info about Dexxa / Artec AS6E"</a>
<li> <b>Previous message:</b> <a href="0239.html">Dean Martin Townsley: "Re: Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Maybe in reply to:</b> <a href="0220.html">Dean Martin Townsley: "Calibration problem on UMAX Astra 1220S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dean Martin Townsley wrote:<br>
<p>
<i>&gt; &gt; It has nothing to do with you problem!</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; What you are looking for is higlight and shadow (or black and white point)</i><br>
<i>&gt; &gt; definition.</i><br>
<i>&gt; &gt; The Astra 1220S only can do this via gamma correction, there are no seperate</i><br>
<i>&gt; &gt; functions</i><br>
<i>&gt; &gt; for this.</i><br>
<i>&gt;</i><br>
<i>&gt; Is it possible to make the popup help more informative on this point? Like maybe:</i><br>
<i>&gt; "Do a quality (rather than quick) internal white-calibration"</i><br>
<i>&gt; The point is to distiguish it from calibration on the image.  You can decide if</i><br>
<i>&gt; this is necessary since the real problem here is that my scanner just</i><br>
<i>&gt; doesn't have a very good white point whether it's calibrated carefully or not.</i><br>
<i>&gt; Sounds like this option adresses the problem of vertical streaks more than my</i><br>
<i>&gt; problem, so maybe it should say something more along those lines, I don't know.</i><br>
<p>
I don`t see a problem with the current tooltip because it exactly describes what it<br>
is,there is nothing written about calibration on image - but I will think about a change<br>
of the text.<br>
<p>
<p>
<i>&gt; &gt; Xsane makes available the highlight and shadow function via the hystogram window.</i><br>
<i>&gt; &gt; Open the histogram window, between the two histograms there are some colored blocks.</i><br>
<i>&gt; &gt; In the recent version there are three sliders in the gray block. Move the mid slider</i><br>
<i>&gt; &gt; and</i><br>
<i>&gt; &gt; the left slider to the right, as far as possible. Then do a real scan of the image.</i><br>
<i>&gt; &gt; On a preview</i><br>
<i>&gt; &gt; you  will not see any differences, because the preview is always done in 24bpp, the</i><br>
<i>&gt; &gt; real</i><br>
<i>&gt; &gt; scan uses a 36bpp and afterwards converts it to a 24bpp image.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I hope this works for you!</i><br>
<i>&gt;</i><br>
<i>&gt; Actually this helps a lot!  Thanks for the pointer. The scan comes out actually</i><br>
<i>&gt; useful though it's still not as good as the one done on another scanner. I'm kinda</i><br>
<i>&gt; new to scanning so I don't know many tricks yet.</i><br>
<i>&gt;</i><br>
<p>
Fine!<br>
<p>
<i>&gt; In the end I have decided the white point on this scanner is just not so good for</i><br>
<i>&gt; whetever reason.  I can put in something white and something slightly off-white</i><br>
<i>&gt; and even using only the top half of the values as described above they both come</i><br>
<i>&gt; out completely white, indicating the scanner can't see the difference between</i><br>
<i>&gt; them.  Oh well that's why it's not an expensive scanner I suppose (I use it mostly</i><br>
<i>&gt; for 1-bit scans of text anyhow), though I really have no way of knowing if it's</i><br>
<i>&gt; the model or just this one scanner.</i><br>
<i>&gt;</i><br>
<i>&gt; Thanks for all of your help Oliver, and thanks for your work on the software!</i><br>
<i>&gt; -Dean Townsley</i><br>
<i>&gt;</i><br>
<p>
The umax Astra scanners a very good for their price. You can get a scanner that<br>
supportsanalog gamma, highlight and shadow function - that's what you want - but for<br>
these scanners<br>
you have to pay 5 - 10 times the price you paied for your scanner!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0241.html">Jamie Honan: "Some info about Dexxa / Artec AS6E"</a>
<li> <b>Previous message:</b> <a href="0239.html">Dean Martin Townsley: "Re: Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Maybe in reply to:</b> <a href="0220.html">Dean Martin Townsley: "Calibration problem on UMAX Astra 1220S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
