<!-- received="Fri Mar 26 23:03:16 1999 PST" -->
<!-- sent="Sat, 27 Mar 1999 08:01:46 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: HP laserjet 1100A scanner attachment (1100 axe/ase)" -->
<!-- id="" -->
<!-- inreplyto="19990327012312.A4377@lenin.nu" -->
<title>sane-devel: Re: HP laserjet 1100A scanner attachment (1100 axe/ase)</title>
<h1>Re: HP laserjet 1100A scanner attachment (1100 axe/ase)</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sat, 27 Mar 1999 08:01:46 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#244">[ date ]</a><a href="index.html#244">[ thread ]</a><a href="subject.html#244">[ subject ]</a><a href="author.html#244">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">Peter C. Norton: "Re: HP laserjet 1100A scanner attachment (1100 axe/ase)"</a>
<li> <b>Previous message:</b> <a href="0243.html">Peter C. Norton: "HP laserjet 1100A scanner attachment (1100 axe/ase)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 27 Mar 1999, Peter C. Norton wrote:<br>
<p>
<i>&gt; I don't see any compatability for this document scanner in any of the</i><br>
<i>&gt; sane docs.</i><br>
<p>
There is. It falls in the large category unsupported devices.<br>
 <br>
<i>&gt; This is an attachment to a laserjet 1100 that does pretty good</i><br>
<i>&gt; greyscale document scanning.  It works through a parallel port.  Is</i><br>
<i>&gt; there any support for this sort of thing, or anything I can do to help</i><br>
<i>&gt; support it?</i><br>
<p>
SANE can't support it as the majority of parallel devices are regarded<br>
more secretly as the nuke launch codes by their manufacturers.<br>
<p>
<i>&gt; If the concensus that the best thing I can do is write a driver,</i><br>
<i>&gt; that's fine - as long as I can get some help in identifying how the</i><br>
<i>&gt; thing works.</i><br>
<p>
Consensus is always that it is good to write drivers. But I have some<br>
doubt about wether ot not someone will be able to obtain the proper<br>
information.<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">Peter C. Norton: "Re: HP laserjet 1100A scanner attachment (1100 axe/ase)"</a>
<li> <b>Previous message:</b> <a href="0243.html">Peter C. Norton: "HP laserjet 1100A scanner attachment (1100 axe/ase)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
