<!-- received="Sat Mar 27 08:49:28 1999 PST" -->
<!-- sent="Sat, 27 Mar 1999 17:50:22 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="xsane-0.19 available" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane-0.19 available</title>
<h1>xsane-0.19 available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 27 Mar 1999 17:50:22 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#246">[ date ]</a><a href="index.html#246">[ thread ]</a><a href="subject.html#246">[ subject ]</a><a href="author.html#246">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0247.html">Oliver Rauch: "sane-umax-1.0-build-2 available"</a>
<li> <b>Previous message:</b> <a href="0245.html">Peter C. Norton: "Re: HP laserjet 1100A scanner attachment (1100 axe/ase)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I uploaded xsane-0.19 to my homepage:<br>
        <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a><br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0247.html">Oliver Rauch: "sane-umax-1.0-build-2 available"</a>
<li> <b>Previous message:</b> <a href="0245.html">Peter C. Norton: "Re: HP laserjet 1100A scanner attachment (1100 axe/ase)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
