<!-- received="Tue Mar 30 21:30:42 1999 PST" -->
<!-- sent="Tue, 30 Mar 1999 21:18:33 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="TO UMAX Astra 6X0S users" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: TO UMAX Astra 6X0S users</title>
<h1>TO UMAX Astra 6X0S users</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 30 Mar 1999 21:18:33 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#251">[ date ]</a><a href="index.html#251">[ thread ]</a><a href="subject.html#251">[ subject ]</a><a href="author.html#251">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0252.html">Nick Lamb: "Net backend bug [patch]"</a>
<li> <b>Previous message:</b> <a href="0250.html">Bernd Schroeder: "Update microtek2 backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
did anyone test if the new umax-backend works with the Astra 6X0S<br>
scanners?<br>
<p>
Please set the shading type in advanced options to "calculate average and<br>
invert"<br>
and do some color scans  (not preview)!<br>
<p>
I plan to include it into sane-1.1 but would like to know if it works for<br>
Astra 6X0S before! If I don`t hear anything negative, it will be included<br>
into sane-1.1.<br>
<p>
Please also mail in positive case<br>
<p>
Bye<br>
<p>
Oliver<br>
<p>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0252.html">Nick Lamb: "Net backend bug [patch]"</a>
<li> <b>Previous message:</b> <a href="0250.html">Bernd Schroeder: "Update microtek2 backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
