<!-- received="Mon Feb  2 13:00:25 1998 PST" -->
<!-- sent="Mon, 02 Feb 1998 15:59:14 -0500" -->
<!-- name="Christoph Doerbeck" -->
<!-- email="doerbeck@dma.isg.mot.com" -->
<!-- subject="Problems after installing 0.70" -->
<!-- id="199802022059.PAA25735@prospero.dma.isg.mot.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Problems after installing 0.70</title>
<h1>Problems after installing 0.70</h1>
<b>Christoph Doerbeck</b> (<a href="mailto:doerbeck@dma.isg.mot.com"><i>doerbeck@dma.isg.mot.com</i></a>)<br>
<i>Mon, 02 Feb 1998 15:59:14 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Martin Huber: "Re: SANE and Sparc"</a>
<li> <b>Previous message:</b> <a href="0011.html">Kevin Cozens: "Re: sane-0.70 RPMS won't work properly with gtk 0.99.3"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">Benedikt Eric Heinen: "Re: Problems after installing 0.70"</a>
<li> <b>Reply:</b> <a href="0028.html">Benedikt Eric Heinen: "Re: Problems after installing 0.70"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hardware:<br>
  Intel Pent 100MHz<br>
  Mustek 600 II CD <br>
  Adaptec 1542C<br>
<p>
Version Info:<br>
  RedHat 4.2 (custom kernel 2.0.30)<br>
  sane-0.70<br>
  gimp-0.99.11<br>
<p>
Installation notes:<br>
  sane is installed in /usr/local/tools/sane-0.70<br>
  a ksh wrapper script appends $SANE_HOME to PATH,LIBPATH,LD_LIBRARY_PATH and<br>
    exec's the appropriate sane binary (x)scanimage<br>
<p>
Running xscanimage from within gimp (plugin), I noticed the following<br>
problems:<br>
<p>
	+ When viewing the preview window, adjuting the sliders for geometry<br>
	will not effect the rubberband lines in the preview.  I thought this<br>
	worked in 0.66?<br>
<p>
	+ First scan at 100dpi with Force BackTracking &amp; Custom Gamma yielded a<br>
	funky output...  Similar to what the other user posted a couple<br>
	weeks ago.  I'll be gald to send it if it helps.<br>
	Simply rescanning fixed the<br>
	problem.  A bit of scanning history, I set the options as mentioned,<br>
	popped into the preview window, selected the part of the image I<br>
	wanted, and proceded to scan.<br>
<p>
	+ When closing the preview window with the window buttons, the<br>
	preview-window-button on xscanimage failed to update itself, and <br>
	stdout got the following messages (gimp startup included):<br>
<p>
parsing "/home/chris/.gimp/gtkrc"<br>
parsing "/usr/local/share/gimp/0.99.11/gimprc"<br>
parsing "/home/chris/.gimp/gimprc"<br>
parsing "/home/chris/.gimp/pluginrc"<br>
Starting extensions: extension_script_fu <br>
<p>
** WARNING **: invalid cast from "(unknown)" to "GtkToggleButton"<br>
<p>
** WARNING **: file gtktogglebutton.c: line 158 (gtk_toggle_button_set_state): <br>
"GTK_IS_TOGGLE_BUTTON (toggle_button)"<br>
<p>
** WARNING **: invalid cast from "(unknown)" to "GtkToggleButton"<br>
<p>
** WARNING **: file gtktogglebutton.c: line 158 (gtk_toggle_button_set_state): <br>
"GTK_IS_TOGGLE_BUTTON (toggle_button)"<br>
<p>
<p>
<p>
If I can be of more assistance, please tell me what to do (want DEBUG_MUSTEK<br>
output???)<br>
<p>
<p>
<p>
- Christoph<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Martin Huber: "Re: SANE and Sparc"</a>
<li> <b>Previous message:</b> <a href="0011.html">Kevin Cozens: "Re: sane-0.70 RPMS won't work properly with gtk 0.99.3"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0028.html">Benedikt Eric Heinen: "Re: Problems after installing 0.70"</a>
<li> <b>Reply:</b> <a href="0028.html">Benedikt Eric Heinen: "Re: Problems after installing 0.70"</a>
<!-- reply="end" -->
</ul>
