<!-- received="Wed Feb  4 10:42:32 1998 PST" -->
<!-- sent="Wed, 4 Feb 1998 11:41:53 -0700 (MST)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: Agfa Horizon" -->
<!-- id="19980204184204Z13380-12022+86@scapa.cs.ualberta.ca" -->
<!-- inreplyto="Pine.OSF.3.96.980204120453.14430C-100000@krypton.mankato.msus.edu" -->
<title>sane-devel: Re: Agfa Horizon</title>
<h1>Re: Agfa Horizon</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Wed, 4 Feb 1998 11:41:53 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#17">[ date ]</a><a href="index.html#17">[ thread ]</a><a href="subject.html#17">[ subject ]</a><a href="author.html#17">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0018.html">Matto Marjanovic: "Re: SANE and Sparc (and Microtek)"</a>
<li> <b>Previous message:</b> <a href="0016.html">Ricardo Muggli: "Agfa Horizon"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0024.html">Rogier Wolff: "Re: Agfa Horizon"</a>
<li> <b>Reply:</b> <a href="0024.html">Rogier Wolff: "Re: Agfa Horizon"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt; I realize that there is no backend written for the Agfa Horizon. The only</i><br>
<i>&gt; Agfa product I have seen a driver for is the Snapscan. In a post a while</i><br>
<i>&gt; back (I believe in Jan.) when the Snapscan backend was announced it was</i><br>
<i>&gt; mentioned that there is no support for flatbed scanners and probably won't</i><br>
<p>
No support for flatbed scanners other than the SnapScan.<br>
<p>
<i>&gt; be any time soon. Now if I were to write a backend for this scanner would</i><br>
<i>&gt; I base it off of the snapscan code, incorperate it into the snapscan code</i><br>
<p>
It depends on how different the Horizon's programming interface is<br>
from the SnapScan's. There are plenty of similarities in organization<br>
between the SnapScan backend and the other SANE backends, but the<br>
particulars of which SCSI sommands to use, in what order, and with<br>
what data is where things get really different. So far, we've seen<br>
programming information for the SnapScan (300), the DuoScan, and the<br>
StudioScan, and they are all really very different. That's why the<br>
snapscan backend only supports the snapscan for the reasonably<br>
forseeable future.<br>
<p>
<i>&gt; or have to start from stratch. Also as of right now I have had no luck</i><br>
<i>&gt; obtaining any specs on this scanner.</i><br>
<i>&gt; Does anyone have these specs or know where I could get them?</i><br>
<p>
Michel Roelofs &lt;<a href="mailto:michelr@stack.nl">michelr@stack.nl</a>&gt; has had some luck getting<br>
programming information from AGFA Belgium. But the company could be<br>
reluctant to release programming info for recent scanner models. I<br>
suspect we may have gotten the specs for the SnapScan 300 because the<br>
310 was just coming out at the time.<br>
<p>
<i>&gt; Would testing code for this backend be dangerous? Could It cause hardware</i><br>
<i>&gt; damage. This scanner is not exactly cheap and I don't feel like messing it</i><br>
<i>&gt; up.</i><br>
<p>
As far as I know the the most likely way to cause scanner damage is<br>
the driver manages to get the scanner ccd to move, but either can't<br>
get it to stop or feeds in the wrong scanning window dimensions, and<br>
it moves past the end of the physical scanning area. If you don't turn<br>
the scanner off I imagine you can damage the motor, the ccd, or<br>
both. Other than that, feeding garbage commands into your scanner<br>
might cause it to hang, but I doubt you can do much physical damage.<br>
<p>
I hope that helps,<br>
<p>
Kevin<br>
<pre>
-- 
Kevin Charter                        /\                      Grad Studies
<a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a>            /\/  \  Department of Computing Science
<a href="http://web.cs.ualberta.ca/~charter">http://web.cs.ualberta.ca/~charter</a>  \   --------    University of Alberta
	       		             --------------    Edmonton AB CANADA
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0018.html">Matto Marjanovic: "Re: SANE and Sparc (and Microtek)"</a>
<li> <b>Previous message:</b> <a href="0016.html">Ricardo Muggli: "Agfa Horizon"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0024.html">Rogier Wolff: "Re: Agfa Horizon"</a>
<li> <b>Reply:</b> <a href="0024.html">Rogier Wolff: "Re: Agfa Horizon"</a>
<!-- reply="end" -->
</ul>
