<!-- received="Wed Feb  4 20:21:29 1998 PST" -->
<!-- sent="Wed, 4 Feb 1998 20:21:27 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: MUSTEK 1200SP" -->
<!-- id="199802050421.UAA03932@panda.mostang.com" -->
<!-- inreplyto="34D90C80.B16EF120@dial.eunet.ch" -->
<title>sane-devel: Re: MUSTEK 1200SP</title>
<h1>Re: MUSTEK 1200SP</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 4 Feb 1998 20:21:27 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#21">[ date ]</a><a href="index.html#21">[ thread ]</a><a href="subject.html#21">[ subject ]</a><a href="author.html#21">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0022.html">David Mosberger-Tang: "Re: Sane 0.69"</a>
<li> <b>Previous message:</b> <a href="0020.html">Itai Nahshon: "Sane 0.69"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 05 Feb 1998 01:49:04 +0100, Wolfgang Goeller &lt;<a href="mailto:wgoeller@dial.eunet.ch">wgoeller@dial.eunet.ch</a>&gt; said:</i><br>
<p>
  Wolfgang&gt; Hello I've got a minor Problem with my Mustek-1200-SP<br>
  Wolfgang&gt; scanner: It doesn't report its correct identity, but<br>
  Wolfgang&gt; instead it reports (from /var/log/boot.msg) Vendor:<br>
  Wolfgang&gt; SCANNER Model: Rev: 1.05 &lt;4&gt; Type: Scanner ANSI SCSI<br>
  Wolfgang&gt; revision: 01 CCS find-scanner reports: SCANNER 1.05" at<br>
  Wolfgang&gt; device /dev/scanner (two blanks between ´SCANNER' and<br>
  Wolfgang&gt; '1.05') If I have a larger string-input, it reports:<br>
  Wolfgang&gt; SCANNER 1.05MUSTEK MFS-12000SP<br>
<p>
This is not unusual for Mustek scanners.  The backend _should_<br>
recognize the scanner nevertheless.  To make sure the scanner<br>
is recognized properly, invoke scanimage with SANE_DEBUG_MUSTEK set<br>
to 1.  E.g.:<br>
<p>
   SANE_DEBUG_MUSTEK=1 scanimage -L<br>
<p>
You should see something of the form:<br>
<p>
 device `mustek:/dev/scanner' is a Mustek MFC-06000CZ flatbed scanner<br>
<p>
  Wolfgang&gt; As a logical consequence<br>
  Wolfgang&gt; using the scanner for copying will drop some lines - this<br>
  Wolfgang&gt; seems to be a weakness of Mustek.  By the way: I've bought<br>
  Wolfgang&gt; the scanner from our biggest distributor ( VOBIS ) - they<br>
  Wolfgang&gt; seem to get a special version.<br>
<p>
  Wolfgang&gt; How can I get full advantage of my scanner?<br>
<p>
There are some known issues with the MFS-1200SP (at least as far as<br>
color scanning is concerned).  IIRC, turning on backtracking fixed the<br>
problems for some people.  However, it would be better if somebody<br>
could track this down and fix it.  Unfortunately, so far nobody has<br>
come forward and volunteered to do this.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0022.html">David Mosberger-Tang: "Re: Sane 0.69"</a>
<li> <b>Previous message:</b> <a href="0020.html">Itai Nahshon: "Sane 0.69"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
