<!-- received="Sat Feb  7 13:40:37 1998 PST" -->
<!-- sent="Sat, 7 Feb 1998 22:42:23 +0100 (CET)" -->
<!-- name="Benedikt Eric Heinen" -->
<!-- email="beh@icemark.ch" -->
<!-- subject="Re: Problems after installing 0.70" -->
<!-- id="" -->
<!-- inreplyto="199802022059.PAA25735@prospero.dma.isg.mot.com" -->
<title>sane-devel: Re: Problems after installing 0.70</title>
<h1>Re: Problems after installing 0.70</h1>
<b>Benedikt Eric Heinen</b> (<a href="mailto:beh@icemark.ch"><i>beh@icemark.ch</i></a>)<br>
<i>Sat, 7 Feb 1998 22:42:23 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#28">[ date ]</a><a href="index.html#28">[ thread ]</a><a href="subject.html#28">[ subject ]</a><a href="author.html#28">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0029.html">Benedikt Eric Heinen: "sane-0.70: net-backend?"</a>
<li> <b>Previous message:</b> <a href="0027.html">=?iso-8859-1?Q?Klaus_W=F6lfel?=: "REMOVE"</a>
<li> <b>In reply to:</b> <a href="0012.html">Christoph Doerbeck: "Problems after installing 0.70"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Same problems as described earlier, slightly different hardware:<br>
<p>
<p>
<i>&gt; Hardware:</i><br>
<i>&gt;   Intel Pent 100MHz,   Mustek 600 II CD,   Adaptec 1542C</i><br>
<p>
Intel Dual-PentiumPro 150, Umax Astra 1200S, BusLogic BT946C<br>
<p>
<p>
<i>&gt; Version Info:</i><br>
<i>&gt;   RedHat 4.2 (custom kernel 2.0.30),  sane-0.70,  gimp-0.99.11</i><br>
<p>
Debian 1.3.1 (custom kernel 2.0.30), sane-0.70, gimp-0.99.18<br>
<p>
<p>
<p>
<p>
<p>
Ideas anyone?<br>
<p>
<p>
  Benedikt<br>
<p>
<p>
Windows 95: n.<br>
    32-bit extensions and a graphical shell for a 16-bit patch to an 8-bit<br>
    operating system originally coded for a 4-bit microprocessor,  written<br>
         by a 2-bit company that can't stand for 1 bit of competition.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0029.html">Benedikt Eric Heinen: "sane-0.70: net-backend?"</a>
<li> <b>Previous message:</b> <a href="0027.html">=?iso-8859-1?Q?Klaus_W=F6lfel?=: "REMOVE"</a>
<li> <b>In reply to:</b> <a href="0012.html">Christoph Doerbeck: "Problems after installing 0.70"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
