<!-- received="Mon Feb  9 13:11:49 1998 PST" -->
<!-- sent="Mon, 9 Feb 1998 22:13:43 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Astra 6X0S colormode" -->
<!-- id="199802092113.WAA02193@Babylon5.wolfsburg.de" -->
<!-- inreplyto="34DF4BD4.4083E560@usa.net" -->
<title>sane-devel: Re: Astra 6X0S colormode</title>
<h1>Re: Astra 6X0S colormode</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Mon, 9 Feb 1998 22:13:43 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#46">[ date ]</a><a href="index.html#46">[ thread ]</a><a href="subject.html#46">[ subject ]</a><a href="author.html#46">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Kevin Cozens: "Re: sane-0.70 RPMS won't work properly with gtk 0.99.3"</a>
<li> <b>Previous message:</b> <a href="0045.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S colormode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Nicolas,<br>
<p>
<i>&gt; The new patch seems to work for Astra 610S too ! </i><br>
Thanks for that info!<br>
<p>
<i>&gt; - The scan area apparently miss ~1 cm on the left side of the picture.</i><br>
<i>&gt; (That is, the offset from left margin is ~1 cm greater than requested).</i><br>
<i>&gt; No trouble with the top margin, nor with image width / height. If</i><br>
<i>&gt; scanning the full width, the right margin end with a grey area, ~30-35</i><br>
<i>&gt; pixel large, that look like the physical border of the scanner :-). This</i><br>
<i>&gt; problem exists both in grey and color mode.</i><br>
That is very strange! Did you have this problem in other sane-versions?<br>
<p>
<i>&gt; - The PNM files produced by [x]scanimage miss some data at the end. For</i><br>
<i>&gt; a 1299x1889 image, the file is 7330294 long, instead of 7361470</i><br>
<i>&gt; (1299x1889x3+37 bytes of header). For a 330x586 image, the file is</i><br>
<i>&gt; 572255 long, instead of 580175 (330x586x3+35 bytes of header). In both</i><br>
<i>&gt; cases, we miss 8 whole lines of data. This problem exists only in color</i><br>
<i>&gt; mode.</i><br>
This should be solved in the new version on my homepage!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Kevin Cozens: "Re: sane-0.70 RPMS won't work properly with gtk 0.99.3"</a>
<li> <b>Previous message:</b> <a href="0045.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S colormode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
