<!-- received="Mon Feb  9 22:08:57 1998 PST" -->
<!-- sent="Mon, 9 Feb 1998 22:08:56 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: sane-0.70: net-backend?" -->
<!-- id="199802100608.WAA25245@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.3.96.980208104006.10813A-100000@fenun.icemark.ch" -->
<title>sane-devel: Re: sane-0.70: net-backend?</title>
<h1>Re: sane-0.70: net-backend?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 9 Feb 1998 22:08:56 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#48">[ date ]</a><a href="index.html#48">[ thread ]</a><a href="subject.html#48">[ subject ]</a><a href="author.html#48">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S colormode"</a>
<li> <b>Previous message:</b> <a href="0047.html">Kevin Cozens: "Re: sane-0.70 RPMS won't work properly with gtk 0.99.3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 8 Feb 1998 10:52:42 +0100 (CET), Benedikt Eric Heinen &lt;<a href="mailto:beh@icemark.ch">beh@icemark.ch</a>&gt; said:</i><br>
<p>
  Benedikt&gt; Starting saned as root with '-d 99' gave the following<br>
  Benedikt&gt; error message in /var/adm/daemon.log:<br>
<p>
Note: it's '-d99' not '-d 99'.  The blank must NOT be there.<br>
<p>
  Benedikt&gt; Feb 8 11:33:17 varenorn saned[7913]: failed to put socket<br>
  Benedikt&gt; in TCP_NODELAY mode (Socket operation on non-socket)<br>
<p>
This is normal when invoking saned from the command line and<br>
completely harmless.<br>
<p>
  Benedikt&gt; Starting 'scanimage -L' doesn't do anything...<br>
<p>
Read the sane-net man-page.  Set environment variable SANE_NET_DEBUG<br>
to a large value (say 128) and you should see what it's doing when<br>
invoking "scanimage -L".<br>
<p>
  Benedikt&gt; dll.conf on fenun:<br>
<p>
Looks good.<br>
<p>
  Benedikt&gt; dll.conf on varenorn:<br>
<p>
You shouldn't mention mention "net" on the server.  But as long as umax<br>
is listed, you should be fine.<br>
<p>
  Benedikt&gt; saned.conf on varenorn:<br>
<p>
  Benedikt&gt; 	fenun.icemark.ch<br>
<p>
Looks good.<br>
<p>
  Benedikt&gt; net.conf on fenun:<br>
<p>
Ditto.<br>
<p>
  Benedikt&gt; /dev/scanner on varenorn points to /dev/sge, which is the<br>
  Benedikt&gt; Umax Astra 1200S.<br>
<p>
What's more interesting: does "scanimage -L" on varenorn show the<br>
scanner?  If not, there'd be no surprise that you wouldn't see the<br>
scanner on the client machine.<br>
<p>
<i>  &gt;&gt; 2) you didn't mention inetd.conf.  Be sure to set it up as well</i><br>
<i>  &gt;&gt; (see saned(1)).</i><br>
<p>
  Benedikt&gt; I didn't set it up there at first... :( I think it might<br>
  Benedikt&gt; be a good idea at least hinting to inetd.conf in<br>
  Benedikt&gt; sane-net.1 (or at least contain a SEE ALSO to saned(1))...<br>
<p>
Umh, this is something you need for saned.  To quote from the saned(1)<br>
man page:<br>
<p>
       For  saned to work properly, it is also necessary to add a<br>
       configuration line to /etc/inetd.conf.  The  configuration<br>
       line normally looks like this:<br>
<p>
          sane stream tcp nowait saned.saned /usr/local/sbin/saned saned<br>
<p>
It's not my fault if you don't read the man page carefully.<br>
<p>
<i>  &gt;&gt; This way, debug messages will appear in your syslog</i><br>
<i>  &gt;&gt; (/var/adm/messages, typically).</i><br>
<p>
  Benedikt&gt; The only problem I saw in /var/adm/daemon.log (nothing in<br>
  Benedikt&gt; /var/adm/messages) was the "TCP_NODELAY" line mentioned<br>
  Benedikt&gt; earlier...<br>
<p>
Try with '-d99' instead of '-d 99' and (on the client-side), with<br>
SANE_NET_DEBUG set to 128.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S colormode"</a>
<li> <b>Previous message:</b> <a href="0047.html">Kevin Cozens: "Re: sane-0.70 RPMS won't work properly with gtk 0.99.3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
