<!-- received="Thu Feb 12 12:15:20 1998 PST" -->
<!-- sent="Thu, 12 Feb 1998 21:20:58 +0100 (CET)" -->
<!-- name="Hans Christian Saustrup" -->
<!-- email="neurox@nisse.dk" -->
<!-- subject="Re: Mustek 1200SP" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.95.980213004820.5696A-100000@saturn.testers.net.au" -->
<title>sane-devel: Re: Mustek 1200SP</title>
<h1>Re: Mustek 1200SP</h1>
<b>Hans Christian Saustrup</b> (<a href="mailto:neurox@nisse.dk"><i>neurox@nisse.dk</i></a>)<br>
<i>Thu, 12 Feb 1998 21:20:58 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#68">[ date ]</a><a href="index.html#68">[ thread ]</a><a href="subject.html#68">[ subject ]</a><a href="author.html#68">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0069.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0067.html">tim drummer: "sane and gimp"</a>
<li> <b>In reply to:</b> <a href="0066.html">Ian Tester: "Re: Mustek 1200SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 13 Feb 1998, Ian Tester wrote:<br>
<p>
<i>&gt; man sane-scsi</i><br>
<p>
Thanks! :) I changes the setting, but the scanner still scans 'jerky' when<br>
doing colors (the b/w preview works fine). After this, I checked the<br>
manpage for sane-mustek:<br>
<p>
     Model:      Product id:    Firmware revision: Type:<br>
     ----------- ----------- ------------------ -----<br>
     MFS-1200SP  MSF-12000SP v1.00 (and higher) 1-pass<br>
 --&gt; MFS-1200SP  MFS-12000SP v1.02 [color fails?] 1-pass<br>
     MFS-12000CX MFS-12000CX v2.71 (and higher) 3-pass<br>
<p>
.. and compared with the output from /proc/scsi/scsi,<br>
<p>
 Host: scsi0 Channel: 00 Id: 06 Lun: 00<br>
   Vendor: SCANNER  Model:         Rev: 1.02 &lt;--<br>
   Type:   Scanner                 ANSI SCSI revision: 01 CCS<br>
<p>
.. and then depression sat in..<br>
<p>
I tried to scan a preview with xscanimage, selected a region for a 300dpi,<br>
color scan. The scanner made the usual jerky sound, and the picture came<br>
out with horizontal lines, and a kind of bluish/greenish gray picture.<br>
Believe me - it was an experience. Browsing thru the manpage again, I<br>
found this entry, discussing the linedistance-fix option and it seemed<br>
like this was the thing I needed.<br>
<p>
       matters!  Option linedistance-fix is positional and  works<br>
       around  a  problem  that occurs with some SCSI controllers<br>
       (notably the ncr810 controller  under  Linux).   If  color<br>
 --&gt;   scans  have  horizontal stripes and/or the colors are off,<br>
       then it's likely that your controller  suffers  from  this<br>
       problem.   Turning  on this option usually fixes the prob-<br>
       lem.<br>
<p>
.. my /etc/sane.d/mustek.conf file contained this:<br>
<p>
/dev/scanner<br>
  option linedistance-fix<br>
  option lineart-fix            # lineart may be faster with this o<br>
<p>
.. so things should be working, eh? Except... they don't.. :-/<br>
<p>
*sniff*<br>
<p>
kind regards,<br>
Hans Christian [Denmark]<br>
<p>
<pre>
---
  Hans Christian Saustrup / Neurox [infinity]
  Linux Wizard Apprentice, net-a-holic and freelance programmer
  PGP key and insulting remarks on request.
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0069.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0067.html">tim drummer: "sane and gimp"</a>
<li> <b>In reply to:</b> <a href="0066.html">Ian Tester: "Re: Mustek 1200SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
