<!-- received="Thu Feb 12 15:53:24 1998 PST" -->
<!-- sent="Fri, 13 Feb 1998 00:59:06 +0100 (CET)" -->
<!-- name="Hans Christian Saustrup" -->
<!-- email="neurox@nisse.dk" -->
<!-- subject="RE: Mustek 1200SP - eprom rip?" -->
<!-- id="" -->
<!-- inreplyto="01BD3811.EECB1CD0.yves.huguenin@urbanet.ch" -->
<title>sane-devel: RE: Mustek 1200SP - eprom rip?</title>
<h1>RE: Mustek 1200SP - eprom rip?</h1>
<b>Hans Christian Saustrup</b> (<a href="mailto:neurox@nisse.dk"><i>neurox@nisse.dk</i></a>)<br>
<i>Fri, 13 Feb 1998 00:59:06 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#74">[ date ]</a><a href="index.html#74">[ thread ]</a><a href="subject.html#74">[ subject ]</a><a href="author.html#74">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0073.html">Yuri Dario: "Epson Gt-5500"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 12 Feb 1998, Yves Huguenin wrote:<br>
<p>
<i>&gt; I think  I had a version 1.0 of the firmware of a 12000SP (my scanner),</i><br>
<i>&gt; if it is on an Eprom, I can read it and mail it to you, if you want.</i><br>
<i>&gt; (so you can burnt a "new" rom.)</i><br>
<i>&gt; Thor</i><br>
<p>
It's a great idea, but please check the epromtype first; my eprom burner<br>
only handles certain types. Theoreticly copying firmware is against the<br>
law, but since we got the hardware, and we're doing 'research' I guess<br>
it's ok.. just to be on the safe side ;))<br>
<p>
<pre>
---
  Hans Christian Saustrup / Neurox [infinity]
  Linux Wizard Apprentice, net-a-holic and freelance programmer
  PGP key and insulting remarks on request.
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0073.html">Yuri Dario: "Epson Gt-5500"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
