<!-- received="Fri Feb 13 00:28:02 1998 PST" -->
<!-- sent="Fri, 13 Feb 1998 09:27:24 +0100" -->
<!-- name="Yves Huguenin" -->
<!-- email="yves.huguenin@urbanet.ch" -->
<!-- subject="RE: Mustek ScanExpress 12000SP" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: RE: Mustek ScanExpress 12000SP</title>
<h1>RE: Mustek ScanExpress 12000SP</h1>
<b>Yves Huguenin</b> (<a href="mailto:yves.huguenin@urbanet.ch"><i>yves.huguenin@urbanet.ch</i></a>)<br>
<i>Fri, 13 Feb 1998 09:27:24 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#80">[ date ]</a><a href="index.html#80">[ thread ]</a><a href="subject.html#80">[ subject ]</a><a href="author.html#80">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Rogier Wolff: "Re: Mustek ScanExpress 12000SP"</a>
<li> <b>Previous message:</b> <a href="0079.html">Yves Huguenin: "RE: Mustek 1200SP - eprom rip?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
There is the same problem on an Amiga  progarm (skantek) wich say<br>
that y don't have enoght memory (96 Mb) to get even the preview. I think<br>
microtek begin to use the standard scsi code for scanning. I can get the <br>
head to scan but i can read datas actualy when playing with scsi commands.<br>
<p>
Thor<br>
<p>
<p>
-----Original Message-----<br>
From:	<a href="mailto:cschirme@fbgeo1.tuwien.ac.at">cschirme@fbgeo1.tuwien.ac.at</a> [SMTP:cschirme@fbgeo1.tuwien.ac.at]<br>
Sent:	Friday, February 13, 1998 07:57<br>
To:	<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a><br>
Subject:	Mustek ScanExpress 12000SP<br>
<p>
Hi !<br>
<p>
I ' ve recently bought bought a Mustek ScanEpxress 12000SP, because I thought<br>
it would be compatble to the 1200SP. (1200x600, 30bit, SCSI) Bad mistake.<br>
The kernel and ./find-scanner report it as "SCANNER  Rev.1.01", but the backend<br>
does not recognize it.<br>
So tried to 'strcpy' a couple of scanners (MFS-12000SP, CX, ...).<br>
With SANE_DEBUG_MUSTEK=128, I can see that the connection to the scanner is<br>
established, but it quits scanning immediately. (Not even one line, Out of memory,<br>
 0 bytes read).<br>
SCSI-Buffers is increased from 32k to 128k. Kernel &amp; Sane recompiled.<br>
It seems that the scanner tries to read several lines to the SCSI buffer and quits, <br>
when this buffer is full.<br>
Is there a chance make the scanner work?<br>
<p>
Thanx for your help.<br>
<p>
Chris (<a href="mailto:cschirme@oeai.univie.ac.at">cschirme@oeai.univie.ac.at</a>)<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">Rogier Wolff: "Re: Mustek ScanExpress 12000SP"</a>
<li> <b>Previous message:</b> <a href="0079.html">Yves Huguenin: "RE: Mustek 1200SP - eprom rip?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
