<!-- received="Thu Feb 19 07:14:30 1998 PST" -->
<!-- sent="Thu, 19 Feb 1998 10:14:16 -0500 (EST)" -->
<!-- name="Tom Evans" -->
<!-- email="tjevans@evans.raleigh.ibm.com" -->
<!-- subject="microtek E6/xscanimage problems" -->
<!-- id="199802191514.KAA17622@evans.raleigh.ibm.com" -->
<!-- inreplyto="" -->
<title>sane-devel: microtek E6/xscanimage problems</title>
<h1>microtek E6/xscanimage problems</h1>
<b>Tom Evans</b> (<a href="mailto:tjevans@evans.raleigh.ibm.com"><i>tjevans@evans.raleigh.ibm.com</i></a>)<br>
<i>Thu, 19 Feb 1998 10:14:16 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#109">[ date ]</a><a href="index.html#109">[ thread ]</a><a href="subject.html#109">[ subject ]</a><a href="author.html#109">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">G. Douglas Davidson: "IRIX 6.3 Problem"</a>
<li> <b>Previous message:</b> <a href="0108.html">Desync: "mustek flatbed scanenrs"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0146.html">David Mosberger-Tang: "Re: microtek E6/xscanimage problems"</a>
<li> <b>Reply:</b> <a href="0146.html">David Mosberger-Tang: "Re: microtek E6/xscanimage problems"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have a microtek scanner, E6, tried latest sane after reading Linux <br>
journal article.<br>
The scanning starts the calibration, gives no obivious errors,<br>
output is:<br>
P6<br>
# SANE data follows<br>
2 0<br>
255<br>
<p>
trying xscanimage :<br>
** ERROR **: an x io error occurred<br>
IOT trap/Abort (core dumped)<br>
<p>
system: redhat 4.2, gtk 99.3, sane 0.70, mtekscan works, of course I<br>
don't get nice GUI! I did have to fix mtekscan not to compare on the<br>
vender-id, since for some reason the E6 returns blanks. <br>
<pre>
-- 
Tom Evans   <a href="mailto:tjevans@raleigh.ibm.com">tjevans@raleigh.ibm.com</a>
All disclaimers apply...
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">G. Douglas Davidson: "IRIX 6.3 Problem"</a>
<li> <b>Previous message:</b> <a href="0108.html">Desync: "mustek flatbed scanenrs"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0146.html">David Mosberger-Tang: "Re: microtek E6/xscanimage problems"</a>
<li> <b>Reply:</b> <a href="0146.html">David Mosberger-Tang: "Re: microtek E6/xscanimage problems"</a>
<!-- reply="end" -->
</ul>
