<!-- received="Thu Feb 19 09:14:41 1998 PST" -->
<!-- sent="Thu, 19 Feb 1998 14:14:58 -0500" -->
<!-- name="G. Douglas Davidson" -->
<!-- email="douglas@city-net.com" -->
<!-- subject="IRIX 6.3 Problem" -->
<!-- id="9802191414.ZM12390@spridle.city-net.com" -->
<!-- inreplyto="" -->
<title>sane-devel: IRIX 6.3 Problem</title>
<h1>IRIX 6.3 Problem</h1>
<b>G. Douglas Davidson</b> (<a href="mailto:douglas@city-net.com"><i>douglas@city-net.com</i></a>)<br>
<i>Thu, 19 Feb 1998 14:14:58 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#110">[ date ]</a><a href="index.html#110">[ thread ]</a><a href="subject.html#110">[ subject ]</a><a href="author.html#110">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">becka@rz.uni-duesseldorf.de: "Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way"</a>
<li> <b>Previous message:</b> <a href="0109.html">Tom Evans: "microtek E6/xscanimage problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I am having trouble getting sane-0.70 to work properly with my Microtek E6.<br>
 Things compile basically ok.  The scanner is found via find-scanner.<br>
<p>
scsicontrol shows this:<br>
<p>
spridle 16# scsicontrol -i /dev/scanner<br>
/dev/scanner:  Scanner               Scanner 600     1.90<br>
ANSI vers 3, ISO ver: 0, ECMA ver: 2; inquiry format is CCS<br>
Device is  ready<br>
<p>
Once I run either xscanimage or scanimage, the scanner goes out of ready mode<br>
and sit there.  It is not responsive again until it is turned off and on.  I<br>
have attached some of the debugging output.  Any help would be appreciated.<br>
<p>
Thanks!<br>
<p>
<p>
Turning on MICROTEK debugging shows the following (I have edited out some of<br>
the "get option descriptor" debugging):<br>
<p>
spridle 17# xscanimage microtek:/dev/scanner<br>
[sanei_init_debug]: Setting debug level of microtek to 128.<br>
sane_init:  MICROTEK says hello! (v0.4)<br>
sanei_config_open: attempting to open `./microtek.conf'<br>
sanei_config_open: attempting to open `/usr/local/etc/sane.d/microtek.conf'<br>
sanei_config_open: using file `/usr/local/etc/sane.d/microtek.conf'<br>
sane_init:  config- #Uncomment the following if you are tired of seeing the<br>
dump of the<br>
sane_init:  config- # scanner INQUIRY every time the backend starts up...<br>
sane_init:  config- #nodump<br>
sane_init:  config- /dev/scanner<br>
attach_scanner:  /dev/scanner<br>
attach_scanner:  opening /dev/scanner<br>
attach_scanner:  sending INQUIRY<br>
id_microtek...<br>
parse_inquiry...<br>
dump_inquiry...<br>
========== Scanner Inquiry Block ==========<br>
06 31 13 01 5b 16 00 00 20 20 20 20 20 20 20 20<br>
53 63 61 6e 6e 65 72 20 36 30 30 20 20 20 20 20<br>
31 2e 39 30 53 43 53 49 20 46 2f 57 56 33 2e 34<br>
20 43 54 4c 35 33 38 30 03 4f 8c c5 03 ee 66 03<br>
00 03 01 00 00 03 00 01 0e 0e 01 05 00 00 00 00<br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 ff<br>
<p>
========== Scanner Inquiry Report ==========<br>
===== Scanner ID...<br>
Device Type Code: 0x06<br>
Model Code: 0x66<br>
Vendor Name: '        '   Model Name: 'Scanner 600     '<br>
Firmware Rev: '1.90'<br>
SCSI F/W version: 3.1     Scanner F/W version: 1.3<br>
Response data format: 0x01<br>
===== Imaging Capabilities...<br>
Modes:  Lineart Halftone Gray Color (OnePass)<br>
Resolution Step Sizes: 1% 5%    Expanded Resolution Support? yes(but says no)<br>
Supported Bits Per Sample: 4 8<br>
Max. document size code: 0x03<br>
Max. document size:  8.500000 x 13.000000 inches<br>
Frame units:  pixels  1/8"'s<br>
# of built-in halftones: 12   Downloadable patterns? Yes<br>
Data Compression:<br>
Contrast Settings: 14   Exposure Settings: 14<br>
Adjustable Shadow/Highlight? yes   Adjustable Midtone? yes<br>
Digital brightness/offset? yes<br>
Gamma Table Size: 256 entries of 1 bytes (max. value: 255)<br>
===== Source Options...<br>
Feed type:  flatbed    ADF support? yes<br>
Document Feeder Support? yes   Feeder Backtracking? yes<br>
Feeder Installed? no           Feeder Ready? no<br>
Transparency Adapter Installed? no<br>
Fast Color Prescan? no<br>
Selectable Transfer Format? no<br>
Color Transfer Sequence: line-by-line, non-sequential with headers<br>
Three pass scan support? no<br>
ModeSelect-1 and ModeSense-1 Support? yes<br>
Can Disable Linearization Table? no<br>
Can Disable Start-of-Scan Recalibration? yes<br>
<p>
<p>
attach_scanner:  happy.<br>
sane_init:  config-<br>
sane_open<br>
sane_open:  gonna init opts:  init_options...<br>
init_options:  quant yes<br>
init_options:  done.<br>
control_option(handle=1002a390,option=0,action=0,value=7fff2e64,info=0)<br>
sane_control_option (opt=0,act=0,val=7fff2e64,info=0)<br>
get_option_descriptor(handle=1002a390,option=1)<br>
sane_get_option_descriptor (1)...<br>
get_option_descriptor(handle=1002a390,option=2)<br>
<p>
{ cut }<br>
<p>
sane_get_option_descriptor (33)...<br>
get_parameters(handle=1002a390,params=7fff2e50)<br>
sane_get_parameters...<br>
sane_get_parameters:  res_code = 16 (10)<br>
sane_get_parameters:  dots_per_mm:  3.937008<br>
sane_get_parameters:  units_per_mm:  23.622047<br>
sane_get_parameters:  lines:  0<br>
get_option_descriptor(handle=1002a390,option=1)<br>
sane_get_option_descriptor (1)...<br>
<p>
{ cut }<br>
<p>
get_option_descriptor(handle=1002a390,option=33)<br>
sane_get_option_descriptor (33)...<br>
get_option_descriptor(handle=1002a390,option=0)<br>
sane_get_option_descriptor (0)...<br>
get_option_descriptor(handle=1002a390,option=1)<br>
sane_get_option_descriptor (1)...<br>
<p>
{ cut }<br>
<p>
get_option_descriptor(handle=1002a390,option=33)<br>
sane_get_option_descriptor (33)...<br>
start(handle=1002a390)<br>
sane_start...<br>
sane_get_parameters...<br>
sane_get_parameters:  res_code = 16 (10)<br>
sane_get_parameters:  dots_per_mm:  3.937008<br>
sane_get_parameters:  units_per_mm:  23.622047<br>
sane_get_parameters:  lines:  0<br>
.wait_ready 5...<br>
.mode_select_1 5...<br>
.mode_sense_1...<br>
.accessory...<br>
.mode_sense 5...<br>
.scanning_frame 5...<br>
.scanning_frame:  in- 0,0  0,0<br>
.scanning_frame: out- 0,0  0,0<br>
.download_gamma...<br>
.mode_select 5...<br>
.mode_select:  pap_len: 7800<br>
.mode_sense 5...<br>
.wait_ready 5...<br>
.start_scan...<br>
.wait_ready 5...<br>
wait_ready failed (0)<br>
wait_ready failed (1)<br>
wait_ready failed (2)<br>
wait_ready failed (3)<br>
wait_ready failed (4)<br>
wait_ready failed (5)<br>
wait_ready failed (6)<br>
<p>
<pre>
-- 
-----
G Douglas Davidson                      | CityNet, Inc.
<a href="mailto:douglas@city-net.com">douglas@city-net.com</a>                    | Pittsburgh, PA
voice: 412.481.5406			| fax: 412.431.1315
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">becka@rz.uni-duesseldorf.de: "Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way"</a>
<li> <b>Previous message:</b> <a href="0109.html">Tom Evans: "microtek E6/xscanimage problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
