<!-- received="Sun Feb 22 14:40:03 1998 PST" -->
<!-- sent="Mon, 23 Feb 1998 00:43:36 +0100 (MET)" -->
<!-- name="Thomas Wenzke" -->
<!-- email="thomas@twenzke.nacamar.de" -->
<!-- subject="sane mustek mfs-12000sp rev. 1.07" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane mustek mfs-12000sp rev. 1.07</title>
<h1>sane mustek mfs-12000sp rev. 1.07</h1>
<b>Thomas Wenzke</b> (<a href="mailto:thomas@twenzke.nacamar.de"><i>thomas@twenzke.nacamar.de</i></a>)<br>
<i>Mon, 23 Feb 1998 00:43:36 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#129">[ date ]</a><a href="index.html#129">[ thread ]</a><a href="subject.html#129">[ subject ]</a><a href="author.html#129">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">Kaz Sasayama: "Re: Epson GT-5500"</a>
<li> <b>Previous message:</b> <a href="0128.html">Pkirchg@aol.com: "someone working on hp-backend ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sorry forgot the mail-subject in previous mail<br>
<p>
-------------------------------------------------------------<br>
<p>
Hello<br>
<p>
I have a Mustek Paragon 1200 SP since last week and try it<br>
on my Linux-i386.<br>
It's an old Pentium-133 with EIDE-Disk, SCSI-CDROM and<br>
SCSI-Tandberg-Tape.<br>
There is a NCR-810 Symbios-Controller and a NE-2000 in the Box.<br>
This works well all the days.<br>
<p>
I disabled all the SCSI2-Goodies, like disconnect, tagged command<br>
queueing, synchronous transfers and applied the timeout-patch<br>
in the driver.<br>
<p>
The Scanner-Type is<br>
     MFS-12000SP<br>
<p>
The Firmware-Revisiontest tells<br>
     Rev. 1.07<br>
(and I think that's my problem ((8-( )<br>
<p>
Scanning with the default-resolution works fine - i think.<br>
But altering the resolution to more than 35 dpi results in horizontal<br>
stripes and color-shift away from red in direction green and blue and<br>
grayish colors.<br>
<p>
My /usr/local/etc/sane.d/mustek.conf contains<br>
strip-height 1.5  # several values tested from absent to 5.0<br>
/dev/scanner<br>
linedistance-fix  # eliminates horizontal strips in default resolution<br>
lineart-fix       # no effect in color-mode (i think)<br>
<p>
<p>
<p>
After some tricky testing with flag MUSTEK_FLAG_LD_MFS<br>
(makes more weird colors and stripes)<br>
with sane-0.70 and sane-0.67 - i recognize that flag MUSTEK_FLAG_LD_MFS<br>
has also a positive effect.<br>
without this flag my syslog says at start of a scan :<br>
<p>
Feb 22 02:19:12 twenzke1 kernel: ncr53c810-0-&lt;target 5, lun 0&gt;:<br>
extraneous data discarded.<br>
Feb 22 02:19:12 twenzke1 kernel: ncr53c810-0-&lt;target 5, lun 0&gt;:<br>
COMMAND FAILED (9 0) @00ffe810.<br>
<p>
further more - without that flag in the original source-versions<br>
i see always the same initial line-distance-factor of 235 over all<br>
resolutions (and i feel serious).<br>
Unfortunatly i am new with scanners (it's my first one).<br>
<p>
So i recompile the original source-version of sane-0.67 for debugging.<br>
<p>
i think the scanner-command that leeds to this syslog-messages is<br>
distance[] = 17 0 0 0 5 0<br>
<p>
<p>
my gdb traceback follows :<br>
<p>
#0  sanei_scsi_req_wait (id=0x8072760) at sanei_scsi.c:595<br>
#1  0x80653d6 in sanei_scsi_cmd (fd=11, src=0x806a30a,<br>
                                 src_size=6, dst=0xbfff7614,<br>
                                 dst_size=0xbfff7608)<br>
    at sanei_scsi.c:678<br>
#2  0x8054811 in dev_cmd (s=0x80925f0, src=0x806a30a, src_size=6,<br>
                          dst=0xbfff7614, dst_size=0xbfff7608)<br>
    at mustek.c:324<br>
#3  0x8055bbc in line_distance (s=0x80925f0)<br>
    at mustek.c:1048<br>
<p>
<p>
after line 594 in sanei_scsi.c :<br>
<p>
issue (req);                  /* ensure the command is running */<br>
<p>
the syslog-messages happens.<br>
<p>
after that i'm looking for req :<br>
<p>
(gdb) p *req<br>
$45 = {fd = 11, running = 1, done = 0, status = SANE_STATUS_GOOD,<br>
       dst_len = 0xbfff7608, dst = 0xbfff7614,<br>
       cdb = {hdr = {pack_len = 42, reply_len = 41, pack_id = 9,<br>
                     result = 0, twelve_byte = 0, other_flags = 0,<br>
                     sense_buffer = '\000' &lt;repeats 15 times&gt;},<br>
                    data = "\021\000\000\000\005\000\000\000\000\005<br>
                            \002\000\000\000\000\000d\000",<br>
                           ' ' &lt;repeats 13 times&gt;,<br>
                           "1.07MUSTEK  MFS-12000SP<br>
                            \000\001\000\000\000\001\003\001\001",<br>
                           '\000' &lt;repeats 27 times&gt;, "",<br>
                           '\000' &lt;repeats 130463 times&gt;},<br>
              next = 0x0}<br>
<p>
<p>
the toplevel-function dev_cmd() in line_distance returns<br>
SANE_STATUS_GOOD<br>
result_len = 5<br>
result is always 235 0 0 0 5<br>
<p>
<p>
Is this a new (wonderful) firmware-revision from mustek ?<br>
<p>
What can i do ?  Please help !<br>
<p>
<p>
best regards<br>
<p>
Thomas Wenzke<br>
<p>
PS: If you reply, you can send a CC to my office.<br>
    The EMail-Adress is   <a href="mailto:wenzke@nacamar.net">wenzke@nacamar.net</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">Kaz Sasayama: "Re: Epson GT-5500"</a>
<li> <b>Previous message:</b> <a href="0128.html">Pkirchg@aol.com: "someone working on hp-backend ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
