<!-- received="Mon Feb 23 13:04:01 1998 PST" -->
<!-- sent="Mon, 23 Feb 1998 16:03:36 -0500" -->
<!-- name="David Skoll" -->
<!-- email="dskoll@chipworks.com" -->
<!-- subject="Beta back-end for Polaroid DMC (Digital Microscope Camera)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Beta back-end for Polaroid DMC (Digital Microscope Camera)</title>
<h1>Beta back-end for Polaroid DMC (Digital Microscope Camera)</h1>
<b>David Skoll</b> (<a href="mailto:dskoll@chipworks.com"><i>dskoll@chipworks.com</i></a>)<br>
<i>Mon, 23 Feb 1998 16:03:36 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#137">[ date ]</a><a href="index.html#137">[ thread ]</a><a href="subject.html#137">[ subject ]</a><a href="author.html#137">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<li> <b>Previous message:</b> <a href="0136.html">Martin Huber: "Re: someone working on hp-backend ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I have a beta back-end for the Polaroid Digital Microscope Camera.  You<br>
can get it from<br>
<a href="ftp://ftp.doe.carleton.ca/pub/dfs/dmc.tar.gz">ftp://ftp.doe.carleton.ca/pub/dfs/dmc.tar.gz</a>.  I have tested it only<br>
under Linux 2.0.33 with an<br>
Adaptec SCSI adapter which came with the camera.<br>
<p>
There's information about the camera at<br>
<a href="http://www.polaroid.com/at-work/dmc/index.html">http://www.polaroid.com/at-work/dmc/index.html</a><br>
<p>
Regards,<br>
<p>
David.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<li> <b>Previous message:</b> <a href="0136.html">Martin Huber: "Re: someone working on hp-backend ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
