<!-- received="Tue Feb 24 11:50:53 1998 PST" -->
<!-- sent="Tue, 24 Feb 1998 14:50:04 -0500" -->
<!-- name="David Skoll" -->
<!-- email="dskoll@chipworks.com" -->
<!-- subject="Updated Polaroid DMC driver available" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Updated Polaroid DMC driver available</title>
<h1>Updated Polaroid DMC driver available</h1>
<b>David Skoll</b> (<a href="mailto:dskoll@chipworks.com"><i>dskoll@chipworks.com</i></a>)<br>
<i>Tue, 24 Feb 1998 14:50:04 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#163">[ date ]</a><a href="index.html#163">[ thread ]</a><a href="subject.html#163">[ subject ]</a><a href="author.html#163">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Allan Nielsen: "Re: What version of gtk to use?"</a>
<li> <b>Previous message:</b> <a href="0162.html">Pkirchg@aol.com: "Re: Someone working on hp-backend ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I have an updated driver for the Polaroid Digital Microscope Camera.<br>
The<br>
driver supports four image modes (Full-frame, viewfinder, "raw" and<br>
thumbnail)<br>
and lets you set the CCD sensitivity, shutter speed and white-point.<br>
<p>
It's been tested under Linux 2.0.33 with SANE 0.70, and is available at:<br>
<p>
	<a href="ftp://ftp.doe.carleton.ca/pub/dfs/dmc.tar.gz">ftp://ftp.doe.carleton.ca/pub/dfs/dmc.tar.gz</a><br>
<p>
Regards,<br>
<p>
David.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Allan Nielsen: "Re: What version of gtk to use?"</a>
<li> <b>Previous message:</b> <a href="0162.html">Pkirchg@aol.com: "Re: Someone working on hp-backend ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
