<!-- received="Sat May  1 12:30:52 1999 PDT" -->
<!-- sent="Sat, 01 May 1999 20:30:53 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane default sizes" -->
<!-- id="" -->
<!-- inreplyto="xsane default sizes" -->
<title>sane-devel: Re: xsane default sizes</title>
<h1>Re: xsane default sizes</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 01 May 1999 20:30:53 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#4">[ date ]</a><a href="index.html#4">[ thread ]</a><a href="subject.html#4">[ subject ]</a><a href="author.html#4">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Oliver Rauch: "Re: May sane_init fail?"</a>
<li> <b>Previous message:</b> <a href="0003.html">robc: "AGFA Arcus II"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Bob van der Poel wrote:<br>
<p>
<i>&gt; Oliver, just wanted to let you know I got the latest (my first) xsane</i><br>
<i>&gt; today. It compiled and installed with no difficulties. Two quick</i><br>
<i>&gt; questions:</i><br>
<i>&gt;</i><br>
<i>&gt; 1. Since libsane-dll is quite small and since it does create problems</i><br>
<i>&gt; having it as a shared lib for novices who aren't quickly aware of the</i><br>
<i>&gt; fact that they have to add /usr/local/lib/sane to their</i><br>
<i>&gt; /etc/etc/ld.so.conf (don't even suggest that I learn to read ;)!), why</i><br>
<i>&gt; not just link it staticly.</i><br>
<i>&gt;</i><br>
<p>
I think it should be no problem for a novice to make it working asshared<br>
library. It is planned to include a static compilation,<br>
but I have to work it out which takes some time!<br>
<p>
<i>&gt; 2. Is there a reason you make the main xsane window so small? Maybe a</i><br>
<i>&gt; configure option in the make process to set the size. I edited the</i><br>
<i>&gt; xsane.h file.</i><br>
<p>
It is not a problem of the window size, some system do use larger default fonts<br>
than I expeted. You can change this in /usr/(local/)share/sane/xsane-style.rc<br>
by uncommenting the outcommented font line!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Oliver Rauch: "Re: May sane_init fail?"</a>
<li> <b>Previous message:</b> <a href="0003.html">robc: "AGFA Arcus II"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
