<!-- received="Sun May  2 18:18:56 1999 PDT" -->
<!-- sent="Mon, 3 May 1999 11:18:36 +1000 (EST)" -->
<!-- name="Graham Stoney" -->
<!-- email="greyham@research.canon.com.au" -->
<!-- subject="Re: Possible fix for Sane 1.0.1 segfault in RedHat 5.1 (net)" -->
<!-- id="199905030118.LAA15523@sid.research.canon.com.au" -->
<!-- inreplyto="372998AA.BF673285@ariadne-t.gr" -->
<title>sane-devel: Re: Possible fix for Sane 1.0.1 segfault in RedHat 5.1 (net)</title>
<h1>Re: Possible fix for Sane 1.0.1 segfault in RedHat 5.1 (net)</h1>
<b>Graham Stoney</b> (<a href="mailto:greyham@research.canon.com.au"><i>greyham@research.canon.com.au</i></a>)<br>
<i>Mon, 3 May 1999 11:18:36 +1000 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#16">[ date ]</a><a href="index.html#16">[ thread ]</a><a href="subject.html#16">[ subject ]</a><a href="author.html#16">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0017.html">Bob van der Poel: "Re: xsane default sizes"</a>
<li> <b>Previous message:</b> <a href="0015.html">Ingo Wilken: "Re: May sane_init fail?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Milon Firikis writes:<br>
<i>&gt; I don't have any kind of bacckend (except net) enabled in my dll.conf.</i><br>
<i>&gt; It still segfaults where it should return "no devices available)</i><br>
<p>
OK; it sounds like we may have encountered completely different problems, and<br>
that it's only a coincidence that we're both running Red Hat 5.1. Nevertheless,<br>
I'd like to get my patches included in the official SANE release, as they do<br>
fix the segfault that happens when the SANE_NET_CONTROL_OPTION RPC fails.<br>
<p>
<i>&gt; true SANE_TYPE_INT!=SANE_TYPE_INT, but in practice this cannot lead to a</i><br>
<i>&gt; SIGSEGV and most certainly it's not Redahat5.1 specific</i><br>
<p>
I think you meant SANE_TYPE_INT != SANE_TYPE_BOOL, and of course you're<br>
absolutely right; this won't cause a SIGSEGV. The patches to fix all the<br>
occurances of this in the backends were more for completeness than anything.<br>
<p>
<i>&gt; So I assume you don't use memset to clear the option descriptor space.</i><br>
<p>
True; it seemed unnecessary, and (as it turns out) is masking the fact that<br>
the "type" field isn't initialised correctly in many 1.0.1 backends.<br>
<p>
<i>&gt; So you find a bug, but unfortuately is not applied to my problem (I</i><br>
<i>&gt; tested your patch on the net.c and I failed).</i><br>
<p>
Right again, I'm afraid; sorry I couldn't be more help. If I spot further<br>
problems, I'll try to sort them out.<br>
<p>
Regards,<br>
Graham<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0017.html">Bob van der Poel: "Re: xsane default sizes"</a>
<li> <b>Previous message:</b> <a href="0015.html">Ingo Wilken: "Re: May sane_init fail?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
