<!-- received="Mon May  3 20:02:24 1999 PDT" -->
<!-- sent="Mon, 03 May 1999 09:32:49 +0200" -->
<!-- name="Rainer Krienke" -->
<!-- email="krienke@uni-koblenz.de" -->
<!-- subject="Re: SEGFAULT with sane 1.0.1" -->
<!-- id="" -->
<!-- inreplyto="SEGFAULT with sane 1.0.1" -->
<title>sane-devel: Re: SEGFAULT with sane 1.0.1</title>
<h1>Re: SEGFAULT with sane 1.0.1</h1>
<b>Rainer Krienke</b> (<a href="mailto:krienke@uni-koblenz.de"><i>krienke@uni-koblenz.de</i></a>)<br>
<i>Mon, 03 May 1999 09:32:49 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#25">[ date ]</a><a href="index.html#25">[ thread ]</a><a href="subject.html#25">[ subject ]</a><a href="author.html#25">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">Antonis Giannopoulos: "Compeye Simplex DP66M parallel port scanner"</a>
<li> <b>Previous message:</b> <a href="0024.html">Roy-Anders Larsen: "Re: Q: which parallel scanner supported"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Rainer krienke wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hello,</i><br>
<i>&gt; </i><br>
<i>&gt; I compiles sane 1.0.1 on my linux system running kernel 2.2.6 (with the</i><br>
<i>&gt; new generic driver by Douglas Gilbert). The new release does not work</i><br>
<i>&gt; for me whereas the older version did. Running xsbanimage or xsane or</i><br>
<i>&gt; scanimage I get a segfault before the window of eg xscanimage comes up.</i><br>
<i>&gt; The following trace is the output of a start of xscanimage with</i><br>
<i>&gt; SANE_DEBUG_SANEI_SCSI=127 set (Adaptex 2940 Controller, Mustec 1200SP</i><br>
<i>&gt; Scanner):</i><br>
<i>&gt; </i><br>
<i>&gt; [sanei_scsi] sanei_scsi_open: sanei_scsi_max_request_size=32768 bytes</i><br>
<i>&gt; [sanei_scsi] scsi_req_enter: entered 0x80e21c0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: waiting for 0x80e21c0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi.issue: 0x80e21c0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: read 72 bytes</i><br>
<i>&gt; [sanei_scsi] scsi_req_enter: entered 0x80e21c0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: waiting for 0x80e21c0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi.issue: 0x80e21c0</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: read 36 bytes</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: SCSI command complained: Success</i><br>
<i>&gt; Segmentation fault</i><br>
<i>&gt; </i><br>
<i>&gt; The only thing that does work is if I run scanimage in Lineart mode.</i><br>
<i>&gt; Setting SANE_DEBUG_MUSTEK=128 yields the following output:</i><br>
<i>&gt; </i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of mustek to 128.</i><br>
<i>&gt; [mustek] sane_init: strip-height set to 1 inches</i><br>
<i>&gt; [mustek] attach: opening /dev/sgd as scsi device</i><br>
<i>&gt; [mustek] attach: sending INQUIRY</i><br>
<i>&gt; [mustek] scsi_wait_ready: sending TEST_UNIT_READY</i><br>
<i>&gt; [mustek] attach: firmware revision 1.02</i><br>
<i>&gt; [mustek] attach: scanner has automatic line-distance correction</i><br>
<i>&gt; [mustek] attach: cover open</i><br>
<i>&gt; [mustek] attach: found Mustek scanner model MFS-12000SP (flatbed</i><br>
<i>&gt; scanner), 1-pas</i><br>
<i>&gt; s</i><br>
<i>&gt; [mustek] sane_init: enabling linedistance-fix for /dev/sgd</i><br>
<i>&gt; [mustek] sane_init: enabling lineart-fix for /dev/sgd</i><br>
<i>&gt; [mustek] attach: opening /dev/scanner as scsi device</i><br>
<i>&gt; [mustek] attach: sending INQUIRY</i><br>
<i>&gt; [mustek] scsi_wait_ready: sending TEST_UNIT_READY</i><br>
<i>&gt; [mustek] attach: firmware revision 1.02</i><br>
<i>&gt; [mustek] attach: scanner has automatic line-distance correction</i><br>
<i>&gt; [mustek] attach: cover open</i><br>
<i>&gt; [mustek] attach: found Mustek scanner model MFS-12000SP (flatbed</i><br>
<i>&gt; scanner), 1-pas</i><br>
<i>&gt; s</i><br>
<i>&gt; [mustek] sane_init: enabling linedistance-fix for /dev/scanner</i><br>
<i>&gt; [mustek] sane_init: enabling lineart-fix for /dev/scanner</i><br>
<i>&gt; Segmentation fault</i><br>
<i>&gt; </i><br>
<i>&gt; Any idea?</i><br>
<i>&gt;</i><br>
<p>
The problem is solved. In between Kernel 2.2.7 arrived. Using this one<br>
sane 1.0.1 seems to work again. So the problems are probably caused by<br>
the developement of the new sg driver.<br>
<p>
Thanks Rainer<br>
<pre>
-- 
---------------------------------------------------------------------
Rainer Krienke                     <a href="mailto:krienke@uni-koblenz.de">krienke@uni-koblenz.de</a>
Universitaet Koblenz, 		   <a href="http://www.uni-koblenz.de/~krienke">http://www.uni-koblenz.de/~krienke</a>
Rechenzentrum,                     Voice: +49 261 287 - 1312
Rheinau 1, 56075 Koblenz, Germany  Fax:   +49 261 287 - 1355
---------------------------------------------------------------------
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">Antonis Giannopoulos: "Compeye Simplex DP66M parallel port scanner"</a>
<li> <b>Previous message:</b> <a href="0024.html">Roy-Anders Larsen: "Re: Q: which parallel scanner supported"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
"start" -->
<!-- reply="end" -->
</ul>
