<!-- received="Tue May  4 17:17:41 1999 PDT" -->
<!-- sent="Tue, 4 May 1999 20:18:20 -0400 (EDT)" -->
<!-- name="gmp@superlink.net" -->
<!-- email="gmp@superlink.net" -->
<!-- subject="Acer Prisa 620S now working with SANE-1.01" -->
<!-- id="199905050018.UAA07234@radium.superlink.net" -->
<!-- inreplyto="" -->
<title>sane-devel: Acer Prisa 620S now working with SANE-1.01</title>
<h1>Acer Prisa 620S now working with SANE-1.01</h1>
<a href="mailto:gmp@superlink.net"><i>gmp@superlink.net</i></a><br>
<i>Tue, 4 May 1999 20:18:20 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">Ingo Wilken: "Re: Acer Prisa 620S now working with SANE-1.01"</a>
<li> <b>Previous message:</b> <a href="0042.html">Oliver Rauch: "Somone interested in programming a backend for a fujitsu scanner?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">Ingo Wilken: "Re: Acer Prisa 620S now working with SANE-1.01"</a>
<li> <b>Reply:</b> <a href="0044.html">Ingo Wilken: "Re: Acer Prisa 620S now working with SANE-1.01"</a>
<li> <b>Reply:</b> <a href="0045.html">Yuri Dario: "Re: Acer Prisa 620S now working with SANE-1.01"</a>
<li> <b>Reply:</b> <a href="0056.html">gmp@superlink.net: "Re: Acer Prisa 620S now working with SANE-1.01"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
  After a month and a half of late nights and hair-pulling I am pleased<br>
to announce that I have added support for the Acer Prisa 620S scanner.<br>
I used the "snapscan" backend that came with the SANE 1.01 release.<br>
I did my development on a Sun SPARCStation IPX running Solaris 2.5 with<br>
the help of a special winaspi32.dll and a PC to peek at the protocol<br>
with the supplied TWAIN driver and MSOffice (yeechh!).<br>
<p>
  It wasn't until the SANE-1.01 release when the function names in the<br>
snapscan backend were changed (e.g. sane_snapscan_start changed to<br>
sane_start, etc) that I could make any meaningfull progress.  Prior to that<br>
I could not access the device even though Debug output would clearly show<br>
the mini_inquiry and "add_device" happening properly.  Apparently the<br>
old naming convention was dispatching to the stubs instead of the actual<br>
snapscan code!  Anyway I can successfully scan Colour, BiLevelColour,<br>
GreyScale and LineArt images quite well using xscanimage.  I tried all of<br>
the Twain supported DPI's of 75, 100, 150, 200, 300, 400, 600, 1200, 2400,<br>
4800, 9600 and 19200.  Aside from the increasing larger sizes of the images,<br>
which made we wonder if I would have enough disk space while scanning, the<br>
scans all look perfect when viewed using "xv".<br>
<p>
  There are still several minor problems that I would like to fix before<br>
I submit my changes for inclusion into the next release of SANE.<br>
<p>
  First I had to completely disable the "send_diagnostic" function.<br>
If I didn't the diagnostic opcode would hang the entire SCSI bus with all<br>
of the disk access lights comming and staying on for 30 seconds or so.  Not<br>
a comforting thing to see on the root disk!  I don't know if this is<br>
a result of the scanner hanging the bus or the Sun SCSI controller getting<br>
po'ed.  Turning off the power to the scanner did not clear the hung bus.<br>
I could not find ANY diagnostic codes in the TWAIN SCSI dumps.<br>
Does anybody have a clue about this?  I would especially want to hear from<br>
someone using the VUEGO310 as it is very similar to the Acer 620S.<br>
<p>
  Second I had to disable the fork of the background child process or else<br>
Solaris would crash with a "BAD TRAP occured in module "SCG" due to an<br>
illegal access to a user address".  The debug output showed a trail right<br>
up to the scsi_read in the child process.  I found a commented out<br>
"return" just prior to the fork() in snapscan.c line 2876 and uncommented it.<br>
The BAD TRAPs stopped and the scanner began working.  Does any of the<br>
"snapscan" backend authors know why that /*return;*/ was still there??<br>
<p>
  Third, I get an error right after I invoke an xscanimage "Preview" in a<br>
dialog "Failed restore value of option resolution: Device Busy".  I<br>
suspect that whatever method is being used to determine when the Scanner is<br>
busy is not applicable with the Prisa 620S and thus it is trying to restore<br>
the scan parameters too soon after the Preview.  The Preview operation works<br>
just fine and suprisingly quick too!  I would be interested in whether the<br>
"Preview" works OK with other scanner types using the snapscan backend.<br>
<p>
  Finally the scanner seems to "go to sleep" after about 15 minutes as the<br>
image lamp goes out but the power-on LED says on.  On the PC the Twain<br>
driver knows about the sleeping condition and puts up a dialog box telling<br>
me to wait.  It then invokes a scanner reset somehow.  With SANE it doesn't<br>
even see the scanner when it is sleeping.  If a do a scanimage -L twice<br>
the first one will stimulate the scanner to wake up and the second one will<br>
see it.  Not a big deal but it would be nice to fix this.  I'll have to<br>
reattach the scanner to the PC and take a TWAIN SCSI dump before and after<br>
it goes to sleep to see what they are doing.  But, again any clues or advice<br>
would be appreciated.<br>
<p>
Regards,<br>
Gary M. Plewa<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">Ingo Wilken: "Re: Acer Prisa 620S now working with SANE-1.01"</a>
<li> <b>Previous message:</b> <a href="0042.html">Oliver Rauch: "Somone interested in programming a backend for a fujitsu scanner?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">Ingo Wilken: "Re: Acer Prisa 620S now working with SANE-1.01"</a>
<li> <b>Reply:</b> <a href="0044.html">Ingo Wilken: "Re: Acer Prisa 620S now working with SANE-1.01"</a>
<li> <b>Reply:</b> <a href="0045.html">Yuri Dario: "Re: Acer Prisa 620S now working with SANE-1.01"</a>
<li> <b>Reply:</b> <a href="0056.html">gmp@superlink.net: "Re: Acer Prisa 620S now working with SANE-1.01"</a>
<!-- reply="end" -->
</ul>
