<!-- received="Tue May 11 00:52:54 1999 PDT" -->
<!-- sent="11 May 1999 09:51:56 +0200" -->
<!-- name="Didier Carlier" -->
<!-- email="Didier.Carlier@sema.be" -->
<!-- subject="Re: nikon ls30" -->
<!-- id="" -->
<!-- inreplyto="Mon, 10 May 1999 23:43:40 +0200 (CEST)"" -->
<title>sane-devel: Re: nikon ls30</title>
<h1>Re: nikon ls30</h1>
<b>Didier Carlier</b> (<a href="mailto:Didier.Carlier@sema.be"><i>Didier.Carlier@sema.be</i></a>)<br>
<i>11 May 1999 09:51:56 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#87">[ date ]</a><a href="index.html#87">[ thread ]</a><a href="subject.html#87">[ subject ]</a><a href="author.html#87">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Ewald R. de Wit: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0086.html">Hugo van der Kooij: "Re: re Mustek scanner"</a>
<li> <b>In reply to:</b> <a href="0079.html">Amir Marrei: "nikon ls30"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0102.html">David Fox: "Re: nikon ls30"</a>
<li> <b>Reply:</b> <a href="0102.html">David Fox: "Re: nikon ls30"</a>
<li> <b>Reply:</b> <a href="0111.html">David Fox: "Is the nikon ls-20 slide scanner quiet?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Amir Marrei &lt;<a href="mailto:marrei@centralnet.ch">marrei@centralnet.ch</a>&gt; writes:<br>
<p>
<i>&gt; Hi</i><br>
<i>&gt; </i><br>
<i>&gt; I have a nikon coolscanIII or LS30 for a while and am trying to use</i><br>
<i>&gt; it with sane and the coolscan backend, but am having no luck so far</i><br>
<i>&gt; in getting anything scanned.  I searched Dejanews and found</i><br>
<i>&gt; different answers to the question wether this scanner is</i><br>
<i>&gt; supported. Does anyone of you have experience with coolscan and this</i><br>
<i>&gt; LS30? I'd appreciate any help.</i><br>
<p>
Neither the LS30 nor the LS2000 are supported by the current coolscan<br>
backend.<br>
<p>
Didier<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Ewald R. de Wit: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0086.html">Hugo van der Kooij: "Re: re Mustek scanner"</a>
<li> <b>In reply to:</b> <a href="0079.html">Amir Marrei: "nikon ls30"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0102.html">David Fox: "Re: nikon ls30"</a>
<li> <b>Reply:</b> <a href="0102.html">David Fox: "Re: nikon ls30"</a>
<li> <b>Reply:</b> <a href="0111.html">David Fox: "Is the nikon ls-20 slide scanner quiet?"</a>
<!-- reply="end" -->
</ul>
