<!-- received="Wed May 12 17:50:08 1999 PDT" -->
<!-- sent="Thu, 13 May 1999 01:51:08 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: [Announce] WinSANE 0.1.0.0 Release" -->
<!-- id="" -->
<!-- inreplyto="3739C3DA.FB25A15B@ariadne-t.gr" -->
<title>sane-devel: Re: [Announce] WinSANE 0.1.0.0 Release</title>
<h1>Re: [Announce] WinSANE 0.1.0.0 Release</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Thu, 13 May 1999 01:51:08 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#117">[ date ]</a><a href="index.html#117">[ thread ]</a><a href="subject.html#117">[ subject ]</a><a href="author.html#117">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">Chris Bitmead: "Coolscan LS-30 + best scanner"</a>
<li> <b>Previous message:</b> <a href="0116.html">Graham Stoney: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 12 May 1999, Milon Firikis wrote:<br>
<p>
<i>&gt; For gray images:</i><br>
<i>&gt; white --&gt; 0</i><br>
<i>&gt; black --&gt; 255 (240)</i><br>
<p>
Milon - please enlighten us as to why we should believe you and not<br>
(1) Most existing hardware and software<br>
(2) The SANE standard documents<br>
<p>
?<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">Chris Bitmead: "Coolscan LS-30 + best scanner"</a>
<li> <b>Previous message:</b> <a href="0116.html">Graham Stoney: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
