<!-- received="Thu May 13 22:12:01 1999 PDT" -->
<!-- sent="Fri, 14 May 1999 10:11:09 +1000 (EST)" -->
<!-- name="Graham Stoney" -->
<!-- email="greyham@research.canon.com.au" -->
<!-- subject="Re: preview window feature request" -->
<!-- id="199905140011.KAA03168@sid.research.canon.com.au" -->
<!-- inreplyto="14138.57690.909091.328211@gargle.gargle.HOWL" -->
<title>sane-devel: Re: preview window feature request</title>
<h1>Re: preview window feature request</h1>
<b>Graham Stoney</b> (<a href="mailto:greyham@research.canon.com.au"><i>greyham@research.canon.com.au</i></a>)<br>
<i>Fri, 14 May 1999 10:11:09 +1000 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#129">[ date ]</a><a href="index.html#129">[ thread ]</a><a href="subject.html#129">[ subject ]</a><a href="author.html#129">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">Hugo van der Kooij: "Re: preview window feature request"</a>
<li> <b>Previous message:</b> <a href="0128.html">Chris Bitmead: "Re: Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0130.html">Hugo van der Kooij: "Re: preview window feature request"</a>
<li> <b>Reply:</b> <a href="0130.html">Hugo van der Kooij: "Re: preview window feature request"</a>
<li> <b>Reply:</b> <a href="0139.html">Andreas Dilger: "Re: preview window feature request"</a>
<li> <b>Reply:</b> <a href="0167.html">Manuel Panea: "Re: preview window feature request"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi John,<br>
<p>
John Stoffel writes:<br>
<i>&gt; Specifically I'm not sure I really like the fact that you have to</i><br>
<i>&gt; explicity open the preview window and grab a preview when you start</i><br>
<i>&gt; scanning.</i><br>
<p>
Are you running the latest xscanimage from SANE 1.0.1? You don't have to<br>
grab a preview when you start scanning, if you know the position of the image<br>
that you want to grab. Just move the sliders on the main panel; of course<br>
you're flying in the dark a bit, but you can do it.<br>
<p>
<i>&gt; I also don't like the fact that you can't just grab the outline of the</i><br>
<i>&gt; scanned area to change the dimensions.  </i><br>
<i>&gt; I know I can use the sliders on the main panel to change the x,y</i><br>
<i>&gt; coordinates, but I think that's clunky.</i><br>
<p>
Dragging out an area on the preview window also moves the sliders on the main<br>
panel to indicate the area selected.<br>
<p>
<i>&gt; Front Feature Requests:</i><br>
...<br>
<i>&gt; 3. Ability to zoom on on a preview for finer control.</i><br>
<p>
This would be handy.<br>
<p>
Another feature I'd like to see is the ability to set slider values to some<br>
exact number. Perhaps the field where the value is stored could be made<br>
editable so you can both type the number in, and move the slider to change it.<br>
Sometimes you want to set something exactly, and the resolution of the slider<br>
just isn't up to it.<br>
<p>
Regards,<br>
Graham<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0130.html">Hugo van der Kooij: "Re: preview window feature request"</a>
<li> <b>Previous message:</b> <a href="0128.html">Chris Bitmead: "Re: Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0130.html">Hugo van der Kooij: "Re: preview window feature request"</a>
<li> <b>Reply:</b> <a href="0130.html">Hugo van der Kooij: "Re: preview window feature request"</a>
<li> <b>Reply:</b> <a href="0139.html">Andreas Dilger: "Re: preview window feature request"</a>
<li> <b>Reply:</b> <a href="0167.html">Manuel Panea: "Re: preview window feature request"</a>
<!-- reply="end" -->
</ul>
