<!-- received="Fri May 14 07:57:38 1999 PDT" -->
<!-- sent="Fri, 14 May 1999 15:06:04 +0000" -->
<!-- name="Ondrej Popp" -->
<!-- email="ondrej@geocities.com" -->
<!-- subject="Re: horizontal colored stripes while scanning" -->
<!-- id="" -->
<!-- inreplyto="horizontal colored stripes while scanning" -->
<title>sane-devel: Re: horizontal colored stripes while scanning</title>
<h1>Re: horizontal colored stripes while scanning</h1>
<b>Ondrej Popp</b> (<a href="mailto:ondrej@geocities.com"><i>ondrej@geocities.com</i></a>)<br>
<i>Fri, 14 May 1999 15:06:04 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#137">[ date ]</a><a href="index.html#137">[ thread ]</a><a href="subject.html#137">[ subject ]</a><a href="author.html#137">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">Clemmitt Sigler: "UMAX UC1260 SANE problem(?)"</a>
<li> <b>Previous message:</b> <a href="0136.html">Oliver Rauch: "Re: horizontal colored stripes while scanning"</a>
<li> <b>Maybe in reply to:</b> <a href="0135.html">Ondrej Popp: "horizontal colored stripes while scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Well, I think I had once an accident that the scanner got to the other<br>
end<br>
and did not stop immediately. That may be similar to the transport lock <br>
issues you mention. But I think I had this problem before that happened<br>
too..<br>
It may very well be that the scanner is broken and I have <br>
been thinking this quite often, because that is the only thing I have<br>
not replaced yet. The weirdest thing however is that from time to time<br>
the scanner 'kicks' in and the problem goes away. So then I think again<br>
: well it is not realy broken, is it? Something is just not working<br>
reliable. It's hard to buy a new one when 'suddenly' it starts working<br>
again :) Well I will see what will be, and wether the win95 trick realy<br>
helps...<br>
<p>
tx for your reply,<br>
Ondrej <br>
<p>
Oliver Rauch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Ondrej Popp wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; However, now the stripes are gone, the I/O errors still show in the</i><br>
<i>&gt; &gt; debug trace. So that does not seem to make much difference either.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I realy have no clue... can it be that the scanner needs to be</i><br>
<i>&gt; &gt; calibrated or anything and this gets messed up from time to time, and</i><br>
<i>&gt; &gt; the sane software is not able to fix this? Well for the time being it</i><br>
<i>&gt; &gt; seems to be working again :)</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; tx for any suggestions,</i><br>
<i>&gt; &gt; Ondrej</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; Hi Ondrej,</i><br>
<i>&gt; </i><br>
<i>&gt; horizontal stripes have nothing to do with calibration (vertical stripes could).</i><br>
<i>&gt; </i><br>
<i>&gt; It looks like you have a hardware problem with your scanner.</i><br>
<i>&gt; The I/O errors are not good, but the bad noises you get when the scanner</i><br>
<i>&gt; produces stripes could mean that your scanner is not ok.</i><br>
<i>&gt; </i><br>
<i>&gt; I never heard of such problems before.</i><br>
<i>&gt; </i><br>
<i>&gt; Did you once forgot to open the transport-lock? That could have destroyed the</i><br>
<i>&gt; stepping motor/electronic.</i><br>
<i>&gt; </i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
         ________________________________________________________ 
        |                                                        |       
        |                                                        |       
        |   <a href="http://www.geocities.com/SiliconValley/Lakes/6150">http://www.geocities.com/SiliconValley/Lakes/6150</a>    | 
        |                                                        |       
     _  |                                                        |  _    
    / ) |                                                        | ( \   
  _( (_ |  _              E-mail: <a href="mailto:ondrej@geocities.com">ondrej@geocities.com</a>        _  | _) )_ 
 (((\ \)|_/ )________________________________________________( \_|(/
/)))
  \\\\ \_/ /                                                  \ \_/ //// 
   \      /                                                    \      /  
    \   _/                                                      \_   /   
    /__/                                                          \__\
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">Clemmitt Sigler: "UMAX UC1260 SANE problem(?)"</a>
<li> <b>Previous message:</b> <a href="0136.html">Oliver Rauch: "Re: horizontal colored stripes while scanning"</a>
<li> <b>Maybe in reply to:</b> <a href="0135.html">Ondrej Popp: "horizontal colored stripes while scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
