<!-- received="Sat May 15 07:31:55 1999 PDT" -->
<!-- sent="Sat, 15 May 1999 10:36:35 -0400" -->
<!-- name="Fred Willingham" -->
<!-- email="fcw@worldpath.net" -->
<!-- subject="Re: Coolscan LS-30 + best scanner" -->
<!-- id="" -->
<!-- inreplyto="Coolscan LS-30 + best scanner" -->
<title>sane-devel: Re: Coolscan LS-30 + best scanner</title>
<h1>Re: Coolscan LS-30 + best scanner</h1>
<b>Fred Willingham</b> (<a href="mailto:fcw@worldpath.net"><i>fcw@worldpath.net</i></a>)<br>
<i>Sat, 15 May 1999 10:36:35 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#144">[ date ]</a><a href="index.html#144">[ thread ]</a><a href="subject.html#144">[ subject ]</a><a href="author.html#144">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">Fred Willingham: "UMax  Astra 1220U"</a>
<li> <b>Previous message:</b> <a href="0143.html">Oliver Rauch: "xsane-0.24 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0118.html">Chris Bitmead: "Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0146.html">Chris Bitmead: "Re: Coolscan LS-30 + best scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am willing to sign. I have a registered company name, too. Does anyone<br>
have a contact person or e-mail address?<br>
<p>
I have been posting on Nikon's Imaging Support Forum. So far, they have said<br>
they "don't provide information about developing on other operating<br>
systems." I replied that I didin't need Linux information, I needed Coolscan<br>
III information: what gets sent to the scanner over the SCSI bus and what to<br>
expect the scanner to send back, the scanner's command set. No answer to<br>
that, so far.<br>
<p>
-F<br>
<p>
----- Original Message -----<br>
From: Didier Carlier &lt;<a href="mailto:carlierd@acm.org">carlierd@acm.org</a>&gt;<br>
To: &lt;<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>&gt;<br>
Sent: Friday, May 14, 1999 4:43 AM<br>
Subject: Re: Coolscan LS-30 + best scanner<br>
<p>
<p>
<i>&gt;</i><br>
<i>&gt; On 13-May-99 Ewald R. de Wit wrote:</i><br>
<i>&gt; &gt;&gt; &gt; The best thing would be for you to get the Nikon LS30 and write</i><br>
<i>&gt; &gt;&gt; &gt; the driver for it!</i><br>
<i>&gt; &gt;&gt;</i><br>
<i>&gt; &gt;&gt; How hard would that be? Do Nikon release specs? I would consider doing</i><br>
<i>&gt; &gt;&gt; it if it's not going to be some project that makes me tear my hair out.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I believe Nikon releases the specs with no problems but I'm not sure.</i><br>
<i>&gt; &gt; About how hard it is, I don't know. There is already a functioning</i><br>
<i>&gt; &gt; Nikon backend and chances are that things need not be changed too</i><br>
<i>&gt; &gt; much. Perhaps Didier Carlier knows more about this?</i><br>
<i>&gt;</i><br>
<i>&gt; I have asked Nikon about the LS-30/LS-2000 interface specifications</i><br>
several<br>
<i>&gt; times last year and the last time I checked, the only way to get them was</i><br>
to<br>
<i>&gt; have a company or some other legal entity sign a non-disclosure agreement.</i><br>
Of<br>
<i>&gt; course this policy may very well change at any time and at least it wasn't</i><br>
a<br>
<i>&gt; plain 'no'...</i><br>
<i>&gt;</i><br>
<i>&gt; As to how much the LS-20/1000 differ from the LS-30/2000 interface, I have</i><br>
<i>&gt; really no idea, sorry.</i><br>
<i>&gt;</i><br>
<i>&gt; Best regards,</i><br>
<i>&gt; Didier</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt;</i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">Fred Willingham: "UMax  Astra 1220U"</a>
<li> <b>Previous message:</b> <a href="0143.html">Oliver Rauch: "xsane-0.24 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0118.html">Chris Bitmead: "Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0146.html">Chris Bitmead: "Re: Coolscan LS-30 + best scanner"</a>
<!-- reply="end" -->
</ul>
