<!-- received="Tue May 18 11:38:39 1999 PDT" -->
<!-- sent="Tue, 18 May 1999 15:42:27 -0300" -->
<!-- name="Pablo Bendersky" -->
<!-- email="bender@spu.edu.ar" -->
<!-- subject="Simple question" -->
<!-- id="3741B493294.FB36BENDER@relay1.spu.edu.ar" -->
<!-- inreplyto="3741A7C6.BE14BEAD@ph0x.freeserve.co.uk" -->
<title>sane-devel: Simple question</title>
<h1>Simple question</h1>
<b>Pablo Bendersky</b> (<a href="mailto:bender@spu.edu.ar"><i>bender@spu.edu.ar</i></a>)<br>
<i>Tue, 18 May 1999 15:42:27 -0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#172">[ date ]</a><a href="index.html#172">[ thread ]</a><a href="subject.html#172">[ subject ]</a><a href="author.html#172">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Wolfgang Goeller: "Re: saned: process_request: received unexpected procedure number 0"</a>
<li> <b>Previous message:</b> <a href="0171.html">Dr. Detlev Reymann: "saned: process_request: received unexpected procedure number 0"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0202.html">Oliver Rauch: "Re: Simple question"</a>
<li> <b>Reply:</b> <a href="0202.html">Oliver Rauch: "Re: Simple question"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi, I've just installed SANE, and I'm looking forward to contribute in<br>
some way.<br>
My problem is that I'm not sure if I have it properly installed. I<br>
compiled it, and make the make install.<br>
But now, where do I choose wich backend SANE will use ?<br>
<p>
Thanks !<br>
<p>
Pablo Gabriel Bendersky<br>
<a href="mailto:bender@spu.edu.ar">bender@spu.edu.ar</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Wolfgang Goeller: "Re: saned: process_request: received unexpected procedure number 0"</a>
<li> <b>Previous message:</b> <a href="0171.html">Dr. Detlev Reymann: "saned: process_request: received unexpected procedure number 0"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0202.html">Oliver Rauch: "Re: Simple question"</a>
<li> <b>Reply:</b> <a href="0202.html">Oliver Rauch: "Re: Simple question"</a>
<!-- reply="end" -->
</ul>
