<!-- received="Wed May 19 15:15:35 1999 PDT" -->
<!-- sent="Wed, 19 May 1999 17:05:42 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Simple question" -->
<!-- id="" -->
<!-- inreplyto="Simple question" -->
<title>sane-devel: Re: Simple question</title>
<h1>Re: Simple question</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 19 May 1999 17:05:42 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#202">[ date ]</a><a href="index.html#202">[ thread ]</a><a href="subject.html#202">[ subject ]</a><a href="author.html#202">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">Mark Vojkovich: "Re: Astra 1220S problems"</a>
<li> <b>Previous message:</b> <a href="0201.html">Oliver Rauch: "Re: xscanimage with Gimp"</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Pablo Bendersky: "Simple question"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Pablo Bendersky wrote:<br>
<p>
<i>&gt; Hi, I've just installed SANE, and I'm looking forward to contribute in</i><br>
<i>&gt; some way.</i><br>
<i>&gt; My problem is that I'm not sure if I have it properly installed. I</i><br>
<i>&gt; compiled it, and make the make install.</i><br>
<i>&gt; But now, where do I choose wich backend SANE will use ?</i><br>
<p>
If you changed nothing in the config files, all backends are activated.<br>
If you start xscanimage or scanimage, all backends are queried if there<br>
are any connected scanners that are supported.<br>
<p>
If no scanners are selectable, you may have not set the<br>
permissions propperly or you don`t have generic scsi support enabled.<br>
<p>
Do: cat /proc/scsi/scsi and look if your scanner is listed.<br>
start the tool (in sane source) find-scanner as root to find out<br>
on which device the scanner is found.<br>
You may start (x)scanimage as root too to see if your scanner is found now.<br>
<p>
If that works, change the permissions of the device (as root).<br>
<p>
chmod  666 /dev/sg?<br>
where you must inster the right number o letter printed by find-scanner!<br>
<p>
Bye<br>
Oliver<br>
<p>
<i>&gt; --</i><br>
<i>&gt; EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">Mark Vojkovich: "Re: Astra 1220S problems"</a>
<li> <b>Previous message:</b> <a href="0201.html">Oliver Rauch: "Re: xscanimage with Gimp"</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Pablo Bendersky: "Simple question"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
