<!-- received="Sat May 22 14:33:11 1999 PDT" -->
<!-- sent="Sat, 22 May 1999 15:37:42 -0600 (MDT)" -->
<!-- name="Andreas Dilger" -->
<!-- email="adilger@enel.ucalgary.ca" -->
<!-- subject="Re: Gamma and xsane" -->
<!-- id="199905222137.PAA19955@webber.adilger.net" -->
<!-- inreplyto="3745C10E.454CF67C@wolfsburg.de" -->
<title>sane-devel: Re: Gamma and xsane</title>
<h1>Re: Gamma and xsane</h1>
<b>Andreas Dilger</b> (<a href="mailto:adilger@enel.ucalgary.ca"><i>adilger@enel.ucalgary.ca</i></a>)<br>
<i>Sat, 22 May 1999 15:37:42 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#242">[ date ]</a><a href="index.html#242">[ thread ]</a><a href="subject.html#242">[ subject ]</a><a href="author.html#242">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0243.html">Oliver Rauch: "Re: Gamma and xsane"</a>
<li> <b>Previous message:</b> <a href="0241.html">Oliver Rauch: "xsane-0.26 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver writes:<br>
<i>&gt; If you have a 8/24 bit scanner you reduce the number of used colors.</i><br>
<i>&gt; On 30 or 36 bit scanners you can use small gamma value changes (0.x-1.y)</i><br>
<i>&gt; without loosing any or much used colors.</i><br>
<p>
If you subsequently convert the 30/36 bit color images to 24-bit color, you<br>
shouldn't have any loss of color resolution.<br>
<p>
<i>&gt; That works with linux too, but if you want that your image looks ok on other</i><br>
<i>&gt; systems, you have to correct the colors that they look ok without any further</i><br>
<i>&gt; corrections!  If you use gamma=1.0 the images are all too dark!</i><br>
<p>
If you use PNG format images, and if xsane writes a gAMA chunk (it should!),<br>
then you won't have any such problems.  This is one of reasons why PNG is<br>
becoming more popular.  Also, there are other features that PNG has that<br>
xsane should take advantage of - like pHYs to record the original pixel<br>
size characteristics (dpi), sBIT to record the original bit depth, tIME to<br>
hold the image scanning time, tEXt to hold Software and Source comments...<br>
Info that xsane already has and you might need in the future when working<br>
with the image.<br>
<p>
Cheers, Andreas<br>
<pre>
-- 
Andreas Dilger  University of Calgary \ "If a man ate a pound of pasta and
                Micronet Research Group \ a pound of antipasto, would they
Dept of Electrical &amp; Computer Engineering \  cancel out, leaving him still
<a href="http://www-mddsp.enel.ucalgary.ca/People/adilger/">http://www-mddsp.enel.ucalgary.ca/People/adilger/</a>      hungry?" -- Dogbert
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0243.html">Oliver Rauch: "Re: Gamma and xsane"</a>
<li> <b>Previous message:</b> <a href="0241.html">Oliver Rauch: "xsane-0.26 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
