<!-- received="Wed May 26 11:57:37 1999 PDT" -->
<!-- sent="Wed, 26 May 1999 15:08:15 -0400 (EDT)" -->
<!-- name="Jeff DeFouw" -->
<!-- email="mrj@i2k.com" -->
<!-- subject="Re: Mustek 600 III EP Plus" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.10.9905252308080.8508-100000@yamato.dude" -->
<title>sane-devel: Re: Mustek 600 III EP Plus</title>
<h1>Re: Mustek 600 III EP Plus</h1>
<b>Jeff DeFouw</b> (<a href="mailto:mrj@i2k.com"><i>mrj@i2k.com</i></a>)<br>
<i>Wed, 26 May 1999 15:08:15 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#261">[ date ]</a><a href="index.html#261">[ thread ]</a><a href="subject.html#261">[ subject ]</a><a href="author.html#261">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0262.html">Edmund Humenberger: "Colour management and calibration!"</a>
<li> <b>Previous message:</b> <a href="0260.html">Jeff Lopes: "Mustek 600 III EP Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 25 May 1999, Jeff Lopes wrote:<br>
<p>
<i>&gt; I've heard that someone on this list is currently working on some drivers</i><br>
<i>&gt; for the Mustek 600 III EP Plus (Parallel). I was just interested in the</i><br>
<i>&gt; current stage of the drivers. Any information on the matter would be</i><br>
<i>&gt; greatly appreciated. Thanks a lot.</i><br>
<p>
Yes... I'm currently working on it... or so I'd have you believe. :)  I<br>
keep getting sidetracked with other stuff going on... but school's out<br>
now, and that will change.  I haven't finished anything that scans yet.<br>
Once I do, I'll clean up the code and make it available for download.<br>
<p>
<pre>
--
Jeff DeFouw &lt;<a href="mailto:mrj@i2k.com">mrj@i2k.com</a>&gt;
I2K Staff - <a href="http://www.i2k.com">http://www.i2k.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0262.html">Edmund Humenberger: "Colour management and calibration!"</a>
<li> <b>Previous message:</b> <a href="0260.html">Jeff Lopes: "Mustek 600 III EP Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
