<!-- received="Mon May 31 02:29:33 1999 PDT" -->
<!-- sent="Mon, 31 May 1999 11:28:25 +0100" -->
<!-- name="Joachim Kunze" -->
<!-- email="joachim.kunze@metronet.de" -->
<!-- subject="pnm-files" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: pnm-files</title>
<h1>pnm-files</h1>
<b>Joachim Kunze</b> (<a href="mailto:joachim.kunze@metronet.de"><i>joachim.kunze@metronet.de</i></a>)<br>
<i>Mon, 31 May 1999 11:28:25 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#276">[ date ]</a><a href="index.html#276">[ thread ]</a><a href="subject.html#276">[ subject ]</a><a href="author.html#276">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0277.html">Heinrich Rebehn: "Re: pnm-files"</a>
<li> <b>Previous message:</b> <a href="0275.html">phillipp: "newbie - HP Scanjet 11cx"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0277.html">Heinrich Rebehn: "Re: pnm-files"</a>
<li> <b>Reply:</b> <a href="0277.html">Heinrich Rebehn: "Re: pnm-files"</a>
<li> <b>Reply:</b> <a href="0278.html">Stephan Skrodzki: "Re: pnm-files"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi list-reader,<br>
<p>
does anybody kow a command-line converter, which converts .pnm-files to<br>
.ps-files. I want to write a copy - tool, which takes the pnm-files<br>
pipes them though the converter i'm searching for through gs and to my<br>
printer.<br>
I read in the gimp-manual that is possible to run gimp in a batch-mode.<br>
But unfortunately I neither know the commands nor how to handle them.<br>
Thanks for any help.<br>
<p>
Joachim<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0277.html">Heinrich Rebehn: "Re: pnm-files"</a>
<li> <b>Previous message:</b> <a href="0275.html">phillipp: "newbie - HP Scanjet 11cx"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0277.html">Heinrich Rebehn: "Re: pnm-files"</a>
<li> <b>Reply:</b> <a href="0277.html">Heinrich Rebehn: "Re: pnm-files"</a>
<li> <b>Reply:</b> <a href="0278.html">Stephan Skrodzki: "Re: pnm-files"</a>
<!-- reply="end" -->
</ul>
