<!-- received="Thu Aug  6 03:23:44 1998 PDT" -->
<!-- sent="Thu, 6 Aug 1998 12:22:12 +0200 (MET DST)" -->
<!-- name="Andrea Novara" -->
<!-- email="andrea@cerbero.elet.polimi.it" -->
<!-- subject="Mustek ScanMagic 4800P" -->
<!-- id="199808061022.MAA25174@cerbero.elet.polimi.it" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek ScanMagic 4800P</title>
<h1>Mustek ScanMagic 4800P</h1>
<b>Andrea Novara</b> (<a href="mailto:andrea@cerbero.elet.polimi.it"><i>andrea@cerbero.elet.polimi.it</i></a>)<br>
<i>Thu, 6 Aug 1998 12:22:12 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#18">[ date ]</a><a href="index.html#18">[ thread ]</a><a href="subject.html#18">[ subject ]</a><a href="author.html#18">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">Goran Thyni: "extended pnm backend"</a>
<li> <b>Previous message:</b> <a href="0017.html">Oliver Rauch: "Re: level adjustment widget in xscanimage?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have just got a Mustek ScanMagic 4800P.<br>
After installing SANE , I realized that for EPP<br>
scanners there is just a little support.<br>
<p>
Can you aid me in configuring the scanner driver<br>
if possible (I've read that for the Paragon 600<br>
II N there is a little bit of support!) or having<br>
the scanner work also with other packages?<br>
<p>
Thanks in advance!<br>
<pre>
-- 
        Saluti, Andrea
        <a href="mailto:andrea@cerbero.elet.polimi.it">andrea@cerbero.elet.polimi.it</a>
<p>
`````````````````````````````````````````````````
                                  
      '''       '''
     '''
    '''       ''' '''  ''' '''  ''' ''' '''
   '''       ''' '''' ''' '''  '''   ''''
  ''''''''' ''' ''' '''' '''  '''   '''''
 ''''''''' ''' '''  ''' ''''''''  '''  '''
<p>
There's no Linux 95 or 98 because Linux is forever!!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">Goran Thyni: "extended pnm backend"</a>
<li> <b>Previous message:</b> <a href="0017.html">Oliver Rauch: "Re: level adjustment widget in xscanimage?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
