<!-- received="Sat Aug  8 09:41:51 1998 PDT" -->
<!-- sent="Sat, 08 Aug 1998 09:04:35 +0100" -->
<!-- name="Haavard Mork" -->
<!-- email="xiph@online.no" -->
<!-- subject="SANE BACKEND REPORT: HP ScanJet 5100C" -->
<!-- id="199808080704.JAA13504@online.no" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE BACKEND REPORT: HP ScanJet 5100C</title>
<h1>SANE BACKEND REPORT: HP ScanJet 5100C</h1>
<b>Haavard Mork</b> (<a href="mailto:xiph@online.no"><i>xiph@online.no</i></a>)<br>
<i>Sat, 08 Aug 1998 09:04:35 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#24">[ date ]</a><a href="index.html#24">[ thread ]</a><a href="subject.html#24">[ subject ]</a><a href="author.html#24">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Ray Curtis: "Sane-0.74-2 &amp; HP4c"</a>
<li> <b>Previous message:</b> <a href="0023.html">Hugo van der Kooij: "Re: Slackware Linux compilation problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The Hewlett-Packard ScanJet 5100C works with your HP backend.<br>
<p>
As stated in the HP ScanJet Developers manual, the 5100C is 99%<br>
functionally equal to the ScanJet 5p (the version string is not the<br>
same).<br>
<p>
_BUT_, as SJ 5100C is a parallel scanner using the EPST parallel port<br>
SCSI interface, it requires the EPST parallell port driver.<br>
<p>
This driver can be obtained from <a href="http://www.shuttletech.com">http://www.shuttletech.com</a> for the<br>
following platforms:<br>
OS/2<br>
Win 3.1/NT/95/98<br>
DOS<br>
<p>
A Linux driver is also available. This driver was developed by Christer<br>
Weinigel (<a href="mailto:wingel@signum.se">wingel@signum.se</a>) at Signum Support. The driver can be found<br>
at <a href="ftp://ftp.signum.se/pub/epst/epst-0.9.diff">ftp://ftp.signum.se/pub/epst/epst-0.9.diff</a><br>
I have not tested this driver, and can not tell you wether it works or<br>
not.<br>
<p>
I am sorry I can not give you information about EPST used in other<br>
systems. However, it the diff doesn't help you, there are some source<br>
code on the net (unknown address). I have this source locally, in case<br>
you don't find it.<br>
<p>
The EPST driver makes the scanner perform as a regular SCSI device. It<br>
is basically only the documentation that needs to be changed to make<br>
this scanner "work". :)<br>
<p>
If anything is unclear, please don't hesistate to ask.. :)<br>
<p>
Sincerely Yours,<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Ray Curtis: "Sane-0.74-2 &amp; HP4c"</a>
<li> <b>Previous message:</b> <a href="0023.html">Hugo van der Kooij: "Re: Slackware Linux compilation problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
