<!-- received="Sat Aug  8 14:46:05 1998 PDT" -->
<!-- sent="Sat, 8 Aug 1998 23:43:08 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Sane-0.74-2 &amp; HP4c" -->
<!-- id="" -->
<!-- inreplyto="13772.47640.470217.407977@picard.ray.clark.net" -->
<title>sane-devel: Re: Sane-0.74-2 &amp; HP4c</title>
<h1>Re: Sane-0.74-2 &amp; HP4c</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sat, 8 Aug 1998 23:43:08 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#30">[ date ]</a><a href="index.html#30">[ thread ]</a><a href="subject.html#30">[ subject ]</a><a href="author.html#30">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Ray Curtis: "Re: Sane-0.74-2 &amp; HP4c"</a>
<li> <b>Previous message:</b> <a href="0029.html">Ray Curtis: "Re: Sane-0.74-2 &amp; HP4c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 8 Aug 1998, Ray Curtis wrote:<br>
<p>
<i>&gt; &gt;&gt;&gt;&gt;&gt; "hvdk" == Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; writes:</i><br>
<i>&gt; </i><br>
<i>&gt; hvdk&gt; On Sat, 8 Aug 1998, Ray Curtis wrote:</i><br>
<i>&gt; &gt;&gt; </i><br>
<i>&gt; &gt;&gt; I have just installed this version and now am trying to get it to</i><br>
<i>&gt; &gt;&gt; recoginze the scanner. The scanner is recoginzed by the scsi and I</i><br>
<i>&gt; &gt;&gt; have a link in /dev/sgd --&gt; scanner but when I try Gimp it only</i><br>
<i>&gt; &gt;&gt; brings up two choices pnm:0 &amp; pnm:1 neither of which is my scanner.</i><br>
<i>&gt; &gt;&gt; </i><br>
<i>&gt; &gt;&gt; I installed this as a rpm and from what I read it is supposed to </i><br>
<i>&gt; &gt;&gt; detect the scanner, but I must be missing something here.</i><br>
<i>&gt; &gt;&gt; </i><br>
<i>&gt; &gt;&gt; I have read the sane-scsi &amp; sane-hp manpages with no luck. </i><br>
<i>&gt; </i><br>
<i>&gt; hvdk&gt; Did you change the config files? And can the user that starts gimp</i><br>
<i>&gt; hvdk&gt; actually use the device?</i><br>
<i>&gt; </i><br>
<i>&gt; No I didn't change any config files, are you talking about</i><br>
<i>&gt; /etc/sane.d/* ?</i><br>
<i>&gt; </i><br>
<i>&gt; As far as the user using the device, which device, yes I can start</i><br>
<i>&gt; gimp and yes I have access to /dev/sgd with 666 permissions.</i><br>
<p>
Just another thing. Is the scanner the fourth device on the SCSI bus? <br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Ray Curtis: "Re: Sane-0.74-2 &amp; HP4c"</a>
<li> <b>Previous message:</b> <a href="0029.html">Ray Curtis: "Re: Sane-0.74-2 &amp; HP4c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
