<!-- received="Tue Aug 11 11:21:41 1998 PDT" -->
<!-- sent="Tue, 11 Aug 1998 20:18:36 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Mustek MFS-6000CX + Adaptec2940U" -->
<!-- id="" -->
<!-- inreplyto="XFMail.980811125917.skn106@psu.edu" -->
<title>sane-devel: Re: Mustek MFS-6000CX + Adaptec2940U</title>
<h1>Re: Mustek MFS-6000CX + Adaptec2940U</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Tue, 11 Aug 1998 20:18:36 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#48">[ date ]</a><a href="index.html#48">[ thread ]</a><a href="subject.html#48">[ subject ]</a><a href="author.html#48">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Werner Arnhold: "Re: UMAX Astra 1220S, 0.74 seems to be dead"</a>
<li> <b>Previous message:</b> <a href="0047.html">Shawn K. Nocita: "Mustek MFS-6000CX + Adaptec2940U"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 11 Aug 1998, Shawn K. Nocita wrote:<br>
<p>
<i>&gt; Hello,</i><br>
<i>&gt;       I trying to get my scanner to work with Linux and sane with no luck.</i><br>
<i>&gt; I am no SCSI guru so I'm not sure if its a SCSI config problem. My HW on SCSI:</i><br>
<i>&gt; </i><br>
<i>&gt; Plexstor 6X SCSI CDROM device 0</i><br>
<i>&gt; Yamaha 4X/4X SCSI CDRW device 1</i><br>
<i>&gt; Mustek MFS-6000CX scanner device 2</i><br>
<i>&gt; Adaptec 2940U device 3</i><br>
<i>&gt; </i><br>
<i>&gt; During the "Bios" part of the boot up the 2940 correctly IDs all the devices</i><br>
<i>&gt; </i><br>
<i>&gt; During LInux (kernel 2.1.115) boot-up the plextor is ID ok, the Yamaha shows up </i><br>
<i>&gt; as being on device 1 and then is repeated on device 2 + 7 copies 2:0 2:1 2:3</i><br>
<i>&gt; etc.</i><br>
<i>&gt; </i><br>
<i>&gt; When I shut off the scanner and boot the Yamaha only shows up once.</i><br>
<i>&gt; </i><br>
<i>&gt; Has anyone got this combo to work?</i><br>
<i>&gt; Is this a Linux/2940U issue? or a Mustek/2940U issue?</i><br>
<i>&gt; </i><br>
<i>&gt; Any Help would be greatly appreciated</i><br>
<p>
This does sound like two devices that have been assigned the same SCSI ID.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Werner Arnhold: "Re: UMAX Astra 1220S, 0.74 seems to be dead"</a>
<li> <b>Previous message:</b> <a href="0047.html">Shawn K. Nocita: "Mustek MFS-6000CX + Adaptec2940U"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
