<!-- received="Thu Aug 13 22:08:02 1998 PDT" -->
<!-- sent="Fri, 14 Aug 1998 01:10:53 -0400" -->
<!-- name="Dan Birchall" -->
<!-- email="djb@nospam.scream.org" -->
<!-- subject="Got a Microtek E3+! :)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Got a Microtek E3+! :)</title>
<h1>Got a Microtek E3+! :)</h1>
<b>Dan Birchall</b> (<a href="mailto:djb@nospam.scream.org"><i>djb@nospam.scream.org</i></a>)<br>
<i>Fri, 14 Aug 1998 01:10:53 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Dan Birchall: "Yay!  Well, almost. :0"</a>
<li> <b>Previous message:</b> <a href="0062.html">Marc Pentenrieder: "Problem with Mustek Scanexpress 12000 SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Well, I got a Microtek E3+.  It arrived yesterday.  I did the<br>
hardware installation, and although I was occasionally able to<br>
get the system to acknowledge the card's existence, I didn't<br>
get further than that.<br>
<p>
This evening, a friend came over; we rebuilt the Linux kernel <br>
and made some other adjustments, and it now recognizes the<br>
scanner (if only as "Scanner 3000A4" in /proc/scsi/scsi and<br>
'Vobis Highscan' in scanimage).  I'm still dropping libraries<br>
onto the system to try to get xscanimage to build happily -<br>
we used to have only 200mb of disk so many things were not<br>
initially installed.<br>
<p>
I'll be working on configuring things over the next couple of<br>
days.  Anyone else out there with an E3 who feels like offering<br>
guidance - let me know!  (And yes, I did apply the patch to 0.74.)<br>
<p>
Thanks,<br>
<p>
-Dan<br>
<p>
<pre>
-- 
Dan 'Shag' Birchall, Moorestown, New Jersey.  Spam delenda est.
Made possible by Cannondale, NEC, Red Hat and viewers like you.
<a href="http://www.scream.org/maisha/">http://www.scream.org/maisha/</a> - The Unofficial Maisha Fan Page.
H.R.3888 - Congress's way of saying: Shut up and eat your spam!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Dan Birchall: "Yay!  Well, almost. :0"</a>
<li> <b>Previous message:</b> <a href="0062.html">Marc Pentenrieder: "Problem with Mustek Scanexpress 12000 SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
