<!-- received="Tue Aug 18 02:11:55 1998 PDT" -->
<!-- sent="Tue, 18 Aug 1998 11:11:33 +0200" -->
<!-- name="Nicolas Lucas de Peslouan" -->
<!-- email="nicolas@intercab.fr" -->
<!-- subject="last night dream : --userstart=1 --outputfile=foobar%d.pnm" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: last night dream : --userstart=1 --outputfile=foobar%d.pnm</title>
<h1>last night dream : --userstart=1 --outputfile=foobar%d.pnm</h1>
<b>Nicolas Lucas de Peslouan</b> (<a href="mailto:nicolas@intercab.fr"><i>nicolas@intercab.fr</i></a>)<br>
<i>Tue, 18 Aug 1998 11:11:33 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#80">[ date ]</a><a href="index.html#80">[ thread ]</a><a href="subject.html#80">[ subject ]</a><a href="author.html#80">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">R Pickett: "New plea / thread regarding Mustek 600 III EP Plus"</a>
<li> <b>Previous message:</b> <a href="0079.html">Jim Ford: "Re: Umax Astra 1220S - on/off button?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi there !<br>
<p>
Again, I'm back after a short busy time.<br>
<p>
Last night, while waiting for my eyes to close, I got a new idea - Here<br>
it is :<br>
<p>
The Umax Astra 610S scanner have a "scan" button in front of it. I think<br>
it is not the only one, but I don't know. According to the documentation<br>
I get from Umax, the scanner return a flag in request sense if this<br>
button was pressed since last request sense. Some other devices might<br>
have a "scan button", including digital camera that allow the user to<br>
shot and take a photo.<br>
<p>
All this put together, I think it would be nice to have a backend option<br>
(--userstart=1) that tell the backend to wait for a user action on the<br>
device before starting a scan. Of course, backends that doesn't support<br>
this and devices that lack a "scan button" would ignore this option. <br>
<p>
Another frontend option (--outputfile=foobar%d.pnm) might allow the<br>
frontend to request scan "forever", with a different output file<br>
everytime. I think this go the same way as Oliver "xerox" frontend.<br>
<p>
Yes, I know, there is no way to stop such a frontend, and all other scan<br>
options (width, resolution, ...) can only be changed from the<br>
keyboard/mouse. But on the other hand, one can scan the 476 150x100<br>
photos of her travel on the moon just by pressing a single button.<br>
<p>
Any comments about this ?<br>
<p>
	Nicolas.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">R Pickett: "New plea / thread regarding Mustek 600 III EP Plus"</a>
<li> <b>Previous message:</b> <a href="0079.html">Jim Ford: "Re: Umax Astra 1220S - on/off button?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
