<!-- received="Sat Aug 22 09:05:34 1998 PDT" -->
<!-- sent="Sat, 22 Aug 1998 11:03:08 -0500" -->
<!-- name="Doug Bercich" -->
<!-- email="dougberc@gte.net" -->
<!-- subject="Re: Getting UMAX scanner to work with Future domain 1" -->
<!-- id="" -->
<!-- inreplyto="Getting UMAX scanner to work with Future domain 1" -->
<title>sane-devel: Re: Getting UMAX scanner to work with Future domain 1</title>
<h1>Re: Getting UMAX scanner to work with Future domain 1</h1>
<b>Doug Bercich</b> (<a href="mailto:dougberc@gte.net"><i>dougberc@gte.net</i></a>)<br>
<i>Sat, 22 Aug 1998 11:03:08 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#102">[ date ]</a><a href="index.html#102">[ thread ]</a><a href="subject.html#102">[ subject ]</a><a href="author.html#102">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Huub Reuver: "Starting problems with a mustek scanexpres 12000sp"</a>
<li> <b>Previous message:</b> <a href="0101.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0087.html">Zot O'Connor: "Getting UMAX scanner to work with Future domain 1"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0113.html">Oliver Rauch: "Re: Getting UMAX scanner to work with Future domain 1"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Zot O'Connor wrote:<br>
<i>&gt; </i><br>
<i>&gt; I am having problems getting my future domain controller</i><br>
<i>&gt; (old ISA) to recognize my Vista S8 scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; The controller worked extremely well recently, but I</i><br>
<i>&gt; replaced it when I upgraded.  I have an UDS-1101 (or whatever)</i><br>
<i>&gt; working as a full SCSI under NT.  I though I'd move it to Linux.</i><br>
<i>&gt; </i><br>
<i>&gt; I have a jaz drive on the card too, it works.</i><br>
<p>
Is this a dual boot system then?  Does this configuration work under<br>
NT?  If so skip to the next paragraph.  If not, do the usual SCSI<br>
troubleshooting first - make sure there aren't duplicate target ID's,<br>
and that the bus is terminated correctly.  Cabling is always suspect as<br>
well.<br>
<p>
Now on the Linux end, be sure you have the latest kernel SCSI drivers<br>
and that the kernel has been recompiled with them, also making sure that<br>
all the required SCSI support is compiled in as well; i.e. SCSI hard<br>
disk, SCSI general, SCSI tape, etc. as necessary.  From the looks of<br>
your system you'll need at least general and hard disk support (for the<br>
Jaz drive).  Before the recompile you also need to modify a scsi.h file<br>
to increase a buffer size.  Exact procedures for this are in the<br>
sane-scsi manpage and sane documentation.<br>
<p>
Good Luck,<br>
Doug<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Huub Reuver: "Starting problems with a mustek scanexpres 12000sp"</a>
<li> <b>Previous message:</b> <a href="0101.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0087.html">Zot O'Connor: "Getting UMAX scanner to work with Future domain 1"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0113.html">Oliver Rauch: "Re: Getting UMAX scanner to work with Future domain 1"</a>
<!-- reply="end" -->
</ul>
