<!-- received="Mon Aug 24 23:11:23 1998 PDT" -->
<!-- sent="Sun, 23 Aug 1998 22:14:42 +0200 (CEST)" -->
<!-- name="Oliver Breuninger" -->
<!-- email="ob@seicom.NET" -->
<!-- subject="sane Port" -->
<!-- id="199808232014.WAA18068@hq.seicom.net" -->
<!-- inreplyto="" -->
<title>sane-devel: sane Port</title>
<h1>sane Port</h1>
<b>Oliver Breuninger</b> (<a href="mailto:ob@seicom.NET"><i>ob@seicom.NET</i></a>)<br>
<i>Sun, 23 Aug 1998 22:14:42 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#106">[ date ]</a><a href="index.html#106">[ thread ]</a><a href="subject.html#106">[ subject ]</a><a href="author.html#106">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0107.html">Brad Walker: "apple color one scanner question"</a>
<li> <b>Previous message:</b> <a href="0105.html">Dominique Pivard: "Re: Sane 0.74"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I've been testet my Mustek MFS-8000SP with sane 0.73.<br>
<p>
My Scanner is in use with an ADF.<br>
<p>
The feed-in works fine, better than with previous versions.<br>
<p>
But the scanned result is left-right flipped, the top-bottom<br>
orientation is correct.<br>
<p>
regards<br>
<p>
Oliver Breuninger<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0107.html">Brad Walker: "apple color one scanner question"</a>
<li> <b>Previous message:</b> <a href="0105.html">Dominique Pivard: "Re: Sane 0.74"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
