<!-- received="Tue Aug 25 08:50:23 1998 PDT" -->
<!-- sent="Mon, 24 Aug 1998 16:49:30 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Getting UMAX scanner to work with Future domain 1" -->
<!-- id="" -->
<!-- inreplyto="Getting UMAX scanner to work with Future domain 1" -->
<title>sane-devel: Re: Getting UMAX scanner to work with Future domain 1</title>
<h1>Re: Getting UMAX scanner to work with Future domain 1</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 24 Aug 1998 16:49:30 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#113">[ date ]</a><a href="index.html#113">[ thread ]</a><a href="subject.html#113">[ subject ]</a><a href="author.html#113">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Tilman Vogel: "Mustang Paragon 1200 SP (bugs)"</a>
<li> <b>Previous message:</b> <a href="0112.html">Oliver Rauch: "Re: Umax 610P Scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0087.html">Zot O'Connor: "Getting UMAX scanner to work with Future domain 1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Zot O'Connor wrote:<br>
<p>
<i>&gt; I am having problems getting my future domain controller</i><br>
<i>&gt; (old ISA) to recognize my Vista S8 scanner.</i><br>
<i>&gt;</i><br>
<i>&gt; The controller worked extremely well recently, but I</i><br>
<i>&gt; replaced it when I upgraded.  I have an UDS-1101 (or whatever)</i><br>
<i>&gt; working as a full SCSI under NT.  I though I'd move it to Linux.</i><br>
<i>&gt;</i><br>
<i>&gt; I have a jaz drive on the card too, it works.</i><br>
<i>&gt;</i><br>
<i>&gt; The Scanner does not seem to report to the kernel module (it is at ID1)</i><br>
<i>&gt; Aug 14 15:19:30 eater kernel: scsi2 &lt;fdomain&gt;: BIOS version 2.0 at 0xca000 using</i><br>
<i>&gt;  scsi id 6</i><br>
<i>&gt; Aug 14 15:19:30 eater kernel: scsi2 &lt;fdomain&gt;: TMC-1800 chip at 0x140 irq 15</i><br>
<i>&gt; Aug 14 15:19:30 eater kernel: scsi2 : Future Domain TMC-16x0 SCSI driver, versio</i><br>
<i>&gt; n 5.44</i><br>
<i>&gt; Aug 14 15:19:30 eater kernel: scsi : 1 host.</i><br>
<i>&gt; Aug 14 15:19:30 eater kernel:   Vendor: iomega    Model: jaz 1GB           Rev:</i><br>
<i>&gt; H.62</i><br>
<i>&gt; Aug 14 15:19:30 eater kernel:   Type:   Direct-Access                      ANSI</i><br>
<i>&gt; SCSI revision: 02</i><br>
<i>&gt; Aug 14 15:19:30 eater kernel: Detected scsi removable disk sda at scsi2, channel</i><br>
<i>&gt;  0, id 5, lun 0</i><br>
<i>&gt; Aug 14 15:19:30 eater kernel: SCSI device sda: hdwr sector= 512 bytes. Sectors=</i><br>
<i>&gt; 2091050 [1021 MB] [1.0 GB]</i><br>
<i>&gt; Aug 14 15:19:30 eater kernel: sda: Write Protect is off</i><br>
<i>&gt; Aug 14 15:19:30 eater kernel:  sda: sda4</i><br>
<i>&gt;</i><br>
<i>&gt; [root@eater /root]# cat /proc/scsi/fdomain/2</i><br>
<i>&gt; Future Domain TMC-16x0 SCSI driver, version 5.44</i><br>
<i>&gt; [root@eater /root]# cat /proc/scsi/scsi</i><br>
<i>&gt; Attached devices:</i><br>
<i>&gt; Host: scsi2 Channel: 00 Id: 05 Lun: 00</i><br>
<i>&gt;   Vendor: iomega   Model: jaz 1GB          Rev: H.62</i><br>
<i>&gt;   Type:   Direct-Access                    ANSI SCSI revision: 02</i><br>
<i>&gt;</i><br>
<i>&gt; Yet when I scanimage --list-devices I get some recognition:</i><br>
<i>&gt;</i><br>
<i>&gt; Scanlist</i><br>
<i>&gt; [umax] attach_scanner: opening /dev/sga</i><br>
<i>&gt; [umax] init</i><br>
<i>&gt; [umax] initialize_values</i><br>
<i>&gt; [umax] identify_scanner</i><br>
<i>&gt; [umax] do_inquiry</i><br>
<i>&gt; [umax] check condition sense handler</i><br>
<i>&gt; [umax] check condition sense: ILLEGAL REQUEST</i><br>
<i>&gt; [umax] -&gt; no error</i><br>
<i>&gt; [umax] -&gt; illegal field in CDB</i><br>
<i>&gt; [umax] check condition sense handler</i><br>
<i>&gt; [umax] check condition sense: ILLEGAL REQUEST</i><br>
<i>&gt; [umax] -&gt; no error</i><br>
<i>&gt; [umax] -&gt; illegal field in CDB</i><br>
<i>&gt; [umax] attach_scanner: scanner-identification failed</i><br>
<i>&gt; [umax] attach_scanner: opening /dev/sgb</i><br>
<i>&gt; [umax] attach_scanner: open failed</i><br>
<i>&gt; [umax] attach_scanner: opening /dev/sgb</i><br>
<i>&gt; [umax] attach_scanner: open failed</i><br>
<i>&gt; [umax] attach_scanner: opening /dev/sge</i><br>
<i>&gt; [umax] attach_scanner: open failed</i><br>
<i>&gt; [umax] attach_scanner: opening /dev/sda</i><br>
<i>&gt; [umax] init</i><br>
<i>&gt; [umax] initialize_values</i><br>
<i>&gt; [umax] identify_scanner</i><br>
<i>&gt; [umax] do_inquiry</i><br>
<i>&gt; [umax] check condition sense handler</i><br>
<i>&gt; [umax] invalid sense key =&gt; handled as DEVICE BUSY!</i><br>
<i>&gt; [umax] check condition sense handler</i><br>
<i>&gt; [umax] invalid sense key =&gt; handled as DEVICE BUSY!</i><br>
<i>&gt; [umax] attach_scanner: scanner-identification failed</i><br>
<i>&gt; [umax] attach_scanner: opening /dev/scanner</i><br>
<i>&gt; [umax] attach_scanner: open failed</i><br>
<i>&gt;</i><br>
<i>&gt; I have had parity errors with this card and an old NEC Cdrom.</i><br>
<i>&gt; I though that was fixed now.  Any ideas?</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
Hi,<br>
<p>
please send me the output of:<br>
<p>
ls -l /dev/sg*<br>
<p>
and<br>
<p>
cat /proc/scsi<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Tilman Vogel: "Mustang Paragon 1200 SP (bugs)"</a>
<li> <b>Previous message:</b> <a href="0112.html">Oliver Rauch: "Re: Umax 610P Scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0087.html">Zot O'Connor: "Getting UMAX scanner to work with Future domain 1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
