<!-- received="Tue Aug 25 09:28:46 1998 PDT" -->
<!-- sent="Tue, 25 Aug 1998 17:18:56 +0200" -->
<!-- name="Tilman Vogel" -->
<!-- email="Tilman.Vogel@altavista.net" -->
<!-- subject="Mustang Paragon 1200 SP (bugs)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustang Paragon 1200 SP (bugs)</title>
<h1>Mustang Paragon 1200 SP (bugs)</h1>
<b>Tilman Vogel</b> (<a href="mailto:Tilman.Vogel@altavista.net"><i>Tilman.Vogel@altavista.net</i></a>)<br>
<i>Tue, 25 Aug 1998 17:18:56 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#114">[ date ]</a><a href="index.html#114">[ thread ]</a><a href="subject.html#114">[ subject ]</a><a href="author.html#114">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">Walter Gyr: "MUSTEK Scanner"</a>
<li> <b>Previous message:</b> <a href="0113.html">Oliver Rauch: "Re: Getting UMAX scanner to work with Future domain 1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
--------------A132267DCB51E2FDE8DF6220<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Dear developers,<br>
<p>
I experienced some problems with my new scanner.<br>
<p>
When scanning in color mode one can see the limits of the different scan<br>
stripes. At the line where two stripes meet, there are convergence<br>
errors (Maybe because of interpolation?).<br>
<p>
I am attaching a small image showing the problem.<br>
<p>
It is a scan of a centimeter ruler in 600 dpi, color, normal scan speed.<br>
(Zoom it to see the problem)<br>
<p>
Changing the stripe-height option in /etc/sane.d/mustek.conf seems to<br>
have no effect at all...<br>
<p>
Can you help me?<br>
<p>
Thanks in advance!<br>
<p>
Tilman<br>
--------------A132267DCB51E2FDE8DF6220<br>
Content-Type: application/octet-stream;<br>
 name="sane-bug.xcf.gz"<br>
Content-Transfer-Encoding: base64<br>
Content-Disposition: attachment;<br>
 filename="sane-bug.xcf.gz"<br>
<p>
H4sICGukzTUAA2dpbXBfdGVtcC4xMjUxMTEueGNmAF2ba2gj25bfu3zunUlm8vwQLk4MHoEN<br>
CpI+CBVRikhQGhWI+iCEQEISKpAKpUYqUpWoxgjbdJtuTEcGWVhggWWEEUIIGWSQjbvphs58<br>
D/k+CZNwIXOZ3DmvfvmpV1Ul/1U+hzmTNrbVUtXaa6+19t7/397lsqpX/2Sn9Gd/8meqpjx7<br>
9oz5I/z4Z8+e/v1zeoN59nf/gn/38u9d+Md/Kpf+Q/nP/1PtP/57+u/KT2//Ab5/he//i+9/<br>
8NNrMvcPf3pN//7oF6//+Bev/9EvXv/jX7z+pz/Z+vnfH/7is5///a//z8Vv8L149uzfXuL7<br>
v+D7v/79z5l/+ezZP/nzZ8/+1V89e/av/92zZ/+mRZ8+8HKj1emd9VrHbbPdbbWt9nHLarU7<br>
d52jxl6tnBZEXowKd0IspRivGwf1xlEbn590Vjofj9u4qXPaOGi0uFjtqN05c25tMa1F86h1<br>
2Kgz9WlNlbKJWIgXGXGWTmX1vf3Do8XRcQMtMJ3Hk9Zp5+jw4LDVsdAc01gE+Oxeo7PstJqH<br>
LbvVNJuwMqu/rlWVXBImfoiE44lURjFqL181mu1mo3nUPm6fLE7Q+HFj0WgdN4+av202WgEu<br>
qlEbJ412q35Qf71X04rZhBiLxsSYmJHU2ry2Xz+E+/P2QYP6xLStVrNlto5beGkevT5sPDRa<br>
PjacfN46Pusuu+3G/p6592JLXsi5BB8Rl2IskSvdlPTdl3v1Axg6bR226l/rMNBoHjSPTtqd<br>
dqd1uDw8ahz6Hn0cL+Oik+7J8qSxXS3NSrlUUojEkrMkYmLsvdyz9vYb3zfaJ110vXVcbzRb<br>
6FnzGEba8KrxGu7s+/zwZ6fVPrk7abdeqOVUMiXGIuJUlAql2u6r13Wz/mqvMWsctjvddhNd<br>
a9YPj1sdu9OatjpIVrPVfGm+fKX5PvkCQb6wj6Ze71Z0LSWIEXEuJvPG85d1q/6qbtcbS2T1<br>
qDVrdXvdYyRh2mh2TvB11FrCsWb9tr5dMwo+r48Ninqj/qW+reZkJSvGxUQqX3reRBk1yMys<br>
cdRoHXVanTlcajUPGvNG6+QMDX/brDcOGzsvalop4wuwHJ/dbR419o2SYimZuB0XH8Q4QrNf<br>
b9T3yZDZOGwe3R0hPqco0EOUHOrnFnFHoTRe7u2gzjymBw598QWjpe2aLivazt5+HXG0j5rL<br>
JlIMZ1AdRyiHGdpuHqJ+mOZdY//VTk1XskkxGReWQiwR8634bjwBNqps72iFkvbi+X7DbqDf<br>
CN/h9LCNW1tNqu2/bhwctY5aCHLrsL63u2OUC0kxEY8KsbgIR7y+mY/lJbiiTBX9+d4+BdSE<br>
FapTRIKcQu2Z9QMyfnTcbKw0pnu7W3o5l4gmHhNCDMa8Hq+P8T0gytWdmrFbp3btw9bHVuP4<br>
pIXahhnEp91qHLbQGaZlHTRefXmFJqW4EAuhMxExJfksnwdWvqB8UrX9QwyPxuFBEwPVbnVM<br>
jL+m5fRncdQ+RbbMVvvg6Oao/urltoYOhYNcmE/Ok2K6XPN6LPhj+/wLf1AoN6iymJZ5UG9i<br>
zCw73VPqGsJ72LAaVLWHTVhl0KmaWs4IkTDHcDNBTEiyto2RLip6tWbVKvJSLqsVhVF+X5AK<br>
il6RcgmRZz2s1+dmfX5OSEqylDWz+LmUZKVcsSrFwpdCXikruVS2sBlMa7pmoGoKMGHKRaVo<br>
FrOp7F1WjPJcwOv2+mFkzvHxVEYqPBSy+VxJKSolCXdIOSa3kBQ5l5EWktvDSzqjm1qxpJqq<br>
nJN+kLL5dFwUQqyP9Xnd/iAmsUQqfZ/OFuFQLisXpKJVlJTPigwbUiFbyGfkTbcvruhf9ape<br>
QQ6yUjaVECMcgm95fCzDmlwoljST2VzhvxeKZSmTzWQLipyX8gVZUasVBZ7kpJJrw81JenWr<br>
pleVfDoZn8UjIc7v9rE/sChLAQMjnZIQgIoiZQpwxy5mp1mpgOhoKmotl85lCzCy2PDFlKr+<br>
oBs7W1JShA3WZr2P3kCQC4ZpdD1m08mUVFLUknQryQVErYCeZBFZS5FL35akXFZKu9wuTzCr<br>
V7WaoeeTIscGUdcY9xFk8jaRTOcySAMSpyryjVwsSWlJLpYRD/x/KRdkKckkP4sb6JJPkBGV<br>
YiaeSnC+JUwEuEcujrzmkqmcZFOOlZJiK5VpRUay01IRCWWKt3JJVvJSJhEXQ5sbrkeXm00q<br>
FTkpCj9g2gqwMBMU0jKSmZJyeUUu2AVyH4bkBzkPz+SKUpGorxkpG8daxNmci3H9fsPl4bJl<br>
JRULob5ZFHkskSnIZSQtZyJ+MiNbSrn4Y1EuFfLwD2kpFvI5RD7OY/IPB/2uO9cmdSsml3Ji<br>
DLX9hQ0J8XyB7ihKqbyURSUWSohCPltUFkouXyxk7azESEuqCt7mcQ/D2n7XiovZmLm5VD6X<br>
FPjPfCQaz8BMqSjBjVQmi9jIFkpumc3kS8XPRSkDX1CAcCXGh7kggokaR59WYMUblTLJiHgj<br>
UmpQEgX4kZdxLyUYrVuoE0b6mJUd69kkCpznWG8w4PFNfWzAtbmx6d6Yb7iDKSmdslPSDYo4<br>
UywoKNACSj47w6DIZcpywSooqBoMt2wpm8Y8AyNzr9vn93pYk+U3XLZr4wvSvumJSIpaQWfk<br>
XEH+gsyqSFU+m8ukM1m5XGSKjHRXVApSKpESMdQ8m4+bbk+AwyweR2C+2Vi6AwlNt3WEIE/e<br>
o8okWcegzaLMc3kaxzJVj5XNw6d0YpaI+Vm/e8Ntu31zLE+cmCiY695onIlPEwIX4iJ8+Cn2<br>
dxjRQTbg2XCt48tCoaO4vFiKgliPGM4OhWdhLoQAs8H7YJjDNMCtutgYZIiJsRRiQr/mZrDv<br>
Q1su07VGJjbcjHvqwQBDTKm8cSvHhvBrhbXwaoV9WF3zYOxhbopGlmSFW+EYr+XeQF/tdfxY<br>
YgZhAxY8WHJBP80ZdKPNorkZFyWzQdaCI8tVV1DEOokcxZYxvB+cBzm/z725zqwv0B3kcbnp<br>
hWLAxewjCxd8AUxhsGcHOUxDPNY6HtOJif6uMqufNvkEqi4Vj+LKgN/j9Wyswx+G/PF6fAtU<br>
GFxa4WzqyiLAsY5TMMRHMZ6CJnXU5lbnq2vrPjGemCZSuayIOcsz82y61tfWN133iC0iyAa8<br>
/gB1mrU4PmBCh3AWF8YEHUbMwnhNHgfg0WxtI5RMxROZRUYUwh7UE3pmutY97gdUWcDPBikU<br>
NuvYmlK4MRbC5BEXskMwyPoDrGd1ZXW27oulMHsIK8LSv4E8oV+PLp8TEj9L3tvkO27i75F6<br>
ylkINrgFvoO0Zs19Xs/m6m9WZ6trLg65475BGDZMKhvT5fbjwiCLsrG4IFUNT9HlgjMKOOog<br>
9H0IofFjyvWj1Nwb/+I3q2ur656IaGIqpXUh4N5gNmwv+8BSa34v+kXzQhh9+IabU9GxXOgB<br>
FtEK8kvLL2KBfi1/g2oUZjR8PV63a+nU7q84O4ArAnYA/oScCWaKqCDRoSC7hC2qnoDX9m4u<br>
Nt3IzOqvVh/W3BgTHJzbdJtuRIQ6jhsWFB5KFSrIb/thy2T9VDv4bA5XvLjB3kSJWBvrq79e<br>
ncIZnvOxHlxLaWG4ZZDas4Pwh96YowMYTfQSAwPVhDUtgMryujfWMVhd37j+cPVxg5zlQqiu<br>
GV2Ab7TFUSgDC9wSjv4UZouln1PWs4nBt74GL2xnCK9aSNQ3KB4vj4Uy6gSArkMi4HbAb6Eo<br>
EAaeCzJBGuK44B6F5HZRYWAIL1xrG5u+1T9YvVtzBeOpeCTMUmnfITd8CE6j8Jx6weBkf7IR<br>
oCy6XWsWDEzXUBQbGHfcHBIdpASmme1vG3o5JUaYiMlH42kmPc1VjN39o2Mipfv2aQcI02l3<br>
+4PRl1G/1+13T06P64aaT4tRAhJSU/W9r3tGLp2ASuV4CIBErmyVtd3p7n6rC4Ii0XZ6cmwf<br>
E7t0eqc9psd0mc5vjxpbNVop+XD7pF1//WrXUCQxHhGTqagYi2eKivESCu2+2YbK74BcTk7h<br>
kdU5Bu902qe9+x4ke91Q5BQvIAQsrqhva0o2kxDmQjSSiAup/5EqKNuQpSTIu71+74yQELYO<br>
iX6OWujc8eF+RUrEBIQsHGQRD3NPzaP6hVh4GRYiIibsomq8gDy2DxqPoIPTwajXdyCy3T2B<br>
HbsN+d18gF5/va0n4tCjv+WCKA0QiAoXRHxBmSVzyvbey/3Xr+ALHOgN7EH/sd87Af+08eNv<br>
oLjr+6/3dzQJ445DFgMY5DWjlCG5DtyYikI8JVWM/fq0/rr+ch+80Lf6vcHfDvqD/ulxk6yg<br>
kwf159tVBdMk68NIgLJ85EShCGIBElpiUrwVE7K25Yjsg+ZBa9FCaIe9294AP8/AYAhKo35T<br>
398zCukkFSjLCdxfcgIfz0ATxAR0JJWWEQ9QQfsEEv24i5v6w0Gvj9ronFBBfaw3Xj7f0vPx<br>
CLG5EAsKfDRtpuM5aINUIhIT40mIXUWvvdg/bM3BKocwsewMB12qi77ZO6HoMvXHl/u7O5V8<br>
OhGPzWJRHvEIIwzxbErRX+2/tF42mrfNRodIpd1HlbWbdvN4cdzp9k5A+Z3jx+Pmi2oxExMS<br>
0a9YmOJiPJcvaOpuo3nS/kwECjv1fVDp4fEhSP0T3u92ztpHh0fNdm/QRzzbM9TXK13OUOgi<br>
ZoQPJcwEFNRjQSvvoBKOWt3HbjuvGIjXa2Iwq9Vu/g7geNIjDCREPh30HGA+qT/XpRRqUrgR<br>
IpyYBGQUNfV5s3XyABI/6xgvAT2vF69B1M3WA+44Ou73jtsngCbqUqfV+NqoN/afG0o8Gg5F<br>
eAyZZTiBID7qe6+POmf9Yac767brHcQBKbg/PoXrRzBzRgiEEQSc6naar3a2aotaSUoJNPPw<br>
XwTEVVSM2t5Bq9sfDc6RgOlpp9dHdBqgrhYxOgj5EDY+No5Q4hiDRweGVlYKjjCzOf5HHglN<br>
pHP6q716q9MbDs5G/bPBs8ECMr2oyAu5UMzGxQVKCas24zVJ8txyIeg/cFZZzheIqIvKirIo<br>
Q8RX1KVaNXQo649yQsQo8slqGWobaiqGmXfBBgNP4Io1MJZML9NZ4IEFyTaXCuWSXIQsXlEY<br>
1dbUhaorxRwSxrNQjh5fCfSSTS4x24Qxy3qxzAQxMc78wYiQyEipRSpPdEJi7UeppJJfBaUI<br>
+MCbqpIV+QXPeX0e90d3qVwpxAU+yAfA0B5aAMP3EOcpEo1QodpHdKLsQEYWcl8pwJKqzGAL<br>
DXs9psftcc/cBbmQwmpk+7DUuS23BxqZDYnxz3FgQDaXBnxpVb2sgTQsYBNQENoxT/r4AZYz<br>
Cd7vgQ5+cG9idcqnxLCf1lQmYPm8kGZcdBpNp5KZNLjnVipVShVDrxqqkicCteXCEpyQgVDO<br>
xQXOSzp0437DvenxuRNJcC2thkssrQEsiJhy5GzGzqTmqUyhqNQ0k1jWNMBPlqyUFlDNkP9L<br>
wBvVE7q24b5zuza9ngAbFpBvQnHL0TDxJYZ8ljItrUjTIsKkKxVNX+qaUkLO7FL+Sz5dzGYE<br>
yCIIQazdPvcCOoolpeT3IkDcA60sCWLAEvoBpV26L8EGirGiVjTlEWiVy0MiJjFaiWhvHUtu<br>
ZCnCBWNY1mkdZMP4NJGep8Eb8GKpqFoJvGHLlZXKDYIOEgBhptKZJI8FgQUwWD7Sxfde6LdU<br>
MpGETsIHWKKyC3hS/Bnn1Ee1lMvkKyqGxielrCJ50hO8sLTT4pkDrzmvn/srDsMlB3IN0hAQ<br>
iUwllKmDxrpK0ZQVnYDdVtTvUHfpBPieQ83TPoEj1qPJLJN9lNWSHBbiTwxkSTSGCtm/BqxT<br>
QIu5bKagaqqUh4MY7CIqzRNwe923blJvPIc4AiXlexnFnchKJTClNJPKwFZg+1wxyrJCuxl5<br>
jK17tZgFpWJhFwKev/RAbFNuAtSNZLZQRivwvJStaCpazYNlKQtFtA64RNtfpWIJzAp9m0xQ<br>
LFDrm+7/TRjmZoWYiGVAq6E4ywW9rBhVHWs3obpsy8VZsSCBU7N4nZ/nJblcytOmphgBEvho<br>
o8eNoeO7R6GGEulkSlZ1Y2FohlqqPKswvBlmSTuZYc7nXXg9T1rY0WEWAAaDDXppSlQCLecP<br>
3kJD8UAegY8IMSFiR5BijHWSzyHM+xzpbwwKSGHCRnvD9SsX4za9jtDERIRpak5q0FHGVjhE<br>
06LNR6YRgfCX9UJAz1wbHCZ+Enc+qDnAgrm+uQFRvI5xvHT7g8RUQZ7hofItnlQsBKFNevkL<br>
hB0fpX6gdWhJFy56DLEQt75NcOGS2BBiecMH7bcIQD6GMVVFI1EiAwtGUPLEEHeUeKxgnBcI<br>
RkS/Cn5chtnNjXVrnbxZW3eksgdQChmJrj3hE8lCyFCoag64SRUYJKQxg36S9ECFNXvNNXet<br>
Q7J4KCzrjMvcACKasOB7hKkgFwlFRMEUeEqIHQ5ZCBcmX5AeMYh307UKE6v26tpyzbXpwo3u<br>
jbXbNYrOuot4Ak1CI/sZdkHe8FE7yq/wTOgpzuw9EkBrwiYpZGbNWqUcz1Bk4Lo1dAtvWy4P<br>
LCyD3NMdT0gWWYTCfDjyRNr2Tx8EgQS+DSj9lXVkyH4i5gXivr6KkC0wsWEU/xp0RfeQyEaf<br>
kA7qFhmg/TP0+t4Htb1OW0ouiqkJ+EGKqT8P65sEmQgKxWIWeiIfshNx1lKGvycnAY5+z6Z7<br>
A+CCStlkNm9J/bs2A8AMOLOxAALABhN0MMbEHfwjD8+pFsMEwVGeMr/Cmn4UMRiZaoQQZsU1<br>
hQMsZpSNTXPTS6sGrrJpgkMIZnADUw35E+YpRyH+Ae+A8r1wBrGg3tgbm3PaVmIdtp2i6okm<br>
WCw+d0GnP0AwwekNgRx16ivYLehYRAlTmn6PgYjixZrjBZ3S6EEPvIRSPvaOxpETFUgcYjsA<br>
L8ITpnKxHAHgp7xSmT0Qtbt9Hj8qnuEfwkRAbIRwk/YQeBMM9eQi3grSNsmN4wUolQ1i+nGh<br>
7lfXV9aZte9dbg/6gNVFIF2FaEZjkTARXtDxDkj3M4YT2HHhR5jBpO73bdJApuFjrdMGCULK<br>
+u/9wRBmNj4aYvnQDPUQQAXzn/kwpHN2q9Ha39t/3TiC/n5oENcMx5OL8dAa9vomBBj0lzUY<br>
977tDc7H54PRsNcZgFkGWJXJa+jpWzFdUp4fHuzX90EvzR/ohKnZ6Y8mF5PzwfnwbNA/6/YG<br>
t4Nzuu1iOOiPet2hPewtegPQADtleVIqilpb1l4dNQ+WB5Ca7UcA3lH7uNO7GM/gDpoeDZYD<br>
6MCBNRh2ze5Jd2gOQX5mtzcafB2cDbgQqkRM5cp6bReAtjxsQ8Lb7c4c8vOkfYYLB+OJObme<br>
jJnxPdigc9objEdnve7/6fbGo0H3DMxy1hshr7FkXipUdl68Bp/ZdLQ173T7Q8jnGVrvj8bX<br>
E2bCjB/OB/0uEGMAxmB6nyBVL/odx0h3yPHJYll9UGuvnu8ftE7axyf/7QTtDfEZ7hn1h2N0<br>
CPc5tw+G8AO+DDsUmNMu4exISEAB774E34F8GnRk2EUQ+7ipa3WHI5NsMOO7AZIyRI5GCMK5<br>
hezMR0jOaNCxOr3Rymhxni7UXtXn9cbBUbMBDU/ETPZ7XaZr90YWcmRdjPuzvpPcYW/ZGwz7<br>
yPx4tBxdTvq4ymyf9NHS9HxsbO/XUST2IQit0QLSmLh4ZI+6c5DwoD8+Xzmf9RCh0XjQs/DL<br>
Hg1WBtZoCFPnEO9M9+HsfHQ+GU+k8u6+vV+/re83WwdH3Q5uRkzsPu7qEvaNxpMx3kJIBsN7<br>
FCHuojCdj5djJKH7GaQ6upiML0Ai9Wa/c9pHSfS7dhfVej4mhrXAfsxgOUbbPbsHL+aovFNk<br>
bjZGcMZgugV+nVMlWDC0GI+O24dgJfg4pZycolzHUxQFgokfFoK9HFKqmJE16HQfusPzi8vR<br>
GdzqTrt9eHs1vpjYk/FnFOlxu9VonsFp3Ak7D9TQCMMALGqPxhYybfUoMExvcYouTeDoPbJ/<br>
1hvADKrChLnR4+iEsLWNJJvoBbl7ProY22Mqfnyfw9CwfwumGdLuRw/XTdA5RB+V+lOvmPFi<br>
QH1Ep27Bb73z6wuMF7xFTqBVuz+4GeA6ROOMbAzO6c3LyQ+TMbJFDZ6PxhdIRPd0ML7E8Ol3<br>
22a7N75eXl8iLPf48Hxw2oPJ0cVHvEQPKHXn5NJ4CLNM9yu1TzEcowD6w9Fk7ixAHjfj/t7n<br>
pvPLSjGVTtHWfB5KvFBUjaVR0zU6roLk04FiavWxSsrc0EA8tlJ+gMwvyLT15GxW015gKPpj<br>
NFXMpbLQz0VZSmfwu6wZmE00SPCvUNNKsayDNaBqdZVkulzWbE1eypqzgmzQlneIdojugRYS<br>
xJ5UKpfAIulCHncYjPGol/UKoWMO0lNT5QI0rVZxFL9G5z4l93dYTjGlhqOEkLk8SVW5Uobw<br>
JPSbl42tbaNKFAkjc0WSVYPO7syCUqUjF1umQxt5rmx6vLCxDEcTyZQFV0woTEhWAMWNppbB<br>
fnBf36lBmt6D92S1gsBUiQ91kIaqVeicoFSYFxSXj4sJ9wIm93QqByldAMrOKohhuUJdB/kZ<br>
taoKbW1XFJNoElECQJWrqgx8KUHvP4ASVS8nxpMpOr6AdpeLyh0goiKXDR19r+imDjxg9MeS<br>
UgY4ySUyVVH1ma4aelGSS9+ViopOGBQW0pmcVMjKEmS9XAYa69oSSKAqC7SibRmPSI6slEFf<br>
8NNWyY6ufdWqNSCmTKd8RlVTE7NENl+UM3nlo5IF6KmaXtW1okQ+aarxo6EVsmXcV5KJbUv4<br>
qijaVKsqcFxVKmYFV1taMX2flvJyTlKVokxJsA19ipuKBXiq26TX4byqzTQygD6Bo4rTIvJW<br>
onDfKXpVq6IadVlK5uycbAKLKIoriilVqrhbKRdVhAaq/9aoIqRAQdVxZlYhEK+UwXfk5vdg<br>
DOqXLhcSyXSxBMSqqojYPX7rarlI57vaAmjrnCxqlW8rYEPQaRUfaEqeuq0RWlSBvlqleFvM<br>
JdIqMog6UyrlOQpew3WmolZQs0gDsEkhrr2VC1pFNxSZuqCotqovcCm6xBhWWZW/yKV0oqhW<br>
t56jWmChSnitVpiKrdIVWgUFqzGaidEE4xhmS0OVaafEUp1T0xqqCrdV5Ae5XEhkyvrzHQOF<br>
D4gFV1cUGjP3aF5Hb0pUG3MMIBSNMTU0OvFDWzfw06gqBQyiquEcbiZvkpXadg2dQI1oAMEF<br>
ONEZmGZZziM6FfUT+lpGpHVUsYSlF0Gg3QB1rtL5uGpYa6tr87VVZ7/6I3Sn1zlsAjKGnDMe<br>
EtmhSBT0RWKMg9B65MJCxMET4M7C2dtfW1lbAi2IS1y06+9z1CTJuSXuoRMER54y/ALiLkpH<br>
NCHnpEiwBDrsQYsLXAcluQhzfnZ9dWXVpBOnRzq88gVoC//X3O8gVelclRciITqbcc6uSHU6<br>
79LB10poygbXwCerdG724GFJ6EKdOscxTMgOOm2icV5gBIvnwg9hlqe9W96hr0eWzvLgRpi4<br>
glvD/LfpXnEvgaw+WP8cgmCG8Cd7IYQBAMrwdFj0iSIF/ehoZkQpyIaJTawgBySBI5aXDjCg<br>
uMEdRIiWEHaEOMWT8Mg5WVnh7sIQvSEEB8aDEPeIBMeThJ27gA8+f3BBhz7OMcVT/6O05UFm<br>
bD7MhE1cG1o4cEu8xM9BoXQOvUCoIYsfgU9QpXSEsmCd45IVbukA5q+5BZG0E0AestkKPp1W<br>
8nPwlgBr33CzcBRXOvfQSeLU4fAw7kI6g85+Gp2DRul1iF/yoaBzZEYHPJyDa1E6rHEOSi0k<br>
7OmwlLAhSMdQxGRTPkaWIPuZ8BLLTQTKNxQRKCDIBXx4osBPABUB7/O0oUrPH3DOMRAqioAQ<br>
V/JilL932uec7QHqfcQBWQJ+pOdneEQ8hChP4BMKm4glISvghYP3ETh2D3SNEtmhsJBlk96z<br>
uYiF67/hLOc4LuzsRqAzhMpR4Es05BB80G/6ETg7gvejQcotXkQI8+boDR8KO1SN4NJePU9P<br>
knB0PvgdndbRERP1jnN6gPKNxOKf43Q3hTdCqBNCKkD4/NOeBeCcDy2pHOCbQzwP5DH93wkJ<br>
yHtK9eQL8EJ8ERepfTRu8jD5DbcIC3CaTp14RvguRPsWPB3i0h3gKh4tBmlTIUz1ZYd8lo8X<br>
F2JchB9AzhBlldg0hLajuCzgbINEn9okQmb5yNLZU5nh/6jpoMPMg8V4cnk9Gd4OoWOh3Xvd<br>
dj1Fhp3R822YHgQplHdfNdst6PJ275zE5vn4yroaQbjZI2i70eR6DJl7dXkxPCPhCTJ4hFJu<br>
aWJCjCCFaCk8DYdiadXYetWYNYxq/fhsMH4YQ7cRJwzI0gwq/t14cv12+fYa8v4TqV9wz2hw<br>
dqhIGYHyaXFRRFdIF5RPys7LV6XMq/YZKG9EpDfoM/0ZROLVm+vx+d35+w9vr6CwoQtH/R/7<br>
JNN7rV0lJfKhCI3pSLywKJT0F8+VqdKCyB3DgDlwxOa0R9j04Wp0+Xh5/eE9rMHBOaEC2O7x<br>
YnDW3lWlGE1gn8K0j4nJv/bydRNyFUp6MMOFcGg8+m40vnz39s059Qg2AAiI3MQR8r+D+G3X<br>
a0o6irxH+Xgai5ux1+j0zkBdwwFg6G+cyJxfXr8d988nl28/XIOaxujFNfTp+Dso1n7nsL5j<br>
aKV8MhFPZuXq3nadnpj77hS8Crk7ujgfDanz128R4cn1u8W79xeD8duvb5Hri/74agKcPDtp<br>
1T/VX+/v1XZqOy9eNY9b9Wbn5JTwxuydTy5uQA5I9YSYAN5f2VcfmA/m1fnoen795upyQgTw<br>
dgxu6J62j1Acr+sNpnHbbnXOuo0WsRJAxCaN/ziaQGZf9Ad0cvk93Hn/4d3FaHh9hZJBeC8u<br>
x2fdzsfOYbO+//zlzu7Oi7395kn74KgHZnHAc0xhW1JcBwuI9kHvmrm23775+Obq4nqE7F7B<br>
UYDFG5AGnW12CeHs4WgxGoLCwe8EooPpoHuKKE4GhKQD+H4xBi8Nrr9cv/nw7g1gD529fHcJ<br>
eJ8NJhfE2WBM3HJmUlJ+HHU7YNdTAMOAqHdyOUFJfB2ML95cALpQd+//4h25yfQXY3w2GE6H<br>
FGbgXPcOGEjnv8NR96TfmzkEA35+6MIbJGmA2DAXYFBzMLl6O3377gNG0mQ4no8v35JTJsYX<br>
yBRxIHK0QI72eDQbndHJ1zEodEhnmEjUaHJF2HZOVDUYTmaTN+jZG6ItpxCuQI8Dqo2lQ4sg<br>
0NH4m/Gy3zpqd37oELaOaBj0L67Qe/o6BzlN3rx9d/keaDQ+Z86XV9f46HsMKQQJJUG4NLp6<br>
czkenBy1u7fdHopucAHb46sPcGJ+TvPCcDCDJqXt+TJUG9R6AZCkq7mA27fwedwbhFhfsBTy<br>
YhIDIU8DClLS1qDOFXV3y9mXhhyr1BZQoVs6qTilAOml07NGNaMs+ANej9f0uj0QB5YvDJiI<br>
p/PpiJCSHDvQjZX7ioMQMGfotd/XtCqYolZVIIN1CHS9ZmhyjAv6vJ4bj4+ek4A3QjSZTmK9<br>
ysgVEuOq8i20KmR1WdkyansQ+XrtOe7T0bU5Pq0YW7XHmqZko+zTfiXMBBaYuvlY4iERjUNp<br>
V+hga14mpU1HUlrta+1VDQITow+wpBYlOFtZVLZqRg3Sc5kVQz6E5tbr2aCHKTB9JjJFdaHC<br>
V72yrIDLtCek0+hh560iMJKpmWCI8qxcLG8ZCj19aSDeupJLCmHW6wc8uv20yXnHx7MyuBXM<br>
WtFJV1vQzSa0LVmA+a1vt2p7RrkASlCNGpQ8tDI9RZhJxedxLMQcraOxxCIhxnM/neAU0WrV<br>
0IkjgJpI2oMhE5G+JHFuKrXdrbutba1s0LO4CGPWzOYzqZtUIhNPZXIFpYBJMCvP5VIRGA0m<br>
QaH8oCBpFcBGQdNru3vbdFJS2zbukH7VeI584hPCznR2mS1kJeDrQlXiKQWco6hQ1CXtkZgD<br>
AKer+PCrUjT07f0XNdLd6pahMuqDYuw6OAdcoaf48rjMBHeAI3JZhJienLRKZTplQ5sr6lzD<br>
lQXFsI3arPZi16hp9BlMle5KlSp+ozjIKVsiHyogOqVUlbP5J5Cn8qeuqSXtI3hli06pjG3K<br>
Pm5VZPWLWiNfkH+N0FimHjHlRw2dKZSUQg55ojjD04q+pU5VIDuwUwdiVsClOyhGnQ6e1J2a<br>
Rmim7WwR9xcBpbeAsWpFK+TLSjFbRMeZ4v8E1+t0+IT62wIIgc22jN1tIEuVulKrlpF1WLx3<br>
QAj0qRlbYCY5WypKSQlNgwzlivpZ1TAGkDEYc8pkt3ZfAxNWYXBrewvY86AS3YFawVrIR20L<br>
5ZBOpc10QgJSgy6V0qyka9sY4qhCQ72loVTdru3uOHBoltE3y6gCd+H3QnHo/WMJOLn9YktT<br>
sxmUUQ5RV42vADDV2EHjOu3LqJVHetQKA5ANhq2w82AcL8wEjnbQV9fu11yb4Ks1er7r6fmw<br>
wDwQJDEHeXnDCTkxBK0n8gCaGKHS00NfUwjMMLAnJJpiJECb158dI/RjndAoyPkx9H1QaN/w<br>
DMdE6DiL/jSCidkCScEICb0gBKXlbIuL9HgXS49p0SkQ42LWzPVNesTdz/o33TR5QGNCOzkP<br>
jM0hoeMpeuTJjArR8BKGonSqDp/QwiISZt2utRngcRX26Ewck8cs4Ac4hgXnkGXhUBLZit6I<br>
KRFTSgSaG8KR5b7Sc5C8KIhQ0QHfxtoqs7qybro2iLdu/NDFYaivCLENnRXcQA3z0J0sIUeM<br>
Dz7Qs2voGwdqQD9nJKF97k068llfBTfS6Y3Pkfqk2pENOjaic6gfIYrDUTEWwd3RGARnMAyl<br>
OwNKACio1ytBy+f33dDBB3zxBzCJPR2czOjRMehhtAfNHYYYuyeBC5KMiQKdeUdE8A/QmKcu<br>
kn8LejYxGDCJpFfowTs/mVg6TLEkeY0UR0jAs9wtPQ0WFZMx6nHkpwMq0RKj9GQgEQ5L54QE<br>
XzyJ8DBhn/PgGy6dhwkFw85jbA9PduJClI73IcpD93Q4Qg6GnafcGPaewAJZpmMXEspghSll<br>
lLCTTjOjP1VKhAhZpD9goA9u0ADBToxwKRR8OiyiOTkc+RFoJABLKbKEa7xI/iwBIFE62eKj<br>
FgJ9J4K0iBnpgVPuCyeIdDkhDuEDgQwCjM7TsQ/FiqdjoZBJzjPRB1LzQgzdEKOLKO07iFOR<br>
+oP3CDN/zZl0vc0H7ADqE+OPD9PR05INoZ0VAmE6KaLnMRcoGDFGrEYB4xFiB08J1RwEf3DO<br>
XIVohAtQUnwEaM5hVIT/CjKCoRiokHYgouCVGMoTtOz8KRJZRBmBk27oSTCCmBis+AN+p5yp<br>
5xRlkC0YElGlulvwEVwk0HYAIhURfwD8OQGi/RDaMI2g6AV46+ykoJKcmAgRx3VbpOSjGYFO<br>
SSeXJoTt5JHA6t3k8nx8eQNFdw2lCHCaXF6QFIOYnVyb12/eQab2+uNL5zUUJ+T6JXNpvnl3<br>
NrAHkHMX0LqLd3j7AgL8+vH63Zv++cXlm+t35ru37yAZL8YTyxH4b8Zv3tKp0VsS++Prt5PP<br>
eP3+w/vR1VsYef/u/YcRTE3Hb3Hfh/EV2htfvV28/fAX48s3izeQdm/fP3v/GepDdeZQY5f2<br>
Dg0SXLVdXbFp3dMZfY7lCesJpnamtlKcYS3CHbuSJSmQI1vGZ6O6U5Ix4Ru0HhVkTTV+j5db<br>
NamMlcZwxA1th9a2t7ahLD5q6lZtu2ZsU0tYg2o7uyo9h4AFGlrEVmt/WzNUmK1uq/q2AYVS<br>
3XpOqwjtKGIZXkSIi6H4aFSFHRjHQJmj6FCiURP4TE+h4PUjzQsBLAX0+SKGl1zEjKB8ZtFY<br>
IPh0GxNd0k4S5uSoEImxNGpwU2weiwSpxmwBSaYVJEzlT084Uspt2u4RVgQzHInhv5+EmBDl<br>
oqi1EBkht2g+jEXhIc2NmCkiUeHZs2f/+Rd/APinv/jjP9fPf3j4/wCR09ei0zgAAA==<br>
<p>
<p>
<p>
<p>
--------------A132267DCB51E2FDE8DF6220--<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">Walter Gyr: "MUSTEK Scanner"</a>
<li> <b>Previous message:</b> <a href="0113.html">Oliver Rauch: "Re: Getting UMAX scanner to work with Future domain 1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
