<!-- received="Sat Aug 29 23:04:26 1998 PDT" -->
<!-- sent="Sat, 29 Aug 1998 23:04:58 -0700 (PDT)" -->
<!-- name="Alex Belits" -->
<!-- email="abelits@phobos.illtel.denver.co.us" -->
<!-- subject="Re: Windows port" -->
<!-- id="" -->
<!-- inreplyto="199808292209.RAA02131@sponge.home.cheeseplant.org" -->
<title>sane-devel: Re: Windows port</title>
<h1>Re: Windows port</h1>
<b>Alex Belits</b> (<a href="mailto:abelits@phobos.illtel.denver.co.us"><i>abelits@phobos.illtel.denver.co.us</i></a>)<br>
<i>Sat, 29 Aug 1998 23:04:58 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#134">[ date ]</a><a href="index.html#134">[ thread ]</a><a href="subject.html#134">[ subject ]</a><a href="author.html#134">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Andreas Dilger: "Re: Windows port"</a>
<li> <b>Previous message:</b> <a href="0133.html">Daniel Stephens: "Re: Windows port"</a>
<li> <b>In reply to:</b> <a href="0133.html">Daniel Stephens: "Re: Windows port"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0154.html">Marten Feldtmann: "Re: Windows port"</a>
<li> <b>Next in thread:</b> <a href="0153.html">Milon Firikis: "Re: Windows port"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 29 Aug 1998, Daniel Stephens wrote:<br>
<p>
<i>&gt; Also, some people HAVE to use windows for various reasons (corporate standards</i><br>
<i>&gt; for example), why should they lose out from being SANEd??</i><br>
<p>
  The last kind of people that worth help are ones that use Windows by<br>
"corporate standards" and thus constitute major force, used by Microsoft<br>
for their market dominance and thus keeping companies from providing<br>
decent support for their hardware in non-Microsoft systems. While there<br>
may be valid reasons for Windows port, this one isn't.<br>
<p>
  There are a lot of free software projects that recently got Win32 port,<br>
but I have yet to see any of them other than perl, that produced anything<br>
but #ifdef's in sources, headache for developers and "How to install it on<br>
Windows 98?" questions in mailing lists.<br>
<p>
<pre>
--
Alex
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Andreas Dilger: "Re: Windows port"</a>
<li> <b>Previous message:</b> <a href="0133.html">Daniel Stephens: "Re: Windows port"</a>
<li> <b>In reply to:</b> <a href="0133.html">Daniel Stephens: "Re: Windows port"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0154.html">Marten Feldtmann: "Re: Windows port"</a>
<li> <b>Next in thread:</b> <a href="0153.html">Milon Firikis: "Re: Windows port"</a>
<!-- reply="end" -->
</ul>
