<!-- received="Thu Apr  2 10:58:53 1998 PST" -->
<!-- sent="Thu, 2 Apr 1998 20:58:14 +0200 (MET DST)" -->
<!-- name="Hardy Pawletta   " -->
<!-- email="pawletta@physik.rwth-aachen.de" -->
<!-- subject="Problem with Mustek Paragon 600 II SP" -->
<!-- id="Pine.OSF.3.94.980402205640.28318A-100000@acaxp6" -->
<!-- inreplyto="" -->
<title>sane-devel: Problem with Mustek Paragon 600 II SP</title>
<h1>Problem with Mustek Paragon 600 II SP</h1>
<b>Hardy Pawletta   </b> (<a href="mailto:pawletta@physik.rwth-aachen.de"><i>pawletta@physik.rwth-aachen.de</i></a>)<br>
<i>Thu, 2 Apr 1998 20:58:14 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#19">[ date ]</a><a href="index.html#19">[ thread ]</a><a href="subject.html#19">[ subject ]</a><a href="author.html#19">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">Michael Polo: "Sane patches/observations on solaris 2.6/umax s6-e"</a>
<li> <b>Previous message:</b> <a href="0018.html">Chris Pinkham: "sane_read returning *len == 0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I own a Mustek Paragon 600 II SP which is recognized as MFC-06000CZ with<br>
firmware rev. 2.03. The scanner is connected as the only device to a<br>
NCR810 based scsi controller.<br>
<p>
sane Version: 0.71 <br>
Generic scsi buffer is at maximum<br>
<p>
find-scanner reports:<br>
find-scanner: found scanner "SCANNER  2.03" at device /dev/scanner<br>
find-scanner: found scanner "SCANNER  2.03" at device /dev/sg0<br>
<p>
Gray scans and bw linart works but sometimes lines are lost. <br>
If I select Color scan option the scanner moves forward a bit then back<br>
again after that forward and backward and so on. The result seems to be ok<br>
but the scan needs a very long time (several minutes for 300dpi, full<br>
page) and the scanner didn't sound good.<br>
<p>
Did anybody know a sollution for this Problem ?<br>
<p>
------------------------------------------------------------<br>
 Hardy Pawletta  -  III.Physics Institut B - RWTH-Aachen<br>
 EMail: <a href="mailto:pawletta@physik.rwth-aachen.de">pawletta@physik.rwth-aachen.de</a><br>
------------------------------------------------------------<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">Michael Polo: "Sane patches/observations on solaris 2.6/umax s6-e"</a>
<li> <b>Previous message:</b> <a href="0018.html">Chris Pinkham: "sane_read returning *len == 0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
