<!-- received="Fri Apr  3 02:43:01 1998 PST" -->
<!-- sent="Fri, 3 Apr 1998 12:40:27 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: pre-release available for testing" -->
<!-- id="" -->
<!-- inreplyto="199804030928.BAA13100@panda.mostang.com" -->
<title>sane-devel: Re: pre-release available for testing</title>
<h1>Re: pre-release available for testing</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Fri, 3 Apr 1998 12:40:27 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#32">[ date ]</a><a href="index.html#32">[ thread ]</a><a href="subject.html#32">[ subject ]</a><a href="author.html#32">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Hugo van der Kooij: "New spec file for PRE 0.72"</a>
<li> <b>Previous message:</b> <a href="0031.html">Stefan Gombar: "Canon 300 support? (in OS/2)"</a>
<li> <b>In reply to:</b> <a href="0029.html">David Mosberger-Tang: "pre-release available for testing"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0037.html">Matto Marjanovic: "Re: pre-release available for testing"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 3 Apr 1998, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; If you're maintaining a backend or a SANE for a non-Linux platform, a</i><br>
<i>&gt; pre-relese of 0.72 is now available for testing.  Please do not</i><br>
<i>&gt; download this version unless you're prepared to send in patches to fix</i><br>
<i>&gt; problems that may be present.  That said, the pre-release is available</i><br>
<i>&gt; at:</i><br>
<i>&gt; </i><br>
<i>&gt; 	<a href="ftp://ftp.mostang.com/pub/sane/beta/pre.tar.gz">ftp://ftp.mostang.com/pub/sane/beta/pre.tar.gz</a></i><br>
<i>&gt; </i><br>
<i>&gt; I believe this version contains all patches and additions that I</i><br>
<i>&gt; received over the last couple of weeks.  Please make sure I didn't</i><br>
<i>&gt; miss any of your patches (if I did, I apologize).  Also, I made</i><br>
<i>&gt; changes to some backends (dmc, canon, epson, microtek, I believe), to</i><br>
<i>&gt; improve portability to platforms with compilers other than gcc.  If</i><br>
<i>&gt; you maintain one of these backends, I'd appreciate if you make sure</i><br>
<i>&gt; those changes find their way into your sources.</i><br>
<p>
Well compiling goes OK here on RedHat Linux 5.0 on the Alpha. And I am<br>
making a new SPEC file that will use the BuildRoot environment so building<br>
a new package will no longer hurt the present installed version.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Hugo van der Kooij: "New spec file for PRE 0.72"</a>
<li> <b>Previous message:</b> <a href="0031.html">Stefan Gombar: "Canon 300 support? (in OS/2)"</a>
<li> <b>In reply to:</b> <a href="0029.html">David Mosberger-Tang: "pre-release available for testing"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0037.html">Matto Marjanovic: "Re: pre-release available for testing"</a>
<!-- reply="end" -->
</ul>
