<!-- received="Sun Apr  5 13:58:05 1998 PDT" -->
<!-- sent="Sun, 05 Apr 98 14:54:38 -0600" -->
<!-- name="John Brush" -->
<!-- email="jbrush@aros.net" -->
<!-- subject="Re: Q: support for digi cameras" -->
<!-- id="199804052049.OAA27860@mars.aros.net" -->
<!-- inreplyto="Pine.LNX.3.96.980405221414.270B-100000@magpc" -->
<title>sane-devel: Re: Q: support for digi cameras</title>
<h1>Re: Q: support for digi cameras</h1>
<b>John Brush</b> (<a href="mailto:jbrush@aros.net"><i>jbrush@aros.net</i></a>)<br>
<i>Sun, 05 Apr 98 14:54:38 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#65">[ date ]</a><a href="index.html#65">[ thread ]</a><a href="subject.html#65">[ subject ]</a><a href="author.html#65">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0066.html">David Mosberger-Tang: "Re: sane 0.72pre meets FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0064.html">David Mosberger-Tang: "Re: Mustek,"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
In &lt;<a href="mailto:Pine.LNX.3.96.980405221414.270B-100000@magpc">Pine.LNX.3.96.980405221414.270B-100000@magpc</a>&gt;, on 04/05/98 at<br>
10:18 PM,<br>
   Simone Fabris &lt;<a href="mailto:magic@maya.dei.unipd.it">magic@maya.dei.unipd.it</a>&gt; said:<br>
<p>
<p>
<p>
**On Sun, 5 Apr 1998, Hugo van der Kooij wrote:<br>
<p>
**&gt; <br>
**&gt; Do you want us to wash you car as well?<br>
**&gt; <br>
<p>
**Yes, please.<br>
<p>
**What's wrong with ASKING??? Too difficoult to be POLITE?<br>
<p>
The secret of getting along is in how you phrase the question.<br>
<p>
In this case, the asker apparently showed up out of now where, and<br>
asked that all responses be sent via e-mail, since he/she would not be<br>
reading this group to check for the answer.<br>
<p>
That is certainly not the right way to ask for help. If one wants free<br>
help, the least one can do is hang around the group long enough to get<br>
that answer.<br>
<p>
Etiquette is the key.<br>
<p>
John<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0066.html">David Mosberger-Tang: "Re: sane 0.72pre meets FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0064.html">David Mosberger-Tang: "Re: Mustek,"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
