<!-- received="Mon Apr  6 15:19:34 1998 PDT" -->
<!-- sent="Tue, 07 Apr 98 00:19:08 +0200" -->
<!-- name="Stefan Knodt" -->
<!-- email="sknodt@bluewin.ch" -->
<!-- subject="Re: Sane 0.71 and CanonScan" -->
<!-- id="199804062218.AAA15814@bluewin.ch" -->
<!-- inreplyto="Sane 0.71 and CanonScan" -->
<title>sane-devel: Re: Sane 0.71 and CanonScan</title>
<h1>Re: Sane 0.71 and CanonScan</h1>
<b>Stefan Knodt</b> (<a href="mailto:sknodt@bluewin.ch"><i>sknodt@bluewin.ch</i></a>)<br>
<i>Tue, 07 Apr 98 00:19:08 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#75">[ date ]</a><a href="index.html#75">[ thread ]</a><a href="subject.html#75">[ subject ]</a><a href="author.html#75">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Oliver.Rauch@Wolfsburg.DE: "/proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0074.html">Robert-Peter Westphal: "Sane 0.71 and CanonScan"</a>
<li> <b>Maybe in reply to:</b> <a href="0074.html">Robert-Peter Westphal: "Sane 0.71 and CanonScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--_=_=_=IMA.BOUNDARY.ER0ZZW138764=_=_=_<br>
Content-Type: text/plain; charset="iso-8859-1"<br>
Content-Transfer-Encoding: 7bit<br>
<p>
On Mon, 06 Apr 98 20:49:12, Robert-Peter Westphal wrote:<br>
<i>&gt;I want to use your Sane-package together with my CanonScan 300 in OS/2,</i><br>
<i>&gt;but I have a few problems. I installed the aspirout.sys driver and the</i><br>
<i>&gt;emx runtimes correctly, find-scanner finds my scanner.</i><br>
<i>&gt;But the main problem is that the package I got (sane-071.zip) seems not</i><br>
<i>&gt;to contain the \dev-dir and no drivers. There are a few *.conf (but not</i><br>
<i>&gt;for canon), but these files contain a link to a dev\scanner dir which</i><br>
<i>&gt;not exists. </i><br>
<i>&gt;</i><br>
Robert,<br>
OS/2 does notneed the /dev/.. directories<br>
<p>
create your own CONF file see the README.OS2<br>
I attached the hp.conf from the sane-0.66 packages<br>
For the description see the README.OS2 within your sane package.<br>
I think the only restriction to the os/2 port is that it works only with scsi scanners.<br>
<p>
stefan<br>
---------------------------<br>
<a href="mailto:sknodt@bluewin.ch">sknodt@bluewin.ch</a><br>
---------------------------<br>
<p>
--_=_=_=IMA.BOUNDARY.ER0ZZW138764=_=_=_<br>
Content-Type: application/octet-stream; name="hp.conf"<br>
Content-Transfer-Encoding: base64<br>
<p>
YjB0NmwwDQoK<br>
<p>
--_=_=_=IMA.BOUNDARY.ER0ZZW138764=_=_=_--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Oliver.Rauch@Wolfsburg.DE: "/proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0074.html">Robert-Peter Westphal: "Sane 0.71 and CanonScan"</a>
<li> <b>Maybe in reply to:</b> <a href="0074.html">Robert-Peter Westphal: "Sane 0.71 and CanonScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
