<!-- received="Sun Apr 12 01:47:30 1998 PDT" -->
<!-- sent="Sun, 12 Apr 1998 04:46:38 -0400 (EDT)" -->
<!-- name="William T Wilson" -->
<!-- email="fluffy@dunadan.com" -->
<!-- subject="Re: SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :(" -->
<!-- id="" -->
<!-- inreplyto="199804120820.DAA03899@brain.vizzie.org" -->
<title>sane-devel: Re: SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :(</title>
<h1>Re: SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :(</h1>
<b>William T Wilson</b> (<a href="mailto:fluffy@dunadan.com"><i>fluffy@dunadan.com</i></a>)<br>
<i>Sun, 12 Apr 1998 04:46:38 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#110">[ date ]</a><a href="index.html#110">[ thread ]</a><a href="subject.html#110">[ subject ]</a><a href="author.html#110">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Ondrej Popp: "Re: find scanner via /proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0109.html">Nicolas Lucas de Peslouan: "Re: /proc/scsi/scsi"</a>
<li> <b>In reply to:</b> <a href="0108.html">Larry 'Daffy' Daffner: "SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :("</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0121.html">Oliver.Rauch@Wolfsburg.DE: "Re: SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :("</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 12 Apr 1998, Larry 'Daffy' Daffner wrote:<br>
<p>
<i>&gt; Linux, but when I try to scan or preview an image, it just hangs and</i><br>
<i>&gt; nothing happens. If I set debug on the scsi and umax, the last message </i><br>
<p>
Are you doing this in color or black &amp; white mode?  I have tried the 610S<br>
with the IN2000 as well as a Trantor T130B and have found that, generally,<br>
black &amp; white mode works quite well, whereas color mode will hang unless I<br>
turn the scanner off and on again, then it aborts.<br>
<p>
It appears to be very sensitive to the type of SCSI card in use.  I would<br>
like a list of the SCSI cards which definitely do and do not work for the<br>
6x0S... I am tired of buying new SCSI cards to try to make the scanner<br>
work. :)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Ondrej Popp: "Re: find scanner via /proc/scsi/scsi"</a>
<li> <b>Previous message:</b> <a href="0109.html">Nicolas Lucas de Peslouan: "Re: /proc/scsi/scsi"</a>
<li> <b>In reply to:</b> <a href="0108.html">Larry 'Daffy' Daffner: "SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :("</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0121.html">Oliver.Rauch@Wolfsburg.DE: "Re: SANE 0.72 + UMAX Astra 610S + Always IN2000 = No Joy :("</a>
<!-- reply="end" -->
</ul>
