<!-- received="Wed Apr 15 12:25:26 1998 PDT" -->
<!-- sent="Wed, 15 Apr 1998 12:39:05 -0700" -->
<!-- name="Matthew Costello" -->
<!-- email="Matthew.Costello@SanDiegoCA.NCR.COM" -->
<!-- subject="sane-0.72-1.i386.rpm not yet available" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-0.72-1.i386.rpm not yet available</title>
<h1>sane-0.72-1.i386.rpm not yet available</h1>
<b>Matthew Costello</b> (<a href="mailto:Matthew.Costello@SanDiegoCA.NCR.COM"><i>Matthew.Costello@SanDiegoCA.NCR.COM</i></a>)<br>
<i>Wed, 15 Apr 1998 12:39:05 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#151">[ date ]</a><a href="index.html#151">[ thread ]</a><a href="subject.html#151">[ subject ]</a><a href="author.html#151">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Stefan Gombar: "Need scanner info, please (OS/2, but also others)"</a>
<li> <b>Previous message:</b> <a href="0150.html">Dr. Andreas Bolsch: "Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sane 0.72 was announce a week ago (April 7) and the RPMs are not yet<br>
available.  Since I have a UMAX 1200S (about to be installed) I want to<br>
know whether I should wait for 0.72 (for the umax driver changes), or<br>
just go ahead and install 0.71. Which do you recommend?<br>
<pre>
---
Matthew Costello
(619)485-2926, <a href="mailto:Matthew.Costello@SanDiegoCA.NCR.COM">Matthew.Costello@SanDiegoCA.NCR.COM</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Stefan Gombar: "Need scanner info, please (OS/2, but also others)"</a>
<li> <b>Previous message:</b> <a href="0150.html">Dr. Andreas Bolsch: "Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
