<!-- received="Fri Apr 17 11:43:00 1998 PDT" -->
<!-- sent="Fri, 17 Apr 1998 11:42:59 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)" -->
<!-- id="199804171842.LAA05859@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.3.96.980417201432.9371A-100000@hvdkooij" -->
<title>sane-devel: Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)</title>
<h1>Re: Minolta Reply (was:Public Relation Department (Ref. No. CR-3255 V)</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 17 Apr 1998 11:42:59 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#176">[ date ]</a><a href="index.html#176">[ thread ]</a><a href="subject.html#176">[ subject ]</a><a href="author.html#176">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Michael Sweet: "Re: Minolta Reply (was:Public Relation Department (Ref. No."</a>
<li> <b>Previous message:</b> <a href="0175.html">Oliver.Rauch@Wolfsburg.DE: "readproc for SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 17 Apr 1998 20:24:15 +0200 (MET DST), Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; said:</i><br>
<p>
  Hugo&gt; I can make an example and post it here. But We need to specify<br>
  Hugo&gt; what kind of information should be included.<br>
<p>
  Hugo&gt; Perhaps a table of tested scanners like:<br>
<p>
  Hugo&gt; 	Mustek 600SP 6000 (Only SCSI version) HP 5p (not<br>
  Hugo&gt; tested with supplied card)<br>
<p>
Yes, an web-accessible list of supported scanners is needed too (the<br>
info is currently in the man-pages, but not the web pages), but I<br>
consider this a separate issue (though the "company openness"<br>
descriptions are likely to refer to this list).<br>
<p>
  Hugo&gt; And a table of hardware manufacturers like:<br>
<p>
  Hugo&gt; 	Mustek Supplied full set of manuals without<br>
  Hugo&gt; restrictions HP Gave little information XXX Refused to supply<br>
  Hugo&gt; programming details<br>
<p>
That's what I had in mind: "HP fedexes SCSI-scanner documentation upon<br>
request.  No attempt has been made so far to obtain information for<br>
parallel port scanners.  For a detailed list of supported HP scanners<br>
that are presently supported, see....".<br>
<p>
BTW: since I've been an HP employee for a couple of months now, I will<br>
obviously _not_ write the section on HP scanners... (my position is a<br>
research position that is in no way related to scanners but, on the<br>
other hand, I certainly have a vested interest in seeing the company<br>
being successful...)<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Michael Sweet: "Re: Minolta Reply (was:Public Relation Department (Ref. No."</a>
<li> <b>Previous message:</b> <a href="0175.html">Oliver.Rauch@Wolfsburg.DE: "readproc for SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
