<!-- received="Fri Apr 17 14:18:32 1998 PDT" -->
<!-- sent="Fri, 17 Apr 1998 23:17:48 +0200 (MET DST)" -->
<!-- name="Gernot Ziegler" -->
<!-- email="gz@lysator.liu.se" -->
<!-- subject="Dexxa Flatbedscanner support ...." -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.980417230245.11467A-100000@hvdkooij" -->
<title>sane-devel: Dexxa Flatbedscanner support ....</title>
<h1>Dexxa Flatbedscanner support ....</h1>
<b>Gernot Ziegler</b> (<a href="mailto:gz@lysator.liu.se"><i>gz@lysator.liu.se</i></a>)<br>
<i>Fri, 17 Apr 1998 23:17:48 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#180">[ date ]</a><a href="index.html#180">[ thread ]</a><a href="subject.html#180">[ subject ]</a><a href="author.html#180">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">Hugo van der Kooij: "Sample/proposal for the overview pages"</a>
<li> <b>Previous message:</b> <a href="0179.html">Oliver.Rauch@Wolfsburg.DE: "corrected readproc for SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0197.html">Christian Bucher: "Re: Dexxa Flatbedscanner support ...."</a>
<li> <b>Reply:</b> <a href="0197.html">Christian Bucher: "Re: Dexxa Flatbedscanner support ...."</a>
<li> <b>Reply:</b> <a href="0198.html">Christian Bucher: "Re: Dexxa Flatbedscanner support ...."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everyone !<br>
<p>
I bought myself (a cheap ;) ) Dexxa 4800 Flatbedscanner which is running<br>
over the parallel port, and I'd like to develop drivers for that beast ;)<br>
...<br>
<p>
How do I have to start such a project ? Are there any experiences with<br>
flatbed-scanners over the parallel port ? <br>
<p>
Thanks in advance for your help :) <br>
<p>
Servus,<br>
  Gernot<br>
<p>
/-----------------------------W-E-L-C-O-M-E------------------------------\<br>
T                 The Austria &lt;=&gt; Sweden connection.....                 T<br>
<i>|                      E-Mail: <a href="mailto:gz@lysator.liu.se">gz@lysator.liu.se</a>                         H</i><br>
O                Homepage: <a href="http://www.lysator.liu.se/~gz">http://www.lysator.liu.se/~gz</a>                 E<br>
\------------------------------F-U-T-U-R-E-------------------------------/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0181.html">Hugo van der Kooij: "Sample/proposal for the overview pages"</a>
<li> <b>Previous message:</b> <a href="0179.html">Oliver.Rauch@Wolfsburg.DE: "corrected readproc for SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0197.html">Christian Bucher: "Re: Dexxa Flatbedscanner support ...."</a>
<li> <b>Reply:</b> <a href="0197.html">Christian Bucher: "Re: Dexxa Flatbedscanner support ...."</a>
<li> <b>Reply:</b> <a href="0198.html">Christian Bucher: "Re: Dexxa Flatbedscanner support ...."</a>
<!-- reply="end" -->
</ul>
