<!-- received="Sat Apr 18 07:39:23 1998 PDT" -->
<!-- sent="Sat, 18 Apr 1998 16:40:06 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Sane compilation ate my ram!" -->
<!-- id="199804181440.QAA02583@Babylon5.wolfsburg.de" -->
<!-- inreplyto="3538B18F.7E4CBDA7@watford.net" -->
<title>sane-devel: Re: Sane compilation ate my ram!</title>
<h1>Re: Sane compilation ate my ram!</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sat, 18 Apr 1998 16:40:06 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#187">[ date ]</a><a href="index.html#187">[ thread ]</a><a href="subject.html#187">[ subject ]</a><a href="author.html#187">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">Kevin Dalley: "Custom gamma table causes undesired distortions in Astra 1200S"</a>
<li> <b>Previous message:</b> <a href="0186.html">Jim Ford: "Sane compilation ate my ram!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Jim,<br>
<p>
<i>&gt; and announced "virtual memory exhausted"  (in line 3686 of compiling</i><br>
<i>&gt; umax.c)!</i><br>
<p>
Other people who are using a slackware-distribution had the<br>
same problem, but I don't know if or how they solved it!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">Kevin Dalley: "Custom gamma table causes undesired distortions in Astra 1200S"</a>
<li> <b>Previous message:</b> <a href="0186.html">Jim Ford: "Sane compilation ate my ram!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
