<!-- received="Sun Apr 19 14:49:37 1998 PDT" -->
<!-- sent="Sun, 19 Apr 1998 23:48:44 +0200 (MET DST)" -->
<!-- name="Martin Huber" -->
<!-- email="hu@garfield.m.isar.de" -->
<!-- subject="Re: SANE Platform" -->
<!-- id="199804192148.XAA03763@garfield.m.isar.de" -->
<!-- inreplyto="SANE Platform" -->
<title>sane-devel: Re: SANE Platform</title>
<h1>Re: SANE Platform</h1>
<b>Martin Huber</b> (<a href="mailto:hu@garfield.m.isar.de"><i>hu@garfield.m.isar.de</i></a>)<br>
<i>Sun, 19 Apr 1998 23:48:44 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#206">[ date ]</a><a href="index.html#206">[ thread ]</a><a href="subject.html#206">[ subject ]</a><a href="author.html#206">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">John Paul Goodman: "Re: Problems compiling SANE"</a>
<li> <b>Previous message:</b> <a href="0205.html">Peter JD Hall: "microtek E3 invalid parameters"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt; On Tue, Mar 31, 1998 at 05:03:54AM -0800, Scott D. MacKay wrote:</i><br>
<i>&gt; &gt;    I have a request; could you add a new platform to the SANE supported</i><br>
<i>&gt; &gt;platform list?  I would like to see Solaris/x86 v5.6 added to the list,</i><br>
<i>&gt; &gt;even if it is 'untested' in all catagories.  I would try, but all I have</i><br>
<i>&gt; &gt;is</i><br>
<i>&gt; &gt;a handhend LogiTech b/w scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; Is there any reason to expect that it wouldn't work when the Solaris/Sparc</i><br>
<i>&gt; is supported?  I know that XVScan for Solaris builds the same for Sparc</i><br>
<i>&gt; and x86 (though some of the support libraries I'm sure do the appropriate</i><br>
<i>&gt; byte-swapping).</i><br>
<i>&gt; </i><br>
<p>
SANE works with Solaris 2.5-x86 and 2.6-x86 as well as with sparc. (In fact,<br>
I developed the Solaris support for SANE on a x86). I don't know, why it<br>
is listed as unsupported.<br>
However, I don't know if a your scanner is working with SANE at all.<br>
<p>
  --Martin<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0207.html">John Paul Goodman: "Re: Problems compiling SANE"</a>
<li> <b>Previous message:</b> <a href="0205.html">Peter JD Hall: "microtek E3 invalid parameters"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
