<!-- received="Sun Apr 19 15:19:31 1998 PDT" -->
<!-- sent="Sun, 19 Apr 1998 16:17:44 -0700" -->
<!-- name="John Paul Goodman" -->
<!-- email="jpgood@unm.edu" -->
<!-- subject="Re: Problems compiling SANE" -->
<!-- id="" -->
<!-- inreplyto="Problems compiling SANE" -->
<title>sane-devel: Re: Problems compiling SANE</title>
<h1>Re: Problems compiling SANE</h1>
<b>John Paul Goodman</b> (<a href="mailto:jpgood@unm.edu"><i>jpgood@unm.edu</i></a>)<br>
<i>Sun, 19 Apr 1998 16:17:44 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#207">[ date ]</a><a href="index.html#207">[ thread ]</a><a href="subject.html#207">[ subject ]</a><a href="author.html#207">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0208.html">Matto Marjanovic: "Re: microtek E3 invalid parameters"</a>
<li> <b>Previous message:</b> <a href="0206.html">Martin Huber: "Re: SANE Platform"</a>
<li> <b>Maybe in reply to:</b> <a href="0199.html">Rob Fargher: "Problems compiling SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've tried it with gtk 0.99.2 and 1.0.0.<br>
It hasn't worked with either.<br>
<p>
John<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0208.html">Matto Marjanovic: "Re: microtek E3 invalid parameters"</a>
<li> <b>Previous message:</b> <a href="0206.html">Martin Huber: "Re: SANE Platform"</a>
<li> <b>Maybe in reply to:</b> <a href="0199.html">Rob Fargher: "Problems compiling SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
