<!-- received="Mon Apr 20 01:54:43 1998 PDT" -->
<!-- sent="Mon, 20 Apr 1998 10:53:52 +0200 (MET DST)" -->
<!-- name="Michael Vorleiter" -->
<!-- email="michaelv@augusta.de" -->
<!-- subject="Re: microtek E3 invalid parameters" -->
<!-- id="199804200853.KAA12205@inga.augusta.de" -->
<!-- inreplyto="353A701C.3EC85D2F@ilap.com" -->
<title>sane-devel: Re: microtek E3 invalid parameters</title>
<h1>Re: microtek E3 invalid parameters</h1>
<b>Michael Vorleiter</b> (<a href="mailto:michaelv@augusta.de"><i>michaelv@augusta.de</i></a>)<br>
<i>Mon, 20 Apr 1998 10:53:52 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#213">[ date ]</a><a href="index.html#213">[ thread ]</a><a href="subject.html#213">[ subject ]</a><a href="author.html#213">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Jean Paul Meyer: "find-scanner ?"</a>
<li> <b>Previous message:</b> <a href="0212.html">Kevin Dalley: "Re: xscanimage frequently exits with many (all?) devices"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; whether pnm 0 or pnm 1 I get invalid parameters.  When I log in as root</i><br>
<i>&gt; I get the same result except microtek:/dev/scanner also is choosable.  I</i><br>
<i>&gt; can change the values for the scan size but it does not effect either of</i><br>
<i>&gt; the other choices when I log on as a user.  I can only scan when logged</i><br>
<i>&gt; on as root and only with the micotek:/dev/scanner.  This is sane-0.72</i><br>
<i>&gt; running under Slackware 3.3 with kernel 2.0.33.</i><br>
<p>
Yesterday I Had the same problems; look at your permissions in /dev/bla..<br>
Now it works fine for me.<br>
<p>
Bye<br>
<p>
Michael<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Jean Paul Meyer: "find-scanner ?"</a>
<li> <b>Previous message:</b> <a href="0212.html">Kevin Dalley: "Re: xscanimage frequently exits with many (all?) devices"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
