<!-- received="Tue Apr 21 07:01:21 1998 PDT" -->
<!-- sent="Tue, 21 Apr 1998 15:54:49 +0200" -->
<!-- name="Andreas Graevinghoff" -->
<!-- email="Andreas.Graevinghoff@FernUni-Hagen.de" -->
<!-- subject="sane 0.72 compilation under Solaris x86" -->
<!-- id="199804211354.PAA01366@ti2pc2.fernuni-hagen.de" -->
<!-- inreplyto="" -->
<title>sane-devel: sane 0.72 compilation under Solaris x86</title>
<h1>sane 0.72 compilation under Solaris x86</h1>
<b>Andreas Graevinghoff</b> (<a href="mailto:Andreas.Graevinghoff@FernUni-Hagen.de"><i>Andreas.Graevinghoff@FernUni-Hagen.de</i></a>)<br>
<i>Tue, 21 Apr 1998 15:54:49 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#226">[ date ]</a><a href="index.html#226">[ thread ]</a><a href="subject.html#226">[ subject ]</a><a href="author.html#226">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0227.html">David Mosberger-Tang: "Re: sane 0.72 compilation under Solaris x86"</a>
<li> <b>Previous message:</b> <a href="0225.html">William Button: "SCANNER DRIVERS"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0227.html">David Mosberger-Tang: "Re: sane 0.72 compilation under Solaris x86"</a>
<li> <b>Reply:</b> <a href="0227.html">David Mosberger-Tang: "Re: sane 0.72 compilation under Solaris x86"</a>
<li> <b>Reply:</b> <a href="0228.html">Andreas Graevinghoff: "Re: sane 0.72 compilation under Solaris x86"</a>
<li> <b>Reply:</b> <a href="0237.html">Michael Polo: "Re: sane 0.72 compilation under Solaris x86"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
I have a problem compiling and installing sane-0.72 under solaris x86 2.6<br>
<p>
I use gtk 1.0.0 &amp; gimp 0.99.27 &amp; gcc 2.7.2.2 &amp; sane-0.72 (including<br>
the patch from Michael Polo to sanei_pio.c)<br>
<p>
I used the following commans to build sane:<br>
<p>
setenv CPPFLAGS -I/opt/include -L/opt/lib<br>
setenv MAKE /opt/bin/make<br>
./configure --prefix=/opt<br>
/opt/bin/make <br>
/opt/bin/make install<br>
<p>
The last steps breaks with the following messages:<br>
<p>
make[1]: Entering directory `/home/install/sane-0.72/frontend'<br>
../mkinstalldirs /opt/bin /opt/sbin /opt/share<br>
.././install-sh -c scanimage /opt/bin/scanimage<br>
.././install-sh -c xscanimage /opt/bin/xscanimage<br>
../libtool: syntax error at line 105: `fi' unexpected<br>
make[1]: *** [install] Error 2<br>
make[1]: Leaving directory `/home/install/sane-0.72/frontend'<br>
make: *** [install-recursive] Error 1<br>
Exit 2<br>
<p>
On further inspection, make scanimage &amp; xscanimage die with an<br>
Segmentation Fault:<br>
<p>
gcc -L/usr/openwin/lib -o .libs/scanimage scanimage.o -R/opt/lib <br>
../backend/.libs/libsane.so -L/usr/openwin/lib ../lib/liblib.a -ldl -lsocket <br>
-lnsl -lintl -lm<br>
creating scanimage<br>
Segmentation Fault<br>
<p>
gcc -L/usr/openwin/lib -o .libs/xscanimage xscanimage.o progress.o preview.o <br>
preferences.o gtkglue.o ../sanei/libsanei.a -R/opt/lib <br>
../backend/.libs/libsane.so -L/usr/openwin/lib ../lib/liblib.a -lgimp -lgtk <br>
-lgdk -lXi -lglib -lXext -lX11 -ldl -lsocket -lnsl -lintl -lm<br>
creating xscanimage<br>
Segmentation Fault<br>
<p>
Is this normal ?<br>
<p>
Executing scanimage yields the following result:<br>
<p>
/opt/bin/scanimage: X/../backend/.libs:/usr/openwin/lib:/opt/X11R6/lib/X11:/opt<br>
/lib: not found<br>
/opt/bin/scanimage: -e: not found<br>
/opt/bin/scanimage: /opt/bin/scanimage: cannot exec  : not found<br>
Exit 1<br>
<p>
Any Suggestions would be greatly appreciated.<br>
<p>
Andreas Graevinghoff<br>
FernUniversitaet Hagen<br>
<p>
I forgot to mention that the scg driver is installed on this machine<br>
(configure regocnizes the corresponding .h file) and findscanner is<br>
able to find my scanner.<br>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0227.html">David Mosberger-Tang: "Re: sane 0.72 compilation under Solaris x86"</a>
<li> <b>Previous message:</b> <a href="0225.html">William Button: "SCANNER DRIVERS"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0227.html">David Mosberger-Tang: "Re: sane 0.72 compilation under Solaris x86"</a>
<li> <b>Reply:</b> <a href="0227.html">David Mosberger-Tang: "Re: sane 0.72 compilation under Solaris x86"</a>
<li> <b>Reply:</b> <a href="0228.html">Andreas Graevinghoff: "Re: sane 0.72 compilation under Solaris x86"</a>
<li> <b>Reply:</b> <a href="0237.html">Michael Polo: "Re: sane 0.72 compilation under Solaris x86"</a>
<!-- reply="end" -->
</ul>
