<!-- received="Sun Apr 26 05:33:48 1998 PDT" -->
<!-- sent="Sun, 26 Apr 1998 13:33:26 +0100 (BST)" -->
<!-- name="Jim Ford" -->
<!-- email="jim@steerpike.gormenghast" -->
<!-- subject="Re: UMAX 1200S" -->
<!-- id="" -->
<!-- inreplyto="199804241546.RAA00210@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re: UMAX 1200S</title>
<h1>Re: UMAX 1200S</h1>
<b>Jim Ford</b> (<a href="mailto:jim@steerpike.gormenghast"><i>jim@steerpike.gormenghast</i></a>)<br>
<i>Sun, 26 Apr 1998 13:33:26 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#273">[ date ]</a><a href="index.html#273">[ thread ]</a><a href="subject.html#273">[ subject ]</a><a href="author.html#273">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0274.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Previous message:</b> <a href="0272.html">Oliver.Rauch@Wolfsburg.DE: "Re: gtk_tooltips"</a>
<li> <b>In reply to:</b> <a href="0263.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 24 Apr 1998 <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<p>
<i>&gt; The Astra 1210S is never tested with the umax-backend.</i><br>
<i>&gt; I don't know if it works.</i><br>
<i>&gt; </i><br>
<i>&gt; If the differences between the 1200S and the 1210S are equeal</i><br>
<i>&gt; to the differences between the 600S and the 610S, I suggest you</i><br>
<i>&gt; try to get the 1200S !!!</i><br>
<p>
Gulp!!!<br>
<p>
I'm told the 1200S is now obseleted by the 1220S (not 1210S as I earlier<br>
stated). If it doesn't work with SANE I guess I'll have to tough it out<br>
with Win95 until it gets included!<br>
<p>
Regards: Jim Ford<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0274.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Previous message:</b> <a href="0272.html">Oliver.Rauch@Wolfsburg.DE: "Re: gtk_tooltips"</a>
<li> <b>In reply to:</b> <a href="0263.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
