<!-- received="Sun Apr 26 07:57:24 1998 PDT" -->
<!-- sent="Sun, 26 Apr 1998 10:56:47 +0700" -->
<!-- name="Rob Fargher" -->
<!-- email="fargher@POBoxes.com" -->
<!-- subject="Re: Problems with xscanimage and SANE 0.72" -->
<!-- id="199804261506.LAA10945@emerald.accessv.com" -->
<!-- inreplyto="Problems with xscanimage and SANE 0.72" -->
<title>sane-devel: Re: Problems with xscanimage and SANE 0.72</title>
<h1>Re: Problems with xscanimage and SANE 0.72</h1>
<b>Rob Fargher</b> (<a href="mailto:fargher@POBoxes.com"><i>fargher@POBoxes.com</i></a>)<br>
<i>Sun, 26 Apr 1998 10:56:47 +0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#274">[ date ]</a><a href="index.html#274">[ thread ]</a><a href="subject.html#274">[ subject ]</a><a href="author.html#274">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0275.html">Hugo van der Kooij: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Previous message:</b> <a href="0273.html">Jim Ford: "Re: UMAX 1200S"</a>
<li> <b>Maybe in reply to:</b> <a href="0264.html">Rob Fargher: "Problems with xscanimage and SANE 0.72"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0275.html">Hugo van der Kooij: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Reply:</b> <a href="0275.html">Hugo van der Kooij: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Reply:</b> <a href="0282.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with xscanimage and SANE 0.72"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 26 Apr 1998 09:57:10 +0200 (MET DST), <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<p>
<i>&gt; then make sure you use the original distributions</i><br>
<i>&gt; (no changes in gtkclue.c !!!)</i><br>
<i>&gt;</i><br>
<i>&gt; then make distclean, configure, make and make install gtk</i><br>
<i>&gt; then make distclean, configure, make and make install gimp</i><br>
<i>&gt; then make distclean, configure, make and make install sane</i><br>
<p>
Hi Oliver<br>
<p>
  I followed your instructions to the letter.<br>
<p>
1) GTK+-1.0.0 seemed to compile and install OK.<br>
<p>
2) GIMP<br>
    a) During the configure stage, I get "Checking for gtk_tooltips_set_tooltips ... (cached) no."<br>
    b) The compile seemed to work and install OK.  However when I try to run it, the opening <br>
        screen comes up but the GIMP crashes when loading extension-script-fu as follows:<br>
        /usr/lib/gimp/0.99.12/plug-ins/script-fu:  error in loading shared libraries <br>
        libgimpui.so.1: cannot open shared objectfile: no such file or directory<br>
        wire-read: unexpected EOF (plug-in crashed?)<br>
       <br>
        I am compiling and installing gimp-0.99.27.  The reference to 0.99.12 in the lib<br>
        path confuses me.<br>
<p>
3) SANE 0.72 still doesn't compile. The error message is as follows:<br>
      <br>
      gktglue.c: In function 'set tooltip': gtkglue.c:80:warning: implicit declaration of function<br>
                     'gtk_tooltips_set_tips'.<br>
      gtkglue.o: In function 'set tooltip': /tmp/sane-0.72/frontend/gtkglue.c:80: undefined<br>
                     reference to 'gtk-tooltips_set_tips'<br>
      make[1]:  ***[xscanimage] Error 1<br>
<p>
Many thanks for your valiant efforts! :-)<br>
<p>
Cheers,<br>
Rob<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0275.html">Hugo van der Kooij: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Previous message:</b> <a href="0273.html">Jim Ford: "Re: UMAX 1200S"</a>
<li> <b>Maybe in reply to:</b> <a href="0264.html">Rob Fargher: "Problems with xscanimage and SANE 0.72"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0275.html">Hugo van der Kooij: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Reply:</b> <a href="0275.html">Hugo van der Kooij: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Reply:</b> <a href="0282.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with xscanimage and SANE 0.72"</a>
<!-- reply="end" -->
</ul>
