<!-- received="Sun Apr 26 10:50:24 1998 PDT" -->
<!-- sent="Sun, 26 Apr 1998 19:34:30 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMAX 1200S" -->
<!-- id="199804261734.TAA00695@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.96.980426132245.230A-100000@steerpike" -->
<title>sane-devel: Re: UMAX 1200S</title>
<h1>Re: UMAX 1200S</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sun, 26 Apr 1998 19:34:30 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#280">[ date ]</a><a href="index.html#280">[ thread ]</a><a href="subject.html#280">[ subject ]</a><a href="author.html#280">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0281.html">Oliver.Rauch@Wolfsburg.DE: "Re: Two *other* problems with xscanimage"</a>
<li> <b>Previous message:</b> <a href="0279.html">: ""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Jim,<br>
<p>
<i>&gt; I'm told the 1200S is now obseleted by the 1220S (not 1210S as I earlier</i><br>
<i>&gt; stated). If it doesn't work with SANE I guess I'll have to tough it out</i><br>
<i>&gt; with Win95 until it gets included!</i><br>
<p>
May be they didn't change a lot, then we only have to include<br>
the scanner-name into the supported-list. But sometimes there<br>
happend ugly things in new versions, it took about one year until<br>
the Astra 600S worked with sane!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0281.html">Oliver.Rauch@Wolfsburg.DE: "Re: Two *other* problems with xscanimage"</a>
<li> <b>Previous message:</b> <a href="0279.html">: ""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
