<!-- received="Sun Apr 26 12:04:01 1998 PDT" -->
<!-- sent="Sun, 26 Apr 1998 15:03:23 +0700" -->
<!-- name="Rob Fargher" -->
<!-- email="fargher@POBoxes.com" -->
<!-- subject="Re: Problems with xscanimage and SANE 0.72" -->
<!-- id="199804261912.PAA22193@emerald.accessv.com" -->
<!-- inreplyto="Problems with xscanimage and SANE 0.72" -->
<title>sane-devel: Re: Problems with xscanimage and SANE 0.72</title>
<h1>Re: Problems with xscanimage and SANE 0.72</h1>
<b>Rob Fargher</b> (<a href="mailto:fargher@POBoxes.com"><i>fargher@POBoxes.com</i></a>)<br>
<i>Sun, 26 Apr 1998 15:03:23 +0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#283">[ date ]</a><a href="index.html#283">[ thread ]</a><a href="subject.html#283">[ subject ]</a><a href="author.html#283">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0284.html">Rob Fargher: "Re: UMAX 1200S"</a>
<li> <b>Previous message:</b> <a href="0282.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Maybe in reply to:</b> <a href="0264.html">Rob Fargher: "Problems with xscanimage and SANE 0.72"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 26 Apr 1998 17:08:24 +0200 (MET DST), Hugo van der Kooij wrote:<br>
<p>
<i>&gt;Are you a million percent sure you do NOT (repeat: NOT) have ANY old</i><br>
<i>&gt;libraries on your system?</i><br>
<p>
  Hurray!!!  Success!  I've got both GIMP and SANE to compile, install and run. :-)  Thanks<br>
Hugo and Oliver.  I've even managed to get colour scans from my UMAX 610S.<br>
<p>
  Hugo's comment above is what finally did it. :-)  (Yeah, yeah, I know it shouldn't have<br>
been necessary.  If I were smart, I'd be rich! :-)<br>
<p>
  I'm running Red Hat 5.0 and I guess that GIMP 0.99.12 must have been installed by default.  When I <br>
deleted the /usr/lib/gimp/0.99.12 directory structure and ran GIMP 0.99.27, I got a whole whack of error <br>
messages about not finding /usr/lib/gimp/0.99.12/plug-ins.  Hmm, this got me thinking that there was a <br>
configuration file kicking around somewhere that was mucking up the works.  I eventually found a .gimp <br>
directory in my home directory; upon deleting that, GIMP 0.99.27 installed itself and ran perfectly! <br>
<p>
  Emboldened by that success, I deleted the source to SANE 0.72 and downloaded a new copy.  It now <br>
compiled and installed without a whimper.  xscanimage works fine, even as an Xtn for GIMP.   I'm a <br>
happy camper! <br>
<p>
  Virtual beers to Oliver and Hugo!  Many thanks guys!<br>
<p>
  However, if I kill xscanimage (from the left upper corner button), I can't use the scanner again until I <br>
reboot. :-(<br>
<p>
Cheers,<br>
Rob<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0284.html">Rob Fargher: "Re: UMAX 1200S"</a>
<li> <b>Previous message:</b> <a href="0282.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Maybe in reply to:</b> <a href="0264.html">Rob Fargher: "Problems with xscanimage and SANE 0.72"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
