<!-- received="Mon Apr 27 10:34:33 1998 PDT" -->
<!-- sent="Mon, 27 Apr 1998 13:33:45 -0400 (EDT)" -->
<!-- name="Kenneth Crudup" -->
<!-- email="kenny@panix.com" -->
<!-- subject="Re:  Success compiling sane-0.72, gtk-1.0 and gimp-0.99.28" -->
<!-- id="199804271733.NAA22096@panix3.panix.com" -->
<!-- inreplyto="Success compiling sane-0.72, gtk-1.0 and gimp-0.99.28" -->
<title>sane-devel: Re:  Success compiling sane-0.72, gtk-1.0 and gimp-0.99.28</title>
<h1>Re:  Success compiling sane-0.72, gtk-1.0 and gimp-0.99.28</h1>
<b>Kenneth Crudup</b> (<a href="mailto:kenny@panix.com"><i>kenny@panix.com</i></a>)<br>
<i>Mon, 27 Apr 1998 13:33:45 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#292">[ date ]</a><a href="index.html#292">[ thread ]</a><a href="subject.html#292">[ subject ]</a><a href="author.html#292">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0293.html">Bill's way in if the password server fails: "Bug report - UMAX Astra 1200s scanner and a PCMCIA Bus Toaster."</a>
<li> <b>Previous message:</b> <a href="0291.html">hopp@darkstar.fact.rhein-ruhr.de: "Re[2]: Re[2]: gtk_tooltips"</a>
<li> <b>Maybe in reply to:</b> <a href="0290.html">Christoph Doerbeck: "Success compiling sane-0.72, gtk-1.0 and gimp-0.99.28"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  I compiled and seem to be successfully running:<br>
  sane-0.72 gtk-1.0 gimp-0.99.28<br>
<p>
Me, too, except I'm running GIMP .99.26 .<br>
<p>
  B) Using the mouse to outline a scanning selection in the preview<br>
  window works great.  But updating the numbers in the main<br>
  windows does not adjust the selection box in the acquire preview<br>
  window.  I also like the cross-hairs selector that others<br>
  have mentioned on this list before.<br>
<p>
That leads to a question I was going to ask, but I figured I'd play with it<br>
it, and RTFM first.<br>
<p>
Is there a way to get an "expanding box" in the preview window when you<br>
setup the "crop box"? As it works on my box, I click on the upper-left<br>
part, then drag down to where the lower-right should be. I don't get any<br>
feedback during this time, so I don't know if I've cropped the right<br>
part of the picture 'till I've released the button, so I very often<br>
have to do it all over again, blind, 'till I get it right.<br>
<p>
Is this normal, or do I have something wrong?<br>
<p>
	-Kenny<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0293.html">Bill's way in if the password server fails: "Bug report - UMAX Astra 1200s scanner and a PCMCIA Bus Toaster."</a>
<li> <b>Previous message:</b> <a href="0291.html">hopp@darkstar.fact.rhein-ruhr.de: "Re[2]: Re[2]: gtk_tooltips"</a>
<li> <b>Maybe in reply to:</b> <a href="0290.html">Christoph Doerbeck: "Success compiling sane-0.72, gtk-1.0 and gimp-0.99.28"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
