<!-- received="Sun Dec 15 08:37:30 1996 MST" -->
<!-- sent="Sun, 15 Dec 1996 08:41:37 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: sane-0.3: it's almost for real now!" -->
<!-- id="199612151541.IAA20828@panda.mosberger" -->
<!-- inreplyto="sane-0.3: it's almost for real now!" -->
<title>sane-devel: Re: sane-0.3: it's almost for real now!</title>
<h1>Re: sane-0.3: it's almost for real now!</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 15 Dec 1996 08:41:37 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mail lossage?"</a>
<li> <b>Previous message:</b> <a href="0007.html">Tristan Tarrant: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Maybe in reply to:</b> <a href="0003.html">David Mosberger-Tang: "sane-0.3: it's almost for real now!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0014.html">Michael K. Johnson: "Re: sane-0.3: it's almost for real now!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sat, 14 Dec 1996 20:52:03 +0000 (GMT), Tristan Tarrant &lt;<a href="mailto:tst@orthanc.isengard.com.galactica.it">tst@orthanc.isengard.com.galactica.it</a>&gt; said:</i><br>
<p>
  Tristan&gt; On 14 Dic, <a href="mailto:sane-devel@azstarnet.com">sane-devel@azstarnet.com</a> wrote:<br>
<i>  &gt;&gt;&gt; also renamed the program from sanescan to xscan---I don't think</i><br>
<i>  &gt;&gt;&gt; that name is taken yet, so why not?  But if you don't like it,</i><br>
<i>  &gt;&gt;&gt; just give a holler.</i><br>
<i>  &gt;&gt;  /pub/Linux/apps/graphics/scanners/xscan-1.1.tgz</i><br>
<i>  &gt;&gt; </i><br>
<i>  &gt;&gt; Seem to have precedent :-(</i><br>
<p>
  Tristan&gt; Then what about gtkscan ?  The plugin should remain<br>
  Tristan&gt; gimpscan.<br>
<p>
That sounds like a reasonable (though longer ;-) alternative.  But I<br>
think it's still worthwhile to wait and see what plans Uli Eckhardt<br>
has with xscan-1.1.<br>
<p>
	--david<br>
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mail lossage?"</a>
<li> <b>Previous message:</b> <a href="0007.html">Tristan Tarrant: "Re: sane-0.3: it's almost for real now!"</a>
<li> <b>Maybe in reply to:</b> <a href="0003.html">David Mosberger-Tang: "sane-0.3: it's almost for real now!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0014.html">Michael K. Johnson: "Re: sane-0.3: it's almost for real now!"</a>
<!-- reply="end" -->
</ul>
