<!-- received="Tue Dec 31 10:19:49 1996 MST" -->
<!-- sent="Tue, 31 Dec 1996 10:24:24 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Gtk rulers" -->
<!-- id="199612311724.KAA05327@panda.mosberger" -->
<!-- inreplyto="Gtk rulers" -->
<title>sane-devel: Re: Gtk rulers</title>
<h1>Re: Gtk rulers</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 31 Dec 1996 10:24:24 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#25">[ date ]</a><a href="index.html#25">[ thread ]</a><a href="subject.html#25">[ subject ]</a><a href="author.html#25">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">David Mosberger-Tang: "Re: Gtk rulers"</a>
<li> <b>Previous message:</b> <a href="0024.html">Tristan Tarrant: "Gtk rulers"</a>
<li> <b>Maybe in reply to:</b> <a href="0024.html">Tristan Tarrant: "Gtk rulers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0026.html">David Mosberger-Tang: "Re: Gtk rulers"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 31 Dec 1996 16:06:28 +0000 (GMT), Tristan Tarrant &lt;<a href="mailto:tst@orthanc.isengard.com.galactica.it">tst@orthanc.isengard.com.galactica.it</a>&gt; said:</i><br>
<p>
  Tristan&gt; It's me again... bored yet ?  Does everybody experience the<br>
  Tristan&gt; problem with the xscan rulers ? The fact that the triangles<br>
  Tristan&gt; which indicate the position of the pointer leave a trail<br>
  Tristan&gt; when the label (indicating the size of the picture in K) at<br>
  Tristan&gt; the bottom of the dialog is updated ?  I'm asking this<br>
  Tristan&gt; because maybe I'm the only one having problems. I've<br>
  Tristan&gt; glanced at gtkruler.c and can't find anything wrong<br>
  Tristan&gt; there...:-(<br>
<p>
I'll have to reinstall gimp/gtk to make sure, but as far as I recall,<br>
I haven't seen anything like this.<br>
<p>
	--david<br>
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">David Mosberger-Tang: "Re: Gtk rulers"</a>
<li> <b>Previous message:</b> <a href="0024.html">Tristan Tarrant: "Gtk rulers"</a>
<li> <b>Maybe in reply to:</b> <a href="0024.html">Tristan Tarrant: "Gtk rulers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0026.html">David Mosberger-Tang: "Re: Gtk rulers"</a>
<!-- reply="end" -->
</ul>
