<!-- received="Fri Jan 24 16:11:37 1997 MST" -->
<!-- sent="Sat, 25 Jan 1997 00:16:14 +0100 (MET)" -->
<!-- name="Stefan Luettringhaus-Kappel" -->
<!-- email="stefan@uran.informatik.uni-bonn.de" -->
<!-- subject="Mustek Problems" -->
<!-- id="199701242128.OAA21421@web.azstarnet.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek Problems</title>
<h1>Mustek Problems</h1>
<b>Stefan Luettringhaus-Kappel</b> (<a href="mailto:stefan@uran.informatik.uni-bonn.de"><i>stefan@uran.informatik.uni-bonn.de</i></a>)<br>
<i>Sat, 25 Jan 1997 00:16:14 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#45">[ date ]</a><a href="index.html#45">[ thread ]</a><a href="subject.html#45">[ subject ]</a><a href="author.html#45">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">David Mosberger-Tang: "Re: Get-Option ..."</a>
<li> <b>Previous message:</b> <a href="0044.html">David  Mosberger: "Re: Get-Option ..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
I downloaded sane-0.41 and tried to use it with my scanner. While the sane<br>
package compiled without major problems (just had to make it find sg.h), I<br>
could not scan. I try to give as much information as possible below, and<br>
try provide more if necessary.=20<br>
<p>
1. The Scanner is a Mustek MFS-12000SP, rev 1.00.<br>
2. The SCSI card is an ASUS SC-200 (NCR53C810), which is known to work<br>
   with an externally connected SCSI disk.<br>
3. Similar problems occur with the SCSI-card which came with the scanner<br>
   (NCR53C400), although I tested it only with muscan and mscan.<br>
   The most probable cause seems to be the scanner model itself.<br>
4. Sample session:<br>
stefan@piano /var/src/sane-0.41: uname -a<br>
Linux piano 2.0.27 #2 Sun Dec 8 20:32:42 MET 1996 i486<br>
stefan@piano /var/src/sane-0.41: cat /proc/scsi/scsi<br>
Attached devices:=20<br>
Host: scsi0 Channel: 00 Id: 00 Lun: 00<br>
=2E.. [omitted. scanner is the only device on scsi1:]<br>
Host: scsi1 Channel: 00 Id: 06 Lun: 00<br>
  Vendor: SCANNER  Model:                  Rev: 1.00<br>
  Type:   Scanner                          ANSI SCSI revision: 01 CCS<br>
stefan@piano /var/src/sane-0.41: cat /proc/scsi/ncr53c8xx/1<br>
General information:<br>
  Chip NCR53C810, device id 0x1, revision id 0x1<br>
  IO port address 0xe400, IRQ number 11<br>
  Using memory mapped IO at virtual address 0x4843000<br>
Profiling information:<br>
  num_trans    =3D 23<br>
  num_kbytes   =3D 0<br>
  num_disc     =3D 0<br>
  num_break    =3D 1<br>
  num_int      =3D 20<br>
  num_fly      =3D 36<br>
  ms_setup     =3D 0<br>
  ms_data      =3D 60<br>
  ms_disc      =3D 0<br>
  ms_post      =3D 0<br>
stefan@piano /var/src/sane-0.41: frontend/scan -v -d mustek:/dev/scanner<br>
scan: scanning image of size 152x253 pixels at 8 bits/pixel<br>
P5<br>
# SANE data follows<br>
152 253<br>
255<br>
scan: min/max graylevel value =3D 255/0<br>
stefan@piano /var/src/sane-0.41:=20<br>
<p>
[Now the green led on the scanner's front is blinking like mad, and the sys=<br>
log says:<br>
Jan 24 23:31:57 piano kernel: ncr53c810-1-&lt;target 6, lun 0&gt;: extraneous dat=<br>
a discarded.<br>
Jan 24 23:31:57 piano kernel: ncr53c810-1-&lt;target 6, lun 0&gt;: COMMAND FAILED=<br>
 (9 0) @00ffd810.<br>
Jan 24 23:32:12 piano kernel: ncr53c810-1: restart (ncr dead ?).<br>
<i>]</i><br>
<p>
5. I had similar problems with muscan and mscan - never scanned a color<br>
image under Linux. Once black&amp;white images worked, I can't remember<br>
how I did it.  The scanner hardware is ok, scanning under W@!$ 3.11<br>
works with the NCR53C400 based SCSI-card which came with the scanner :-(<br>
<p>
Hoping for help<br>
Stefan<br>
<p>
P.S. The sane approach to scanning (and more) surely is the right one,<br>
carry on ;-)<br>
<p>
--=20<br>
Dr. Stefan L=FCttringhaus-Kappel  &lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;=<br>
<i>&gt;</i><br>
Institut f=FCr Informatik III     Phone +49 (228) 73-4536<br>
Universit=E4t Bonn                Fax   +49 (228) 73-4382<br>
R=F6merstrasse 164                <a href="mailto:stefan@uran.informatik.uni-bonn.de">stefan@uran.informatik.uni-bonn.de</a><br>
D-53117 Bonn (Germany)          <a href="http://www.informatik.uni-bonn.de/~stefan/">http://www.informatik.uni-bonn.de/~stefan/</a><br>
&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;<br>
<p>
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">David Mosberger-Tang: "Re: Get-Option ..."</a>
<li> <b>Previous message:</b> <a href="0044.html">David  Mosberger: "Re: Get-Option ..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
