<!-- received="Fri Oct  2 13:12:19 1998 PDT" -->
<!-- sent="Fri, 02 Oct 1998 13:11:38 -0700" -->
<!-- name="Chris Sparks" -->
<!-- email="mrada@catalina-inter.net" -->
<!-- subject="Re: Never been mentioned" -->
<!-- id="" -->
<!-- inreplyto="Never been mentioned" -->
<title>sane-devel: Re: Never been mentioned</title>
<h1>Re: Never been mentioned</h1>
<b>Chris Sparks</b> (<a href="mailto:mrada@catalina-inter.net"><i>mrada@catalina-inter.net</i></a>)<br>
<i>Fri, 02 Oct 1998 13:11:38 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#9">[ date ]</a><a href="index.html#9">[ thread ]</a><a href="subject.html#9">[ subject ]</a><a href="author.html#9">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">Kevin Dalley: "Re: UMAX found but xscanimage not working right."</a>
<li> <b>Previous message:</b> <a href="0008.html">Oliver Graf: "Re: Never been mentioned"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver,<br>
<p>
<i>&gt; Sure! Cut this:</i><br>
<i>&gt; -epson.conf:+-+-+-+-</i><br>
<i>&gt; 0x3bc</i><br>
<i>&gt; +-+-+-+-+-+-+-+-+-+-</i><br>
<i>&gt; or this</i><br>
<i>&gt; -epson.conf:+-+-+-+-</i><br>
<i>&gt; 0x278</i><br>
<i>&gt; +-+-+-+-+-+-+-+-+-</i><br>
<i>&gt; or this</i><br>
<i>&gt; -epson.conf:+-+-+-+-</i><br>
<i>&gt; 0x378</i><br>
<i>&gt; +-+-+-+-+-+-+-+-+-+-</i><br>
<p>
:-)<br>
<p>
I can't seem to get the PINT backend to compile.  Once this works then I<br>
can try the above scheme.<br>
<p>
Thanks,<br>
Chris Sparks<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">Kevin Dalley: "Re: UMAX found but xscanimage not working right."</a>
<li> <b>Previous message:</b> <a href="0008.html">Oliver Graf: "Re: Never been mentioned"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
