<!-- received="Sat Oct  3 13:27:23 1998 PDT" -->
<!-- sent="Thu, 01 Oct 1998 10:34:18 +0000" -->
<!-- name="pestilence" -->
<!-- email="pestilence@pgcom.gr" -->
<!-- subject="Primax" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Primax</title>
<h1>Primax</h1>
<b>pestilence</b> (<a href="mailto:pestilence@pgcom.gr"><i>pestilence@pgcom.gr</i></a>)<br>
<i>Thu, 01 Oct 1998 10:34:18 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#29">[ date ]</a><a href="index.html#29">[ thread ]</a><a href="subject.html#29">[ subject ]</a><a href="author.html#29">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">Pawan Jaitly - Negative Entropy to my friends: "setting up Mustek MFS-6000SP and aha152x"</a>
<li> <b>Previous message:</b> <a href="0028.html">Tom Martone: "HP6250C observations"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Is there going to be a primax paraller scanner support??<br>
I am thinking of trying to test it to see if it works with some other<br>
model.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">Pawan Jaitly - Negative Entropy to my friends: "setting up Mustek MFS-6000SP and aha152x"</a>
<li> <b>Previous message:</b> <a href="0028.html">Tom Martone: "HP6250C observations"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
