<!-- received="Sat Oct  3 13:37:32 1998 PDT" -->
<!-- sent="Wed, 23 Sep 1998 21:34:38 +0200" -->
<!-- name="Chris Niekel" -->
<!-- email="chris@mimar.demon.nl" -->
<!-- subject="Re: can the HP Photosmart scanner scsi card work, or do I need to use a supported scsi card" -->
<!-- id="" -->
<!-- inreplyto="19980922170311.A321@uswest.net" -->
<title>sane-devel: Re: can the HP Photosmart scanner scsi card work, or do I need to use a supported scsi card</title>
<h1>Re: can the HP Photosmart scanner scsi card work, or do I need to use a supported scsi card</h1>
<b>Chris Niekel</b> (<a href="mailto:chris@mimar.demon.nl"><i>chris@mimar.demon.nl</i></a>)<br>
<i>Wed, 23 Sep 1998 21:34:38 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#38">[ date ]</a><a href="index.html#38">[ thread ]</a><a href="subject.html#38">[ subject ]</a><a href="author.html#38">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Joerg Schilling: "Re: E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]"</a>
<li> <b>Previous message:</b> <a href="0037.html">Brian E. Bothwell: "Re: Microtek ScanMaker X6EL supported??"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, Sep 22, 1998 at 05:03:11PM -0600, Craig Ruff wrote:<br>
<i>&gt; On Tue, Sep 22, 1998 at 03:07:01PM -0700, Peter Tiemeyer wrote:</i><br>
<i>&gt; &gt; Are those that have gotten the photosmart scanner to work plugging it into</i><br>
<i>&gt; &gt; some other scsi card that they've installed, or can someone give me pointers</i><br>
<i>&gt; &gt; on making sane and linux recognize the card that ships with the photosmart.</i><br>
<i>&gt; </i><br>
<i>&gt; 	The card is a Symbios Logic 53416A ISA PNP card (non-bootable).</i><br>
<i>&gt; </i><br>
<i>&gt; 	Comments in the SCSI drivers leads me to believe that</i><br>
<i>&gt; 	the NCR5380 driver is the appropriate one to use.</i><br>
<p>
I've tried that driver, and also every other driver that mentions ncr or<br>
symbios. None worked. On dejanews I found someone with the same problem,<br>
and he neither got it to work. I did get the isa-pnp stuff working, but <br>
not a device driver. After reading other threads on dejanews I discovered<br>
that the scsi controller was too slow for harddisks, couldn't handle more<br>
than one scsi adapter, so I spent 90 guilders ($50) for a ncr810 scsi card.<br>
<p>
If you decide to buy another scsi card, make sure you buy an active<br>
terminator also. The 53416A doesn't need a terminator (too slow I think),<br>
but every other scsi adapter _does_ need it.<br>
<p>
Greetings,<br>
    Chris Niekel<br>
<p>
<pre>
-- 
Geek code version 3.1:
GCS d- s++:+ a- C++$ ULSI++ P+(---) L+++&gt;++++ E--- W++ N++ o K? w--- O M- 
V?&gt;-- PS+ PE-() Y PGP+ t+&gt;+++ 5? X- !R tv+ b DI(+) D+ G&gt;++ e+++ h--- r+++ y+++
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">Joerg Schilling: "Re: E6XL usable? &amp; scg driver help [was: Re: Microtek V300, anyone?]"</a>
<li> <b>Previous message:</b> <a href="0037.html">Brian E. Bothwell: "Re: Microtek ScanMaker X6EL supported??"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
