<!-- received="Sun Oct  4 06:15:19 1998 PDT" -->
<!-- sent="Sun, 04 Oct 1998 09:21:29 -0400" -->
<!-- name="Mitch Chapman" -->
<!-- email="mchapman@siscom.net" -->
<!-- subject="Re: Mustek Paragon 1200 III SP" -->
<!-- id="" -->
<!-- inreplyto="Mustek Paragon 1200 III SP" -->
<title>sane-devel: Re: Mustek Paragon 1200 III SP</title>
<h1>Re: Mustek Paragon 1200 III SP</h1>
<b>Mitch Chapman</b> (<a href="mailto:mchapman@siscom.net"><i>mchapman@siscom.net</i></a>)<br>
<i>Sun, 04 Oct 1998 09:21:29 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#52">[ date ]</a><a href="index.html#52">[ thread ]</a><a href="subject.html#52">[ subject ]</a><a href="author.html#52">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0053.html">Mitch Chapman: "Mustek 1200 III SP and color registration"</a>
<li> <b>Previous message:</b> <a href="0051.html">Bernd Schroeder: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>Maybe in reply to:</b> <a href="0023.html">Boris Epstein: "Mustek Paragon 1200 III SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Boris Epstein wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi there!</i><br>
<i>&gt; </i><br>
<i>&gt; I've got a Mustek Paragon 1200 III SP (firmware version 1.00). I am trying to use SANE 0.74 to work with it but to no avail. I get a "Invalid Parameters" message when attempting to use scanimage or xscanimage to scan. Any idea why? And what I should do?</i><br>
<i>&gt; </i><br>
<i>&gt; Thanks a lot. Sincerely..</i><br>
<i>&gt; </i><br>
<p>
Hi Boris,<br>
<p>
I just had the same problem.  You need to get these files:<br>
	mustek.c-0.3      mustek.h-0.3<br>
<p>
You can find them here:<br>
<a href="http://www.math.TU-Berlin.de/funktion/bolsch/sane/">http://www.math.TU-Berlin.de/funktion/bolsch/sane/</a><br>
<p>
I just dropped these into the backends directory of the<br>
SANE source tree, in place of the existing mustek.[ch],<br>
and recompiled.<br>
<p>
Then xscanimage -d mustek:/dev/sgc<br>
(or whatever SCSI device is your scanner) should work,<br>
provided you have appropriate permissions on the /dev<br>
entry.<br>
<p>
That said, I do still have one problem:  color registration<br>
is inconsistent.  I don't see this problem when using<br>
the scanner under Win95.  <br>
<p>
<pre>
-- 
Mitch Chapman
<a href="mailto:mchapman@siscom.net">mchapman@siscom.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0053.html">Mitch Chapman: "Mustek 1200 III SP and color registration"</a>
<li> <b>Previous message:</b> <a href="0051.html">Bernd Schroeder: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>Maybe in reply to:</b> <a href="0023.html">Boris Epstein: "Mustek Paragon 1200 III SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
