<!-- received="Sun Oct  4 10:04:58 1998 PDT" -->
<!-- sent="Sun, 4 Oct 1998 10:48:09 +0800" -->
<!-- name="Mathias Koerber" -->
<!-- email="mathias@staff.singnet.com.sg" -->
<!-- subject="Re: Nikon or Minolta slide scanner?" -->
<!-- id="" -->
<!-- inreplyto="Nikon or Minolta slide scanner?" -->
<title>sane-devel: Re: Nikon or Minolta slide scanner?</title>
<h1>Re: Nikon or Minolta slide scanner?</h1>
<b>Mathias Koerber</b> (<a href="mailto:mathias@staff.singnet.com.sg"><i>mathias@staff.singnet.com.sg</i></a>)<br>
<i>Sun, 4 Oct 1998 10:48:09 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#57">[ date ]</a><a href="index.html#57">[ thread ]</a><a href="subject.html#57">[ subject ]</a><a href="author.html#57">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Matthias Braun: "is my scanner supported?"</a>
<li> <b>Previous message:</b> <a href="0056.html">Dr. Andreas Bolsch: "Re: Mustek 1200 III SP and color registration"</a>
<li> <b>Maybe in reply to:</b> <a href="0042.html">David Bartlett: "Nikon or Minolta slide scanner?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0065.html">Ray Clouse: "Re: Nikon or Minolta slide scanner?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have written to Minolta several times, and they refuse to release the<br>
programming<br>
info or write a driver themselves.<br>
I would NOT recommend anyone to buy Minolta products anymore their support<br>
is severely lacking...<br>
<p>
No idea about Nikon...<br>
<p>
-----Original Message-----<br>
From: David Bartlett &lt;<a href="mailto:david@hlalapansi.demon.co.uk">david@hlalapansi.demon.co.uk</a>&gt;<br>
To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a> &lt;sane-devel@mostang.com&gt;<br>
Date: Sunday, October 04, 1998 5:19 AM<br>
Subject: Nikon or Minolta slide scanner?<br>
<p>
<p>
<i>|I'd like to get either the Nikon CoolScan III, or a Minolta Dimage Scan</i><br>
Dual<br>
<i>|slide/film scanner. Neither appears to be supported by sane at present.</i><br>
<i>|</i><br>
<i>|1. Is anyone working on drivers for either scanner?</i><br>
<i>|</i><br>
<i>|2. If not, I'd consider taking on writing them, but would I be more likely</i><br>
to<br>
<i>|get the necessary device information from Nikon or Minolta? Advice as to</i><br>
the<br>
<i>|best way to go about getting the requisite information would also be</i><br>
welcome.<br>
<i>|</i><br>
<i>|Thanks</i><br>
<i>|David.</i><br>
<i>|</i><br>
<i>|-- --</i><br>
<i>|<a href="http://www.hlalapansi.demon.co.uk/">http://www.hlalapansi.demon.co.uk/</a></i><br>
<i>|Created &amp; sent using Java</i><br>
<i>|</i><br>
<i>|</i><br>
<i>|--</i><br>
<i>|Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>|To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>|</i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Matthias Braun: "is my scanner supported?"</a>
<li> <b>Previous message:</b> <a href="0056.html">Dr. Andreas Bolsch: "Re: Mustek 1200 III SP and color registration"</a>
<li> <b>Maybe in reply to:</b> <a href="0042.html">David Bartlett: "Nikon or Minolta slide scanner?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0065.html">Ray Clouse: "Re: Nikon or Minolta slide scanner?"</a>
<!-- reply="end" -->
</ul>
