<!-- received="Tue Oct  6 07:29:47 1998 PDT" -->
<!-- sent="Tue, 6 Oct 1998 16:27:48 +0200 (MESZ)" -->
<!-- name="Thomas Fischbacher" -->
<!-- email="Thomas.Fischbacher@Physik.Uni-Muenchen.DE" -->
<!-- subject="Just a question..." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Just a question...</title>
<h1>Just a question...</h1>
<b>Thomas Fischbacher</b> (<a href="mailto:Thomas.Fischbacher@Physik.Uni-Muenchen.DE"><i>Thomas.Fischbacher@Physik.Uni-Muenchen.DE</i></a>)<br>
<i>Tue, 6 Oct 1998 16:27:48 +0200 (MESZ)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#70">[ date ]</a><a href="index.html#70">[ thread ]</a><a href="subject.html#70">[ subject ]</a><a href="author.html#70">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">becka@rz.uni-duesseldorf.de: "Re: Just a question..."</a>
<li> <b>Previous message:</b> <a href="0069.html">Remko Faes: "Version 0.74"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0072.html">Dr. Andreas Bolsch: "Re: Just a question..."</a>
<li> <b>Reply:</b> <a href="0072.html">Dr. Andreas Bolsch: "Re: Just a question..."</a>
<li> <b>Reply:</b> <a href="0118.html">Thomas Heidel: "Re: Just a question..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sorry if I'm not up-to-date with SANE development, but we just had a very <br>
nasty problem in our workstation pool having to do with Linux' <br>
a-bit-too dynamic management of /dev/sgX. <br>
<p>
Is it possible to have SANE do some sanity checks before it sends out <br>
SCSI commands so it doesn't cause harddisks to go mad when you plug in an <br>
extra SCSI HD, thus shifting /dev/sgX devices. :-}<br>
<p>
<pre>
-- 
regards,                                                   (o_
 Thomas Fischbacher -                                      //\
                       <a href="mailto:tf@cip.physik.uni-muenchen.de">tf@cip.physik.uni-muenchen.de</a>       V_/_
                       <a href="http://www.cip.physik.uni-muenchen.de/~tf">http://www.cip.physik.uni-muenchen.de/~tf</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">becka@rz.uni-duesseldorf.de: "Re: Just a question..."</a>
<li> <b>Previous message:</b> <a href="0069.html">Remko Faes: "Version 0.74"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0072.html">Dr. Andreas Bolsch: "Re: Just a question..."</a>
<li> <b>Reply:</b> <a href="0072.html">Dr. Andreas Bolsch: "Re: Just a question..."</a>
<li> <b>Reply:</b> <a href="0118.html">Thomas Heidel: "Re: Just a question..."</a>
<!-- reply="end" -->
</ul>
