<!-- received="Wed Oct  7 06:30:19 1998 PDT" -->
<!-- sent="Wed, 7 Oct 98 15:17:33 CETDST" -->
<!-- name="ralf@tqe2.iap.physik.tu-darmstadt.de" -->
<!-- email="ralf@tqe2.iap.physik.tu-darmstadt.de" -->
<!-- subject="Re: Again: SCO Open Server, scsi device" -->
<!-- id="" -->
<!-- inreplyto="361B5FE3.F6A478F@ic.ac.uk" -->
<title>sane-devel: Re: Again: SCO Open Server, scsi device</title>
<h1>Re: Again: SCO Open Server, scsi device</h1>
<a href="mailto:ralf@tqe2.iap.physik.tu-darmstadt.de"><i>ralf@tqe2.iap.physik.tu-darmstadt.de</i></a><br>
<i>Wed, 7 Oct 98 15:17:33 CETDST</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#90">[ date ]</a><a href="index.html#90">[ thread ]</a><a href="subject.html#90">[ subject ]</a><a href="author.html#90">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">ralf@tqe2.iap.physik.tu-darmstadt.de: "sane-0.63 for SCO"</a>
<li> <b>Previous message:</b> <a href="0089.html">Dr. Andreas Bolsch: "Re: Again: SCO Open Server, scsi device"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Andreas Bolsch writes:<br>
<i> &gt; </i><br>
<i> &gt; I'm afraid you can't use the 6000SP with sane-0.63.</i><br>
<i> &gt; Mustek's 6000SP and 12000SP are supported only by</i><br>
<i> &gt; using a patch available at</i><br>
<i> &gt;  www.math.tu-berlin.de/funktion/bolsch/sane</i><br>
<i> &gt; But they based on 0.73 although 0.74 should be ok, too.</i><br>
<i> &gt; </i><br>
<p>
The documentation in the sane-0.63 package says:<br>
<p>
       The  sane-mustek library implements a SANE (Scanner Access<br>
       Now Easy) backend that provides access to  Mustek  flatbed<br>
       scanners.   At  present,  the following scanners are known<br>
       positively to work with this backend:<br>
<p>
              Model:      Product id:    Firmware revision: Type:<br>
              ----------- ----------- ------------------ -----<br>
              MFC-600S    MFC-06000CZ v1.01 (and higher) 1-pass<br>
              MFC-600CD   MFC-06000CZ v2.03 (and higher) 1-pass<br>
              MFS-6000CX  MSF-06000CX v2.71 (and higher) 3-pass<br>
      -&gt;      MSF-6000SP  MSF-06000SP v3.12 (and higher) 1-pass<br>
              MFS-8000SP   MFS-08000SP v2.05 [b&amp;w has line drops]<br>
              1-pass<br>
              MFS-1200SP  MSF-12000SP v1.00 (and higher) 1-pass<br>
              MFS-1200SP  MFS-12000SP v1.02 [color fails?] 1-pass<br>
              MFS-12000CX MFS-12000CX v2.71 (and higher) 3-pass<br>
<p>
But perhaps you are right, and it should be no problem to port<br>
sane-0.74 for SCO Open Server 5 and I will do it.<br>
<p>
But there is still the problem of the right scsi device. The one who<br>
has ported sane-0.63 for SCO probably knows the answer, but I don't<br>
have any contact address to him.<br>
<p>
Thanks for your help<br>
<p>
	Ralf<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">ralf@tqe2.iap.physik.tu-darmstadt.de: "sane-0.63 for SCO"</a>
<li> <b>Previous message:</b> <a href="0089.html">Dr. Andreas Bolsch: "Re: Again: SCO Open Server, scsi device"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
