<!-- received="Sat Oct 10 20:09:21 1998 PDT" -->
<!-- sent="Sat, 10 Oct 1998 23:07:27 -0400" -->
<!-- name="Peter Rasmussen" -->
<!-- email="plr@interlog.com" -->
<!-- subject="Transparency adapter for UMAX 1220S" -->
<!-- id="199810110307.XAA00660@udgaard.isgtec.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Transparency adapter for UMAX 1220S</title>
<h1>Transparency adapter for UMAX 1220S</h1>
<b>Peter Rasmussen</b> (<a href="mailto:plr@interlog.com"><i>plr@interlog.com</i></a>)<br>
<i>Sat, 10 Oct 1998 23:07:27 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#127">[ date ]</a><a href="index.html#127">[ thread ]</a><a href="subject.html#127">[ subject ]</a><a href="author.html#127">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Thomas Kluge: "Scanexpress 12000SP?"</a>
<li> <b>Previous message:</b> <a href="0126.html">Andrew Williams: "Re: AS6e under WINE: It works!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0129.html">Oliver Rauch: "Re: Transparency adapter for UMAX 1220S"</a>
<li> <b>Reply:</b> <a href="0129.html">Oliver Rauch: "Re: Transparency adapter for UMAX 1220S"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Having now acquired a transparency adapter for my UMAX 1220S scanner, I would<br>
like to be able to use it with SANE as well as the flatbed scanner part, but<br>
I seem to have run into some problems. Not being able to find anything in the<br>
sane-develop archives I am turning to the list. If I did in fact overlook<br>
something, please feel free to tell me where it is in the language of your<br>
choice :-)<br>
<p>
My problem may not be SANE, but the Linux kernel that I am using (2.1.125),<br>
however, I suspect that you guys on this list may have more knowledge about<br>
this particular issue than the linux-kernel folks.<br>
<p>
When I do not connect the transparency adapter to the scanner everything seems<br>
to work fine (mostly) and I can scan pictures to my hearts content, but when I<br>
connect the transparency adapter and reboot Linux (I don't know if I have to do<br>
this, but it is just to be sure) the scanner is not recognized at all. Nothing<br>
appears in /proc/scsi/scsi, nor is find-scanner able to detect it.<br>
<p>
I know my Linux kernel is a development version, so that might have some<br>
influence, but almost all kernels since 2.1.119 have behaved very well for me<br>
for everything else I do. I just got the transparency adapter and have only<br>
tried it with the latest kernel.<br>
<p>
My SCSI card is an Adaptec 1542B and SANE is the latest 0.74. My Linux distribu-<br>
tion is Slackware (I think it was 3.0) updated to compile and run the latest<br>
kernels.<br>
<p>
Has anyone here any experience with the transparency adapter for UMAX scanners<br>
especially 1220S of course, because then I would very much appreciate your<br>
advice? The SANE documerntation briefly mentions the transparency adapter, but<br>
when I for example run xscanimage, that option doesn't exist (even as a greyed<br>
out non-selectable option) so I wonder if it has in fact been tested?<br>
<p>
Thank you very much for your time,<br>
<p>
Peter<br>
<pre>
--
main(){char*s="O_&gt;&gt;^PQAHBbPQAHBbPOOH^^PAAHBJPAAHBbPA_H&gt;BB";int i,j,k,l,m,n;
for(j=0;j&lt;7;j++)for(l=0;m=l-6+j,i=m/6,n=j*6+i,k=1&lt;&lt;m%6,l&lt;41-j;l++)
putchar(l&lt;6-j?' ':l==40-j?'\n':k&amp;&amp;s[n]&amp;k?'*':' ');}
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Thomas Kluge: "Scanexpress 12000SP?"</a>
<li> <b>Previous message:</b> <a href="0126.html">Andrew Williams: "Re: AS6e under WINE: It works!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0129.html">Oliver Rauch: "Re: Transparency adapter for UMAX 1220S"</a>
<li> <b>Reply:</b> <a href="0129.html">Oliver Rauch: "Re: Transparency adapter for UMAX 1220S"</a>
<!-- reply="end" -->
</ul>
