<!-- received="Wed Oct 14 20:30:29 1998 PDT" -->
<!-- sent="Wed, 07 Oct 1998 19:48:44 -0400" -->
<!-- name="Mark A Gebert" -->
<!-- email="geeb@merit.edu" -->
<!-- subject="Microtek2 X6El" -->
<!-- id="199810072348.TAA26019@merit.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek2 X6El</title>
<h1>Microtek2 X6El</h1>
<b>Mark A Gebert</b> (<a href="mailto:geeb@merit.edu"><i>geeb@merit.edu</i></a>)<br>
<i>Wed, 07 Oct 1998 19:48:44 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#140">[ date ]</a><a href="index.html#140">[ thread ]</a><a href="subject.html#140">[ subject ]</a><a href="author.html#140">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Irmhild Grotrian: "scanner hp"</a>
<li> <b>Next message:</b> <a href="0141.html">C. Le Cannellier, Pdt LUG Normandie: "Mustek 12000SP users ?"</a>
<li> <b>Previous message:</b> <a href="0139.html">Jo: "PRIMAX &amp; Linux -- NO !"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0181.html">Bernd Schroeder: "Re: Microtek2 X6El"</a>
<li> <b>Reply:</b> <a href="0181.html">Bernd Schroeder: "Re: Microtek2 X6El"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
OS: FreeBSD 2.2.6<br>
sane verison: 0.74<br>
Microtek2 library version: v0.5<br>
<p>
When I use xscanimage in gimp the scan the image the following happens:<br>
<p>
[microtek2] scsi_wait_for_image: ms=0x53000<br>
[microtek2] scsi_read_image_status: ms=0x53000<br>
[readimagestatus]<br>
28008300600000000000<br>
[microtek2] sane_get_parameters: handle=0x53000, params=0x19958<br>
[microtek2] sane_get_parameters: format=1, last_frame=1, lines=1008<br>
[microtek2] sane_get_parameters: depth=8, ppl=611, bpl=1833<br>
[microtek2] sane_set_io_mode: unsupported<br>
[microtek2] sane_read: handle=0x53000, buf=0x11920, maxlen=32768<br>
[microtek2] sane_read: transferlength=31212, lines=17, linelength=1836, real_bpl=1833, srcbuf=0x78000<br>
[microtek2] scsi_read_image:  ms=0x53000<br>
[microtek2] scsi_read_image: transferlength=31212<br>
[readimagecmd]<br>
2800000000000079ec00<br>
[readimageresult]<br>
                                                           <br>
And xscanimage crashes. Clues??<br>
<p>
--geeb<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Irmhild Grotrian: "scanner hp"</a>
<li> <b>Next message:</b> <a href="0141.html">C. Le Cannellier, Pdt LUG Normandie: "Mustek 12000SP users ?"</a>
<li> <b>Previous message:</b> <a href="0139.html">Jo: "PRIMAX &amp; Linux -- NO !"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0181.html">Bernd Schroeder: "Re: Microtek2 X6El"</a>
<li> <b>Reply:</b> <a href="0181.html">Bernd Schroeder: "Re: Microtek2 X6El"</a>
<!-- reply="end" -->
</ul>
