<!-- received="Fri Oct 16 18:05:25 1998 PDT" -->
<!-- sent="Sat, 17 Oct 1998 01:06:01 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek2 X6El" -->
<!-- id="" -->
<!-- inreplyto="199810072348.TAA26019@merit.edu" -->
<title>sane-devel: Re: Microtek2 X6El</title>
<h1>Re: Microtek2 X6El</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sat, 17 Oct 1998 01:06:01 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#181">[ date ]</a><a href="index.html#181">[ thread ]</a><a href="subject.html#181">[ subject ]</a><a href="author.html#181">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0182.html">Oliver Rauch: "New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Previous message:</b> <a href="0180.html">Oliver Rauch: "To all UMAX Astra 1220S users"</a>
<li> <b>In reply to:</b> <a href="0140.html">Mark A Gebert: "Microtek2 X6El"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Wed, Oct 07, 1998 at 07:48:44PM -0400, Mark A Gebert wrote:<br>
<i>&gt; </i><br>
<i>&gt; OS: FreeBSD 2.2.6</i><br>
<i>&gt; sane verison: 0.74</i><br>
<i>&gt; Microtek2 library version: v0.5</i><br>
<i>&gt; </i><br>
<i>&gt; When I use xscanimage in gimp the scan the image the following happens:</i><br>
<i>&gt; </i><br>
<i>&gt; [microtek2] scsi_wait_for_image: ms=0x53000</i><br>
<i>&gt; [microtek2] scsi_read_image_status: ms=0x53000</i><br>
<i>&gt; [readimagestatus]</i><br>
<i>&gt; 28008300600000000000</i><br>
<i>&gt; [microtek2] sane_get_parameters: handle=0x53000, params=0x19958</i><br>
<i>&gt; [microtek2] sane_get_parameters: format=1, last_frame=1, lines=1008</i><br>
<i>&gt; [microtek2] sane_get_parameters: depth=8, ppl=611, bpl=1833</i><br>
<i>&gt; [microtek2] sane_set_io_mode: unsupported</i><br>
<i>&gt; [microtek2] sane_read: handle=0x53000, buf=0x11920, maxlen=32768</i><br>
<i>&gt; [microtek2] sane_read: transferlength=31212, lines=17, linelength=1836, real_bpl=1833, srcbuf=0x78000</i><br>
<i>&gt; [microtek2] scsi_read_image:  ms=0x53000</i><br>
<i>&gt; [microtek2] scsi_read_image: transferlength=31212</i><br>
<i>&gt; [readimagecmd]</i><br>
<i>&gt; 2800000000000079ec00</i><br>
<i>&gt; [readimageresult]</i><br>
<i>&gt;                                                            </i><br>
<i>&gt; And xscanimage crashes. Clues??</i><br>
<p>
This is certainly a rather stupid bug. Please set 'option dump 2' in the<br>
microtek2.conf file instead of '4'.  It seems that printing the debug output<br>
causes the crash :( .<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0182.html">Oliver Rauch: "New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Previous message:</b> <a href="0180.html">Oliver Rauch: "To all UMAX Astra 1220S users"</a>
<li> <b>In reply to:</b> <a href="0140.html">Mark A Gebert: "Microtek2 X6El"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
