<!-- received="Fri Oct 16 20:49:36 1998 PDT" -->
<!-- sent="Sat, 17 Oct 1998 05:49:41 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="New umax-backend for Astra 1220S (gamma-function)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: New umax-backend for Astra 1220S (gamma-function)</title>
<h1>New umax-backend for Astra 1220S (gamma-function)</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 17 Oct 1998 05:49:41 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#182">[ date ]</a><a href="index.html#182">[ thread ]</a><a href="subject.html#182">[ subject ]</a><a href="author.html#182">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Cory Kempf: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Previous message:</b> <a href="0181.html">Bernd Schroeder: "Re: Microtek2 X6El"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0183.html">Cory Kempf: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Reply:</b> <a href="0183.html">Cory Kempf: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Reply:</b> <a href="0191.html">Peter Rasmussen: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Reply:</b> <a href="0194.html">Oliver Rauch: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Reply:</b> <a href="0196.html">Peter Rasmussen: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi UMAX Astra 1220S users,<br>
<p>
I uploaded a new umax-backend version (0.74d) to my homepage:<br>
<a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a><br>
<p>
The Gamma-function should work with Astra 1220S now.<br>
Please would someone try it and tell me if it works?!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Cory Kempf: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Previous message:</b> <a href="0181.html">Bernd Schroeder: "Re: Microtek2 X6El"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0183.html">Cory Kempf: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Reply:</b> <a href="0183.html">Cory Kempf: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Reply:</b> <a href="0191.html">Peter Rasmussen: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Reply:</b> <a href="0194.html">Oliver Rauch: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<li> <b>Reply:</b> <a href="0196.html">Peter Rasmussen: "Re: New umax-backend for Astra 1220S (gamma-function)"</a>
<!-- reply="end" -->
</ul>
