<!-- received="Sat Oct 17 17:23:16 1998 PDT" -->
<!-- sent="Sat, 17 Oct 1998 18:30:38 +0200" -->
<!-- name="Tobias Ernst" -->
<!-- email="tobi@bland.fido.de" -->
<!-- subject="XPhotocopy question" -->
<!-- id="" -->
<!-- inreplyto="MSGID_2=3A2476=2F418_3628a352@fidonet.org" -->
<title>sane-devel: XPhotocopy question</title>
<h1>XPhotocopy question</h1>
<b>Tobias Ernst</b> (<a href="mailto:tobi@bland.fido.de"><i>tobi@bland.fido.de</i></a>)<br>
<i>Sat, 17 Oct 1998 18:30:38 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#188">[ date ]</a><a href="index.html#188">[ thread ]</a><a href="subject.html#188">[ subject ]</a><a href="author.html#188">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">Wolfgang Goeller: "Re: Does anybody recognize this inquiry information ?"</a>
<li> <b>Previous message:</b> <a href="0187.html">Bernd Schroeder: "Does anybody recognize this inquiry information ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0190.html">Oliver Rauch: "Re: XPhotocopy question"</a>
<li> <b>Reply:</b> <a href="0190.html">Oliver Rauch: "Re: XPhotocopy question"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 * Reply to message originally in area TOS2.VERTEILER.SANE<br>
<p>
Hallo Oliver!<br>
<p>
 OR&gt; much to big. Then I think again a more text based user interface <br>
 OR&gt; (like xscanimage) is much better, because it gets much smaller and you can<br>
<p>
 OR&gt; run it on a small desktop (eg 800x600 or 640x480) too.<br>
<p>
Speaking of it, xscanimage can't be run on a 800x600 desktop. At least if you<br>
choose some advanced options, the window get's too tall to fit onto the screen.<br>
<p>
<p>
This is surely a disadvantage e.g. for notebook users like me. (I could connect<br>
an external monitor to my Thinkpad and run 1024x768, but the display quality is<br>
very limited there due to the usually bad quality of notebook clock chips etc.,<br>
so I decided not to stick with the lower resolution but superb quality of the<br>
built-in TFT).<br>
<p>
Regards,<br>
Tobias<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">Wolfgang Goeller: "Re: Does anybody recognize this inquiry information ?"</a>
<li> <b>Previous message:</b> <a href="0187.html">Bernd Schroeder: "Does anybody recognize this inquiry information ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0190.html">Oliver Rauch: "Re: XPhotocopy question"</a>
<li> <b>Reply:</b> <a href="0190.html">Oliver Rauch: "Re: XPhotocopy question"</a>
<!-- reply="end" -->
</ul>
