<!-- received="Mon Oct 19 03:03:45 1998 PDT" -->
<!-- sent="Mon, 19 Oct 1998 11:05:34 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Problem with a Trust Imagery 4800SP" -->
<!-- id="" -->
<!-- inreplyto="Problem with a Trust Imagery 4800SP" -->
<title>sane-devel: Re: Problem with a Trust Imagery 4800SP</title>
<h1>Re: Problem with a Trust Imagery 4800SP</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Mon, 19 Oct 1998 11:05:34 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#202">[ date ]</a><a href="index.html#202">[ thread ]</a><a href="subject.html#202">[ subject ]</a><a href="author.html#202">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">Dr. Andreas Bolsch: "Re: New version of Mustek backend - 6000SP, 12000SP"</a>
<li> <b>Previous message:</b> <a href="0201.html">Oliver Graf: "Re: Parallelport scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0198.html">kicou: "Problem with a Trust Imagery 4800SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is probably due to the max. request size. You<br>
have to increase SG_BIG_BUFF (/usr/include/scsi/sg.h)<br>
to 127 kByte and recompile the kernel.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">Dr. Andreas Bolsch: "Re: New version of Mustek backend - 6000SP, 12000SP"</a>
<li> <b>Previous message:</b> <a href="0201.html">Oliver Graf: "Re: Parallelport scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0198.html">kicou: "Problem with a Trust Imagery 4800SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
