<!-- received="Mon Oct 19 03:27:28 1998 PDT" -->
<!-- sent="Mon, 19 Oct 1998 11:29:27 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: unsupported scanner-model" -->
<!-- id="" -->
<!-- inreplyto="unsupported scanner-model" -->
<title>sane-devel: Re: unsupported scanner-model</title>
<h1>Re: unsupported scanner-model</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Mon, 19 Oct 1998 11:29:27 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#204">[ date ]</a><a href="index.html#204">[ thread ]</a><a href="subject.html#204">[ subject ]</a><a href="author.html#204">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0205.html">Volker Beyerle: "Re: unsupported scanner-model"</a>
<li> <b>Previous message:</b> <a href="0203.html">Dr. Andreas Bolsch: "Re: New version of Mustek backend - 6000SP, 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Upgrade to sane-0.74 and get patches from<br>
 <a href="http://www.math.TU-Berlin.DE/funkion/bolsch/sane">http://www.math.TU-Berlin.DE/funkion/bolsch/sane</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0205.html">Volker Beyerle: "Re: unsupported scanner-model"</a>
<li> <b>Previous message:</b> <a href="0203.html">Dr. Andreas Bolsch: "Re: New version of Mustek backend - 6000SP, 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
