<!-- received="Tue Oct 20 03:24:53 1998 PDT" -->
<!-- sent="Tue, 20 Oct 1998 06:38:37 +0200" -->
<!-- name="Thomas Kluge" -->
<!-- email="thomas@darkstar.rhein-neckar.de" -->
<!-- subject="Casio QV-11" -->
<!-- id="" -->
<!-- inreplyto="199810200110.UAA08128@dfw-ix16.ix.netcom.com" -->
<title>sane-devel: Casio QV-11</title>
<h1>Casio QV-11</h1>
<b>Thomas Kluge</b> (<a href="mailto:thomas@darkstar.rhein-neckar.de"><i>thomas@darkstar.rhein-neckar.de</i></a>)<br>
<i>Tue, 20 Oct 1998 06:38:37 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#213">[ date ]</a><a href="index.html#213">[ thread ]</a><a href="subject.html#213">[ subject ]</a><a href="author.html#213">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">becka@rz.uni-duesseldorf.de: "Re: your mail"</a>
<li> <b>Previous message:</b> <a href="0212.html">jbnivoit@ix.netcom.com: "(no subject)"</a>
<li> <b>In reply to:</b> <a href="0212.html">jbnivoit@ix.netcom.com: "(no subject)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0214.html">becka@rz.uni-duesseldorf.de: "Re: your mail"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi no-one, &lt;g&gt;<br>
<p>
On Mon, Oct 19, 1998, <a href="mailto:jbnivoit@ix.netcom.com">jbnivoit@ix.netcom.com</a> wrote:<br>
<p>
<i>&gt; 	i just purchased a Casio QV-11 camera the other day and got</i><br>
<i>&gt; various utilities to work that query the camera and dump the pictures</i><br>
<i>&gt; out of it (QVplay). But this is all command-line stuff.</i><br>
<p>
Did you check jcam (www.jcam.com)? I think it also supports the QV-11 and it<br>
has a graphical interface...<br>
<p>
<i>&gt; JPEG (as a matter of fact, i just finished yesterday a CAM plugin for </i><br>
<i>&gt; the GIMP based on the existing cam2jpeg utility, so now you can</i><br>
<i>&gt; load CAM pictures directly into the GIMP).</i><br>
<p>
Nice... where can i download your plugin?<br>
<p>
Have a nice day,<br>
<p>
Thomas<br>
<p>
<pre>
-- 
EMAIL: <a href="mailto:thomas@darkstar.rhein-neckar.de">thomas@darkstar.rhein-neckar.de</a> WWW: www.rhein-neckar.de/~darkstar/
IRC: ctom   SITE: Tommi Online   PGP: send email with subject "get pgpkey"
-------------------------------Linux 2.0.35-------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">becka@rz.uni-duesseldorf.de: "Re: your mail"</a>
<li> <b>Previous message:</b> <a href="0212.html">jbnivoit@ix.netcom.com: "(no subject)"</a>
<li> <b>In reply to:</b> <a href="0212.html">jbnivoit@ix.netcom.com: "(no subject)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0214.html">becka@rz.uni-duesseldorf.de: "Re: your mail"</a>
<!-- reply="end" -->
</ul>
