<!-- received="Fri Oct 23 00:48:56 1998 PDT" -->
<!-- sent="Fri, 23 Oct 1998 09:47:03 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Linux handscanner backend ?" -->
<!-- id="199810230747.JAA22043@zeus.rz.uni-duesseldorf.de" -->
<!-- inreplyto="Pine.GSO.4.05.9810201743220.6038-100000@stekt10" -->
<title>sane-devel: Re: Linux handscanner backend ?</title>
<h1>Re: Linux handscanner backend ?</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Fri, 23 Oct 1998 09:47:03 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#249">[ date ]</a><a href="index.html#249">[ thread ]</a><a href="subject.html#249">[ subject ]</a><a href="author.html#249">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Christian Bucher: "Re: Epson GT-300, scanimage results"</a>
<li> <b>Previous message:</b> <a href="0248.html">becka@rz.uni-duesseldorf.de: "Re: copy program and document feeder for hp"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; Is it true that there isn't a SANE backend driver for Linux hand scanner</i><br>
<i>&gt; interface, as used by at least Genius and Logitech scanner drivers?</i><br>
<p>
Yes. The LHII as used by at least 4 handscanner drivers is not yet suppported<br>
by a bridge library.<br>
<p>
I have repeatedly offered assistance to anyone writing one, as I have designed<br>
LHII as well as the basic concept of SANE.<br>
<p>
Corollary: They are pretty similar, so it should be real easy, and you will <br>
have support from first-hand knowledge.<br>
<p>
BUT: I cannot do so myself, because I do not have a handscanner anymore.<br>
<p>
So could someone stand up and just code that ?<br>
<p>
It's the same story as with the windows TWAIN "middle"end that would read<br>
saned-network-data on one end and export TWAIN on the other.<br>
<p>
All want it, noone codes it.<br>
<p>
<i>&gt; I'd like to help but I have too little time for coding. </i><br>
<p>
So has everyone. Tuukka - the following isn't directed at you, just some<br>
general ranting :<br>
<p>
It seems like quite some people here are getting the "customer attitude".<br>
I see mails asking "is this and that supported ?", which could have been<br>
avoided by reading the docs, I see _demands_ for drivers and I see people<br>
promising to build something and never produce anything.<br>
<p>
This is not how free software works. If you want something, see if you can <br>
already find it. If you can't, ask if you missed something. If you<br>
still don't have found a source, chances are it has to be written.<br>
<p>
Now you either do that yourself (and this is what you _should_ do, if you<br>
are capable of doing so - even if you feel like you will need some help) or <br>
talk someone into doing it for you.<br>
<p>
Especially in our "geek world", this is almost always easy. Lend someone<br>
the hardware, and he will probably have enough incentive. Give him some <br>
money and he will do so. Most will even do it for the fame of getting into<br>
the CREDITS file.<br>
<p>
O.K. - enough ranting ...<br>
<p>
CU, ANdy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Christian Bucher: "Re: Epson GT-300, scanimage results"</a>
<li> <b>Previous message:</b> <a href="0248.html">becka@rz.uni-duesseldorf.de: "Re: copy program and document feeder for hp"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
