<!-- received="Sat Oct 24 12:27:53 1998 PDT" -->
<!-- sent="Sat, 24 Oct 1998 20:27:15 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Mustek backend 0.5" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek backend 0.5</title>
<h1>Mustek backend 0.5</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Sat, 24 Oct 1998 20:27:15 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#263">[ date ]</a><a href="index.html#263">[ thread ]</a><a href="subject.html#263">[ subject ]</a><a href="author.html#263">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0264.html">Andreas Tille: "RE: Coolscan driver produces error at the image border"</a>
<li> <b>Next message:</b> <a href="0264.html">Ken Terrell: "Just a few dumb questions"</a>
<li> <b>Previous message:</b> <a href="0262.html">Dave Restall - System Administrator: "Re: Black Widow Scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
New version of extended mustek backend version 0.5<br>
is available at<br>
<p>
  <a href="http://www.math.tu-berlin.de/funktion/bolsch/sane">http://www.math.tu-berlin.de/funktion/bolsch/sane</a><br>
<p>
- Bug which caused xscanimage to crash (color preview)<br>
  fixed. <br>
- Contrast adjustment in lineart for SE models disabled.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0264.html">Andreas Tille: "RE: Coolscan driver produces error at the image border"</a>
<li> <b>Next message:</b> <a href="0264.html">Ken Terrell: "Just a few dumb questions"</a>
<li> <b>Previous message:</b> <a href="0262.html">Dave Restall - System Administrator: "Re: Black Widow Scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
