<!-- received="Mon Oct 26 22:56:04 1998 PST" -->
<!-- sent="Fri, 23 Oct 1998 19:43:08 +0200 (METDST)" -->
<!-- name="Andreas Tille" -->
<!-- email="tille@physik.uni-halle.de" -->
<!-- subject="RE: Coolscan driver produces error at the image border" -->
<!-- id="" -->
<!-- inreplyto="XFMail.981023190529.carlierd@acm.org" -->
<title>sane-devel: RE: Coolscan driver produces error at the image border</title>
<h1>RE: Coolscan driver produces error at the image border</h1>
<b>Andreas Tille</b> (<a href="mailto:tille@physik.uni-halle.de"><i>tille@physik.uni-halle.de</i></a>)<br>
<i>Fri, 23 Oct 1998 19:43:08 +0200 (METDST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#264">[ date ]</a><a href="index.html#264">[ thread ]</a><a href="subject.html#264">[ subject ]</a><a href="author.html#264">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0265.html">Ralph Angenendt: "Re: Sane with Microtek ScanMaker 2"</a>
<li> <b>Previous message:</b> <a href="0263.html">Dr. Andreas Bolsch: "Mustek backend 0.5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 23 Oct 1998, Didier Carlier wrote:<br>
<p>
<i>&gt; I must admit that I didn't try yet sane 0.74, but the the latest coolscan</i><br>
<i>&gt; backend (i.e. the one of 0.74) does not produce that with 0.73.</i><br>
That means possibly that the bug was introduced with 0.74???<br>
<p>
If nobody else can reproduce this problem I would do some<br>
further investigations or support further information.<br>
Anybody using Debian slink (unstable).  I use these with no<br>
modifications.<br>
<p>
Kind regards<br>
<p>
             Andreas.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0265.html">Ralph Angenendt: "Re: Sane with Microtek ScanMaker 2"</a>
<li> <b>Previous message:</b> <a href="0263.html">Dr. Andreas Bolsch: "Mustek backend 0.5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
