<!-- received="Wed Oct 28 02:05:46 1998 PST" -->
<!-- sent="28 Oct 1998 02:02:39 -0800" -->
<!-- name="Kevin Dalley" -->
<!-- email="kevind@rahul.net" -->
<!-- subject="Re: Umax 1220s scans 'dark'." -->
<!-- id="" -->
<!-- inreplyto="Thu, 15 Oct 1998 12:20:06 -0700 (PDT)"" -->
<title>sane-devel: Re: Umax 1220s scans 'dark'.</title>
<h1>Re: Umax 1220s scans 'dark'.</h1>
<b>Kevin Dalley</b> (<a href="mailto:kevind@rahul.net"><i>kevind@rahul.net</i></a>)<br>
<i>28 Oct 1998 02:02:39 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#291">[ date ]</a><a href="index.html#291">[ thread ]</a><a href="subject.html#291">[ subject ]</a><a href="author.html#291">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0292.html">Andreas Tille: "Re: sane: Coolscan driver produces error at the image border"</a>
<li> <b>Previous message:</b> <a href="0290.html">Kevin Dalley: "sane: Coolscan driver produces unsharp images"</a>
<li> <b>In reply to:</b> <a href="0168.html">leila belhadjali: "Re: Umax 1220s scans 'dark'."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
In the past I would get a darker image with my Astra 1200S.  I could<br>
easily change the gamma value for image intensity.  It didn't crash at <br>
all for sane_0.74 for Debian Linux.  Currently, I am not getting that<br>
problem.  I'm not sure why.<br>
<p>
<pre>
--
Kevin Dalley
<a href="mailto:kevind@rahul.net">kevind@rahul.net</a>
<p>
<p>
leila belhadjali &lt;<a href="mailto:leilab@aa.net">leilab@aa.net</a>&gt; writes:
<p>
&gt; Ok, I did try that!
&gt; 
&gt; Anytime I make a change to gamma I get an error:
&gt; "Failed to set value of option red-gamma table: Invalid Argument"
&gt; even when I have not touched the red gamma.
&gt; 
&gt; If I just change the image intensity, (I tried 1.1, 1.5 and 2.5) I get
&gt; a light cyan and and white image. Changing that gammas on the colours
&gt; as well nets me  a black image with some red dots.
&gt; 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0292.html">Andreas Tille: "Re: sane: Coolscan driver produces error at the image border"</a>
<li> <b>Previous message:</b> <a href="0290.html">Kevin Dalley: "sane: Coolscan driver produces unsharp images"</a>
<li> <b>In reply to:</b> <a href="0168.html">leila belhadjali: "Re: Umax 1220s scans 'dark'."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
