<!-- received="Wed Oct 28 22:01:36 1998 PST" -->
<!-- sent="Wed, 28 Oct 1998 22:01:34 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Plustek support" -->
<!-- id="199810290601.WAA11028@panda.mostang.com" -->
<!-- inreplyto="199810290216.SAA14809@dynip210.efn.org" -->
<title>sane-devel: Re: Plustek support</title>
<h1>Re: Plustek support</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 28 Oct 1998 22:01:34 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#297">[ date ]</a><a href="index.html#297">[ thread ]</a><a href="subject.html#297">[ subject ]</a><a href="author.html#297">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0298.html">Samuli Ylinen: "Re: HP ScanJet 5P and SCSI-card"</a>
<li> <b>Previous message:</b> <a href="0296.html">Rick Bronson: "Plustek support"</a>
<li> <b>In reply to:</b> <a href="0296.html">Rick Bronson: "Plustek support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0314.html">Rick Bronson: "Re: Plustek support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 28 Oct 1998 18:16:00 -0800, Rick Bronson &lt;<a href="mailto:rick@efn.org">rick@efn.org</a>&gt; said:</i><br>
<p>
  Rick&gt; Hi SANE developers, We have been working to provide a SANE<br>
  Rick&gt; backend for the Plustek 4830P scanner.  Plustek graciously<br>
  Rick&gt; gave us their code to play with and then we found we had to<br>
  Rick&gt; port it to a kernel mode driver to make it work reliably.  We<br>
  Rick&gt; are looking for alpha testers to see what we have missed in<br>
  Rick&gt; out port.  Note that this backend differs from every other<br>
  Rick&gt; SANE backend in that it incorporates a kernel mode driver.<br>
<p>
  Rick&gt;   Please check it out at <a href="http://www.efn.org/~rick/pub">http://www.efn.org/~rick/pub</a> and tell<br>
  Rick&gt; us what you think.<br>
<p>
Nice work!<br>
<p>
If you put together a descriptive web page for this backend, could you<br>
let me know so I can add a pointer to it to the SANE home page?<br>
<p>
Thanks,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0298.html">Samuli Ylinen: "Re: HP ScanJet 5P and SCSI-card"</a>
<li> <b>Previous message:</b> <a href="0296.html">Rick Bronson: "Plustek support"</a>
<li> <b>In reply to:</b> <a href="0296.html">Rick Bronson: "Plustek support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0314.html">Rick Bronson: "Re: Plustek support"</a>
<!-- reply="end" -->
</ul>
