<!-- received="Sat Oct 31 14:59:07 1998 PST" -->
<!-- sent="Sat, 31 Oct 1998 23:58:05 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: problem getting linux to recognize SCSI host adapter" -->
<!-- id="" -->
<!-- inreplyto="problem getting linux to recognize SCSI host adapter" -->
<title>sane-devel: Re: problem getting linux to recognize SCSI host adapter</title>
<h1>Re: problem getting linux to recognize SCSI host adapter</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 31 Oct 1998 23:58:05 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#313">[ date ]</a><a href="index.html#313">[ thread ]</a><a href="subject.html#313">[ subject ]</a><a href="author.html#313">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0314.html">Rick Bronson: "Re: Plustek support"</a>
<li> <b>Previous message:</b> <a href="0312.html">Mike Mitten: "problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Maybe in reply to:</b> <a href="0312.html">Mike Mitten: "problem getting linux to recognize SCSI host adapter"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mike Mitten wrote:<br>
<p>
<i>&gt; I'm not sure this is the right place to ask this; if not, suggestions</i><br>
<i>&gt; about where to go would be welcome.</i><br>
<i>&gt;</i><br>
<i>&gt; I've just gotten a UMAX Astra 1220S, partly as a learning tool, and</i><br>
<i>&gt; partly to tide me over 'til I can save up for an LS-30.  It came with</i><br>
<i>&gt; a SCSI adapter made by, I guess "Domex."  Printing on the pc board</i><br>
<i>&gt; includes "DMX3181LE", "UDS-IS11 PC/ISA", "P/N: 970160-16", and "FCC ID</i><br>
<i>&gt; KQ53181LE-1".  I also have what I'm told is a Realogic adapter; this</i><br>
<i>&gt; one has jumpers for IRQs, IO Address, and Memory Address, and might be</i><br>
<i>&gt; a model "XL-221", with "FCCID:KSXXL221" also appearing on the board.</i><br>
<i>&gt;</i><br>
<p>
Hi Mike,<br>
as far as I know the UDS11 is not supported - liked described in them<br>
umax-manual!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0314.html">Rick Bronson: "Re: Plustek support"</a>
<li> <b>Previous message:</b> <a href="0312.html">Mike Mitten: "problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Maybe in reply to:</b> <a href="0312.html">Mike Mitten: "problem getting linux to recognize SCSI host adapter"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
