<!-- received="Mon Jun  1 05:13:45 1998 PDT" -->
<!-- sent="Mon, 01 Jun 1998 14:14:14 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: [PATCH] Fix re: Mustek Scan Express 12000SP Problems" -->
<!-- id="35729B16.E091C832@ic.ac.uk" -->
<!-- inreplyto="[PATCH] Fix re: Mustek Scan Express 12000SP Problems" -->
<title>sane-devel: Re: [PATCH] Fix re: Mustek Scan Express 12000SP Problems</title>
<h1>Re: [PATCH] Fix re: Mustek Scan Express 12000SP Problems</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Mon, 01 Jun 1998 14:14:14 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#3">[ date ]</a><a href="index.html#3">[ thread ]</a><a href="subject.html#3">[ subject ]</a><a href="author.html#3">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Dr. Andreas Bolsch: "Re: Old Mustek MFS-6000CX and chunky scanning"</a>
<li> <b>Previous message:</b> <a href="0002.html">Dr. Andreas Bolsch: "Re: Yet more Non Disclosure Agreements."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm afraid the problem with the ScanExpress is not caused that way.<br>
It utilizes a completely different command set, and the gamma tables<br>
are only send once (in grayscale mode only the gray one, in color<br>
mode only the red, green, blue).<br>
<p>
Furthermore I've experienced that this problem does *not* occur<br>
with my ScanExpress 12000SP if at most 2 read_data commands are<br>
queued (even with 600 * 1200 dpi ^2). However, this way scanning<br>
becomes incredible slow. (the scanner has only 128kB internal buffer)<br>
The only cure I'know at the moment would be increasing the max.<br>
request size from 127kB to 2MB, say.<br>
<p>
But I don't know whether this is possible with the Linux sg.<br>
Any kernel hacker around?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Dr. Andreas Bolsch: "Re: Old Mustek MFS-6000CX and chunky scanning"</a>
<li> <b>Previous message:</b> <a href="0002.html">Dr. Andreas Bolsch: "Re: Yet more Non Disclosure Agreements."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
