<!-- received="Thu Jun  4 12:08:04 1998 PDT" -->
<!-- sent="Thu, 04 Jun 1998 12:09:14 -0700" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Re: TWAIN support in JMF? (fwd)" -->
<!-- id="" -->
<!-- inreplyto="TWAIN support in JMF? (fwd)" -->
<title>sane-devel: Re: TWAIN support in JMF? (fwd)</title>
<h1>Re: TWAIN support in JMF? (fwd)</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Thu, 04 Jun 1998 12:09:14 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#33">[ date ]</a><a href="index.html#33">[ thread ]</a><a href="subject.html#33">[ subject ]</a><a href="author.html#33">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Bernd Seemann: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0032.html">Shawn Rutledge: "Re: TWAIN support in JMF? (fwd)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Shawn Rutledge wrote:<br>
<p>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; FYI, SANE (as well as two versions of TWAIN) also exists on OS/2.</i><br>
<i>&gt; &gt; However, since I there isn't a Java scanner API, any Java solution would</i><br>
<i>&gt; &gt; be platform-specific.  </i><br>
<p>
If you look in the SANE distribution (under "japi", I believe), you'll<br>
see a Java interface to SANE using JNI (Java Native Interface), and the<br>
beginnings of a Java front end which uses it.  This should be portable<br>
to any platform to which SANE is ported.<br>
<p>
-- Jeff<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Bernd Seemann: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0032.html">Shawn Rutledge: "Re: TWAIN support in JMF? (fwd)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
