<!-- received="Fri Jun  5 21:40:50 1998 PDT" -->
<!-- sent="Fri, 5 Jun 1998 21:39:33 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Eeck.. network protocol" -->
<!-- id="199806060439.VAA15996@panda.mostang.com" -->
<!-- inreplyto="002001bd9099$928eccb0$2100a8c0@bmacy.ata.strobe.net" -->
<title>sane-devel: Re: Eeck.. network protocol</title>
<h1>Re: Eeck.. network protocol</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 5 Jun 1998 21:39:33 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">David Mosberger-Tang: "Re: Scanner support"</a>
<li> <b>Previous message:</b> <a href="0042.html">Tom Tromey: "Re: GNOME SANE 0.73"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 5 Jun 1998 08:49:29 -0700, "Brian Macy" &lt;<a href="mailto:bmacy@sunshinecomputing.com">bmacy@sunshinecomputing.com</a>&gt; said:</i><br>
<p>
  Brian&gt; Is it just me or is the SANE network protocol full of race<br>
  Brian&gt; conditions on replies? There is now way to identify a<br>
  Brian&gt; reply. It expects the bytes being read to be associated with<br>
  Brian&gt; the last sent packet.<br>
<p>
  Brian&gt; From what I can tell if you send a packet and the response<br>
  Brian&gt; times out you are screwed. It is possible the remote saned<br>
  Brian&gt; will still send the bytes, even if you call<br>
  Brian&gt; SANE_NET_CANCEL. There is no way (that I can tell) that the<br>
  Brian&gt; communication link can recover.<br>
<p>
  Brian&gt; Even the sends could incorrectly fail under heavy system<br>
  Brian&gt; loads, in fact I believe the watch could cause a process<br>
  Brian&gt; deadlock. If the alarm triggers before the actual read/write<br>
  Brian&gt; will the read timeout?<br>
<p>
  Brian&gt; Has anyone thought about a simple frame around these things?<br>
<p>
You do realize that the SANE network protocol is designed to run on<br>
top of a reliable, ordered bytestream, such as TCP, right?<br>
<p>
BTW: as suggested earlier, I think you'd benefit from looking at the<br>
existing source code.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">David Mosberger-Tang: "Re: Scanner support"</a>
<li> <b>Previous message:</b> <a href="0042.html">Tom Tromey: "Re: GNOME SANE 0.73"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
