<!-- received="Sat Jun  6 09:56:44 1998 PDT" -->
<!-- sent="Fri, 5 Jun 1998 22:14:02 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Problems with CANCEL" -->
<!-- id="199806060514.WAA19446@panda.mostang.com" -->
<!-- inreplyto="199806040912.LAA13879@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re: Problems with CANCEL</title>
<h1>Re: Problems with CANCEL</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Fri, 5 Jun 1998 22:14:02 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#49">[ date ]</a><a href="index.html#49">[ thread ]</a><a href="subject.html#49">[ subject ]</a><a href="author.html#49">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Dave Restall - System Administrator: "Scanace NDA for your perusal."</a>
<li> <b>Previous message:</b> <a href="0048.html">Kevin Turner: "Re: HP psc/380"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with CANCEL"</a>
<li> <b>Reply:</b> <a href="0063.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with CANCEL"</a>
<li> <b>Reply:</b> <a href="0066.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with CANCEL"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 4 Jun 1998 11:12:22 +0200 (MET DST), <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> said:</i><br>
<p>
  Oliver&gt; Hi, Please could you tell me if the CANCEL-Button works with<br>
  Oliver&gt; not-umax-backends?<br>
<p>
It works fine here (Mustek backend).<br>
<p>
  Oliver&gt; Any ideas?<br>
<p>
Not really, but I'm not sure it's a good idea to block all signals.<br>
You may want to play around with this part.  Indeed, for testing<br>
purposes you could not block anything and see whether that helps.<br>
<p>
	--david<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Dave Restall - System Administrator: "Scanace NDA for your perusal."</a>
<li> <b>Previous message:</b> <a href="0048.html">Kevin Turner: "Re: HP psc/380"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with CANCEL"</a>
<li> <b>Reply:</b> <a href="0063.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with CANCEL"</a>
<li> <b>Reply:</b> <a href="0066.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with CANCEL"</a>
<!-- reply="end" -->
</ul>
