<!-- received="Sat Jun  6 20:07:41 1998 PDT" -->
<!-- sent="Sun, 07 Jun 1998 03:04:11 +0000" -->
<!-- name="John Warren Duprey" -->
<!-- email="jduprey@milo.roc.servtech.com" -->
<!-- subject="Re: no SANE devices found.." -->
<!-- id="" -->
<!-- inreplyto="no SANE devices found.." -->
<title>sane-devel: Re: no SANE devices found..</title>
<h1>Re: no SANE devices found..</h1>
<b>John Warren Duprey</b> (<a href="mailto:jduprey@milo.roc.servtech.com"><i>jduprey@milo.roc.servtech.com</i></a>)<br>
<i>Sun, 07 Jun 1998 03:04:11 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#53">[ date ]</a><a href="index.html#53">[ thread ]</a><a href="subject.html#53">[ subject ]</a><a href="author.html#53">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Dominik Strasser: "xscanimgae in 0.73"</a>
<li> <b>Previous message:</b> <a href="0052.html">charter@cs.ualberta.ca: "Re: SANE options"</a>
<li> <b>In reply to:</b> <a href="0039.html">: ""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0094.html">Wolfgang Jung: "Re: Casio Digital Cameras (all types)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
--------------5523D160AF39E3776354083F<br>
Content-Type: multipart/alternative; boundary="------------42479DDA6B53626EEFFDD0BD"<br>
<p>
<p>
--------------42479DDA6B53626EEFFDD0BD<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Matt wrote:<br>
...<br>
 I believe the only way to lock up the system is by some bad interaction<br>
 with the SCSI cards, and it's not obvious where that could be happening.<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;</i><br>
Matt, I'm glad your curious too.  I hope that this can get resolved.  I really<br>
look forward to using<br>
sane and the gimp front end to it!<br>
<p>
I do have some conflicting hardware devices that I have to be very explicit<br>
abou<br>
t in lilo.conf<br>
Does sane probe the system?  This can cause problems on my computer<br>
since I have an old sound card with scsi support, in addition to an adeptec<br>
scsi card with my zip drive and E6 scanner attached.  I also have an<br>
ethernet card and a PCI video card.  Getting all of these to boot<br>
without lock up has forced me to add the following lines to my lilo.conf<br>
"reserve=0x340,32, ether=9,0x340,eth0 pas16=0x388,7<br>
aha152x=0x140,11,7,1"<br>
I don't know if this has anything to do with it.<br>
&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;<br>
<p>
You said that a simple "scanimage -L" locks up your system --- very weird.<br>
Could you send a debug log of "scanimage -L", with both SANE_DEBUG_MICROTEK<br>
 and SANE_DEBUG_SANEI_SCSI set to 255?<br>
<i>&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;</i><br>
I have done this.  Here is the output before the whole system<br>
locks..&lt;&lt;ATTACHED&gt;&gt;<br>
This is the first software that I've run on Linux that has crashed my entire<br>
system.<br>
How does it get away with that?  :)<br>
&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;<br>
<p>
And also, send the output of<br>
 "cat /proc/scsi/scsi", "cat /proc/scsi/aha152x/*", etc.<br>
..<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;</i><br>
OK here that info is:<br>
[root@otis jduprey]# ls -la /dev/scanner<br>
lrwxrwxrwx   1 root     root            3 May 31 21:47 /dev/scanner -&gt; sga<br>
<p>
[jduprey@otis jduprey]$ cat /proc/scsi/scsi<br>
Attached devices:<br>
Host: scsi0 Channel: 00 Id: 05 Lun: 00<br>
  Vendor:          Model: Scanner 600      Rev: 1.90<br>
  Type:   Scanner                          ANSI SCSI revision: 02<br>
Host: scsi0 Channel: 00 Id: 06 Lun: 00<br>
  Vendor: IOMEGA   Model: ZIP 100          Rev: N*32<br>
  Type:   Direct-Access                    ANSI SCSI revision: 02<br>
<p>
<p>
[jduprey@otis jduprey]$ cat /proc/scsi/aha152x/*<br>
Adaptec 152x SCSI driver; $Revision: 1.18 $<br>
ioports 0x0140 to 0x015f<br>
interrupt 0x0b<br>
disconnection/reconnection enabled<br>
parity checking enabled<br>
synchronous transfers disabled<br>
0 commands currently queued<br>
enabled debugging options: (abort) (reset)<br>
<p>
queue status:<br>
no not yet issued commands<br>
no current command<br>
no disconnected commands<br>
<p>
waiting: SCSISEQ (); SCSISIG (DATA OUT); INTSTAT (lo); SSTAT (BUSFREE PHASECHG<br>
); SSTAT (); SXFRCTL0 (CH1 ); SIGNAL (); SELID (c0), SSTAT2 (SEMPTY ); SFCNT<br>
(0); SCSICNT (0), OFFCNT(0), SSTAT4 (); DMACNTRL0 (16BIT PIO READ INTEN );<br>
DMASTAT (DFIFOEMP )<br>
<p>
enabled interrupts ()<br>
<p>
&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;<br>
<p>
--------------42479DDA6B53626EEFFDD0BD<br>
Content-Type: text/html; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
<HTML>
<BODY TEXT="#000000" BGCOLOR="#FFFFFF" LINK="#0000FF" VLINK="#FF0000" ALINK="#000088">
Matt wrote:
<BR>...
<BR>&nbsp;I believe the only way to lock up the system is by some bad interaction
<BR>&nbsp;with the SCSI cards, and it's not obvious where that could be
happening.

<P>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<BR><FONT COLOR="#3333FF">Matt, I'm glad your curious too.&nbsp; I hope
that this can get resolved.&nbsp; I really look forward to using</FONT>
<BR><FONT COLOR="#3333FF">sane and the gimp front end to it!</FONT><FONT COLOR="#3333FF"></FONT>

<P><FONT COLOR="#3333FF">I do have some conflicting hardware devices that
I have to be very explicit abou</FONT>
<BR><FONT COLOR="#3333FF">t in lilo.conf</FONT>
<BR><FONT COLOR="#3333FF">Does sane probe the system?&nbsp; This can cause
problems on my computer</FONT>
<BR><FONT COLOR="#3333FF">since I have an old sound card with scsi support,
in addition to an adeptec</FONT>
<BR><FONT COLOR="#3333FF">scsi card with my zip drive and E6 scanner attached.&nbsp;
I also have an</FONT>
<BR><FONT COLOR="#3333FF">ethernet card and a PCI video card.&nbsp; Getting
all of these to boot</FONT>
<BR><FONT COLOR="#3333FF">without lock up has forced me to add the following
lines to my lilo.conf</FONT>
<BR><FONT COLOR="#3333FF">"reserve=0x340,32, ether=9,0x340,eth0 pas16=0x388,7</FONT>
<BR><FONT COLOR="#3333FF">aha152x=0x140,11,7,1"</FONT>
<BR><FONT COLOR="#3333FF">I don't know if this has anything to do with
it.</FONT>
<BR>&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;

<P>You said that a simple "scanimage -L" locks up your system --- very
weird.
<BR>Could you send a debug log of "scanimage -L", with both SANE_DEBUG_MICROTEK
<BR>&nbsp;and SANE_DEBUG_SANEI_SCSI set to 255?
<BR>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<BR><FONT COLOR="#3333FF">I have done this.&nbsp; Here is the output before
the whole system</FONT>
<BR><FONT COLOR="#3333FF">locks..&lt;&lt;ATTACHED>></FONT>
<BR><FONT COLOR="#3333FF">This is the first software that I've run on Linux
that has crashed my entire system.</FONT>
<BR><FONT COLOR="#3333FF">How does it get away with that?&nbsp; :)</FONT>
<BR>&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;

<P>And also, send the output of
<BR>&nbsp;"cat /proc/scsi/scsi", "cat /proc/scsi/aha152x/*", etc.
<BR>..
<BR>&nbsp;
<BR>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<BR><FONT COLOR="#3333FF">OK here that info is:</FONT>
<BR><FONT COLOR="#3333FF">[root@otis jduprey]# ls -la /dev/scanner</FONT>
<BR><FONT COLOR="#3333FF">lrwxrwxrwx&nbsp;&nbsp; 1 root&nbsp;&nbsp;&nbsp;&nbsp;
root&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
3 May 31 21:47 /dev/scanner -> sga</FONT><FONT COLOR="#3333FF"></FONT>

<P><FONT COLOR="#3333FF">[jduprey@otis jduprey]$ cat /proc/scsi/scsi</FONT>
<BR><FONT COLOR="#3333FF">Attached devices:</FONT>
<BR><FONT COLOR="#3333FF">Host: scsi0 Channel: 00 Id: 05 Lun: 00</FONT>
<BR><FONT COLOR="#3333FF">&nbsp; Vendor:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Model: Scanner 600&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rev: 1.90</FONT>
<BR><FONT COLOR="#3333FF">&nbsp; Type:&nbsp;&nbsp; Scanner&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ANSI SCSI revision: 02</FONT>
<BR><FONT COLOR="#3333FF">Host: scsi0 Channel: 00 Id: 06 Lun: 00</FONT>
<BR><FONT COLOR="#3333FF">&nbsp; Vendor: IOMEGA&nbsp;&nbsp; Model: ZIP
100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rev: N*32</FONT>
<BR><FONT COLOR="#3333FF">&nbsp; Type:&nbsp;&nbsp; Direct-Access&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ANSI SCSI revision: 02</FONT>
<BR><FONT COLOR="#3333FF"></FONT>&nbsp;<FONT COLOR="#3333FF"></FONT>

<P><FONT COLOR="#3333FF">[jduprey@otis jduprey]$ cat /proc/scsi/aha152x/*</FONT>
<BR><FONT COLOR="#3333FF">Adaptec 152x SCSI driver; $Revision: 1.18 $</FONT>
<BR><FONT COLOR="#3333FF">ioports 0x0140 to 0x015f</FONT>
<BR><FONT COLOR="#3333FF">interrupt 0x0b</FONT>
<BR><FONT COLOR="#3333FF">disconnection/reconnection enabled</FONT>
<BR><FONT COLOR="#3333FF">parity checking enabled</FONT>
<BR><FONT COLOR="#3333FF">synchronous transfers disabled</FONT>
<BR><FONT COLOR="#3333FF">0 commands currently queued</FONT>
<BR><FONT COLOR="#3333FF">enabled debugging options: (abort) (reset)</FONT><FONT COLOR="#3333FF"></FONT>

<P><FONT COLOR="#3333FF">queue status:</FONT>
<BR><FONT COLOR="#3333FF">no not yet issued commands</FONT>
<BR><FONT COLOR="#3333FF">no current command</FONT>
<BR><FONT COLOR="#3333FF">no disconnected commands</FONT><FONT COLOR="#3333FF"></FONT>

<P><FONT COLOR="#3333FF">waiting: SCSISEQ (); SCSISIG (DATA OUT); INTSTAT
(lo); SSTAT (BUSFREE PHASECHG ); SSTAT (); SXFRCTL0 (CH1 ); SIGNAL ();
SELID (c0), SSTAT2 (SEMPTY ); SFCNT (0); SCSICNT (0), OFFCNT(0), SSTAT4
(); DMACNTRL0 (16BIT PIO READ INTEN ); DMASTAT (DFIFOEMP )</FONT><FONT COLOR="#3333FF"></FONT>

<P><FONT COLOR="#3333FF">enabled interrupts ()</FONT>

<P>&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
</BODY>
</HTML>
<p>
--------------42479DDA6B53626EEFFDD0BD--<br>
<p>
--------------5523D160AF39E3776354083F<br>
Content-Type: text/plain; charset=us-ascii; name="SANE.OUTPUT"<br>
Content-Transfer-Encoding: 7bit<br>
Content-Disposition: inline; filename="SANE.OUTPUT"<br>
<p>
Script started on Mon Jun  1 21:43:03 1998<br>
[root@otis sane.d]# export LD_LIBRARY_PATH=$LD_LIBRATR  RY_PATH: /usr/lib/sane/ [1P/usr/lib/sane<br>
[root@otis sane.d]# echo $LD_LIBRARY_PATH<br>
:/opt/rvplayer:/opt/kde/lib:/usr/lib/sane<br>
[root@otis sane.d]# export LD_LIBRARY_PATH=/opt/rvplayer:/opt/kde/lib:/usr/lib/s ane<br>
[root@otis sane.d]# export LD_LIBRARY_PATH=/opt/rvplayer:/opt/kde/lib:/usr/lib/saane[Aot@otis sane.d]# e[39Pcho $LD_LIBRARY_PATH<br>
<p>
[K[A[root@otis sane.d]# echo $LD_LIBRARY_PATH<br>
/opt/rvplayer:/opt/kde/lib:/usr/lib/sane<br>
[root@otis sane.d]# export SANE_DEBUG_- DLL=TRUE<br>
[root@otis sane.d]# export SANE_DEBUG_MICROTEK=255<br>
[root@otis sane.d]# scanimage -d microtek:/dev/scanner -h &gt; /mnt/milo/tmp/OUTPUT .OUTPUT<br>
[sanei_init_debug]: Setting debug level of dll to 0.<br>
[sanei_init_debug]: Setting debug level of microtek to 255.<br>
[microtek] sane_init:  MICROTEK says hello! (v0.7)<br>
[microtek] sane_init:  config- scsi * * Scanner<br>
[microtek] attach_scanner:  /dev/sga<br>
[microtek] attach_scanner:  opening /dev/sga<br>
[microtek] attach_scanner:  sending INQUIRY<br>
[microtek] id_microtek...<br>
[microtek] parse_inquiry...<br>
[microtek] dump_inquiry...<br>
  === SANE/Microtek backend v0.7 ===<br>
========== Scanner Inquiry Block ========mm<br>
06 31 13 01 5b 16 00 00 20 20 20 20 20 20 20 20 <br>
53 63 61 6e 6e 65 72 20 36 30 30 20 20 20 20 20 <br>
31 2e 39 30 53 43 53 49 20 46 2f 57 56 33 2e 34 <br>
20 43 54 4c 35 33 38 30 03 4f 8c c5 03 ee 66 03 <br>
00 03 01 00 00 03 00 01 0e 0e 01 05 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 ff <br>
<p>
========== Scanner Inquiry Report ==========<br>
===== Scanner ID...<br>
Device Type Code: 0x06<br>
Model Code: 0x66<br>
Vendor Name: '        '   Model Name: 'Scanner 600     '<br>
Firmware Rev: '1.90'<br>
SCSI F/W version: 3.1     Scanner F/W version: 1.3<br>
Response data format: 0x01<br>
===== Imaging Capabilities...<br>
Modes:  Lineart Halftone Gray Color (OnePass) <br>
Resolution Step Sizes: 1% 5%    Expanded Resolution Support? yes(but says no)<br>
Supported Bits Per Sample: 4 8 <br>
Max. document size code: 0x03<br>
Max. document size:  8.500000 x 13.000000 inches<br>
Frame units:  pixels  1/8"'s <br>
# of built-in halftones: 12   Downloadable patterns? Yes<br>
Data Compression: <br>
Contrast Settings: 14   Exposure Settings: 14<br>
Adjustable Shadow/Highlight? yes   Adjustable Midtone? yes<br>
Digital brightness/offset? yes<br>
Gamma Table Size: 256 entries of 1 bytes (max. value: 255)<br>
===== Source Options...<br>
Feed type:  flatbed    ADF support? yes<br>
Document Feeder Support? yes   Feeder Backtracking? yes<br>
Feeder Installed? no           Feeder Ready? no <br>
Transparency Adapter Installed? no <br>
Fast Color Prescan? no<br>
Selectable Transfer Format? no<br>
Color Transfer Sequence: line-by-line, non-sequential with headers<br>
Three pass scan support? no<br>
ModeSelect-1 and ModeSense-1 Support? yes<br>
Can Disable Linearization Table? no<br>
Can Disable Start-of-Scan Recalibration? yes<br>
<p>
<p>
[microtek] attach_scanner:  happy.<br>
[microtek] sane_init:  config- /dev/scanner<br>
[microtek] attach_scanner:  /dev/scanner<br>
[microtek] attach_scanner:  opening /dev/scanner<br>
[microtek] attach_scanner:  sending INQUIRY<br>
[microtek] id_microtek...<br>
[microtek] parse_inquiry...<br>
[microtek] dump_inquiry...<br>
  === SANE/Microtek backend v0.7 ===<br>
========== Scanner Inquiry Block ========mm<br>
06 31 13 01 5b 16 00 00 20 20 20 20 20 20 20 20 <br>
53 63 61 6e 6e 65 72 20 36 30 30 20 20 20 20 20 <br>
31 2e 39 30 53 43 53 49 20 46 2f 57 56 33 2e 34 <br>
20 43 54 4c 35 33 38 30 03 4f 8c c5 03 ee 66 03 <br>
00 03 01 00 00 03 00 01 0e 0e 01 05 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 ff <br>
<p>
========== Scanner Inquiry Report ==========<br>
===== Scanner ID...<br>
Device Type Code: 0x06<br>
Model Code: 0x66<br>
Vendor Name: '        '   Model Name: 'Scanner 600     '<br>
Firmware Rev: '1.90'<br>
SCSI F/W version: 3.1     Scanner F/W version: 1.3<br>
Response data format: 0x01<br>
===== Imaging Capabilities...<br>
Modes:  Lineart Halftone Gray Color (OnePass) <br>
Resolution Step Sizes: 1% 5%    Expanded Resolution Support? yes(but says no)<br>
Supported Bits Per Sample: 4 8 <br>
Max. document size code: 0x03<br>
Max. document size:  8.500000 x 13.000000 inches<br>
Frame units:  pixels  1/8"'s <br>
# of built-in halftones: 12   Downloadable patterns? Yes<br>
Data Compression: <br>
Contrast Settings: 14   Exposure Settings: 14<br>
Adjustable Shadow/Highlight? yes   Adjustable Midtone? yes<br>
Digital brightness/offset? yes<br>
Gamma Table Size: 256 entries of 1 bytes (max. value: 255)<br>
===== Source Options...<br>
Feed type:  flatbed    ADF support? yes<br>
Document Feeder Support? yes   Feeder Backtracking? yes<br>
Feeder Installed? no           Feeder Ready? no <br>
Transparency Adapter Installed? no <br>
Fast Color Prescan? no<br>
Selectable Transfer Format? no<br>
Color Transfer Sequence: line-by-line, non-sequential with headers<br>
Three pass scan support? no<br>
ModeSelect-1 and ModeSense-1 Support? yes<br>
Can Disable Linearization Table? no<br>
Can Disable Start-of-Scan Recalibration? yes<br>
<p>
<p>
[microtek] attach_scanner:  happy.<br>
[microtek] sane_open<br>
[microtek] sane_open:  find device...<br>
[microtek] sane_open:  create scanner...<br>
[microtek] sane_open:  initialize scanner dependent stuff...<br>
[microtek] sane_open:  init gamma tables...<br>
[microtek] sane_open:  init pass-time variables...<br>
[microtek] sane_open:  init clever cache...<br>
[microtek] sane_open:  gonna init opts:  [microtek] init_options...<br>
[microtek] init_options:  quant yes<br>
[microtek] init_options:  done.<br>
[microtek] sane_control_option (opt=0,act=0,val=0xbffffb54,info=(nil))<br>
[microtek] sane_control_option (opt=0,act=0,val=0xbffffb14,info=(nil))<br>
[microtek] sane_get_option_descriptor (0)...<br>
[microtek] sane_get_option_descriptor (1)...<br>
[microtek] sane_get_option_descriptor (2)...<br>
[microtek] sane_get_option_descriptor (3)...<br>
[microtek] sane_get_option_descriptor (4)...<br>
[microtek] sane_get_option_descriptor (5)...<br>
[microtek] sane_get_option_descriptor (6)...<br>
[microtek] sane_get_option_descriptor (7)...<br>
[microtek] sane_get_option_descriptor (8)...<br>
[microtek] sane_get_option_descriptor (9)...<br>
[microtek] sane_get_option_descriptor (10)...<br>
[microtek] sane_get_option_descriptor (11)...<br>
[microtek] sane_get_option_descriptor (12)...<br>
[microtek] sane_get_option_descriptor (13)...<br>
[microtek] sane_get_option_descriptor (14)...<br>
[microtek] sane_control_option (opt=14,act=0,val=0x804c76c,info=(nil))<br>
[microtek] sane_get_option_descriptor (15)...<br>
[microtek] sane_control_option (opt=15,act=0,val=0x804c770,info=(nil))<br>
[microtek] sane_get_option_descriptor (16)...<br>
[microtek] sane_get_option_descriptor (17)...<br>
[microtek] sane_get_option_descriptor (18)...<br>
[microtek] sane_get_option_descriptor (19)...<br>
[microtek] sane_get_option_descriptor (20)...<br>
[microtek] sane_get_option_descriptor (21)...<br>
[microtek] sane_get_option_descriptor (22)...<br>
[microtek] sane_get_option_descriptor (23)...<br>
[microtek] sane_get_option_descriptor (24)...<br>
[microtek] sane_get_option_descriptor (25)...<br>
[microtek] sane_get_option_descriptor (26)...<br>
[microtek] sane_get_option_descriptor (27)...<br>
[microtek] sane_get_option_descriptor (28)...<br>
[microtek] sane_get_option_descriptor (29)...<br>
[microtek] sane_get_option_descriptor (30)...<br>
[microtek] sane_get_option_descriptor (31)...<br>
[microtek] sane_get_option_descriptor (32)...<br>
[microtek] sane_get_option_descriptor (33)...<br>
[microtek] sane_control_option (opt=12,act=0,val=0xbffffb10,info=(nil))<br>
[microtek] sane_control_option (opt=13,act=0,val=0xbffffb10,info=(nil))<br>
[microtek] sane_control_option (opt=12,act=0,val=0xbffffb50,info=(nil))<br>
[microtek] sane_get_option_descriptor (14)...<br>
[microtek] sane_control_option (opt=14,act=1,val=0xbffffb4c,info=0xbffffb0c)<br>
[microtek] sane_control_option (opt=13,act=0,val=0xbffffb50,info=(nil))<br>
[microtek] sane_get_option_descriptor (15)...<br>
[microtek] sane_control_option (opt=15,act=1,val=0xbffffb4c,info=0xbffffb0c)<br>
[microtek] sane_get_option_descriptor (0)...<br>
[microtek] sane_get_option_descriptor (1)...<br>
[microtek] sane_get_option_descriptor (2)...<br>
[microtek] sane_get_option_descriptor (2)...<br>
[microtek] sane_control_option (opt=2,act=0,val=0xbffffaf4,info=(nil))<br>
[microtek] sane_get_option_descriptor (3)...<br>
[microtek] sane_get_option_descriptor (3)...<br>
[microtek] sane_get_option_descriptor (4)...<br>
[microtek] sane_get_option_descriptor (4)...<br>
[microtek] sane_control_option (opt=4,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (5)...<br>
[microtek] sane_get_option_descriptor (5)...<br>
[microtek] sane_control_option (opt=5,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (6)...<br>
[microtek] sane_get_option_descriptor (6)...<br>
[microtek] sane_get_option_descriptor (7)...<br>
[microtek] sane_get_option_descriptor (7)...<br>
[microtek] sane_control_option (opt=7,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (8)...<br>
[microtek] sane_get_option_descriptor (8)...<br>
[microtek] sane_get_option_descriptor (9)...<br>
[microtek] sane_get_option_descriptor (9)...<br>
[microtek] sane_get_option_descriptor (10)...<br>
[microtek] sane_get_option_descriptor (10)...<br>
[microtek] sane_control_option (opt=10,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (11)...<br>
[microtek] sane_get_option_descriptor (12)...<br>
[microtek] sane_get_option_descriptor (12)...<br>
[microtek] sane_control_option (opt=12,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (13)...<br>
[microtek] sane_get_option_descriptor (13)...<br>
[microtek] sane_control_option (opt=13,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (14)...<br>
[microtek] sane_control_option (opt=14,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (15)...<br>
[microtek] sane_control_option (opt=15,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (16)...<br>
[microtek] sane_get_option_descriptor (17)...<br>
[microtek] sane_get_option_descriptor (17)...<br>
[microtek] sane_control_option (opt=17,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (18)...<br>
[microtek] sane_get_option_descriptor (18)...<br>
[microtek] sane_control_option (opt=18,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (19)...<br>
[microtek] sane_get_option_descriptor (19)...<br>
[microtek] sane_control_option (opt=19,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (20)...<br>
[microtek] sane_get_option_descriptor (20)...<br>
[microtek] sane_control_option (opt=20,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (21)...<br>
[microtek] sane_get_option_descriptor (21)...<br>
[microtek] sane_control_option (opt=21,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (22)...<br>
[microtek] sane_get_option_descriptor (22)...<br>
[microtek] sane_control_option (opt=22,act=0,val=0xbffffafc,info=(nil))<br>
[microtek] sane_get_option_descriptor (23)...<br>
[microtek] sane_get_option_descriptor (24)...<br>
[microtek] sane_get_option_descriptor (24)...<br>
[microtek] sane_control_option (opt=24,act=0,val=0xbffffaf8,info=(nil))<br>
[microtek] sane_get_option_descriptor (25)...<br>
[microtek] sane_get_option_descriptor (25)...<br>
[microtek] sane_get_option_descriptor (26)...<br>
[microtek] sane_get_option_descriptor (26)...<br>
[microtek] sane_get_option_descriptor (27)...<br>
[microtek] sane_get_o<br>
<p>
--------------5523D160AF39E3776354083F--<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Dominik Strasser: "xscanimgae in 0.73"</a>
<li> <b>Previous message:</b> <a href="0052.html">charter@cs.ualberta.ca: "Re: SANE options"</a>
<li> <b>In reply to:</b> <a href="0039.html">: ""</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0094.html">Wolfgang Jung: "Re: Casio Digital Cameras (all types)"</a>
<!-- reply="end" -->
</ul>
