<!-- received="Sun Jun  7 10:31:19 1998 PDT" -->
<!-- sent="Sun, 7 Jun 1998 19:25:24 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: new UMAX-Patch available" -->
<!-- id="199806071725.TAA00593@Babylon5.wolfsburg.de" -->
<!-- inreplyto="m0yheQY-000JA8C@yoo-hoo.ai.mit.edu" -->
<title>sane-devel: Re: new UMAX-Patch available</title>
<h1>Re: new UMAX-Patch available</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sun, 7 Jun 1998 19:25:24 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#60">[ date ]</a><a href="index.html#60">[ thread ]</a><a href="subject.html#60">[ subject ]</a><a href="author.html#60">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Hugo van der Kooij: "Re: Highscreen HighScan and microtek2-backend"</a>
<li> <b>Previous message:</b> <a href="0059.html">Oliver.Rauch@Wolfsburg.DE: "Re: umax-backend"</a>
<li> <b>In reply to:</b> <a href="0031.html">Matto Marjanovic: "Re: new UMAX-Patch available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Matt<br>
<p>
<i>&gt; Is there any subtle command to tell it to not calibrate?</i><br>
<i>&gt; The Microtek(1) scanners have a bit you can set to force them to not</i><br>
<i>&gt;  calibrate at the start of a scan.  Of course, in Microtek-style, if </i><br>
<i>&gt;  the scanner is not calibrated once to start with, it silently resets</i><br>
<i>&gt;  itself and hangs the scsi bus....</i><br>
<p>
Some umax-scanners have a one-line-calibration that is done if you<br>
do not request a "quality calibration", but some scanners (like the<br>
Astra 600S) a calibration for RGB-scans that is done by the driver !<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">Hugo van der Kooij: "Re: Highscreen HighScan and microtek2-backend"</a>
<li> <b>Previous message:</b> <a href="0059.html">Oliver.Rauch@Wolfsburg.DE: "Re: umax-backend"</a>
<li> <b>In reply to:</b> <a href="0031.html">Matto Marjanovic: "Re: new UMAX-Patch available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
