<!-- received="Thu Jun 11 07:54:30 1998 PDT" -->
<!-- sent="Thu, 11 Jun 1998 16:30:30 +0200" -->
<!-- name="erikyyy@studbox.uni-stuttgart.de" -->
<!-- email="erikyyy@studbox.uni-stuttgart.de" -->
<!-- subject="QV-*forgotten somethig" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: QV-*forgotten somethig</title>
<h1>QV-*forgotten somethig</h1>
<a href="mailto:erikyyy@studbox.uni-stuttgart.de"><i>erikyyy@studbox.uni-stuttgart.de</i></a><br>
<i>Thu, 11 Jun 1998 16:30:30 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Michael Polo: "simple change..."</a>
<li> <b>Previous message:</b> <a href="0090.html">Ted Slusser: "Fujitsu Scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
oops i forgot the ultimate QV-* resource:<br>
<p>
<a href="http://www.mostang.com/mail-archive/sane-devel/1998-06/0076.html">http://www.mostang.com/mail-archive/sane-devel/1998-06/0076.html</a><br>
<p>
<p>
<p>
byebye<br>
Erik<br>
<p>
<pre>
--
EMAIL: <a href="mailto:erikyyy@studbox.uni-stuttgart.de">erikyyy@studbox.uni-stuttgart.de</a>                  \\\\
       <a href="mailto:thieleek@tick.informatik.uni-stuttgart.de">thieleek@tick.informatik.uni-stuttgart.de</a>         o `QQ'_
IRC:   erikyyy                                            /   __8
WWW:   <a href="http://wwwcip.rus.uni-stuttgart.de/~inf24628/">http://wwwcip.rus.uni-stuttgart.de/~inf24628/</a>      '  `
       <a href="http://tick.informatik.uni-stuttgart.de/~thieleek/">http://tick.informatik.uni-stuttgart.de/~thieleek/</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Michael Polo: "simple change..."</a>
<li> <b>Previous message:</b> <a href="0090.html">Ted Slusser: "Fujitsu Scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
