<!-- received="Tue Jun 16 11:32:49 1998 PDT" -->
<!-- sent="Tue, 16 Jun 1998 14:28:29 -0400" -->
<!-- name="Wolfgang Kaess" -->
<!-- email="100346.2055@compuserve.com" -->
<!-- subject="Rebuild with VisualAge C++" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Rebuild with VisualAge C++</title>
<h1>Rebuild with VisualAge C++</h1>
<b>Wolfgang Kaess</b> (<a href="mailto:100346.2055@compuserve.com"><i>100346.2055@compuserve.com</i></a>)<br>
<i>Tue, 16 Jun 1998 14:28:29 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Dave Restall - System Administrator: "Re :- Primax 9600 Direct support"</a>
<li> <b>Previous message:</b> <a href="0135.html">Antal Novak: "Re: General backend information, also Plustek information"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0144.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0144.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0153.html">Wolfgang Kaess: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0155.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0156.html">Jeff Freedman: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0160.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0167.html">Wolfgang Kaess: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0168.html">Jeff Freedman: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0187.html">Wolfgang Kaess: "Re: Rebuild with VisualAge C++"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
 <br>
Will it be posible to rebuild the sane files with VisualAge C++ ?<br>
 <br>
Are there any experience using other compilers than GNU ?<br>
 <br>
Wolfgang Kaess<br>
OS/2, SANE0.66, HP ScanJet IIP, 4P<br>
 <br>
 <br>
***<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Dave Restall - System Administrator: "Re :- Primax 9600 Direct support"</a>
<li> <b>Previous message:</b> <a href="0135.html">Antal Novak: "Re: General backend information, also Plustek information"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0144.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0144.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0153.html">Wolfgang Kaess: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0155.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0156.html">Jeff Freedman: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0160.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0167.html">Wolfgang Kaess: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0168.html">Jeff Freedman: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Reply:</b> <a href="0187.html">Wolfgang Kaess: "Re: Rebuild with VisualAge C++"</a>
<!-- reply="end" -->
</ul>
