<!-- received="Wed Jun 17 01:43:45 1998 PDT" -->
<!-- sent="Wed, 17 Jun 1998 20:39:26 +1200" -->
<!-- name="rodgerd@ihug.co.nz" -->
<!-- email="rodgerd@ihug.co.nz" -->
<!-- subject="Re: Linux 2.1.xxx" -->
<!-- id="" -->
<!-- inreplyto="3586F0C5.BEE22BCD@sri-net.demon.co.uk" -->
<title>sane-devel: Re: Linux 2.1.xxx</title>
<h1>Re: Linux 2.1.xxx</h1>
<a href="mailto:rodgerd@ihug.co.nz"><i>rodgerd@ihug.co.nz</i></a><br>
<i>Wed, 17 Jun 1998 20:39:26 +1200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#139">[ date ]</a><a href="index.html#139">[ thread ]</a><a href="subject.html#139">[ subject ]</a><a href="author.html#139">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Artur Rataj: "Re: Re :- Primax 9600 Direct support"</a>
<li> <b>Previous message:</b> <a href="0138.html">Simon Redwood: "Linux 2.1.xxx"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, Jun 16, 1998 at 10:25:09PM +0000, Simon Redwood wrote:<br>
<p>
<i>&gt; Any help, or has someone else succeeded in getting it to run on a 2.1</i><br>
<i>&gt; kernel.</i><br>
<p>
I have had no problems with the HP and Net backends under 2.1.101 and<br>
2.1.106; perhqps your problem is scanner specific?<br>
<p>
<pre>
-- 
Rodger Donaldson		<a href="mailto:rodgerd@ihug.co.nz">rodgerd@ihug.co.nz</a>
The Pinguin Patrol
"Anyone who slaps a 'this page is best viewed with Browser X' label on a Web 
page appears to be yearning for the bad old days, before  the Web, when you 
had very little chance of reading a document written on another computer, 
another word processor, or another network."  -- Tim Berners-Lee                                                  
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Artur Rataj: "Re: Re :- Primax 9600 Direct support"</a>
<li> <b>Previous message:</b> <a href="0138.html">Simon Redwood: "Linux 2.1.xxx"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
