<!-- received="Wed Jun 17 09:16:03 1998 PDT" -->
<!-- sent="Wed, 17 Jun 1998 11:15:51 -0400 (EDT)" -->
<!-- name="Bruce F. Press" -->
<!-- email="bruce@raba.com" -->
<!-- subject="SANE-0.73 crashes system" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE-0.73 crashes system</title>
<h1>SANE-0.73 crashes system</h1>
<b>Bruce F. Press</b> (<a href="mailto:bruce@raba.com"><i>bruce@raba.com</i></a>)<br>
<i>Wed, 17 Jun 1998 11:15:51 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#143">[ date ]</a><a href="index.html#143">[ thread ]</a><a href="subject.html#143">[ subject ]</a><a href="author.html#143">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Previous message:</b> <a href="0142.html">Mark Dennehy: "High framerates with sane ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
scanimage/xscanimage (sane-0.73) crashes system<br>
<p>
sane-0.72 does not crash system.  sane-0.73 compiled without<br>
problems.  I have been playing with this for weeks and cannot<br>
get either scanimage or xscanimage to run while the scanner is<br>
actually recognized.  If I run it with the aha152x unloaded, I<br>
have access to the two pseudo devices (pnm 0 and 1).  Once the<br>
scanner is recognized I get a kernel panic on startup of the<br>
sane software.<br>
<p>
Scanner: Mustek MFS-12000SP<br>
Revision: 1.00<br>
GTK Version: gtk+-1.0.4-1<br>
Kernel: 2.0.34<br>
SCSI Adapter: Adaptec 1505<br>
SG_BIG_BUFF: (128*1024-512)<br>
<p>
<p>
Jun 16 17:35:00 cc745897-b kernel: aha152x: BIOS test: passed, detected 1<br>
controller(s) Jun 16 17:35:00 cc745897-b kernel: aha152x0: vital data:<br>
PORTBASE=0x340, IRQ=12,  SCSI ID=3, reconnect=disabled, parity=enabled,<br>
synchronous=disabled, delay=100, extended translation=disabled Jun 16<br>
17:35:00<br>
cc745897-b kernel: aha152x: trying software interrupt, ok. Jun 16 17:35:00<br>
cc745897-b kernel: scsi2 : Adaptec 152x SCSI driver; $Revision: 1.18 $ Jun<br>
16<br>
17:35:00 cc745897-b kernel: scsi : 2 hosts. Jun 16 17:35:02 cc745897-b<br>
kernel: <br>
 Vendor: MUSTEK^?^?  Model: MFS-12000SP^?^?^ ?^?^?  Rev: 1.00                  <br>
                            Jun 16 17:35:02 cc745897-b kernel:   Type:  <br>
Scanner ANSI SCSI revision: 00 Jun 16 17:35:02 cc745897-b kernel: Detected<br>
scsi<br>
generic sgd at scsi2, channel 0, id 6, lun 0<br>
<p>
ldd /usr/local/bin/xscanimage<br>
        libsane.so.0 =&gt; /usr/local/lib/libsane.so.0 (0x40000000)<br>
        libgimp.so.1 =&gt; /usr/lib/libgimp.so.1 (0x40006000)<br>
        libgtk.so.1 =&gt; /usr/lib/libgtk.so.1 (0x40014000)<br>
        libgdk.so.1 =&gt; /usr/lib/libgdk.so.1 (0x400bc000)<br>
        libglib.so.1 =&gt; /usr/lib/libglib.so.1 (0x400dc000)<br>
        libXext.so.6 =&gt; /usr/X11R6/lib/libXext.so.6 (0x400e8000)<br>
        libX11.so.6 =&gt; /usr/X11R6/lib/libX11.so.6 (0x400f3000)<br>
        libm.so.6 =&gt; /lib/libm.so.6 (0x4018a000)<br>
        libdl.so.2 =&gt; /lib/libdl.so.2 (0x401a3000)<br>
        libnsl.so.1 =&gt; /lib/libnsl.so.1 (0x401a6000)<br>
        libc.so.6 =&gt; /lib/libc.so.6 (0x401ac000)<br>
        /lib/ld-linux.so.2 =&gt; /lib/ld-linux.so.2 (0x00000000)<br>
<p>
<p>
<p>
Bruce F. Press			| RABA Technologies<br>
<a href="mailto:bruce.press@raba.com">bruce.press@raba.com</a>		| Columbia MD 21044<br>
410.715.9399			| "Individuals Committed to Excellence"<br>
-----BEGIN PGP PUBLIC KEY BLOCK-----<br>
Version: 2.6.2<br>
<p>
mQBtAy/Z1AMAAAEDALEo8NGJpvV8PI2rTxX3KebzUO4stmXBaxrTuip7E1vyyzm0<br>
iFrdmtpHIG3N6+XpSVkP6X+3gdTdIzxPU30TC+wSKtlUspklln+Yhz1V39aFwZ82<br>
cyyOkTwp+hBoVjtk3QAFEbQlQnJ1Y2UgRi4gUHJlc3MgPGJydWNlLnByZXNzQHJh<br>
YmEuY29tPg==<br>
=iDAK<br>
-----END PGP PUBLIC KEY BLOCK-----<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Previous message:</b> <a href="0142.html">Mark Dennehy: "High framerates with sane ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
