<!-- received="Thu Jun 18 21:47:33 1998 PDT" -->
<!-- sent="Fri, 19 Jun 1998 00:46:26 -0400 (EDT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: microtek e3 dumps core" -->
<!-- id="m0ymt4E-000J30C@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="microtek e3 dumps core" -->
<title>sane-devel: Re: microtek e3 dumps core</title>
<h1>Re: microtek e3 dumps core</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Fri, 19 Jun 1998 00:46:26 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#158">[ date ]</a><a href="index.html#158">[ thread ]</a><a href="subject.html#158">[ subject ]</a><a href="author.html#158">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">Carsten Wartmann: "Re: AGFA ARCUS PLUS"</a>
<li> <b>Previous message:</b> <a href="0157.html">Bob van der Poel: "microtek e3 dumps core"</a>
<li> <b>Maybe in reply to:</b> <a href="0157.html">Bob van der Poel: "microtek e3 dumps core"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
   I'm using scan 0.73 with the microtek backend and an Scanmaker e3.<br>
<p>
   When I try to scan an image in, it appears, greater than 259 resolution<br>
   the scanner starts to scan, then xscanimage dumps core and quits. The <br>
   ready lite on the scanner is off at this point and I have to power<br>
   the scanner on/off for another attempt.<br>
<p>
Which version of the backend?  0.7 (packaged with SANE 0.73), or 0.8, <br>
 available on my website?  And, does this problem manifest itself with<br>
 all scans, or just color ones?<br>
<p>
There has been a recurrent problem with high-res color scans:  the backend<br>
 used to pre-allocate a couple of fixed-size buffers which it uses to <br>
 rearrange and reconstruct RGB pixels from R, G, and B scanlines.  The<br>
 size calculation was based on a heuristic which is equivalent to guessing<br>
 the distance between the R, G, and B ccd's in the scanner head.<br>
This always worked for the E6, 'cause it always works for me.... But, as<br>
 you may expect, other models use different ccd configurations.  The buffers<br>
 could be too small, and this may or may not cause a segfault, depending<br>
 on the memory layout of the scanimage process.<br>
<p>
Version 0.8 of the backend dynamically expands the buffers as necessary.<br>
 (I discovered the mighty "realloc" function -- don't know what it does<br>
 to the heap, but it seems to work.)<br>
<p>
   I'd found this behaviour in .69(?) and thought it had gone away, but<br>
   it appears not. I don't know if it is the file size or a sanner problem<br>
   which causes this. If someone can guide me in what to do I'll be glad<br>
   to do some debugging, but with only a huge core file I'm not sure of<br>
   where to start.<br>
<p>
As always, the only way to tell what is going on is to dump debugging output<br>
 during a scan, and analyze that.  If xscanimage bombs out while in the<br>
 middle of a backend function (like sane_read, or, especially, the infamous<br>
 "process_goofy_rgb") then it's probably a backend problem.<br>
<p>
-matt m.<br>
<p>
Ref: <a href="http://www.mir.com/mtek/">http://www.mir.com/mtek/</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">Carsten Wartmann: "Re: AGFA ARCUS PLUS"</a>
<li> <b>Previous message:</b> <a href="0157.html">Bob van der Poel: "microtek e3 dumps core"</a>
<li> <b>Maybe in reply to:</b> <a href="0157.html">Bob van der Poel: "microtek e3 dumps core"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
