<!-- received="Fri Jun 19 08:23:04 1998 PDT" -->
<!-- sent="Fri, 19 Jun 1998 14:17:11 +0100 (BST)" -->
<!-- name="Simon Burr" -->
<!-- email="simes@bpfh.net" -->
<!-- subject="Update to supported platforms list" -->
<!-- id="199806191317.OAA08449@triad.bpfh.net" -->
<!-- inreplyto="" -->
<title>sane-devel: Update to supported platforms list</title>
<h1>Update to supported platforms list</h1>
<b>Simon Burr</b> (<a href="mailto:simes@bpfh.net"><i>simes@bpfh.net</i></a>)<br>
<i>Fri, 19 Jun 1998 14:17:11 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#162">[ date ]</a><a href="index.html#162">[ thread ]</a><a href="subject.html#162">[ subject ]</a><a href="author.html#162">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Andre Schroeter: "support for slides on hp scanjet 4"</a>
<li> <b>Previous message:</b> <a href="0161.html">mirekp: "Mustek ScanMagic 9636 P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is just a note to say that I've got SANE 0.71 working under Solaris<br>
2.5.1 for Intel. Details are:<br>
<p>
OS              : Solaris/Intel 5.5.1<br>
SANE Version    : 0.71<br>
Compiler        : gcc 2.7.2<br>
User-level SCSI : No idea - I'm using scg if thats any help<br>
Shared libs     : Yes<br>
Dynamic loading : Yes<br>
X11 clients     : xscanimage works. xcam is untested<br>
GIMP support    : Yes<br>
<p>
<pre>
-- 
Simon Burr                                       Work: <a href="mailto:simes@hx.hh.arg">simes@hx.hh.arg</a>
Just another troll chained to a desk             Play: <a href="mailto:simes@bpfh.net">simes@bpfh.net</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Andre Schroeter: "support for slides on hp scanjet 4"</a>
<li> <b>Previous message:</b> <a href="0161.html">mirekp: "Mustek ScanMagic 9636 P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
