<!-- received="Fri Jun 19 16:08:09 1998 PDT" -->
<!-- sent="Fri, 19 Jun 1998 16:07:44 -0700" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Re: Rebuild with VisualAge C++" -->
<!-- id="" -->
<!-- inreplyto="Rebuild with VisualAge C++" -->
<title>sane-devel: Re: Rebuild with VisualAge C++</title>
<h1>Re: Rebuild with VisualAge C++</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Fri, 19 Jun 1998 16:07:44 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#168">[ date ]</a><a href="index.html#168">[ thread ]</a><a href="subject.html#168">[ subject ]</a><a href="author.html#168">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Bernd Schroeder: "Re: Mustek Paragon 1200 SP Pro"</a>
<li> <b>Previous message:</b> <a href="0167.html">Wolfgang Kaess: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Maybe in reply to:</b> <a href="0136.html">Wolfgang Kaess: "Rebuild with VisualAge C++"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0187.html">Wolfgang Kaess: "Re: Rebuild with VisualAge C++"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Wolfgang Kaess wrote:<br>
<i>&gt; </i><br>
<i>&gt; I'm sure that I can build a backend using gcc !</i><br>
<i>&gt; But I want to use VAC++.</i><br>
<i>&gt; </i><br>
<i>&gt; I can build a LIB frome the files in the "sanei" directory and I can build</i><br>
<i>&gt; a frontend but I don't understand how I could compile/link a backend to my</i><br>
<i>&gt; exe.</i><br>
<p>
Sorry if I'm a little vague, but I haven't been doing much in OS/2<br>
lately.  I imagine that building a .DLL in VisualAge isn't all that<br>
different than in EMX Gcc, in that you you give the linker a list of<br>
object files and libraries to link together.  I'm pretty sure that I<br>
just included all the backend .obj's, and also had to include sanei.lib<br>
and that other .lib of low-level utiltity functions.  This is different<br>
from the dynamically-loadable backends in the typical Linux build; it<br>
might be possible to do this in OS/2, but I don't know how.<br>
<p>
If you get "undefined external" errors, find the source files that those<br>
symbols are in, and add those to the list of things to link into the<br>
.dll.<br>
<p>
Once you have that .dll, say "sane.dll", you need to use another tool<br>
(which I'm sure VisualAge provides) to create an "import" library that<br>
represents it, since OS/2 doesn't let you link directly with the .dll<br>
like Linux does with shared libararies.  This tool will create a<br>
"sane.lib" file that you will use to link with, say, "scanimage.obj", to<br>
produce the final "scanimage.exe".<br>
<p>
Good luck!<br>
<p>
-- Jeff<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Bernd Schroeder: "Re: Mustek Paragon 1200 SP Pro"</a>
<li> <b>Previous message:</b> <a href="0167.html">Wolfgang Kaess: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Maybe in reply to:</b> <a href="0136.html">Wolfgang Kaess: "Rebuild with VisualAge C++"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0187.html">Wolfgang Kaess: "Re: Rebuild with VisualAge C++"</a>
<!-- reply="end" -->
</ul>
