<!-- received="Mon Jun 22 11:22:33 1998 PDT" -->
<!-- sent="Mon, 22 Jun 1998 20:21:51 +0200" -->
<!-- name="Miguel Alvarez Blanco" -->
<!-- email="miguel@carbono.quimica.uniovi.es" -->
<!-- subject="Re: Mustek Paragon 1200 SP Pro" -->
<!-- id="" -->
<!-- inreplyto="Mustek Paragon 1200 SP Pro" -->
<title>sane-devel: Re: Mustek Paragon 1200 SP Pro</title>
<h1>Re: Mustek Paragon 1200 SP Pro</h1>
<b>Miguel Alvarez Blanco</b> (<a href="mailto:miguel@carbono.quimica.uniovi.es"><i>miguel@carbono.quimica.uniovi.es</i></a>)<br>
<i>Mon, 22 Jun 1998 20:21:51 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#184">[ date ]</a><a href="index.html#184">[ thread ]</a><a href="subject.html#184">[ subject ]</a><a href="author.html#184">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Martin Huber: "Re: experimental hp backend"</a>
<li> <b>Previous message:</b> <a href="0183.html">Milon Firikis: "Re: SANE apple driver: test results, SCSI Release?"</a>
<li> <b>Maybe in reply to:</b> <a href="0146.html">Miguel Alvarez Blanco: "Mustek Paragon 1200 SP Pro"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi again!<br>
<p>
I'm replying to my own message to note that:<br>
<p>
a) my computer hanged due to the microtek2 module, not the mustek one<br>
(many thanks to Bernd Schroeder),<br>
<p>
b) the Mustek Paragon 1200 SP Pro is unsupported as of sane-0.73 (thanks<br>
to Ulrich Hopp for pointing it to me)<br>
<p>
However, thanks to a) I now can make a full report of debugging messages<br>
that could help in b) becoming false (I hope). This is the output of<br>
scanimage -d mustek:/dev/scanner with max debugging (I think that it is<br>
just saying that, since it can't recognize the scanner, it will not even<br>
give it a try):<br>
<p>
# scanimage -d mustek:/dev/scanner<br>
[sanei_init_debug]: Setting debug level of dll to 128.<br>
[dll] adding backend mustek<br>
[dll] loading backend mustek<br>
[dll] dlopen()ing `/usr/local/lib/sane/libsane-mustek.so.0'<br>
[dll] init: initializing backend `mustek'<br>
[sanei_init_debug]: Setting debug level of mustek to 128.<br>
[mustek] sane_init: strip-height set to 1 inches<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[sanei_scsi] searched device is /dev/sga<br>
[mustek] attach: opening /dev/sga as scsi device<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[mustek] attach: sending INQUIRY<br>
[sanei_scsi] scsi_req_enter: entered 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x804cee8<br>
[sanei_scsi] sanei_scsi.issue: 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: read 132 bytes<br>
[mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
[sanei_scsi] scsi_req_enter: entered 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x804cee8<br>
[sanei_scsi] sanei_scsi.issue: 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: read 36 bytes<br>
[mustek] attach: firmware revision 2.01<br>
[mustek] attach: unknown model `FS-1200SPPRO'<br>
[mustek] attach: opening /dev/scanner as scsi device<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[mustek] attach: sending INQUIRY<br>
[sanei_scsi] scsi_req_enter: entered 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x804cee8<br>
[sanei_scsi] sanei_scsi.issue: 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: read 132 bytes<br>
[mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
[sanei_scsi] scsi_req_enter: entered 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x804cee8<br>
[sanei_scsi] sanei_scsi.issue: 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: read 36 bytes<br>
[mustek] attach: firmware revision 2.01<br>
[mustek] attach: unknown model `FS-1200SPPRO'<br>
[mustek] attach: opening /dev/scanner as scsi device<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
[sanei_scsi] scsi_req_enter: entered 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x804cee8<br>
[sanei_scsi] sanei_scsi.issue: 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: read 36 bytes<br>
[mustek] attach: sending INQUIRY<br>
[sanei_scsi] scsi_req_enter: entered 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x804cee8<br>
[sanei_scsi] sanei_scsi.issue: 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: read 132 bytes<br>
[mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
[sanei_scsi] scsi_req_enter: entered 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x804cee8<br>
[sanei_scsi] sanei_scsi.issue: 0x804cee8<br>
[sanei_scsi] sanei_scsi_req_wait: read 36 bytes<br>
[mustek] attach: firmware revision 2.01<br>
[mustek] attach: unknown model `FS-1200SPPRO'<br>
scanimage: open of device mustek:/dev/scanner failed: Invalid argument<br>
[dll] exiting<br>
[dll] calling backend `mustek's exit function<br>
<p>
Many thanks to all that responded, and I offer again my help in testing<br>
any modifications to sane-0.73's mustek backend to support the 1200 SP<br>
PRO.<br>
<p>
  Thanks again,<br>
<p>
    Miguel<br>
<p>
<pre>
---
 Miguel Alvarez Blanco
<p>
 E-mail:    <a href="mailto:miguel@carbono.quimica.uniovi.es">miguel@carbono.quimica.uniovi.es</a>
 HomePage:  <a href="http://www.uniovi.es/~quimica.fisica/qcg/mab/miguel.html">http://www.uniovi.es/~quimica.fisica/qcg/mab/miguel.html</a>
 Mail: Dpto. Quimica Fisica y Analitica, Universidad de Oviedo.
       Facultad de Quimica, c/ Julian Claveria, 8. 33006-Oviedo, Spain.
 Phone: +34 8 510 2975  Fax: +34 8 510 3125  Dpt.Office: +34 8 510 30 34
<p>
 Never underestimate the bandwidth of a station wagon full of mag tapes.
  -- Dennis Ritchie
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0185.html">Martin Huber: "Re: experimental hp backend"</a>
<li> <b>Previous message:</b> <a href="0183.html">Milon Firikis: "Re: SANE apple driver: test results, SCSI Release?"</a>
<li> <b>Maybe in reply to:</b> <a href="0146.html">Miguel Alvarez Blanco: "Mustek Paragon 1200 SP Pro"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
