<!-- received="Sat Jan  2 07:02:11 1999 PST" -->
<!-- sent="Sat, 02 Jan 1999 08:01:43 -0700" -->
<!-- name="Morris R. Bannerman" -->
<!-- email="mbanner@xmission.com" -->
<!-- subject="Re: Sane and xscanimage" -->
<!-- id="" -->
<!-- inreplyto="Sane and xscanimage" -->
<title>sane-devel: Re: Sane and xscanimage</title>
<h1>Re: Sane and xscanimage</h1>
<b>Morris R. Bannerman</b> (<a href="mailto:mbanner@xmission.com"><i>mbanner@xmission.com</i></a>)<br>
<i>Sat, 02 Jan 1999 08:01:43 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#10">[ date ]</a><a href="index.html#10">[ thread ]</a><a href="subject.html#10">[ subject ]</a><a href="author.html#10">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Hugo van der Kooij: "Re: Sane and xscanimage"</a>
<li> <b>Previous message:</b> <a href="0009.html">Andrew Leahy: "Re: Epson ES-600C anyone?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<p>
<i>&gt; Morris R. Bannerman wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; I have tried repeatedly and cannot compile Sane 1.00 under caldera Open</i><br>
<i>&gt; &gt; Linux 1.3 for a Umax  scanner. I downloaded sane 0.74 and compiled it</i><br>
<i>&gt; &gt; and installed it and it works, or at least if I run scanimage the</i><br>
<i>&gt; &gt; scanner cycles and all sorts of characters fly past the terminal window.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; However the configure routine will not install xscanimage. GTK 1.0.5 is</i><br>
<i>&gt; &gt; installed in  /usr/X11R6/lib, but the routine does not seem to like it..</i><br>
<i>&gt; &gt; I have attached the config.log to see if there are clues in there. The</i><br>
<i>&gt; &gt; terminal window has the following mesage:</i><br>
<i>&gt; &gt; [snip]</i><br>
<i>&gt; &gt; checking for gtk-config... /usr/X11R6/bin/gtk-config</i><br>
<i>&gt; &gt; checking for GTK - version &gt;=0.99.13... no</i><br>
<i>&gt; &gt; *** Could not run GTK test program, checking why...</i><br>
<i>&gt; &gt; ***  The test program failed to compile or link [snip]</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt;</i><br>
<i>&gt; Try the following:</i><br>
<i>&gt;</i><br>
<i>&gt; login as root and call</i><br>
<i>&gt; ldconfig</i><br>
<i>&gt;</i><br>
<i>&gt; then login as normal user and call</i><br>
<i>&gt; configure</i><br>
<i>&gt; of sane.</i><br>
<i>&gt;</i><br>
<p>
Hi Oliver, Thanks for the replies.<br>
I have managed to install xscanimage by installing a runtime of glibc 2.0 and<br>
using the rpms version if Sane 0.74. As far as configuring Sane 1.00 goes the<br>
compile fails in the middle of the backend compile. I have tried editing out<br>
all of the backends in the /backend/makefile.in but it still seems to want to<br>
compile them.  Is there another file I need to edit. It seems to be a faulty<br>
backend compi9le that causes the problem.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Hugo van der Kooij: "Re: Sane and xscanimage"</a>
<li> <b>Previous message:</b> <a href="0009.html">Andrew Leahy: "Re: Epson ES-600C anyone?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
