<!-- received="Sun Jan  3 07:28:15 1999 PST" -->
<!-- sent="Sun, 3 Jan 1999 10:25:12 -0500 (EST)" -->
<!-- name="Michael J Surette" -->
<!-- email="msurette@iosphere.net" -->
<!-- subject="Problems compiling" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Problems compiling</title>
<h1>Problems compiling</h1>
<b>Michael J Surette</b> (<a href="mailto:msurette@iosphere.net"><i>msurette@iosphere.net</i></a>)<br>
<i>Sun, 3 Jan 1999 10:25:12 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#23">[ date ]</a><a href="index.html#23">[ thread ]</a><a href="subject.html#23">[ subject ]</a><a href="author.html#23">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Dirk von Suchodoletz: "Re: Problems compiling"</a>
<li> <b>Previous message:</b> <a href="0022.html">Dirk von Suchodoletz: "Re: P: xcam and geometry top-left-x=0 (and EXIT Problems)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0027.html">Oliver Rauch: "Re: Problems compiling"</a>
<li> <b>Reply:</b> <a href="0027.html">Oliver Rauch: "Re: Problems compiling"</a>
<li> <b>Reply:</b> <a href="0032.html">Guy G. Sotomayor: "Re: Problems compiling"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am running Stampede Linux w/2.0.26 kernel and pgcc -2.91.57.  I am<br>
trying to compile sane-1.00.<br>
<p>
On my first try backend/abaton.c gave me an error on line 1116.  I changed<br>
it from...<br>
	    s-&gt;val[OPT_X_RESOLUTION] = *(SANE_Word *)val; <br>
to...<br>
	    s-&gt;val[OPT_X_RESOLUTION].w = *(SANE_Word *)val;<br>
and that file gave me no more problems.<br>
<p>
umax.c now gives me a 'virtual memory exhausted' error (see below).  I<br>
have 32Mb of ram and a 64Mb swap partition.  Shouldn't this be enough?<br>
Any ideas?<br>
<p>
<pre>
---
make[1]: Entering directory `/usr/src/sane-1.00/backend'
gcc -c -g -O2 -Wall -DHAVE_CONFIG_H -I. -I. -I../include -I../include
-D_GNU_SOURCE -DPATH_SANE_CONFIG_DIR=/usr/etc/sane.d
-DPATH_SANE_DATA_DIR=/usr/share -DV_MAJOR=1 -DV_MINOR=0
-DBACKEND_NAME=umax -DLIBDIR=/usr/lib/sane -fPIC -DPIC umax.cumax.c: In
function `init_options':
umax.c:3954: virtual memory exhausted
make[1]: *** [umax.lo] Error 1
make[1]: Leaving directory `/usr/src/sane-1.00/backend'
make: *** [all-recursive] Error 1
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Dirk von Suchodoletz: "Re: Problems compiling"</a>
<li> <b>Previous message:</b> <a href="0022.html">Dirk von Suchodoletz: "Re: P: xcam and geometry top-left-x=0 (and EXIT Problems)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0027.html">Oliver Rauch: "Re: Problems compiling"</a>
<li> <b>Reply:</b> <a href="0027.html">Oliver Rauch: "Re: Problems compiling"</a>
<li> <b>Reply:</b> <a href="0032.html">Guy G. Sotomayor: "Re: Problems compiling"</a>
<!-- reply="end" -->
</ul>
