<!-- received="Sun Jan  3 11:03:56 1999 PST" -->
<!-- sent="Sun, 3 Jan 1999 14:00:20 -0500 (EST)" -->
<!-- name="Michael J Surette" -->
<!-- email="msurette@iosphere.net" -->
<!-- subject="Scantak-12P + Re: Problems compiling" -->
<!-- id="" -->
<!-- inreplyto="368FAFFD.3F85EC17@wolfsburg.de" -->
<title>sane-devel: Scantak-12P + Re: Problems compiling</title>
<h1>Scantak-12P + Re: Problems compiling</h1>
<b>Michael J Surette</b> (<a href="mailto:msurette@iosphere.net"><i>msurette@iosphere.net</i></a>)<br>
<i>Sun, 3 Jan 1999 14:00:20 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#30">[ date ]</a><a href="index.html#30">[ thread ]</a><a href="subject.html#30">[ subject ]</a><a href="author.html#30">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Robert Brink: "Re: slow , mustek , se , scanexpress, lock"</a>
<li> <b>Previous message:</b> <a href="0029.html">Francisco Rodrigo Escobedo Robles: "Problems with Artec AT12 and NCR53C810"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 3 Jan 1999, Oliver Rauch wrote:<br>
<p>
<i>&gt; read PROBLEMS in the sane directory!</i><br>
<i>&gt; </i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<p>
Thank you, all is well in compile-land now!  RTFM is always good advice!<br>
<p>
Now for part II of this exercise... the ScanTak-12P I got for Christmas<br>
(manufactured by SPOT Technology Inc) comes with loads of 95 software, but<br>
I would rather not go there.  Is anyone working on a backend for it?<br>
<p>
Mike<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Robert Brink: "Re: slow , mustek , se , scanexpress, lock"</a>
<li> <b>Previous message:</b> <a href="0029.html">Francisco Rodrigo Escobedo Robles: "Problems with Artec AT12 and NCR53C810"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
