<!-- received="Tue Jan  5 14:34:07 1999 PST" -->
<!-- sent="Tue, 05 Jan 1999 22:52:33 +0100" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: Scanner Purchase Advice short list" -->
<!-- id="" -->
<!-- inreplyto="Scanner Purchase Advice short list" -->
<title>sane-devel: Re: Scanner Purchase Advice short list</title>
<h1>Re: Scanner Purchase Advice short list</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Tue, 05 Jan 1999 22:52:33 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#82">[ date ]</a><a href="index.html#82">[ thread ]</a><a href="subject.html#82">[ subject ]</a><a href="author.html#82">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">grasland@club-internet.fr: "Re: Scanner Purchase Advice short list"</a>
<li> <b>Previous message:</b> <a href="0081.html">Peter Kirchgessner: "Re: Works fine, now (Was: Re: SANE sees only 1 of 2 scanners)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Jeffrey Perry wrote:<br>
<i>&gt; </i><br>
<p>
<i>&gt; 5? ) Any others which should be on this short list? I looked briefly at HP Scanjets but they</i><br>
<i>&gt;      seem expensive for the price range I set (around $200)</i><br>
<i>&gt; </i><br>
<i>&gt; Thank you in advance for your assistance...I hope to be enjoying a new scanner under Linux soon!</i><br>
<p>
Hi,<br>
<p>
I can only tell about the HP scanners. You will not end up with $200.<br>
I suppose these are the parallel port scanners which are not supported.<br>
And if you buy a SCSI scanner, you are not quite sure if the SCSI card<br>
that you get with the scanner is supported by your OS (Linux I suppose).<br>
But there comand set is quite good documented :-)<br>
<p>
--Peter<br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">grasland@club-internet.fr: "Re: Scanner Purchase Advice short list"</a>
<li> <b>Previous message:</b> <a href="0081.html">Peter Kirchgessner: "Re: Works fine, now (Was: Re: SANE sees only 1 of 2 scanners)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
