<!-- received="Thu Jan  7 12:08:06 1999 PST" -->
<!-- sent="Thu, 07 Jan 99 13:04:11 " -->
<!-- name="Eric Norman" -->
<!-- email="namrone@ibm.net" -->
<!-- subject="Info Peripherals (Avision Inc.) Scanner Support" -->
<!-- id="199901072006.UAA53786@out2.ibm.net" -->
<!-- inreplyto="" -->
<title>sane-devel: Info Peripherals (Avision Inc.) Scanner Support</title>
<h1>Info Peripherals (Avision Inc.) Scanner Support</h1>
<b>Eric Norman</b> (<a href="mailto:namrone@ibm.net"><i>namrone@ibm.net</i></a>)<br>
<i>Thu, 07 Jan 99 13:04:11 </i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#104">[ date ]</a><a href="index.html#104">[ thread ]</a><a href="subject.html#104">[ subject ]</a><a href="author.html#104">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Robert Masters: "Re: Info Peripherals (Avision Inc.) Scanner Support"</a>
<li> <b>Previous message:</b> <a href="0103.html">Andreas Czechanowski: "Re: A word about the supported scanner list."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0105.html">Robert Masters: "Re: Info Peripherals (Avision Inc.) Scanner Support"</a>
<li> <b>Reply:</b> <a href="0105.html">Robert Masters: "Re: Info Peripherals (Avision Inc.) Scanner Support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
My Scanner is an ImageReader Ultra (Parallel port) distributed by Info Peripherals and <br>
manufactured by Avision Inc.<br>
<p>
Has any work gone into supporting this scanner.  If not, please point me in the right <br>
direction to get started writing some code to support it. <br>
<p>
BTW: This is a parallel port scanner<br>
<p>
Thanks!<br>
<p>
-Eric Norman<br>
<a href="mailto:warped@cs.montana.edu">warped@cs.montana.edu</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Robert Masters: "Re: Info Peripherals (Avision Inc.) Scanner Support"</a>
<li> <b>Previous message:</b> <a href="0103.html">Andreas Czechanowski: "Re: A word about the supported scanner list."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0105.html">Robert Masters: "Re: Info Peripherals (Avision Inc.) Scanner Support"</a>
<li> <b>Reply:</b> <a href="0105.html">Robert Masters: "Re: Info Peripherals (Avision Inc.) Scanner Support"</a>
<!-- reply="end" -->
</ul>
