<!-- received="Fri Jan 15 16:25:55 1999 PST" -->
<!-- sent="Sat, 16 Jan 1999 00:24:13 +0000 (GMT)" -->
<!-- name="Paul Jakma" -->
<!-- email="paul@clubi.ie" -->
<!-- subject="Adaptec AVA-2902 works with linux" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Adaptec AVA-2902 works with linux</title>
<h1>Adaptec AVA-2902 works with linux</h1>
<b>Paul Jakma</b> (<a href="mailto:paul@clubi.ie"><i>paul@clubi.ie</i></a>)<br>
<i>Sat, 16 Jan 1999 00:24:13 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#125">[ date ]</a><a href="index.html#125">[ thread ]</a><a href="subject.html#125">[ subject ]</a><a href="author.html#125">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">Fernando Segura: "DC120 and sane"</a>
<li> <b>Previous message:</b> <a href="0124.html">Paul Jakma: "Epson GT7000 success"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Reading through the Jan list archive, i noticed a question about the<br>
Adaptec AVA-2902 and whether it was supported under linux.<br>
<p>
I got one with my epson gt7000. It's a BIOS-less, PCI, aic785x based<br>
scsi card. And it worked effortlessly with the aic7xxx driver in Linux<br>
2.1.132, compiled as a module.<br>
<p>
hth.<br>
<pre>
-- 
Paul Jakma	<a href="mailto:paul@clubi.ie">paul@clubi.ie</a>
**********************************************************
/etc/crontab:
01 5 * * * root find / -name {W,w}indows -type d \ 
	-fstype msdos -o -fstype vfat -exec rm -rf {} \;
**********************************************************
PGP5 public key: <a href="http://www.clubi.ie/jakma/publickey.txt">http://www.clubi.ie/jakma/publickey.txt</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">Fernando Segura: "DC120 and sane"</a>
<li> <b>Previous message:</b> <a href="0124.html">Paul Jakma: "Epson GT7000 success"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
