<!-- received="Mon Jan 18 08:40:23 1999 PST" -->
<!-- sent="Mon, 18 Jan 1999 17:39:11 +0100 (MET)" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="CVS repository for SANE sources" -->
<!-- id="199901181639.RAA14058@zero.cc.uit.no" -->
<!-- inreplyto="" -->
<title>sane-devel: CVS repository for SANE sources</title>
<h1>CVS repository for SANE sources</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Mon, 18 Jan 1999 17:39:11 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#127">[ date ]</a><a href="index.html#127">[ thread ]</a><a href="subject.html#127">[ subject ]</a><a href="author.html#127">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Peter Kirchgessner: "patch to hp-backend"</a>
<li> <b>Previous message:</b> <a href="0126.html">Fernando Segura: "DC120 and sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Petter Reinholdtsen]<br>
<i>&gt; I'm working to get access on cvs.hungry.com.</i><br>
<p>
This repository is up and running.  Now I'm working to get the<br>
anonymous CVS repository working.  I included all versions from v0.70<br>
to v1.00 into the repository.<br>
<p>
More info later.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Peter Kirchgessner: "patch to hp-backend"</a>
<li> <b>Previous message:</b> <a href="0126.html">Fernando Segura: "DC120 and sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
