<!-- received="Tue Jan 19 23:29:49 1999 PST" -->
<!-- sent="Wed, 20 Jan 1999 00:28:45 -0700 (MST)" -->
<!-- name="Bill Thorson" -->
<!-- email="thorson@typhoon.atmos.colostate.edu" -->
<!-- subject="UMAX Astra 1200s scanning problems." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: UMAX Astra 1200s scanning problems.</title>
<h1>UMAX Astra 1200s scanning problems.</h1>
<b>Bill Thorson</b> (<a href="mailto:thorson@typhoon.atmos.colostate.edu"><i>thorson@typhoon.atmos.colostate.edu</i></a>)<br>
<i>Wed, 20 Jan 1999 00:28:45 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#166">[ date ]</a><a href="index.html#166">[ thread ]</a><a href="subject.html#166">[ subject ]</a><a href="author.html#166">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Lee Riemenschneider: "Microtek E3+ and SANE 0.74 (OS/2)"</a>
<li> <b>Previous message:</b> <a href="0165.html">Stephen Martin: "Canoscan 620P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0170.html">Oliver Rauch: "Re: UMAX Astra 1200s scanning problems."</a>
<li> <b>Reply:</b> <a href="0170.html">Oliver Rauch: "Re: UMAX Astra 1200s scanning problems."</a>
<li> <b>Reply:</b> <a href="0171.html">Oliver Rauch: "Re: UMAX Astra 1200s scanning problems."</a>
<li> <b>Reply:</b> <a href="0186.html">Oliver Rauch: "Re: UMAX Astra 1200s scanning problems."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I just connected my scanner to my Linux machine and have some problems.<br>
Here is some configuration info:<br>
<p>
  dmesg reports --<br>
    scsi0 : AdvanSys SCSI 3.1D: PCI Ultra 16 CDB: IO B800/F, IRQ 9<br>
    scsi : 1 host.<br>
      Vendor: UMAX      Model: Astra 1200S       Rev: V2.6<br>
      Type:   Scanner                            ANSI SCSI revision: 02<br>
    Detected scsi generic sga at scsi0, channel 0, id 5, lun 0<br>
    scsi : detected total.<br>
<p>
scanimage/xscanimage seems to have some trouble with scanning.  It seems<br>
to know know how to operate the scanner just fine but has problem with<br>
timing or waiting and therefore messes up the images/previews.<br>
<p>
I set SANE_DEBUG_UMAX=8 and did some testing.  As soon as it communicated<br>
with the scanner it started listing messaged like it was receiving buffers<br>
of the image even though the scanner had not even started scanning yet.<br>
Then when it did actually start scanning the software thought most of the<br>
image was there.  The image I end up with has garbage at the top and the<br>
image at the bottom somewhat cut off.<br>
<p>
For the preview image it loaded something in the window before the scanner<br>
even started scanning.<br>
<p>
Any ideas?  I have included some debug messages below but they really<br>
don't show the problem.<br>
<p>
Bill<br>
<p>
[umax] start_scan<br>
[umax] starting scan<br>
[umax] do_calibration<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] trim_rowbufsize: row_bufsize = 129948 bytes = 68 lines<br>
[umax] reading 2004639 bytes in blocks of 129948 bytes<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 1874691 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 1744743 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 1614795 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 1484847 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 1354899 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 1224951 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 1095003 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 965055 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 835107 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 705159 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 575211 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 445263 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 315315 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 185367 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 129948 bytes read; 55419 bytes to go<br>
[umax] read_image_data<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] reader_process: buffer of 55419 bytes read; 0 bytes to go<br>
[umax] trying to reposition scanner ...<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] scanner repositioned<br>
[umax] trying to release scanner ...<br>
[umax] wait_scanner<br>
[umax] scanner ready<br>
[umax] scanner released<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Lee Riemenschneider: "Microtek E3+ and SANE 0.74 (OS/2)"</a>
<li> <b>Previous message:</b> <a href="0165.html">Stephen Martin: "Canoscan 620P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0170.html">Oliver Rauch: "Re: UMAX Astra 1200s scanning problems."</a>
<li> <b>Reply:</b> <a href="0170.html">Oliver Rauch: "Re: UMAX Astra 1200s scanning problems."</a>
<li> <b>Reply:</b> <a href="0171.html">Oliver Rauch: "Re: UMAX Astra 1200s scanning problems."</a>
<li> <b>Reply:</b> <a href="0186.html">Oliver Rauch: "Re: UMAX Astra 1200s scanning problems."</a>
<!-- reply="end" -->
</ul>
