<!-- received="Wed Jan 20 05:52:20 1999 PST" -->
<!-- sent="Wed, 20 Jan 1999 08:51:07 -0500" -->
<!-- name="Gregory Skrivan" -->
<!-- email="gskrivan@gte.net" -->
<!-- subject="Re: Mustek TwainScan 600 III EP Plus" -->
<!-- id="" -->
<!-- inreplyto="Mustek TwainScan 600 III EP Plus" -->
<title>sane-devel: Re: Mustek TwainScan 600 III EP Plus</title>
<h1>Re: Mustek TwainScan 600 III EP Plus</h1>
<b>Gregory Skrivan</b> (<a href="mailto:gskrivan@gte.net"><i>gskrivan@gte.net</i></a>)<br>
<i>Wed, 20 Jan 1999 08:51:07 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#168">[ date ]</a><a href="index.html#168">[ thread ]</a><a href="subject.html#168">[ subject ]</a><a href="author.html#168">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Pete Clark: "Re: UMAX Astra 1200s scanning problems."</a>
<li> <b>Previous message:</b> <a href="0167.html">Lee Riemenschneider: "Microtek E3+ and SANE 0.74 (OS/2)"</a>
<li> <b>Maybe in reply to:</b> <a href="0150.html">Ralph Kulgere: "Mustek TwainScan 600 III EP Plus"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0188.html">Dirk: "Re: Mustek TwainScan 600 III EP Plus"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Jeff DeFouw wrote:<br>
<p>
<i>&gt; On Thu, 14 Jan 1999, Ralph Kulgere wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; Do you know of any working drivers for this scanner that are released or</i><br>
<i>&gt; &gt; in development? Its a parallel port scanner with a passthrough cable for</i><br>
<i>&gt; &gt; the printer. Any help would be appreciated. Thanks.</i><br>
<i>&gt;</i><br>
<i>&gt;   No working drivers exist for this scanner, but I am developing one.</i><br>
<i>&gt; I'll e-mail you when its ready to be tested.  Unfortunately I've been</i><br>
<i>&gt; quite busy with other work lately so it might be a little while.</i><br>
<i>&gt;</i><br>
<p>
Is there any way that the rest of us who have this scanner can help you out?<br>
<p>
Greg Skrivan<br>
<a href="mailto:gskrivan@gte.net">gskrivan@gte.net</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Pete Clark: "Re: UMAX Astra 1200s scanning problems."</a>
<li> <b>Previous message:</b> <a href="0167.html">Lee Riemenschneider: "Microtek E3+ and SANE 0.74 (OS/2)"</a>
<li> <b>Maybe in reply to:</b> <a href="0150.html">Ralph Kulgere: "Mustek TwainScan 600 III EP Plus"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0188.html">Dirk: "Re: Mustek TwainScan 600 III EP Plus"</a>
<!-- reply="end" -->
</ul>
