<!-- received="Wed Jan 20 23:57:54 1999 PST" -->
<!-- sent="Thu, 21 Jan 1999 01:58:08 -0600 (EST)" -->
<!-- name="Pete Clark" -->
<!-- email="pclark@netdoor.com" -->
<!-- subject="Re: UMAX Astra 1200s scanning problems." -->
<!-- id="" -->
<!-- inreplyto="36A60458.956D91E5@wolfsburg.de" -->
<title>sane-devel: Re: UMAX Astra 1200s scanning problems.</title>
<h1>Re: UMAX Astra 1200s scanning problems.</h1>
<b>Pete Clark</b> (<a href="mailto:pclark@netdoor.com"><i>pclark@netdoor.com</i></a>)<br>
<i>Thu, 21 Jan 1999 01:58:08 -0600 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#179">[ date ]</a><a href="index.html#179">[ thread ]</a><a href="subject.html#179">[ subject ]</a><a href="author.html#179">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0180.html">Manuel Panea: "Re: Having problems with canon backend"</a>
<li> <b>Previous message:</b> <a href="0178.html">Mentore #cat# Siesto: "Re: OS/2 and Sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 20 Jan 1999, Oliver Rauch wrote:<br>
<p>
<i>&gt; </i><br>
<i>&gt; please can you tell me a bit more about it?</i><br>
<i>&gt; </i><br>
<i>&gt; DId you test it yourself, from which kernel-version is the 3.1E included?</i><br>
<i>&gt; </i><br>
<p>
The reason is the 3.1E driver has the ultra scsi pci<br>
driver information updated.<br>
<p>
I have tested it with kernel-version 2.0.33 with an advansys ABP930UA<br>
scsi card and the Astra 1220s with sane 0.73 and 0.74. Both work<br>
fine. I am running sane 0.74 without any problems at this time.<br>
<p>
I'm not sure which kernel-version the 3.1E driver is first included into..<br>
<p>
More information for updating the driver in different distributions can<br>
be found at:<br>
<p>
  <a href="http://www.advansys.com/linux.htm">http://www.advansys.com/linux.htm</a><br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0180.html">Manuel Panea: "Re: Having problems with canon backend"</a>
<li> <b>Previous message:</b> <a href="0178.html">Mentore #cat# Siesto: "Re: OS/2 and Sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
