<!-- received="Thu Jan 21 06:27:24 1999 PST" -->
<!-- sent="Thu, 21 Jan 1999 15:26:17 +0100 (MET)" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: SG_BIG_BUFF woes on Linux" -->
<!-- id="199901211426.PAA15032@zero.cc.uit.no" -->
<!-- inreplyto="SG_BIG_BUFF woes on Linux" -->
<title>sane-devel: Re: SG_BIG_BUFF woes on Linux</title>
<h1>Re: SG_BIG_BUFF woes on Linux</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Thu, 21 Jan 1999 15:26:17 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#185">[ date ]</a><a href="index.html#185">[ thread ]</a><a href="subject.html#185">[ subject ]</a><a href="author.html#185">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Oliver Rauch: "Re: UMAX Astra 1200s scanning problems."</a>
<li> <b>Previous message:</b> <a href="0184.html">Petter Reinholdtsen: "Anonymous CVS up and running"</a>
<li> <b>Maybe in reply to:</b> <a href="0177.html">Gerald Turner: "SG_BIG_BUFF woes on Linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0187.html">Gerald Turner: "Re: SG_BIG_BUFF woes on Linux"</a>
<li> <b>Reply:</b> <a href="0187.html">Gerald Turner: "Re: SG_BIG_BUFF woes on Linux"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Gerald Turner]<br>
<i>&gt; This works but a better implementation would be to use sysctl() to</i><br>
<i>&gt; get the value of sg-big-buff at runtime, better yet fread()</i><br>
<i>&gt; /proc/sys/kernel/sg-big-buff.</i><br>
<p>
Why do you think that reading this value from /proc is a better<br>
implementation then using sysctl().  The POSIX way would probably be<br>
to use sysconf(), but is there a name for SG_BIG_BUFF defined?<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Oliver Rauch: "Re: UMAX Astra 1200s scanning problems."</a>
<li> <b>Previous message:</b> <a href="0184.html">Petter Reinholdtsen: "Anonymous CVS up and running"</a>
<li> <b>Maybe in reply to:</b> <a href="0177.html">Gerald Turner: "SG_BIG_BUFF woes on Linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0187.html">Gerald Turner: "Re: SG_BIG_BUFF woes on Linux"</a>
<li> <b>Reply:</b> <a href="0187.html">Gerald Turner: "Re: SG_BIG_BUFF woes on Linux"</a>
<!-- reply="end" -->
</ul>
