<!-- received="Sat Jan 23 20:45:56 1999 PST" -->
<!-- sent="Sat, 23 Jan 1999 22:45:27 -0600" -->
<!-- name="Kevin R. Charter" -->
<!-- email="charter@cs.rice.edu" -->
<!-- subject="Re: VuegoScan Brisa 610P" -->
<!-- id="" -->
<!-- inreplyto="VuegoScan Brisa 610P" -->
<title>sane-devel: Re: VuegoScan Brisa 610P</title>
<h1>Re: VuegoScan Brisa 610P</h1>
<b>Kevin R. Charter</b> (<a href="mailto:charter@cs.rice.edu"><i>charter@cs.rice.edu</i></a>)<br>
<i>Sat, 23 Jan 1999 22:45:27 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#203">[ date ]</a><a href="index.html#203">[ thread ]</a><a href="subject.html#203">[ subject ]</a><a href="author.html#203">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0204.html">Oliver Rauch: "Frontend XSane-0.06 available"</a>
<li> <b>Previous message:</b> <a href="0202.html">Adam Williams: "Re: HP Scanner causes machine to freeze"</a>
<li> <b>Maybe in reply to:</b> <a href="0200.html">Pavel Chalmoviansky: "VuegoScan Brisa 610P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0205.html">Wolfgang Goeller: "Re: VuegoScan Brisa 610P"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Pavel Chalmoviansky wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; I have scanner VUEGOScan Brisa 610P (connected through parallel port). Is it possible to scan with it through SANE under RedHat Linux (&gt;=5.1)?</i><br>
<p>
I assume this is some kind of AGFA snapscan compatible. The snapscan<br>
backend doesn't support parallel port scanners, and is very unlikely<br>
to any time soon. I've had no luck getting programming information,<br>
and this seems to be the case for a lot of manufacturers.<br>
<p>
Sorry I can't be of much more help.<br>
<p>
Kevin<br>
<p>
<pre>
-- 
Kevin Charter                                            Grad Studies
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a>                    Department of Computer Science
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a>                       Rice University
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0204.html">Oliver Rauch: "Frontend XSane-0.06 available"</a>
<li> <b>Previous message:</b> <a href="0202.html">Adam Williams: "Re: HP Scanner causes machine to freeze"</a>
<li> <b>Maybe in reply to:</b> <a href="0200.html">Pavel Chalmoviansky: "VuegoScan Brisa 610P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0205.html">Wolfgang Goeller: "Re: VuegoScan Brisa 610P"</a>
<!-- reply="end" -->
</ul>
