<!-- received="Mon Jan 25 11:02:38 1999 PST" -->
<!-- sent="Mon, 25 Jan 1999 11:05:47 -0800 (PST)" -->
<!-- name="Gerald Turner" -->
<!-- email="gturner@retina.net" -->
<!-- subject="Re: SG_BIG_BUFF woes on Linux" -->
<!-- id="" -->
<!-- inreplyto="199901251723.SAA25823@zero.cc.uit.no" -->
<title>sane-devel: Re: SG_BIG_BUFF woes on Linux</title>
<h1>Re: SG_BIG_BUFF woes on Linux</h1>
<b>Gerald Turner</b> (<a href="mailto:gturner@retina.net"><i>gturner@retina.net</i></a>)<br>
<i>Mon, 25 Jan 1999 11:05:47 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#216">[ date ]</a><a href="index.html#216">[ thread ]</a><a href="subject.html#216">[ subject ]</a><a href="author.html#216">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Joachim Kunze: "Linux 2.0 with Mustek ScanExpress 12000 SP"</a>
<li> <b>Previous message:</b> <a href="0215.html">Petter Reinholdtsen: "Re: SG_BIG_BUFF woes on Linux"</a>
<li> <b>In reply to:</b> <a href="0215.html">Petter Reinholdtsen: "Re: SG_BIG_BUFF woes on Linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0225.html">Petter Reinholdtsen: "Re: SG_BIG_BUFF woes on Linux"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 25 Jan 1999, Petter Reinholdtsen wrote:<br>
<p>
<i>&gt; [Gerald Turner]</i><br>
<i>&gt; &gt; Hmm, I thought I read somewhere in the kernel source that reading</i><br>
<i>&gt; &gt; /proc would be better, maybe having something to do with sysctl</i><br>
<i>&gt; &gt; interface/values changing. However, I went looking for this and</i><br>
<i>&gt; &gt; can't seem to find it.</i><br>
<i>&gt; </i><br>
<i>&gt; man sysctl(2) informs that this is a non-portable way to extract this</i><br>
<i>&gt; value.</i><br>
<p>
Yes that's right, the man page!  Especially the bit under BUGS: "The<br>
object names vary between kernel versions.  THIS MAKES THIS SYSTEM CALL<br>
WORTHLESS FOR APPLICATIONS.  Use the /proc/sys interface instead."<br>
<p>
<p>
<i>&gt; &gt; Excuse me, the suggestion was by mistake. Use sysctl(). I just had a</i><br>
<i>&gt; &gt; look through &lt;confname.h&gt;, sysconf() doesn't support anything beyond</i><br>
<i>&gt; &gt; the POSIX definitions, no SG_BIG_BUFF.</i><br>
<i>&gt; </i><br>
<i>&gt; OK.  I beleave it should be extractable for sysconf(), but until that</i><br>
<i>&gt; happends, we will just have to make without it.</i><br>
<p>
Hmm, the use of SG_BIG_BUFF in sane is Linux-specific, as far as<br>
portabliity is concerned, this value is not used on other OS's.<br>
sanei_scsi.c redefines the low-level sane scsi functions for each OS's<br>
scsi implementation.  It looks like we should use /proc/sys, not use<br>
sysctl or sysconf at all, and resort to the hard sg.h in case 1) the<br>
kernel version doesnt do /proc/sys/kernel/sg-big-buff, or 2) the /proc is<br>
not compiled/mounted/loaded.<br>
<p>
<p>
<i>&gt; &gt; Anyway is this doable? I can't be the only one using a distribution</i><br>
<i>&gt; &gt; and modifying SG_BIG_BUFF (I do it to also improve cdda audio</i><br>
<i>&gt; &gt; ripping performance)...</i><br>
<i>&gt; </i><br>
<i>&gt; I beleave it is the correct way.  If the function returning the value</i><br>
<i>&gt; is written to try lots of ways to extract this value, the result</i><br>
<i>&gt; should be quite portable.  Example:</i><br>
<p>
This function would indeed be nice, but the value is only used once to<br>
create this structure:<br>
<p>
static struct req<br>
  {<br>
    int fd;<br>
    u_int running:1, done:1;<br>
    SANE_Status status;<br>
    size_t *dst_len;<br>
    void *dst;<br>
    struct<br>
      {<br>
        struct sg_header hdr;<br>
        u_int8_t data[SG_BIG_BUFF];<br>
      }<br>
    cdb;<br>
    struct req *next;<br>
  }<br>
<p>
My difficulty here is that with my limited C experience, I can't think of<br>
a good way to change the data element to be dynamic.<br>
<p>
<p>
<i>&gt; /*</i><br>
<i>&gt;  * return max size of file buffers(?), or -1 if not able to find the</i><br>
<i>&gt;  * current value.</i><br>
<i>&gt;  */</i><br>
<i>&gt; int</i><br>
<i>&gt; get_sg_big_buff_value(void)</i><br>
<i>&gt; {</i><br>
<i>&gt;   int value = -1;</i><br>
<i>&gt;   FILE *procfile = NULL;</i><br>
<i>&gt; </i><br>
<i>&gt;   procfile = fopen("/proc/sys/kernel/sg-big-buff", "r");</i><br>
<i>&gt;   if (NULL != procfile)</i><br>
<i>&gt;     {</i><br>
<i>&gt;       fscanf(procfile, "%d", &amp;value);</i><br>
<i>&gt;       fclose(procfile);</i><br>
<i>&gt;       return value;</i><br>
<i>&gt;     }</i><br>
<i>&gt; </i><br>
<i>&gt; #if defined(HAVE_LINUX_SYSCTL_H) &amp;&amp; defined(HAVE_SYSCTL)</i><br>
<i>&gt;   {</i><br>
<i>&gt;     int name[] = { CTL_KERN, KERN_SG_BIG_BUFF };</i><br>
<i>&gt;     int namesize = sizeof(name)/sizeof(name[0]);</i><br>
<i>&gt;     if (0 == sysctl(name, namesize, &amp;value, sizeof(value), 0, 0))</i><br>
<i>&gt;       return value;</i><br>
<i>&gt;   }</i><br>
<i>&gt; #endif</i><br>
<i>&gt; </i><br>
<i>&gt;   /* ... More ways to find it ... */</i><br>
<i>&gt; </i><br>
<i>&gt;   return value;</i><br>
<i>&gt; }</i><br>
<i>&gt; </i><br>
<i>&gt; This code is not tested.  I'm not even sure if it compiles.  You have</i><br>
<i>&gt; been warned. :-)</i><br>
<p>
The code prior to the first return works good, I have even tested this on<br>
my own before writing to the sane-devel list.  But as for the sysctl(),<br>
the argument sizeof(value), needs to be an address that sysctl can write<br>
the size of the old value (&amp;valuesize)).<br>
<p>
 <br>
<i>&gt; BTW: '/proc/sys/kernel/sg-big-buff' is missing on Linux 2.0.32, but</i><br>
<i>&gt; present on 2.2.0-pre5.</i><br>
<p>
Been present at least since 2.1.1XX here...<br>
<p>
I figured this would be a problem, AFAIK the only good way would be to<br>
fall back on the #define'd SG_BIG_BUFF if the fopen() fails.<br>
<p>
Before jumping on this list, I was looking through the source of<br>
cdparanoia, there they define a function quite like yours above only it is<br>
very linux specific (non-portable) and reads a couple of sectors off the<br>
cdrom to calculate how big the buffer is (doesn't use /proc, sysctl, or<br>
SG_BIG_BUFF at all!).  I don't think reading some data from the scanner<br>
would be good in this case though.<br>
<p>
<p>
Gerald Turner<br>
<a href="http://www.retina.net/~gturner/">http://www.retina.net/~gturner/</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Joachim Kunze: "Linux 2.0 with Mustek ScanExpress 12000 SP"</a>
<li> <b>Previous message:</b> <a href="0215.html">Petter Reinholdtsen: "Re: SG_BIG_BUFF woes on Linux"</a>
<li> <b>In reply to:</b> <a href="0215.html">Petter Reinholdtsen: "Re: SG_BIG_BUFF woes on Linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0225.html">Petter Reinholdtsen: "Re: SG_BIG_BUFF woes on Linux"</a>
<!-- reply="end" -->
</ul>
