<!-- received="Tue Jan 26 04:24:58 1999 PST" -->
<!-- sent="Mon, 25 Jan 1999 22:54:07 -0700 (MST)" -->
<!-- name="Andreas Dilger" -->
<!-- email="adilger@enel.ucalgary.ca" -->
<!-- subject="Re: Frontend XSane-0.06 available" -->
<!-- id="199901260554.WAA01225@andreas.dilger.net" -->
<!-- inreplyto="36AB1502.E6E6D58@wolfsburg.de" -->
<title>sane-devel: Re: Frontend XSane-0.06 available</title>
<h1>Re: Frontend XSane-0.06 available</h1>
<b>Andreas Dilger</b> (<a href="mailto:adilger@enel.ucalgary.ca"><i>adilger@enel.ucalgary.ca</i></a>)<br>
<i>Mon, 25 Jan 1999 22:54:07 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#227">[ date ]</a><a href="index.html#227">[ thread ]</a><a href="subject.html#227">[ subject ]</a><a href="author.html#227">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">Klaas Freitag: "Support of fujitsu-scanner ??"</a>
<li> <b>Previous message:</b> <a href="0226.html">Andreas Dilger: "Strange memcpy in sanei_scsi.c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver writes:<br>
<i>&gt; I uploaded the new version of the frontend XSane to my homepage:</i><br>
<i>&gt; I would like to know with which backends it works/not works!</i><br>
<p>
I had a brief look at XSane, and it looks interesting.  Two things that<br>
I've been thinking would be good to have in a front-end:<br>
<p>
1) PNG output - since PNG can store much of the physical info from the<br>
   scanned image, like image gamma, chromaticity (if anyone can figure<br>
   it out), physical scanning resolution, &gt; 24-bit color, date/time,<br>
   and textual data like device source, software version, etc.<br>
<p>
2) JPEG output - sometimes, when an image is just too big to handle, but<br>
   you need the resolution, it would be nice to have it as a JPEG compressed<br>
   image.<br>
<p>
Cheers, Andreas<br>
<pre>
-- 
Andreas Dilger  University of Calgary \ "If a man ate a pound of pasta and
                Micronet Research Group \ a pound of antipasto, would they
Dept of Electrical &amp; Computer Engineering \  cancel out, leaving him still
&lt;<a href="http://www-mddsp.enel.ucalgary.ca/People/adilger/">http://www-mddsp.enel.ucalgary.ca/People/adilger/</a>&gt;    hungry?" -- Dogbert
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">Klaas Freitag: "Support of fujitsu-scanner ??"</a>
<li> <b>Previous message:</b> <a href="0226.html">Andreas Dilger: "Strange memcpy in sanei_scsi.c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
