<!-- received="Tue Jan 26 08:17:12 1999 PST" -->
<!-- sent="Tue, 26 Jan 1999 17:17:15 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Frontend XSane-0.06 available" -->
<!-- id="" -->
<!-- inreplyto="Frontend XSane-0.06 available" -->
<title>sane-devel: Re: Frontend XSane-0.06 available</title>
<h1>Re: Frontend XSane-0.06 available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 26 Jan 1999 17:17:15 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#229">[ date ]</a><a href="index.html#229">[ thread ]</a><a href="subject.html#229">[ subject ]</a><a href="author.html#229">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0230.html">Davide Achilli: "AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<li> <b>Previous message:</b> <a href="0228.html">Klaas Freitag: "Support of fujitsu-scanner ??"</a>
<li> <b>Maybe in reply to:</b> <a href="0204.html">Oliver Rauch: "Frontend XSane-0.06 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0239.html">Milon Firikis: "Re: Frontend XSane-0.06 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Andreas Dilger wrote:<br>
<p>
<i>&gt; Oliver writes:</i><br>
<i>&gt; &gt; I uploaded the new version of the frontend XSane to my homepage:</i><br>
<i>&gt; &gt; I would like to know with which backends it works/not works!</i><br>
<i>&gt;</i><br>
<i>&gt; I had a brief look at XSane, and it looks interesting.  Two things that</i><br>
<i>&gt; I've been thinking would be good to have in a front-end:</i><br>
<i>&gt;</i><br>
<i>&gt; 1) PNG output - since PNG can store much of the physical info from the</i><br>
<i>&gt;    scanned image, like image gamma, chromaticity (if anyone can figure</i><br>
<i>&gt;    it out), physical scanning resolution, &gt; 24-bit color, date/time,</i><br>
<i>&gt;    and textual data like device source, software version, etc.</i><br>
<i>&gt;</i><br>
<i>&gt; 2) JPEG output - sometimes, when an image is just too big to handle, but</i><br>
<i>&gt;    you need the resolution, it would be nice to have it as a JPEG compressed</i><br>
<i>&gt;    image.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
PNG is planned for the near future (but also may take some months),about JPEG I<br>
am not sure, we will see.!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0230.html">Davide Achilli: "AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<li> <b>Previous message:</b> <a href="0228.html">Klaas Freitag: "Support of fujitsu-scanner ??"</a>
<li> <b>Maybe in reply to:</b> <a href="0204.html">Oliver Rauch: "Frontend XSane-0.06 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0239.html">Milon Firikis: "Re: Frontend XSane-0.06 available"</a>
<!-- reply="end" -->
</ul>
