<!-- received="Thu Jan 28 10:55:15 1999 PST" -->
<!-- sent="Thu, 28 Jan 1999 13:52:10 -0500" -->
<!-- name="Stephen Martin" -->
<!-- email="smartin@canada.com" -->
<!-- subject="Canoscan 620P" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Canoscan 620P</title>
<h1>Canoscan 620P</h1>
<b>Stephen Martin</b> (<a href="mailto:smartin@canada.com"><i>smartin@canada.com</i></a>)<br>
<i>Thu, 28 Jan 1999 13:52:10 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#242">[ date ]</a><a href="index.html#242">[ thread ]</a><a href="subject.html#242">[ subject ]</a><a href="author.html#242">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0243.html">Chris Sparks: "Re: Canoscan 620P"</a>
<li> <b>Previous message:</b> <a href="0241.html">Oliver Rauch: "Re: Frontend XSane-0.06 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0243.html">Chris Sparks: "Re: Canoscan 620P"</a>
<li> <b>Reply:</b> <a href="0243.html">Chris Sparks: "Re: Canoscan 620P"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Since I recently discoverd that my Canon scanner was not supported<br>
by Sane I tried to get the protocol information from Canon that might<br>
make it possible to write a Sane driver for it. The following is a<br>
transcript of the email conversation.<br>
<p>
My initial request:<br>
<p>
<i>&gt; To:   Customer Support</i><br>
<i>&gt; cc:</i><br>
<i>&gt; Subject:  Fwd by CCSI - CANOSCAN 620P</i><br>
<i>&gt;</i><br>
<i>&gt; Is there any protocol information available about this</i><br>
<i>&gt; scanner? I would like to write a device driver for Linux.</i><br>
<i>&gt;</i><br>
<i>&gt; Thanks</i><br>
<i>&gt;   Steve</i><br>
<i>&gt;</i><br>
<p>
Their response:<br>
<p>
<i>&gt; Dear Mr. Martin</i><br>
<i>&gt;</i><br>
<i>&gt; Thank you for your e-mail inquiry received in our office.</i><br>
<i>&gt;</i><br>
<i>&gt; Regrettably, protocol information is not available for the Canon CanoScan</i><br>
<i>&gt; FB 320P or the CanoScan FB 620P scanners.</i><br>
<i>&gt;</i><br>
<i>&gt; Sincerely</i><br>
<i>&gt;</i><br>
<i>&gt; Henry T.</i><br>
<i>&gt; Customer Support</i><br>
<p>
My response to that:<br>
<p>
<i>&gt; Henry,</i><br>
<p>
<i>&gt;   Could you please explain to me why this is? I would think</i><br>
<i>&gt; that it is in Canon's best interest to promote the usage of</i><br>
<i>&gt; their products on as many platforms as possible. If there</i><br>
<i>&gt; are people willing to help by writing drivers for them, Canon</i><br>
<i>&gt; should do everything possible to help them. Your company should</i><br>
<i>&gt; realize the the usage of Linux is growing at an exponential rate</i><br>
<i>&gt; and there are almost as many Linux machines out there as there</i><br>
<i>&gt; are Mac's. Customers are making the decision to buy your competitor's</i><br>
<i>&gt; products based on the fact that they can not use yours on Linux.</i><br>
<i>&gt; </i><br>
<i>&gt; I know you are probably not responsible for this policy but I would</i><br>
<i>&gt; appreciate it if you could send this to someone who is.</i><br>
<i>&gt; </i><br>
<i>&gt; Thank you,</i><br>
<i>&gt; Stephen Martin</i><br>
<i>&gt; </i><br>
<i>&gt; PS. I am considering returning my scanner for one that is supported</i><br>
<i>&gt;     under Linux.</i><br>
<p>
Their final repsonse<br>
<p>
<i>&gt; Dear Mr. Martin</i><br>
<i>&gt; </i><br>
<i>&gt; Thank you for your e-mail response.</i><br>
<i>&gt; </i><br>
<i>&gt; Please understand that these particular scanners are marketed for operation</i><br>
<i>&gt; under Windows 95, 98 and NT 4.0.  As the Linux system grows, so too will</i><br>
<i>&gt; the market for products, such as scanners, that will be compatible with</i><br>
<i>&gt; them.</i><br>
<i>&gt; </i><br>
<i>&gt; Sincerely</i><br>
<i>&gt;</i><br>
<i>&gt; Henry T.</i><br>
<i>&gt; Customer Support</i><br>
<p>
Is it just me that thinks this is a really stupid attitude<br>
on the part of a hardware manufacturer? It's a scanner! What<br>
does a piece of hardware have to do with the operating system<br>
running on the machine attached to it? Why would they be protective<br>
of the protocol used to talk to the thing?<br>
<p>
Steve<br>
<pre>
-- 
Stephen Martin				<a href="mailto:stevevm@cgocable.net">stevevm@cgocable.net</a>
1165 Leewood Dr.			<a href="mailto:smartin@mks.com">smartin@mks.com</a>
Oakville, Ont.				Phone: (905) 844-4998
Canada, L6M 3B9.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0243.html">Chris Sparks: "Re: Canoscan 620P"</a>
<li> <b>Previous message:</b> <a href="0241.html">Oliver Rauch: "Re: Frontend XSane-0.06 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0243.html">Chris Sparks: "Re: Canoscan 620P"</a>
<li> <b>Reply:</b> <a href="0243.html">Chris Sparks: "Re: Canoscan 620P"</a>
<!-- reply="end" -->
</ul>
