<!-- received="Fri Jan 29 08:09:55 1999 PST" -->
<!-- sent="Fri, 29 Jan 1999 11:08:38 -0500" -->
<!-- name="Christoph Doerbeck A242369" -->
<!-- email="cdoerbec@cso.fmr.com" -->
<!-- subject="Feature request for xscanimage" -->
<!-- id="199901291608.LAA14582@cso.fmr.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Feature request for xscanimage</title>
<h1>Feature request for xscanimage</h1>
<b>Christoph Doerbeck A242369</b> (<a href="mailto:cdoerbec@cso.fmr.com"><i>cdoerbec@cso.fmr.com</i></a>)<br>
<i>Fri, 29 Jan 1999 11:08:38 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#246">[ date ]</a><a href="index.html#246">[ thread ]</a><a href="subject.html#246">[ subject ]</a><a href="author.html#246">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0247.html">Christopher W. Curtis: "Newbie: How to work it?"</a>
<li> <b>Previous message:</b> <a href="0245.html">Milon Firikis: "Re: Is it time to make it official? (was: Canoscan 620P)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0250.html">Oliver Rauch: "Re: Feature request for xscanimage"</a>
<li> <b>Reply:</b> <a href="0250.html">Oliver Rauch: "Re: Feature request for xscanimage"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greetings,<br>
<p>
It's been quite a while since I posted to this list.  I've been running<br>
happily with sane-0.73.<br>
<p>
I was scanning a stack of photos the other day, and I realized how handy<br>
it would be if I could have a customizable tool-bar of scanner settings.<br>
<p>
+------+<br>
<i>| 3x5  |     (Gamma 1.75: SizeSpecs X,Y: Resolution Z: etc)</i><br>
+------+<br>
<i>| 3x5L |     (Landscape parameters)</i><br>
+------+<br>
<i>| 4x6  |  </i><br>
+------+<br>
<i>| 4x6L |</i><br>
+------+<br>
<p>
Then I could avoid having to tweak the settings every time I run into<br>
a photo that wasn't like the last one.  I've been playing with GTK and<br>
could prbably implement it myself, but I'd prefer to be an idea man in<br>
this case...  A custom settings dialog would work too... I don't care<br>
if it's integrated into the xscanimage application...<br>
<p>
Any takers?  Is something like this already implemented in 1.x?<br>
<p>
- Christoph<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0247.html">Christopher W. Curtis: "Newbie: How to work it?"</a>
<li> <b>Previous message:</b> <a href="0245.html">Milon Firikis: "Re: Is it time to make it official? (was: Canoscan 620P)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0250.html">Oliver Rauch: "Re: Feature request for xscanimage"</a>
<li> <b>Reply:</b> <a href="0250.html">Oliver Rauch: "Re: Feature request for xscanimage"</a>
<!-- reply="end" -->
</ul>
