<!-- received="Tue Jun  1 23:40:01 1999 PDT" -->
<!-- sent="Wed, 2 Jun 1999 08:40:00 +0200" -->
<!-- name="Thorsten Skrabal" -->
<!-- email="thorsten.skrabal@rz.uni-regensburg.de" -->
<!-- subject="Genius Colorpage HR5 (Pro) should work with sane" -->
<!-- id="199906020640.IAA16523@rrzs2.rz.uni-regensburg.de" -->
<!-- inreplyto="" -->
<title>sane-devel: Genius Colorpage HR5 (Pro) should work with sane</title>
<h1>Genius Colorpage HR5 (Pro) should work with sane</h1>
<b>Thorsten Skrabal</b> (<a href="mailto:thorsten.skrabal@rz.uni-regensburg.de"><i>thorsten.skrabal@rz.uni-regensburg.de</i></a>)<br>
<i>Wed, 2 Jun 1999 08:40:00 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#3">[ date ]</a><a href="index.html#3">[ thread ]</a><a href="subject.html#3">[ subject ]</a><a href="author.html#3">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Oliver Rauch: "Re: To UMAX Astra 6X0S and UMAX High End scanner users"</a>
<li> <b>Previous message:</b> <a href="0002.html">Oliver Rauch: "To UMAX Astra 6X0S and UMAX High End scanner users"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi there!<br>
<p>
Genius say that Genius ColorPage HR5 and Colorpage HR5 Pro will work<br>
with sane as an UMAX Astra 1200 scanner (but not tested yet). I have<br>
found this statement at <a href="http://www.genius.kye.de">http://www.genius.kye.de</a> -&gt; FAQ -&gt; LINUX.<br>
<p>
Is it possible to use Colorpage HR5 scanners with sane?<br>
Which modifications must be done to use these scanners?<br>
<p>
Thanks in advance.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">Oliver Rauch: "Re: To UMAX Astra 6X0S and UMAX High End scanner users"</a>
<li> <b>Previous message:</b> <a href="0002.html">Oliver Rauch: "To UMAX Astra 6X0S and UMAX High End scanner users"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
