<!-- received="Sun Jun 20 06:39:43 1999 PDT" -->
<!-- sent="Sun, 20 Jun 1999 15:38:35 +0200 (MEST)" -->
<!-- name="Bernd Schroeder" -->
<!-- email="Bernd.M.Schroeder@gmx.de" -->
<!-- subject="Re: [PARPORT] BETA test, new ppSCSI drivers" -->
<!-- id="22154.929885915@www4.gmx.net" -->
<!-- inreplyto="[PARPORT] BETA test, new ppSCSI drivers" -->
<title>sane-devel: Re: [PARPORT] BETA test, new ppSCSI drivers</title>
<h1>Re: [PARPORT] BETA test, new ppSCSI drivers</h1>
<b>Bernd Schroeder</b> (<a href="mailto:Bernd.M.Schroeder@gmx.de"><i>Bernd.M.Schroeder@gmx.de</i></a>)<br>
<i>Sun, 20 Jun 1999 15:38:35 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#115">[ date ]</a><a href="index.html#115">[ thread ]</a><a href="subject.html#115">[ subject ]</a><a href="author.html#115">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Bernd Schroeder: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Previous message:</b> <a href="0114.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0124.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Next in thread:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0100.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0105.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Reply:</b> <a href="0124.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I have tried the 0.7 version of the microtek2 backend:</i><br>
<i>&gt; </i><br>
<i>&gt; it seems to work the same, except that scanning in</i><br>
<i>&gt; color mode each scanline is divided in three, one</i><br>
<i>&gt; for each color channel, and is in grayscale:</i><br>
<i>&gt; </i><br>
<i>&gt; before the pixel color components received</i><br>
<i>&gt; were like:</i><br>
<i>&gt; </i><br>
<i>&gt; RGBRGBRGBRGBRGBRGBRGBRGBRGBRGBRGB</i><br>
<i>&gt; </i><br>
<i>&gt; now</i><br>
<i>&gt; </i><br>
<i>&gt; RRRRRRRRRRRGGGGGGGGGGGBBBBBBBBBBB</i><br>
<p>
According to the scanner attributes it should be similar to<br>
<p>
  GGGGGGGGBGBGBGBGBGBGBGBRGBRGBRGBRGBR....<br>
<p>
where each letter represents one line of the respective color.<br>
<p>
It is strange that the 0.7 version behaves different, because I<br>
didn't change anything with regards to the data processing.<br>
<p>
If you enable debugging with SANE_DEBUG_MICROTEK2=40 you<br>
should see that a function segreg_proc_data() is called, that<br>
processes the data.<br>
 <br>
<i>&gt; (the order of the color components is bogus,</i><br>
<i>&gt; if it is relevant I can try to figure it out)</i><br>
<p>
I have a scanner that uses the same data format, so I can try it<br>
myself first. If neccessary I will get back to you.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Sent through Global Message Exchange - <a href="http://www.gmx.net">http://www.gmx.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Bernd Schroeder: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Previous message:</b> <a href="0114.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0124.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Next in thread:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0100.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0105.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Reply:</b> <a href="0124.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- reply="end" -->
</ul>
