<!-- received="Sun Jun 20 23:01:41 1999 PDT" -->
<!-- sent="Mon, 21 Jun 1999 03:41:24 +0000" -->
<!-- name="Michele Bini" -->
<!-- email="mibin@tin.it" -->
<!-- subject="Re: [PARPORT] BETA test, new ppSCSI drivers" -->
<!-- id="" -->
<!-- inreplyto="22154.929885915@www4.gmx.net" -->
<title>sane-devel: Re: [PARPORT] BETA test, new ppSCSI drivers</title>
<h1>Re: [PARPORT] BETA test, new ppSCSI drivers</h1>
<b>Michele Bini</b> (<a href="mailto:mibin@tin.it"><i>mibin@tin.it</i></a>)<br>
<i>Mon, 21 Jun 1999 03:41:24 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#124">[ date ]</a><a href="index.html#124">[ thread ]</a><a href="subject.html#124">[ subject ]</a><a href="author.html#124">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0125.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Previous message:</b> <a href="0123.html">Fred Willingham: "Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000"</a>
<li> <b>In reply to:</b> <a href="0115.html">Bernd Schroeder: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0100.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0105.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, Jun 20, 1999 at 03:38:35PM +0200, Bernd Schroeder wrote:<br>
<i>&gt; &gt; I have tried the 0.7 version of the microtek2 backend:</i><br>
<p>
I unpacked the wrong archive.<br>
The version I may have tested probably is from microtek2-test<br>
archive.<br>
<p>
I'm sorry for that.<br>
<p>
-Michele<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0125.html">Michele Bini: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Previous message:</b> <a href="0123.html">Fred Willingham: "Re: First sucessSecond version of Coolscan backend for the LS-30 and LS-2000"</a>
<li> <b>In reply to:</b> <a href="0115.html">Bernd Schroeder: "Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0099.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0100.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<li> <b>Maybe reply:</b> <a href="0105.html">Bernd Schroeder: "Re: Re: [PARPORT] BETA test, new ppSCSI drivers"</a>
<!-- reply="end" -->
</ul>
