<!-- received="Thu Jun 24 15:08:41 1999 PDT" -->
<!-- sent="Thu, 24 Jun 1999 20:55:38 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 24 Jun 1999 20:55:38 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#179">[ date ]</a><a href="index.html#179">[ thread ]</a><a href="subject.html#179">[ subject ]</a><a href="author.html#179">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0180.html">Jeffrey Thompson: "Re: UMAX Vendors"</a>
<li> <b>Previous message:</b> <a href="0178.html">Oliver Rauch: "Re: UMAX Vendors"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0183.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hugo van der Kooij wrote:<br>
<p>
<i>&gt; On Wed, 23 Jun 1999, Simon Piette wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; Oliver Rauch wrote:</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; I don`t know if SANE is tested on a big endian machine.</i><br>
<i>&gt; &gt; &gt; May be there are problems too. I am not sure if the umax</i><br>
<i>&gt; &gt; &gt; backend is tested on a big endian machine.</i><br>
<i>&gt; &gt; &gt; But if the inquiry command returns with an error</i><br>
<i>&gt; &gt; &gt; the problem is in the sanei/scsi or in the sg or scsi driver.</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; This is what I am thinking. This is not the first time we (linuxppc</i><br>
<i>&gt; &gt; users) have</i><br>
<i>&gt; &gt; that kind of problem with little/big endian (eg. sound). I'll check with</i><br>
<i>&gt; &gt; the</i><br>
<i>&gt; &gt; Linux PowerPC team ...</i><br>
<i>&gt;</i><br>
<i>&gt; If I am not mistaken then the ALpha is also a big-endian. And I have SANE</i><br>
<i>&gt; working on that with tha HP backend.</i><br>
<i>&gt;</i><br>
<p>
Hi Hugo,<br>
<p>
do you have a scsi or a parallel scanner ?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0180.html">Jeffrey Thompson: "Re: UMAX Vendors"</a>
<li> <b>Previous message:</b> <a href="0178.html">Oliver Rauch: "Re: UMAX Vendors"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0183.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
