<!-- received="Sat Jun 26 11:45:33 1999 PDT" -->
<!-- sent="Sat, 26 Jun 1999 20:48:36 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 26 Jun 1999 20:48:36 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#192">[ date ]</a><a href="index.html#192">[ thread ]</a><a href="subject.html#192">[ subject ]</a><a href="author.html#192">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0191.html">Romain Dolbeau: "Microtek 600GS &amp; Solaris 7 : trouble"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0193.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<p>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Wed, 23 Jun 1999 19:24:53 -0400, Simon Piette &lt;<a href="mailto:spiette@generation.net">spiette@generation.net</a>&gt; said:</i><br>
<i>&gt;</i><br>
<i>&gt;   Simon&gt; Oliver Rauch wrote:</i><br>
<i>&gt;   &gt;&gt;  I don`t know if SANE is tested on a big endian machine.  May be</i><br>
<i>&gt;   &gt;&gt; there are problems too. I am not sure if the umax backend is</i><br>
<i>&gt;   &gt;&gt; tested on a big endian machine.  But if the inquiry command</i><br>
<i>&gt;   &gt;&gt; returns with an error the problem is in the sanei/scsi or in the</i><br>
<i>&gt;   &gt;&gt; sg or scsi driver.</i><br>
<i>&gt;   &gt;&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;   Simon&gt; This is what I am thinking. This is not the first time we</i><br>
<i>&gt;   Simon&gt; (linuxppc users) have that kind of problem with little/big</i><br>
<i>&gt;   Simon&gt; endian (eg. sound). I'll check with the Linux PowerPC team</i><br>
<i>&gt;   Simon&gt; ...</i><br>
<i>&gt;</i><br>
<i>&gt; Note that SANE is reported to work fine on SPARC Solaris, which is</i><br>
<i>&gt; big-endian.</i><br>
<i>&gt;</i><br>
<i>&gt; The only endian-issues that I'm aware of is that if you try to scan</i><br>
<i>&gt; with &gt;8 bits/channel across the net-backend and the endianness between</i><br>
<i>&gt; the hosts differ, you'll lose.  This is something that's easy to fix,</i><br>
<i>&gt; but I haven't had the chance to implement it yet.</i><br>
<i>&gt;</i><br>
<p>
Ok, so it looks like a problem with the scsi-card or driver or the sg driver.<br>
I don`t know if the umax backend is ever tested on a big endian machine,<br>
but if the inquiry command returns with an error I don't think it is a problem<br>
with the umax backend.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0191.html">Romain Dolbeau: "Microtek 600GS &amp; Solaris 7 : trouble"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0193.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
