<!-- received="Sun Jun 27 02:27:24 1999 PDT" -->
<!-- sent="Sun, 27 Jun 1999 11:26:09 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: New Camera" -->
<!-- id="" -->
<!-- inreplyto="New Camera" -->
<title>sane-devel: Re: New Camera</title>
<h1>Re: New Camera</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 27 Jun 1999 11:26:09 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#203">[ date ]</a><a href="index.html#203">[ thread ]</a><a href="subject.html#203">[ subject ]</a><a href="author.html#203">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0204.html">Ingo Wilken: "Re: your mail"</a>
<li> <b>Previous message:</b> <a href="0202.html">Hugo van der Kooij: "Re: New Camera"</a>
<li> <b>Maybe in reply to:</b> <a href="0190.html">Remmert: "New Camera"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hugo van der Kooij wrote:<br>
<p>
<i>&gt; On Sun, 27 Jun 1999, Oliver Rauch wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; Hugo van der Kooij wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt; And how do you think support for this device will happen? Just because you</i><br>
<i>&gt; &gt; &gt; like it to be there?</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I think it is good that the manufacturors do ask us to support their</i><br>
<i>&gt; &gt; hardware. Ok, his mail was a bit strange, but would it be possible</i><br>
<i>&gt; &gt; to be a bit more friendly?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Each time a manufacturer connects to the sane mailling list, someone is</i><br>
<i>&gt; &gt; making a "less friendly" mail. One day the manufactorers will not ask</i><br>
<i>&gt; &gt; and will not give any docs if this goes on this way.</i><br>
<i>&gt;</i><br>
<i>&gt; Pardon me. But this was NOT a manufacturer. But someone from a Linux User</i><br>
<i>&gt; Group. One who should know how live is with Linux support.</i><br>
<p>
Hello Hugo,<br>
<p>
sorry, I did not realize this.<br>
But I still think that some answers in this list could be "a bit" more friendly.<br>
Although in this case the sound may be ok.<br>
<p>
In general I would appreciate if the sound in this list is kept on a friendly<br>
level.<br>
If someone wants to flame someone else, he can do it directly and not through the<br>
<p>
mailling list.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0204.html">Ingo Wilken: "Re: your mail"</a>
<li> <b>Previous message:</b> <a href="0202.html">Hugo van der Kooij: "Re: New Camera"</a>
<li> <b>Maybe in reply to:</b> <a href="0190.html">Remmert: "New Camera"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
