<!-- received="Sun Jun 27 15:31:38 1999 PDT" -->
<!-- sent="Sun, 27 Jun 1999 23:34:34 +0100 (GMT)" -->
<!-- name="Rooster" -->
<!-- email="rooster@seaforn.dircon.co.uk" -->
<!-- subject="Re: Fujitsu Scanner support?" -->
<!-- id="" -->
<!-- inreplyto="012901bec0d9$849becc0$31391bd4@patrice" -->
<title>sane-devel: Re: Fujitsu Scanner support?</title>
<h1>Re: Fujitsu Scanner support?</h1>
<b>Rooster</b> (<a href="mailto:rooster@seaforn.dircon.co.uk"><i>rooster@seaforn.dircon.co.uk</i></a>)<br>
<i>Sun, 27 Jun 1999 23:34:34 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#214">[ date ]</a><a href="index.html#214">[ thread ]</a><a href="subject.html#214">[ subject ]</a><a href="author.html#214">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0213.html">Patrice Espie: "Re: Fujitsu Scanner support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 27 Jun 1999, Patrice Espie wrote:<br>
<p>
<i>&gt; </i><br>
<i>&gt; So, the fujitsu's driver for sane is NOT under development. But if the tests</i><br>
<i>&gt; with a HP6250C are not good, it will perhaps go on.</i><br>
<i>&gt; Or if somebody ask me to do it, perhaps ? (I don't have any SCSI 3096</i><br>
<i>&gt; scanner :&lt; ).</i><br>
<p>
	Hmmm, I do have this scanner, and seeing as I got it for free<br>
makes me think it is worth investing a little time into using it under<br>
linux. Oddly enough when I contacted Fujitsu about developer information<br>
for the 3096, I was told to contact Advent Imaging, a company here in the<br>
UK, about UNIX support.<br>
	I am not sure quite what support they would have given me but if<br>
you were given some info on the scanner I would love to see it and figure<br>
out if it is something I could attempt and make a SANE backend for?<br>
	It does strike me and kinda odd that NO Fujitsu support has been<br>
mentioned for SANE, was this company hostile to the idea of open source<br>
stuff, or is it just that their scanners are pretty much exclusivly used<br>
in corperate enviroments and so no one has ever bothered?<br>
	Having said that, this scanner does have some nice feature and I<br>
would like to see some sort of consistant way of supporting ADF on other<br>
scanners too for batch scanning perhaps OCR work? <br>
<p>
<p>
Rooster - A friend.<br>
<p>
"Anyone's friend in particular or just generally well disposed to people?"<br>
<p>
							HHGTTG.<br>
<p>
CUT - Campaign for Unmetered Telecomunications: <br>
Bring the best to all affordably. <a href="http://www.unmetered.org.uk">http://www.unmetered.org.uk</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0213.html">Patrice Espie: "Re: Fujitsu Scanner support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
