<!-- received="Tue Jun 29 15:57:23 1999 PDT" -->
<!-- sent="Tue, 29 Jun 1999 14:44:11 -0700" -->
<!-- name="amalmin@coho.halcyon.com" -->
<!-- email="amalmin@coho.halcyon.com" -->
<!-- subject="Re: Problems compiling sane on my box" -->
<!-- id="" -->
<!-- inreplyto="XFMail.990629211757.dieter.jurzitza@t-online.de" -->
<title>sane-devel: Re: Problems compiling sane on my box</title>
<h1>Re: Problems compiling sane on my box</h1>
<a href="mailto:amalmin@coho.halcyon.com"><i>amalmin@coho.halcyon.com</i></a><br>
<i>Tue, 29 Jun 1999 14:44:11 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#241">[ date ]</a><a href="index.html#241">[ thread ]</a><a href="subject.html#241">[ subject ]</a><a href="author.html#241">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0242.html">Douglas Gilbert: "Re: Problem with snapscan, aha1505, linux kernel 2.2.9"</a>
<li> <b>Previous message:</b> <a href="0240.html">Oliver Rauch: "Re: Problems compiling sane on my box"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, Jun 29, 1999 at 09:17:57PM +0200, Dr. Ing. Dieter Jurzitza wrote:<br>
<i>&gt; Dear listmembers,</i><br>
<i>&gt; trying to compile sane-1.00 or sane-1.01 on my box yields the following results:</i><br>
<p>
[blahblahblah]<br>
<p>
<i>&gt; /usr/lib/libgimp.so: undefined reference to `g_debug'</i><br>
<i>&gt; /usr/lib/libgimp.so: undefined reference to `g_message'</i><br>
<i>&gt; /usr/lib/libgimp.so: undefined reference to `g_warning'</i><br>
<i>&gt; /usr/lib/libgimp.so: undefined reference to `g_error'</i><br>
<p>
	What version of Gimp do you have?  The Xsane documentation (which you<br>
aren't using but probably applies anyway) says this error comes from using an<br>
older version of Gimp...<br>
<p>
<pre>
-- 
Audin Malmin - <a href="mailto:amalmin@halcyon.com">amalmin@halcyon.com</a>
<a href="http://www.halcyon.com/amalmin">http://www.halcyon.com/amalmin</a> - http://coho.halcyon.com:5023/
PGP fingerprint: 09 AD 5B BD CF 38 58 36  69 D3 38 45 86 27 8A 3B
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0242.html">Douglas Gilbert: "Re: Problem with snapscan, aha1505, linux kernel 2.2.9"</a>
<li> <b>Previous message:</b> <a href="0240.html">Oliver Rauch: "Re: Problems compiling sane on my box"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
