<!-- received="Wed Jun 30 01:11:31 1999 PDT" -->
<!-- sent="Wed, 30 Jun 1999 10:15:34 +0200 (MET DST)" -->
<!-- name="Kick Glorie" -->
<!-- email="silicon@multiweb.nl" -->
<!-- subject="Re: Problem with snapscan, aha1505, linux kernel 2.2.9" -->
<!-- id="" -->
<!-- inreplyto="37799216.5A007389@interlog.com" -->
<title>sane-devel: Re: Problem with snapscan, aha1505, linux kernel 2.2.9</title>
<h1>Re: Problem with snapscan, aha1505, linux kernel 2.2.9</h1>
<b>Kick Glorie</b> (<a href="mailto:silicon@multiweb.nl"><i>silicon@multiweb.nl</i></a>)<br>
<i>Wed, 30 Jun 1999 10:15:34 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#244">[ date ]</a><a href="index.html#244">[ thread ]</a><a href="subject.html#244">[ subject ]</a><a href="author.html#244">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">Francois Desarmenien: "Re: Problem with snapscan, aha1505, linux kernel 2.2.9"</a>
<li> <b>Previous message:</b> <a href="0243.html">Rainer Krienke: "Re: problems increasing SG_BIG_BUFF"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 29 Jun 1999, Douglas Gilbert wrote:<br>
<p>
<i>&gt; &gt; Kick Glorie wrote:</i><br>
<i>&gt; &gt; Well the snapscan backend seems to be broken with a new SCSI Generic</i><br>
<i>&gt; &gt; interface introduced in kernel 2.2.6. At least this is the case for my</i><br>
<i>&gt; &gt; snapscan 1236. Try a 2.2.5 or lower kernel, and it should work fine.</i><br>
<i>&gt; </i><br>
<i>&gt; There were changes to both the aha152x and the sg driver </i><br>
<i>&gt; between versions 2.2.5 and 2.2.6 . The problem was found</i><br>
<i>&gt; to be in the aha152x changes which I hope are now fixed.</i><br>
<p>
Uhm..are you trying to say the problem using the snapscan backend is due<br>
to changes to the aha152x driver and not the sg changes? That would really<br>
be odd, since I am using an Initio INI9200UW SCSI controller, and I'm<br>
having problems with every kernel newer than 2.2.5....<br>
<p>
<i>&gt; Could someone verify this is 2.2.10 ? [Rolling the aha152x</i><br>
<i>&gt; driver back to its state in the 2.2.5 driver worked as an</i><br>
<i>&gt; interim fix.]</i><br>
<i>&gt; </i><br>
<i>&gt; Doug Gilbert</i><br>
<p>
Kick Glorie<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">Francois Desarmenien: "Re: Problem with snapscan, aha1505, linux kernel 2.2.9"</a>
<li> <b>Previous message:</b> <a href="0243.html">Rainer Krienke: "Re: problems increasing SG_BIG_BUFF"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
