<!-- received="Wed Jun 30 11:38:41 1999 PDT" -->
<!-- sent="30 Jun 1999 11:39:39 -0700" -->
<!-- name="David Fox" -->
<!-- email="dsfox@cogsci.ucsd.edu" -->
<!-- subject="Re: Nikon Coolscan with RedHat 6.0" -->
<!-- id="" -->
<!-- inreplyto="Wed, 30 Jun 1999 17:20:52 +0100"" -->
<title>sane-devel: Re: Nikon Coolscan with RedHat 6.0</title>
<h1>Re: Nikon Coolscan with RedHat 6.0</h1>
<b>David Fox</b> (<a href="mailto:dsfox@cogsci.ucsd.edu"><i>dsfox@cogsci.ucsd.edu</i></a>)<br>
<i>30 Jun 1999 11:39:39 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#253">[ date ]</a><a href="index.html#253">[ thread ]</a><a href="subject.html#253">[ subject ]</a><a href="author.html#253">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0254.html">Andreas: "Re: Nikon Coolscan with RedHat 6.0"</a>
<li> <b>Previous message:</b> <a href="0252.html">Malcolm Wallace: "Nikon Coolscan with RedHat 6.0"</a>
<li> <b>In reply to:</b> <a href="0252.html">Malcolm Wallace: "Nikon Coolscan with RedHat 6.0"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0254.html">Andreas: "Re: Nikon Coolscan with RedHat 6.0"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Kernel 2.2.5 and the aha152x driver do not work well together.  Try<br>
upgrading to a later kernel.  By the way, you almost certainly are<br>
not using the Coolscan-III patches.<br>
<pre>
-- 
David Fox           <a href="http://hci.ucsd.edu/dsf">http://hci.ucsd.edu/dsf</a>             xoF divaD
UCSD HCI Lab                                         baL ICH DSCU
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0254.html">Andreas: "Re: Nikon Coolscan with RedHat 6.0"</a>
<li> <b>Previous message:</b> <a href="0252.html">Malcolm Wallace: "Nikon Coolscan with RedHat 6.0"</a>
<li> <b>In reply to:</b> <a href="0252.html">Malcolm Wallace: "Nikon Coolscan with RedHat 6.0"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0254.html">Andreas: "Re: Nikon Coolscan with RedHat 6.0"</a>
<!-- reply="end" -->
</ul>
