<title>sane-devel by subject</title>
<a name="start"><h1>sane-devel by subject</h1></a>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<b>Starting:</b> <i>Tue 01 Jun 1999 - 01:57:47 PDT</i><br>
<b>Ending:</b> <i>Wed 30 Jun 1999 - 18:48:10 PDT</i><br>
<b>Messages:</b> 260
<p>
<ul>
<li> <b>"scsi HP" in hp.conf</b>
<ul>
<li> <a href="0068.html">Peter Kirchgessner</a> <a name="68"><i>Sun, 13 Jun 1999 13:58:54 +0200</i></a>
</ul>
<ul>
<li> <a href="0044.html">Wolfgang Goeller</a> <a name="44"><i>Wed, 09 Jun 1999 00:18:04 +0200</i></a>
</ul>
<ul>
<li> <a href="0042.html">Nick Lamb</a> <a name="42"><i>Tue, 8 Jun 1999 21:12:02 +0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0041.html">J. Milgram</a> <a name="41"><i>Tue, 08 Jun 1999 15:15:38 -0400</i></a>
</ul>
<li> <b>600 ||| EP Plus</b>
<ul>
<li> <a href="0073.html">Jeff DeFouw</a> <a name="73"><i>Mon, 14 Jun 1999 19:18:31 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0071.html">Bart</a> <a name="71"><i>Mon, 14 Jun 1999 18:04:32 -0500</i></a>
</ul>
<li> <b>[ANNOUNCE] SANE 1.0.1 for OS/2 is ready</b>
<ul>
<li> <a href="0205.html">Yuri Dario</a> <a name="205"><i>Sun, 27 Jun 1999 15:47:05 +0200 (CDT)</i></a>
</ul>
<li> <b>[Fwd: HP SJ 5100C]</b>
<ul>
<li> <a href="0005.html">Peter Kirchgessner</a> <a name="5"><i>Wed, 02 Jun 1999 14:15:44 +0200</i></a>
</ul>
<li> <b>[PARPORT] BETA test, new ppSCSI drivers</b>
<ul>
<li> <a href="0126.html">Michele Bini</a> <a name="126"><i>Mon, 21 Jun 1999 04:23:36 +0000</i></a>
</ul>
<ul>
<li> <a href="0125.html">Michele Bini</a> <a name="125"><i>Sun, 20 Jun 1999 18:45:54 +0000</i></a>
</ul>
<ul>
<li> <a href="0124.html">Michele Bini</a> <a name="124"><i>Mon, 21 Jun 1999 03:41:24 +0000</i></a>
</ul>
<ul>
<li> <a href="0117.html">Juha Sahakangas</a> <a name="117"><i>Sun, 20 Jun 1999 17:46:58 +0300 (EEST)</i></a>
</ul>
<ul>
<li> <a href="0116.html">Bernd Schroeder</a> <a name="116"><i>Sun, 20 Jun 1999 15:58:46 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0115.html">Bernd Schroeder</a> <a name="115"><i>Sun, 20 Jun 1999 15:38:35 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0114.html">Michele Bini</a> <a name="114"><i>Sat, 19 Jun 1999 22:30:41 +0000</i></a>
</ul>
<ul>
<li> <a href="0113.html">Michele Bini</a> <a name="113"><i>Sat, 19 Jun 1999 22:50:20 +0000</i></a>
</ul>
<ul>
<li> <a href="0112.html">Michele Bini</a> <a name="112"><i>Sat, 19 Jun 1999 22:12:45 +0000</i></a>
</ul>
<ul>
<li> <a href="0111.html">Juha Sahakangas</a> <a name="111"><i>Sat, 19 Jun 1999 21:40:26 +0300 (EEST)</i></a>
</ul>
<ul>
<li> <a href="0110.html">Juha Sahakangas</a> <a name="110"><i>Sat, 19 Jun 1999 21:37:23 +0300 (EEST)</i></a>
</ul>
<ul>
<li> <a href="0109.html">Michele Bini</a> <a name="109"><i>Fri, 18 Jun 1999 20:34:21 +0000</i></a>
</ul>
<ul>
<li> <a href="0108.html">Michele Bini</a> <a name="108"><i>Fri, 18 Jun 1999 20:18:52 +0000</i></a>
</ul>
<ul>
<li> <a href="0106.html">Bernd Schroeder</a> <a name="106"><i>Sat, 19 Jun 1999 14:06:31 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0105.html">Bernd Schroeder</a> <a name="105"><i>Sat, 19 Jun 1999 13:55:54 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0102.html">Bernd Schroeder</a> <a name="102"><i>Fri, 18 Jun 1999 19:33:13 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0101.html">Juha Sahakangas</a> <a name="101"><i>Fri, 18 Jun 1999 17:46:48 +0300 (EEST)</i></a>
</ul>
<ul>
<li> <a href="0100.html">Bernd Schroeder</a> <a name="100"><i>Fri, 18 Jun 1999 10:14:18 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0099.html">Bernd Schroeder</a> <a name="99"><i>Fri, 18 Jun 1999 10:14:18 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0097.html">Michele Bini</a> <a name="97"><i>Thu, 17 Jun 1999 09:19:43 +0000</i></a>
</ul>
<ul>
<li> <a href="0093.html">Michele Bini</a> <a name="93"><i>Thu, 17 Jun 1999 02:36:09 +0000</i></a>
</ul>
<ul>
<li> <a href="0092.html">Michele Bini</a> <a name="92"><i>Thu, 17 Jun 1999 02:31:16 +0000</i></a>
</ul>
<ul>
<li> <a href="0091.html">Juha Sahakangas</a> <a name="91"><i>Wed, 16 Jun 1999 23:17:21 +0300 (EEST)</i></a>
</ul>
<ul>
<li> <a href="0088.html">Michele Bini</a> <a name="88"><i>Wed, 16 Jun 1999 19:36:35 +0000</i></a>
</ul>
<ul>
<li> <a href="0087.html">Michele Bini</a> <a name="87"><i>Wed, 16 Jun 1999 19:31:52 +0000</i></a>
</ul>
<ul>
<li> <a href="0086.html">Michele Bini</a> <a name="86"><i>Wed, 16 Jun 1999 19:28:05 +0000</i></a>
</ul>
<li> <b>A small compatibility update</b>
<ul>
<li> <a href="0107.html">Bernd Schroeder</a> <a name="107"><i>Sat, 19 Jun 1999 14:39:15 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0104.html">Chris Mortensen</a> <a name="104"><i>Sat, 19 Jun 1999 07:40:51 GMT</i></a>
</ul>
<li> <b>ARTEC 6000C Plus Problems</b>
<ul>
<li> <a href="0006.html">Ron Burton</a> <a name="6"><i>Wed, 02 Jun 1999 18:12:21 GMT</i></a>
</ul>
<li> <b>Artec AT6</b>
<ul>
<li> <a href="0075.html">Douglas Gilbert</a> <a name="75"><i>Mon, 14 Jun 1999 23:43:06 -0400</i></a>
</ul>
<ul>
<li> <a href="0072.html">Brian B.</a> <a name="72"><i>Mon, 14 Jun 1999 17:24:17 -0500</i></a>
</ul>
<li> <b>Artec AT6 yet again</b>
<ul>
<li> <a href="0136.html">Wolfgang Goeller</a> <a name="136"><i>Tue, 22 Jun 1999 01:27:48 +0200</i></a>
</ul>
<ul>
<li> <a href="0135.html">Brian B.</a> <a name="135"><i>Mon, 21 Jun 1999 18:56:57 -0500</i></a>
</ul>
<ul>
<li> <a href="0096.html">Wolfgang Goeller</a> <a name="96"><i>Thu, 17 Jun 1999 09:32:50 +0200</i></a>
</ul>
<ul>
<li> <a href="0094.html">Brian B.</a> <a name="94"><i>Wed, 16 Jun 1999 23:26:08 -0500</i></a>
</ul>
<ul>
<li> <a href="0090.html">Wolfgang Goeller</a> <a name="90"><i>Wed, 16 Jun 1999 22:08:51 +0200</i></a>
</ul>
<ul>
<li> <a href="0089.html">Brian B.</a> <a name="89"><i>Wed, 16 Jun 1999 14:44:08 -0500</i></a>
</ul>
<ul>
<li> <a href="0084.html">Wolfgang Goeller</a> <a name="84"><i>Wed, 16 Jun 1999 17:22:44 +0200</i></a>
</ul>
<ul>
<li> <a href="0083.html">Brian B.</a> <a name="83"><i>Wed, 16 Jun 1999 02:28:48 -0500</i></a>
</ul>
<li> <b>artec home handheld scanners</b>
<ul>
<li> <a href="0138.html">scratch</a> <a name="138"><i>Tue, 22 Jun 1999 13:47:52 +0200 (CEST)</i></a>
</ul>
<li> <b>backend-HOWTO</b>
<ul>
<li> <a href="0016.html">Meino Christian Cramer</a> <a name="16"><i>Thu, 03 Jun 1999 17:08:38 GMT</i></a>
</ul>
<li> <b>calculation of bytes to read, bytes per line etc</b>
<ul>
<li> <a href="0226.html">abel deuring</a> <a name="226"><i>Mon, 28 Jun 1999 18:42:05 +0200</i></a>
</ul>
<ul>
<li> <a href="0221.html">Oliver Rauch</a> <a name="221"><i>Mon, 28 Jun 1999 09:45:30 +0200</i></a>
</ul>
<ul>
<li> <a href="0220.html">Meino Christian Cramer</a> <a name="220"><i>Mon, 28 Jun 1999 09:09:47 GMT</i></a>
</ul>
<li> <b>Compiling difficulties</b>
<ul>
<li> <a href="0255.html">Dr. Ing. Dieter Jurzitza</a> <a name="255"><i>Wed, 30 Jun 1999 22:30:33 +0200 (MEST)</i></a>
</ul>
<li> <b>EPSON GT7-000 transparency unit patch</b>
<ul>
<li> <a href="0070.html">Norihiko Sawa</a> <a name="70"><i>Mon, 14 Jun 1999 17:53:54 +0900</i></a>
</ul>
<li> <b>Epson Scanner GT-7000</b>
<ul>
<li> <a href="0058.html">Frank Berke</a> <a name="58"><i>Thu, 10 Jun 1999 16:54:35 +0200</i></a>
</ul>
<li> <b>FAQs for HP scanners</b>
<ul>
<li> <a href="0011.html">Mentore #cat# Siesto</a> <a name="11"><i>Thu, 3 Jun 1999 09:51:27 +0200 (CEST)</i></a>
</ul>
<li> <b>First sucess with Coolscan LS-30</b>
<ul>
<li> <a href="0062.html">Andreas Rick</a> <a name="62"><i>Fri, 11 Jun 1999 08:47:26 +0200</i></a>
</ul>
<li> <b>First sucessSecond version of Coolscan backend for the LS-30 and</b>
<ul>
<li> <a href="0061.html">Andreas Rick</a> <a name="61"><i>Thu, 10 Jun 1999 16:29:14 +0200</i></a>
</ul>
<li> <b>First sucessSecond version of Coolscan backend for the LS-30 and LS-2000</b>
<ul>
<li> <a href="0123.html">Fred Willingham</a> <a name="123"><i>Sun, 20 Jun 1999 21:33:39 -0400</i></a>
</ul>
<ul>
<li> <a href="0077.html">David Fox</a> <a name="77"><i>14 Jun 1999 22:01:14 -0700</i></a>
</ul>
<ul>
<li> <a href="0074.html">Fred Willingham</a> <a name="74"><i>Mon, 14 Jun 1999 21:43:17 -0400</i></a>
</ul>
<li> <b>First version of modified Coolscan backend for the LS-30</b>
<ul>
<li> <a href="0038.html">David Fox</a> <a name="38"><i>07 Jun 1999 23:38:18 -0700</i></a>
</ul>
<ul>
<li> <a href="0034.html">Andreas Rick</a> <a name="34"><i>Mon, 07 Jun 1999 16:07:24 +0200</i></a>
</ul>
<ul>
<li> <a href="0032.html">Nick Lamb</a> <a name="32"><i>Sun, 6 Jun 1999 00:44:53 +0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0030.html">Andreas Rick</a> <a name="30"><i>Fri, 28 May 1999 16:16:09 +0200</i></a>
</ul>
<li> <b>Fix for grayscale scans with gamma &lt; 1.0</b>
<ul>
<li> <a href="0169.html">Oliver Rauch</a> <a name="169"><i>Wed, 23 Jun 1999 23:46:26 +0200</i></a>
</ul>
<ul>
<li> <a href="0168.html">Oliver Rauch</a> <a name="168"><i>Wed, 23 Jun 1999 23:44:06 +0200</i></a>
</ul>
<ul>
<li> <a href="0167.html">David Fox</a> <a name="167"><i>23 Jun 1999 14:26:49 -0700</i></a>
</ul>
<ul>
<li> <a href="0165.html">Robert Fargher</a> <a name="165"><i>Wed, 23 Jun 1999 13:22:34 -0700 (PDT)</i></a>
</ul>
<ul>
<li> <a href="0164.html">Nick Lamb</a> <a name="164"><i>Wed, 23 Jun 1999 21:13:48 +0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0163.html">Oliver Rauch</a> <a name="163"><i>Wed, 23 Jun 1999 21:54:16 +0200</i></a>
</ul>
<ul>
<li> <a href="0159.html">David Fox</a> <a name="159"><i>23 Jun 1999 11:43:05 -0700</i></a>
</ul>
<ul>
<li> <a href="0155.html">Oliver Rauch</a> <a name="155"><i>Wed, 23 Jun 1999 19:55:46 +0200</i></a>
</ul>
<ul>
<li> <a href="0154.html">David Fox</a> <a name="154"><i>23 Jun 1999 10:07:14 -0700</i></a>
</ul>
<li> <b>Fujitsu Scanner support?</b>
<ul>
<li> <a href="0214.html">Rooster</a> <a name="214"><i>Sun, 27 Jun 1999 23:34:34 +0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0213.html">Patrice Espie</a> <a name="213"><i>Sun, 27 Jun 1999 22:12:44 +0200</i></a>
</ul>
<ul>
<li> <a href="0121.html">Oliver Rauch</a> <a name="121"><i>Sun, 20 Jun 1999 21:31:23 +0200</i></a>
</ul>
<ul>
<li> <a href="0119.html">Rooster</a> <a name="119"><i>Sun, 20 Jun 1999 17:22:21 +0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0118.html">Oliver Rauch</a> <a name="118"><i>Sun, 20 Jun 1999 17:48:43 +0200</i></a>
</ul>
<ul>
<li> <a href="0103.html">Rooster</a> <a name="103"><i>Fri, 18 Jun 1999 23:08:22 +0100 (GMT)</i></a>
</ul>
<li> <b>Genius Colorpage HR5 (Pro) should work with sane</b>
<ul>
<li> <a href="0003.html">Thorsten Skrabal</a> <a name="3"><i>Wed, 2 Jun 1999 08:40:00 +0200</i></a>
</ul>
<li> <b>Genius Colorpage HR5 and HR5 Pro should work as UMAX Astra 1200</b>
<ul>
<li> <a href="0029.html">B.Skrabal@t-online.de</a> <a name="29"><i>Sat, 29 May 1999 19:22:09 +0200</i></a>
</ul>
<li> <b>make fails on RH 6.0</b>
<ul>
<li> <a href="0207.html">Tomm Aldridge</a> <a name="207"><i>Sun, 27 Jun 1999 08:02:59 -0700</i></a>
</ul>
<li> <b>Microtek 600GS &amp; Solaris 7 : trouble</b>
<ul>
<li> <a href="0191.html">Romain Dolbeau</a> <a name="191"><i>Sat, 19 Jun 1999 11:53:23 +0100</i></a>
</ul>
<ul>
<li> <a href="0187.html">dolbeau romain</a> <a name="187"><i>Sat, 26 Jun 1999 12:57:25 +0200</i></a>
</ul>
<li> <b>Microtek X6 and TMA</b>
<ul>
<li> <a href="0218.html">Bernd Schroeder</a> <a name="218"><i>Mon, 28 Jun 1999 07:57:21 +0200 (MEST)</i></a>
</ul>
<li> <b>microtek x6 and TMA not working</b>
<ul>
<li> <a href="0033.html">Harald Finster</a> <a name="33"><i>Mon, 07 Jun 1999 08:55:46 +0200</i></a>
</ul>
<ul>
<li> <a href="0028.html">Bernd Schroeder</a> <a name="28"><i>Sat, 5 Jun 1999 16:59:44 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0025.html">Harald Finster</a> <a name="25"><i>Fri, 04 Jun 1999 10:41:32 +0200</i></a>
</ul>
<ul>
<li> <a href="0010.html">Bernd Schroeder</a> <a name="10"><i>Thu, 3 Jun 1999 09:32:52 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0000.html">Harald Finster</a> <a name="0"><i>Tue, 01 Jun 1999 10:57:48 +0200</i></a>
</ul>
<li> <b>microtek x6 and TMA not working (apologies)</b>
<ul>
<li> <a href="0027.html">Greg Franks</a> <a name="27"><i>04 Jun 1999 09:28:24 -0400</i></a>
</ul>
<ul>
<li> <a href="0026.html">Harald Finster</a> <a name="26"><i>Fri, 04 Jun 1999 10:51:09 +0200</i></a>
</ul>
<li> <b>Missing month in mail archive webpage</b>
<ul>
<li> <a href="0066.html">Petter Reinholdtsen</a> <a name="66"><i>Sun, 13 Jun 1999 11:06:31 +0200</i></a>
</ul>
<li> <b>Mustek ScanExpress 12000SP slow</b>
<ul>
<li> <a href="0019.html">Dr. Andreas Bolsch</a> <a name="19"><i>Thu, 03 Jun 1999 17:22:19 +0100</i></a>
</ul>
<ul>
<li> <a href="0018.html">Nemeth Laszlo</a> <a name="18"><i>Thu, 03 Jun 1999 17:57:32 +0200</i></a>
</ul>
<ul>
<li> <a href="0017.html">Nemeth Laszlo</a> <a name="17"><i>Thu, 03 Jun 1999 18:01:03 +0200</i></a>
</ul>
<ul>
<li> <a href="0001.html">Dr. Andreas Bolsch</a> <a name="1"><i>Tue, 01 Jun 1999 12:20:59 +0100</i></a>
</ul>
<li> <b>myterious success problem...</b>
<ul>
<li> <a href="0233.html">Meino Christian Cramer</a> <a name="233"><i>Tue, 29 Jun 1999 09:57:40 GMT</i></a>
</ul>
<ul>
<li> <a href="0232.html">Andreas Rick</a> <a name="232"><i>Tue, 29 Jun 1999 08:55:39 +0200</i></a>
</ul>
<ul>
<li> <a href="0177.html">Meino Christian Cramer</a> <a name="177"><i>Thu, 24 Jun 1999 20:46:44 GMT</i></a>
</ul>
<li> <b>New Camera</b>
<ul>
<li> <a href="0203.html">Oliver Rauch</a> <a name="203"><i>Sun, 27 Jun 1999 11:26:09 +0200</i></a>
</ul>
<ul>
<li> <a href="0202.html">Hugo van der Kooij</a> <a name="202"><i>Sun, 27 Jun 1999 07:59:05 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0201.html">Nick Lamb</a> <a name="201"><i>Sun, 27 Jun 1999 01:25:43 +0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0198.html">Oliver Rauch</a> <a name="198"><i>Sun, 27 Jun 1999 00:34:42 +0200</i></a>
</ul>
<ul>
<li> <a href="0195.html">Hugo van der Kooij</a> <a name="195"><i>Sat, 26 Jun 1999 21:26:45 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0190.html">Remmert</a> <a name="190"><i>Sat, 19 Jun 1999 01:00:34 -0500</i></a>
</ul>
<li> <b>New umax backend (build 6)</b>
<ul>
<li> <a href="0158.html">Oliver Rauch</a> <a name="158"><i>Wed, 23 Jun 1999 20:36:02 +0200</i></a>
</ul>
<li> <b>Newbie question ;-)</b>
<ul>
<li> <a href="0166.html">amalmin@coho.halcyon.com</a> <a name="166"><i>Wed, 23 Jun 1999 12:28:42 -0700</i></a>
</ul>
<ul>
<li> <a href="0162.html">Oliver Rauch</a> <a name="162"><i>Wed, 23 Jun 1999 21:48:21 +0200</i></a>
</ul>
<ul>
<li> <a href="0160.html">Gunnar Schroeder</a> <a name="160"><i>Wed, 23 Jun 1999 21:31:14 +0200</i></a>
</ul>
<li> <b>Nikon Coolscan with RedHat 6.0</b>
<ul>
<li> <a href="0254.html">Andreas</a> <a name="254"><i>Wed, 30 Jun 1999 22:15:28 +0200</i></a>
</ul>
<ul>
<li> <a href="0253.html">David Fox</a> <a name="253"><i>30 Jun 1999 11:39:39 -0700</i></a>
</ul>
<ul>
<li> <a href="0252.html">Malcolm Wallace</a> <a name="252"><i>Wed, 30 Jun 1999 17:20:52 +0100</i></a>
</ul>
<li> <b>pnm-files</b>
<ul>
<li> <a href="0129.html">Joachim Kunze</a> <a name="129"><i>Mon, 21 Jun 1999 14:52:40 +0100</i></a>
</ul>
<li> <b>Polaroid scanner</b>
<ul>
<li> <a href="0098.html">regis rampnoux</a> <a name="98"><i>Thu, 17 Jun 1999 21:24:26 +0200 (CEST)</i></a>
</ul>
<li> <b>Problem with snapscan, aha1505, linux kernel 2.2.9</b>
<ul>
<li> <a href="0258.html">Kevin Charter</a> <a name="258"><i>Wed, 30 Jun 1999 19:33:20 -0600 (MDT)</i></a>
</ul>
<ul>
<li> <a href="0256.html">Francois Desarmenien</a> <a name="256"><i>Wed, 30 Jun 1999 21:34:36 +0000</i></a>
</ul>
<ul>
<li> <a href="0247.html">Douglas Gilbert</a> <a name="247"><i>Wed, 30 Jun 1999 08:29:21 -0400</i></a>
</ul>
<ul>
<li> <a href="0245.html">Francois Desarmenien</a> <a name="245"><i>Wed, 30 Jun 1999 09:27:21 +0000</i></a>
</ul>
<ul>
<li> <a href="0244.html">Kick Glorie</a> <a name="244"><i>Wed, 30 Jun 1999 10:15:34 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0242.html">Douglas Gilbert</a> <a name="242"><i>Tue, 29 Jun 1999 23:42:14 -0400</i></a>
</ul>
<ul>
<li> <a href="0024.html">Kevin Charter</a> <a name="24"><i>Fri, 4 Jun 1999 00:09:22 -0500 (CDT)</i></a>
</ul>
<ul>
<li> <a href="0021.html">Wolfgang Goeller</a> <a name="21"><i>Thu, 03 Jun 1999 22:31:50 +0200</i></a>
</ul>
<ul>
<li> <a href="0015.html">Kick Glorie</a> <a name="15"><i>Thu, 03 Jun 1999 16:31:56 +0200</i></a>
</ul>
<ul>
<li> <a href="0013.html">Christophe PUZENAT</a> <a name="13"><i>Thu, 03 Jun 1999 10:35:07 +0200</i></a>
</ul>
<li> <b>Problem with xscanimage</b>
<ul>
<li> <a href="0023.html">Peter Kirchgessner</a> <a name="23"><i>Thu, 03 Jun 1999 23:18:49 +0200</i></a>
</ul>
<ul>
<li> <a href="0022.html">Wolfgang Goeller</a> <a name="22"><i>Thu, 03 Jun 1999 22:31:46 +0200</i></a>
</ul>
<li> <b>Problems compiling sane on my box</b>
<ul>
<li> <a href="0241.html">amalmin@coho.halcyon.com</a> <a name="241"><i>Tue, 29 Jun 1999 14:44:11 -0700</i></a>
</ul>
<ul>
<li> <a href="0240.html">Oliver Rauch</a> <a name="240"><i>Wed, 30 Jun 1999 00:39:54 +0200</i></a>
</ul>
<ul>
<li> <a href="0239.html">Hugo van der Kooij</a> <a name="239"><i>Tue, 29 Jun 1999 23:26:23 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0238.html">Dr. Ing. Dieter Jurzitza</a> <a name="238"><i>Tue, 29 Jun 1999 21:17:57 +0200 (MEST)</i></a>
</ul>
<li> <b>Problems detecting my scanner.</b>
<ul>
<li> <a href="0197.html">Ingo Wilken</a> <a name="197"><i>Sat, 26 Jun 1999 22:51:11 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0184.html">Carlos Costa Portela</a> <a name="184"><i>Sat, 26 Jun 1999 17:10:11 +0200 (CET)</i></a>
</ul>
<li> <b>problems increasing SG_BIG_BUFF</b>
<ul>
<li> <a href="0251.html">abel deuring</a> <a name="251"><i>Wed, 30 Jun 1999 17:44:03 +0200</i></a>
</ul>
<ul>
<li> <a href="0250.html">abel deuring</a> <a name="250"><i>Wed, 30 Jun 1999 17:29:30 +0200</i></a>
</ul>
<ul>
<li> <a href="0249.html">Rainer Krienke</a> <a name="249"><i>Wed, 30 Jun 1999 14:47:11 +0200</i></a>
</ul>
<ul>
<li> <a href="0248.html">Douglas Gilbert</a> <a name="248"><i>Wed, 30 Jun 1999 08:36:02 -0400</i></a>
</ul>
<ul>
<li> <a href="0246.html">abel deuring</a> <a name="246"><i>Wed, 30 Jun 1999 11:47:26 +0200</i></a>
</ul>
<ul>
<li> <a href="0243.html">Rainer Krienke</a> <a name="243"><i>Wed, 30 Jun 1999 08:46:58 +0200</i></a>
</ul>
<ul>
<li> <a href="0069.html">Douglas Gilbert</a> <a name="69"><i>Sun, 13 Jun 1999 10:13:43 -0400</i></a>
</ul>
<ul>
<li> <a href="0067.html">Petter Reinholdtsen</a> <a name="67"><i>Sun, 13 Jun 1999 11:05:15 +0200</i></a>
</ul>
<ul>
<li> <a href="0048.html">Douglas Gilbert</a> <a name="48"><i>Wed, 09 Jun 1999 09:53:36 -0400</i></a>
</ul>
<ul>
<li> <a href="0047.html">Andreas Buesching</a> <a name="47"><i>Wed, 9 Jun 1999 11:17:55 +0200</i></a>
</ul>
<li> <b>problems with HP SJ 4C and Linux</b>
<ul>
<li> <a href="0020.html">Peter Kirchgessner</a> <a name="20"><i>Thu, 03 Jun 1999 22:19:33 +0200</i></a>
</ul>
<ul>
<li> <a href="0014.html">Dave</a> <a name="14"><i>Thu, 03 Jun 1999 10:05:35 -0400</i></a>
</ul>
<ul>
<li> <a href="0012.html">Ewald R. de Wit</a> <a name="12"><i>Thu, 3 Jun 1999 10:07:31 +0200</i></a>
</ul>
<ul>
<li> <a href="0007.html">Britt Bolen</a> <a name="7"><i>Wed, 2 Jun 1999 16:19:20 -0400 (EDT)</i></a>
</ul>
<li> <b>Re DTC 3181 etc</b>
<ul>
<li> <a href="0219.html">Niko Mikkila</a> <a name="219"><i>Mon, 28 Jun 1999 06:17:02 +0000</i></a>
</ul>
<ul>
<li> <a href="0174.html">Niko Mikkila</a> <a name="174"><i>Thu, 24 Jun 1999 09:22:33 +0000</i></a>
</ul>
<li> <b>RE: saned: process_request: received unexpected procedure number 0</b>
<ul>
<li> <a href="0009.html">Scott Wells</a> <a name="9"><i>Wed, 2 Jun 1999 22:53:24 -0500</i></a>
</ul>
<li> <b>Request for more info on Obscure Scanner</b>
<ul>
<li> <a href="0095.html">Warren</a> <a name="95"><i>Wed, 16 Jun 1999 19:03:11 -0700</i></a>
</ul>
<ul>
<li> <a href="0085.html">Jeffrey C. Jacobs</a> <a name="85"><i>Tue, 15 Jun 1999 16:16:38 -0400</i></a>
</ul>
<li> <b>SANE 1.0.1 under DEC UNIX 4.0</b>
<ul>
<li> <a href="0076.html">Marian Szebenyi</a> <a name="76"><i>Mon, 14 Jun 1999 14:13:02 -0400</i></a>
</ul>
<li> <b>SANE 1.0.1 under RedHat 6.0</b>
<ul>
<li> <a href="0078.html">Pedro Almeida</a> <a name="78"><i>Tue, 15 Jun 1999 11:56:43 +0100 (WEST)</i></a>
</ul>
<li> <b>scanimage doesn't cope with saned breaking connection (apparently)</b>
<ul>
<li> <a href="0128.html">Fernando Fernandez</a> <a name="128"><i>Mon, 21 Jun 1999 12:23:18 +0100</i></a>
</ul>
<li> <b>scanimage: support $SANE_DEFAULT_DEVICE (patch)</b>
<ul>
<li> <a href="0151.html">Ingo Wilken</a> <a name="151"><i>Wed, 23 Jun 1999 17:03:08 +0200 (MET DST)</i></a>
</ul>
<li> <b>Scanman Color 2000 driver (it exists !)</b>
<ul>
<li> <a href="0050.html">Wim Taymans</a> <a name="50"><i>Wed, 09 Jun 1999 18:30:36 +0200</i></a>
</ul>
<li> <b>Scanner detected, but scanimage doesn't run...</b>
<ul>
<li> <a href="0259.html">Brian Macy</a> <a name="259"><i>Wed, 30 Jun 1999 18:49:30 -0700</i></a>
</ul>
<ul>
<li> <a href="0257.html">Carlos Costa Portela</a> <a name="257"><i>Thu, 1 Jul 1999 00:11:24 +0200 (CET)</i></a>
</ul>
<li> <b>Scanner Development</b>
<ul>
<li> <a href="0228.html">Roderick Klein</a> <a name="228"><i>Mon, 28 Jun 1999 22:53:16 +0000</i></a>
</ul>
<ul>
<li> <a href="0223.html">M. Been</a> <a name="223"><i>Mon, 28 Jun 1999 16:40:53 +0200</i></a>
</ul>
<li> <b>SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F</b>
<ul>
<li> <a href="0149.html">Meino Christian Cramer</a> <a name="149"><i>Wed, 23 Jun 1999 02:22:26 GMT</i></a>
</ul>
<ul>
<li> <a href="0143.html">Nick Lamb</a> <a name="143"><i>Tue, 22 Jun 1999 21:29:18 +0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0141.html">Meino Christian Cramer</a> <a name="141"><i>Tue, 22 Jun 1999 21:21:52 GMT</i></a>
</ul>
<li> <b>SE 12000SP (Mustek)</b>
<ul>
<li> <a href="0210.html">Dr. Ing. Dieter Jurzitza</a> <a name="210"><i>Sun, 27 Jun 1999 20:17:48 +0200 (MEST)</i></a>
</ul>
<li> <b>Second version of Coolscan backend for the LS-30 and LS-2000</b>
<ul>
<li> <a href="0079.html">Andreas Rick</a> <a name="79"><i>Tue, 15 Jun 1999 16:48:47 +0200</i></a>
</ul>
<li> <b>Segmentation Fault</b>
<ul>
<li> <a href="0176.html">Peter Kirchgessner</a> <a name="176"><i>Thu, 24 Jun 1999 19:42:20 +0200</i></a>
</ul>
<ul>
<li> <a href="0175.html">Steve Springett</a> <a name="175"><i>Wed, 23 Jun 1999 22:23:22 -0500</i></a>
</ul>
<ul>
<li> <a href="0145.html">Peter Kirchgessner</a> <a name="145"><i>Tue, 22 Jun 1999 23:26:16 +0200</i></a>
</ul>
<ul>
<li> <a href="0139.html">Steve Springett</a> <a name="139"><i>Tue, 22 Jun 1999 10:21:32 -0500</i></a>
</ul>
<li> <b>Slow DTC3181 aka UDS-IS11 SCSI card with Domex 436P chip</b>
<ul>
<li> <a href="0039.html">Niko =?iso-8859-1?Q?Mikkil=E4?=</a> <a name="39"><i>Tue, 08 Jun 1999 10:35:15 +0000</i></a>
</ul>
<li> <b>Snapscan &amp; kernels &gt;2.2.5</b>
<ul>
<li> <a href="0231.html">Francois Desarmenien</a> <a name="231"><i>Mon, 28 Jun 1999 20:08:57 +0000</i></a>
</ul>
<li> <b>SprintScan 35 LE</b>
<ul>
<li> <a href="0127.html">Herwin Jan Steehouwer</a> <a name="127"><i>Mon, 21 Jun 1999 13:10:56 +0200 (CEST)</i></a>
</ul>
<li> <b>Spy on the SCSI-bus</b>
<ul>
<li> <a href="0137.html">Henry Miller</a> <a name="137"><i>Mon, 21 Jun 1999 22:12:42 -0500 (CDT)</i></a>
</ul>
<ul>
<li> <a href="0132.html">Andreas Rick</a> <a name="132"><i>Mon, 21 Jun 1999 18:51:20 +0200</i></a>
</ul>
<ul>
<li> <a href="0130.html">Meino Christian Cramer</a> <a name="130"><i>Mon, 21 Jun 1999 17:16:28 GMT</i></a>
</ul>
<li> <b>ST400 backend update</b>
<ul>
<li> <a href="0234.html">Ingo Wilken</a> <a name="234"><i>Tue, 29 Jun 1999 13:53:06 +0200 (MET DST)</i></a>
</ul>
<li> <b>Standard reply to manufacturers</b>
<ul>
<li> <a href="0236.html">Hugo van der Kooij</a> <a name="236"><i>Tue, 29 Jun 1999 17:46:51 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0235.html">Petter Reinholdtsen</a> <a name="235"><i>Tue, 29 Jun 1999 16:21:27 +0200</i></a>
</ul>
<ul>
<li> <a href="0209.html">Hugo van der Kooij</a> <a name="209"><i>Sun, 27 Jun 1999 20:01:58 +0200 (CEST)</i></a>
</ul>
<li> <b>Success - Primax 4800 Direct</b>
<ul>
<li> <a href="0008.html">Danilo Godec</a> <a name="8"><i>Wed, 2 Jun 1999 23:17:13 +0200 (MET DST)</i></a>
</ul>
<li> <b>To UMAX Astra 6X0S and UMAX High End scanner users</b>
<ul>
<li> <a href="0004.html">Oliver Rauch</a> <a name="4"><i>Wed, 02 Jun 1999 09:08:48 +0200</i></a>
</ul>
<ul>
<li> <a href="0002.html">Oliver Rauch</a> <a name="2"><i>Wed, 02 Jun 1999 08:35:58 +0200</i></a>
</ul>
<li> <b>translate docs into Japanese</b>
<ul>
<li> <a href="0031.html">Ryoji KAWAGISHI</a> <a name="31"><i>Fri, 4 Jun 1999 01:15:19 +0900 (JST)</i></a>
</ul>
<li> <b>Umax 1200S on LinuxPPC R5</b>
<ul>
<li> <a href="0230.html">Douglas Gilbert</a> <a name="230"><i>Mon, 28 Jun 1999 22:47:34 -0400</i></a>
</ul>
<ul>
<li> <a href="0216.html">Simon Piette</a> <a name="216"><i>Sun, 27 Jun 1999 22:25:39 -0400</i></a>
</ul>
<ul>
<li> <a href="0215.html">Simon Piette</a> <a name="215"><i>Sun, 27 Jun 1999 22:19:33 -0400</i></a>
</ul>
<ul>
<li> <a href="0211.html">Douglas Gilbert</a> <a name="211"><i>Sun, 27 Jun 1999 14:29:17 -0400</i></a>
</ul>
<ul>
<li> <a href="0208.html">Oliver Rauch</a> <a name="208"><i>Sun, 27 Jun 1999 17:35:37 +0200</i></a>
</ul>
<ul>
<li> <a href="0206.html">Simon Piette</a> <a name="206"><i>Sun, 27 Jun 1999 09:51:44 -0400</i></a>
</ul>
<ul>
<li> <a href="0200.html">Oliver Rauch</a> <a name="200"><i>Sun, 27 Jun 1999 01:29:35 +0200</i></a>
</ul>
<ul>
<li> <a href="0199.html">Oliver Rauch</a> <a name="199"><i>Sun, 27 Jun 1999 00:38:10 +0200</i></a>
</ul>
<ul>
<li> <a href="0196.html">Simon Piette</a> <a name="196"><i>Sat, 26 Jun 1999 16:05:54 -0400</i></a>
</ul>
<ul>
<li> <a href="0194.html">Douglas Gilbert</a> <a name="194"><i>Sat, 26 Jun 1999 15:16:21 -0400</i></a>
</ul>
<ul>
<li> <a href="0193.html">Oliver Rauch</a> <a name="193"><i>Sat, 26 Jun 1999 20:55:41 +0200</i></a>
</ul>
<ul>
<li> <a href="0192.html">Oliver Rauch</a> <a name="192"><i>Sat, 26 Jun 1999 20:48:36 +0200</i></a>
</ul>
<ul>
<li> <a href="0189.html">Tom Martone</a> <a name="189"><i>Wed, 23 Jun 1999 22:03:20 -0400</i></a>
</ul>
<ul>
<li> <a href="0188.html">David Mosberger-Tang</a> <a name="188"><i>Sat, 26 Jun 1999 10:52:40 -0700</i></a>
</ul>
<ul>
<li> <a href="0186.html">Oliver Rauch</a> <a name="186"><i>Sat, 26 Jun 1999 18:48:48 +0200</i></a>
</ul>
<ul>
<li> <a href="0185.html">Hugo van der Kooij</a> <a name="185"><i>Sat, 26 Jun 1999 17:48:44 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0183.html">Oliver Rauch</a> <a name="183"><i>Sat, 26 Jun 1999 09:33:09 +0200</i></a>
</ul>
<ul>
<li> <a href="0182.html">Hugo van der Kooij</a> <a name="182"><i>Sat, 26 Jun 1999 07:37:53 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0179.html">Oliver Rauch</a> <a name="179"><i>Thu, 24 Jun 1999 20:55:38 +0200</i></a>
</ul>
<ul>
<li> <a href="0173.html">Hugo van der Kooij</a> <a name="173"><i>Thu, 24 Jun 1999 07:51:45 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0172.html">Douglas Gilbert</a> <a name="172"><i>Wed, 23 Jun 1999 23:15:30 -0400</i></a>
</ul>
<ul>
<li> <a href="0171.html">Simon Piette</a> <a name="171"><i>Wed, 23 Jun 1999 19:24:53 -0400</i></a>
</ul>
<ul>
<li> <a href="0161.html">Oliver Rauch</a> <a name="161"><i>Wed, 23 Jun 1999 21:46:28 +0200</i></a>
</ul>
<ul>
<li> <a href="0157.html">Simon Piette</a> <a name="157"><i>Wed, 23 Jun 1999 14:34:27 -0400</i></a>
</ul>
<ul>
<li> <a href="0156.html">Oliver Rauch</a> <a name="156"><i>Wed, 23 Jun 1999 20:02:46 +0200</i></a>
</ul>
<ul>
<li> <a href="0153.html">Simon Piette</a> <a name="153"><i>Wed, 23 Jun 1999 12:23:37 -0400</i></a>
</ul>
<ul>
<li> <a href="0152.html">Oliver Rauch</a> <a name="152"><i>Wed, 23 Jun 1999 17:36:31 +0200</i></a>
</ul>
<ul>
<li> <a href="0150.html">Simon Piette</a> <a name="150"><i>Tue, 22 Jun 1999 23:06:58 -0400</i></a>
</ul>
<ul>
<li> <a href="0148.html">Nick Lamb</a> <a name="148"><i>Tue, 22 Jun 1999 23:23:27 +0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0147.html">Simon Piette</a> <a name="147"><i>Tue, 22 Jun 1999 18:00:53 -0400</i></a>
</ul>
<ul>
<li> <a href="0146.html">Oliver Rauch</a> <a name="146"><i>Tue, 22 Jun 1999 23:49:49 +0200</i></a>
</ul>
<ul>
<li> <a href="0144.html">Simon Piette</a> <a name="144"><i>Tue, 22 Jun 1999 17:17:33 -0400</i></a>
</ul>
<ul>
<li> <a href="0142.html">Oliver Rauch</a> <a name="142"><i>Tue, 22 Jun 1999 22:09:57 +0200</i></a>
</ul>
<ul>
<li> <a href="0140.html">Simon Piette</a> <a name="140"><i>Tue, 22 Jun 1999 13:50:34 -0400</i></a>
</ul>
<li> <b>UMAX 1220S not recognized</b>
<ul>
<li> <a href="0060.html">Egg Ham</a> <a name="60"><i>Thu, 10 Jun 1999 16:32:53 -0700 (PDT)</i></a>
</ul>
<ul>
<li> <a href="0037.html">Douglas Gilbert</a> <a name="37"><i>Tue, 08 Jun 1999 00:02:27 -0400</i></a>
</ul>
<ul>
<li> <a href="0036.html">Larry Snyder</a> <a name="36"><i>Mon, 7 Jun 1999 19:28:15 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0035.html">Egg Ham</a> <a name="35"><i>Mon, 7 Jun 1999 10:13:22 -0700 (PDT)</i></a>
</ul>
<li> <b>UMAX and UTA?</b>
<ul>
<li> <a href="0065.html">Oliver Rauch</a> <a name="65"><i>Sat, 12 Jun 1999 08:47:18 +0200</i></a>
</ul>
<ul>
<li> <a href="0064.html">wolfgang Rapp</a> <a name="64"><i>Fri, 11 Jun 1999 21:07:24 +0200</i></a>
</ul>
<ul>
<li> <a href="0063.html">Oliver Rauch</a> <a name="63"><i>Fri, 11 Jun 1999 20:24:55 +0200</i></a>
</ul>
<ul>
<li> <a href="0059.html">wolfgang Rapp</a> <a name="59"><i>Thu, 10 Jun 1999 20:35:09 +0200</i></a>
</ul>
<ul>
<li> <a href="0046.html">Lorenzo M. Catucci</a> <a name="46"><i>Wed, 09 Jun 1999 10:56:19 +0200</i></a>
</ul>
<ul>
<li> <a href="0043.html">Oliver Rauch</a> <a name="43"><i>Tue, 08 Jun 1999 23:24:17 +0200</i></a>
</ul>
<li> <b>UMAX Astra 2400S</b>
<ul>
<li> <a href="0120.html">Oliver Rauch</a> <a name="120"><i>Sun, 20 Jun 1999 21:51:43 +0200</i></a>
</ul>
<ul>
<li> <a href="0082.html">Oliver Rauch</a> <a name="82"><i>Wed, 16 Jun 1999 00:16:08 +0200</i></a>
</ul>
<ul>
<li> <a href="0081.html">Jonathan A. Buzzard</a> <a name="81"><i>Tue, 15 Jun 1999 19:00:28 +0000</i></a>
</ul>
<ul>
<li> <a href="0080.html">Oliver Rauch</a> <a name="80"><i>Tue, 15 Jun 1999 17:40:01 +0200</i></a>
</ul>
<li> <b>UMAX T-30 and Adaptec 2906</b>
<ul>
<li> <a href="0056.html">r_valetti@iol.it</a> <a name="56"><i>Thu, 10 Jun 99 08:16:34 +0000</i></a>
</ul>
<ul>
<li> <a href="0055.html">James H. Cloos Jr.</a> <a name="55"><i>10 Jun 1999 02:39:42 -0500</i></a>
</ul>
<ul>
<li> <a href="0054.html">Eduardo M. A. M. Mendes</a> <a name="54"><i>Wed, 09 Jun 1999 20:04:21 -0300</i></a>
</ul>
<ul>
<li> <a href="0053.html">Oliver Rauch</a> <a name="53"><i>Wed, 09 Jun 1999 23:47:16 +0200</i></a>
</ul>
<ul>
<li> <a href="0052.html">Wim Taymans</a> <a name="52"><i>Wed, 09 Jun 1999 19:55:43 +0200</i></a>
</ul>
<ul>
<li> <a href="0051.html">mendes@mgconecta.com.br</a> <a name="51"><i>Wed, 09 Jun 1999 14:36:05 -0300</i></a>
</ul>
<ul>
<li> <a href="0049.html">Oliver Rauch</a> <a name="49"><i>Wed, 09 Jun 1999 17:55:56 +0200</i></a>
</ul>
<ul>
<li> <a href="0045.html">Eduardo M. A. M. Mendes</a> <a name="45"><i>Tue, 08 Jun 1999 20:37:58 -0300</i></a>
</ul>
<li> <b>UMAX T-630 question</b>
<ul>
<li> <a href="0134.html">Eduardo M. A. M. Mendes</a> <a name="134"><i>Mon, 21 Jun 1999 18:22:37 -0300</i></a>
</ul>
<ul>
<li> <a href="0133.html">Eduardo M. A. M. Mendes</a> <a name="133"><i>Mon, 21 Jun 1999 18:22:37 -0300</i></a>
</ul>
<ul>
<li> <a href="0131.html">Oliver Rauch</a> <a name="131"><i>Mon, 21 Jun 1999 18:48:07 +0200</i></a>
</ul>
<ul>
<li> <a href="0122.html">mendes@mgconecta.com.br</a> <a name="122"><i>Sun, 20 Jun 1999 19:17:58 -0300</i></a>
</ul>
<li> <b>UMAX Vendors</b>
<ul>
<li> <a href="0181.html">Oliver Rauch</a> <a name="181"><i>Fri, 25 Jun 1999 15:50:51 +0200</i></a>
</ul>
<ul>
<li> <a href="0180.html">Jeffrey Thompson</a> <a name="180"><i>Fri, 25 Jun 1999 00:58:31 +0100 (BST)</i></a>
</ul>
<ul>
<li> <a href="0178.html">Oliver Rauch</a> <a name="178"><i>Thu, 24 Jun 1999 20:59:05 +0200</i></a>
</ul>
<ul>
<li> <a href="0170.html">Jeffrey Thompson</a> <a name="170"><i>Wed, 23 Jun 1999 23:05:27 +0100 (BST)</i></a>
</ul>
<li> <b>With a little help from my frineds... :-)</b>
<ul>
<li> <a href="0057.html">Milon Firikis</a> <a name="57"><i>Thu, 10 Jun 1999 12:44:28 +0300</i></a>
</ul>
<ul>
<li> <a href="0040.html">Meino Christian Cramer</a> <a name="40"><i>Tue, 08 Jun 1999 18:31:44 GMT</i></a>
</ul>
<li> <b>X6EL modes under OS/2?</b>
<ul>
<li> <a href="0237.html">Bernd Schroeder</a> <a name="237"><i>Tue, 29 Jun 1999 19:27:09 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0229.html">Yuri Dario</a> <a name="229"><i>Mon, 28 Jun 1999 23:27:41 +0200 (CDT)</i></a>
</ul>
<ul>
<li> <a href="0227.html">joel@cs.rochester.edu</a> <a name="227"><i>Mon, 28 Jun 1999 14:32:34 -0400</i></a>
</ul>
<ul>
<li> <a href="0217.html">Bernd Schroeder</a> <a name="217"><i>Mon, 28 Jun 1999 07:37:56 +0200 (MEST)</i></a>
</ul>
<ul>
<li> <a href="0212.html">joel@cs.rochester.edu</a> <a name="212"><i>Sun, 27 Jun 1999 15:49:00 -0400</i></a>
</ul>
<li> <b>XSANE-0.27 available</b>
<ul>
<li> <a href="0225.html">Oliver Rauch</a> <a name="225"><i>Mon, 28 Jun 1999 17:51:17 +0200</i></a>
</ul>
<li> <b>xsane-26: Options for normal/fine were not saved</b>
<ul>
<li> <a href="0224.html">Oliver Rauch</a> <a name="224"><i>Mon, 28 Jun 1999 17:17:56 +0200</i></a>
</ul>
<ul>
<li> <a href="0222.html">Thomas Ziegler</a> <a name="222"><i>Mon, 28 Jun 1999 16:51:58 +0200</i></a>
</ul>
<li> <b>your mail</b>
<ul>
<li> <a href="0204.html">Ingo Wilken</a> <a name="204"><i>Sun, 27 Jun 1999 14:58:59 +0200 (MET DST)</i></a>
</ul>
</ul>
<p>
<b>Last message date:</b> <i>Wed 30 Jun 1999 - 18:48:10 PDT</i><br>
<b>Archived on:</b> <i>Wed Jun 30 1999 - 18:49:01 PDT</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
