<!-- received="Sun Nov  1 16:16:18 1998 PST" -->
<!-- sent="Sun, 01 Nov 1998 20:04:54 -0500" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: problem getting linux to recognize SCSI host adapter" -->
<!-- id="199811020104.UAA08574@nigel.redhat.com" -->
<!-- inreplyto="problem getting linux to recognize SCSI host adapter" -->
<title>sane-devel: Re: problem getting linux to recognize SCSI host adapter</title>
<h1>Re: problem getting linux to recognize SCSI host adapter</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Sun, 01 Nov 1998 20:04:54 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#1">[ date ]</a><a href="index.html#1">[ thread ]</a><a href="subject.html#1">[ subject ]</a><a href="author.html#1">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">Michelle McKenzie: "Scanner"</a>
<li> <b>Previous message:</b> <a href="0000.html">Stefan Mashkevich: "ScanMaker V600 under Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch writes:<br>
<i>&gt;Hi Mike,</i><br>
<i>&gt;as far as I know the UDS11 is not supported - liked described in them</i><br>
<i>&gt;umax-manual!</i><br>
<p>
I think that Alan Cox got the driver for them working in some Linux 2.1.x<br>
kernel; so it might be worth a shot with the latest development kernel.<br>
<p>
One thing, though, is that the boards are shipped with no way of<br>
generating an interrupt; it's not hard to solder in a block of<br>
interrupt jumpers; at least it wasn't difficult on mine, but I<br>
did it a long time ago long before the driver worked and I have<br>
long since bought a real scsi controller.<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">Michelle McKenzie: "Scanner"</a>
<li> <b>Previous message:</b> <a href="0000.html">Stefan Mashkevich: "ScanMaker V600 under Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
