<!-- received="Mon Nov  2 19:34:09 1998 PST" -->
<!-- sent="Mon, 02 Nov 1998 22:26:59 -0500" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: problem getting linux to recognize SCSI host adapter" -->
<!-- id="199811030327.WAA26886@tristan.devel.redhat.com" -->
<!-- inreplyto="problem getting linux to recognize SCSI host adapter" -->
<title>sane-devel: Re: problem getting linux to recognize SCSI host adapter</title>
<h1>Re: problem getting linux to recognize SCSI host adapter</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Mon, 02 Nov 1998 22:26:59 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#21">[ date ]</a><a href="index.html#21">[ thread ]</a><a href="subject.html#21">[ subject ]</a><a href="author.html#21">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0022.html">Chris Pinkham: "Re: Blackwidow 4800SP is really..."</a>
<li> <b>Previous message:</b> <a href="0020.html">becka@rz.uni-duesseldorf.de: "Re: Sym53c416 driver problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch writes:<br>
<i>&gt;if I have the time I will take a look at it. But I fear that it will make a lot</i><br>
<i>&gt;of trouble</i><br>
<i>&gt;if this card is supported!</i><br>
<p>
You have a point; it's a dog of a card.  On the other hand, it can't<br>
reduce scanner performance very much because the chip in the scanner,<br>
at least the one in mine (and I don't think they change much from<br>
year to year) is a 5380, which is the same as the functional core<br>
of the UDS-11.  :-)<br>
<p>
I do not know if the card is supported by Alan's improved driver<br>
without interrupts; certainly without interrupts it will not work<br>
very well under Linux.  I imagine that if we say "this card is not<br>
very well supported; you have to solder interrupt pins on it in<br>
order to make it work correctly", very few people will try to<br>
use it...<br>
<p>
michaelkjohnson<br>
<p>
"Magazines all too frequently lead to books and should be regarded by the<br>
 prudent as the heavy petting of literature."            -- Fran Lebowitz<br>
 Linux Application Development       <a href="http://www.redhat.com/~johnsonm/lad/">http://www.redhat.com/~johnsonm/lad/</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0022.html">Chris Pinkham: "Re: Blackwidow 4800SP is really..."</a>
<li> <b>Previous message:</b> <a href="0020.html">becka@rz.uni-duesseldorf.de: "Re: Sym53c416 driver problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
