<!-- received="Tue Nov  3 18:32:58 1998 PST" -->
<!-- sent="Tue, 3 Nov 1998 16:31:55 -1000" -->
<!-- name="Scott J. Kramer" -->
<!-- email="sjk@lux.com" -->
<!-- subject="Re: pre-release available for testing" -->
<!-- id="981103163156.ZM5668@lux.com" -->
<!-- inreplyto=";"&lt;Ge1j"@Oaz{`~Zt8&lt;w#eq_BY_Jp^{|y'*w?XO6-iCTe=H" -->
<title>sane-devel: Re: pre-release available for testing</title>
<h1>Re: pre-release available for testing</h1>
<b>Scott J. Kramer</b> (<a href="mailto:sjk@lux.com"><i>sjk@lux.com</i></a>)<br>
<i>Tue, 3 Nov 1998 16:31:55 -1000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#31">[ date ]</a><a href="index.html#31">[ thread ]</a><a href="subject.html#31">[ subject ]</a><a href="author.html#31">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">David Mosberger-Tang: "Re: accessing saned from TWAIN/Windows???"</a>
<li> <b>Previous message:</b> <a href="0030.html">Andre Couture: "accessing saned from TWAIN/Windows???"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 3-Nov-1998 @ 23:51, Martin Huber wrote:<br>
<i>&gt; Subject: Re: pre-release available for testing</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; From: "Scott J. Kramer" &lt;<a href="mailto:sjk@lux.com">sjk@lux.com</a>&gt;</i><br>
<i>&gt; &gt; Date: Fri, 30 Oct 1998 23:10:07 -1000</i><br>
<i>&gt; &gt; .......</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; On Fri, 30-Oct-1998 @ 23:42, David Mosberger-Tang wrote:</i><br>
<i>&gt; &gt; &gt; Subject: pre-release available for testing</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; [...]</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Hi David,</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Just grabbed sane-pre0.75.tar.gz and diff'd it with sane-0.74, and...</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; I'd like to suggest upgrading to at least version 1.2 of libtool --</i><br>
<i>&gt; &gt; that was what was necessary for me to build sane-0.74 for Solaris</i><br>
<i>&gt; &gt; 2.5.1 (gcc-2.8.1).  Otherwise, the `make' produces core dumps when</i><br>
<i>&gt; &gt; attempting to create executables under frontend/.libs:</i><br>
<p>
[...]<br>
<p>
<i>&gt; I compiled sane-0.74 as well as sane-pre0.75 on Solaris 2.6 sparc</i><br>
<i>&gt; and x86 without any errors.</i><br>
<p>
Ahh, so the printf bug that pre-1.2 libtool tickles when building sane<br>
(and a few other software packages) is fixed in Solaris 2.6.  Good to<br>
know, tho' that still doesn't help those of us stuck at 2.5 for a bit<br>
longer, lacking time to upgrade.  See that unconfigured Ultra-5 in the<br>
other room? :-)<br>
<p>
-sjk<br>
<p>
<pre>
-- 
Scott J. Kramer					LUX Consulting Services
UNIX/Network Systems Consultant			P.O. Box 1487
&lt;<a href="mailto:sjk@lux.com">sjk@lux.com</a>&gt;					Kailua, HI  96734
<p>
PGP Key fingerprint =  BB 84 51 87 41 9C E0 46  B4 54 EA 11 A5 18 34 71
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">David Mosberger-Tang: "Re: accessing saned from TWAIN/Windows???"</a>
<li> <b>Previous message:</b> <a href="0030.html">Andre Couture: "accessing saned from TWAIN/Windows???"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
