<!-- received="Tue Nov  3 21:55:56 1998 PST" -->
<!-- sent="Wed, 4 Nov 1998 01:02:40 -0500 (EST)" -->
<!-- name="Christian Grigis" -->
<!-- email="glove@earthling.net" -->
<!-- subject="Microtek Scanmaker X6/X6EL?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek Scanmaker X6/X6EL?</title>
<h1>Microtek Scanmaker X6/X6EL?</h1>
<b>Christian Grigis</b> (<a href="mailto:glove@earthling.net"><i>glove@earthling.net</i></a>)<br>
<i>Wed, 4 Nov 1998 01:02:40 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Milon Firikis: "pre-release available for testing: Is delay Possible?"</a>
<li> <b>Previous message:</b> <a href="0033.html">David Mosberger-Tang: "Re: pre-release available for testing"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
	Hello all!<br>
<p>
	I just subscribed to this list, as I am going to purchase a<br>
scanner soon and I intend to use it under Linux with SANE, if possible. <br>
<p>
	The scanner I am looking to get now is a MicroTek Scanmaker,<br>
either model X6 or X6EL. Quickly put, are those scanners supported in the<br>
latest version of SANE? By browsing through the discussion list archives,<br>
I read the thread where another person was asking just that, and the<br>
following discussion seemed to hint that support should be close, but I<br>
did not see a definite answer yet. <br>
<p>
	Also, (and if that kind of question is off-topic don't hesitate<br>
to let me know), I was wondering what were other people's experiences in<br>
general with the X6/X6EL, and if they would recommend it.<br>
<p>
	Thanks in advance for any help!<br>
<p>
-Christian<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Milon Firikis: "pre-release available for testing: Is delay Possible?"</a>
<li> <b>Previous message:</b> <a href="0033.html">David Mosberger-Tang: "Re: pre-release available for testing"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
