<!-- received="Wed Nov  4 20:19:57 1998 PST" -->
<!-- sent="Wed, 4 Nov 1998 20:19:56 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: pre-release available for testing: Is delay Possible?" -->
<!-- id="199811050419.UAA14480@panda.mostang.com" -->
<!-- inreplyto="364030CB.123D983D@ariadne-t.gr" -->
<title>sane-devel: Re: pre-release available for testing: Is delay Possible?</title>
<h1>Re: pre-release available for testing: Is delay Possible?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 4 Nov 1998 20:19:56 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#45">[ date ]</a><a href="index.html#45">[ thread ]</a><a href="subject.html#45">[ subject ]</a><a href="author.html#45">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">David Mosberger-Tang: "Re: hporig driver"</a>
<li> <b>Previous message:</b> <a href="0044.html">John Brush: "Microtek E3 and OS/2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0047.html">Ray Curtis: "Re: available for testing: Is delay Possible?"</a>
<li> <b>Reply:</b> <a href="0047.html">Ray Curtis: "Re: available for testing: Is delay Possible?"</a>
<li> <b>Reply:</b> <a href="0048.html">David Mosberger-Tang: "New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<li> <b>Reply:</b> <a href="0061.html">Petter Adsen: "Re: pre-release available for testing: Is delay Possible?"</a>
<li> <b>Reply:</b> <a href="0114.html">Petter Adsen: "Re: pre-release available for testing: Is delay Possible?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 04 Nov 1998 12:47:39 +0200, Milon Firikis &lt;<a href="mailto:milonf@ariadne-t.gr">milonf@ariadne-t.gr</a>&gt; said:</i><br>
<p>
  Milon&gt; I was out of the list due to a misconfiguration, propably of<br>
  Milon&gt; my side.  Now I am back and I have one patch that will enable<br>
  Milon&gt; the apple ColorOneScanner to scan (in some modes). Problem is<br>
  Milon&gt; I have to test this patch against the AppleScanner, I own, in<br>
  Milon&gt; order to check if it breaks anything. Unfortunately due to<br>
  Milon&gt; work load this is not possible before the weekend. Is it OK<br>
  Milon&gt; to post the final backend at monday or the release date is<br>
  Milon&gt; already settled?<br>
<p>
Sure, Monday is fine.  I hope some HP owners will test the new backend<br>
in the pre-release the meantime (hint, hint... ;-)<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">David Mosberger-Tang: "Re: hporig driver"</a>
<li> <b>Previous message:</b> <a href="0044.html">John Brush: "Microtek E3 and OS/2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0047.html">Ray Curtis: "Re: available for testing: Is delay Possible?"</a>
<li> <b>Reply:</b> <a href="0047.html">Ray Curtis: "Re: available for testing: Is delay Possible?"</a>
<li> <b>Reply:</b> <a href="0048.html">David Mosberger-Tang: "New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<li> <b>Reply:</b> <a href="0061.html">Petter Adsen: "Re: pre-release available for testing: Is delay Possible?"</a>
<li> <b>Reply:</b> <a href="0114.html">Petter Adsen: "Re: pre-release available for testing: Is delay Possible?"</a>
<!-- reply="end" -->
</ul>
