<!-- received="Fri Nov  6 15:30:25 1998 PST" -->
<!-- sent="Sat, 7 Nov 1998 00:28:07 +0100 (MET)" -->
<!-- name="Martin Huber" -->
<!-- email="hu@garfield.m.isar.de" -->
<!-- subject="Re: New pretest available [was: Re: available for testing: Is delay Possible?]" -->
<!-- id="199811062328.AAA22541@garfield.m.isar.de" -->
<!-- inreplyto="New pretest available [was: Re: available for testing: Is delay Possible?]" -->
<title>sane-devel: Re: New pretest available [was: Re: available for testing: Is delay Possible?]</title>
<h1>Re: New pretest available [was: Re: available for testing: Is delay Possible?]</h1>
<b>Martin Huber</b> (<a href="mailto:hu@garfield.m.isar.de"><i>hu@garfield.m.isar.de</i></a>)<br>
<i>Sat, 7 Nov 1998 00:28:07 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#57">[ date ]</a><a href="index.html#57">[ thread ]</a><a href="subject.html#57">[ subject ]</a><a href="author.html#57">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Pkirchg@aol.com: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<li> <b>Previous message:</b> <a href="0056.html">Neil Zampella: "Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<li> <b>Maybe in reply to:</b> <a href="0048.html">David Mosberger-Tang: "New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0058.html">Pkirchg@aol.com: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Yesterday I posted the following:<br>
<i>&gt; </i><br>
<i>&gt; -- HP C6270A 3824 (Scanjet ADF)</i><br>
<i>&gt;    works mostly. The automatic sheet feeder takes one sheet of paper</i><br>
<i>&gt;    every time the scan button is pressed, if paper is loaded in it.</i><br>
<i>&gt;    However, it is not foolproof: sometimes it crashes, and than it is</i><br>
<i>&gt;    spoiled. It refuses to do anything useful, even if I remove all files</i><br>
<i>&gt;    in .sane and .sane/xscanimage. I will send detailed information to</i><br>
<i>&gt;    Peter Kirchgessner.</i><br>
<i>&gt;    </i><br>
<i>&gt;    --martin</i><br>
<i>&gt;   </i><br>
  --martin<br>
<i>&gt;   </i><br>
Meanwhile I found out, how to crash and how to cure it:<br>
<p>
xscanimage crashes, if the "Scan" button is pressed, after a scan is<br>
completed, but before the gimp has drawn the picture completely and (or?)<br>
the ADF has stopped.<br>
Then, regardless how often you restart xscanimage, it has the value 0.0<br>
in both the "Top left" and the "Bottom right" corner of the scan area,<br>
which cannot be changed until all papers are taken out of the sheet<br>
feeder. After this everything is normal again.<br>
<p>
Well, if I know this, I can live with it.<br>
<p>
 --martin<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0058.html">Pkirchg@aol.com: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<li> <b>Previous message:</b> <a href="0056.html">Neil Zampella: "Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<li> <b>Maybe in reply to:</b> <a href="0048.html">David Mosberger-Tang: "New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0058.html">Pkirchg@aol.com: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- reply="end" -->
</ul>
