<!-- received="Sun Nov  8 13:04:20 1998 PST" -->
<!-- sent="Sun, 08 Nov 1998 11:18:06 +0100" -->
<!-- name="P. Kirchgessner" -->
<!-- email="pkirchgessner@t-online.de" -->
<!-- subject="Problem with Makefile on recompile" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Problem with Makefile on recompile</title>
<h1>Problem with Makefile on recompile</h1>
<b>P. Kirchgessner</b> (<a href="mailto:pkirchgessner@t-online.de"><i>pkirchgessner@t-online.de</i></a>)<br>
<i>Sun, 08 Nov 1998 11:18:06 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">P. Kirchgessner: "Re: automatic document feeder"</a>
<li> <b>Previous message:</b> <a href="0062.html">Bob: "Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
after changing source code in hp-option.c, the makefile I start at<br>
sane-pre1.00<br>
does not link xscanimage. In the frontend-directory it says "Nothing to<br>
be done for all"<br>
I have to remove all hp*o-files and recompile.  But I cant find the<br>
problem in the Makefiles.<br>
Configure has been called with  --enable-debug --disable-shared.<br>
I use Linux V 2.0.35, GNU make V 3.76.1, GNU C V 2.7.2.3<br>
<p>
Peter Kirchgessner<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">P. Kirchgessner: "Re: automatic document feeder"</a>
<li> <b>Previous message:</b> <a href="0062.html">Bob: "Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
