<!-- received="Mon Nov  9 13:03:47 1998 PST" -->
<!-- sent="Mon, 09 Nov 1998 14:02:48 -0700" -->
<!-- name="Kris Kadela" -->
<!-- email="digigraph@v-wave.com" -->
<!-- subject="sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$</title>
<h1>sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$</h1>
<b>Kris Kadela</b> (<a href="mailto:digigraph@v-wave.com"><i>digigraph@v-wave.com</i></a>)<br>
<i>Mon, 09 Nov 1998 14:02:48 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#69">[ date ]</a><a href="index.html#69">[ thread ]</a><a href="subject.html#69">[ subject ]</a><a href="author.html#69">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Bernd Schroeder: "Re: Blackwidow 4800SP is really..."</a>
<li> <b>Previous message:</b> <a href="0068.html">John Brush: "Microtek and high res"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0092.html">Yuri Dario: "Re: sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$"</a>
<li> <b>Reply:</b> <a href="0092.html">Yuri Dario: "Re: sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I get a trap e every time the scanner is just <br>
about ready to start scanning.<br>
<p>
Mustek MFS-6000CX<br>
NCR 8xx SCSI<br>
<p>
Ideas?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Bernd Schroeder: "Re: Blackwidow 4800SP is really..."</a>
<li> <b>Previous message:</b> <a href="0068.html">John Brush: "Microtek and high res"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0092.html">Yuri Dario: "Re: sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$"</a>
<li> <b>Reply:</b> <a href="0092.html">Yuri Dario: "Re: sane 0.72/0.74, OS/2 - Trap E in SCSIMGR$"</a>
<!-- reply="end" -->
</ul>
