<!-- received="Mon Nov  9 21:23:17 1998 PST" -->
<!-- sent="Mon, 9 Nov 1998 21:23:15 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: New pretest available [was: Re: available for testing: Is delay Possible?]" -->
<!-- id="199811100523.VAA01375@panda.mostang.com" -->
<!-- inreplyto="199811060006.BAA20509@garfield.m.isar.de" -->
<title>sane-devel: Re: New pretest available [was: Re: available for testing: Is delay Possible?]</title>
<h1>Re: New pretest available [was: Re: available for testing: Is delay Possible?]</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 9 Nov 1998 21:23:15 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#77">[ date ]</a><a href="index.html#77">[ thread ]</a><a href="subject.html#77">[ subject ]</a><a href="author.html#77">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">David Mosberger-Tang: "Re: gimp plugin finding no scanner"</a>
<li> <b>Previous message:</b> <a href="0076.html">The Nichols: "Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>In reply to:</b> <a href="0054.html">Martin Huber: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0057.html">Martin Huber: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 6 Nov 1998 01:06:35 +0100 (MET), Martin Huber &lt;<a href="mailto:hu@garfield.m.isar.de">hu@garfield.m.isar.de</a>&gt; said:</i><br>
<p>
  Martin&gt; -- HP C6270A 3824 (Scanjet VI) works mostly. The automatic<br>
  Martin&gt; sheet feeder takes one sheet of paper every time the scan<br>
  Martin&gt; button is pressed, if paper is loaded in it.  However, it is<br>
  Martin&gt; not foolproof: sometimes it crashes, and than it is<br>
  Martin&gt; spoiled. It refuses to do anything useful, even if I remove<br>
  Martin&gt; all files in .sane and .sane/xscanimage. I will send<br>
  Martin&gt; detailed information to Peter Kirchgessner.<br>
<p>
But the new backend still works better than the old one, right?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0078.html">David Mosberger-Tang: "Re: gimp plugin finding no scanner"</a>
<li> <b>Previous message:</b> <a href="0076.html">The Nichols: "Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>In reply to:</b> <a href="0054.html">Martin Huber: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0057.html">Martin Huber: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<!-- reply="end" -->
</ul>
