<!-- received="Mon Nov  9 23:15:06 1998 PST" -->
<!-- sent="Tue, 10 Nov 1998 02:13:57 +0000" -->
<!-- name="Andre Couture" -->
<!-- email="acouture@videotron.ca" -->
<!-- subject="Re: Scanner" -->
<!-- id="" -->
<!-- inreplyto="Scanner" -->
<title>sane-devel: Re: Scanner</title>
<h1>Re: Scanner</h1>
<b>Andre Couture</b> (<a href="mailto:acouture@videotron.ca"><i>acouture@videotron.ca</i></a>)<br>
<i>Tue, 10 Nov 1998 02:13:57 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#79">[ date ]</a><a href="index.html#79">[ thread ]</a><a href="subject.html#79">[ subject ]</a><a href="author.html#79">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Stefan Illy: "Output filters for xscanimage: a simple attempt"</a>
<li> <b>Previous message:</b> <a href="0078.html">David Mosberger-Tang: "Re: gimp plugin finding no scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0062.html">Bob: "Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a cryptographically signed message in MIME format.<br>
<p>
--------------msDDC3DDAD6F1356C160AFB9C0<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
look at msgs;<br>
<p>
         Re: Blackwidow 4800SP is really...    from Chris<br>
and Re: Blackwidow 4800SP is really...      from Bernrd<br>
<p>
they are working on it!<br>
<p>
<p>
/Andre<br>
Bob wrote:<br>
<p>
<i>&gt; I have a blackwidow flatbed scanner bought some years ago.  Is there</i><br>
<i>&gt; support in Linux for it.</i><br>
<i>&gt;</i><br>
<i>&gt; Thanks.</i><br>
<i>&gt;</i><br>
<i>&gt; From,</i><br>
<i>&gt; Bob</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
<p>
  ------------------------------------------------------------------------
Andre Couture
938934 Ontario Inc.
<a href="mailto:acouture@videotron.ca">mailto:acouture@videotron.ca</a>
<p>
<a href="mailto:search_n_find@yahoo.com">mailto:search_n_find@yahoo.com</a>
<p>
<p>
<p>
--------------msDDC3DDAD6F1356C160AFB9C0
Content-Type: application/x-pkcs7-signature; name="smime.p7s"
Content-Transfer-Encoding: base64
Content-Disposition: attachment; filename="smime.p7s"
Content-Description: S/MIME Cryptographic Signature
<p>
MIIH2wYJKoZIhvcNAQcCoIIHzDCCB8gCAQExCzAJBgUrDgMCGgUAMAsGCSqGSIb3DQEHAaCC
BckwggKIMIIB8aADAgECAgJIrjANBgkqhkiG9w0BAQQFADCBuTELMAkGA1UEBhMCWkExFTAT
BgNVBAgTDFdlc3Rlcm4gQ2FwZTEUMBIGA1UEBxMLRHVyYmFudmlsbGUxGjAYBgNVBAoTEVRo
YXd0ZSBDb25zdWx0aW5nMSkwJwYDVQQLEyBUaGF3dGUgUEYgUlNBIElLIDE5OTguOS4xNiAx
Nzo1NTE2MDQGA1UEAxMtVGhhd3RlIFBlcnNvbmFsIEZyZWVtYWlsIFJTQSBJc3N1ZXIgMTk5
OC45LjE2MB4XDTk4MTEwMjIxMDYzOVoXDTk5MTEwMjIxMDYzOVowRzEfMB0GA1UEAxMWVGhh
d3RlIEZyZWVtYWlsIE1lbWJlcjEkMCIGCSqGSIb3DQEJARYVYWNvdXR1cmVAdmlkZW90cm9u
LmNhMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAML+WWglMinfV5KV+H35kLU1n5ii+a3SpoXv
SrZYseO+sO2Rw8fIzfkkK92M1aEFnmeysAwXUdt859PJ22HY+p0CAwEAAaNUMFIwEQYJYIZI
AYb4QgEBBAQDAgWgMA4GA1UdDwEB/wQEAwIFoDAMBgNVHRMBAf8EAjAAMB8GA1UdIwQYMBaA
FP4+YJxrjA+w2DPGysYeWLBxOLXgMA0GCSqGSIb3DQEBBAUAA4GBAB/NOz76V/uoF57hnjKA
4aTW/xg3ebSGl4L4Pu60Zmlwuwea/NCR4CcLSfkIwAd6zNuy8gwkvniQX0ai8qMqO9cqHfK1
tdjWUFXo0jk+O/1GMnBElJ0TyK51aV/dBNUe0ZI73yzd4y8CNPYRFcebrrHzMIN8kCLyRJ3Q
UIWortqEMIIDOTCCAqKgAwIBAgIBCjANBgkqhkiG9w0BAQQFADCB0TELMAkGA1UEBhMCWkEx
FTATBgNVBAgTDFdlc3Rlcm4gQ2FwZTESMBAGA1UEBxMJQ2FwZSBUb3duMRowGAYDVQQKExFU
aGF3dGUgQ29uc3VsdGluZzEoMCYGA1UECxMfQ2VydGlmaWNhdGlvbiBTZXJ2aWNlcyBEaXZp
c2lvbjEkMCIGA1UEAxMbVGhhd3RlIFBlcnNvbmFsIEZyZWVtYWlsIENBMSswKQYJKoZIhvcN
AQkBFhxwZXJzb25hbC1mcmVlbWFpbEB0aGF3dGUuY29tMB4XDTk4MDkxNjE3NTUzNFoXDTAw
MDkxNTE3NTUzNFowgbkxCzAJBgNVBAYTAlpBMRUwEwYDVQQIEwxXZXN0ZXJuIENhcGUxFDAS
BgNVBAcTC0R1cmJhbnZpbGxlMRowGAYDVQQKExFUaGF3dGUgQ29uc3VsdGluZzEpMCcGA1UE
CxMgVGhhd3RlIFBGIFJTQSBJSyAxOTk4LjkuMTYgMTc6NTUxNjA0BgNVBAMTLVRoYXd0ZSBQ
ZXJzb25hbCBGcmVlbWFpbCBSU0EgSXNzdWVyIDE5OTguOS4xNjCBnzANBgkqhkiG9w0BAQEF
AAOBjQAwgYkCgYEAxKXl1NTQXwgC7gchfSS/q2uOHusgBwIVhGuP0JMkHxud7miyuSxP6ZNn
FxAXHqH5Q0EjuTCqdpe78+f9gcC1MYv2plAmVPKVKOsZpB6XHrDiuJvBBJoy0DwJbE/kNU/w
dr8AEwNPRQhg8/y00JABihLJnLp/UuoqkzU2PDzkNS8CAwEAAaM3MDUwEgYDVR0TAQH/BAgw
BgEB/wIBADAfBgNVHSMEGDAWgBRyScJzNMZV9At2coF+d/SH58ayDjANBgkqhkiG9w0BAQQF
AAOBgQAsx4IfAUM+B4/uaVypZIL4wJatkyvLm1DXQJqBwrqmdp08lUDcVcHhVYJ5qwopptUM
4VcoPo/5u9XfDZNYqlsti48z5N1YFTV2chUpvUL0WpILd1+dJ9uaLU4bggaO0o1Wu5Xe2wxl
Bd6VngLdUxe+vvxrwxoiehQrYb3Cn156WjGCAdowggHWAgEBMIHAMIG5MQswCQYDVQQGEwJa
QTEVMBMGA1UECBMMV2VzdGVybiBDYXBlMRQwEgYDVQQHEwtEdXJiYW52aWxsZTEaMBgGA1UE
ChMRVGhhd3RlIENvbnN1bHRpbmcxKTAnBgNVBAsTIFRoYXd0ZSBQRiBSU0EgSUsgMTk5OC45
LjE2IDE3OjU1MTYwNAYDVQQDEy1UaGF3dGUgUGVyc29uYWwgRnJlZW1haWwgUlNBIElzc3Vl
ciAxOTk4LjkuMTYCAkiuMAkGBSsOAwIaBQCggbEwGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEH
ATAcBgkqhkiG9w0BCQUxDxcNOTgxMTEwMDIxNDAxWjAjBgkqhkiG9w0BCQQxFgQUlu160WzP
LagyQbqJ0jjHGenmH0kwUgYJKoZIhvcNAQkPMUUwQzAKBggqhkiG9w0DBzAOBggqhkiG9w0D
AgICAIAwBwYFKw4DAgcwDQYIKoZIhvcNAwICAUAwDQYIKoZIhvcNAwICASgwDQYJKoZIhvcN
AQEBBQAEQEu3fvJo6KNvOSwobzPDpr/ed1KZoJDiU16A5k9qPgmPJZnvq05QVHKtEV99LT0b
syIy4vDbzOzydyIU9xS0Bn0=
--------------msDDC3DDAD6F1356C160AFB9C0--
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Stefan Illy: "Output filters for xscanimage: a simple attempt"</a>
<li> <b>Previous message:</b> <a href="0078.html">David Mosberger-Tang: "Re: gimp plugin finding no scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0062.html">Bob: "Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
