<!-- received="Wed Nov 11 02:21:10 1998 PST" -->
<!-- sent="Wed, 11 Nov 1998 11:20:08 +0100 (MET)" -->
<!-- name="Magnus Hacker" -->
<!-- email="d2hacker@dtek.chalmers.se" -->
<!-- subject="Parallell port scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Parallell port scanners</title>
<h1>Parallell port scanners</h1>
<b>Magnus Hacker</b> (<a href="mailto:d2hacker@dtek.chalmers.se"><i>d2hacker@dtek.chalmers.se</i></a>)<br>
<i>Wed, 11 Nov 1998 11:20:08 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#105">[ date ]</a><a href="index.html#105">[ thread ]</a><a href="subject.html#105">[ subject ]</a><a href="author.html#105">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Jon Knight: "Re: Parallell port scanners"</a>
<li> <b>Previous message:</b> <a href="0104.html">Jon Knight: "Re: Mustek 1200 III EP?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all.<br>
I browsed through the list archives on mostang.com and noticed<br>
that the question about parallell port scanners has been brought<br>
up once or twice before, but I couldn't find out whether a<br>
solution was found or not.<br>
<p>
What's the status on this? I have a HP5100C and I am very pleased<br>
with it, only I don't want to reboot to win98 just to use my scanner.<br>
<p>
Is there anybody else out there with this scanner? I guess people with<br>
USB scanners (HP4100 and 6100 come to mind) have a similar problem.<br>
<p>
Should I just return my 5100C and get a SCSI scanner instead? Can<br>
anyone recommend a model with the same or better performance in the<br>
same price range?<br>
<p>
TIA<br>
<p>
+----------------------------+--------------------------------------------+<br>
<i>| Magnus Hacker              |     I used to believe in reincarnation,    |</i><br>
<i>| <a href="mailto:d2hacker@dtek.chalmers.se">d2hacker@dtek.chalmers.se</a>  |   but that was long ago, in another life.  |</i><br>
+----------------------------+--------------------------------------------+<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Jon Knight: "Re: Parallell port scanners"</a>
<li> <b>Previous message:</b> <a href="0104.html">Jon Knight: "Re: Mustek 1200 III EP?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
