<!-- received="Wed Nov 18 21:11:23 1998 PST" -->
<!-- sent="Mon, 16 Nov 1998 16:42:40 -0500" -->
<!-- name="Ben Jones" -->
<!-- email="bj1@compuserve.com" -->
<!-- subject="Any hope for Mustek A3 EP (not SCSI)?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Any hope for Mustek A3 EP (not SCSI)?</title>
<h1>Any hope for Mustek A3 EP (not SCSI)?</h1>
<b>Ben Jones</b> (<a href="mailto:bj1@compuserve.com"><i>bj1@compuserve.com</i></a>)<br>
<i>Mon, 16 Nov 1998 16:42:40 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#154">[ date ]</a><a href="index.html#154">[ thread ]</a><a href="subject.html#154">[ subject ]</a><a href="author.html#154">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">LE ROUX GILDAS: "pb scanner"</a>
<li> <b>Previous message:</b> <a href="0153.html">Greg McGee: "Microtek scanner V600"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Having just bought a Mustek A3 parallel port scanner (for UKP 130, instead<br>
of most A3 scanners at UKP 1-2000!) I find that it only has Win95/Win32<br>
drivers so doesn't work with OS/2 ...<br>
<p>
So no surprise there. ;-)<br>
<p>
I was however hoping that SANE, CFM Twain or Solution Technologies might<br>
provide a solution. It seems none does at present, but SANE comes closest<br>
with a couple of parallel port devices, even one by Mustek (although a<br>
slightly different beast). I tried Yuri Dario's OS/2 port, but it didn't<br>
work.<br>
<p>
So my question ... Is there any chance of any development on a Mustek A3 EP<br>
backend (specific or general), and if so is there any way I can help? I'm<br>
no programmer, but I'm more than happy to test stuff and report the<br>
results! (FWIW I also have access to a Primax 4800 parallel port scanner,<br>
in case someone's working on a driver for that too.)<br>
<p>
I look forward to your answer -- but I'll be quite satisfied with a<br>
single-line "Very unlikely to happen within the next year!" etc. as I'm<br>
sure you're busy.<br>
<p>
Ben Jones<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">LE ROUX GILDAS: "pb scanner"</a>
<li> <b>Previous message:</b> <a href="0153.html">Greg McGee: "Microtek scanner V600"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
