<!-- received="Wed Nov 18 22:03:56 1998 PST" -->
<!-- sent="Wed, 18 Nov 1998 22:02:14 -0800" -->
<!-- name="David Rose" -->
<!-- email="drose@wdi.disney.com" -->
<!-- subject="News from Minolta" -->
<!-- id="199811190602.WAA14390@not.rd.wdi.disney.com" -->
<!-- inreplyto="" -->
<title>sane-devel: News from Minolta</title>
<h1>News from Minolta</h1>
<b>David Rose</b> (<a href="mailto:drose@wdi.disney.com"><i>drose@wdi.disney.com</i></a>)<br>
<i>Wed, 18 Nov 1998 22:02:14 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#157">[ date ]</a><a href="index.html#157">[ thread ]</a><a href="subject.html#157">[ subject ]</a><a href="author.html#157">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Mathias Koerber: "Re: News from Minolta"</a>
<li> <b>Previous message:</b> <a href="0156.html">David Mosberger-Tang: "Re: [ANNOUNCE] New backend for Abaton scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0158.html">Mathias Koerber: "Re: News from Minolta"</a>
<li> <b>Reply:</b> <a href="0158.html">Mathias Koerber: "Re: News from Minolta"</a>
<li> <b>Reply:</b> <a href="0160.html">Rodger Donaldson: "Re: News from Minolta"</a>
<li> <b>Reply:</b> <a href="0163.html">Andreas Schrell: "Re: News from Minolta"</a>
<li> <b>Reply:</b> <a href="0164.html">Michael K. Johnson: "Re: News from Minolta"</a>
<li> <b>Reply:</b> <a href="0180.html">Dieter Lange: "Re: News from Minolta"</a>
<li> <b>Reply:</b> <a href="0185.html">David Rose: "News from Minolta"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Good news from Minolta!  They are interested in facilitating a Linux<br>
port of their hardware.  I met with some representatives from Minolta<br>
today at Comdex, and they are definitely willing to work with me to<br>
get the QuickScan 35 going under Linux.  Although we didn't talk about<br>
other scanners or cameras, surely they will soon follow if the<br>
QuickScan port goes well.<br>
<p>
They have some concerns, though.  They are reluctant to release the<br>
SCSI protocol, primarily because of potential liability concerns.  As<br>
I understand it, they are worried that if someone writes a poor driver<br>
for their hardware, it could easily damage the scanner, or much more<br>
seriously, might conceivably start a fire and lead to other personal<br>
or property damage.  Minolta is concerned, rightly or wrongly, that<br>
they might be held liable for such damage caused by their hardware, no<br>
matter who wrote the driver.  And in today's world, who can argue.<br>
<p>
But they are intrigued because they know that other, competing<br>
companies (for instance, Nikon) have released sufficient documentation<br>
to facilitate writing a SANE driver for their equipment.  They would<br>
like to know the nature of the agreement(s), if any, these companies<br>
entered into before releasing said information--this might encourage<br>
them to emulate those companies.<br>
<p>
What can anyone tell me about this?  People who have worked with<br>
other scanner and camera companies, what experiences have you had?<br>
<p>
Many thanks!<br>
David<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Mathias Koerber: "Re: News from Minolta"</a>
<li> <b>Previous message:</b> <a href="0156.html">David Mosberger-Tang: "Re: [ANNOUNCE] New backend for Abaton scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0158.html">Mathias Koerber: "Re: News from Minolta"</a>
<li> <b>Reply:</b> <a href="0158.html">Mathias Koerber: "Re: News from Minolta"</a>
<li> <b>Reply:</b> <a href="0160.html">Rodger Donaldson: "Re: News from Minolta"</a>
<li> <b>Reply:</b> <a href="0163.html">Andreas Schrell: "Re: News from Minolta"</a>
<li> <b>Reply:</b> <a href="0164.html">Michael K. Johnson: "Re: News from Minolta"</a>
<li> <b>Reply:</b> <a href="0180.html">Dieter Lange: "Re: News from Minolta"</a>
<li> <b>Reply:</b> <a href="0185.html">David Rose: "News from Minolta"</a>
<!-- reply="end" -->
</ul>
