<!-- received="Sun Nov 22 07:01:10 1998 PST" -->
<!-- sent="Sun, 22 Nov 1998 14:32:45 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: forwarded message from Richard Stallman" -->
<!-- id="m0zhZd7-000CIOC@hades.beck-sw.de" -->
<!-- inreplyto="199811220057.QAA24303@panda.mostang.com" -->
<title>sane-devel: Re: forwarded message from Richard Stallman</title>
<h1>Re: forwarded message from Richard Stallman</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Sun, 22 Nov 1998 14:32:45 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#198">[ date ]</a><a href="index.html#198">[ thread ]</a><a href="subject.html#198">[ subject ]</a><a href="author.html#198">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Christian Ordig: "The Primax Scanner Driver Project for Linux/UN*X homepage started"</a>
<li> <b>Previous message:</b> <a href="0197.html">Georg Huettenegger: "compiling problem with egcs-1.03a"</a>
<li> <b>In reply to:</b> <a href="0191.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0202.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Next in thread:</b> <a href="0189.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Reply:</b> <a href="0202.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt;   Andy&gt; GNU licensing is a good thing. It keeps things free. But</i><br>
<i>&gt;   Andy&gt; enforcing it is not good. We would be closing out some</i><br>
<i>&gt;   Andy&gt; possible customers as well as programmers.</i><br>
<p>
<i>&gt; Note that the licensing issue is independent of whether SANE is a GNU</i><br>
<i>&gt; program or not.  I'm sure FSF has no problem with the API being public</i><br>
<i>&gt; domain and the "relaxed GPL" is something that the FSF itself proposed</i><br>
<i>&gt; to facilitate building commercial programs with GNU libraries.</i><br>
<p>
Oh - then I assume its legal.<br>
<p>
<i>&gt;   Andy&gt; IMHO making the license LGPL should be safer ...</i><br>
<p>
<i>&gt; Have you _read_ the LGPL?  It's much more restrictive than the relaxed</i><br>
<i>&gt; GPL.  IIRC, it doesn't permit static linking.  This is the reason the</i><br>
<i>&gt; relaxed GPL was invented.</i><br>
<p>
Yes. Far too often. LGPL isn't good either. If the relaxed GPL is legal, <br>
what seems to be the case, it is of course _much_ better than LGPL.<br>
I was just afraid it might be invalid.<br>
<p>
In another project (guess which), we got so tired of all that strange<br>
restrictions (L)GPL imposed and the reservations some groups (BSD people<br>
especially) had against it, that we entierely switched to MIT style, with<br>
the explicit comment, that you may relicense it to (L)GPL as you like.<br>
<p>
CU, Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Christian Ordig: "The Primax Scanner Driver Project for Linux/UN*X homepage started"</a>
<li> <b>Previous message:</b> <a href="0197.html">Georg Huettenegger: "compiling problem with egcs-1.03a"</a>
<li> <b>In reply to:</b> <a href="0191.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0202.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Next in thread:</b> <a href="0189.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Reply:</b> <a href="0202.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<!-- reply="end" -->
</ul>
