<!-- received="Wed Nov 25 02:07:04 1998 PST" -->
<!-- sent="Wed, 25 Nov 1998 11:05:13 +0100 (MET)" -->
<!-- name="Hendryk Pfeiffer" -->
<!-- email="pfeiffer@physik.rwth-aachen.de" -->
<!-- subject="problem with HP C6270A (Scanjet ADF) using the ADF" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: problem with HP C6270A (Scanjet ADF) using the ADF</title>
<h1>problem with HP C6270A (Scanjet ADF) using the ADF</h1>
<b>Hendryk Pfeiffer</b> (<a href="mailto:pfeiffer@physik.rwth-aachen.de"><i>pfeiffer@physik.rwth-aachen.de</i></a>)<br>
<i>Wed, 25 Nov 1998 11:05:13 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#246">[ date ]</a><a href="index.html#246">[ thread ]</a><a href="subject.html#246">[ subject ]</a><a href="author.html#246">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0247.html">Dr. Andreas Bolsch: "Re: Mustek 12000 SP not working"</a>
<li> <b>Previous message:</b> <a href="0245.html">Bernd Schroeder: "Re: microtek 330"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I have got a HP C6270A (Scanjet ADF) and sane 0.74 with Linux. <br>
<p>
If I put the sheet on the glass, "scanimage -d hp:/dev/scanner ..." works<br>
well and produces the desired image.<br>
<p>
If I put the sheet into the document feeder and call "scanimage":<br>
1) The feeder takes the sheet<br>
2) It waits a few seconds and the sound indicates that the carriage starts<br>
   to move, but the sheet remains fixed<br>
3) The feeder outputs the sheet<br>
<p>
But the resulting image has a height of only 1 pixel! I can use the<br>
option "-x &lt;width&gt;mm" which determines the width of the resulting image,<br>
but "-y &lt;height&gt;mm" yields this error:<br>
<p>
  setting of option --br-y failed (invalid argument)<br>
<p>
What is wrong? How can I decide whether this is a hardware problem or<br>
whether I made a mistake or misconfiguration? Any solution?<br>
<p>
Thanks in advance for your help<br>
<p>
<p>
Hendryk Pfeiffer<br>
<a href="mailto:pfeiffer@physik.rwth-aachen.de">pfeiffer@physik.rwth-aachen.de</a><br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0247.html">Dr. Andreas Bolsch: "Re: Mustek 12000 SP not working"</a>
<li> <b>Previous message:</b> <a href="0245.html">Bernd Schroeder: "Re: microtek 330"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
