<!-- received="Thu Nov 26 12:27:01 1998 PST" -->
<!-- sent="Thu, 26 Nov 1998 12:26:58 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Fw: ViewStation AT3/A6000C Plus Reference Document" -->
<!-- id="199811262026.MAA03641@panda.mostang.com" -->
<!-- inreplyto="016d01be17de$e9bb5720$2d01a8c0@holodeck.starbase1.net" -->
<title>sane-devel: Re: Fw: ViewStation AT3/A6000C Plus Reference Document</title>
<h1>Re: Fw: ViewStation AT3/A6000C Plus Reference Document</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 26 Nov 1998 12:26:58 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#259">[ date ]</a><a href="index.html#259">[ thread ]</a><a href="subject.html#259">[ subject ]</a><a href="author.html#259">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0260.html">Andre Couture: "Re: Fw: ViewStation AT3/A6000C Plus Reference Document"</a>
<li> <b>Previous message:</b> <a href="0258.html">David Mosberger-Tang: "Re: SANE &amp; Digital UNIX 3.2g"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 24 Nov 1998 14:16:17 -0500, "Andre Couture" &lt;<a href="mailto:acouture@videotron.ca">acouture@videotron.ca</a>&gt; said:</i><br>
<p>
  Andre&gt; For those interested I got this document from Artec/Ultima<br>
  Andre&gt; directly.  It contains all specs required for writing drivers<br>
  Andre&gt; for those scanners.<br>
<p>
Please avoid sending large documents on this mailing list.  There are<br>
people who pay by the byte of network traffic.  It's much better to<br>
make such documents available via the web or ftp.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0260.html">Andre Couture: "Re: Fw: ViewStation AT3/A6000C Plus Reference Document"</a>
<li> <b>Previous message:</b> <a href="0258.html">David Mosberger-Tang: "Re: SANE &amp; Digital UNIX 3.2g"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
