<!-- received="Thu Nov 26 20:58:33 1998 PST" -->
<!-- sent="Tue, 24 Nov 1998 16:57:15 -0500" -->
<!-- name="Andre Couture" -->
<!-- email="acouture@videotron.ca" -->
<!-- subject="Re: Fw: ViewStation AT3/A6000C Plus Reference Document" -->
<!-- id="" -->
<!-- inreplyto="Fw: ViewStation AT3/A6000C Plus Reference Document" -->
<title>sane-devel: Re: Fw: ViewStation AT3/A6000C Plus Reference Document</title>
<h1>Re: Fw: ViewStation AT3/A6000C Plus Reference Document</h1>
<b>Andre Couture</b> (<a href="mailto:acouture@videotron.ca"><i>acouture@videotron.ca</i></a>)<br>
<i>Tue, 24 Nov 1998 16:57:15 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#266">[ date ]</a><a href="index.html#266">[ thread ]</a><a href="subject.html#266">[ subject ]</a><a href="author.html#266">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0267.html">root: "Mustek 600 III ep Plus"</a>
<li> <b>Next message:</b> <a href="0267.html">Alex Crow: "Any chance of Visioneer PaperPort 3000/6000 support?"</a>
<li> <b>Previous message:</b> <a href="0265.html">Miles Lott: "Re: Kodak dc210"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I can try emailing the same guy??? never know.<br>
<p>
Also I still have problem with my scanner AT3, it still hangs after a scan.<br>
I've upgraded to sane1.0, still the same.<br>
<p>
/ac<br>
<p>
Chris Pinkham wrote:<br>
<p>
<i>&gt; Andre,</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; For those interested I got this document from Artec/Ultima directly.</i><br>
<i>&gt; &gt; It contains all specs required for writing drivers for those scanners.</i><br>
<i>&gt;</i><br>
<i>&gt; Those are the same docs which are available on my website which is linked</i><br>
<i>&gt; to from the main SANE site.  Someone at Artec sent them to me at least 4</i><br>
<i>&gt; months ago.  I also have docs for the AT12 available for download online.</i><br>
<i>&gt; Now what I need is docs for the AT6 model (which I have asked for, but</i><br>
<i>&gt; as of yet have not received a response).</i><br>
<i>&gt;</i><br>
<i>&gt; Chris</i><br>
<i>&gt;</i><br>
<i>&gt; *****************************************************************************</i><br>
<i>&gt; ** Chris Pinkham                      Linux v2.0.35, Sane v1.00, GIMP v1.0 **</i><br>
<i>&gt; ** <a href="mailto:cpinkham@sh001.infi.net">cpinkham@sh001.infi.net</a>                <a href="http://www4.infi.net/~cpinkham/">http://www4.infi.net/~cpinkham/</a> **</i><br>
<i>&gt; *****************************************************************************</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
<p>
  ------------------------------------------------------------------------
Andre Couture
938934 Ontario Inc.
<a href="mailto:acouture@videotron.ca">mailto:acouture@videotron.ca</a>
<p>
<a href="mailto:search_n_find@yahoo.com">mailto:search_n_find@yahoo.com</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0267.html">root: "Mustek 600 III ep Plus"</a>
<li> <b>Next message:</b> <a href="0267.html">Alex Crow: "Any chance of Visioneer PaperPort 3000/6000 support?"</a>
<li> <b>Previous message:</b> <a href="0265.html">Miles Lott: "Re: Kodak dc210"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
