<!-- received="Sun Nov 29 10:45:17 1998 PST" -->
<!-- sent="Sun, 29 Nov 1998 13:43:26 EST" -->
<!-- name="Pkirchg@aol.com" -->
<!-- email="Pkirchg@aol.com" -->
<!-- subject="Beta-version for parallel HP-scanner support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Beta-version for parallel HP-scanner support</title>
<h1>Beta-version for parallel HP-scanner support</h1>
<a href="mailto:Pkirchg@aol.com"><i>Pkirchg@aol.com</i></a><br>
<i>Sun, 29 Nov 1998 13:43:26 EST</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#275">[ date ]</a><a href="index.html#275">[ thread ]</a><a href="subject.html#275">[ subject ]</a><a href="author.html#275">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0276.html">Andreas Fiesser: "Need help mith scanimage"</a>
<li> <b>Previous message:</b> <a href="0274.html">Oliver Rauch: "Re: Umax 610S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0282.html">Pkirchg@aol.com: "Re: Beta-version for parallel HP-scanner support"</a>
<li> <b>Reply:</b> <a href="0282.html">Pkirchg@aol.com: "Re: Beta-version for parallel HP-scanner support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
at <br>
<p>
<a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a><br>
<p>
you can find a beta-version of the hp-backend that hopefully supports<br>
parallel HP scanners. To test it with parallel interface, you need to change<br>
your<br>
/usr/local/etc/sane.d/hp.conf - file:<br>
<p>
       /dev/scanner    parallel<br>
<p>
tells the backend, that the specified device is connected by parallel port.<br>
As with the patch of the old backend (thanks to James Carter), it accesses the<br>
port<br>
directly with open(), close(), read(), write(). <br>
Reports that it works would be the best. If it does not work, set the<br>
environment<br>
variable SANE_HP_DEBUG=5 and send the resulting printout to <a href="mailto:pkirchg@aol.com">pkirchg@aol.com</a>.<br>
As with other SANE-software, you should be aware that you use the software<br>
AT YOUR OWN RISK. I dont have a parallel scanner and could not test it.<br>
<p>
Sincerely<br>
<p>
Peter<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0276.html">Andreas Fiesser: "Need help mith scanimage"</a>
<li> <b>Previous message:</b> <a href="0274.html">Oliver Rauch: "Re: Umax 610S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0282.html">Pkirchg@aol.com: "Re: Beta-version for parallel HP-scanner support"</a>
<li> <b>Reply:</b> <a href="0282.html">Pkirchg@aol.com: "Re: Beta-version for parallel HP-scanner support"</a>
<!-- reply="end" -->
</ul>
