<!-- received="Sun Nov 29 14:27:34 1998 PST" -->
<!-- sent="Sun, 29 Nov 1998 23:27:54 +0100" -->
<!-- name="wolfgang Rapp" -->
<!-- email="w1.rapp@von.ulm.de" -->
<!-- subject="Re: problem with sane 1.00 and NetBSD" -->
<!-- id="" -->
<!-- inreplyto="problem with sane 1.00 and NetBSD" -->
<title>sane-devel: Re: problem with sane 1.00 and NetBSD</title>
<h1>Re: problem with sane 1.00 and NetBSD</h1>
<b>wolfgang Rapp</b> (<a href="mailto:w1.rapp@von.ulm.de"><i>w1.rapp@von.ulm.de</i></a>)<br>
<i>Sun, 29 Nov 1998 23:27:54 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#284">[ date ]</a><a href="index.html#284">[ thread ]</a><a href="subject.html#284">[ subject ]</a><a href="author.html#284">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0285.html">Hugo van der Kooij: "Re: SANE 1.00 breaks on Solaris v2.6"</a>
<li> <b>Previous message:</b> <a href="0283.html">wolfgang Rapp: "Re: SANE 1.00 breaks on Solaris v2.6"</a>
<li> <b>Maybe in reply to:</b> <a href="0279.html">Thorsten Frueauf: "problem with sane 1.00 and NetBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thorsten Frueauf wrote:<br>
<p>
<i>&gt; </i><br>
<i>&gt; 2) in backend/abaton.c, s-&gt;val[OPT_X_RESOLUTION] is missing the .w member</i><br>
This is really right! I also added .w<br>
<i>&gt; </i><br>
<i>&gt; The appended patches solve those problems. I also want to note that</i><br>
<i>&gt; the DC210 backend does not compile, as it uses a constant which</i><br>
<i>&gt; I could not find in any NetBSD header file: TCSBRKP.</i><br>
<i>&gt; Its used in backend/dc210.c line 351, and I don't know an aquivalent.</i><br>
Alos true. See answer for solaris problem.<br>
<p>
Wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0285.html">Hugo van der Kooij: "Re: SANE 1.00 breaks on Solaris v2.6"</a>
<li> <b>Previous message:</b> <a href="0283.html">wolfgang Rapp: "Re: SANE 1.00 breaks on Solaris v2.6"</a>
<li> <b>Maybe in reply to:</b> <a href="0279.html">Thorsten Frueauf: "problem with sane 1.00 and NetBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
