<!-- received="Sun Nov 29 14:32:02 1998 PST" -->
<!-- sent="Sun, 29 Nov 1998 23:29:42 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: SANE 1.00 breaks on Solaris v2.6" -->
<!-- id="" -->
<!-- inreplyto="3661C825.121@von.ulm.de" -->
<title>sane-devel: Re: SANE 1.00 breaks on Solaris v2.6</title>
<h1>Re: SANE 1.00 breaks on Solaris v2.6</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sun, 29 Nov 1998 23:29:42 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#285">[ date ]</a><a href="index.html#285">[ thread ]</a><a href="subject.html#285">[ subject ]</a><a href="author.html#285">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0286.html">wolfgang Rapp: "Re: Kodak DC220/DC260 protocol interface specifications"</a>
<li> <b>Previous message:</b> <a href="0284.html">wolfgang Rapp: "Re: problem with sane 1.00 and NetBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 29 Nov 1998, wolfgang Rapp wrote:<br>
<p>
<i>&gt; Hugo van der Kooij wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; dc210.c: In function `init_dc210':</i><br>
<i>&gt; &gt; dc210.c:329: warning: implicit declaration of function `cfmakeraw'</i><br>
<i>&gt; &gt; dc210.c:344: `TCSBRKP' undeclared (first use this function)</i><br>
<i>&gt; &gt; dc210.c:344: (Each undeclared identifier is reported only once</i><br>
<i>&gt; &gt; dc210.c:344: for each function it appears in.)</i><br>
<i>&gt; &gt; make[1]: *** [dc210.lo] Error 1</i><br>
<i>&gt; &gt; make[1]: Leaving directory `/install/sane-1.00/backend'</i><br>
<i>&gt; &gt; make: *** [all-recursive] Error 1</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; Yes dc210.c seens to be a developped for Linux only. I had the sane</i><br>
<i>&gt; Error on SVR4.2 Unix. I changed TCSBRKP to TCSBRK. There are also</i><br>
<i>&gt; problems if your syston do not support baudrates higher then B38400. I</i><br>
<i>&gt; added some ifdefs.</i><br>
<p>
OK. I just removed the scanner from the Makefile and got away clean.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0286.html">wolfgang Rapp: "Re: Kodak DC220/DC260 protocol interface specifications"</a>
<li> <b>Previous message:</b> <a href="0284.html">wolfgang Rapp: "Re: problem with sane 1.00 and NetBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
