<!-- received="Sat Jul 12 16:28:32 1997 MST" -->
<!-- sent="Sat, 12 Jul 1997 18:53:09 -0400" -->
<!-- name="eric" -->
<!-- email="eric@tarsier.colo.erols.net" -->
<!-- subject="Re: system hangs with umax Astra 1200S / freebsd" -->
<!-- id="199707121954.MAA00356@rah.star-gate.com" -->
<!-- inreplyto="199707121945.MAA17202@panda.mosberger" -->
<title>sane-devel: Re: system hangs with umax Astra 1200S / freebsd</title>
<h1>Re: system hangs with umax Astra 1200S / freebsd</h1>
<b>eric</b> (<a href="mailto:eric@tarsier.colo.erols.net"><i>eric@tarsier.colo.erols.net</i></a>)<br>
<i>Sat, 12 Jul 1997 18:53:09 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Previous message:</b> <a href="0042.html">Amancio Hasty: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>In reply to:</b> <a href="0041.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, Jul 12, 1997 at 12:45:36PM -0700, David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hmmh, what version of FreeBSD and what SCSI controller are you using?</i><br>
<i>&gt; I find it strange that a user-level SCSI program would hang the entire</i><br>
<i>&gt; system.  I suppose it might be possible for the scanner to block the</i><br>
<i>&gt; SCSI bus if something bad happens, but it should not lock up the</i><br>
<i>&gt; entire system.  Hence I wonder whether the problem might be with the</i><br>
<i>&gt; generic SCSI driver, rather than the UMAX backend.</i><br>
<i>&gt; </i><br>
<i>&gt; 	--david</i><br>
<p>
<p>
This seemed very strange to me too, but apparently the problem has been <br>
resolved. <br>
<p>
First, it wasn't a matter of the scanner blocking the scsi bus -- it had an<br>
entire scsi bus to itself on an Adaptec 1522 (which turned out to be the<br>
problem)<br>
Second, I'm using the "pt" driver, although i suspect the "uk" driver would<br>
work too now that I've moved the scanner to an Adaptec 2940W. <br>
Everything works more or less fine now, except the scanner still needs to be<br>
the _only_ device on the bus. If I put a disk on the same bus as the scanner,<br>
(with a different SCSI id# obviously) accesses to the disk time out and stuff.<br>
It seems like it may be a termination issue, which I'll fiddle around with<br>
some more. <br>
But anyway, it will not work at all using an AHA1522, with either a Umax or<br>
an HP4c scanner. <br>
<p>
Thank's for all the help! <br>
<p>
<p>
					eric<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Previous message:</b> <a href="0042.html">Amancio Hasty: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>In reply to:</b> <a href="0041.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0044.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<!-- reply="end" -->
</ul>
