<!-- received="Sun Jul 13 10:35:15 1997 MST" -->
<!-- sent="Sun, 13 Jul 1997 09:58:35 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Gimp using sane to acquire images?" -->
<!-- id="199707131658.JAA20605@panda.mosberger" -->
<!-- inreplyto="199707130825.BAA02422@rah.star-gate.com" -->
<title>sane-devel: Re: Gimp using sane to acquire images?</title>
<h1>Re: Gimp using sane to acquire images?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 13 Jul 1997 09:58:35 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#48">[ date ]</a><a href="index.html#48">[ thread ]</a><a href="subject.html#48">[ subject ]</a><a href="author.html#48">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Previous message:</b> <a href="0047.html">Amancio Hasty: "Re: Gimp using sane to acquire images?"</a>
<li> <b>In reply to:</b> <a href="0047.html">Amancio Hasty: "Re: Gimp using sane to acquire images?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 13 Jul 1997 01:25:43 -0700, Amancio Hasty &lt;<a href="mailto:hasty@rah.star-gate.com">hasty@rah.star-gate.com</a>&gt; said:</i><br>
<p>
  Amancio&gt; The problem lies with the configure script in that it does<br>
  Amancio&gt; not have a good mechanism for locating include files in a<br>
  Amancio&gt; system.  Actually, it is a problem with the autoconf m4<br>
  Amancio&gt; macros for not making facility similar for locating X<br>
  Amancio&gt; available for other libraries, programs, and include files.<br>
<p>
No, the problem is due to a bug in gtk+.  Look at the header<br>
files---it can't seem to make up its mind where glibconfig.h should<br>
reside.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Previous message:</b> <a href="0047.html">Amancio Hasty: "Re: Gimp using sane to acquire images?"</a>
<li> <b>In reply to:</b> <a href="0047.html">Amancio Hasty: "Re: Gimp using sane to acquire images?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
