<!-- received="Mon Jul 14 11:43:38 1997 MST" -->
<!-- sent="Mon, 14 Jul 1997 14:55:04 +0000 (GMT)" -->
<!-- name="Rildo Pragana" -->
<!-- email="rpragana@acm.org" -->
<!-- subject="Re: Cheap linux photo scanner" -->
<!-- id="199707141627.JAA32039@panda.mosberger" -->
<!-- inreplyto="199707141513.IAA29705@panda.mosberger" -->
<title>sane-devel: Re: Cheap linux photo scanner</title>
<h1>Re: Cheap linux photo scanner</h1>
<b>Rildo Pragana</b> (<a href="mailto:rpragana@acm.org"><i>rpragana@acm.org</i></a>)<br>
<i>Mon, 14 Jul 1997 14:55:04 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#60">[ date ]</a><a href="index.html#60">[ thread ]</a><a href="subject.html#60">[ subject ]</a><a href="author.html#60">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">David Mosberger-Tang: "fix for silly bug in Mustek backend"</a>
<li> <b>Previous message:</b> <a href="0059.html">David Mosberger-Tang: "Re: Hangs with B&amp;W QuickCam"</a>
<li> <b>In reply to:</b> <a href="0058.html">David Mosberger-Tang: "Re: Cheap linux photo scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;On Mon, 14 Jul 1997 08:00:23 -0700, John Culleton &lt;<a href="mailto:john@ccpl.carr.lib.md.us">john@ccpl.carr.lib.md.us</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;My wife will buy me a (cheap) color scanner. Some choices</i><br>
<i>&gt;include: HP Scanjet 5s, Microtek Scanmaker E3, Mictotek Color</i><br>
<i>&gt;PageWiz, Artec ViewStation AT6, Inland ScanTAK 2c Scanner</i><br>
<i>&gt;(w/proprietary interface card). All are under $200 and some</i><br>
<i>&gt;give 4800 dpi max resolution, hopefully enough for photos.</i><br>
<i>&gt; </i><br>
<i>&gt;I know the HP is supported but it is low res (300 dpi, 600 dpi max).</i><br>
<i>&gt; </i><br>
<p>
Beware of advertised resolutions. Most of them are obtained by<br>
_interpolating_ lower resolution images. You must look for _physical_<br>
resolution instead.  I've recently (1 month ago) bought a Genius<br>
ColorPage-CS scanner, by KYE Corp., Taiwan.  It advertises 4800 dpi, but<br>
the _real_ physical one is 300 x 600 dpi.  The driver software does its<br>
magic.  In Linux, you could easily use the Gimp or ImageMagick<br>
to get the same effect. I have just finished my driver for the Genius,<br>
after looking around for a "ready to run" unsuccessfully.<br>
<p>
<p>
regards,<br>
<p>
Rildo Pragana<br>
<p>
Recife, Brazil<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">David Mosberger-Tang: "fix for silly bug in Mustek backend"</a>
<li> <b>Previous message:</b> <a href="0059.html">David Mosberger-Tang: "Re: Hangs with B&amp;W QuickCam"</a>
<li> <b>In reply to:</b> <a href="0058.html">David Mosberger-Tang: "Re: Cheap linux photo scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
