<!-- received="Wed Jul 16 13:25:14 1997 MST" -->
<!-- sent="16 Jul 97 21:50:25 +0200" -->
<!-- name="Kolja Waschk" -->
<!-- email="kawk@Home.Yo.COM" -->
<!-- subject="fixed: mustek: timeout after scan and cmd line parser bug" -->
<!-- id="199707161512.IAA28970@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: fixed: mustek: timeout after scan and cmd line parser bug</title>
<h1>fixed: mustek: timeout after scan and cmd line parser bug</h1>
<b>Kolja Waschk</b> (<a href="mailto:kawk@Home.Yo.COM"><i>kawk@Home.Yo.COM</i></a>)<br>
<i>16 Jul 97 21:50:25 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#71">[ date ]</a><a href="index.html#71">[ thread ]</a><a href="subject.html#71">[ subject ]</a><a href="author.html#71">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Kolja Waschk: "mustek: timeout after scan and cmd line parser bug"</a>
<li> <b>Previous message:</b> <a href="0070.html">David Mosberger-Tang: "Re: Mustek MFS-12000SP and sane0.61"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
well, quick follow-up but I just made it work better...<br>
<p>
 sl&gt; 1. After a scan is complete and also most times when 'scanimage' is<br>
 sl&gt; stopped    by ctrl-c, I get a scsi timeout (after 10 minutes) in<br>
 sl&gt; return to the last    scsi stop command sent by the mustek backend<br>
 sl&gt; (in stop_scan()).<br>
<p>
After inserting a sleep(5) before the stop command in stop_scan is sent, the<br>
program terminates properly. However, this doesn't help if I press Ctrl-C e.g.<br>
shortly after the scan area setup at the beginning.<br>
<p>
BTW to the authors, strndup() is in no header file on many linux systems.<br>
<p>
bibi,<br>
Kolja<br>
<p>
<pre>
---
Kolja Waschk (<a href="mailto:kawk@Home.Yo.COM">kawk@Home.Yo.COM</a>)
<a href="http://WWW.TU-Harburg.DE/~sekw0206">http://WWW.TU-Harburg.DE/~sekw0206</a>
Operator of "Yo.COM news &amp; mail service for small budget"
Tel +49-40-8891-3034, BBS/Fax -3035 (ISDN V.110/X.75 &amp; ZyXEL/V.34)
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Kolja Waschk: "mustek: timeout after scan and cmd line parser bug"</a>
<li> <b>Previous message:</b> <a href="0070.html">David Mosberger-Tang: "Re: Mustek MFS-12000SP and sane0.61"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
