<!-- received="Thu Jul 17 18:50:58 1997 MST" -->
<!-- sent="Thu, 17 Jul 1997 18:18:48 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: sane v0.61 on SCO" -->
<!-- id="199707180118.SAA00434@panda.mosberger" -->
<!-- inreplyto="199707180045.UAA28401@linux.nycmetro.com" -->
<title>sane-devel: Re: sane v0.61 on SCO</title>
<h1>Re: sane v0.61 on SCO</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Thu, 17 Jul 1997 18:18:48 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#81">[ date ]</a><a href="index.html#81">[ thread ]</a><a href="subject.html#81">[ subject ]</a><a href="author.html#81">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">David Mosberger-Tang: "Re: For your interest!"</a>
<li> <b>Previous message:</b> <a href="0080.html">Billy the expert skier!: "Re: sane v0.61 on SCO"</a>
<li> <b>In reply to:</b> <a href="0080.html">Billy the expert skier!: "Re: sane v0.61 on SCO"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 17 Jul 1997 20:45:33 -0400 (EDT), Billy the expert skier! &lt;<a href="mailto:druid@linux.nycmetro.com">druid@linux.nycmetro.com</a>&gt; said:</i><br>
<p>
  Billy&gt; I used the C compiler (cc) that comes with SCO OpenServer 5<br>
  Billy&gt; (3.2v5.0.2) and GNU's make (v3.75) I configured sane v0.61<br>
  Billy&gt; with --disable-shared I think it might also compile without<br>
  Billy&gt; any configure options, but --disable-shared worked fine for<br>
  Billy&gt; me (might be better this way too)<br>
<p>
Thanks, I updated the info in support.html.<br>
<p>
  Billy&gt; Anything else you'd like to know, you can ftp the binary<br>
  Billy&gt; distribution I made (.tar.gz) of sane v0.61 on my sco<br>
  Billy&gt; box... you or anyone else that is interested, can get it<br>
  Billy&gt; from: ftp.nycmetro.com directory /sco<br>
<p>
Cool!  I added a pointer to:<br>
<p>
       <a href="http://www.azstarnet.com/~axplinux/sane/source.html">http://www.azstarnet.com/~axplinux/sane/source.html</a><br>
<p>
I'd be more than happy to add pointers to pre-compiled binaries for<br>
other platforms.  Just send me a pointer if you can make pre-compiled<br>
binaries available.<br>
<p>
  Billy&gt; P.S. I think you can put SCO OpenServer 5.x support in the<br>
  Billy&gt; sane.lsm file, eh? :)<br>
<p>
Done.  I just hope the SCSI support will follow soon... ;-)<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">David Mosberger-Tang: "Re: For your interest!"</a>
<li> <b>Previous message:</b> <a href="0080.html">Billy the expert skier!: "Re: sane v0.61 on SCO"</a>
<li> <b>In reply to:</b> <a href="0080.html">Billy the expert skier!: "Re: sane v0.61 on SCO"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
