<!-- received="Mon Jul 21 09:30:37 1997 MST" -->
<!-- sent="Mon, 21 Jul 1997 08:54:40 -0700 (MST)" -->
<!-- name="Tony Peterson" -->
<!-- email="capeters@soliton.physics.arizona.edu" -->
<!-- subject="FTP site problem" -->
<!-- id="Pine.SUN.3.91.970721085148.25176B-100000@soliton.physics.arizona.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: FTP site problem</title>
<h1>FTP site problem</h1>
<b>Tony Peterson</b> (<a href="mailto:capeters@soliton.physics.arizona.edu"><i>capeters@soliton.physics.arizona.edu</i></a>)<br>
<i>Mon, 21 Jul 1997 08:54:40 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#110">[ date ]</a><a href="index.html#110">[ thread ]</a><a href="subject.html#110">[ subject ]</a><a href="author.html#110">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">David  Mosberger: "Re: FTP site problem"</a>
<li> <b>Previous message:</b> <a href="0109.html">Gregory Trubetskoy: "Re: More on Mustek 8000SP adventures..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0111.html">David  Mosberger: "Re: FTP site problem"</a>
<li> <b>Maybe reply:</b> <a href="0111.html">David  Mosberger: "Re: FTP site problem"</a>
<li> <b>Reply:</b> <a href="0112.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: FTP site problem"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've had troubles compiling SANE and according to a message in the <br>
archive I need to read<br>
<p>
<a href="ftp://ftp.azstarnet.com/pub/linux/axp/sane/gtk+.README">ftp://ftp.azstarnet.com/pub/linux/axp/sane/gtk+.README</a><br>
<p>
I've been trying to reach this site for the past two weeks with no luck. <br>
Would anyone have a copy of this file they could email me.<br>
<p>
Thanks,<br>
<p>
Tony<br>
<p>
//////////////////////////////////////////////////////////////////<br>
Charles Anthony Peterson		Geek Code 3.0:<br>
Graduate Student of Physics		GS d- s: a-- C++ US++ P+<br>
at the University of Arizona		L E+ W++ N+++ K- w--- O?<br>
<a href="mailto:capeters@physics.arizona.edu">capeters@physics.arizona.edu</a>		M-- V-- Y+ PGP? t-- 5++ X+<br>
Office:(520)621-2997 Home:(520)318-9473 R++ tv+ b+ DI+ D---- G<br>
<a href="http://physics.arizona.edu/~capeters">http://physics.arizona.edu/~capeters</a>	e++&gt;++++ h h+ r y+<br>
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">David  Mosberger: "Re: FTP site problem"</a>
<li> <b>Previous message:</b> <a href="0109.html">Gregory Trubetskoy: "Re: More on Mustek 8000SP adventures..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0111.html">David  Mosberger: "Re: FTP site problem"</a>
<li> <b>Maybe reply:</b> <a href="0111.html">David  Mosberger: "Re: FTP site problem"</a>
<li> <b>Reply:</b> <a href="0112.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: FTP site problem"</a>
<!-- reply="end" -->
</ul>
