<!-- received="Thu Jul 24 19:47:14 1997 MST" -->
<!-- sent="Fri, 25 Jul 1997 02:55:34 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: More on Mustek 8000SP adventures..." -->
<!-- id="m0wrYfO-000BW3C@charon.beck-sw.de" -->
<!-- inreplyto="199707240613.IAA00748@cave.BitWizard.nl" -->
<title>sane-devel: Re: More on Mustek 8000SP adventures...</title>
<h1>Re: More on Mustek 8000SP adventures...</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Fri, 25 Jul 1997 02:55:34 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#135">[ date ]</a><a href="index.html#135">[ thread ]</a><a href="subject.html#135">[ subject ]</a><a href="author.html#135">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0136.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>Previous message:</b> <a href="0134.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>In reply to:</b> <a href="0130.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0136.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>Reply:</b> <a href="0136.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I'm writing sane-support for the Tamarack SCSI scanner. I had the same</i><br>
<i>&gt; problem: my NCR810 driver would report an "NCR DEAD" when I tried to</i><br>
<i>&gt; scan a slightly non-trivial amount of data. </i><br>
<p>
<i>&gt; Initially I increased the timeout to one minute. However nowadays, my</i><br>
<i>&gt; driver simply reduces the scan-size to at most an inch at a time.</i><br>
<i>&gt; The Tamarack takes less than 10 seconds to scan an inch, so there</i><br>
<i>&gt; is no problem. This way I can run a standard kernel. (well almost).</i><br>
<p>
<i>&gt; Mustec maintainers: This might also be applicable for the mustec</i><br>
<i>&gt; backend....</i><br>
Well - I doubt the mustek will resume precisely enough (re-positioning with <br>
1200dpi reolution at the presence of mechanical parts seems non-trivial to <br>
me) and it is already quite slow.<br>
<p>
However something a simple as decreasing the SCSI-buffer-length (or rather <br>
the requested length) might do the trick.<br>
<p>
CU,Andy<br>
<p>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0136.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>Previous message:</b> <a href="0134.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>In reply to:</b> <a href="0130.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0136.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<li> <b>Reply:</b> <a href="0136.html">Rogier Wolff: "Re: More on Mustek 8000SP adventures..."</a>
<!-- reply="end" -->
</ul>
