<!-- received="Mon May 26 14:30:42 1997 MST" -->
<!-- sent="Mon, 26 May 1997 19:19:24 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: a priori image dimensions" -->
<!-- id="m0wW3Qa-000BWaC@charon.beck-sw.de" -->
<!-- inreplyto="86g1vap7a2.fsf@localhost.profitpress.com" -->
<title>sane-devel: Re: a priori image dimensions</title>
<h1>Re: a priori image dimensions</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 26 May 1997 19:19:24 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#20">[ date ]</a><a href="index.html#20">[ thread ]</a><a href="subject.html#20">[ subject ]</a><a href="author.html#20">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Dr. Michael Grimm: "Re: HP support"</a>
<li> <b>Previous message:</b> <a href="0019.html">David Mosberger-Tang: "Re: a priori image dimensions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; A problem that I've discovered in my PINT backend is that the</i><br>
<i>&gt; dimensions (both X and Y) cannot be known until the scan is started.</i><br>
<i>&gt; I've noticed the following line in the TODO:</i><br>
<p>
<i>&gt; - xscan: scanning of images whose heights is not known a priori is not</i><br>
<i>&gt;   supported yet; this is going to be important for handheld scanners</i><br>
<p>
<i>&gt; Does anybody have ideas on how to implement this, and/or has it been</i><br>
<i>&gt; done in 0.57?</i><br>
I don't know, if it has been implemented, but the idea is to read data<br>
until SANE_EOF is returned from the read call.<br>
<p>
<i>&gt; The easiest way I can think of is to have a call to</i><br>
<i>&gt; sane_get_parameters after the scan has completed to find out what</i><br>
<i>&gt; actually happened.</i><br>
NO. This would mean buffering the whole image in the SANE driver.<br>
This is not only RAm-consuming, it also prevents transferring the image<br>
as early as possible to show scan progress and do postprocessing.<br>
<p>
<i>&gt; Maybe space for the PNM header could be reserved before the raw data ...</i><br>
<i>&gt; Then, this could be transformed into a correct PNM header after the</i><br>
<i>&gt; raw scanner data had been written.</i><br>
Yes. This is how it is intended.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Dr. Michael Grimm: "Re: HP support"</a>
<li> <b>Previous message:</b> <a href="0019.html">David Mosberger-Tang: "Re: a priori image dimensions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
