<!-- received="Tue May 27 09:28:13 1997 MST" -->
<!-- sent="Tue, 27 May 1997 08:41:51 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: HP support" -->
<!-- id="199705271541.IAA00939@panda.mosberger" -->
<!-- inreplyto="9705271021.ZM11611@be3001.schering.de" -->
<title>sane-devel: Re: HP support</title>
<h1>Re: HP support</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 27 May 1997 08:41:51 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#23">[ date ]</a><a href="index.html#23">[ thread ]</a><a href="subject.html#23">[ subject ]</a><a href="author.html#23">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Rick Stuart: "Question regarding known support: HP1150C Officejet PPA scanner"</a>
<li> <b>Previous message:</b> <a href="0022.html">David Mosberger-Tang: "Re: SANE/TWAIN"</a>
<li> <b>In reply to:</b> <a href="0021.html">Dr. Michael Grimm: "Re: HP support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
If you're having problems with the HP backend, could you try the<br>
following patch, please?  The patch is relative to sane-0.57 and fixes<br>
the following things:<br>
<p>
	- make brightness/contrast range detection automatic (the old<br>
	  code definitively was broken), the new one hopefully works;<br>
	  I can't test this myself since I don't have an HP scanner<br>
<p>
	- fix a bug in preview.c (I thought it had made it into sane-0.57<br>
	  already, but obviously not so); this bug fix _may_ solve the oddities<br>
	  that have been reported<br>
<p>
	- minor fix to xscanimage.c<br>
<p>
If the brightness/contrast controls don't work as expected, please send me<br>
the output you get with:<br>
<p>
	SANE_DEBUG_HP=3 scanimage -h -d hp<br>
<p>
  --david<br>
<p>
diff -urN sane-0.57/backend/hp.c sane-0.58/backend/hp.c<br>
--- sane-0.57/backend/hp.c	Fri May  9 08:00:59 1997<br>
+++ sane-0.58/backend/hp.c	Tue May 27 07:57:10 1997<br>
@@ -66,20 +66,6 @@<br>
     0<br>
   };<br>
 <br>
-static const SANE_Range s1_range =<br>
-  {<br>
-    -1,				/* minimum */<br>
-     1,				/* maximum */<br>
-     1				/* quantization */<br>
-  };<br>
-<br>
-static const SANE_Range s7_range =<br>
-  {<br>
-    -127,				/* minimum */<br>
-     127,				/* maximum */<br>
-       1				/* quantization */<br>
-  };<br>
-<br>
 #define INQ_LEN	255<br>
 static const u_int8_t inquiry[] =<br>
   {<br>
@@ -204,6 +190,10 @@<br>
       {10330, 'H', 'g', 10078, 0},	/* max_y */<br>
       {10323, 'L', 'k',    38, 0},	/* min_dpi */<br>
       {10323, 'H', 'g',   600, 0},	/* max_dpi */<br>
+      {10317, 'L', 'k',     0, 0},	/* min_brightness */<br>
+      {10317, 'H', 'g',     0, 0},	/* max_brightness */<br>
+      {10316, 'L', 'k',     0, 0},	/* min_contrast */<br>
+      {10316, 'H', 'g',     0, 0},	/* max_contrast */<br>
     };<br>
 <br>
   for (dev = first_dev; dev; dev = dev-&gt;next)<br>
@@ -281,6 +271,14 @@<br>
   dev-&gt;dpi_range.max = inq_params[5].value;<br>
   dev-&gt;dpi_range.quant = 1;<br>
 <br>
+  dev-&gt;brightness_range.min   = inq_params[6].value;<br>
+  dev-&gt;brightness_range.max   = inq_params[7].value;<br>
+  dev-&gt;brightness_range.quant = 1;<br>
+<br>
+  dev-&gt;contrast_range.min   = inq_params[8].value;<br>
+  dev-&gt;contrast_range.max   = inq_params[9].value;<br>
+  dev-&gt;contrast_range.quant = 1;<br>
+<br>
   str = malloc (17);<br>
   memcpy (str, result + 16, 16);<br>
   str[16] = ' ';<br>
@@ -417,11 +415,8 @@<br>
   s-&gt;opt[OPT_BRIGHTNESS].type = SANE_TYPE_INT;<br>
   s-&gt;opt[OPT_BRIGHTNESS].unit = SANE_UNIT_NONE;<br>
   s-&gt;opt[OPT_BRIGHTNESS].constraint_type = SANE_CONSTRAINT_RANGE;<br>
-  s-&gt;opt[OPT_BRIGHTNESS].constraint.range = &amp;s7_range;<br>
+  s-&gt;opt[OPT_BRIGHTNESS].constraint.range = &amp;s-&gt;hw-&gt;brightness_range;<br>
   s-&gt;val[OPT_BRIGHTNESS].w = 0;<br>
-  if (!s-&gt;hw-&gt;sane.model[0])<br>
-    /* plain ScanJet has only three levels */<br>
-    s-&gt;opt[OPT_BRIGHTNESS].constraint.range = &amp;s1_range;<br>
 <br>
   /* contrast */<br>
   s-&gt;opt[OPT_CONTRAST].name = SANE_NAME_CONTRAST;<br>
@@ -430,9 +425,9 @@<br>
   s-&gt;opt[OPT_CONTRAST].type = SANE_TYPE_INT;<br>
   s-&gt;opt[OPT_CONTRAST].unit = SANE_UNIT_NONE;<br>
   s-&gt;opt[OPT_CONTRAST].constraint_type = SANE_CONSTRAINT_RANGE;<br>
-  s-&gt;opt[OPT_CONTRAST].constraint.range = &amp;s7_range;<br>
+  s-&gt;opt[OPT_CONTRAST].constraint.range = &amp;s-&gt;hw-&gt;contrast_range;<br>
   s-&gt;val[OPT_CONTRAST].w = 0;<br>
-  if (s-&gt;hw-&gt;sane.model[0])<br>
+  if (s-&gt;hw-&gt;contrast_range.min == s-&gt;hw-&gt;contrast_range.max)<br>
     /* plain ScanJet doesn't support contrast */<br>
     s-&gt;opt[OPT_CONTRAST].cap |= SANE_CAP_INACTIVE;<br>
   return SANE_STATUS_GOOD;<br>
diff -urN sane-0.57/backend/hp.h sane-0.58/backend/hp.h<br>
--- sane-0.57/backend/hp.h	Wed Mar 19 18:42:10 1997<br>
+++ sane-0.58/backend/hp.h	Tue May 27 07:53:39 1997<br>
@@ -58,6 +58,8 @@<br>
     SANE_Range dpi_range;<br>
     SANE_Range x_range;<br>
     SANE_Range y_range;<br>
+    SANE_Range brightness_range;<br>
+    SANE_Range contrast_range;<br>
     unsigned flags;<br>
   }<br>
 HP_Device;<br>
diff -urN sane-0.57/frontend/preview.c sane-0.58/frontend/preview.c<br>
--- sane-0.57/frontend/preview.c	Sun May  4 18:13:47 1997<br>
+++ sane-0.58/frontend/preview.c	Mon May 12 07:43:07 1997<br>
@@ -233,7 +233,7 @@<br>
 <br>
   /* don't draw last line unless it's complete: */<br>
   height = p-&gt;image_y;<br>
-  if (p-&gt;image_x == 0)<br>
+  if (p-&gt;image_x == 0 &amp;&amp; height &lt; p-&gt;image_height)<br>
     ++height;<br>
 <br>
   /* for now, use simple nearest-neighbor interpolation: */<br>
<p>
<p>
diff -urN sane-0.57/frontend/xscanimage.c sane-0.58/frontend/xscanimage.c<br>
--- sane-0.57/frontend/xscanimage.c	Sun May  4 18:14:19 1997<br>
+++ sane-0.58/frontend/xscanimage.c	Thu May 15 08:42:08 1997<br>
@@ -763,8 +763,6 @@<br>
 <br>
   ScanWin.x = ScanWin.y = 0;<br>
 <br>
-  gsg_sync (dialog);<br>
-<br>
   status = sane_start (dev);<br>
   if (status != SANE_STATUS_GOOD)<br>
     {<br>
@@ -907,6 +905,7 @@<br>
 	  return;<br>
 	}<br>
     }<br>
+  gsg_sync (dialog);<br>
   scan_start ();<br>
 }<br>
 <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Rick Stuart: "Question regarding known support: HP1150C Officejet PPA scanner"</a>
<li> <b>Previous message:</b> <a href="0022.html">David Mosberger-Tang: "Re: SANE/TWAIN"</a>
<li> <b>In reply to:</b> <a href="0021.html">Dr. Michael Grimm: "Re: HP support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
