<!-- received="Tue Jun  3 10:16:43 1997 MST" -->
<!-- sent="Tue, 3 Jun 1997 11:04:13 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: Logitech Support ?" -->
<!-- id="m0wYpVl-000BWzC@charon.beck-sw.de" -->
<!-- inreplyto="199706021818.OAA00569@orion.webexpert.net" -->
<title>sane-devel: Re: Logitech Support ?</title>
<h1>Re: Logitech Support ?</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Tue, 3 Jun 1997 11:04:13 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#55">[ date ]</a><a href="index.html#55">[ thread ]</a><a href="subject.html#55">[ subject ]</a><a href="author.html#55">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">David Mosberger-Tang: "Re: Mustek Paragon II CD works"</a>
<li> <b>Previous message:</b> <a href="0054.html">Bellerophon: "Re: Logitech Support ?"</a>
<li> <b>In reply to:</b> <a href="0054.html">Bellerophon: "Re: Logitech Support ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0057.html">Bellerophon: "Re: Logitech Support ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; You might want to step on their nerves until they either do one of the above</i><br>
<i>&gt; &gt; or agree to write SANE drivers themselves. As SANE can easily incorporate </i><br>
<i>&gt; &gt; binary drivers, they might agree, though I do not think they actually would</i><br>
<i>&gt; &gt; spend any money in supporting an OS which has "only" a few percent of the </i><br>
<i>&gt; &gt; market.</i><br>
<i>&gt; Well, I'll be glad to step on whatever nerves might be lying around.  Any clue </i><br>
<i>&gt; on where to start poking and prodding for info?</i><br>
There should be a domain logitech.com. I suppose they have a Website and there<br>
you should find pointer to their technical and marketing staff.<br>
<p>
Step on both of them adjusting the weight and rhythm to their desires ;-)<br>
I.e. tell the marketing folks they might sell more units with Linux-support<br>
and the technical folks how cool it would be to be supported on a real OS.<br>
<p>
<i>&gt; &gt; The other way out would be to find someone who writes a driver. The parallel</i><br>
<i>&gt; &gt; port is something which is easy to monitor and hopefully the protocol spoken</i><br>
<i>&gt; &gt; is not too complex, so reverse-engeneering from the data on the bus shouldn't</i><br>
<i>&gt; &gt; be too hard.</i><br>
<i>&gt; Heh. Not to hard for someone who knows what they're doing.  _I_, on the other </i><br>
<i>&gt; hand, am completely clueless when it comes to driver-writing.  So, while I'm </i><br>
<i>&gt; willing to do as much as I'm able,  I'd need some help in that department.</i><br>
I will gladly try to help, if you want to take the challenge, but you will<br>
need at least basic knowledge of electronics and how to wield a soldering iron<br>
if you want to monitor the parallel port in hardware or a solid knowledge<br>
of WinDoze drivers to do it on the software-side.<br>
<p>
If this is not the case, you should try to find somebody who thinks (s)he can<br>
do it. The problem is, that you need to have the hardware handy to write a <br>
driver. I and David can probably fill your ears for some hours with stories<br>
about "blind-flight-driver-development" ... ;-)<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">David Mosberger-Tang: "Re: Mustek Paragon II CD works"</a>
<li> <b>Previous message:</b> <a href="0054.html">Bellerophon: "Re: Logitech Support ?"</a>
<li> <b>In reply to:</b> <a href="0054.html">Bellerophon: "Re: Logitech Support ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0057.html">Bellerophon: "Re: Logitech Support ?"</a>
<!-- reply="end" -->
</ul>
