<!-- received="Fri Jun  6 09:36:09 1997 MST" -->
<!-- sent="Fri, 6 Jun 1997 09:04:19 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: GTK and the curve widget" -->
<!-- id="199706061604.JAA00550@panda.mosberger" -->
<!-- inreplyto="199706061151.NAA00190@wintermute.huettenstudios.de" -->
<title>sane-devel: Re: GTK and the curve widget</title>
<h1>Re: GTK and the curve widget</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Fri, 6 Jun 1997 09:04:19 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Jeff Tranter: "Back end for Epson PhotoPC 500"</a>
<li> <b>Previous message:</b> <a href="0066.html">Bellerophon: "Re: Logitech Support ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 6 Jun 1997 05:03:15 -0700, Sven Neumann &lt;<a href="mailto:neumanns@uni-duesseldorf.de">neumanns@uni-duesseldorf.de</a>&gt; said:</i><br>
<p>
  Sven&gt; I got your gtk snapshot and it works fine. But since The GIMP<br>
  Sven&gt; and gtk is still changing I do have problems to get gtk-libs<br>
  Sven&gt; that work for both. Since there have been quite a few (small)<br>
  Sven&gt; changes to the gtk widget set in the last weeks of gimp<br>
  Sven&gt; development I would like to use the libs that come with The<br>
  Sven&gt; GIMP. Is there a patch that adds the curve widget to gtk?<br>
  Sven&gt; Perhaps it could become part of the "official" gtk release<br>
  Sven&gt; soon so it would be obsolet to have two versions of gtk in<br>
  Sven&gt; use.<br>
<p>
That's precisely idea.  In fact, if you look in<br>
<p>
	<a href="ftp://ftp.xcf.berkeley.edu/pub/pmattis/gtk+970605.tar.gz">ftp://ftp.xcf.berkeley.edu/pub/pmattis/gtk+970605.tar.gz</a><br>
<p>
you'll find the gtkcurve widget.  I haven't had time yet to try SANE<br>
with it, but from what I have seen, I don't expect any major problems.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Jeff Tranter: "Back end for Epson PhotoPC 500"</a>
<li> <b>Previous message:</b> <a href="0066.html">Bellerophon: "Re: Logitech Support ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
