<!-- received="Sat Jun 14 21:26:59 1997 MST" -->
<!-- sent="14 Jun 1997 22:20:38 -0600" -->
<!-- name="Gordon Matzigkeit" -->
<!-- email="gord@m-tech.ab.ca" -->
<!-- subject="Re: Sane on NeXT/OpenStep - a plea for help" -->
<!-- id="199706150050.UAA24036@nigel.redhat.com" -->
<!-- inreplyto="Sun, 15 Jun 97 00:45:28 +0100" -->
<title>sane-devel: Re: Sane on NeXT/OpenStep - a plea for help</title>
<h1>Re: Sane on NeXT/OpenStep - a plea for help</h1>
<b>Gordon Matzigkeit</b> (<a href="mailto:gord@m-tech.ab.ca"><i>gord@m-tech.ab.ca</i></a>)<br>
<i>14 Jun 1997 22:20:38 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#83">[ date ]</a><a href="index.html#83">[ thread ]</a><a href="subject.html#83">[ subject ]</a><a href="author.html#83">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Gordon Matzigkeit: "sane-0.6.tar.gz is bad"</a>
<li> <b>Previous message:</b> <a href="0082.html">Michael K. Johnson: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<li> <b>In reply to:</b> <a href="0081.html">Neville Wilford: "Sane on NeXT/OpenStep - a plea for help"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; Neville Wilford writes:</i><br>
<p>
 NW&gt; It looks to my untutored eye as though something important might<br>
 NW&gt; be missing from OpenStep's SCSI support, but how would I know.<br>
<p>
Actually, this appears to be unrelated to your SCSI support.<br>
`sanei_save_values.c' is a simple, portable file.  I am suprised that<br>
you have problems compiling it under OpenStep, but hey, nothing is<br>
*really* suprising when it comes to porting software. ;)<br>
<p>
cc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include  <br>
-DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d  <br>
-DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=0 -DV_MINOR=5 -g -O2  <br>
-D_GNU_SOURCE sanei_save_values.c<br>
sanei_save_values.c: In function `sanei_save_values':<br>
sanei_save_values.c:64: `read' undeclared (first use this function)<br>
sanei_save_values.c:64: (Each undeclared identifier is reported only once<br>
sanei_save_values.c:64: for each function it appears in.)<br>
sanei_save_values.c:65: `write' undeclared (first use this function)<br>
<p>
I believe the C compiler gave correct error messages.  Somehow, your<br>
`read' and `write' functions have not been declared.  Normally, these<br>
functions are declared by the `unistd.h' header file.<br>
<p>
OpenStep uses a variant of GCC, the GNU C compiler, so you should be<br>
able to find the list of include paths.<br>
<p>
cd into the sanei subdirectory of the SANE distribution, then run the<br>
`cc' command above, except add the `-v' option.<br>
<p>
i.e.<br>
<p>
cc -v -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include \<br>
-DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d \<br>
-DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=0 -DV_MINOR=5 -g -O2 \<br>
-D_GNU_SOURCE sanei_save_values.c<br>
<p>
Record the output.  At some point, there should be the following:<br>
<p>
#include "..." search starts here:<br>
#include &lt;...&gt; search starts here:<br>
 .<br>
 .<br>
 ../include<br>
 ../include<br>
 /usr/include<br>
End of search list.<br>
<p>
The `/usr/include' entry may be different.  In any case, the `#include<br>
&lt;...&gt; search' list will print a list of all the header file<br>
directories.  Ignore the relative paths `.' and `../include', since<br>
they are part of the SANE distribution, and you don't need to worry<br>
about them.<br>
<p>
What you are interested in is finding the declarations of the `read'<br>
and `write' system functions in your system header files.  That work<br>
is up to you, but here is a suggestion of how to go about it:<br>
<p>
grep read /usr/include/*.h<br>
<p>
or, better:<br>
<p>
find /usr/include -type f | xargs grep read<br>
<p>
or, even better:<br>
<p>
find /usr/include -follow -type f | xargs grep read<br>
<p>
Use the directories from your own search list, rather than<br>
`/usr/include'.  Record the output, and send it to the mailing list.<br>
That will give both you and us some hint of how to proceed.<br>
<p>
Good luck,<br>
<p>
<pre>
-- 
  Gord Matzigkeit   | Proudly running pieces of the GNU operating system.
 gord@m-tech.ab.ca  |  Jacques Cousteau loved programming in assembler.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Gordon Matzigkeit: "sane-0.6.tar.gz is bad"</a>
<li> <b>Previous message:</b> <a href="0082.html">Michael K. Johnson: "Re: Sane on NeXT/OpenStep - a plea for help"</a>
<li> <b>In reply to:</b> <a href="0081.html">Neville Wilford: "Sane on NeXT/OpenStep - a plea for help"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
