<!-- received="Sun Jun 15 13:39:14 1997 MST" -->
<!-- sent="Sun, 15 Jun 1997 22:34:59 +0200 (MET DST)" -->
<!-- name="orauch@physik.uni-osnabrueck.de" -->
<!-- email="orauch@physik.uni-osnabrueck.de" -->
<!-- subject="xscanimage redraw-error" -->
<!-- id="199706152035.WAA22756@Babylon5.rz.uni-osnabrueck.de" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage redraw-error</title>
<h1>xscanimage redraw-error</h1>
<a href="mailto:orauch@physik.uni-osnabrueck.de"><i>orauch@physik.uni-osnabrueck.de</i></a><br>
<i>Sun, 15 Jun 1997 22:34:59 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">David Mosberger-Tang: "Re: xscanimage redraw-error"</a>
<li> <b>Previous message:</b> <a href="0093.html">David Mosberger-Tang: "Re: ScanJet 5p working with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0095.html">David Mosberger-Tang: "Re: xscanimage redraw-error"</a>
<li> <b>Reply:</b> <a href="0095.html">David Mosberger-Tang: "Re: xscanimage redraw-error"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
the new xscanimage, especally with the new custom-gamma-functions<br>
are really good. But I'm sorry that I have to say that there<br>
are problems if I change an option/value that forces a change<br>
of the outfit of xscanimage: the window is not cleared before<br>
redrawing and sometimes there are rests of the old outfit.<br>
<p>
The umax-backend works. :-)<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">David Mosberger-Tang: "Re: xscanimage redraw-error"</a>
<li> <b>Previous message:</b> <a href="0093.html">David Mosberger-Tang: "Re: ScanJet 5p working with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0095.html">David Mosberger-Tang: "Re: xscanimage redraw-error"</a>
<li> <b>Reply:</b> <a href="0095.html">David Mosberger-Tang: "Re: xscanimage redraw-error"</a>
<!-- reply="end" -->
</ul>
