<!-- received="Tue Jun 17 17:45:10 1997 MST" -->
<!-- sent="Tue, 17 Jun 1997 17:37:57 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: You have been removed from the list" -->
<!-- id="199706180037.RAA12365@panda.mosberger" -->
<!-- inreplyto="199706180033.UAA03686@lemur.magnet.com" -->
<title>sane-devel: Re: You have been removed from the list</title>
<h1>Re: You have been removed from the list</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 17 Jun 1997 17:37:57 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#110">[ date ]</a><a href="index.html#110">[ thread ]</a><a href="subject.html#110">[ subject ]</a><a href="author.html#110">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Mathias Weigt: "Unidentified subject!"</a>
<li> <b>Previous message:</b> <a href="0109.html">Andrew Kuchling: "B&amp;W qcam: Curiouser..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 17 Jun 1997 17:41:24 -0700, Andrew Kuchling &lt;<a href="mailto:amk@magnet.com">amk@magnet.com</a>&gt; said:</i><br>
  Andrew&gt; Good day!  I got the following notice that I'd been<br>
  Andrew&gt; unsubscribed from the sane-devel list.  The bounce actually<br>
  Andrew&gt; has nothing to do with me, but with some MCI subscriber<br>
  Andrew&gt; who's exceeded his disk quota.  Probably other people will<br>
  Andrew&gt; get removed from sane-devel as their postings generate<br>
  Andrew&gt; bounces.<br>
<p>
  Andrew&gt; I've since resubscribed to sane-devel, so no action on your<br>
  Andrew&gt; part is required for my sake; you may want to remove<br>
  Andrew&gt; <a href="mailto:10EHQMBKB5K9@MAIL-CLUSTER.PCY.MCI.NET">10EHQMBKB5K9@MAIL-CLUSTER.PCY.MCI.NET</a>, though!<br>
<p>
I'm aware of the problem.  Unfortunately, nobody with that email<br>
address is subscribed to this list, so I'm tapping in the blind.  I<br>
sent mail to <a href="mailto:postmaster@MAIL-CLUSTER.PCY.MCI.NET">postmaster@MAIL-CLUSTER.PCY.MCI.NET</a> but have not heard<br>
back yet.  I also asked my ISP to remove that silly feature that<br>
unsubscribes the sender of a mail when it bounces due to a recipient<br>
error.  I haven't heard back from them yet, either.  Mailing lists are<br>
fun, no?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Mathias Weigt: "Unidentified subject!"</a>
<li> <b>Previous message:</b> <a href="0109.html">Andrew Kuchling: "B&amp;W qcam: Curiouser..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
