<!-- received="Wed Jun 25 11:42:01 1997 MST" -->
<!-- sent="Wed, 25 Jun 1997 13:26:23 -0400 (EDT)" -->
<!-- name="Erik Troan" -->
<!-- email="ewt@redhat.com" -->
<!-- subject="Re: Logitech handheld scaner???" -->
<!-- id="m0wgthf-000BWPC@charon.beck-sw.de" -->
<!-- inreplyto="m0wgthf-000BWPC@charon.beck-sw.de" -->
<title>sane-devel: Re: Logitech handheld scaner???</title>
<h1>Re: Logitech handheld scaner???</h1>
<b>Erik Troan</b> (<a href="mailto:ewt@redhat.com"><i>ewt@redhat.com</i></a>)<br>
<i>Wed, 25 Jun 1997 13:26:23 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#162">[ date ]</a><a href="index.html#162">[ thread ]</a><a href="subject.html#162">[ subject ]</a><a href="author.html#162">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Christophe Zwecker: "Re: what is backtracking ?"</a>
<li> <b>Previous message:</b> <a href="0161.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Logitech handheld scaner???"</a>
<li> <b>In reply to:</b> <a href="0162.html">Erik Troan: "Re: Logitech handheld scaner???"</a>
<!-- nextthread="start" -->
<li> <b>Reply:</b> <a href="0162.html">Erik Troan: "Re: Logitech handheld scaner???"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 25 Jun 1997 <a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a> wrote:<br>
<p>
<i>&gt; Does the logiscan driver by me (if you don't have it, it's on my webpage)</i><br>
<i>&gt; work for you ? If so, it would be a nice project to build the SANE-LHII-</i><br>
<i>&gt; Bridge which will make available all kernel-scanner-drivers which adhere </i><br>
<i>&gt; to the Linux Handscanner Ioctl Interface specification to SANE.</i><br>
<p>
I don't actuually know; I was going to use that as my starting point though.<br>
<p>
Erik<br>
<p>
-------------------------------------------------------------------------------<br>
<i>| "Psychopaths kill for no reason: I kill for money." -- Grosse Pointe Blank  |</i><br>
<i>|                                                                             |</i><br>
<i>|       Erik Troan   =   <a href="mailto:ewt@redhat.com">ewt@redhat.com</a>     =    ewt@sunsite.unc.edu          |</i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Christophe Zwecker: "Re: what is backtracking ?"</a>
<li> <b>Previous message:</b> <a href="0161.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Logitech handheld scaner???"</a>
<li> <b>In reply to:</b> <a href="0162.html">Erik Troan: "Re: Logitech handheld scaner???"</a>
<!-- nextthread="start" -->
<li> <b>Reply:</b> <a href="0162.html">Erik Troan: "Re: Logitech handheld scaner???"</a>
<!-- reply="end" -->
</ul>
