<!-- received="Mon Jun 30 09:50:41 1997 MST" -->
<!-- sent="Mon, 30 Jun 1997 15:51:39 +0200" -->
<!-- name="Frank Weigel" -->
<!-- email="frank@frawei.inka.de" -->
<!-- subject="problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning" -->
<!-- id="199706301527.IAA30014@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning</title>
<h1>problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning</h1>
<b>Frank Weigel</b> (<a href="mailto:frank@frawei.inka.de"><i>frank@frawei.inka.de</i></a>)<br>
<i>Mon, 30 Jun 1997 15:51:39 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#171">[ date ]</a><a href="index.html#171">[ thread ]</a><a href="subject.html#171">[ subject ]</a><a href="author.html#171">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">David Mosberger-Tang: "Re: problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning"</a>
<li> <b>Previous message:</b> <a href="0170.html">David Mosberger-Tang: "forwarded message from Andre Kunth"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi folks,<br>
<p>
I've got some problems scanning in color. Every time I want to scan I<br>
get the message: "Failed to start scanner: Error during device I/O"<br>
after the first pass(red data).<br>
Scanning in grayscale is working well. =<br>
<p>
I know that this was a problem in versions before 0.54, but I've got<br>
0.6!<br>
I increased the timeout-value in the kernel module although I don't get<br>
the "NCR dead?"-message.<br>
Maybe someone can help me?<br>
<p>
Thanks in advance and bye,<br>
<p>
Frank<br>
<pre>
--
"2000 Jahre rumhaengen ist sowieso kein Vorbild f=FCr deutsche
Schueler..."
                              F. Kueppersbusch zum Kruzifix(urteil)
WWW: <a href="http://www.inka.de/~frawei/">http://www.inka.de/~frawei/</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">David Mosberger-Tang: "Re: problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning"</a>
<li> <b>Previous message:</b> <a href="0170.html">David Mosberger-Tang: "forwarded message from Andre Kunth"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
