<title>sane-devel by subject</title>
<a name="start"><h1>sane-devel by subject</h1></a>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<b>Starting:</b> <i>Wed 14 May 1997 - 17:53:44 MST</i><br>
<b>Ending:</b> <i>Mon 30 Jun 1997 - 10:06:02 MST</i><br>
<b>Messages:</b> 173
<p>
<ul>
<li> <b>600II-CD and AVA-1505</b>
<ul>
<li> <a href="0143.html">Mathias Weigt</a> <a name="143"><i>Tue, 24 Jun 1997 08:15:16 +0200</i></a>
</ul>
<li> <b>600II-CD und AVA-1505</b>
<ul>
<li> <a href="0142.html">David Mosberger-Tang</a> <a name="142"><i>Mon, 23 Jun 1997 20:42:01 -0700</i></a>
</ul>
<ul>
<li> <a href="0139.html">Marc Roland</a> <a name="139"><i>Tue, 24 Jun 1997 04:44:11 +0200</i></a>
</ul>
<li> <b>a priori image dimensions</b>
<ul>
<li> <a href="0020.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="20"><i>Mon, 26 May 1997 19:19:24 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0019.html">David Mosberger-Tang</a> <a name="19"><i>Mon, 26 May 1997 09:43:57 -0700</i></a>
</ul>
<ul>
<li> <a href="0018.html">Gordon Matzigkeit</a> <a name="18"><i>26 May 1997 09:44:37 -0600</i></a>
</ul>
<li> <b>B&amp;W qcam with SANE 0.6</b>
<ul>
<li> <a href="0108.html">Andrew Kuchling</a> <a name="108"><i>Tue, 17 Jun 1997 19:00:49 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0107.html">David Mosberger-Tang</a> <a name="107"><i>Tue, 17 Jun 1997 15:41:24 -0700</i></a>
</ul>
<ul>
<li> <a href="0106.html">Guido Muesch</a> <a name="106"><i>Wed, 18 Jun 1997 00:33:08 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0105.html">David Mosberger-Tang</a> <a name="105"><i>Tue, 17 Jun 1997 15:04:35 -0700</i></a>
</ul>
<ul>
<li> <a href="0104.html">Andrew Kuchling</a> <a name="104"><i>Tue, 17 Jun 1997 17:49:03 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0102.html">David Mosberger-Tang</a> <a name="102"><i>Tue, 17 Jun 1997 14:12:17 -0700</i></a>
</ul>
<ul>
<li> <a href="0101.html">Andrew Kuchling</a> <a name="101"><i>Tue, 17 Jun 1997 17:01:58 -0400 (EDT)</i></a>
</ul>
<li> <b>B&amp;W qcam: Curiouser...</b>
<ul>
<li> <a href="0109.html">Andrew Kuchling</a> <a name="109"><i>Tue, 17 Jun 1997 19:51:45 -0400 (EDT)</i></a>
</ul>
<li> <b>Back end for Epson PhotoPC 500</b>
<ul>
<li> <a href="0068.html">Jeff Tranter</a> <a name="68"><i>Sun, 08 Jun 1997 22:01:57 -0400</i></a>
</ul>
<li> <b>Can't compile sane-0.6 on Linux</b>
<ul>
<li> <a href="0100.html">Guenther Beulshausen</a> <a name="100"><i>Tue, 17 Jun 1997 07:33:41 +0200 (MEST)</i></a>
</ul>
<li> <b>Compiling on AIX</b>
<ul>
<li> <a href="0169.html">Rogan Dawes</a> <a name="169"><i>Mon, 30 Jun 1997 09:46:33 +0200</i></a>
</ul>
<li> <b>Driver for Genius Color Page-CS</b>
<ul>
<li> <a href="0060.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="60"><i>Wed, 4 Jun 1997 20:02:14 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0058.html">Rildo Pragana</a> <a name="58"><i>Wed, 4 Jun 1997 11:14:58 -0300 (EST)</i></a>
</ul>
<li> <b>forwarded message from Andre Kunth</b>
<ul>
<li> <a href="0170.html">David Mosberger-Tang</a> <a name="170"><i>Mon, 30 Jun 1997 08:27:53 -0700</i></a>
</ul>
<li> <b>gtk</b>
<ul>
<li> <a href="0005.html">Fritz Jetzek</a> <a name="5"><i>Mon, 19 May 1997 01:24:54 +0200</i></a>
</ul>
<li> <b>GTK and the curve widget</b>
<ul>
<li> <a href="0067.html">David Mosberger-Tang</a> <a name="67"><i>Fri, 6 Jun 1997 09:04:19 -0700</i></a>
</ul>
<li> <b>gtk libraries on Linux</b>
<ul>
<li> <a href="0091.html">David Mosberger-Tang</a> <a name="91"><i>Sun, 15 Jun 1997 10:05:53 -0700</i></a>
</ul>
<li> <b>HP support</b>
<ul>
<li> <a href="0033.html">Gordon Matzigkeit</a> <a name="33"><i>28 May 1997 19:29:00 -0600</i></a>
</ul>
<ul>
<li> <a href="0030.html">David Mosberger-Tang</a> <a name="30"><i>Wed, 28 May 1997 08:58:32 -0700</i></a>
</ul>
<ul>
<li> <a href="0026.html">David Mosberger-Tang</a> <a name="26"><i>Tue, 27 May 1997 17:44:41 -0700</i></a>
</ul>
<ul>
<li> <a href="0025.html">Worawut Wisutmethangoon</a> <a name="25"><i>Tue, 27 May 1997 15:42:19 -0500</i></a>
</ul>
<ul>
<li> <a href="0023.html">David Mosberger-Tang</a> <a name="23"><i>Tue, 27 May 1997 08:41:51 -0700</i></a>
</ul>
<ul>
<li> <a href="0021.html">Dr. Michael Grimm</a> <a name="21"><i>Tue, 27 May 1997 10:21:35 +0000</i></a>
</ul>
<ul>
<li> <a href="0016.html">David Mosberger-Tang</a> <a name="16"><i>Sun, 25 May 1997 17:19:45 -0700</i></a>
</ul>
<ul>
<li> <a href="0012.html">Michael K. Johnson</a> <a name="12"><i>Sun, 25 May 1997 17:05:49 -0400</i></a>
</ul>
<ul>
<li> <a href="0011.html">Worawut Wisutmethangoon</a> <a name="11"><i>Sun, 25 May 1997 15:31:08 -0500</i></a>
</ul>
<ul>
<li> <a href="0010.html">David Mosberger-Tang</a> <a name="10"><i>Sun, 25 May 1997 10:57:40 -0700</i></a>
</ul>
<li> <b>image buffering</b>
<ul>
<li> <a href="0049.html">David Mosberger-Tang</a> <a name="49"><i>Fri, 30 May 1997 08:38:21 -0700</i></a>
</ul>
<ul>
<li> <a href="0045.html">Michael K. Johnson</a> <a name="45"><i>Fri, 30 May 1997 09:05:06 -0400</i></a>
</ul>
<ul>
<li> <a href="0043.html">David Mosberger-Tang</a> <a name="43"><i>Thu, 29 May 1997 20:45:40 -0700</i></a>
</ul>
<ul>
<li> <a href="0042.html">Gordon Matzigkeit</a> <a name="42"><i>29 May 1997 20:47:38 -0600</i></a>
</ul>
<ul>
<li> <a href="0039.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="39"><i>Thu, 29 May 1997 12:44:14 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0038.html">Michael K. Johnson</a> <a name="38"><i>Thu, 29 May 1997 09:38:16 -0400</i></a>
</ul>
<ul>
<li> <a href="0035.html">David Mosberger-Tang</a> <a name="35"><i>Wed, 28 May 1997 20:31:52 -0700</i></a>
</ul>
<ul>
<li> <a href="0032.html">Gordon Matzigkeit</a> <a name="32"><i>28 May 1997 19:25:25 -0600</i></a>
</ul>
<ul>
<li> <a href="0031.html">David Mosberger-Tang</a> <a name="31"><i>Wed, 28 May 1997 09:24:54 -0700</i></a>
</ul>
<ul>
<li> <a href="0029.html">Mathias Weigt</a> <a name="29"><i>Wed, 28 May 1997 17:52:14 +0059 (MDT)</i></a>
</ul>
<li> <b>Logitech handheld scaner???</b>
<ul>
<li> <a href="0164.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="164"><i>Wed, 25 Jun 1997 21:50:28 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0162.html">Erik Troan</a> <a name="162"><i>Wed, 25 Jun 1997 13:26:23 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0161.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="161"><i>Wed, 25 Jun 1997 17:09:51 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0160.html">Erik Troan</a> <a name="160"><i>Wed, 25 Jun 1997 11:47:46 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0159.html">David Mosberger-Tang</a> <a name="159"><i>Wed, 25 Jun 1997 08:01:33 -0700</i></a>
</ul>
<li> <b>Logitech Support ?</b>
<ul>
<li> <a href="0066.html">Bellerophon</a> <a name="66"><i>Thu, 05 Jun 1997 11:19:19 -0400</i></a>
</ul>
<ul>
<li> <a href="0059.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="59"><i>Wed, 4 Jun 1997 14:05:18 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0057.html">Bellerophon</a> <a name="57"><i>Tue, 03 Jun 1997 13:30:56 -0400</i></a>
</ul>
<ul>
<li> <a href="0055.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="55"><i>Tue, 3 Jun 1997 11:04:13 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0054.html">Bellerophon</a> <a name="54"><i>Mon, 02 Jun 1997 14:18:20 -0400</i></a>
</ul>
<ul>
<li> <a href="0050.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="50"><i>Sat, 31 May 1997 16:13:43 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0036.html">David Mosberger-Tang</a> <a name="36"><i>Wed, 28 May 1997 20:42:24 -0700</i></a>
</ul>
<ul>
<li> <a href="0034.html">Bellerophon</a> <a name="34"><i>Wed, 28 May 1997 13:25:50 -0400</i></a>
</ul>
<li> <b>Looking for scanner software</b>
<ul>
<li> <a href="0008.html">David Mosberger-Tang</a> <a name="8"><i>Sun, 25 May 1997 10:36:28 -0700</i></a>
</ul>
<li> <b>Microtek E3 Scanner Support</b>
<ul>
<li> <a href="0152.html">Michael J. Long</a> <a name="152"><i>Tue, 24 Jun 1997 19:58:10 -0400</i></a>
</ul>
<ul>
<li> <a href="0144.html">Music Entertainment Group</a> <a name="144"><i>Tue, 24 Jun 1997 09:07:36 -0700</i></a>
</ul>
<li> <b>Microtek?</b>
<ul>
<li> <a href="0065.html">Michael J. Long</a> <a name="65"><i>Thu, 05 Jun 1997 19:47:17 -0400</i></a>
</ul>
<ul>
<li> <a href="0064.html">Hallow</a> <a name="64"><i>Thu, 05 Jun 1997 13:55:06 -0400</i></a>
</ul>
<li> <b>Mustek 600CD &amp; Buslogic  error on sane 0.6</b>
<ul>
<li> <a href="0136.html">David Mosberger-Tang</a> <a name="136"><i>Mon, 23 Jun 1997 08:26:12 -0700</i></a>
</ul>
<ul>
<li> <a href="0135.html">Christophe Zwecker</a> <a name="135"><i>Mon, 23 Jun 1997 10:28:49 +0200</i></a>
</ul>
<li> <b>Mustek 600CD &amp; Buslogic error on sane 0.6</b>
<ul>
<li> <a href="0138.html">David Mosberger-Tang</a> <a name="138"><i>Mon, 23 Jun 1997 15:02:10 -0700</i></a>
</ul>
<ul>
<li> <a href="0137.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="137"><i>Mon, 23 Jun 1997 18:12:24 +0200 (MET DST)</i></a>
</ul>
<li> <b>Mustek MFS-08000SP</b>
<ul>
<li> <a href="0114.html">David Mosberger-Tang</a> <a name="114"><i>Wed, 18 Jun 1997 12:55:35 -0700</i></a>
</ul>
<ul>
<li> <a href="0113.html">William L. Sebok</a> <a name="113"><i>Wed, 18 Jun 1997 15:31:25 -0400 (EDT)</i></a>
</ul>
<li> <b>Mustek Paragon II CD works</b>
<ul>
<li> <a href="0056.html">David Mosberger-Tang</a> <a name="56"><i>Tue, 3 Jun 1997 10:18:49 -0700</i></a>
</ul>
<li> <b>Mustek's DTCT-436E doesn't run under Linux</b>
<ul>
<li> <a href="0071.html">David Mosberger-Tang</a> <a name="71"><i>Tue, 10 Jun 1997 08:52:58 -0700</i></a>
</ul>
<ul>
<li> <a href="0069.html">Christoph Lorenz</a> <a name="69"><i>Tue, 10 Jun 1997 13:35:37 +0200 (METDST)</i></a>
</ul>
<li> <b>mustek-probs: color, preview</b>
<ul>
<li> <a href="0048.html">David Mosberger-Tang</a> <a name="48"><i>Fri, 30 May 1997 08:16:17 -0700</i></a>
</ul>
<ul>
<li> <a href="0044.html">Andreas Gaumann</a> <a name="44"><i>Fri, 30 May 1997 10:27:35 +0100 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0017.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="17"><i>Mon, 26 May 1997 00:02:04 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0014.html">Thomas Blume</a> <a name="14"><i>Mon, 26 May 1997 00:26:59 +0200</i></a>
</ul>
<ul>
<li> <a href="0007.html">David Mosberger-Tang</a> <a name="7"><i>Sun, 25 May 1997 10:18:04 -0700</i></a>
</ul>
<li> <b>Need help for HP scanjet backend</b>
<ul>
<li> <a href="0112.html">nogaya@mbox.kyoto-inet.or.jp</a> <a name="112"><i>Thu, 19 Jun 1997 03:54:18 +0900</i></a>
</ul>
<li> <b>new SANE home</b>
<ul>
<li> <a href="0165.html">David Mosberger-Tang</a> <a name="165"><i>Wed, 25 Jun 1997 20:01:29 -0700</i></a>
</ul>
<li> <b>News from Mustek 600 II CD</b>
<ul>
<li> <a href="0001.html">David Mosberger-Tang</a> <a name="1"><i>Wed, 14 May 1997 19:32:55 -0700</i></a>
</ul>
<li> <b>Problem compiling umax-driver with glibc-2.03</b>
<ul>
<li> <a href="0131.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="131"><i>Sun, 22 Jun 1997 01:32:35 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0129.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="129"><i>Sat, 21 Jun 1997 23:22:49 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0128.html">Andrew Kuchling</a> <a name="128"><i>Sat, 21 Jun 1997 16:09:26 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0127.html">Michael K. Johnson</a> <a name="127"><i>Sat, 21 Jun 1997 13:01:47 -0400</i></a>
</ul>
<ul>
<li> <a href="0126.html">Michael K. Johnson</a> <a name="126"><i>Sat, 21 Jun 1997 12:39:14 -0400</i></a>
</ul>
<ul>
<li> <a href="0125.html">David Mosberger-Tang</a> <a name="125"><i>Sat, 21 Jun 1997 09:23:28 -0700</i></a>
</ul>
<ul>
<li> <a href="0124.html">David Mosberger-Tang</a> <a name="124"><i>Sat, 21 Jun 1997 09:21:51 -0700</i></a>
</ul>
<ul>
<li> <a href="0123.html">Michael K. Johnson</a> <a name="123"><i>Sat, 21 Jun 1997 12:03:20 -0400</i></a>
</ul>
<ul>
<li> <a href="0122.html">David Mosberger-Tang</a> <a name="122"><i>Sat, 21 Jun 1997 08:45:42 -0700</i></a>
</ul>
<ul>
<li> <a href="0121.html">Mathias Weigt</a> <a name="121"><i>Sat, 21 Jun 1997 13:50:50 +0059 (MDT)</i></a>
</ul>
<li> <b>problems with mscan-0.1 and paragon 600IICD</b>
<ul>
<li> <a href="0015.html">David Mosberger-Tang</a> <a name="15"><i>Sun, 25 May 1997 17:00:38 -0700</i></a>
</ul>
<ul>
<li> <a href="0013.html">Thomas Blume</a> <a name="13"><i>Mon, 26 May 1997 00:05:12 +0200</i></a>
</ul>
<ul>
<li> <a href="0006.html">David Mosberger-Tang</a> <a name="6"><i>Sun, 25 May 1997 09:18:45 -0700</i></a>
</ul>
<li> <b>Problems with sane-0.6/UMAX S-12 and gimp 0.99.10</b>
<ul>
<li> <a href="0134.html">Clemens Oertel</a> <a name="134"><i>Sun, 22 Jun 1997 18:50:09 +0200 (CEST)</i></a>
</ul>
<ul>
<li> <a href="0133.html">David Mosberger-Tang</a> <a name="133"><i>Sun, 22 Jun 1997 08:39:34 -0700</i></a>
</ul>
<ul>
<li> <a href="0132.html">Guenther Beulshausen</a> <a name="132"><i>Sun, 22 Jun 1997 14:25:26 +0200 (MEST)</i></a>
</ul>
<li> <b>problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning</b>
<ul>
<li> <a href="0172.html">David Mosberger-Tang</a> <a name="172"><i>Mon, 30 Jun 1997 09:55:32 -0700</i></a>
</ul>
<ul>
<li> <a href="0171.html">Frank Weigel</a> <a name="171"><i>Mon, 30 Jun 1997 15:51:39 +0200</i></a>
</ul>
<li> <b>Question regarding known support: HP1150C Officejet PPA scanner</b>
<ul>
<li> <a href="0037.html">David Mosberger-Tang</a> <a name="37"><i>Wed, 28 May 1997 20:47:21 -0700</i></a>
</ul>
<ul>
<li> <a href="0024.html">Rick Stuart</a> <a name="24"><i>Tue, 27 May 1997 15:28:14 -0500</i></a>
</ul>
<li> <b>Questions on SANE - backend for Epson PhotoPC</b>
<ul>
<li> <a href="0141.html">David Mosberger-Tang</a> <a name="141"><i>Mon, 23 Jun 1997 20:08:08 -0700</i></a>
</ul>
<ul>
<li> <a href="0140.html">Jeff Tranter</a> <a name="140"><i>Mon, 23 Jun 1997 22:40:37 -0400</i></a>
</ul>
<li> <b>QuickCam bit depth wired to 8: why?</b>
<ul>
<li> <a href="0120.html">Andrew Kuchling</a> <a name="120"><i>Thu, 19 Jun 1997 13:09:18 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0119.html">David Mosberger-Tang</a> <a name="119"><i>Wed, 18 Jun 1997 16:36:49 -0700</i></a>
</ul>
<ul>
<li> <a href="0118.html">David Mosberger-Tang</a> <a name="118"><i>Wed, 18 Jun 1997 16:28:12 -0700</i></a>
</ul>
<ul>
<li> <a href="0117.html">Andrew Kuchling</a> <a name="117"><i>Wed, 18 Jun 1997 19:14:37 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0116.html">David Mosberger-Tang</a> <a name="116"><i>Wed, 18 Jun 1997 15:46:19 -0700</i></a>
</ul>
<ul>
<li> <a href="0115.html">Andrew Kuchling</a> <a name="115"><i>Wed, 18 Jun 1997 18:12:08 -0400 (EDT)</i></a>
</ul>
<li> <b>RE: Microtek E3 Scanner Support</b>
<ul>
<li> <a href="0156.html">Warren Early</a> <a name="156"><i>Tue, 24 Jun 1997 19:12:03 -0700</i></a>
</ul>
<ul>
<li> <a href="0145.html">Clemens Oertel</a> <a name="145"><i>Tue, 24 Jun 1997 20:40:41 +0200 (CEST)</i></a>
</ul>
<li> <b>Ricoh FS2</b>
<ul>
<li> <a href="0168.html">David Mosberger-Tang</a> <a name="168"><i>Sun, 29 Jun 1997 18:19:10 -0700</i></a>
</ul>
<ul>
<li> <a href="0167.html">Bj|rn Augustsson</a> <a name="167"><i>Mon, 30 Jun 1997 02:35:40 +0200 (MET DST)</i></a>
</ul>
<li> <b>SANE 0.57 on Solaris 2.5</b>
<ul>
<li> <a href="0072.html">David Mosberger-Tang</a> <a name="72"><i>Tue, 10 Jun 1997 08:56:09 -0700</i></a>
</ul>
<ul>
<li> <a href="0070.html">Tristan Tarrant</a> <a name="70"><i>Tue, 10 Jun 1997 15:42:48 -0100 (GMT)</i></a>
</ul>
<li> <b>SANE 0.6 configure</b>
<ul>
<li> <a href="0103.html">Guido Muesch</a> <a name="103"><i>Tue, 17 Jun 1997 23:46:38 +0200 (MET DST)</i></a>
</ul>
<li> <b>sane compile probs with gtk</b>
<ul>
<li> <a href="0166.html">Christophe Zwecker</a> <a name="166"><i>Thu, 26 Jun 1997 04:55:52 +0200</i></a>
</ul>
<ul>
<li> <a href="0158.html">David Mosberger-Tang</a> <a name="158"><i>Wed, 25 Jun 1997 07:26:41 -0700</i></a>
</ul>
<ul>
<li> <a href="0154.html">David Mosberger-Tang</a> <a name="154"><i>Tue, 24 Jun 1997 17:27:39 -0700</i></a>
</ul>
<ul>
<li> <a href="0151.html">Christophe Zwecker</a> <a name="151"><i>25 Jun 1997 01:49:27 +0200</i></a>
</ul>
<ul>
<li> <a href="0148.html">David Mosberger-Tang</a> <a name="148"><i>Tue, 24 Jun 1997 16:00:13 -0700</i></a>
</ul>
<ul>
<li> <a href="0146.html">Christophe Zwecker</a> <a name="146"><i>Tue, 24 Jun 1997 23:39:12 +0200</i></a>
</ul>
<li> <b>SANE hp driver</b>
<ul>
<li> <a href="0009.html">David Mosberger-Tang</a> <a name="9"><i>Sun, 25 May 1997 10:38:26 -0700</i></a>
</ul>
<li> <b>Sane newbie questions..</b>
<ul>
<li> <a href="0062.html">Guido Muesch</a> <a name="62"><i>Thu, 5 Jun 1997 09:51:39 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0061.html">Jim Chisholm</a> <a name="61"><i>Wed, 4 Jun 1997 22:56:21 -0300 (ADT)</i></a>
</ul>
<li> <b>Sane newbie questions..]</b>
<ul>
<li> <a href="0063.html">Gordon Matzigkeit</a> <a name="63"><i>05 Jun 1997 10:35:19 -0600</i></a>
</ul>
<li> <b>Sane on NeXT/OpenStep - a plea for help</b>
<ul>
<li> <a href="0099.html">David Mosberger-Tang</a> <a name="99"><i>Mon, 16 Jun 1997 15:02:44 -0700</i></a>
</ul>
<ul>
<li> <a href="0098.html">Raymond A. Ingles</a> <a name="98"><i>Mon, 16 Jun 1997 15:49:37 -0400 (EDT)</i></a>
</ul>
<ul>
<li> <a href="0097.html">David Mosberger-Tang</a> <a name="97"><i>Sun, 15 Jun 1997 16:33:29 -0700</i></a>
</ul>
<ul>
<li> <a href="0096.html">Gordon Matzigkeit</a> <a name="96"><i>15 Jun 1997 17:12:59 -0600</i></a>
</ul>
<ul>
<li> <a href="0092.html">Neville Wilford</a> <a name="92"><i>Sun, 15 Jun 97 15:36:33 +0100</i></a>
</ul>
<ul>
<li> <a href="0089.html">David Mosberger-Tang</a> <a name="89"><i>Sun, 15 Jun 1997 09:20:34 -0700</i></a>
</ul>
<ul>
<li> <a href="0088.html">Neville Wilford</a> <a name="88"><i>Sun, 15 Jun 97 16:19:53 +0100</i></a>
</ul>
<ul>
<li> <a href="0083.html">Gordon Matzigkeit</a> <a name="83"><i>14 Jun 1997 22:20:38 -0600</i></a>
</ul>
<ul>
<li> <a href="0082.html">Michael K. Johnson</a> <a name="82"><i>Sat, 14 Jun 1997 20:50:05 -0400</i></a>
</ul>
<ul>
<li> <a href="0081.html">Neville Wilford</a> <a name="81"><i>Sun, 15 Jun 97 00:45:28 +0100</i></a>
</ul>
<li> <b>SANE v0.6 released!</b>
<ul>
<li> <a href="0080.html">David Mosberger-Tang</a> <a name="80"><i>Sat, 14 Jun 1997 15:19:27 -0700</i></a>
</ul>
<li> <b>sane-0.57 available</b>
<ul>
<li> <a href="0003.html">David Mosberger-Tang</a> <a name="3"><i>Thu, 15 May 1997 07:25:35 -0700</i></a>
</ul>
<ul>
<li> <a href="0002.html">Matthias Lautner</a> <a name="2"><i>Thu, 15 May 1997 09:39:24 +0200 (MET DST)</i></a>
</ul>
<li> <b>sane-0.6.tar.gz is bad</b>
<ul>
<li> <a href="0087.html">Michael K. Johnson</a> <a name="87"><i>Sun, 15 Jun 1997 11:13:01 -0400</i></a>
</ul>
<ul>
<li> <a href="0085.html">David Mosberger-Tang</a> <a name="85"><i>Sat, 14 Jun 1997 21:52:28 -0700</i></a>
</ul>
<ul>
<li> <a href="0084.html">Gordon Matzigkeit</a> <a name="84"><i>14 Jun 1997 22:37:46 -0600</i></a>
</ul>
<li> <b>SANE/TWAIN</b>
<ul>
<li> <a href="0028.html">David Mosberger-Tang</a> <a name="28"><i>Tue, 27 May 1997 19:38:32 -0700</i></a>
</ul>
<ul>
<li> <a href="0027.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="27"><i>Wed, 28 May 1997 00:27:10 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0022.html">David Mosberger-Tang</a> <a name="22"><i>Tue, 27 May 1997 08:29:23 -0700</i></a>
</ul>
<li> <b>ScanJet 4p and sane</b>
<ul>
<li> <a href="0004.html">David Mosberger-Tang</a> <a name="4"><i>Thu, 15 May 1997 10:40:15 -0700</i></a>
</ul>
<li> <b>ScanJet 5p working with SANE</b>
<ul>
<li> <a href="0093.html">David Mosberger-Tang</a> <a name="93"><i>Sun, 15 Jun 1997 11:21:01 -0700</i></a>
</ul>
<ul>
<li> <a href="0090.html">David Mosberger-Tang</a> <a name="90"><i>Sun, 15 Jun 1997 09:25:27 -0700</i></a>
</ul>
<ul>
<li> <a href="0086.html">Sascha Ziemann</a> <a name="86"><i>Sun, 15 Jun 1997 10:20:19 +0200</i></a>
</ul>
<ul>
<li> <a href="0079.html">David Mosberger-Tang</a> <a name="79"><i>Fri, 13 Jun 1997 08:00:22 -0700</i></a>
</ul>
<ul>
<li> <a href="0078.html">David Mosberger-Tang</a> <a name="78"><i>Fri, 13 Jun 1997 08:02:56 -0700</i></a>
</ul>
<ul>
<li> <a href="0075.html">Sascha Ziemann</a> <a name="75"><i>Thu, 12 Jun 1997 17:26:56 +0200</i></a>
</ul>
<ul>
<li> <a href="0074.html">David Mosberger-Tang</a> <a name="74"><i>Thu, 12 Jun 1997 08:11:35 -0700</i></a>
</ul>
<ul>
<li> <a href="0073.html">Rodger Donaldson</a> <a name="73"><i>Thu, 12 Jun 1997 10:29:39 +1200</i></a>
</ul>
<li> <b>Scanner and Printer - Copier</b>
<ul>
<li> <a href="0000.html">David Mosberger-Tang</a> <a name="0"><i>Wed, 14 May 1997 17:43:42 -0700</i></a>
</ul>
<li> <b>small change to network protocol</b>
<ul>
<li> <a href="0053.html">David Mosberger-Tang</a> <a name="53"><i>Mon, 2 Jun 1997 10:36:13 -0700</i></a>
</ul>
<ul>
<li> <a href="0052.html">becka@sunserver1.rz.uni-duesseldorf.de</a> <a name="52"><i>Mon, 2 Jun 1997 08:11:47 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0051.html">David Mosberger-Tang</a> <a name="51"><i>Sun, 1 Jun 1997 15:07:04 -0700</i></a>
</ul>
<li> <b>strange library problems solved</b>
<ul>
<li> <a href="0149.html">David Mosberger-Tang</a> <a name="149"><i>Tue, 24 Jun 1997 16:02:36 -0700</i></a>
</ul>
<ul>
<li> <a href="0147.html">Guido Muesch</a> <a name="147"><i>Wed, 25 Jun 1997 00:31:32 +0200 (MET DST)</i></a>
</ul>
<li> <b>umax-backend</b>
<ul>
<li> <a href="0130.html">orauch@physik.uni-osnabrueck.de</a> <a name="130"><i>Sun, 22 Jun 1997 02:19:32 +0200 (MET DST)</i></a>
</ul>
<ul>
<li> <a href="0077.html">Tristan Tarrant</a> <a name="77"><i>Fri, 13 Jun 1997 14:23:07 -0100 (GMT)</i></a>
</ul>
<ul>
<li> <a href="0076.html">orauch@physik.uni-osnabrueck.de</a> <a name="76"><i>Fri, 13 Jun 1997 09:16:07 +0200 (MET DST)</i></a>
</ul>
<li> <b>Unidentified subject!</b>
<ul>
<li> <a href="0111.html">Mathias Weigt</a> <a name="111"><i>Wed, 18 Jun 1997 19:26:49 +0059 (MDT)</i></a>
</ul>
<li> <b>what is backtracking ?</b>
<ul>
<li> <a href="0163.html">Christophe Zwecker</a> <a name="163"><i>25 Jun 1997 20:11:50 +0200</i></a>
</ul>
<ul>
<li> <a href="0157.html">Michael J. Long</a> <a name="157"><i>Wed, 25 Jun 1997 09:16:30 -0400</i></a>
</ul>
<ul>
<li> <a href="0150.html">Christophe Zwecker</a> <a name="150"><i>25 Jun 1997 01:55:42 +0200</i></a>
</ul>
<li> <b>xcam/xscanimage hangs w/ SANE 0.57</b>
<ul>
<li> <a href="0047.html">David Mosberger-Tang</a> <a name="47"><i>Fri, 30 May 1997 08:00:46 -0700</i></a>
</ul>
<ul>
<li> <a href="0046.html">Mark Cornick</a> <a name="46"><i>Fri, 30 May 1997 09:21:41 -0400</i></a>
</ul>
<ul>
<li> <a href="0041.html">David Mosberger-Tang</a> <a name="41"><i>Thu, 29 May 1997 16:22:04 -0700</i></a>
</ul>
<ul>
<li> <a href="0040.html">Mark Cornick</a> <a name="40"><i>Thu, 29 May 1997 17:37:53 -0400</i></a>
</ul>
<li> <b>xscanimage - how to make device default</b>
<ul>
<li> <a href="0155.html">David Mosberger-Tang</a> <a name="155"><i>Tue, 24 Jun 1997 17:31:55 -0700</i></a>
</ul>
<ul>
<li> <a href="0153.html">Christophe Zwecker</a> <a name="153"><i>Wed, 25 Jun 1997 01:58:37 +0200</i></a>
</ul>
<li> <b>xscanimage redraw-error</b>
<ul>
<li> <a href="0095.html">David Mosberger-Tang</a> <a name="95"><i>Sun, 15 Jun 1997 14:34:19 -0700</i></a>
</ul>
<ul>
<li> <a href="0094.html">orauch@physik.uni-osnabrueck.de</a> <a name="94"><i>Sun, 15 Jun 1997 22:34:59 +0200 (MET DST)</i></a>
</ul>
<li> <b>You have been removed from the list</b>
<ul>
<li> <a href="0110.html">David Mosberger-Tang</a> <a name="110"><i>Tue, 17 Jun 1997 17:37:57 -0700</i></a>
</ul>
</ul>
<p>
<b>Last message date:</b> <i>Mon 30 Jun 1997 - 10:06:02 MST</i><br>
<b>Archived on:</b> <i>Tue Sep 30 1997 - 21:19:24 MST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#start">[ date ]</a><a href="index.html#start">[ thread ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
