<!-- received="Mon Jan  5 06:32:05 1998 PST" -->
<!-- sent="Mon, 05 Jan 1998 09:32:30 -0500" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: condition codes, /dev/sg, and Linux" -->
<!-- id="199801051432.JAA19209@tristan.redhat.com" -->
<!-- inreplyto="condition codes, /dev/sg, and Linux" -->
<title>sane-devel: Re: condition codes, /dev/sg, and Linux</title>
<h1>Re: condition codes, /dev/sg, and Linux</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Mon, 05 Jan 1998 09:32:30 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#9">[ date ]</a><a href="index.html#9">[ thread ]</a><a href="subject.html#9">[ subject ]</a><a href="author.html#9">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">Bernd Johannes Wuebben: "Re: UMAX 1200S SCSI CARD"</a>
<li> <b>Previous message:</b> <a href="0008.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S SCSI CARD"</a>
<li> <b>Maybe in reply to:</b> <a href="0005.html">Matto Marjanovic: "condition codes, /dev/sg, and Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Matto Marjanovic writes:<br>
<i>&gt;ps:  Anyone have any experience with Advansys SCSI cards (e.g. PB-940U)?</i><br>
<i>&gt;     They appear to be bus-mastering, cheap, and Advansys itself wrote the</i><br>
<i>&gt;      Linux driver, but no mention is made in any HOWTO's....</i><br>
<p>
I have no experience with the error handling in the Advansys driver<br>
(which is critical with most scanners) but otherwise they seem fine.<br>
Advansys sent us a board long ago for us to include in out distribution<br>
testing here at Red Hat, and it works fine when we've tested with it.<br>
I've done no performance tests.<br>
<p>
michaelkjohnson<br>
<p>
"Magazines all too frequently lead to books and should be regarded by the<br>
 prudent as the heavy petting of literature."            -- Fran Lebowitz<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">Bernd Johannes Wuebben: "Re: UMAX 1200S SCSI CARD"</a>
<li> <b>Previous message:</b> <a href="0008.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S SCSI CARD"</a>
<li> <b>Maybe in reply to:</b> <a href="0005.html">Matto Marjanovic: "condition codes, /dev/sg, and Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
