<!-- received="Thu Jan  8 13:12:29 1998 PST" -->
<!-- sent="Thu, 8 Jan 1998 21:47:48 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMAX 1200S SCSI CARD" -->
<!-- id="199801082047.VAA00231@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.96.980107204321.1597A-100000@swamp.bayern.net" -->
<title>sane-devel: Re: UMAX 1200S SCSI CARD</title>
<h1>Re: UMAX 1200S SCSI CARD</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Thu, 8 Jan 1998 21:47:48 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#30">[ date ]</a><a href="index.html#30">[ thread ]</a><a href="subject.html#30">[ subject ]</a><a href="author.html#30">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Michael Taht: "Sane-&gt;TWAIN"</a>
<li> <b>Previous message:</b> <a href="0029.html">A. Leidenfrost: "Re: UMAX 1200S SCSI CARD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Peter,<br>
<p>
<i>&gt; that's weird - I also use a NCR 810 based card (ASUS SC200) with</i><br>
<i>&gt; a harddisk, a tape drive and a scanner (Umax Astra 1200)</i><br>
<i>&gt; connected to it; during a scan, disk access is slower, but</i><br>
<i>&gt; certainly possible...</i><br>
<p>
Which scsi-driver do you use and which options did you use<br>
for compiling the driver?<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0031.html">Michael Taht: "Sane-&gt;TWAIN"</a>
<li> <b>Previous message:</b> <a href="0029.html">A. Leidenfrost: "Re: UMAX 1200S SCSI CARD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
