<!-- received="Mon Jan 12 14:23:52 1998 PST" -->
<!-- sent="Mon, 12 Jan 1998 23:23:00 +0100" -->
<!-- name="Nicolas Lucas de Peslouan" -->
<!-- email="nlp@usa.net" -->
<!-- subject="Re: Scanning in color (30 bits) with Linux." -->
<!-- id="" -->
<!-- inreplyto="Scanning in color (30 bits) with Linux." -->
<title>sane-devel: Re: Scanning in color (30 bits) with Linux.</title>
<h1>Re: Scanning in color (30 bits) with Linux.</h1>
<b>Nicolas Lucas de Peslouan</b> (<a href="mailto:nlp@usa.net"><i>nlp@usa.net</i></a>)<br>
<i>Mon, 12 Jan 1998 23:23:00 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Dan Sugalski: "Mustek 600 III EP plus"</a>
<li> <b>Previous message:</b> <a href="0039.html">Oliver.Rauch@Wolfsburg.DE: "Re: Scanning in color (30 bits) with Linux."</a>
<li> <b>Maybe in reply to:</b> <a href="0038.html">Nicolas Lucas de Peslouan: "Scanning in color (30 bits) with Linux."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oups !<br>
<p>
You should have read "Colors 24 bits", not "Color : 30 bits".<br>
(Is there anyone that plan to scan with 30 bits at only 300 dpi ?? :-)<br>
<p>
Nicolas Lucas de Peslouan wrote:<br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Color : 30 bits,</i><br>
<i>&gt; Resolution : 300x300 at least,</i><br>
<i>&gt; single pass,</i><br>
<i>&gt; Linux supported SCSI card included, or</i><br>
<i>&gt; well-known cheap SCSI card (cable) supported by the scanner (and of</i><br>
<i>&gt; course by Linux).</i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Dan Sugalski: "Mustek 600 III EP plus"</a>
<li> <b>Previous message:</b> <a href="0039.html">Oliver.Rauch@Wolfsburg.DE: "Re: Scanning in color (30 bits) with Linux."</a>
<li> <b>Maybe in reply to:</b> <a href="0038.html">Nicolas Lucas de Peslouan: "Scanning in color (30 bits) with Linux."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
