<!-- received="Wed Jan 14 09:51:08 1998 PST" -->
<!-- sent="Wed, 14 Jan 1998 09:51:07 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Probable Bugs &amp; Suggestions" -->
<!-- id="199801141751.JAA03726@panda.mostang.com" -->
<!-- inreplyto="199801130815.JAA00686@cave.BitWizard.nl" -->
<title>sane-devel: Re: Probable Bugs &amp; Suggestions</title>
<h1>Re: Probable Bugs &amp; Suggestions</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 14 Jan 1998 09:51:07 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#53">[ date ]</a><a href="index.html#53">[ thread ]</a><a href="subject.html#53">[ subject ]</a><a href="author.html#53">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Gareth J. Greenaway: "Parallel Support?"</a>
<li> <b>Previous message:</b> <a href="0052.html">Andreas Czechanowski: "Re: Problems with Mustek 600 II N"</a>
<li> <b>In reply to:</b> <a href="0045.html">Rogier Wolff: "Re: Probable Bugs &amp; Suggestions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0056.html">becka@rz.uni-duesseldorf.de: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>Reply:</b> <a href="0056.html">becka@rz.uni-duesseldorf.de: "Re: Probable Bugs &amp; Suggestions"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 13 Jan 1998 09:15:50 +0100 (MET), <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> (Rogier Wolff) said:</i><br>
<p>
  Rogier&gt; What is wrong with the backend returning "busy", and a<br>
  Rogier&gt; frontend then having to conclude "oops, can't seem to do<br>
  Rogier&gt; that right now"?<br>
<p>
  Rogier&gt;  + No added options<br>
  Rogier&gt;  + Allows for selective "locking".<br>
  Rogier&gt;  + Minimal intrusion in installed base.<br>
  Rogier&gt;  - frontends must perform a scan to be able to gray out<br>
  Rogier&gt;    invalid options.<br>
<p>
I don't particular like this solution.  A reasonably technical<br>
argument against it is that it would be slow to gray out options when<br>
talking to a scanner over a high-latency/high-bandwidth link.  This is<br>
because for each option a dummy set-option call would have to be<br>
performed, which costs a network roundtrip.<br>
<p>
Also, it is wrong to return SANE_STATUS_DEVICE_BUSY as a result of an<br>
attempt to change an option.  This status value indicates that the<br>
device is busy and retrying the operation after a while may fix the<br>
problem.  This is not the case for options that should remain fixed<br>
during a scan (because retrying the operation will not succeed, unless<br>
the frontend first finished the scan operation).<br>
<p>
Upon reflection, I really prefer the second solution I suggested: we<br>
add a SANE_CAP_ACTIVE_WHILE_SCANNING bit to the option descriptor<br>
capabilities.  That way, backends can indicate which options are to<br>
remain controllable (not grayed out) while a scan is in progress.  I<br>
think this solution has all the advantages without any drawbacks.<br>
It's also simple to realize: only xscanimage and the qcam backend<br>
would have need some changes (the backend changes are trivial).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Gareth J. Greenaway: "Parallel Support?"</a>
<li> <b>Previous message:</b> <a href="0052.html">Andreas Czechanowski: "Re: Problems with Mustek 600 II N"</a>
<li> <b>In reply to:</b> <a href="0045.html">Rogier Wolff: "Re: Probable Bugs &amp; Suggestions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0056.html">becka@rz.uni-duesseldorf.de: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>Reply:</b> <a href="0056.html">becka@rz.uni-duesseldorf.de: "Re: Probable Bugs &amp; Suggestions"</a>
<!-- reply="end" -->
</ul>
