<!-- received="Sat Jan 17 13:00:56 1998 PST" -->
<!-- sent="Sat, 17 Jan 1998 21:59:48 +0100 (CET)" -->
<!-- name="Alexander Schulz" -->
<!-- email="Alexander.Schulz@stud.uni-karlsruhe.de" -->
<!-- subject="Mustek Paragon 1200SP and transparancy" -->
<!-- id="199801172059.VAA01000@silvermine.blue.sky.mining.de" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek Paragon 1200SP and transparancy</title>
<h1>Mustek Paragon 1200SP and transparancy</h1>
<b>Alexander Schulz</b> (<a href="mailto:Alexander.Schulz@stud.uni-karlsruhe.de"><i>Alexander.Schulz@stud.uni-karlsruhe.de</i></a>)<br>
<i>Sat, 17 Jan 1998 21:59:48 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#62">[ date ]</a><a href="index.html#62">[ thread ]</a><a href="subject.html#62">[ subject ]</a><a href="author.html#62">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">David Mosberger-Tang: "Re: Mustek Paragon 1200SP and transparancy"</a>
<li> <b>Previous message:</b> <a href="0061.html">David Mosberger-Tang: "Re: USB support coming soon"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">David Mosberger-Tang: "Re: Mustek Paragon 1200SP and transparancy"</a>
<li> <b>Reply:</b> <a href="0063.html">David Mosberger-Tang: "Re: Mustek Paragon 1200SP and transparancy"</a>
<li> <b>Reply:</b> <a href="0064.html">Alexander Schulz: "Re: Mustek Paragon 1200SP and transparancy"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I recently bought a transparancy-adapter for my Paragon 1200SP.<br>
The problem is now, that the scan area of the adapter is not as big as that<br>
of the scanner. So the scanner automaticaly reduces its scan area to<br>
203x254mm by moving the "head" towards the middle of the scanner whenever<br>
trancparancy is used. It seems the sane backend doesn't know<br>
this and tries to scan the whole area, with the well-known noisy results.<br>
<p>
Is there any way to define the scan area depending on the document type?<br>
Or what else can I do?<br>
<p>
Thanks in advance<br>
       Alexander<br>
<p>
<pre>
-- 
       ,,,
      (o o)
+-oOO--(_)--OOo--/"T"""""""""""""""""""""""""T""""""""""""""""""""""""""""""""T
| Alexander Schulz | Phone: +49 721 812347   | ... denn man ist immer so tot, |
| Bunsenstrasse 11 | EMail: <a href="mailto:un23@rz.uni-">un23@rz.uni-</a>     | wie man sich fuehlt!           |
| 76135  Karlsruhe |        karlsruhe.de     | (D. Adams : mostly harmless)   |
+------------------+-------------------------+--------------------------------+
| The system has detected an internal processing error in module REALITY.SYS. |
| Please shut down your universe and reboot.                                  |
+-----------------------------------------------------------------------------+
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">David Mosberger-Tang: "Re: Mustek Paragon 1200SP and transparancy"</a>
<li> <b>Previous message:</b> <a href="0061.html">David Mosberger-Tang: "Re: USB support coming soon"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">David Mosberger-Tang: "Re: Mustek Paragon 1200SP and transparancy"</a>
<li> <b>Reply:</b> <a href="0063.html">David Mosberger-Tang: "Re: Mustek Paragon 1200SP and transparancy"</a>
<li> <b>Reply:</b> <a href="0064.html">Alexander Schulz: "Re: Mustek Paragon 1200SP and transparancy"</a>
<!-- reply="end" -->
</ul>
