<!-- received="Sun Jan 18 10:34:17 1998 PST" -->
<!-- sent="Sun, 18 Jan 1998 19:33:48 +0100 (MET)" -->
<!-- name="Martin Huber" -->
<!-- email="hu@garfield.m.isar.de" -->
<!-- subject="Re: support for HP 6100C" -->
<!-- id="199801181833.TAA03960@garfield.m.isar.de" -->
<!-- inreplyto="support for HP 6100C" -->
<title>sane-devel: Re: support for HP 6100C</title>
<h1>Re: support for HP 6100C</h1>
<b>Martin Huber</b> (<a href="mailto:hu@garfield.m.isar.de"><i>hu@garfield.m.isar.de</i></a>)<br>
<i>Sun, 18 Jan 1998 19:33:48 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#70">[ date ]</a><a href="index.html#70">[ thread ]</a><a href="subject.html#70">[ subject ]</a><a href="author.html#70">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">Martin Huber: "Re: HP C5100 photosmart photoscanner"</a>
<li> <b>Previous message:</b> <a href="0069.html">Frank Kardel: "support for HP 6100C"</a>
<li> <b>Maybe in reply to:</b> <a href="0069.html">Frank Kardel: "support for HP 6100C"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0073.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt; has anyone checked wether the SANE HP support supports the</i><br>
<i>&gt; HP 6100C scanner ?</i><br>
<i>&gt; </i><br>
Try it. You are the first one with this type.<br>
<p>
I wrote a patch for sane-0.68 to run it on solaris.<br>
It works fine with HP II and IV scanners, your model is not testet.<br>
There will be a new sane version including this patch (among other<br>
improvements).<br>
If you are very impatiant, tell me. I will mail you this patch.<br>
<p>
<p>
  --martin<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">Martin Huber: "Re: HP C5100 photosmart photoscanner"</a>
<li> <b>Previous message:</b> <a href="0069.html">Frank Kardel: "support for HP 6100C"</a>
<li> <b>Maybe in reply to:</b> <a href="0069.html">Frank Kardel: "support for HP 6100C"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0073.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- reply="end" -->
</ul>
