<!-- received="Tue Jan 20 12:49:22 1998 PST" -->
<!-- sent="Tue, 20 Jan 1998 14:56:49 -0500 (EST)" -->
<!-- name="Raymond A. Ingles" -->
<!-- email="inglesra@frc.com" -->
<!-- subject="NCR53c8xx timeout change?" -->
<!-- id="Pine.SUN.3.91.980120144317.2866C-100000@alewife" -->
<!-- inreplyto="34C4A665.71098F3A@easysw.com" -->
<title>sane-devel: NCR53c8xx timeout change?</title>
<h1>NCR53c8xx timeout change?</h1>
<b>Raymond A. Ingles</b> (<a href="mailto:inglesra@frc.com"><i>inglesra@frc.com</i></a>)<br>
<i>Tue, 20 Jan 1998 14:56:49 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#97">[ date ]</a><a href="index.html#97">[ thread ]</a><a href="subject.html#97">[ subject ]</a><a href="author.html#97">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">Paul Walker: "RE: Umax Backend."</a>
<li> <b>Previous message:</b> <a href="0096.html">Jonathan Buzzard: "Re: Umax Backend."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0100.html">David Mosberger-Tang: "Re: NCR53c8xx timeout change?"</a>
<li> <b>Reply:</b> <a href="0100.html">David Mosberger-Tang: "Re: NCR53c8xx timeout change?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 I downloaded kernel 2.0.33, and I've been laboring at configuring it. <br>
Changing the SG_BIG_BUFF value to the max is easy enough, and I've done <br>
that.<br>
<p>
 But back in 2.0.30 I also needed to patch the ncr53c8xx.c driver to make <br>
sure that it wouldn't time out in the middle of a long scan. (I have a <br>
Mustek IISP type which doesn't disconnect.) The sane-scsi man page still <br>
says:<br>
<p>
                         ...find  the line "if (np-&gt;latetime&gt;10)"<br>
                     in file ncr53c8xx.c (normally  in  directory<br>
                     /usr/src/linux/drivers/scsi)  and change the<br>
                     constant 10 to, say, 60 (one minute).<br>
<p>
 However, the ncr53c8xx.c file changed somewhere between 2.0.30 and <br>
2.0.32. It now handles timeouts a bit differently...<br>
<p>
                /*----------------------------------------------------<br>
                **<br>
                **      handle ncr chip timeouts<br>
                **<br>
                **      Assumption:<br>
                **      We have a chance to arbitrate for the<br>
                **      SCSI bus at least every 10 seconds.<br>
                **<br>
                **----------------------------------------------------<br>
                */<br>
<p>
                t = (thistime - np-&gt;heartbeat) / HZ;<br>
<p>
                if (t&lt;2) np-&gt;latetime=0; else np-&gt;latetime++;<br>
<p>
 It's not clear (to me, anyway) how to change this updated driver to <br>
allow longer timeouts. Has anyone else run into this problem yet? Does <br>
someone know how to patch this, or should I query the driver maintainer <br>
directly?<br>
<p>
 Sincerely,<br>
<p>
 Ray Ingles          (248) 377-7735      <a href="mailto:ray.ingles@fanucrobotics.com">ray.ingles@fanucrobotics.com</a><br>
<p>
              Anagrams of "FANUC Robotics North America":<br>
<p>
 bun of characteristic maroon             omaha reconstruction fabric<br>
 a cubic transformation chore             cherub fractionation macros<br>
                      cube of anachronistic mortar<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0098.html">Paul Walker: "RE: Umax Backend."</a>
<li> <b>Previous message:</b> <a href="0096.html">Jonathan Buzzard: "Re: Umax Backend."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0100.html">David Mosberger-Tang: "Re: NCR53c8xx timeout change?"</a>
<li> <b>Reply:</b> <a href="0100.html">David Mosberger-Tang: "Re: NCR53c8xx timeout change?"</a>
<!-- reply="end" -->
</ul>
