<!-- received="Wed Jan 21 14:47:14 1998 PST" -->
<!-- sent="Wed, 21 Jan 1998 23:34:06 +0100 (MET)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: Umax Backend." -->
<!-- id="199801212234.XAA04776@cave.BitWizard.nl" -->
<!-- inreplyto="Pine.LNX.3.96.980122054139.3897M-100000@benatar.dunadan.com" -->
<title>sane-devel: Re: Umax Backend.</title>
<h1>Re: Umax Backend.</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Wed, 21 Jan 1998 23:34:06 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#110">[ date ]</a><a href="index.html#110">[ thread ]</a><a href="subject.html#110">[ subject ]</a><a href="author.html#110">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">becka@rz.uni-duesseldorf.de: "find-scanner (fwd)"</a>
<li> <b>Previous message:</b> <a href="0109.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0113.html">David Mosberger-Tang: "Re: Umax Backend."</a>
<li> <b>Reply:</b> <a href="0113.html">David Mosberger-Tang: "Re: Umax Backend."</a>
<li> <b>Reply:</b> <a href="0115.html">William T Wilson: "Re: Umax Backend."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
William T Wilson wrote:<br>
<i>&gt; </i><br>
<i>&gt; On Wed, 21 Jan 1998, Nicolas Lucas de Peslouan wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; space into sane ftp server to store this kind of files, so that anybody</i><br>
<i>&gt; &gt; who want to go and play with some development will have easy access to</i><br>
<i>&gt; </i><br>
<i>&gt; I have put the file up for download.  It is at</i><br>
<i>&gt; <a href="ftp://elendil.dunadan.com/pub/umax.tar.gz">ftp://elendil.dunadan.com/pub/umax.tar.gz</a></i><br>
<p>
Guys, most companies like to keep these specs kind of low-profile. (*)<br>
<p>
So, maybe someone forgot to say "don't distribute this", which might<br>
mean that we can mail it around among interested parties on this<br>
mailinglist, but putting it up for anonymous FTP might get someone<br>
into trouble (possibly the person who got us this information, who<br>
will then NOT give out any more information to keep his job....)<br>
<p>
I therefore suggest that it NOT be put up for general FTP, but quietly<br>
distributed among the subscribers to this list......<br>
<p>
				Roger.<br>
<p>
(*) E.g. I asked for the Tamarack specs (the tamarack backend is in<br>
0.69), but headquarters rejected my request. I finally got them from<br>
the local Tamarack Europe branch, which happens to be here in the<br>
Netherlands. The same seems to apply here: internally the specs are<br>
available, but externally they (officially) aren't. You have to get<br>
lucky and find someone willing to "leak" them.<br>
<p>
<pre>
-- 
** <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> ** +31-15-2137555 ** <a href="http://www.BitWizard.nl/">http://www.BitWizard.nl/</a> **
Florida -- A 39 year old construction worker woke up this morning when a
109-car freight train drove over him. According to the police the man was 
drunk. The man himself claims he slipped while walking the dog. 080897
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">becka@rz.uni-duesseldorf.de: "find-scanner (fwd)"</a>
<li> <b>Previous message:</b> <a href="0109.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0113.html">David Mosberger-Tang: "Re: Umax Backend."</a>
<li> <b>Reply:</b> <a href="0113.html">David Mosberger-Tang: "Re: Umax Backend."</a>
<li> <b>Reply:</b> <a href="0115.html">William T Wilson: "Re: Umax Backend."</a>
<!-- reply="end" -->
</ul>
