<!-- received="Wed Jan 21 22:27:01 1998 PST" -->
<!-- sent="Wed, 21 Jan 1998 22:26:59 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Umax Backend." -->
<!-- id="199801220626.WAA25573@panda.mostang.com" -->
<!-- inreplyto="199801212234.XAA04776@cave.BitWizard.nl" -->
<title>sane-devel: Re: Umax Backend.</title>
<h1>Re: Umax Backend.</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 21 Jan 1998 22:26:59 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#113">[ date ]</a><a href="index.html#113">[ thread ]</a><a href="subject.html#113">[ subject ]</a><a href="author.html#113">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Kevin R. Charter: "Backend for AGFA SnapScan now available."</a>
<li> <b>Previous message:</b> <a href="0112.html">becka@rz.uni-duesseldorf.de: "find-scanner (fwd)"</a>
<li> <b>In reply to:</b> <a href="0110.html">Rogier Wolff: "Re: Umax Backend."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0127.html">Oliver.Rauch@Wolfsburg.DE: "Re: Umax Backend."</a>
<li> <b>Next in thread:</b> <a href="0115.html">William T Wilson: "Re: Umax Backend."</a>
<li> <b>Reply:</b> <a href="0127.html">Oliver.Rauch@Wolfsburg.DE: "Re: Umax Backend."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 21 Jan 1998 23:34:06 +0100 (MET), <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> (Rogier Wolff) said:</i><br>
<p>
  Rogier&gt; William T Wilson wrote:<br>
<i>  &gt;&gt;  On Wed, 21 Jan 1998, Nicolas Lucas de Peslouan wrote:</i><br>
<i>  &gt;&gt; </i><br>
<i>  &gt;&gt; &gt; space into sane ftp server to store this kind of files, so that</i><br>
<i>  &gt;&gt; anybody &gt; who want to go and play with some development will have</i><br>
<i>  &gt;&gt; easy access to</i><br>
<i>  &gt;&gt; </i><br>
<i>  &gt;&gt; I have put the file up for download.  It is at</i><br>
<i>  &gt;&gt; <a href="ftp://elendil.dunadan.com/pub/umax.tar.gz">ftp://elendil.dunadan.com/pub/umax.tar.gz</a></i><br>
<p>
  Rogier&gt; Guys, most companies like to keep these specs kind of<br>
  Rogier&gt; low-profile. (*)<br>
<p>
I think Roger has a point.  If there is reason to believe that Umax<br>
has no problem with wide distribution of these documents, I'd be happy<br>
to make them available on the SANE ftp site.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Kevin R. Charter: "Backend for AGFA SnapScan now available."</a>
<li> <b>Previous message:</b> <a href="0112.html">becka@rz.uni-duesseldorf.de: "find-scanner (fwd)"</a>
<li> <b>In reply to:</b> <a href="0110.html">Rogier Wolff: "Re: Umax Backend."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0127.html">Oliver.Rauch@Wolfsburg.DE: "Re: Umax Backend."</a>
<li> <b>Next in thread:</b> <a href="0115.html">William T Wilson: "Re: Umax Backend."</a>
<li> <b>Reply:</b> <a href="0127.html">Oliver.Rauch@Wolfsburg.DE: "Re: Umax Backend."</a>
<!-- reply="end" -->
</ul>
