<!-- received="Sat Jan 24 13:06:26 1998 PST" -->
<!-- sent="Sat, 24 Jan 1998 16:04:41 EST" -->
<!-- name="Pkirchg" -->
<!-- email="Pkirchg@aol.com" -->
<!-- subject="HP C5100A Photscanner support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP C5100A Photscanner support</title>
<h1>HP C5100A Photscanner support</h1>
<b>Pkirchg</b> (<a href="mailto:Pkirchg@aol.com"><i>Pkirchg@aol.com</i></a>)<br>
<i>Sat, 24 Jan 1998 16:04:41 EST</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#150">[ date ]</a><a href="index.html#150">[ thread ]</a><a href="subject.html#150">[ subject ]</a><a href="author.html#150">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Frederick: "Mustek MFC-600S and SC-200 problems..."</a>
<li> <b>Previous message:</b> <a href="0149.html">Guilhem Lavaux: "[sane, umax] My Vista-S6E doesn't work anymore."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I just got the information that the HP C5100 Photosmart Photoscanner<br>
does really support HP-SCL. So I did some tests on Linux kernel 2.0.21<br>
with the new sane 0.69 and it seems to work. With these tests I got<br>
the following:<br>
<p>
Scanning photos (paper): supported from 75 to 300 dpi<br>
 Problems:<br>
  - aquire preview moves the photo into the scanner.<br>
    Start scan then scans while moving the photo out of the<br>
    scanner. The image is mirrored top to bottom.<br>
    This problem also occurs when scanning slides/negatives.<br>
    Would be nice to be able to mirror the image when reading it in.<br>
  - Halftone and lineart scanning not supported (scanner firmware ?).<br>
    The output file out.pnm is a true-color file with wrong header<br>
    (P4 instead of P6)<br>
  - Setting the scan geometry length to a value larger than the current photo,<br>
    the bottom of the image is filled with rubbish.<br>
<p>
Scanning slides: supported from 100 to 2400 dpi<br>
 Problems:<br>
  - Scanning at less than 300 dpi keeps the image length fixed<br>
    while the image width is scaled (scanner firmware ?).<br>
    I dont care about that.  Noone will use that.<br>
  - Halftone/Lineart scanning not supported (scanner firmware ?).<br>
<p>
Scanning negatives: supported from 100 to 2400 dpi<br>
 Problems:<br>
  - When scanning strips with 5 negatives of size 24x36mm,<br>
    the 5th image shows wrong colours (scanner firmware ?)<br>
  - Halftone/Lineart scanning not supported (scanner firmware ?).<br>
  - Would be nice to show the images invers.<br>
<p>
General problems:<br>
- When changing the scanner between slide/negative/photo-<br>
  mode, xscanimage must be restarted to show the possible scan resolutions<br>
  and scan geometries.<br>
- The Windows 95 software that comes with the scanner has two advantages:<br>
  - show negatives as positives<br>
  - quite good automatic adjustment of brightness/contrast<br>
<p>
But it seems to work. This is what /proc/scsi/scsi tells about the scanner,<br>
if you want to add it to the list of supported devices:<br>
<p>
Host: scsi0 Channel: 00 Id: 02 Lun: 00<br>
  Vendor: HP       Model: C5100A           Rev: R029<br>
  Type:   Processor                        ANSI SCSI revision: 02<br>
<p>
Happy scanning<br>
<p>
Peter Kirchgessner<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Frederick: "Mustek MFC-600S and SC-200 problems..."</a>
<li> <b>Previous message:</b> <a href="0149.html">Guilhem Lavaux: "[sane, umax] My Vista-S6E doesn't work anymore."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
