<!-- received="Sun Jan 25 05:25:15 1998 PST" -->
<!-- sent="Sun, 25 Jan 1998 11:55:50 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: [sane, umax] My Vista-S6E doesn't work anymore." -->
<!-- id="199801251055.LAA00438@Babylon5.wolfsburg.de" -->
<!-- inreplyto="34CA2181.900CC33C@pratique.fr" -->
<title>sane-devel: Re: [sane, umax] My Vista-S6E doesn't work anymore.</title>
<h1>Re: [sane, umax] My Vista-S6E doesn't work anymore.</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sun, 25 Jan 1998 11:55:50 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Frederick: "Re: Mustek MFC-600S and SC-200 problems..."</a>
<li> <b>Previous message:</b> <a href="0154.html">Kevin R. Charter: "AGFA SnapScan version 0.3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; I'm using Linux 2.0.33, Sane 0.69 and a UMAX Vista-S6E scanner: all is</i><br>
<i>&gt; working</i><br>
<i>&gt; fine on Sane 0.68 and when I upgrade to 0.69 the frontends exit with a:</i><br>
<i>&gt; "sane_start: Invalid argument". I've attached the debug outputs with</i><br>
<i>&gt; this</i><br>
<i>&gt; mail. It seems that wdb_length and inquiry_wdb_length is reset to -1 ...</i><br>
<i>&gt; </i><br>
<i>&gt; Any ideas ?</i><br>
<p>
<i>&gt; [umax] ERROR: wdb-length not given</i><br>
<i>&gt; [umax] ERROR: invalid scan-values</i><br>
<p>
Please try the following:<br>
<p>
edit sane-0.69/backends/umax-scsi.c<br>
<p>
serach for umax_do_inquiry<br>
<p>
some lines down, there is a line:<br>
size = get_inquiry_additional_length(us-&gt;buffer) + 4;<br>
<p>
change "4" to "5",<br>
then do:<br>
 touch umax.c<br>
 make<br>
and as root<br>
 make install<br>
<p>
please tell me, if that works again!<br>
<p>
Thanks<br>
Oliver<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Frederick: "Re: Mustek MFC-600S and SC-200 problems..."</a>
<li> <b>Previous message:</b> <a href="0154.html">Kevin R. Charter: "AGFA SnapScan version 0.3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
