<!-- received="Sun Jan 25 10:43:06 1998 PST" -->
<!-- sent="Sun, 25 Jan 1998 19:40:40 +0100" -->
<!-- name="Guilhem Lavaux" -->
<!-- email="ylavaux@pratique.fr" -->
<!-- subject="Re: [sane, umax] My Vista-S6E doesn't work anymore." -->
<!-- id="" -->
<!-- inreplyto="[sane, umax] My Vista-S6E doesn't work anymore." -->
<title>sane-devel: Re: [sane, umax] My Vista-S6E doesn't work anymore.</title>
<h1>Re: [sane, umax] My Vista-S6E doesn't work anymore.</h1>
<b>Guilhem Lavaux</b> (<a href="mailto:ylavaux@pratique.fr"><i>ylavaux@pratique.fr</i></a>)<br>
<i>Sun, 25 Jan 1998 19:40:40 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#159">[ date ]</a><a href="index.html#159">[ thread ]</a><a href="subject.html#159">[ subject ]</a><a href="author.html#159">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">P. Kirchgessner: "Calibration on HP Scanners"</a>
<li> <b>Previous message:</b> <a href="0158.html">Oliver.Rauch@Wolfsburg.DE: "Astra 6X0S-patch available"</a>
<li> <b>Maybe in reply to:</b> <a href="0149.html">Guilhem Lavaux: "[sane, umax] My Vista-S6E doesn't work anymore."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<i>&gt; Please try the following:</i><br>
<i>&gt; </i><br>
<i>&gt; edit sane-0.69/backends/umax-scsi.c</i><br>
<i>&gt; </i><br>
<i>&gt; serach for umax_do_inquiry</i><br>
<i>&gt; </i><br>
<i>&gt; some lines down, there is a line:</i><br>
<i>&gt; size = get_inquiry_additional_length(us-&gt;buffer) + 4;</i><br>
<i>&gt; </i><br>
<i>&gt; change "4" to "5",</i><br>
<i>&gt; then do:</i><br>
<i>&gt;  touch umax.c</i><br>
<i>&gt;  make</i><br>
<i>&gt; and as root</i><br>
<i>&gt;  make install</i><br>
<i>&gt; </i><br>
<i>&gt; please tell me, if that works again!</i><br>
<i>&gt; </i><br>
<i>&gt; Thanks</i><br>
<i>&gt; Oliver</i><br>
<i>&gt; </i><br>
All is working fine now ! Thanks !<br>
<p>
Guilhem.<br>
<pre>
-- 
-----------------------------------|
|   /-\  Yves &amp; Guilhem Lavaux     |
|  /   \       /-\                 |
|-/     \     /   \   /------------|
|        \   /     \-/             |
|         \-/  <a href="mailto:ylavaux@pratique.fr">ylavaux@pratique.fr</a> |
-----------------------------------|
| <a href="http://www.pratique.fr/~ylavaux">http://www.pratique.fr/~ylavaux</a>  |
|----------------------------------|
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">P. Kirchgessner: "Calibration on HP Scanners"</a>
<li> <b>Previous message:</b> <a href="0158.html">Oliver.Rauch@Wolfsburg.DE: "Astra 6X0S-patch available"</a>
<li> <b>Maybe in reply to:</b> <a href="0149.html">Guilhem Lavaux: "[sane, umax] My Vista-S6E doesn't work anymore."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
