<!-- received="Tue Jan 27 17:21:09 1998 PST" -->
<!-- sent="Tue, 27 Jan 1998 16:24:47 +0100" -->
<!-- name="Ralph Angenendt" -->
<!-- email="ralph@berlin.snafu.de" -->
<!-- subject="Documentation: Scanarea" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Documentation: Scanarea</title>
<h1>Documentation: Scanarea</h1>
<b>Ralph Angenendt</b> (<a href="mailto:ralph@berlin.snafu.de"><i>ralph@berlin.snafu.de</i></a>)<br>
<i>Tue, 27 Jan 1998 16:24:47 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#197">[ date ]</a><a href="index.html#197">[ thread ]</a><a href="subject.html#197">[ subject ]</a><a href="author.html#197">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0198.html">Oliver.Rauch@Wolfsburg.DE: "Re: Astra 6X0S-patch available"</a>
<li> <b>Previous message:</b> <a href="0196.html">Martin Huber: "Re: direct solaris support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi folks<br>
<p>
after fiddling around with scanimage and xscanimage (and nearly giving up) I<br>
figured out, that the default-scanarea (only with the Microtek-backend???)<br>
is something like 2x0 cm. After changing this to default a4 size everything<br>
was okay. Could you somehow put this into the documentation (took me nearly<br>
2-1/2 days to figure that out - stupid me ;))<br>
<p>
Ralph<br>
<p>
<p>
<pre>
-- 
"Das Internet ist doch sehr chaotisch. Man hat da keinen Durchblick und das
    f|r 10 Pfennig die Minute. An T-Online kommt dieses Netz nicht ran!"
                        (Leserbrief in com!, 11/95)   
-  R. Angenendt - Friedelstr. 52 - 12047 Berlin - <a href="mailto:ralph@berlin.snafu.de">ralph@berlin.snafu.de</a>   -
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0198.html">Oliver.Rauch@Wolfsburg.DE: "Re: Astra 6X0S-patch available"</a>
<li> <b>Previous message:</b> <a href="0196.html">Martin Huber: "Re: direct solaris support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
