<!-- received="Tue Jan 27 17:44:18 1998 PST" -->
<!-- sent="Mon, 26 Jan 1998 18:58:24 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Astra 6X0S-patch available" -->
<!-- id="199801261758.SAA00530@Babylon5.wolfsburg.de" -->
<!-- inreplyto="34CCC512.4ED9FEE7@usa.net" -->
<title>sane-devel: Re: Astra 6X0S-patch available</title>
<h1>Re: Astra 6X0S-patch available</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Mon, 26 Jan 1998 18:58:24 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#198">[ date ]</a><a href="index.html#198">[ thread ]</a><a href="subject.html#198">[ subject ]</a><a href="author.html#198">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Oliver.Rauch@Wolfsburg.DE: "Re: Astra 6X0S-patch available"</a>
<li> <b>Previous message:</b> <a href="0197.html">Ralph Angenendt: "Documentation: Scanarea"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; my Astra 610S</i><br>
<i>&gt; </i><br>
<i>&gt; Grey mode : The output from a scan of the full scan area starts with a</i><br>
<i>&gt; black area and the scanner stops before reaching the end of the scan</i><br>
<i>&gt; area. (The unscanned area have the same size as the black area).</i><br>
<p>
Hm, don't know where the black area come from!<br>
<p>
Did you use sane before, has there been the black area at versions before<br>
this patch or before sane-0.69?<br>
<p>
Did you try sane-0.69?<br>
<p>
Which SCSI-Controller do you use?<br>
<p>
I think there are two possibilities:<br>
 1) I changed something form sane-0.68 to sane-0.69 that does not<br>
    work with your scanner or scsi-card<br>
 2) the driver if your scsi-card does not work the way it is suppused<br>
    to do.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Oliver.Rauch@Wolfsburg.DE: "Re: Astra 6X0S-patch available"</a>
<li> <b>Previous message:</b> <a href="0197.html">Ralph Angenendt: "Documentation: Scanarea"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
