<!-- received="Tue Jan 27 18:45:40 1998 PST" -->
<!-- sent="Mon, 26 Jan 1998 18:43:22 -0500" -->
<!-- name="Peter JD Hall" -->
<!-- email="phall@ilap.com" -->
<!-- subject="Compile error  on Slackware 3.3.0  Sane 0.69" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Compile error  on Slackware 3.3.0  Sane 0.69</title>
<h1>Compile error  on Slackware 3.3.0  Sane 0.69</h1>
<b>Peter JD Hall</b> (<a href="mailto:phall@ilap.com"><i>phall@ilap.com</i></a>)<br>
<i>Mon, 26 Jan 1998 18:43:22 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#208">[ date ]</a><a href="index.html#208">[ thread ]</a><a href="subject.html#208">[ subject ]</a><a href="author.html#208">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0209.html">Bernd Seemann: "Re: Astra 6X0S-patch the second"</a>
<li> <b>Previous message:</b> <a href="0207.html">Peter JD Hall: "Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0180.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<li> <b>Maybe reply:</b> <a href="0180.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<li> <b>Reply:</b> <a href="0212.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<li> <b>Reply:</b> <a href="0213.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello List<br>
        I am unable to get sane to do a make.  Below is the debug.<br>
Any pointers would be appreciated<br>
creating libsane-tamarack.la<br>
(cd .libs &amp;&amp; ln -s ../libsane-tamarack.la libsane-tamarack.la)<br>
gcc -c -I/usr/X11R6/include -g -O2 -Wall -DHAVE_CONFIG_H -I. -I.<br>
-I../include -I../include -D_GNU_SOURCE<br>
-DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d<br>
-DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=0 -DV_MINOR=69<br>
-DBACKEND_NAME=umax -DLIBDIR=/usr/local/lib -fPIC -DPIC umax.c<br>
umax.c: In function `init_options':<br>
umax.c:931: virtual memory exhausted<br>
make[1]: *** [umax.lo] Error 1<br>
make[1]: Leaving directory `/usr/local/sane-0.69/backend'<br>
make: *** [all-recursive] Error 1<br>
bash# <br>
Cheers,<br>
Peter Hall<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0209.html">Bernd Seemann: "Re: Astra 6X0S-patch the second"</a>
<li> <b>Previous message:</b> <a href="0207.html">Peter JD Hall: "Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0180.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<li> <b>Maybe reply:</b> <a href="0180.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<li> <b>Reply:</b> <a href="0212.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<li> <b>Reply:</b> <a href="0213.html">Mathias Weigt: "Re: Compile error  on Slackware 3.3.0  Sane 0.69"</a>
<!-- reply="end" -->
</ul>
