<!-- received="Tue Jan 27 22:57:31 1998 PST" -->
<!-- sent="Wed, 28 Jan 1998 01:59:24 -0500 (EST)" -->
<!-- name="William T Wilson" -->
<!-- email="fluffy@dunadan.com" -->
<!-- subject="SCSI card?" -->
<!-- id="" -->
<!-- inreplyto="199801261744.SAA00451@Babylon5.wolfsburg.de" -->
<title>sane-devel: SCSI card?</title>
<h1>SCSI card?</h1>
<b>William T Wilson</b> (<a href="mailto:fluffy@dunadan.com"><i>fluffy@dunadan.com</i></a>)<br>
<i>Wed, 28 Jan 1998 01:59:24 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#216">[ date ]</a><a href="index.html#216">[ thread ]</a><a href="subject.html#216">[ subject ]</a><a href="author.html#216">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Phil Brown: "thanks.. and a suggestion for www"</a>
<li> <b>Previous message:</b> <a href="0215.html">David Mosberger-Tang: "Re: Input files and devices?"</a>
<li> <b>In reply to:</b> <a href="0192.html">Oliver.Rauch@Wolfsburg.DE: "Re: Astra 6X0S-patch availabley"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Can anyone recommend a good cheap SCSI card to use with my Astra 610?  I<br>
would be testing for Olivier but the Trantor T130B that I have, makes the<br>
system hang about 4 out of 5 scans, or even more often.  I tried it with<br>
interrupt line enabled and disabled and I even tried the 2.1.80 kernel to<br>
make it work better, but always the same results. <br>
<p>
I have no idea whether it works in Windows with the scanner or not.<br>
<p>
I also have an Adaptec 2940UW that I could try to connect the scanner to,<br>
but I'd rather not since I have to get a complicated cable for this (the<br>
2940 has a 68-pin UW connector, the scanner has a DB25).  And I don't want<br>
to mess up the high-speed drives on the 2940, either.  Would it work or<br>
would it suck, and would I have the same problems?<br>
<p>
Thanks.  :)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0217.html">Phil Brown: "thanks.. and a suggestion for www"</a>
<li> <b>Previous message:</b> <a href="0215.html">David Mosberger-Tang: "Re: Input files and devices?"</a>
<li> <b>In reply to:</b> <a href="0192.html">Oliver.Rauch@Wolfsburg.DE: "Re: Astra 6X0S-patch availabley"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
