<!-- received="Wed Jan 28 11:43:47 1998 PST" -->
<!-- sent="Wed, 28 Jan 1998 18:06:56 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: SCSI card?" -->
<!-- id="199801281706.SAA00251@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.96.980128015439.9067F-100000@benatar.dunadan.com" -->
<title>sane-devel: Re: SCSI card?</title>
<h1>Re: SCSI card?</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Wed, 28 Jan 1998 18:06:56 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#230">[ date ]</a><a href="index.html#230">[ thread ]</a><a href="subject.html#230">[ subject ]</a><a href="author.html#230">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0231.html">Justin: "SANE works on SPARCLinux!"</a>
<li> <b>Previous message:</b> <a href="0229.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi ,<br>
<p>
<i>&gt; Can anyone recommend a good cheap SCSI card to use with my Astra 610?</i><br>
I suggest a NCR/Symbios Logic 810 (if you have a mainboard with SDMS-BIOS)<br>
or a NCR/Symbios Logic 815(if you have no SDMS-BIOS).<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0231.html">Justin: "SANE works on SPARCLinux!"</a>
<li> <b>Previous message:</b> <a href="0229.html">Bernd Seemann: "Re: Astra 6X0S-patch available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
