<!-- received="Thu Jan 29 14:49:42 1998 PST" -->
<!-- sent="Thu, 29 Jan 1998 16:49:16 -0600" -->
<!-- name="D. Cameron Mauch" -->
<!-- email="CameronM@savvis.com" -->
<!-- subject="SANE and Sparc" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE and Sparc</title>
<h1>SANE and Sparc</h1>
<b>D. Cameron Mauch</b> (<a href="mailto:CameronM@savvis.com"><i>CameronM@savvis.com</i></a>)<br>
<i>Thu, 29 Jan 1998 16:49:16 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#252">[ date ]</a><a href="index.html#252">[ thread ]</a><a href="subject.html#252">[ subject ]</a><a href="author.html#252">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0253.html">Tracy R Reed: "Re: UMAX Atra 610S"</a>
<li> <b>Previous message:</b> <a href="0251.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX Atra 610S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
--------------F0383857967A804315075599<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Hello.  SANE does not currently work with Sparc.  I have spent a week working with many<br>
different individuals on SANE with the SCG driver.  It appears the SCG driver has some<br>
problems.  See the attached error output for more information.  And the SG driver which<br>
I just purchased does not seem to come with the sgdefs.h file needed by SANE to use it.<br>
Any other ideas?  I have already applied several patches, including the one to the file<br>
include/sane/config.h.in to recognize the SCG and SG drivers.  There were also two in the<br>
sanei/sanei_scsi.c file (on lines 1392 and 1424).  <br>
<p>
D. Cameron Mauch                                           voice (314)719-2430<br>
Unix/Network Systems Administrator/Engineer                  fax (314)719-2443<br>
Savvis Communications                                       page (314)509-2934<br>
--------------F0383857967A804315075599<br>
Content-Type: text/plain; charset=us-ascii; name="error.out"<br>
Content-Transfer-Encoding: 7bit<br>
Content-Disposition: inline; filename="error.out"<br>
<p>
[sanei_init_debug]: Setting debug level of microtek to 128.<br>
[microtek] sane_init:  MICROTEK says hello! (v0.4)<br>
[microtek] sane_init:  config- /dev/scg0f<br>
[microtek] attach_scanner:  /dev/scg0f<br>
[microtek] attach_scanner:  opening /dev/scg0f<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[microtek] attach_scanner:  sending INQUIRY<br>
[microtek] id_microtek...<br>
[microtek] parse_inquiry...<br>
[microtek] dump_inquiry...<br>
========== Scanner Inquiry Block ==========<br>
06 31 25 01 5b 00 00 00 4d 49 43 52 4f 54 45 4b <br>
53 63 61 6e 4d 61 6b 65 72 49 49 73 70 20 20 20 <br>
32 2e 35 30 53 43 53 49 20 46 2f 57 56 33 2e 34 <br>
20 43 54 4c 35 33 38 30 03 4f 8c c5 02 ee 54 03 <br>
01 03 01 00 00 83 00 01 0e 0e 01 05 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 ff <br>
<p>
========== Scanner Inquiry Report ==========<br>
===== Scanner ID...<br>
Device Type Code: 0x06<br>
Model Code: 0x54<br>
Vendor Name: 'MICROTEK'   Model Name: 'ScanMakerIIsp   '<br>
Firmware Rev: '2.50'<br>
SCSI F/W version: 3.1     Scanner F/W version: 2.5<br>
Response data format: 0x01<br>
===== Imaging Capabilities...<br>
Modes:  Lineart Halftone Gray Color (OnePass) <br>
Resolution Step Sizes: 1% 5%    Expanded Resolution Support? yes<br>
Supported Bits Per Sample: 4 8 <br>
Max. document size code: 0x02<br>
Max. document size:  8.500000 x 11.689987 inches<br>
Frame units:  pixels  1/8"'s <br>
# of built-in halftones: 12   Downloadable patterns? Yes<br>
Data Compression: <br>
Contrast Settings: 14   Exposure Settings: 14<br>
Adjustable Shadow/Highlight? yes   Adjustable Midtone? yes<br>
Digital brightness/offset? yes<br>
Gamma Table Size: 256 entries of 1 bytes (max. value: 255)<br>
===== Source Options...<br>
Feed type:  flatbed    ADF support? yes<br>
Document Feeder Support? yes   Feeder Backtracking? yes<br>
Feeder Installed? no           Feeder Ready? no <br>
Transparency Adapter Installed? no <br>
Fast Color Prescan? no<br>
Selectable Transfer Format? no<br>
Color Transfer Sequence: line-by-line, non-sequential with headers<br>
Three pass scan support? yes<br>
ModeSelect-1 and ModeSense-1 Support? yes<br>
Can Disable Linearization Table? no<br>
Can Disable Start-of-Scan Recalibration? yes<br>
<p>
<p>
[microtek] attach_scanner:  happy.<br>
[microtek] sane_get_devices<br>
[microtek] sane_open<br>
[microtek] sane_open:  gonna init opts:  [microtek] init_options...<br>
[microtek] init_options:  quant yes<br>
[microtek] init_options:  done.<br>
[microtek] sane_control_option (opt=0,act=0,val=effff550,info=0)<br>
[microtek] sane_get_option_descriptor (1)...<br>
[microtek] sane_get_option_descriptor (2)...<br>
[microtek] sane_control_option (opt=2,act=0,val=450d8,info=0)<br>
[microtek] sane_get_option_descriptor (3)...<br>
[microtek] sane_control_option (opt=3,act=0,val=effff3cc,info=0)<br>
[microtek] sane_get_option_descriptor (4)...<br>
[microtek] sane_get_option_descriptor (5)...<br>
[microtek] sane_get_option_descriptor (6)...<br>
[microtek] sane_get_option_descriptor (7)...<br>
[microtek] sane_get_option_descriptor (8)...<br>
[microtek] sane_get_option_descriptor (9)...<br>
[microtek] sane_get_option_descriptor (10)...<br>
[microtek] sane_get_option_descriptor (11)...<br>
[microtek] sane_control_option (opt=11,act=0,val=effff3cc,info=0)<br>
[microtek] sane_get_option_descriptor (12)...<br>
[microtek] sane_control_option (opt=12,act=0,val=effff3cc,info=0)<br>
[microtek] sane_get_option_descriptor (13)...<br>
[microtek] sane_control_option (opt=13,act=0,val=effff3cc,info=0)<br>
[microtek] sane_get_option_descriptor (14)...<br>
[microtek] sane_control_option (opt=14,act=0,val=effff3cc,info=0)<br>
[microtek] sane_get_option_descriptor (15)...<br>
[microtek] sane_get_option_descriptor (16)...<br>
[microtek] sane_control_option (opt=16,act=0,val=effff3cc,info=0)<br>
[microtek] sane_get_option_descriptor (17)...<br>
[microtek] sane_control_option (opt=17,act=0,val=effff3cc,info=0)<br>
[microtek] sane_get_option_descriptor (18)...<br>
[microtek] sane_control_option (opt=18,act=0,val=effff3cc,info=0)<br>
[microtek] sane_get_option_descriptor (19)...<br>
[microtek] sane_get_option_descriptor (20)...<br>
[microtek] sane_get_option_descriptor (21)...<br>
[microtek] sane_get_option_descriptor (22)...<br>
[microtek] sane_get_option_descriptor (23)...<br>
[microtek] sane_get_option_descriptor (24)...<br>
[microtek] sane_control_option (opt=24,act=0,val=4b118,info=0)<br>
[microtek] sane_get_option_descriptor (25)...<br>
[microtek] sane_get_option_descriptor (26)...<br>
[microtek] sane_get_option_descriptor (27)...<br>
[microtek] sane_get_option_descriptor (28)...<br>
[microtek] sane_get_option_descriptor (29)...<br>
[microtek] sane_get_option_descriptor (30)...<br>
[microtek] sane_get_option_descriptor (31)...<br>
[microtek] sane_get_option_descriptor (32)...<br>
[microtek] sane_get_option_descriptor (33)...<br>
[microtek] sane_get_parameters...<br>
[microtek] sane_get_parameters:  res_code = 33 (21)<br>
[microtek] sane_get_parameters:  dots_per_mm:  3.937008<br>
[microtek] sane_get_parameters:  units_per_mm:  11.811024<br>
[microtek] sane_get_parameters:  lines:  0<br>
[microtek] sane_get_option_descriptor (11)...<br>
[microtek] sane_get_option_descriptor (12)...<br>
[microtek] sane_get_option_descriptor (13)...<br>
[microtek] sane_get_option_descriptor (14)...<br>
[microtek] sane_get_option_descriptor (11)...<br>
[microtek] sane_control_option (opt=11,act=0,val=efffde34,info=0)<br>
[microtek] sane_get_option_descriptor (12)...<br>
[microtek] sane_control_option (opt=12,act=0,val=efffde34,info=0)<br>
[microtek] sane_get_option_descriptor (13)...<br>
[microtek] sane_control_option (opt=13,act=0,val=efffde34,info=0)<br>
[microtek] sane_get_option_descriptor (14)...<br>
[microtek] sane_control_option (opt=14,act=0,val=efffde34,info=0)<br>
[microtek] sane_get_option_descriptor (11)...<br>
[microtek] sane_control_option (opt=11,act=0,val=efffeacc,info=0)<br>
[microtek] sane_get_option_descriptor (12)...<br>
[microtek] sane_control_option (opt=12,act=0,val=efffeacc,info=0)<br>
[microtek] sane_get_option_descriptor (13)...<br>
[microtek] sane_control_option (opt=13,act=0,val=efffeacc,info=0)<br>
[microtek] sane_get_option_descriptor (14)...<br>
[microtek] sane_control_option (opt=14,act=0,val=efffeacc,info=0)<br>
[microtek] sane_get_option_descriptor (11)...<br>
[microtek] sane_control_option (opt=11,act=0,val=effff4b4,info=0)<br>
[microtek] sane_get_option_descriptor (12)...<br>
[microtek] sane_control_option (opt=12,act=0,val=effff4b4,info=0)<br>
[microtek] sane_get_option_descriptor (13)...<br>
[microtek] sane_control_option (opt=13,act=0,val=effff4b4,info=0)<br>
[microtek] sane_get_option_descriptor (14)...<br>
[microtek] sane_control_option (opt=14,act=0,val=effff4b4,info=0)<br>
[microtek] sane_control_option (opt=3,act=0,val=56ddc,info=0)<br>
[microtek] sane_control_option (opt=11,act=0,val=56df0,info=0)<br>
[microtek] sane_control_option (opt=12,act=0,val=56df4,info=0)<br>
[microtek] sane_control_option (opt=13,act=0,val=56df8,info=0)<br>
[microtek] sane_control_option (opt=14,act=0,val=56dfc,info=0)<br>
[microtek] sane_get_option_descriptor (3)...<br>
[microtek] sane_get_option_descriptor (3)...<br>
[microtek] sane_control_option (opt=3,act=1,val=efffec8c,info=0)<br>
[microtek] sane_get_option_descriptor (11)...<br>
[microtek] sane_control_option (opt=11,act=1,val=efffec8c,info=0)<br>
[microtek] sane_get_option_descriptor (12)...<br>
[microtek] sane_control_option (opt=12,act=1,val=efffec8c,info=0)<br>
[microtek] sane_get_option_descriptor (13)...<br>
[microtek] sane_control_option (opt=13,act=1,val=efffec8c,info=0)<br>
[microtek] sane_get_option_descriptor (14)...<br>
[microtek] sane_control_option (opt=14,act=1,val=efffec8c,info=0)<br>
[microtek] sane_control_option (opt=9,act=1,val=efffec78,info=0)<br>
[microtek] sane_get_option_descriptor (0)...<br>
[microtek] sane_get_option_descriptor (1)...<br>
[microtek] sane_get_option_descriptor (2)...<br>
[microtek] sane_get_option_descriptor (3)...<br>
[microtek] sane_get_option_descriptor (4)...<br>
[microtek] sane_get_option_descriptor (5)...<br>
[microtek] sane_get_option_descriptor (6)...<br>
[microtek] sane_get_option_descriptor (7)...<br>
[microtek] sane_get_option_descriptor (8)...<br>
[microtek] sane_get_option_descriptor (9)...<br>
[microtek] sane_get_option_descriptor (10)...<br>
[microtek] sane_get_option_descriptor (11)...<br>
[microtek] sane_get_option_descriptor (12)...<br>
[microtek] sane_get_option_descriptor (13)...<br>
[microtek] sane_get_option_descriptor (14)...<br>
[microtek] sane_get_option_descriptor (15)...<br>
[microtek] sane_get_option_descriptor (16)...<br>
[microtek] sane_get_option_descriptor (17)...<br>
[microtek] sane_get_option_descriptor (18)...<br>
[microtek] sane_get_option_descriptor (19)...<br>
[microtek] sane_get_option_descriptor (20)...<br>
[microtek] sane_get_option_descriptor (21)...<br>
[microtek] sane_get_option_descriptor (22)...<br>
[microtek] sane_get_option_descriptor (23)...<br>
[microtek] sane_get_option_descriptor (24)...<br>
[microtek] sane_get_option_descriptor (25)...<br>
[microtek] sane_get_option_descriptor (26)...<br>
[microtek] sane_get_option_descriptor (27)...<br>
[microtek] sane_get_option_descriptor (28)...<br>
[microtek] sane_get_option_descriptor (29)...<br>
[microtek] sane_get_option_descriptor (30)...<br>
[microtek] sane_get_option_descriptor (31)...<br>
[microtek] sane_get_option_descriptor (32)...<br>
[microtek] sane_get_option_descriptor (33)...<br>
[microtek] sane_get_option_descriptor (1)...<br>
[microtek] sane_get_option_descriptor (2)...<br>
[microtek] sane_get_option_descriptor (3)...<br>
[microtek] sane_get_option_descriptor (4)...<br>
[microtek] sane_get_option_descriptor (5)...<br>
[microtek] sane_get_option_descriptor (6)...<br>
[microtek] sane_get_option_descriptor (7)...<br>
[microtek] sane_get_option_descriptor (8)...<br>
[microtek] sane_get_option_descriptor (9)...<br>
[microtek] sane_get_option_descriptor (10)...<br>
[microtek] sane_get_option_descriptor (11)...<br>
[microtek] sane_get_option_descriptor (12)...<br>
[microtek] sane_get_option_descriptor (13)...<br>
[microtek] sane_get_option_descriptor (14)...<br>
[microtek] sane_get_option_descriptor (15)...<br>
[microtek] sane_get_option_descriptor (16)...<br>
[microtek] sane_get_option_descriptor (17)...<br>
[microtek] sane_get_option_descriptor (18)...<br>
[microtek] sane_get_option_descriptor (19)...<br>
[microtek] sane_get_option_descriptor (20)...<br>
[microtek] sane_get_option_descriptor (21)...<br>
[microtek] sane_get_option_descriptor (22)...<br>
[microtek] sane_get_option_descriptor (23)...<br>
[microtek] sane_get_option_descriptor (24)...<br>
[microtek] sane_get_option_descriptor (25)...<br>
[microtek] sane_get_option_descriptor (26)...<br>
[microtek] sane_get_option_descriptor (27)...<br>
[microtek] sane_get_option_descriptor (28)...<br>
[microtek] sane_get_option_descriptor (29)...<br>
[microtek] sane_get_option_descriptor (30)...<br>
[microtek] sane_get_option_descriptor (31)...<br>
[microtek] sane_get_option_descriptor (32)...<br>
[microtek] sane_get_option_descriptor (33)...<br>
[microtek] sane_start...<br>
[microtek] sane_get_parameters...<br>
[microtek] sane_get_parameters:  res_code = 9 ( 9)<br>
[microtek] sane_get_parameters:  dots_per_mm:  1.062992<br>
[microtek] sane_get_parameters:  units_per_mm:  11.811024<br>
[microtek] sane_get_parameters:  lines:  316<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[microtek] .wait_ready 3...<br>
[microtek] .mode_select_1 3...<br>
[microtek] .mode_sense_1...<br>
[sanei_scsi] cmd=19, error=2:I/O error, bsiz=0, stat=0,0,0, slen=0<br>
[sanei_scsi] sense=<br>
[sanei_scsi] sanei_scsi_cmd: 27 lifes left<br>
[microtek] sane_cancel...[microtek] sane_control_option (opt=3,act=1,val=efffea60,info=0)<br>
[microtek] sane_control_option (opt=11,act=1,val=efffe960,info=0)<br>
[microtek] sane_control_option (opt=12,act=1,val=efffe960,info=0)<br>
[microtek] sane_control_option (opt=13,act=1,val=efffe960,info=0)<br>
[microtek] sane_control_option (opt=14,act=1,val=efffe960,info=0)<br>
[microtek] sane_control_option (opt=9,act=1,val=efffe960,info=0)<br>
[microtek] sane_get_option_descriptor (0)...<br>
[microtek] sane_get_option_descriptor (1)...<br>
[microtek] sane_get_option_descriptor (2)...<br>
[microtek] sane_get_option_descriptor (3)...<br>
[microtek] sane_get_option_descriptor (4)...<br>
[microtek] sane_get_option_descriptor (5)...<br>
[microtek] sane_get_option_descriptor (6)...<br>
[microtek] sane_get_option_descriptor (7)...<br>
[microtek] sane_get_option_descriptor (8)...<br>
[microtek] sane_get_option_descriptor (9)...<br>
[microtek] sane_get_option_descriptor (10)...<br>
[microtek] sane_get_option_descriptor (11)...<br>
[microtek] sane_get_option_descriptor (12)...<br>
[microtek] sane_get_option_descriptor (13)...<br>
[microtek] sane_get_option_descriptor (14)...<br>
[microtek] sane_get_option_descriptor (15)...<br>
[microtek] sane_get_option_descriptor (16)...<br>
[microtek] sane_get_option_descriptor (17)...<br>
[microtek] sane_get_option_descriptor (18)...<br>
[microtek] sane_get_option_descriptor (19)...<br>
[microtek] sane_get_option_descriptor (20)...<br>
[microtek] sane_get_option_descriptor (21)...<br>
[microtek] sane_get_option_descriptor (22)...<br>
[microtek] sane_get_option_descriptor (23)...<br>
[microtek] sane_get_option_descriptor (24)...<br>
[microtek] sane_get_option_descriptor (25)...<br>
[microtek] sane_get_option_descriptor (26)...<br>
[microtek] sane_get_option_descriptor (27)...<br>
[microtek] sane_get_option_descriptor (28)...<br>
[microtek] sane_get_option_descriptor (29)...<br>
[microtek] sane_get_option_descriptor (30)...<br>
[microtek] sane_get_option_descriptor (31)...<br>
[microtek] sane_get_option_descriptor (32)...<br>
[microtek] sane_get_option_descriptor (33)...<br>
[microtek] sane_close...<br>
[microtek] sane_exit...<br>
[microtek] sane_exit:  MICROTEK says goodbye.<br>
<p>
--------------F0383857967A804315075599--<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0253.html">Tracy R Reed: "Re: UMAX Atra 610S"</a>
<li> <b>Previous message:</b> <a href="0251.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX Atra 610S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
