<!-- received="Fri Jan 30 01:46:17 1998 PST" -->
<!-- sent="Fri, 30 Jan 1998 09:19:33 +0100" -->
<!-- name="Sascha Ziemann" -->
<!-- email="szi@aibon.ping.de" -->
<!-- subject="Re: sane-0.70 is out" -->
<!-- id="" -->
<!-- inreplyto="sane-0.70 is out" -->
<title>sane-devel: Re: sane-0.70 is out</title>
<h1>Re: sane-0.70 is out</h1>
<b>Sascha Ziemann</b> (<a href="mailto:szi@aibon.ping.de"><i>szi@aibon.ping.de</i></a>)<br>
<i>Fri, 30 Jan 1998 09:19:33 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#256">[ date ]</a><a href="index.html#256">[ thread ]</a><a href="subject.html#256">[ subject ]</a><a href="author.html#256">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0257.html">Kevin R. Charter: "Re: sane-0.70 is out"</a>
<li> <b>Previous message:</b> <a href="0255.html">becka@rz.uni-duesseldorf.de: "Re: looking for twain-module"</a>
<li> <b>Maybe in reply to:</b> <a href="0238.html">David Mosberger-Tang: "sane-0.70 is out"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0257.html">Kevin R. Charter: "Re: sane-0.70 is out"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<p>
<i>&gt; Just uploaded sane-0.70</i><br>
<p>
Some problems:<br>
<p>
* During install I got this warnings:<br>
<p>
make[1]: Entering directory `/home/szi/transfer/x/sane-0.70/frontend'<br>
../mkinstalldirs /usr/bin /usr/sbin /usr/share<br>
libtool: install: warning: `../backend/libsane.la' has not been installed in `/usr/lib'<br>
/usr/bin/install -c .libs/scanimage /usr/bin/scanimage<br>
libtool: install: warning: `../backend/libsane.la' has not been installed in `/usr/lib'<br>
/usr/bin/install -c .libs/xscanimage /usr/bin/xscanimage<br>
libtool: install: warning: `../backend/libsane.la' has not been installed in `/usr/lib'<br>
/usr/bin/install -c .libs/xcam /usr/bin/xcam<br>
libtool: install: warning: `../backend/libsane.la' has not been installed in `/usr/lib'<br>
<p>
* I had to create the /dev/scanner link by myself.<br>
<p>
* When I start xscannimage I get this funny message:<br>
<p>
szi@olivia:~$ gimp<br>
query plug-in: "/home/szi/.gimp/plug-ins/xscanimage"<br>
[snapscan] add_device: "HP      C2520A          " is not an AGFA SnapScan<br>
[snapscan] sane_snapscan_init: failed to add device "/dev/scanner"<br>
<p>
I never told SANE, that I have AGFA Scanner.<br>
Does anybody know what causes this problem?<br>
<p>
-- <a href="http://www.ping.de/sites/aibon/">http://www.ping.de/sites/aibon/</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0257.html">Kevin R. Charter: "Re: sane-0.70 is out"</a>
<li> <b>Previous message:</b> <a href="0255.html">becka@rz.uni-duesseldorf.de: "Re: looking for twain-module"</a>
<li> <b>Maybe in reply to:</b> <a href="0238.html">David Mosberger-Tang: "sane-0.70 is out"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0257.html">Kevin R. Charter: "Re: sane-0.70 is out"</a>
<!-- reply="end" -->
</ul>
