<!-- received="Sun May  3 16:38:19 1998 PDT" -->
<!-- sent="Mon, 04 May 1998 09:05:26 +0930" -->
<!-- name="Paul Schulz" -->
<!-- email="pschulz@ncver.edu.au" -->
<!-- subject="Re: SANE Backend for my DS-7 Fujifilm camera." -->
<!-- id="" -->
<!-- inreplyto="SANE Backend for my DS-7 Fujifilm camera." -->
<title>sane-devel: Re: SANE Backend for my DS-7 Fujifilm camera.</title>
<h1>Re: SANE Backend for my DS-7 Fujifilm camera.</h1>
<b>Paul Schulz</b> (<a href="mailto:pschulz@ncver.edu.au"><i>pschulz@ncver.edu.au</i></a>)<br>
<i>Mon, 04 May 1998 09:05:26 +0930</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#33">[ date ]</a><a href="index.html#33">[ thread ]</a><a href="subject.html#33">[ subject ]</a><a href="author.html#33">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Michael Polo: "Re: SANE Backend for my DS-7 Fujifilm camera."</a>
<li> <b>Previous message:</b> <a href="0032.html">TomStuJed: "Re: Sane Compile dies at umax.c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Michael and others on the SANE mailing list,<br>
[Michael sent me a perl script for downloading from the DS7<br>
Digital camera.]<br>
 <br>
Thankyou, thankyou, thankyou! - You just have to ask the right people..<br>
ie. not the distributers.<br>
<p>
I haven't read the web page yet, (and the perl script comments<br>
look like they've all been written in Japanese!!)<br>
but this is just the thing I wanted...<br>
<p>
Looks like I'm now obligated to write a 'backend' :-)<br>
[Put me down as .. Under developement - Digital Camera, Fujifilm DS7.]<br>
<p>
Paul<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Michael Polo: "Re: SANE Backend for my DS-7 Fujifilm camera."</a>
<li> <b>Previous message:</b> <a href="0032.html">TomStuJed: "Re: Sane Compile dies at umax.c"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
