<!-- received="Mon May  4 12:13:38 1998 PDT" -->
<!-- sent="Mon, 4 May 1998 12:09:01 -0700 (PDT)" -->
<!-- name="Jeremy Probber" -->
<!-- email="woozy@rocketmail.com" -->
<!-- subject="Re: Info Request: UMAX Astra 1200S" -->
<!-- id="" -->
<!-- inreplyto="Info Request: UMAX Astra 1200S" -->
<title>sane-devel: Re: Info Request: UMAX Astra 1200S</title>
<h1>Re: Info Request: UMAX Astra 1200S</h1>
<b>Jeremy Probber</b> (<a href="mailto:woozy@rocketmail.com"><i>woozy@rocketmail.com</i></a>)<br>
<i>Mon, 4 May 1998 12:09:01 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#44">[ date ]</a><a href="index.html#44">[ thread ]</a><a href="subject.html#44">[ subject ]</a><a href="author.html#44">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">Timothy Kelm: "Mustek Paragon 1200 III SP"</a>
<li> <b>Previous message:</b> <a href="0043.html">Warren Early: "Re: Agfa Arcus II"</a>
<li> <b>Maybe in reply to:</b> <a href="0019.html">Donald Burr: "Info Request: UMAX Astra 1200S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
---Donald Burr &lt;<a href="mailto:dburr@POBoxes.com">dburr@POBoxes.com</a>&gt; wrote:<br>
<i>&gt;</i><br>
<i>&gt; Thanks to everyone who responded to my recent</i><br>
request for a list of<br>
<i>&gt; scanners supported under SANE.</i><br>
<i>&gt; </i><br>
<i>&gt; Based on the data I collected, I am considering the</i><br>
purchase of a UMAX<br>
<i>&gt; Astra 1200S scanner.</i><br>
<i>&gt; </i><br>
<i>&gt; However, before I make this purchase, I'd like to</i><br>
hear the experiences<br>
<i>&gt; of other people who purchased this scanner.  How</i><br>
well does it work,<br>
<i>&gt; any problems or pitfalls that I should be aware of,</i><br>
etc.?  Good points<br>
<i>&gt; and bad points?  Are you satisfied with it, and</i><br>
would you recommend<br>
<i>&gt; its purchase to someone else?</i><br>
<i>&gt; </i><br>
<i>&gt; Please respond ASAP.  I'm currently up in the Bay</i><br>
Area and would like<br>
<i>&gt; to purchase it while I'm up here (better selection</i><br>
and prices), and I<br>
<i>&gt; may leave as early as tomorrow evening.  Many</i><br>
thanks in advance!<br>
<i>&gt; (Please respond by e-mail if possible, thanks!)</i><br>
<i>&gt; -- </i><br>
<i>&gt; Donald Burr &lt;<a href="mailto:dburr@POBoxes.com">dburr@POBoxes.com</a>&gt;</i><br>
<i>&gt; Web: <a href="http://DonaldBurr.base.org/">http://DonaldBurr.base.org/</a></i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs:</i><br>
<a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail</i><br>
<a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a><br>
<i>&gt; </i><br>
Hi Donald,<br>
   <br>
    I purchased an Astra 1200s about a month ago, and<br>
beyond the few initial little problems (Mostly due to<br>
my lack of experience with Linux) that I had getting<br>
Sane up and running It works great. The scanner is<br>
connected to my Adaptec 2940u which also has my 2<br>
main Linux hard drives and a zip drive on the same<br>
SCSI bus. Besides the fact that activity on the bus<br>
might stop for a second or two it hasn't crashed once<br>
(the bus delay when scanning also happens on 95 + NT).<br>
The quality is good and I have scanned some fairly<br>
hefty images without any problems.<br>
<p>
-Jeremy<br>
_________________________________________________________<br>
DO YOU YAHOO!?<br>
Get your free @yahoo.com address at <a href="http://mail.yahoo.com">http://mail.yahoo.com</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0045.html">Timothy Kelm: "Mustek Paragon 1200 III SP"</a>
<li> <b>Previous message:</b> <a href="0043.html">Warren Early: "Re: Agfa Arcus II"</a>
<li> <b>Maybe in reply to:</b> <a href="0019.html">Donald Burr: "Info Request: UMAX Astra 1200S"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
