<!-- received="Thu May  7 12:07:54 1998 PDT" -->
<!-- sent="Thu, 7 May 1998 15:04:06 -0400 (EDT)" -->
<!-- name="Matt Martin" -->
<!-- email="mmartin@Calvin.SFC.Lehigh.Edu" -->
<!-- subject="DS-7 Backend" -->
<!-- id="Pine.SUN.3.95.980507150224.4268B-100000@spiff.sfc.lehigh.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: DS-7 Backend</title>
<h1>DS-7 Backend</h1>
<b>Matt Martin</b> (<a href="mailto:mmartin@Calvin.SFC.Lehigh.Edu"><i>mmartin@Calvin.SFC.Lehigh.Edu</i></a>)<br>
<i>Thu, 7 May 1998 15:04:06 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#85">[ date ]</a><a href="index.html#85">[ thread ]</a><a href="subject.html#85">[ subject ]</a><a href="author.html#85">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Michael Sweet: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<li> <b>Previous message:</b> <a href="0084.html">Matto Marjanovic: "Re: Two *other* problems with xscanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0091.html">David Mosberger-Tang: "Re: DS-7 Backend"</a>
<li> <b>Reply:</b> <a href="0091.html">David Mosberger-Tang: "Re: DS-7 Backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Ooops...<br>
<p>
Hi,<br>
  I am a SANE newbie and was just starting to write a DS-7 backend.<br>
So far I had reworked the get_ds7 Perl library into C such that I can<br>
transfer images from the camera and I was playing with integration<br>
into SANE. ... Then I checked this list.  Seems that I'm not the first<br>
to have the idea.<br>
<p>
So, am I wasting my precious time ?<br>
<p>
Also, the native jpeg format of this camera (and others) seems to go<br>
against the grain of SANE's operation.  Seems like a true waste to<br>
convert to raw format, then back to jpg for saving. The TODO mentions<br>
new SANE image formats, is there current effort or framework to allow<br>
such extension ?<br>
<p>
thanks,<br>
 Matt Martin<br>
<a href="mailto:matt.martin@ieee.org">matt.martin@ieee.org</a><br>
<p>
Lehigh U. Microelectronics Research Lab        "The Clubhouse"<br>
16A Memorial Dr. E., Bethlehem,PA,18015      126 East 4th St.<br>
mmartin @ calvin.sfc.lehigh.edu              Bethlehem, PA,18015-1702<br>
Work:(610) 758-3951 (Office)                    MGM1 @ LEHIGH.EDU<br>
              -4518 (Lab)                    Home: (610) 758-9662<br>
 WWW: "<a href="http://www.lehigh.edu/~mgm1/mgm1.html">http://www.lehigh.edu/~mgm1/mgm1.html</a>"  AIM ID: MmAaRtTtIN<br>
    PGP Public key at "finger <a href="mailto:mmartin@calvin.sfc.lehigh.edu">mmartin@calvin.sfc.lehigh.edu</a>"<br>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Michael Sweet: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<li> <b>Previous message:</b> <a href="0084.html">Matto Marjanovic: "Re: Two *other* problems with xscanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0091.html">David Mosberger-Tang: "Re: DS-7 Backend"</a>
<li> <b>Reply:</b> <a href="0091.html">David Mosberger-Tang: "Re: DS-7 Backend"</a>
<!-- reply="end" -->
</ul>
