<!-- received="Thu May  7 22:08:58 1998 PDT" -->
<!-- sent="Thu, 7 May 1998 22:08:55 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: DS-7 Backend" -->
<!-- id="199805080508.WAA28954@panda.mostang.com" -->
<!-- inreplyto="Pine.SUN.3.95.980508004213.4582A-100000@spiff.sfc.lehigh.edu" -->
<title>sane-devel: Re: DS-7 Backend</title>
<h1>Re: DS-7 Backend</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 7 May 1998 22:08:55 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#95">[ date ]</a><a href="index.html#95">[ thread ]</a><a href="subject.html#95">[ subject ]</a><a href="author.html#95">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<li> <b>Previous message:</b> <a href="0094.html">Matt Martin: "Re: DS-7 Backend"</a>
<li> <b>In reply to:</b> <a href="0094.html">Matt Martin: "Re: DS-7 Backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 8 May 1998 00:55:24 -0400 (EDT), Matt Martin &lt;<a href="mailto:mmartin@Calvin.SFC.Lehigh.Edu">mmartin@Calvin.SFC.Lehigh.Edu</a>&gt; said:</i><br>
<p>
  Matt&gt; Looks like right now the entire image must be<br>
  Matt&gt; buffered,converted and then sent to the frontend piecemeal<br>
  Matt&gt; (kind of like the fake pnm driver).  Can't imagine that the<br>
  Matt&gt; current API would allow any other approach, as it "steals"<br>
  Matt&gt; away the data as soon as it arrives from the scanner; no<br>
  Matt&gt; chance for subsequent manipulation.<br>
<p>
The idea would be to make it as incremental as possible.  I'm not too<br>
familiar with JPG details, but you might be able to get away with<br>
buffering just 16 lines at a time (assuming JPG uses a 16x16 pixel<br>
blocks).  Buffering the entire image is _definitely_ something to<br>
avoid whenever possible.  Note, however, that this buffering is<br>
inherently necessary due to the mismatch between source and<br>
destination format---it's not due to a limitation of SANE's read()<br>
interface.<br>
<p>
  Matt&gt; Wondering if Rasterman's Imlib would be a good way to go for<br>
  Matt&gt; image conversion. Supposedly it can display and convert all<br>
  Matt&gt; kinds of formats. (haven't programmed with it, only used it)<br>
<p>
Could be, but again the incremental feature is important.  Scanned<br>
images can be huge and the less buffering the better.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<li> <b>Previous message:</b> <a href="0094.html">Matt Martin: "Re: DS-7 Backend"</a>
<li> <b>In reply to:</b> <a href="0094.html">Matt Martin: "Re: DS-7 Backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
