<!-- received="Sat May  9 11:53:06 1998 PDT" -->
<!-- sent="Sat, 9 May 1998 11:53:03 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: configure --disable-static?" -->
<!-- id="199805091853.LAA31228@panda.mostang.com" -->
<!-- inreplyto="199805060418.VAA05822@panda.mostang.com" -->
<title>sane-devel: Re: configure --disable-static?</title>
<h1>Re: configure --disable-static?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sat, 9 May 1998 11:53:03 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#101">[ date ]</a><a href="index.html#101">[ thread ]</a><a href="subject.html#101">[ subject ]</a><a href="author.html#101">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">David Mosberger-Tang: "IMPORTANT info for backend writers"</a>
<li> <b>Previous message:</b> <a href="0100.html">Bernd Schroeder: "Re: Backend for Microtek SCSI-II scanners"</a>
<li> <b>In reply to:</b> <a href="0051.html">David Mosberger-Tang: "Re: configure --disable-static?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On 08 May 1998 17:36:48 +0900, Kaz Sasayama &lt;<a href="mailto:Kaz.Sasayama@hypercore.co.jp">Kaz.Sasayama@hypercore.co.jp</a>&gt; said:</i><br>
<p>
  Kaz&gt; I just thought, if no --disable-shared, normal objects were<br>
  Kaz&gt; made first when shared ones were made, and that it would work<br>
  Kaz&gt; nice.  Now I see non-GNU make may be confused and compile twice<br>
  Kaz&gt; for each normal object eventually.<br>
<p>
  Kaz&gt; OK, how about this one then?  I hope it will not make each<br>
  Kaz&gt; normal object twice.<br>
<p>
  Kaz&gt; .c.o: @$(LIBTOOL) $(MCOMP) $(COMPILE) $&lt; test -f $@ ||<br>
  Kaz&gt; $(COMPILE) $&lt;<br>
<p>
Yes, this is much nicer.  I'll put it in the next release.<br>
<p>
Thanks!<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">David Mosberger-Tang: "IMPORTANT info for backend writers"</a>
<li> <b>Previous message:</b> <a href="0100.html">Bernd Schroeder: "Re: Backend for Microtek SCSI-II scanners"</a>
<li> <b>In reply to:</b> <a href="0051.html">David Mosberger-Tang: "Re: configure --disable-static?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
