<!-- received="Sun May 10 09:54:42 1998 PDT" -->
<!-- sent="Sun, 10 May 1998 18:51:59 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Sane, Microtek E3, and Alpha Linux..." -->
<!-- id="" -->
<!-- inreplyto="009d01bd7c22$ea2d1fc0$499672cf@ester.sunshinecomputing.com" -->
<title>sane-devel: Re: Sane, Microtek E3, and Alpha Linux...</title>
<h1>Re: Sane, Microtek E3, and Alpha Linux...</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sun, 10 May 1998 18:51:59 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#112">[ date ]</a><a href="index.html#112">[ thread ]</a><a href="subject.html#112">[ subject ]</a><a href="author.html#112">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">Brian Schau: "Re: Sane, Microtek E3, and Alpha Linux..."</a>
<li> <b>Previous message:</b> <a href="0111.html">Matto Marjanovic: "Re: Highscreen RealScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 10 May 1998, Brian Macy wrote:<br>
<p>
<i>&gt; &gt;&gt; For the life of me I can't figure out what is wrong. I am using 0.71</i><br>
<i>&gt; (tried</i><br>
<i>&gt; &gt;&gt; 0.72 and it made no difference). I installed using the Alpha RPM.</i><br>
<i>&gt; &gt;&gt;</i><br>
<i>&gt; &gt;&gt; - basically nothing is working</i><br>
<i>&gt; &gt;&gt; - the /usr/lib/libsane.so.0 link doesn't get created so I linked it to</i><br>
<i>&gt; &gt;&gt; /usr/lib/libsane-dll.so.0... I assume that is correct.</i><br>
<i>&gt; &gt;&gt; - this is my /proc/scsi/scsi:</i><br>
<i>&gt; &gt;&gt;     Attached devices:</i><br>
<i>&gt; &gt;&gt;     Host: scsi0 Channel: 00 Id: 00 Lun: 00</i><br>
<i>&gt; &gt;&gt;       Vendor: SEAGATE  Model: ST15230W SUN4.2G Rev: 0738</i><br>
<i>&gt; &gt;&gt;           Type:   Direct-Access                    ANSI SCSI revision: 02</i><br>
<i>&gt; &gt;&gt;     Host: scsi0 Channel: 00 Id: 01 Lun: 00</i><br>
<i>&gt; &gt;&gt;       Vendor: QUANTUM  Model: LIGHTNING 730S   Rev: 241E</i><br>
<i>&gt; &gt;&gt;       Type:   Direct-Access                    ANSI SCSI revision: 02</i><br>
<i>&gt; &gt;&gt;     Host: scsi0 Channel: 00 Id: 02 Lun: 00</i><br>
<i>&gt; &gt;&gt;       Vendor: QUANTUM  Model: FIREBALL1080S    Rev: 1Q08</i><br>
<i>&gt; &gt;&gt;       Type:   Direct-Access                    ANSI SCSI revision: 02</i><br>
<i>&gt; &gt;&gt;     Host: scsi0 Channel: 00 Id: 04 Lun: 00</i><br>
<i>&gt; &gt;&gt;       Vendor:          Model: Scanner          Rev: 1.80</i><br>
<i>&gt; &gt;&gt;       Type:   Scanner                          ANSI SCSI revision: 02</i><br>
<i>&gt; &gt;&gt;     Host: scsi0 Channel: 00 Id: 06 Lun: 00</i><br>
<i>&gt; &gt;&gt;       Vendor: TOSHIBA  Model: CD-ROM XM-3601TA Rev: 0725</i><br>
<i>&gt; &gt;&gt;       Type:   CD-ROM                           ANSI SCSI revision: 02</i><br>
<i>&gt; &gt;&gt;</i><br>
<i>&gt; &gt;&gt; - scanimage --list-device returns nothing.</i><br>
<i>&gt; &gt;&gt;</i><br>
<i>&gt; &gt;&gt; This is my first shot at getting this working so I'm hoping it is</i><br>
<i>&gt; something</i><br>
<i>&gt; &gt;&gt; simple.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;link /dev/scanner to the proper (generic scsi) device and make sure the</i><br>
<i>&gt; &gt;user has right to use this device. the 0.72-6 rpm should be fine.</i><br>
<i>&gt; </i><br>
<i>&gt; I tried that to no avail. Of course I'm not sure which device is the correct</i><br>
<i>&gt; one... I think /dev/sge but I tried them all. You wouldn't happen to know if</i><br>
<i>&gt; "generic SCSI" support needs to be compiled into the Linux kernel?</i><br>
<p>
It MUST. (How would you use these devices otherwise?)<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">Brian Schau: "Re: Sane, Microtek E3, and Alpha Linux..."</a>
<li> <b>Previous message:</b> <a href="0111.html">Matto Marjanovic: "Re: Highscreen RealScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
