<!-- received="Mon May 11 21:40:44 1998 PDT" -->
<!-- sent="Mon, 11 May 1998 21:40:43 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: problems with snapscan and scanimage" -->
<!-- id="199805120440.VAA15693@panda.mostang.com" -->
<!-- inreplyto="19980512034234Z13333-19035+343@scapa.cs.ualberta.ca" -->
<title>sane-devel: Re: problems with snapscan and scanimage</title>
<h1>Re: problems with snapscan and scanimage</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 11 May 1998 21:40:43 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#130">[ date ]</a><a href="index.html#130">[ thread ]</a><a href="subject.html#130">[ subject ]</a><a href="author.html#130">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0131.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0129.html">Pkirchg: "Re: HP Photoscan"</a>
<li> <b>In reply to:</b> <a href="0127.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0131.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0131.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0133.html">Rogier Wolff: "Re: problems with snapscan and scanimage"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 11 May 1998 21:42:28 -0600 (MDT), <a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a> said:</i><br>
<p>
<i>  &gt;&gt; (*) After a closer look I'd say it does not produce 10 bits -- it</i><br>
<i>  &gt;&gt; just *claims* to :-)</i><br>
<p>
  Kevin&gt; The output from the scanner to the host is 8 bits per<br>
  Kevin&gt; sample, but the scanner allows the host to download a<br>
  Kevin&gt; 10-bit gamma table for each channel. Presumably this gives<br>
  Kevin&gt; finer control over gamma correction (or "tone curving")<br>
  Kevin&gt; than the 8-bit tables, despite the fact that the data is<br>
  Kevin&gt; being converted to 8 bits before it's sent to the host.<br>
<p>
A couple of notes:<br>
<p>
	- The SANE API supports depths of 1 bit/channel or any<br>
	  positive integer multiple of 8.  10 bits/channel is _not_<br>
	  a supported depth.<br>
<p>
	- Most (all?) current frontends are limited to 8 bits/channel.<br>
	  This isn't hard to fix, it's just no fun to do without<br>
	  hardware to test it with.<br>
<p>
	- A 10-bit gamma table does indeed make sense even when the<br>
	  output is only 8 bits/channel.  Fortunately, this can be<br>
	  supported just fine with SANE (e.g., simply allow values in<br>
	  the range 0..1023 for the gamma vector elements).<br>
<p>
I applied a patch similar to Mikko's to the SnapScan backend---hope<br>
that's all right.<br>
<p>
Thanks,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0131.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0129.html">Pkirchg: "Re: HP Photoscan"</a>
<li> <b>In reply to:</b> <a href="0127.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0131.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0131.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0133.html">Rogier Wolff: "Re: problems with snapscan and scanimage"</a>
<!-- reply="end" -->
</ul>
