<!-- received="Tue May 12 08:16:17 1998 PDT" -->
<!-- sent="Tue, 12 May 1998 17:10:11 +0200" -->
<!-- name="Nils Schuller" -->
<!-- email="Nils.Schuller@t-online.de" -->
<!-- subject="whole system locked" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: whole system locked</title>
<h1>whole system locked</h1>
<b>Nils Schuller</b> (<a href="mailto:Nils.Schuller@t-online.de"><i>Nils.Schuller@t-online.de</i></a>)<br>
<i>Tue, 12 May 1998 17:10:11 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#137">[ date ]</a><a href="index.html#137">[ thread ]</a><a href="subject.html#137">[ subject ]</a><a href="author.html#137">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">David Mosberger-Tang: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<li> <b>Previous message:</b> <a href="0136.html">Craig Ruff: "Re: HP Photoscan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi<br>
<p>
I recently encountered real problems out of nowhere: <br>
<p>
the xscanimage-preview crashed the whole system.<br>
<p>
to start from the beginning:<br>
<p>
hardware:       Mustek Paragon 1200SP (firmware 1.02)<br>
 connected to	Tekram DC390 which also runs <br>
		IBM SCSI-Harddisk<br>
<p>
software:	SuSE Linux 5.1 with kernel 2.0.33 and <br>
		Tekram DC390(T) V1.11-driver and<br>
		sane0.67 using<br>
		SG_BIG_BUFF=1M (thanks to Rogier Wolff)<br>
<p>
I put the system from IDE-disk to SCSI some time ago. For some time<br>
everything worked perfect, when suddenly, exactly at the end of a<br>
preview-scan the whole system froze completely (don't laugh at me).<br>
No keybord working.<br>
<p>
I had to reset and repair a more or less corrupt filesystem :-(<br>
It happend some more times, but only EXACTLY at the end of previewing,<br>
the<br>
normal scanning was fine. With option strip-height (1 or 2) enabled<br>
previewing<br>
works mostly correct, only one crash since. smaller strip-heights seem<br>
safer and color preview very unsafe (more data coming?)<br>
<p>
I have no real idea what is going on, to me it seems some kind of<br>
timing problem? The system tries to write preview-data to disk while<br>
the scanner still locks the SCSI-bus? How could this be avoided?<br>
<p>
Anybody any hints?<br>
<p>
thanks in advance<br>
<p>
Nils<br>
<pre>
-- 
Nils Schuller - Heinrich-Bettinger-Str. 4 - 78333 Stockach
phone: (07771) 929023     
e-mail: <a href="mailto:Nils.Schuller@t-online.de">Nils.Schuller@t-online.de</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0138.html">David Mosberger-Tang: "Re: [patch] 0.72 sane-dll.so changes..."</a>
<li> <b>Previous message:</b> <a href="0136.html">Craig Ruff: "Re: HP Photoscan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
