<!-- received="Wed May 13 14:55:32 1998 PDT" -->
<!-- sent="Wed, 13 May 1998 17:54:54 +0700" -->
<!-- name="Rob Fargher" -->
<!-- email="fargher@POBoxes.com" -->
<!-- subject="Re: problems with snapscan and scanimage" -->
<!-- id="199805132216.SAA22185@emerald.accessv.com" -->
<!-- inreplyto="problems with snapscan and scanimage" -->
<title>sane-devel: Re: problems with snapscan and scanimage</title>
<h1>Re: problems with snapscan and scanimage</h1>
<b>Rob Fargher</b> (<a href="mailto:fargher@POBoxes.com"><i>fargher@POBoxes.com</i></a>)<br>
<i>Wed, 13 May 1998 17:54:54 +0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#157">[ date ]</a><a href="index.html#157">[ thread ]</a><a href="subject.html#157">[ subject ]</a><a href="author.html#157">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Tim Kallinis: "Need SCSI card advice"</a>
<li> <b>Previous message:</b> <a href="0156.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Maybe in reply to:</b> <a href="0123.html">KH Jeron: "problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0160.html">David Mosberger-Tang: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0160.html">David Mosberger-Tang: "Re: problems with snapscan and scanimage"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 13 May 1998 11:02:03 +0200, KH Jeron wrote:<br>
<p>
<i>&gt;now my snapscan 310 (sane 0.72) seems to work.</i><br>
<i>&gt;the only problem is, that scanimage just scans the right corner on the bottom of a</i><br>
<i>&gt;piece of paper.</i><br>
<i>&gt;the paper size is 21 cm x 29,7 cm but the scanned area is just about 8 cm x  10</i><br>
<i>&gt;cm.</i><br>
<i>&gt;i have no idea why this happens.</i><br>
<i>&gt;kheinz</i><br>
<p>
  I had something similar happen to me and was pulling my hair out, trying to figure out what was going <br>
wrong.  I finally realised that I had changed the SG_BIG_BUFF size in /usr/src/linux/include/scsi/sg.h <br>
to the highest recommended value before I compiled SANE but hadn't re-compiled the kernel after I'd <br>
made the SC_BIG_BUFF change.<br>
<p>
  Once I re-compiled and installed the kernel with this change, SANE and my scanner work properly. <br>
<p>
  Now if only I could figure out how to get the GIMP to load xscanimage when I'm logged on as a user, <br>
I'd be happy.  As a user, I can load and use xscanimage but "Acquire Image" isn't an option on the <br>
GIMP "Xtns" menu.  It is when I'm logged in as root, though. <br>
<p>
Cheers,<br>
Rob<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Tim Kallinis: "Need SCSI card advice"</a>
<li> <b>Previous message:</b> <a href="0156.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Maybe in reply to:</b> <a href="0123.html">KH Jeron: "problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0160.html">David Mosberger-Tang: "Re: problems with snapscan and scanimage"</a>
<li> <b>Reply:</b> <a href="0160.html">David Mosberger-Tang: "Re: problems with snapscan and scanimage"</a>
<!-- reply="end" -->
</ul>
