<!-- received="Tue May 19 13:36:59 1998 PDT" -->
<!-- sent="Tue, 19 May 1998 13:37:56 -0600" -->
<!-- name="Bob van der Poel" -->
<!-- email="bvdpoel@kootenay.com" -->
<!-- subject="Re: configure for gtk" -->
<!-- id="" -->
<!-- inreplyto="configure for gtk" -->
<title>sane-devel: Re: configure for gtk</title>
<h1>Re: configure for gtk</h1>
<b>Bob van der Poel</b> (<a href="mailto:bvdpoel@kootenay.com"><i>bvdpoel@kootenay.com</i></a>)<br>
<i>Tue, 19 May 1998 13:37:56 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#210">[ date ]</a><a href="index.html#210">[ thread ]</a><a href="subject.html#210">[ subject ]</a><a href="author.html#210">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0211.html">Brian Macy: "Odd SCSI messages...."</a>
<li> <b>Previous message:</b> <a href="0209.html">Oliver.Rauch@Wolfsburg.DE: "Re: sane-0.73 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0199.html">Bob van der Poel: "configure for gtk"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Sat, 16 May 1998 20:35:01 -0600, Bob van der Poel &lt;<a href="mailto:bvdpoel@kootenay.com">bvdpoel@kootenay.com</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Bob&gt; I suppose this is obvious as daylight to most of you...but not</i><br>
<i>&gt;   Bob&gt; to me (besides, it is dark here just now).</i><br>
<i>&gt; </i><br>
<i>&gt;   Bob&gt; What do I set in configure to enable gtk? I have gtk 1.0.2</i><br>
<i>&gt;   Bob&gt; installed.  Libs are in /usr/local/lib, includes in</i><br>
<i>&gt;   Bob&gt; /usr/local/include and the gtk-config in /usr/local/bin (this</i><br>
<i>&gt;   Bob&gt; is the default install for gtk).</i><br>
<i>&gt; </i><br>
<i>&gt;   Bob&gt; I have tried configure --with-gtk-prefix=/usr/local/lib,</i><br>
<i>&gt;   Bob&gt; --with-gtk-exec-prefix=/usr/local/bin and probably a half dozen</i><br>
<i>&gt;   Bob&gt; other trys. All of them get configure to tell me that</i><br>
<i>&gt;   Bob&gt; gtk-config could not be found.</i><br>
<i>&gt; </i><br>
<i>&gt; Do you have an old version of the GTK libraries installed (maybe in</i><br>
<i>&gt; /usr/lib/)?  The new GTK-configuration setup checks for the correct</i><br>
<i>&gt; GTK version by compiling a test program and if old libraries are</i><br>
<i>&gt; installed, this may fail.</i><br>
<i>&gt; </i><br>
<i>&gt; If this doesn't resolve the problem, please include the output of</i><br>
<i>&gt; "configure" so we can get a better idea of what may be going wrong.</i><br>
<p>
I'm quite sure that all my old gtk stuff has been removed.<br>
<p>
---------<br>
<p>
Here is the relevant configure output (from a configure with no<br>
options):<br>
<p>
checking whether to build shared libraries... yes<br>
checking whether to build static libraries... yes<br>
checking for objdir... .libs<br>
creating libtool<br>
checking for X... (cached) libraries /usr/X11R6/lib, headers<br>
/usr/X11R6/include<br>
checking for dlfcn.h... (cached) yes<br>
checking for dlopen in -ldl... (cached) yes<br>
checking for dlopen... (cached) yes<br>
checking for gtk-config... (cached) no<br>
checking for GTK - version &gt;= 0.99.13... no<br>
*** The gtk-config script installed by GTK could not be found<br>
*** If GTK was installed in PREFIX, make sure PREFIX/bin is in<br>
*** your path, or set the GTK_CONFIG environment variable to the<br>
*** full path to gtk-config.<br>
disabling PINT backend<br>
enabling QuickCam backend<br>
enabling NET backend<br>
creating ./config.status<br>
creating Makefile<br>
<p>
------------<br>
<p>
Form the command line:<br>
<p>
bob:~/src/gfx/sane/sane-0.73$ gtk-config --version<br>
1.0.2<br>
<p>
------------<br>
<p>
I don't have a variable GTK_CONFIG set.<br>
<p>
Hope this turns on a light &lt;g&gt;.<br>
<p>
Thanks!<br>
<p>
<pre>
-- 
   __
  /  )      /         Bob van der Poel
 /--&lt;  ____/__        <a href="mailto:bvdpoel@kootenay.com">bvdpoel@kootenay.com</a>
/___/_(_) /_)         <a href="http://www.kootenay.com/~bvdpoel">http://www.kootenay.com/~bvdpoel</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0211.html">Brian Macy: "Odd SCSI messages...."</a>
<li> <b>Previous message:</b> <a href="0209.html">Oliver.Rauch@Wolfsburg.DE: "Re: sane-0.73 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0199.html">Bob van der Poel: "configure for gtk"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
