<!-- received="Tue May 19 14:48:18 1998 PDT" -->
<!-- sent="Tue, 19 May 1998 17:59:10 -0300" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: Odd SCSI messages...." -->
<!-- id="199805192159.RAA18799@nigel.redhat.com" -->
<!-- inreplyto="Odd SCSI messages...." -->
<title>sane-devel: Re: Odd SCSI messages....</title>
<h1>Re: Odd SCSI messages....</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Tue, 19 May 1998 17:59:10 -0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#212">[ date ]</a><a href="index.html#212">[ thread ]</a><a href="subject.html#212">[ subject ]</a><a href="author.html#212">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0213.html">Bernd Schroeder: "Re: sane-0.73 available"</a>
<li> <b>Previous message:</b> <a href="0211.html">Brian Macy: "Odd SCSI messages...."</a>
<li> <b>Maybe in reply to:</b> <a href="0211.html">Brian Macy: "Odd SCSI messages...."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Brian Macy" writes:<br>
<i>&gt;I have a DEC Alpha RedHat Linux 5.0 Box with SANE working on it. I notice I</i><br>
<i>&gt;get odd messages when executing find-scanner. Things like SCSI bus resets</i><br>
<i>&gt;and what not. It works perfectly fine when I scan things but I am wondering</i><br>
<i>&gt;if these SCSI messages are normal.</i><br>
<p>
Quite likely.  Several brands of scanner appear to initiate bus resets<br>
as part of their scanning process.  Not very friendly to other devices<br>
on the bus (wreaks havoc on queued commands) but that's life...<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0213.html">Bernd Schroeder: "Re: sane-0.73 available"</a>
<li> <b>Previous message:</b> <a href="0211.html">Brian Macy: "Odd SCSI messages...."</a>
<li> <b>Maybe in reply to:</b> <a href="0211.html">Brian Macy: "Odd SCSI messages...."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
