<!-- received="Tue May 26 01:32:44 1998 PDT" -->
<!-- sent="Tue, 26 May 1998 01:32:25 -0700 (PDT)" -->
<!-- name="Donald Burr" -->
<!-- email="dburr@POBoxes.com" -->
<!-- subject="INFO: Updated FreeBSD port of sane to 0.73" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: INFO: Updated FreeBSD port of sane to 0.73</title>
<h1>INFO: Updated FreeBSD port of sane to 0.73</h1>
<b>Donald Burr</b> (<a href="mailto:dburr@POBoxes.com"><i>dburr@POBoxes.com</i></a>)<br>
<i>Tue, 26 May 1998 01:32:25 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#267">[ date ]</a><a href="index.html#267">[ thread ]</a><a href="subject.html#267">[ subject ]</a><a href="author.html#267">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0268.html">Feico Dillema: "Re: RICOH Backend for SANE"</a>
<li> <b>Previous message:</b> <a href="0266.html">Dick Bruijn: "Scsi commands for the Artec viewstation AT12?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
<p>
This is just a small note to let y'all know that I have just<br>
committed an update of the FreeBSD port of sane to bring it up to version<br>
0.73.<br>
<p>
If you track your ports tree by CVS, the update shold be showing up RSN,<br>
if it hasn't already.  Otherwise, you can get the latest sane port at:<br>
<p>
<a href="ftp://ftp.freebsd.org/pub/FreeBSD/ports-current/graphics/sane.tar">ftp://ftp.freebsd.org/pub/FreeBSD/ports-current/graphics/sane.tar</a><br>
<p>
Please contact myself and &lt;<a href="mailto:freebsd-ports@freebsd.org">freebsd-ports@freebsd.org</a>&gt; with any problems or<br>
questions you may have on this port.<br>
<p>
Thanks.<br>
- ---<br>
Donald Burr &lt;<a href="mailto:dburr@POBoxes.com">dburr@POBoxes.com</a>&gt; - Ask me for my PGP key | PGP: Your<br>
WWW HomePage: <a href="http://DonaldBurr.base.org/">http://DonaldBurr.base.org/</a>  ICQ #1347455 | right to<br>
Address: P.O. Box 91212, Santa Barbara, CA 93190-1212   | 'Net privacy.<br>
Phone: (805) 957-9666    FAX: (800) 492-5954            | USE IT.<br>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: 2.6.2<br>
<p>
iQCVAwUBNWp+GfjpixuAwagxAQHu8QQAllWOhDYklhYdycowzK3fsRxGmFO+Y/N2<br>
lDVyzjHicZHUmP1bj/TwgQDcE1Lp9wp3m1DcHke6oq8p7XNXYQCznbvGtrBDHopz<br>
Lq8Ue9FItB5vbstkZ9xjPbplQvCk10gAG1EVep6iDsF4XJ9Ymmm6CzcHysXmqFQY<br>
28xqmmj0j6U=<br>
=LMoK<br>
-----END PGP SIGNATURE-----<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0268.html">Feico Dillema: "Re: RICOH Backend for SANE"</a>
<li> <b>Previous message:</b> <a href="0266.html">Dick Bruijn: "Scsi commands for the Artec viewstation AT12?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
