<!-- received="Tue May 26 01:55:24 1998 PDT" -->
<!-- sent="Tue, 26 May 1998 10:54:44 +0200" -->
<!-- name="Feico Dillema" -->
<!-- email="dillema@acm.org" -->
<!-- subject="Re: RICOH Backend for SANE" -->
<!-- id="199805260854.KAA05650@hyper.huygens.org" -->
<!-- inreplyto="RICOH Backend for SANE" -->
<title>sane-devel: Re: RICOH Backend for SANE</title>
<h1>Re: RICOH Backend for SANE</h1>
<b>Feico Dillema</b> (<a href="mailto:dillema@acm.org"><i>dillema@acm.org</i></a>)<br>
<i>Tue, 26 May 1998 10:54:44 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#268">[ date ]</a><a href="index.html#268">[ thread ]</a><a href="subject.html#268">[ subject ]</a><a href="author.html#268">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0269.html">William L. Sebok: "Re: new UMAX-Patch available"</a>
<li> <b>Previous message:</b> <a href="0267.html">Donald Burr: "INFO: Updated FreeBSD port of sane to 0.73"</a>
<li> <b>Maybe in reply to:</b> <a href="0255.html">Feico Dillema: "RICOH Backend for SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Your message dated: Mon, 25 May 1998 10:09:47 MST<br>
<i>&gt;&gt;&gt;&gt;&gt;&gt; On Mon, 25 May 1998 12:48:25 +0200, Feico Dillema &lt;<a href="mailto:dillema@acm.org">dillema@acm.org</a>&gt; </i><br>
said:<br>
<i>&gt;</i><br>
<i>&gt;  Feico&gt; This weekend I wrote an preliminary SANE backend for my Ricoh</i><br>
<i>&gt;  Feico&gt; scanner. It still needs some cleaning up and experimental</i><br>
<i>&gt;  Feico&gt; testing (I couldn't get the tech-docs without the NDA thing),</i><br>
<i>&gt;  Feico&gt; but it's basically operational. It runs at least on my</i><br>
<i>&gt;  Feico&gt; NetBSD-i386-1.3.1 machine with sane-0.72.</i><br>
<i>&gt;</i><br>
<i>&gt;Sounds great!  Given that you signed an NDA, will you be able to</i><br>
<i>&gt;provide the source code for the backend or would this be limited to</i><br>
<i>&gt;binaries only?</i><br>
<p>
Ah, sorry. I wasn't very clear on that. I meant, I don't have any ricoh<br>
tech-docs (because I had to sign an NDA that would prohibit free source<br>
distribution). That's why I need to do some more `experimental testing' of the<br>
scanner to see whether it supports more options and features than the most<br>
obvious. I was lucky that the scanner complies with the SCSI-2 standard<br>
relatvively well, so I had a basis for trying things out.<br>
<p>
I'll probably work on it some more this weekend, and then make it available to<br>
you.<br>
<p>
Feico.<br>
<p>
BTW: (x)scanimage (on NetBSD-Intel) seemed to have a problem when multiple<br>
backends are pre-loaded. First I couldn't get it to work properly with <br>
shared libs, which I think is a NetBSD/sane-configuring problem (I'll look<br>
into that later), then after building a non-shared version scanimage core<br>
dumps when it scans for devices. Is this a known problem? The backends that<br>
I pre-loaded were: mustek hp pnm net. xscanimage with just pnm worked ok,<br>
and now it works ok with pnm and my ricoh backend. If this not a known<br>
problem, I'll see if I can find out what it is. If it is known, I'd like<br>
to know where the problem is: in one or more of the backends or ???...<br>
<p>
<p>
 <br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0269.html">William L. Sebok: "Re: new UMAX-Patch available"</a>
<li> <b>Previous message:</b> <a href="0267.html">Donald Burr: "INFO: Updated FreeBSD port of sane to 0.73"</a>
<li> <b>Maybe in reply to:</b> <a href="0255.html">Feico Dillema: "RICOH Backend for SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
