<!-- received="Sun May 31 12:35:55 1998 PDT" -->
<!-- sent="Sun, 31 May 1998 21:32:48 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Yet more Non Disclosure Agreements." -->
<!-- id="" -->
<!-- inreplyto="199805302111.VAA01937@restallnet.demon.co.uk" -->
<title>sane-devel: Re: Yet more Non Disclosure Agreements.</title>
<h1>Re: Yet more Non Disclosure Agreements.</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sun, 31 May 1998 21:32:48 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#304">[ date ]</a><a href="index.html#304">[ thread ]</a><a href="subject.html#304">[ subject ]</a><a href="author.html#304">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0305.html">Hugo van der Kooij: "Re: sane &amp; umac-astra 610s"</a>
<li> <b>Previous message:</b> <a href="0303.html">akiraly@studi.unizh.ch: "sane &amp; umac-astra 610s"</a>
<li> <b>In reply to:</b> <a href="0302.html">Dave Restall - System Administrator: "Yet more Non Disclosure Agreements."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 30 May 1998, Dave Restall - System Administrator wrote:<br>
<p>
<i>&gt; I've now received a new NDA from PIE and as I'm not well versed in NDA's</i><br>
<i>&gt; I would like a second opinion on it's text, consequently, I'd like to</i><br>
<i>&gt; post a copy of the NDA to the list (it's about 10k long), are there any</i><br>
<i>&gt; major objections to this ?  I have asked the permission of PIE to post</i><br>
<i>&gt; it and they modified it slightly from original when I stressed that I</i><br>
<i>&gt; wanted it to develop a SANE driver and release the drivers under GPL.</i><br>
<i>&gt; </i><br>
<i>&gt; So far, PIE seem to have been very positive, a few quotes :-</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; The aim of this agreement is just to ensure that the document that we will</i><br>
<i>&gt; &gt; send to you will not be distributed to anybody else without our consent.</i><br>
<i>&gt; &gt; Anybody who wish to have a copy of the same document will have to ask us,</i><br>
<i>&gt; &gt; and we will provide it to him after he signs an identical Non Disclosure</i><br>
<i>&gt; &gt; Agreement.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; The drivers or other software that you will develop using this</i><br>
<i>&gt; &gt; documentation, can be distributed freely.</i><br>
<p>
I would say this statement is clear enough. They just want control over<br>
who they send their documents to (preferably not to any compition ;-).<br>
<p>
But they allow you to use that information freely in any driver. So it<br>
seems it is time to startup your favorite editor as soon as the documents<br>
arrive.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0305.html">Hugo van der Kooij: "Re: sane &amp; umac-astra 610s"</a>
<li> <b>Previous message:</b> <a href="0303.html">akiraly@studi.unizh.ch: "sane &amp; umac-astra 610s"</a>
<li> <b>In reply to:</b> <a href="0302.html">Dave Restall - System Administrator: "Yet more Non Disclosure Agreements."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
