<!-- received="Wed Mar  4 10:58:09 1998 PST" -->
<!-- sent="Wed, 4 Mar 1998 21:01:32 +0100 (MET)" -->
<!-- name="Thomas Wenzke" -->
<!-- email="thomas@twenzke.nacamar.de" -->
<!-- subject="Re: sane unable to find mustek scanner 1200SP" -->
<!-- id="" -->
<!-- inreplyto="sane unable to find mustek scanner 1200SP" -->
<title>sane-devel: Re: sane unable to find mustek scanner 1200SP</title>
<h1>Re: sane unable to find mustek scanner 1200SP</h1>
<b>Thomas Wenzke</b> (<a href="mailto:thomas@twenzke.nacamar.de"><i>thomas@twenzke.nacamar.de</i></a>)<br>
<i>Wed, 4 Mar 1998 21:01:32 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#15">[ date ]</a><a href="index.html#15">[ thread ]</a><a href="subject.html#15">[ subject ]</a><a href="author.html#15">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Graham Leggett: "HP scanner backend very slow - why?"</a>
<li> <b>Previous message:</b> <a href="0014.html">Thomas Wenzke: "Re: sane mustek mfs-12000sp rev 1.07 problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0001.html">Erdmann Bloch: "sane unable to find mustek scanner 1200SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
hi<br>
<p>
On Sun, 01 Mar 1998 16:31:35 +0100 you wrote<br>
<i>&gt; im try to use the Mustek scanner 1200SP (ScanExpress) but scanimage</i><br>
<i>&gt; always exits with:</i><br>
<i>&gt; "scanimage: open of device mustek:/dev/scanner failed: Invalid</i><br>
<i>&gt; argument"</i><br>
<p>
i had received the same messages while my first tries with sane.<br>
my access-rights on the device-file were <br>
            rw------- root root /dev/sg?<br>
after i had altered the rights to<br>
            rw-rw---- root users<br>
(my normal login-group is users) the messages <br>
  scanimage: open of device mustek:/dev/scanner failed: Invalid argument<br>
are gone.<br>
<p>
now the (maybe silly) question : do you have read/write-access to your<br>
device-file  /dev/sg2 ???<br>
<p>
best regards<br>
<p>
thomas wenzke<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Graham Leggett: "HP scanner backend very slow - why?"</a>
<li> <b>Previous message:</b> <a href="0014.html">Thomas Wenzke: "Re: sane mustek mfs-12000sp rev 1.07 problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0001.html">Erdmann Bloch: "sane unable to find mustek scanner 1200SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
