<!-- received="Fri Mar  6 10:58:46 1998 PST" -->
<!-- sent="Fri, 6 Mar 1998 13:58:19 -0500 (EST)" -->
<!-- name="William L. Sebok" -->
<!-- email="wls@astro.umd.edu" -->
<!-- subject="gtk+-0.99.4" -->
<!-- id="199803061858.NAA18397@earth.astro.umd.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: gtk+-0.99.4</title>
<h1>gtk+-0.99.4</h1>
<b>William L. Sebok</b> (<a href="mailto:wls@astro.umd.edu"><i>wls@astro.umd.edu</i></a>)<br>
<i>Fri, 6 Mar 1998 13:58:19 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#25">[ date ]</a><a href="index.html#25">[ thread ]</a><a href="subject.html#25">[ subject ]</a><a href="author.html#25">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">Bob van der Poel: "Re: sane 0.71 and microtek E3"</a>
<li> <b>Previous message:</b> <a href="0024.html">Jeff Freedman: "Re: sane 0.71 and microtek E3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Does anyone know if gtk+-0.99.4 will work with sane (any current version)?  I<br>
heard from the gimp mailing list that the gtk+-0.99.3 to gtk+-0.99.4 transition<br>
required quite a bit of the work that went into the transition from<br>
gimp-0.99.18 (goes with gtk+-0.99.3) to gimp-0.99.19 (goes with gtk+-0.99.4).<br>
<p>
Bill Sebok      Computer Software Manager, Univ. of Maryland, Astronomy<br>
	Internet: <a href="mailto:wls@astro.umd.edu">wls@astro.umd.edu</a>	URL: <a href="http://www.astro.umd.edu/~wls/">http://www.astro.umd.edu/~wls/</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">Bob van der Poel: "Re: sane 0.71 and microtek E3"</a>
<li> <b>Previous message:</b> <a href="0024.html">Jeff Freedman: "Re: sane 0.71 and microtek E3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
