<!-- received="Sat Mar  7 11:36:05 1998 PST" -->
<!-- sent="Sat, 07 Mar 1998 14:40:32 -0500" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="glasses (was: Re: sane 0.71 and microtek E3)" -->
<!-- id="199803071940.OAA23829@nigel.redhat.com" -->
<!-- inreplyto="Re: sane 0.71 and microtek E3)" -->
<title>sane-devel: glasses (was: Re: sane 0.71 and microtek E3)</title>
<h1>glasses (was: Re: sane 0.71 and microtek E3)</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Sat, 07 Mar 1998 14:40:32 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">Timo Neumann: "Re: sane 0.71 and microtek E3"</a>
<li> <b>Previous message:</b> <a href="0042.html">Bob van der Poel: "Re: sane 0.71 and microtek E3"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0046.html">Mark: "Re: glasses (was: Re: sane 0.71 and microtek E3)"</a>
<li> <b>Reply:</b> <a href="0046.html">Mark: "Re: glasses (was: Re: sane 0.71 and microtek E3)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Bob van der Poel writes:<br>
<i>&gt;Even worse, is the fact that I'm getting older each and every year and</i><br>
<i>&gt;my eyes are going along for the ride. I'm thinking of getting a 17"</i><br>
<i>&gt;soon,</i><br>
<i>&gt;but maybe I should blow the milk money on a 21" and justify it on the</i><br>
<i>&gt;savings</i><br>
<i>&gt;I'd incur by putting off glasses for another year. Wonder if she'll buy</i><br>
<i>&gt;that ;).</i><br>
<p>
:-)<br>
<p>
A 21" you will need to have farther away from your face to use effectively,<br>
so if you have the desk for it, you *will* find that it will be easier<br>
on your eyes.  You might also consider getting "computer glasses" focused<br>
at 1/2 meter; I've found that my occupational bifocals (1/2 meter for most<br>
of the glasses; only the top 13mm is distance-focus) makes my eyes a lot<br>
more comfortable, and it's a lot better than wearing bifocals all the<br>
time.  I use decent 17" monitors at approximately arm's length, and with<br>
the computer glasses, I can use them pretty much all day without too much<br>
eyestrain.  With distance glasses, it was painful.<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">Timo Neumann: "Re: sane 0.71 and microtek E3"</a>
<li> <b>Previous message:</b> <a href="0042.html">Bob van der Poel: "Re: sane 0.71 and microtek E3"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0046.html">Mark: "Re: glasses (was: Re: sane 0.71 and microtek E3)"</a>
<li> <b>Reply:</b> <a href="0046.html">Mark: "Re: glasses (was: Re: sane 0.71 and microtek E3)"</a>
<!-- reply="end" -->
</ul>
