<!-- received="Mon Mar  9 00:19:55 1998 PST" -->
<!-- sent="Mon, 09 Mar 1998 17:21:22 +0900" -->
<!-- name="Andrew S. Howell" -->
<!-- email="andy@tibco.com" -->
<!-- subject="qcam setup" -->
<!-- id="19980309172122R.andy@tibco.com" -->
<!-- inreplyto="" -->
<title>sane-devel: qcam setup</title>
<h1>qcam setup</h1>
<b>Andrew S. Howell</b> (<a href="mailto:andy@tibco.com"><i>andy@tibco.com</i></a>)<br>
<i>Mon, 09 Mar 1998 17:21:22 +0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#53">[ date ]</a><a href="index.html#53">[ thread ]</a><a href="subject.html#53">[ subject ]</a><a href="author.html#53">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Andreas Czechanowski: "Re: Mustek 600 II N problems"</a>
<li> <b>Previous message:</b> <a href="0052.html">Rogier Wolff: "Re: faint vertical stripes while scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I'm not sure if this is the right list or not, as this is not a<br>
development question, but I couldn't find any other list...<br>
<p>
I'm trying to get qcam to work on RH 5.0 linux, kernel 2.0.32. No<br>
matter what I do, scanimage can not open the port. I'm not sure of the<br>
systax. I tried:<br>
<p>
scanimage -d qcam<br>
scanimage -d qcam:lp0<br>
scanimage -d qcam:/dev/lp0<br>
<p>
It alway returns an error like:<br>
<p>
scanimage: open of device qcam:lp0 failed: Invalid argument<br>
<p>
Looking at it with strace gives doesn't help much. It looks like it<br>
open device, but then fails. I'm running this as root, so permissions<br>
should not be a problem.<br>
<p>
Is there a FAQ I should be reading first?<br>
<p>
Any help is greatly appreciated.<br>
<p>
Andy<br>
<p>
Abbreviated output of strace:<br>
<p>
2117  open("/usr/local/lib/libsane-qcam.so.0", O_RDONLY) = 4<br>
2117  open("/usr/local/etc/sane.d/qcam.conf", O_RDONLY) = 4<br>
2117  fstat(4, {st_mode=0, st_size=0, ...}) = 0<br>
2117  ioperm(0x3bc, 0x3, 0x1)           = 0<br>
2117  open("/tmp/LOCK.qcam.0x3bc", O_WRONLY|O_CREAT, 0666) = 5<br>
2117  write(2, "scanimage: open of device qcam:l"..., 60) = 60<br>
2117 _exit(1)<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">Andreas Czechanowski: "Re: Mustek 600 II N problems"</a>
<li> <b>Previous message:</b> <a href="0052.html">Rogier Wolff: "Re: faint vertical stripes while scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
