<!-- received="Mon Mar  9 12:20:20 1998 PST" -->
<!-- sent="Mon, 09 Mar 1998 15:20:27 -0500" -->
<!-- name="Christoph Doerbeck" -->
<!-- email="doerbeck@dma.isg.mot.com" -->
<!-- subject="HP722S DeskJet printer..." -->
<!-- id="199803092020.PAA05160@prospero.dma.isg.mot.com" -->
<!-- inreplyto="" -->
<title>sane-devel: HP722S DeskJet printer...</title>
<h1>HP722S DeskJet printer...</h1>
<b>Christoph Doerbeck</b> (<a href="mailto:doerbeck@dma.isg.mot.com"><i>doerbeck@dma.isg.mot.com</i></a>)<br>
<i>Mon, 09 Mar 1998 15:20:27 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Lele Forzani: "Re: Sane 0.71 and CanoScan 300"</a>
<li> <b>Previous message:</b> <a href="0058.html">Hugo van der Kooij: "Page with active references?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I realize this is a bit off topic, but I figured there might be someone<br>
sith some DeskJet experience on this list who could help me.<br>
<p>
I recently purchased the mentioned HP DeskJet 722s and have been unsuccessfull<br>
in getting it to work with linux (RedHat 4.2 with Customized kernel).<br>
If you have any info, references, links to ongoing projects with bubble jet,<br>
desk jet, bi-directional printer interface, I would be very thankfull.<br>
<p>
<p>
- Christoph<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Lele Forzani: "Re: Sane 0.71 and CanoScan 300"</a>
<li> <b>Previous message:</b> <a href="0058.html">Hugo van der Kooij: "Page with active references?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
