<!-- received="Sat Mar 14 06:37:31 1998 PST" -->
<!-- sent="Sat, 14 Mar 1998 09:05:25 +0100 (MET)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: Mustek scanner bug" -->
<!-- id="199803140805.JAA00879@cave.BitWizard.nl" -->
<!-- inreplyto="m0yDdwA-0000XXC@charon.beck-sw.de" -->
<title>sane-devel: Re: Mustek scanner bug</title>
<h1>Re: Mustek scanner bug</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Sat, 14 Mar 1998 09:05:25 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#98">[ date ]</a><a href="index.html#98">[ thread ]</a><a href="subject.html#98">[ subject ]</a><a href="author.html#98">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Arfst Ludwig: "Backends"</a>
<li> <b>Previous message:</b> <a href="0097.html">Rogier Wolff: "Re: Rescanning SCSI Bus..."</a>
<li> <b>In reply to:</b> <a href="0096.html">becka@rz.uni-duesseldorf.de: "Re: Mustek scanner bug"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a> wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt; I have a Mustek Paragon 1200SP. While it is scanning it locks the entire</i><br>
<i>&gt; &gt; system (it even blocks the mouse!). When the scan is finished everything</i><br>
<i>&gt; &gt; starts working again, but a tipycal scan is VERY SLOW. I have followed all</i><br>
<i>&gt; &gt; the hints given in the documentation and more...</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; I also tried removing all other SCSI devices from the bus and increasing</i><br>
<i>&gt; &gt; the SCSI buffer in the kernel. It did not improve much...</i><br>
<i>&gt; &gt; The situation is particularly annoying, since the scanner is placed on our</i><br>
<i>&gt; &gt; server, and every time someone wants to scan, it hangs all our little</i><br>
<i>&gt; &gt; cluster!</i><br>
<i>&gt; </i><br>
<i>&gt; What SCSI adaptor are you using ? The NCR53c400 that came with mine is</i><br>
<i>&gt; known to take great pieces of CPU, because it has no interrupt.</i><br>
<i>&gt; </i><br>
<i>&gt; I cannot strictly confirm this, but AFAIK with a good SCSI adaptor, all </i><br>
<i>&gt; should be well.</i><br>
<p>
Well, if there are scsi disks on the SCSI bus that is scanning, things<br>
can get pretty bad. Especially if the scanner doesn't do<br>
disconnect/reconnect.<br>
<p>
The scanner holds the bus for a few seconds at a time. And SANE tries<br>
to keep the scanner busy, so it will keep on issueing commands as fast<br>
as possible. The disks only gets a few blocks back and forth in<br>
between. As you Xserver eventually will hit a minor pagefault, it will<br>
need that before it can move your mouse again. That pagefault ends up only<br>
getting resolved after the scan completes.....<br>
<p>
					Roger. <br>
<p>
<pre>
-- 
If it's there and you can see it, it's REAL      <a href="mailto:|___R.E.Wolff@BitWizard.nl">|___R.E.Wolff@BitWizard.nl</a>  |
If it's there and you can't see it, it's TRANSPARENT |  Tel: +31-15-2137555  |
If it's not there and you can see it, it's VIRTUAL   |__FAX:_+31-15-2138217  |
If it's not there and you can't see it, it's GONE! -- Roy Wilks, 1983  |_____|
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Arfst Ludwig: "Backends"</a>
<li> <b>Previous message:</b> <a href="0097.html">Rogier Wolff: "Re: Rescanning SCSI Bus..."</a>
<li> <b>In reply to:</b> <a href="0096.html">becka@rz.uni-duesseldorf.de: "Re: Mustek scanner bug"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
