<!-- received="Sun Mar 15 11:07:15 1998 PST" -->
<!-- sent="Sun, 15 Mar 1998 20:02:03 +0100" -->
<!-- name="Juergen Pfeifer" -->
<!-- email="Juergen.Pfeifer@t-online.de" -->
<!-- subject="HP Photo Smart Camera" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP Photo Smart Camera</title>
<h1>HP Photo Smart Camera</h1>
<b>Juergen Pfeifer</b> (<a href="mailto:Juergen.Pfeifer@t-online.de"><i>Juergen.Pfeifer@t-online.de</i></a>)<br>
<i>Sun, 15 Mar 1998 20:02:03 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#102">[ date ]</a><a href="index.html#102">[ thread ]</a><a href="subject.html#102">[ subject ]</a><a href="author.html#102">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Lars Neumann: "Mustek ScanExpress 12000SP"</a>
<li> <b>Previous message:</b> <a href="0101.html">Kevin Dalley: "Re: PB compile sane-0.71"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi there,<br>
<p>
is there somebody working on a driver for the HP Photo Smart<br>
digital Camera? I would volunteer for alpha/beta testing:-)<br>
Pls. reply via EMail as I'm not a subscriber of this list.<br>
<p>
Juergen<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0103.html">Lars Neumann: "Mustek ScanExpress 12000SP"</a>
<li> <b>Previous message:</b> <a href="0101.html">Kevin Dalley: "Re: PB compile sane-0.71"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
