<!-- received="Sun Mar 15 15:22:05 1998 PST" -->
<!-- sent="Sun, 15 Mar 1998 18:21:31 -0500 (EST)" -->
<!-- name="Kenneth Crudup" -->
<!-- email="kenny@panix.com" -->
<!-- subject="Just the facts, ma'am" -->
<!-- id="199803152321.SAA21928@panix2.panix.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Just the facts, ma'am</title>
<h1>Just the facts, ma'am</h1>
<b>Kenneth Crudup</b> (<a href="mailto:kenny@panix.com"><i>kenny@panix.com</i></a>)<br>
<i>Sun, 15 Mar 1998 18:21:31 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#104">[ date ]</a><a href="index.html#104">[ thread ]</a><a href="subject.html#104">[ subject ]</a><a href="author.html#104">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Sven Geggus: "Polaroid Digital Kamera PDC-2000"</a>
<li> <b>Previous message:</b> <a href="0103.html">Lars Neumann: "Mustek ScanExpress 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here's my setup:<br>
<p>
PII-300MHz<br>
RH 4.2 with latest GCC, binutils, etc. , 2.0.33 (about to be 2.1.88).<br>
Adaptec 3940U SCSI<br>
Microtek E6 attached to 2nd SCSI on 3940<br>
<p>
I've been monitoring the list, and I have a simple request.<br>
<p>
*PLEASE* tell me what *works*, with what I've got! :-)<br>
<p>
Which GIMP, which xscanimage, which SANE.<br>
<p>
TIA,<br>
<p>
	-Kenny, who desperately wants to start scanning<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0105.html">Sven Geggus: "Polaroid Digital Kamera PDC-2000"</a>
<li> <b>Previous message:</b> <a href="0103.html">Lars Neumann: "Mustek ScanExpress 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
