<!-- received="Tue Mar 17 08:19:18 1998 PST" -->
<!-- sent="Tue, 17 Mar 1998 17:18:30 +0100" -->
<!-- name="Fabrice Pollet" -->
<!-- email="pollet@ensta.fr" -->
<!-- subject="Re: problems building sane" -->
<!-- id="199803171618.RAA27892@fab.ensta.fr" -->
<!-- inreplyto="problems building sane" -->
<title>sane-devel: Re: problems building sane</title>
<h1>Re: problems building sane</h1>
<b>Fabrice Pollet</b> (<a href="mailto:pollet@ensta.fr"><i>pollet@ensta.fr</i></a>)<br>
<i>Tue, 17 Mar 1998 17:18:30 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#111">[ date ]</a><a href="index.html#111">[ thread ]</a><a href="subject.html#111">[ subject ]</a><a href="author.html#111">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">theo borm: "Re: MicroTek scanner"</a>
<li> <b>Previous message:</b> <a href="0110.html">D.I. Rainer Klier: "problems building sane"</a>
<li> <b>Maybe in reply to:</b> <a href="0110.html">D.I. Rainer Klier: "problems building sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multipart MIME message.<br>
<p>
--==_Exmh_18073214320<br>
Content-Type: text/plain; charset=us-ascii<br>
<p>
<p>
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 17 Mar 1998, "DRK" == D.I. Rainer Klier wrote:</i><br>
<p>
  DRK&gt; hello sane-devel-team,<br>
<p>
  DRK&gt; i have a problem building/making sane 0.71.<br>
<p>
  DRK&gt; i know, maybe there are faqs, mailing lists,... but i didn't find a faq<br>
  DRK&gt; and don't want to wait for a new mailing-list-message containing my<br>
  DRK&gt; problem.<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 10 Mar 1998, "HvdK" == Hugo van der Kooij wrote:</i><br>
<p>
  HvdK&gt; Here is the patch that I did send only some days ago. The changes were<br>
  HvdK&gt; made by Bucher Christian. I just made a patch file out of it.<br>
<p>
- Copy this patch in /usr/src/sane-0.71/frontend<br>
- patch &lt; sane-0.71.patch<br>
<p>
<p>
<p>
--==_Exmh_18073214320<br>
Content-Type: application/x-patch ; name="sane-0.71.patch"<br>
Content-Description: sane-0.71.patch<br>
Content-Transfer-Encoding: base64<br>
Content-Disposition: attachment; filename="sane-0.71.patch"<br>
<p>
LS0tIGd0a2dsdWUuYy5vbGYgICAgICAgVHVlIEphbiAyNyAwODozODozNiAxOTk4CisrKyBn<br>
dGtnbHVlLmMgICBTdW4gTWFyICA4IDAwOjAyOjQ2IDE5OTgKQEAgLTcxLDcgKzcxLDcgQEAK<br>
IHNldF90b29sdGlwIChHdGtUb29sdGlwcyAqdG9vbHRpcHMsIEd0a1dpZGdldCAqd2lkZ2V0<br>
LCBjb25zdCBjaGFyICpkZXNjKQogewogICBpZiAoZGVzYyAmJiBkZXNjWzBdKQotICAgIGd0<br>
a190b29sdGlwc19zZXRfdGlwcyAodG9vbHRpcHMsIHdpZGdldCwgKGNoYXIgKikgZGVzYyk7<br>
CisgICAgZ3RrX3Rvb2x0aXBzX3NldF90aXAgKHRvb2x0aXBzLCB3aWRnZXQsIChjaGFyICop<br>
IGRlc2MsIChjaGFyICopIGRlc2MpOwogfQoKIGludApAQCAtODA4LDcgKzgwOCw4IEBACiAg<br>
IEdTR0RpYWxvZ0VsZW1lbnQgKmVsZW07CiAgIGludCBpLCBqOwoKLSAgZ3RrX3Rvb2x0aXBz<br>
X3VucmVmIChkaWFsb2ctPnRvb2x0aXBzKTsKKyAgZ3RrX29iamVjdF91bnJlZiAoR1RLX09C<br>
SkVDVCAoZGlhbG9nLT50b29sdGlwcykpOworICBkaWFsb2ctPnRvb2x0aXBzID0gTlVMTDsK<br>
ICAgZ3RrX3dpZGdldF9kZXN0cm95IChkaWFsb2ctPm1haW5faGJveCk7CgogICAvKiBmcmVl<br>
IHRoZSBtZW51IGxhYmVscyBvZiBpbnRlZ2VyL2ZpeC1wb2ludCB3b3JkLWxpc3RzOiAqLwot<br>
LS0geGNhbS5jLm9sZiAgVHVlIEphbiAyMCAwODozOTo1MSAxOTk4CisrKyB4Y2FtLmMgICAg<br>
ICBTYXQgTWFyICA3IDIzOjU0OjI5IDE5OTgKQEAgLTg5Niw3ICs4OTYsNyBAQAoKICAgc2Fu<br>
ZV9pbml0IChOVUxMLCAwKTsKCi0gIGdka19zZXRfZGVidWdfbGV2ZWwgKDApOworICAvKiBn<br>
ZGtfc2V0X2RlYnVnX2xldmVsICgwKTsgKi8KICAgZ2RrX3NldF9zaG93X2V2ZW50cyAoMCk7<br>
CiAgIGd0a19pbml0ICgmYXJnYywgJmFyZ3YpOwogICA=<br>
<p>
--==_Exmh_18073214320<br>
Content-Type: text/plain; charset=us-ascii<br>
<p>
   Fabrice POLLET	...running Linux!<br>
							 ___  ________ _<br>
  ENSTA / LEI / AMI	E-mail : <a href="mailto:pollet@ensta.fr">pollet@ensta.fr</a>	| __\| _|_   _/ \<br>
 32 boulevard Victor	Tel    : +33 01 45 52 54 25	| __\____ | |/ _ \<br>
75739 PARIS CEDEX 15	Fax    : +33 01 45 52 55 87	|___\_____|___/ \_\<br>
    F R A N C E<br>
--==_Exmh_18073214320--<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">theo borm: "Re: MicroTek scanner"</a>
<li> <b>Previous message:</b> <a href="0110.html">D.I. Rainer Klier: "problems building sane"</a>
<li> <b>Maybe in reply to:</b> <a href="0110.html">D.I. Rainer Klier: "problems building sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
