<!-- received="Tue Mar 24 14:09:00 1998 PST" -->
<!-- sent="Tue, 24 Mar 1998 23:08:39 +0100 (MET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: can't start xscanimage" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.980324223008.16577C-100000@hvdkooij.dyn.ml.org" -->
<title>sane-devel: Re: can't start xscanimage</title>
<h1>Re: can't start xscanimage</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Tue, 24 Mar 1998 23:08:39 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#167">[ date ]</a><a href="index.html#167">[ thread ]</a><a href="subject.html#167">[ subject ]</a><a href="author.html#167">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Miguel Cardenas: "A2000D..."</a>
<li> <b>Previous message:</b> <a href="0166.html">Hugo van der Kooij: "Re: can't start xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 24 Mar 1998, Hugo van der Kooij wrote:<br>
<p>
<i>&gt; On Tue, 24 Mar 1998, Jeremy Probber wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;     I recently purchased a Umax Astra1200s, hooked it</i><br>
<i>&gt; &gt; up to my Linux box and installed the sane 7.1 RPMS. I</i><br>
<i>&gt; &gt; got scanimage working fine; however, xscanimage will</i><br>
<i>&gt; &gt; just not work, it looks like its about to start and</i><br>
<i>&gt; &gt; just dies. I am using the RH5 distribution, GKT</i><br>
<i>&gt; &gt; 0.99.7, and did a symlink BTWN libsane-dll.so.0 and</i><br>
<i>&gt; &gt; libsane.so.0. after installing sane. I also originaly</i><br>
<i>&gt; &gt; used an older version of GTK(0.99.4) than I upgraded</i><br>
<i>&gt; &gt; and still had the same problem. If anyone had the</i><br>
<i>&gt; &gt; same problem and managed to fix it please let me</i><br>
<i>&gt; &gt; know. Also I wanted to thank the folks who gave me</i><br>
<i>&gt; &gt; advice on getting my scanner to work with my SCSI</i><br>
<i>&gt; &gt; card, Thanks!</i><br>
<i>&gt; </i><br>
<i>&gt; I did upload SANE 0.71, GIMP 0.99.22 and GTK 0.99.8 and that set should</i><br>
<i>&gt; work together well. I do not know wether or not redhat did process all of</i><br>
<i>&gt; the files I had send to them.</i><br>
<i>&gt; </i><br>
<i>&gt; Check <a href="ftp://ftp.redhat.com/pub/contrib/hurricane">ftp://ftp.redhat.com/pub/contrib/hurricane</a> for intel and Alpha</i><br>
<i>&gt; files. I did test the Alpha packages very well and the run fine here.</i><br>
<p>
As redhat has not handled thes you may find them on<br>
	<a href="ftp://ftp.nllgg.nl/pub/linux/alpha/">ftp://ftp.nllgg.nl/pub/linux/alpha/</a><br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Miguel Cardenas: "A2000D..."</a>
<li> <b>Previous message:</b> <a href="0166.html">Hugo van der Kooij: "Re: can't start xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
