<!-- received="Wed Mar 25 22:18:31 1998 PST" -->
<!-- sent="Thu, 26 Mar 1998 07:18:32 +0100" -->
<!-- name="D. Diederen" -->
<!-- email="D.Diederen@student.ulg.ac.be" -->
<!-- subject="report" -->
<!-- id="199803260617.HAA69138@aix4.segi.ulg.ac.be" -->
<!-- inreplyto="" -->
<title>sane-devel: report</title>
<h1>report</h1>
<b>D. Diederen</b> (<a href="mailto:D.Diederen@student.ulg.ac.be"><i>D.Diederen@student.ulg.ac.be</i></a>)<br>
<i>Thu, 26 Mar 1998 07:18:32 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#173">[ date ]</a><a href="index.html#173">[ thread ]</a><a href="subject.html#173">[ subject ]</a><a href="author.html#173">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0174.html">Mathias Koerber: "Dimage Scan Dual - request for Tech Info"</a>
<li> <b>Previous message:</b> <a href="0172.html">Mathias Koerber: "Minolta DUalscan , first shades of success?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hmm ... The sane-epson driver doesn't seem to work very well with the epson<br>
GT-8500 flatbed scanner, I'm afraid ...<br>
<p>
CU,<br>
Damien<br>
<p>
------------------------------------------------------------------<br>
- DIEDEREN Damien                  2e Candi. Ingénieur Civil ULg -<br>
------------------------------------------------------------------<br>
- Rue E. Vandervelde, 545 - 4610 Bellaire (Belgium)              -<br>
- Tel / Fax : 32-4-362.65.28                                     -<br>
- E-Mail : <a href="mailto:D.Diederen@student.ulg.ac.be">D.Diederen@student.ulg.ac.be</a>                          -<br>
- Home Page : <a href="http://www.geocities.com/SiliconValley/Haven/6226/">http://www.geocities.com/SiliconValley/Haven/6226/</a> -<br>
------------------------------------------------------------------<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0174.html">Mathias Koerber: "Dimage Scan Dual - request for Tech Info"</a>
<li> <b>Previous message:</b> <a href="0172.html">Mathias Koerber: "Minolta DUalscan , first shades of success?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
