<!-- received="Thu Mar 26 13:34:23 1998 PST" -->
<!-- sent="Thu, 26 Mar 1998 13:34:21 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Formal maintainer of RPM's?" -->
<!-- id="199803262134.NAA00841@panda.mostang.com" -->
<!-- inreplyto="Pine.LNX.3.96.980326222158.27261C-100000@hvdkooij.dyn.ml.org" -->
<title>sane-devel: Re: Formal maintainer of RPM's?</title>
<h1>Re: Formal maintainer of RPM's?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 26 Mar 1998 13:34:21 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#185">[ date ]</a><a href="index.html#185">[ thread ]</a><a href="subject.html#185">[ subject ]</a><a href="author.html#185">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Bennett, Everett, Jr, NCIO: "UnixWare 2.1.2 and UMAX-SE6 Scanner"</a>
<li> <b>Previous message:</b> <a href="0184.html">Hugo van der Kooij: "Formal maintainer of RPM's?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0187.html">Hugo van der Kooij: "Re: Formal maintainer of RPM's?"</a>
<li> <b>Reply:</b> <a href="0187.html">Hugo van der Kooij: "Re: Formal maintainer of RPM's?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 26 Mar 1998 22:26:06 +0100 (MET), Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; said:</i><br>
<p>
  Hugo&gt; Is there a (either formal or informal) maintainer of the RPM<br>
  Hugo&gt; files?  I did take the current 0.71 versions and added some<br>
  Hugo&gt; stuff. As I do not want to duplicate work I would like to know<br>
  Hugo&gt; if someone is (trying to) maintain it or that the RPM's were<br>
  Hugo&gt; made on a 'per occasion' basis.<br>
<p>
Not really.  I built RPMs for the last couple of releases but decided<br>
to stop doing that starting with the next release.  It simply takes<br>
too much time for me to build and test RPMs on various platforms.<br>
<p>
If you want to provide SANE RPMs in the future, I'd very much<br>
appreciate it.<br>
<p>
Thanks,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Bennett, Everett, Jr, NCIO: "UnixWare 2.1.2 and UMAX-SE6 Scanner"</a>
<li> <b>Previous message:</b> <a href="0184.html">Hugo van der Kooij: "Formal maintainer of RPM's?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0187.html">Hugo van der Kooij: "Re: Formal maintainer of RPM's?"</a>
<li> <b>Reply:</b> <a href="0187.html">Hugo van der Kooij: "Re: Formal maintainer of RPM's?"</a>
<!-- reply="end" -->
</ul>
