<!-- received="Mon Mar 30 21:26:00 1998 PST" -->
<!-- sent="Mon, 30 Mar 1998 21:25:59 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Linux Sense buffer (was: sane 0.71 and microtek E3)" -->
<!-- id="199803310525.VAA02893@panda.mostang.com" -->
<!-- inreplyto="19980329163645.14401@tummy.com" -->
<title>sane-devel: Re: Linux Sense buffer (was: sane 0.71 and microtek E3)</title>
<h1>Re: Linux Sense buffer (was: sane 0.71 and microtek E3)</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 30 Mar 1998 21:25:59 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#208">[ date ]</a><a href="index.html#208">[ thread ]</a><a href="subject.html#208">[ subject ]</a><a href="author.html#208">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0209.html">Sean Reifschneider: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>Previous message:</b> <a href="0207.html">David Mosberger-Tang: "Re: Looking for help"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0209.html">Sean Reifschneider: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>Reply:</b> <a href="0209.html">Sean Reifschneider: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>Reply:</b> <a href="0225.html">Rogier Wolff: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>Reply:</b> <a href="0226.html">Rogier Wolff: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Sean,<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 29 Mar 1998 16:36:45 -0700, Sean Reifschneider &lt;<a href="mailto:jafo@tummy.com">jafo@tummy.com</a>&gt; said:</i><br>
<p>
  Sean&gt; In the last 3 years and hundreds of copies of our software on<br>
  Sean&gt; Linux, I don't recall even ONE complaint about the scanning<br>
  Sean&gt; speed.<br>
<p>
Try a Mustek scanner for example.  HP scanners are much better behaved<br>
than most of the el-cheapo scanners.  E.g., with my Mustek scanner,<br>
increasing scan buffer size by a factor of 4 will decrease color scan<br>
times by a factor of four (scan time is dominated by the number of<br>
backtracks the scanner has to do due to a full scan buffer).<br>
<p>
But I agree it's bad taste to ship pre-compiled binaries assuming a<br>
128KB kernel buffer.  The real problem is that the Linux kernel<br>
doesn't allow to determine what the limit is.  I'll see whether we<br>
could have that fixed for Linux 2.2.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0209.html">Sean Reifschneider: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>Previous message:</b> <a href="0207.html">David Mosberger-Tang: "Re: Looking for help"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0209.html">Sean Reifschneider: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>Reply:</b> <a href="0209.html">Sean Reifschneider: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>Reply:</b> <a href="0225.html">Rogier Wolff: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>Reply:</b> <a href="0226.html">Rogier Wolff: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<!-- reply="end" -->
</ul>
