<!-- received="Tue Mar 31 23:52:48 1998 PST" -->
<!-- sent="Wed, 1 Apr 1998 09:50:00 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Patch to 0.71 spec file" -->
<!-- id="" -->
<!-- inreplyto="199804010401.UAA05643@panda.mostang.com" -->
<title>sane-devel: Re: Patch to 0.71 spec file</title>
<h1>Re: Patch to 0.71 spec file</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Wed, 1 Apr 1998 09:50:00 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#227">[ date ]</a><a href="index.html#227">[ thread ]</a><a href="subject.html#227">[ subject ]</a><a href="author.html#227">[ author ]</a>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0226.html">Rogier Wolff: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>In reply to:</b> <a href="0224.html">David Mosberger-Tang: "Re: Patch to 0.71 spec file"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 31 Mar 1998, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Tue, 31 Mar 1998 22:06:34 +0200 (MET DST), Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Hugo&gt; Unfortunatly the HTML documentation is missing at present. Due</i><br>
<i>&gt;   Hugo&gt; to the ackwarc TeX to HTML convertor used.</i><br>
<i>&gt; </i><br>
<i>&gt; What do you mean?  Install dlh and the original spec will work fine</i><br>
<i>&gt; (at least as far as the documentation is concerned).</i><br>
<p>
But dlh is not quite standard. And frankly I don't like the output of<br>
LaTeX to HTML convertors.<br>
<p>
<i>&gt;   Hugo&gt; I would suggest the documentation is done in SGML.</i><br>
<i>&gt; </i><br>
<i>&gt; I heard your suggestion the first time.  Personally, I do not like</i><br>
<i>&gt; writing SGML sources.  It's much easier for me to write LaTeX and I</i><br>
<i>&gt; can produce PS, PDF, HTML from it, which works just fine for me.  If</i><br>
<i>&gt; someone wants to rewrite the docs in sgml that's perfectly fine with</i><br>
<i>&gt; me, but please don't tell others what they should and should not do.</i><br>
<p>
Well. As a large part of the SANE users are Linux oriented and the<br>
majority of Linux documentation is done with SGML I would definitly<br>
prefer SGML. And SGML is not that difficult for some used to LaTeX.<br>
<p>
So if a project like this has to really get of the ground we have to agree<br>
to some sort of standard for documentation. My vote will be for the use of<br>
SGML. Withou same sort of agreement on this this project may be heavily<br>
cripled by inconsistent or missing documentation.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0226.html">Rogier Wolff: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>In reply to:</b> <a href="0224.html">David Mosberger-Tang: "Re: Patch to 0.71 spec file"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
