<!-- received="Thu Mar 13 11:24:34 1997 MST" -->
<!-- sent="Thu, 13 Mar 1997 12:22:10 -0600 (CST)" -->
<!-- name="Nem W Schlecht" -->
<!-- email="nem@abattoir.cc.ndsu.nodak.edu" -->
<!-- subject="Scan Area &amp; Origin (4.5.2)" -->
<!-- id="199703131822.MAA10624@abattoir.cc.ndsu.nodak.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: Scan Area &amp; Origin (4.5.2)</title>
<h1>Scan Area &amp; Origin (4.5.2)</h1>
<b>Nem W Schlecht</b> (<a href="mailto:nem@abattoir.cc.ndsu.nodak.edu"><i>nem@abattoir.cc.ndsu.nodak.edu</i></a>)<br>
<i>Thu, 13 Mar 1997 12:22:10 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#11">[ date ]</a><a href="index.html#11">[ thread ]</a><a href="subject.html#11">[ subject ]</a><a href="author.html#11">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Scan Area &amp; Origin (4.5.2)"</a>
<li> <b>Previous message:</b> <a href="0010.html">David Mosberger-Tang: "Re: sane and java?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0012.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Scan Area &amp; Origin (4.5.2)"</a>
<li> <b>Reply:</b> <a href="0012.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Scan Area &amp; Origin (4.5.2)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  I have a question relating to the origin and the scanning coordinates.<br>
My scanner is a little odd (I think) in that the lamp is in the front of<br>
the scanner.  ie: (bad ascii drawings)<br>
<p>
              ---------- Lid<br>
   o-------o  |   <br>
  /|\      |\ v  /^\a<br>
<i> | | \     | \    |</i><br>
<i> | |  \    |  \   |</i><br>
<i> | |   \___+___\  | Scanning goes this way</i><br>
<i> | |       |      |</i><br>
<i> | |_______|</i><br>
<i> |/_______/ &lt;---- light element here when scanner idle</i><br>
<p>
<p>
  Now... my origin is located, in what I consider to be the front left side<br>
(marked with 'o'):<br>
<p>
     +-+        +-o<br>
Mine | |     HP | |   <br>
     o-+        +-+<br>
<p>
  The rulers and a big red arrow both correspond to this.  On one of the HP<br>
scanners here that I looked at, the origin in is the back right side (but<br>
the element is stored in the back also).<br>
  Now to the actual question..  I noticed in section 4.5.2 of the SANE<br>
Project docs that the origin is specified as the back left corner.  I have<br>
no problem with converting scanning co-ordinates or changing bits around<br>
for BW/Halftone scans, but I'm wondering if this should be somehow<br>
corellated (sp?) to where the light element and CCD array start from.<br>
Otherwise, whenever I scan in something from 0x0 to 2x2, my light element<br>
has to travel all the way to the other side and then back again.<br>
  I'm probably being *way* too picky about this, especially since having a<br>
preview window will let the user do whatever they want, but it is kinda<br>
odd. (BTW - I have to put pictures/etc in my scanner upside down, with the<br>
top of the picture facing me when I place it in scanner.  I already have<br>
most of the code to switch it around done, though).<br>
<p>
PS:<br>
  I have BW/Halftone/Greyscale (Color still not working) scanning now<br>
working on my SGI and Scanpaq SQ2400 (this is still with mtekscan - once I<br>
get this working, I'm going to start on my Microtek backend for SANE).  I<br>
think I'm really close to finishing up `the now named' sanei_scsi.c for my<br>
platform.<br>
  One other question - the SCSI code is quite different for my machine, and<br>
I'm guessing it's going to look pretty radical with the ioctl() calls that<br>
I'm going to have to do under Digital UNIX.  Are we going to try to keep<br>
this all in one file and use preprocessor commands, or do something where<br>
we have a "scsi" directory, and we make a sym-link to the proper scsi<br>
module, naming it "sanei_scsi.c".  Something to think about...<br>
<p>
<pre>
-- 
Nem W Schlecht                  <a href="mailto:nem@plains.nodak.edu">nem@plains.nodak.edu</a>
NDUS UNIX SysAdmin         <a href="http://www.nodak.edu/~nem">http://www.nodak.edu/~nem</a>
"Perl did the magic.  I just waved the wand."
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Scan Area &amp; Origin (4.5.2)"</a>
<li> <b>Previous message:</b> <a href="0010.html">David Mosberger-Tang: "Re: sane and java?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0012.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Scan Area &amp; Origin (4.5.2)"</a>
<li> <b>Reply:</b> <a href="0012.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Scan Area &amp; Origin (4.5.2)"</a>
<!-- reply="end" -->
</ul>
