<!-- received="Wed Mar 19 03:03:23 1997 MST" -->
<!-- sent="Wed, 19 Mar 1997 11:04:18 +0100 (MET)" -->
<!-- name="Guido Muesch" -->
<!-- email="odiug@faho.rwth-aachen.de" -->
<!-- subject="Re: BW QuickCam" -->
<!-- id="199703191004.LAA00448@darkstar.faho.rwth-aachen.de" -->
<!-- inreplyto="199703190040.RAA10706@panda.mosberger" -->
<title>sane-devel: Re: BW QuickCam</title>
<h1>Re: BW QuickCam</h1>
<b>Guido Muesch</b> (<a href="mailto:odiug@faho.rwth-aachen.de"><i>odiug@faho.rwth-aachen.de</i></a>)<br>
<i>Wed, 19 Mar 1997 11:04:18 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#20">[ date ]</a><a href="index.html#20">[ thread ]</a><a href="subject.html#20">[ subject ]</a><a href="author.html#20">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">David Mosberger-Tang: "HP backend for SANE"</a>
<li> <b>Previous message:</b> <a href="0019.html">Nem W Schlecht: "Re: Microtek Sane Backend"</a>
<li> <b>In reply to:</b> <a href="0015.html">Alex Belits: "QuickCam drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 18 Mar, David Mosberger-Tang wrote:<br>
<i>&gt; Can you try it after applying this patch to sane-pre0.5?  If it</i><br>
<i>&gt; doesn't work, could you send me the debug output you get when</i><br>
<i>&gt; running:</i><br>
<i>&gt; </i><br>
<i>&gt; 	SANE_DEBUG_QCAM=128 scan -d qcam &gt;/dev/null</i><br>
<i>&gt; </i><br>
<i>&gt; Good luck,</i><br>
<i>&gt; </i><br>
<i>&gt; 	--david</i><br>
I do not have the QuickCam at hand right now (It is at my parents<br>
place). But I will test it next weekend.<br>
<p>
Ciao<br>
  Guido<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">David Mosberger-Tang: "HP backend for SANE"</a>
<li> <b>Previous message:</b> <a href="0019.html">Nem W Schlecht: "Re: Microtek Sane Backend"</a>
<li> <b>In reply to:</b> <a href="0015.html">Alex Belits: "QuickCam drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
