<!-- received="Tue Apr  1 12:03:08 1997 MST" -->
<!-- sent="Tue, 1 Apr 1997 20:50:21 -0600" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem2.pharmazie.uni-halle.de" -->
<!-- subject="experiences with MUSTEK and HP" -->
<!-- id="9704012050.ZM9300@medchem2.pharmazie.uni-halle.de" -->
<!-- inreplyto="" -->
<title>sane-devel: experiences with MUSTEK and HP</title>
<h1>experiences with MUSTEK and HP</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de"><i>p5iba@medchem2.pharmazie.uni-halle.de</i></a>)<br>
<i>Tue, 1 Apr 1997 20:50:21 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Gordon Matzigkeit: "sane-0.5: trivial strndup fix"</a>
<li> <b>Previous message:</b> <a href="0035.html">David Mosberger-Tang: "sane-0.5 now available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello !<br>
<p>
In the last days I tested the last pre0.5 SANE package.<br>
I had to include sys/param.h to get it compiled but then<br>
it worked. Unfortunately I could use preview only in 16bit color mode.<br>
But the appearance of xscan is much better now.<br>
I'm using the following scanners (in different systems):<br>
<p>
MUSTEK MFS-6000CX (label)<br>
Host: scsi1 Channel: 00 Id: 06 Lun: 00<br>
  Vendor: MUSTEK   Model: MFS-06000CX      Rev: 2.71<br>
  Type:   Scanner                          ANSI SCSI revision: 01<br>
<p>
It is connected to an Adaptec 1505 adapter:<br>
<p>
Adaptec 152x SCSI driver; $Revision: 1.7 $<br>
ioports 0x0340 to 0x035f<br>
interrupt 0x0b<br>
disconnection/reconnection disabled<br>
parity checking enabled<br>
synchronous transfers disabled<br>
0 commands currently queued<br>
enabled debugging options:<br>
<p>
queue status:<br>
no not yet issued commands<br>
no current command<br>
no disconnected commands<br>
<p>
waiting: SCSISEQ (); SCSISIG (DATA OUT); INTSTAT (lo); SSTAT (BUSFREE PHASECHG<br>
); SSTAT (); SXFRCTL0 (CH1 ); SIGNAL (); SELID (01), SSTAT2 (SEMPTY ); SFCNT<br>
(0);<br>
 SCSICNT (0), OFFCNT(0), SSTAT4 (); DMACNTRL0 (16BIT PIO READ INTEN ); DMASTAT<br>
(DFIFOEMP )<br>
<p>
enabled interrupts ()<br>
<p>
(this is from /proc/scsi)<br>
This is what you wanted to know<br>
<p>
[mustek] attach: firmware revision 2.71<br>
[mustek] attach: found Mustek scanner model MFS-06000CX (flatbed scanner)<br>
<p>
The following problems occured:<br>
<p>
It is a 3-pass scanner: with SANE only grayscale scanning works. On color<br>
scanning I get the error message : "device busy". This maybe an adapter timeout<br>
problem as it is discribed for the ncr810 adapter but I have another MUSTEK<br>
scanner program from Arno Augustin : Email:<br>
 aoaugust@informatik.uni-erlangen.de ; with<br>
this program I can scan even color images (no error messages). Maybe you can<br>
have a look at it. Further more the scanner drives to far if the range is set<br>
to 14inches. This sounds really bad. Thanks to god it did't destroyed the<br>
scanner.<br>
I could fix it by setting the maximum resolution to 300 dpi in mustek.c because<br>
this the optical resolution of the MFS-6000CX.<br>
Now it scan grayscale images without errors but with maximum resolution<br>
(299dpi)<br>
I can`t get the whole selected area (it is cut off)<br>
<p>
I also installed SANE (sane-pre0.5) to work with an HP SCANJET 4P.<br>
Unfortunately I had no time yet to provide the necessary firmware data to you.<br>
(I have only time-limited access to this device.) It is on the same SCSI-BUS as<br>
the system harddrive and a zipdrive.<br>
But there were really no errors! The only problem was to make SANE recognize<br>
the HP as a sane device. HP scanners have unusual device type (from scsi.h):<br>
#define TYPE_PROCESSOR      0x03    /* HP scanners use this */<br>
I changed this to TYPE_SCANNER and it worked.<br>
Maybe the resolution setting could be more sensitive (the highest possible<br>
resolution is 1599 dpi - the step size is to big).<br>
<p>
SANE version 0.5:<br>
<p>
It compiles without errors. When invoked I get the message: "cannot locate<br>
symbol strndup".<br>
configure states the following:<br>
checking for strdup... (cached) yes<br>
checking for strndup... (cached) no<br>
<p>
Thats all for today...<br>
<p>
Thank you for programming such an important project.<br>
<p>
Mathias Weigt<br>
<p>
<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de">p5iba@medchem2.pharmazie.uni-halle.de</a><br>
<p>
<p>
<p>
<pre>
-- 
Mathias Weigt 
<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de">p5iba@medchem2.pharmazie.uni-halle.de</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Gordon Matzigkeit: "sane-0.5: trivial strndup fix"</a>
<li> <b>Previous message:</b> <a href="0035.html">David Mosberger-Tang: "sane-0.5 now available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
