<!-- received="Mon Apr 21 05:08:23 1997 MST" -->
<!-- sent="Mon, 21 Apr 1997 13:55:01 +0200" -->
<!-- name="Reimond Rombey" -->
<!-- email="rr@eureka.infra.de" -->
<!-- subject="Re: sane-0.54 now available!" -->
<!-- id="199704210017.RAA24275@panda.mosberger" -->
<!-- inreplyto="sane-0.54 now available!" -->
<title>sane-devel: Re: sane-0.54 now available!</title>
<h1>Re: sane-0.54 now available!</h1>
<b>Reimond Rombey</b> (<a href="mailto:rr@eureka.infra.de"><i>rr@eureka.infra.de</i></a>)<br>
<i>Mon, 21 Apr 1997 13:55:01 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#60">[ date ]</a><a href="index.html#60">[ thread ]</a><a href="subject.html#60">[ subject ]</a><a href="author.html#60">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">David Mosberger-Tang: "Re: sane-0.54 now available!"</a>
<li> <b>Previous message:</b> <a href="0059.html">David Mosberger-Tang: "Re: Handheld Scanners supp.?"</a>
<li> <b>Maybe in reply to:</b> <a href="0058.html">David Mosberger-Tang: "sane-0.54 now available!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0065.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Handheld Scanners supp.?"</a>
<li> <b>Reply:</b> <a href="0065.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Handheld Scanners supp.?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<p>
<i>&gt;         - xscan got renamed to xscanimage, scan to scanimage (to avoid</i><br>
<i>&gt;           confusion due to name collisions)</i><br>
<p>
Well. The files are renamed but internally the names are still the old<br>
ones.<br>
sane configures and compiles fine after full installation of gtk.<br>
<p>
Reimond<br>
<pre>
-- 
Reimond Rombey, Eisenlohrstraße 18, D-79115 Freiburg i.Br.
<a href="http://www.infra.de/eureka/index.html">http://www.infra.de/eureka/index.html</a>
Buddhistische Union Freiburg <a href="http://www.infra.de/eureka/buf/index.html">http://www.infra.de/eureka/buf/index.html</a>
Tibetischer Förderkreis
<a href="http://www.infra.de/eureka/buf/tibet_foerderkreis.html">http://www.infra.de/eureka/buf/tibet_foerderkreis.html</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0061.html">David Mosberger-Tang: "Re: sane-0.54 now available!"</a>
<li> <b>Previous message:</b> <a href="0059.html">David Mosberger-Tang: "Re: Handheld Scanners supp.?"</a>
<li> <b>Maybe in reply to:</b> <a href="0058.html">David Mosberger-Tang: "sane-0.54 now available!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0065.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Handheld Scanners supp.?"</a>
<li> <b>Reply:</b> <a href="0065.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Handheld Scanners supp.?"</a>
<!-- reply="end" -->
</ul>
