<!-- received="Mon Apr 21 23:23:30 1997 MST" -->
<!-- sent="Mon, 21 Apr 1997 23:12:04 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="man pages" -->
<!-- id="199704220612.XAA14208@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: man pages</title>
<h1>man pages</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Mon, 21 Apr 1997 23:12:04 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#72">[ date ]</a><a href="index.html#72">[ thread ]</a><a href="subject.html#72">[ subject ]</a><a href="author.html#72">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Reimond Rombey: "Re: sane-0.54 now available!"</a>
<li> <b>Previous message:</b> <a href="0071.html">David Mosberger-Tang: "Re: PINT driver patches"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
OK, I finally took the time to convert all the README's into<br>
man-pages. Well, almost all of them at least.  What's missing right<br>
now is a man-page for scanimage.  Since I'm running short on time and<br>
steam, would somebody else volunteer to write it?  Note that this<br>
isn't much work at all (you don't need to document all the device<br>
specific options, etc.).  If interested, please drop me a note (e.g.,<br>
I can send you the man page for xscanimage as an example).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0073.html">Reimond Rombey: "Re: sane-0.54 now available!"</a>
<li> <b>Previous message:</b> <a href="0071.html">David Mosberger-Tang: "Re: PINT driver patches"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
