<!-- received="Tue Apr 22 07:30:58 1997 MST" -->
<!-- sent="Tue, 22 Apr 1997 07:23:09 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Connecting SANE and Java?" -->
<!-- id="199704221423.HAA16518@panda.mosberger" -->
<!-- inreplyto="Connecting SANE and Java?" -->
<title>sane-devel: Re: Connecting SANE and Java?</title>
<h1>Re: Connecting SANE and Java?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 22 Apr 1997 07:23:09 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#76">[ date ]</a><a href="index.html#76">[ thread ]</a><a href="subject.html#76">[ subject ]</a><a href="author.html#76">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Reimond Rombey: "Re: sane-0.54 now available!"</a>
<li> <b>Previous message:</b> <a href="0075.html">David Mosberger-Tang: "Re: sane-0.54 now available!"</a>
<li> <b>Maybe in reply to:</b> <a href="0068.html">Guido Muesch: "Connecting SANE and Java?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">David Mosberger-Tang: "Re: Connecting SANE and Java?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 22 Apr 1997 15:38:06 +0200 (MET DST), Guido Muesch &lt;<a href="mailto:odiug@faho.rwth-aachen.de">odiug@faho.rwth-aachen.de</a>&gt; said:</i><br>
<p>
  Guido&gt; So the first thing would be to<br>
  Guido&gt; write a 'parser' for the sane net-protocol and the<br>
  Guido&gt; datastructures. One good thing is that datastructures like<br>
  Guido&gt; 'byte' and 'int' always have the same size in Java (unlike<br>
  Guido&gt; C), so this mapping should be easy. Well, I have to think a<br>
  Guido&gt; little more about that.<br>
<p>
Yup.  I guess you'd also have to define the Java SANE API, but all<br>
that involves is coming up with a few datastructures (for device-lists<br>
etc).  Doing the net codec is the next step then.<br>
<p>
  Guido&gt; BTW, I have problems to run latex over sane.tex: first:<br>
  Guido&gt; (/usr/lib/texmf/texmf/tex/latex/misc/changebar.sty)<br>
  Guido&gt; (html.sty)<br>
  Guido&gt; ! Undefined control sequence.<br>
  Guido&gt; l.5 \driver<br>
  Guido&gt;            {DVIPS} % tell changebar.sty how to draw bars<br>
<p>
Oops.  I was using an older version of changebar.sty.  The patch below<br>
fixes the problem.<br>
<p>
  Guido&gt; I get two more error messages concerning changebar, but get a<br>
  Guido&gt; .dvi file in the end.<br>
<p>
Ah, that was a typo: somewhere sane.tex it said:<br>
<p>
  \end(changebar)<br>
<p>
Just change the parens into curly braces (\end{changebar}) and you should<br>
be all set.<br>
<p>
	--david<br>
<p>
--- sane.tex~	Mon Apr 21 15:17:55 1997<br>
+++ sane.tex	Tue Apr 22 07:17:46 1997<br>
@@ -1,8 +1,6 @@<br>
-\documentclass[11pt]{report}<br>
+\documentclass[11pt,DVIps]{report}<br>
 <br>
 \usepackage{times,epsfig,changebar,html}<br>
-<br>
-\driver{DVIPS}  % tell changebar.sty how to draw bars<br>
 <br>
 \setlength{\parindent}{0pt}<br>
 \setlength{\parskip}{1.5ex plus 0.5ex minus 0.5ex}<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Reimond Rombey: "Re: sane-0.54 now available!"</a>
<li> <b>Previous message:</b> <a href="0075.html">David Mosberger-Tang: "Re: sane-0.54 now available!"</a>
<li> <b>Maybe in reply to:</b> <a href="0068.html">Guido Muesch: "Connecting SANE and Java?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">David Mosberger-Tang: "Re: Connecting SANE and Java?"</a>
<!-- reply="end" -->
</ul>
