<!-- received="Tue Apr 22 10:25:07 1997 MST" -->
<!-- sent="Tue, 22 Apr 1997 19:15:44 +0059 (MDT)" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem2.pharmazie.uni-halle.de" -->
<!-- subject="Re: sane-0.54 now available!" -->
<!-- id="199704221614.JAA17008@panda.mosberger" -->
<!-- inreplyto="335CD9C5.1DDDBDE8@eureka.infra.de" -->
<title>sane-devel: Re: sane-0.54 now available!</title>
<h1>Re: sane-0.54 now available!</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de"><i>p5iba@medchem2.pharmazie.uni-halle.de</i></a>)<br>
<i>Tue, 22 Apr 1997 19:15:44 +0059 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#79">[ date ]</a><a href="index.html#79">[ thread ]</a><a href="subject.html#79">[ subject ]</a><a href="author.html#79">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Reimond Rombey: "Re: sane-0.54 now available!"</a>
<li> <b>Previous message:</b> <a href="0078.html">David Mosberger-Tang: "Re: sane-0.54 now available!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  This message is in MIME format.  The first part should be readable text,<br>
  while the remaining parts are likely unreadable without MIME-aware tools.<br>
<p>
--------------4F3505EB78069E6276ACA6BC<br>
Content-Type: TEXT/PLAIN; CHARSET=iso-8859-1<br>
<p>
<p>
<p>
<i>&gt; &gt;   Reimond&gt; I simply installed sane first and found some unresolved</i><br>
<i>&gt; &gt;   Reimond&gt; items.  Then i installed gtk and rerun sane configuration</i><br>
<i>&gt; &gt;   Reimond&gt; and compilation. Fine.  My linux (S.u.S.E. 4.4.1) was not</i><br>
<i>&gt; &gt;   Reimond&gt; able to compile, the needed libs etc.  are not in that</i><br>
<i>&gt; &gt;   Reimond&gt; distribution.  That's it.</i><br>
<p>
Sorry for asking such a simple question but did you "make distclean"<br>
before running ./configure again?<br>
I remember me having similar problems getting ./configure recognizing <br>
existing libraries without a distclean before rerunning ./configure in <br>
my early Linux times. I ask this because you said that you configured<br>
sane before you had installed the gtk and this should make a difference.<br>
<p>
 <br>
--------------4F3505EB78069E6276ACA6BC<br>
Content-Type: TEXT/PLAIN; CHARSET=iso-8859-1; NAME="xscan.rc"<br>
Content-Transfer-Encoding: QUOTED-PRINTABLE<br>
Content-ID: &lt;<a href="mailto:Pine.3.89.9704221915.B19873@medchem2.pharmazie.uni-halle.de">Pine.3.89.9704221915.B19873@medchem2.pharmazie.uni-halle.de</a>&gt;<br>
<p>
"device"<br>
(nil)<br>
"filename"<br>
"4=EC=FF=BF=A3L=04@=F0|=07=08=F0|=07=08=F0|=07=08@=04=07=08=B4)=06@"<br>
"advanced"<br>
1<br>
"tool-tips"<br>
10<br>
"length-unit"<br>
65536<br>
"preserve-preview"<br>
0<br>
"preview-own-cmap"<br>
1<br>
"preview-gamma"<br>
0<br>
<p>
--------------4F3505EB78069E6276ACA6BC--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0080.html">Reimond Rombey: "Re: sane-0.54 now available!"</a>
<li> <b>Previous message:</b> <a href="0078.html">David Mosberger-Tang: "Re: sane-0.54 now available!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
