<!-- received="Tue May  6 06:08:10 1997 MST" -->
<!-- sent="Tue, 6 May 1997 14:56:21 +0059 (MDT)" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem2.pharmazie.uni-halle.de" -->
<!-- subject="Re: turning off scanner-lamp" -->
<!-- id="199705051643.JAA13813@panda.mosberger" -->
<!-- inreplyto="199705051534.LAA27043@tristan.redhat.com" -->
<title>sane-devel: Re: turning off scanner-lamp</title>
<h1>Re: turning off scanner-lamp</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de"><i>p5iba@medchem2.pharmazie.uni-halle.de</i></a>)<br>
<i>Tue, 6 May 1997 14:56:21 +0059 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#113">[ date ]</a><a href="index.html#113">[ thread ]</a><a href="subject.html#113">[ subject ]</a><a href="author.html#113">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Sven Neumann: "Mustek Paragon CD II"</a>
<li> <b>Previous message:</b> <a href="0112.html">David Mosberger-Tang: "Re: turning off scanner-lamp"</a>
<li> <b>In reply to:</b> <a href="0109.html">Michael K. Johnson: "Re: turning off scanner-lamp"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mathias Weigt <br>
<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de">p5iba@medchem2.pharmazie.uni-halle.de</a><br>
<p>
On Mon, 5 May 1997, Michael K. Johnson wrote:<br>
<p>
<i>&gt; </i><br>
<i>&gt; Andy Thaller writes:</i><br>
<i>&gt; &gt;Or can the scsi-system cope with the scanner being turned off and on</i><br>
<i>&gt; &gt;during runtime?</i><br>
<i>&gt; </i><br>
<i>&gt; You can tell Linux to re-probe for a device at a specific location by</i><br>
<i>&gt; echoing something to /proc/scsi/scsi -- here's a snip from</i><br>
<i>&gt; /usr/src/linux/drivers/scsi/scsi.c:</i><br>
<i>&gt; </i><br>
<i>&gt;      * Usage: echo "scsi add-single-device 0 1 2 3" &gt;/proc/scsi/scsi</i><br>
<i>&gt;      * with  "0 1 2 3" replaced by your "Host Channel Id Lun".</i><br>
<i>&gt;      * Consider this feature BETA.</i><br>
<i>&gt;      *     CAUTION: This is not for hotplugging your peripherals. As</i><br>
<i>&gt;      *     SCSI was not designed for this you could damage your</i><br>
<i>&gt;      *     hardware !</i><br>
<i>&gt;      * However perhaps it is legal to switch on an</i><br>
<i>&gt;      * already connected device. It is perhaps not</i><br>
<i>&gt;      * guaranteed this device doesn't corrupt an ongoing data transfer.</i><br>
<i>&gt; </i><br>
<i>&gt; You should only need to do this if the scanner wasn't on (or ready)</i><br>
<i>&gt; when you booted.</i><br>
<p>
Thank you for that hint. My scanner is connected to a separate SCSI adapter<br>
and so I solved the problem by compiling the driver as a module and <br>
loading / unloading it on demand. But the way described above looks more <br>
elegant.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Sven Neumann: "Mustek Paragon CD II"</a>
<li> <b>Previous message:</b> <a href="0112.html">David Mosberger-Tang: "Re: turning off scanner-lamp"</a>
<li> <b>In reply to:</b> <a href="0109.html">Michael K. Johnson: "Re: turning off scanner-lamp"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
