<!-- received="Wed May  7 07:52:26 1997 MST" -->
<!-- sent="Wed, 7 May 1997 15:41:25 +0200 (MET DST)" -->
<!-- name="Sven Neumann" -->
<!-- email="neumanns@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="More about Mustek CD II" -->
<!-- id="199705071341.PAA21364@sunserver1.rz.uni-duesseldorf.de" -->
<!-- inreplyto="" -->
<title>sane-devel: More about Mustek CD II</title>
<h1>More about Mustek CD II</h1>
<b>Sven Neumann</b> (<a href="mailto:neumanns@sunserver1.rz.uni-duesseldorf.de"><i>neumanns@sunserver1.rz.uni-duesseldorf.de</i></a>)<br>
<i>Wed, 7 May 1997 15:41:25 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#119">[ date ]</a><a href="index.html#119">[ thread ]</a><a href="subject.html#119">[ subject ]</a><a href="author.html#119">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">David Mosberger-Tang: "Re: More about Mustek CD II"</a>
<li> <b>Previous message:</b> <a href="0118.html">Michael K. Johnson: "Re: Mustek Paragon CD II"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0120.html">David Mosberger-Tang: "Re: More about Mustek CD II"</a>
<li> <b>Reply:</b> <a href="0120.html">David Mosberger-Tang: "Re: More about Mustek CD II"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
first of all: sorry, but not everything I wrote in my last email was<br>
correct. The tragic accident with the new mustek happened when using xscan<br>
from the package paragon.tgz (from sunsite). As it wasn't me who<br>
crashed his scanner but a friend of mine and we had a slight<br>
misunderstanding derived from the similar names (xscan vs. xscanimage). So<br>
the scanner is still broken, but that wasn't caused by the SANE backend. <br>
<p>
It is right that the scanner went too far and crashed beyond the scan area.<br>
<p>
When using preview from xscanimage the scanner moved about 2 mm, stopped and<br>
the preview showed a white page. <br>
<p>
As my scanner is still intact ;-) I am very interested in getting it to work<br>
under Linux. So I have a NCR SCSI-adapter until friday and will try to get<br>
as much information as I can about the scanner. Are there any suggestions<br>
what I can try to do??<br>
<p>
<p>
Here's our configuration so far:<br>
<p>
Scanner:      Mustek Paragon CD II <br>
	        - scsi id:  scanner<br>
                - firmware: 2.03<br>
Kernel:       Linux 2.0.29<br>
	        - patched SCSI_BIG_BUFF (?) in sg.h to 128*1024<br>
SCSI-Adapter: NCR 810 (built as module)<br>
<p>
	  <br>
<p>
Salut, Sven<br>
 <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">David Mosberger-Tang: "Re: More about Mustek CD II"</a>
<li> <b>Previous message:</b> <a href="0118.html">Michael K. Johnson: "Re: Mustek Paragon CD II"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0120.html">David Mosberger-Tang: "Re: More about Mustek CD II"</a>
<li> <b>Reply:</b> <a href="0120.html">David Mosberger-Tang: "Re: More about Mustek CD II"</a>
<!-- reply="end" -->
</ul>
