<!-- received="Thu May  8 20:01:25 1997 MST" -->
<!-- sent="Thu, 8 May 1997 19:50:48 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: sane-0.56 and hp" -->
<!-- id="199705090250.TAA07530@panda.mosberger" -->
<!-- inreplyto="199705090228.WAA27742@hera.candu.aecl.ca" -->
<title>sane-devel: Re: sane-0.56 and hp</title>
<h1>Re: sane-0.56 and hp</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Thu, 8 May 1997 19:50:48 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#128">[ date ]</a><a href="index.html#128">[ thread ]</a><a href="subject.html#128">[ subject ]</a><a href="author.html#128">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">David Mosberger-Tang: "scanimage man page: here it is"</a>
<li> <b>Previous message:</b> <a href="0127.html">David Mosberger-Tang: "Re: Mustek/Request-sense problems -&gt; Solution?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0130.html">Mathias Weigt: "Re: sane-0.56 and hp"</a>
<li> <b>Reply:</b> <a href="0130.html">Mathias Weigt: "Re: sane-0.56 and hp"</a>
<li> <b>Reply:</b> <a href="0132.html">David Mosberger-Tang: "Re: sane-0.56 and hp"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 8 May 1997 19:38:19 -0700, Simon Galton &lt;<a href="mailto:galtons@candu.aecl.ca">galtons@candu.aecl.ca</a>&gt; said:</i><br>
<p>
  Simon&gt; Note that I added the hp on the end -- it never gets put<br>
  Simon&gt; there for some reason...<br>
<p>
Oops, mea culpa.  I forgot to update the default dll.conf.  I added<br>
the hp backend now.<br>
<p>
  Simon&gt; My /dev/scanner is linked to /dev/sge, as I saw in my<br>
  Simon&gt; startup:<br>
<p>
  Simon&gt;   Vendor: HP        Model: C2520A Rev: 3503<br>
  Simon&gt;   Type:   Processor               ANSI SCSI revision: 02<br>
  Simon&gt; Detected scsi generic sge at scsi0, channel 0, id 6, lun 0<br>
<p>
Looks good.<br>
<p>
The debug output you sent indicates that the HP backend gets loaded.<br>
However, for some reason the backend doesn't "see" the scanner.  Could<br>
you run:<br>
<p>
  SANE_DEBUG_HP=128 scanimage -L<br>
<p>
and send me the output you get?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">David Mosberger-Tang: "scanimage man page: here it is"</a>
<li> <b>Previous message:</b> <a href="0127.html">David Mosberger-Tang: "Re: Mustek/Request-sense problems -&gt; Solution?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0130.html">Mathias Weigt: "Re: sane-0.56 and hp"</a>
<li> <b>Reply:</b> <a href="0130.html">Mathias Weigt: "Re: sane-0.56 and hp"</a>
<li> <b>Reply:</b> <a href="0132.html">David Mosberger-Tang: "Re: sane-0.56 and hp"</a>
<!-- reply="end" -->
</ul>
