<!-- received="Tue Jul  7 09:01:29 1998 PDT" -->
<!-- sent="Tue, 07 Jul 1998 12:00:36 -0400" -->
<!-- name="Peter Leif Rasmussen" -->
<!-- email="plr@isgtec.com" -->
<!-- subject="Support for Umax Astra 1220S/P" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Support for Umax Astra 1220S/P</title>
<h1>Support for Umax Astra 1220S/P</h1>
<b>Peter Leif Rasmussen</b> (<a href="mailto:plr@isgtec.com"><i>plr@isgtec.com</i></a>)<br>
<i>Tue, 07 Jul 1998 12:00:36 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#19">[ date ]</a><a href="index.html#19">[ thread ]</a><a href="subject.html#19">[ subject ]</a><a href="author.html#19">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">Oliver Rauch: "Re: Send in your .desc files..."</a>
<li> <b>Previous message:</b> <a href="0018.html">Matto Marjanovic: "Re: Microtek backend patch"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0023.html">Jim Ford: "Re: Support for Umax Astra 1220S/P"</a>
<li> <b>Reply:</b> <a href="0023.html">Jim Ford: "Re: Support for Umax Astra 1220S/P"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am new on this list, so bear with me if this is wellknown, though I<br>
haven't been able to find any mentioning of it in the archives.<br>
<p>
I am in the process of lookng for a scanner that is as cheap as<br>
possible,<br>
but also provides as high quality output as possible, especially for<br>
scanning transparencies.<br>
<p>
Looking through sane documentation and checking out which scanners are<br>
readily available in my area (Toronto, Canada) I found that Umax Astra<br>
1200S is both available with a transparency adapter and supported in<br>
sane. It doesn't explicitly say whether the transparency adapter is<br>
supported or special support is necessary, and not being an expert on<br>
those things I wouldn't know. If anyone can enlighten me I would <br>
appreciate it :-)<br>
<p>
Anyway, I also found that another scanner from Umax, ie. the 1220S is<br>
available and at almost the same price, but this one supports up til<br>
36bit, which gives me the impression that the colour-dynamics are better<br>
than the ones that support only 24 or 30 bit, ie. the scan head is of<br>
a better quality. If I am wrong on this account, again I would<br>
appreciate <br>
comments.<br>
<p>
This scanner isn't mentioned at all in the sane documentation I could<br>
find, and not any other scanner seems to be supported with 36bit, so I<br>
now wonder whether this scanner would function at all with sane? If so,<br>
this is the scanner I would prefer at the moment.<br>
<p>
Then, this scanner is available with either a SCSI-2 or a parallel<br>
connector, 1220S or 1220P, and it seems to me that sane is mostly happy<br>
with the SCSI interface. As the parallel port scanners are more<br>
economical<br>
in price, I wonder what it would take to support the same scanner with<br>
both interfaces?<br>
<p>
Finally, if anyone knows of a scanner that will scan transparencies of<br>
the size 6cm X 6cm in minimum 300dpi for less than $1000 CDN, other<br>
than the ones mentioned, I would be happy to hear about them :-)<br>
<p>
Thank you very much for your time,<br>
<p>
Peter<br>
<pre>
--
main(){char*s="O_&gt;&gt;^PQAHBbPQAHBbPOOH^^PAAHBJPAAHBbPA_H&gt;BB";int
i,j,k=1,l,m,n;
for(j=0;j&lt;7;j++)for(l=0;m=l-6+j,i=m/6,n=j*6+i,k=1&lt;&lt;m%6,l&lt;41-j;l++)
putchar(l&lt;6-j?' ':l==40-j?'\n':k&amp;&amp;s[n]&amp;k?'*':' ');}
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">Oliver Rauch: "Re: Send in your .desc files..."</a>
<li> <b>Previous message:</b> <a href="0018.html">Matto Marjanovic: "Re: Microtek backend patch"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0023.html">Jim Ford: "Re: Support for Umax Astra 1220S/P"</a>
<li> <b>Reply:</b> <a href="0023.html">Jim Ford: "Re: Support for Umax Astra 1220S/P"</a>
<!-- reply="end" -->
</ul>
