<!-- received="Sun Jul 12 06:54:52 1998 PDT" -->
<!-- sent="Sun, 12 Jul 1998 15:56:00 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Mustek Scanexpress 12000" -->
<!-- id="" -->
<!-- inreplyto="Mustek Scanexpress 12000" -->
<title>sane-devel: Re: Mustek Scanexpress 12000</title>
<h1>Re: Mustek Scanexpress 12000</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Sun, 12 Jul 1998 15:56:00 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Dr. Andreas Bolsch: "New version Mustek ScanExpress backend"</a>
<li> <b>Previous message:</b> <a href="0033.html">Ian Grant: "Re: Installing SANE on DU machines"</a>
<li> <b>Maybe in reply to:</b> <a href="0029.html">Christian Reiser: "Mustek Scanexpress 12000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Well, its experimental. For lineart and grayscale<br>
there should be no problem at all as long as some<br>
restrictions are taken into account:<br>
<p>
- resolutions below 60 dpi do not work<br>
  (firmware problem)<br>
<p>
- scan area max. 216mm * 292 mm<br>
<p>
- I got some reports of problems with xscanimage,<br>
  however, as I use only scanimage I can't<br>
  state anything about that<br>
<p>
- 6000 SP should work as well (gray, lineart)<br>
<p>
Concerning color scans I'd some trouble with full<br>
page scans at high resolutions, which I've now fixed<br>
by limiting tha maximal request size to 64kByte and<br>
some other minor modifications. These are *not* yet<br>
included in the posted version.<br>
<p>
For the 6000 SP the color sequence is different,<br>
again that's *not* yet included in the posted version.<br>
<p>
And, I would *strongly* recommend not to use the<br>
SCSI card shipped with the scanner, it causes a lot<br>
of headache.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Dr. Andreas Bolsch: "New version Mustek ScanExpress backend"</a>
<li> <b>Previous message:</b> <a href="0033.html">Ian Grant: "Re: Installing SANE on DU machines"</a>
<li> <b>Maybe in reply to:</b> <a href="0029.html">Christian Reiser: "Mustek Scanexpress 12000"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
