<!-- received="Mon Jul 20 06:37:07 1998 PDT" -->
<!-- sent="Sun, 19 Jul 1998 13:08:37 +0100" -->
<!-- name="Jim Ford" -->
<!-- email="jf001@watford.net" -->
<!-- subject="Re: SCSI-II scanner command list - specification file - common lib" -->
<!-- id="" -->
<!-- inreplyto="SCSI-II scanner command list - specification file - common lib" -->
<title>sane-devel: Re: SCSI-II scanner command list - specification file - common lib</title>
<h1>Re: SCSI-II scanner command list - specification file - common lib</h1>
<b>Jim Ford</b> (<a href="mailto:jf001@watford.net"><i>jf001@watford.net</i></a>)<br>
<i>Sun, 19 Jul 1998 13:08:37 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Andrew Kuchling: "Re: ocr"</a>
<li> <b>Previous message:</b> <a href="0090.html">Wolfgang Goeller: "Re: ocr (fwd)"</a>
<li> <b>Maybe in reply to:</b> <a href="0051.html">Sreenivasa Sista: "SCSI-II scanner command list - specification file - common lib"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0095.html">Matto Marjanovic: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Wolfgang Goeller wrote:<br>
<p>
<i>&gt; Hello</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; I've tried SANE 0.73 on my linux 2.0.30 with a LEO scanner. It did not</i><br>
<i>&gt; &gt; work and it will not work (anyway my question is not related to my</i><br>
<i>&gt; &gt; scanner).</i><br>
<i>&gt;</i><br>
<i>&gt; LEO is only a marketing - brand. Chances are very high, that</i><br>
<i>&gt; some..........</i><br>
<p>
Wow - LEO was a range of mainframes built in the early 50's by the Lyons<br>
teashop company in the UK originally to handle their business. I think they<br>
were the first commercial computers made in the UK. They then sold out to<br>
English Electric. LEO stood for Lyons Electronic Office and I think the<br>
early ones had valves. The scanner would probably be the size of a room,<br>
full of valves and solenoids, maybe even pneumatics!  I don't think there<br>
would be anyone sitting on the end of a helpline, or much support for the<br>
unit anymore.<br>
<p>
Or are we talking the same LEO here?  ;^}<br>
<p>
Regards: Jim Ford<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Andrew Kuchling: "Re: ocr"</a>
<li> <b>Previous message:</b> <a href="0090.html">Wolfgang Goeller: "Re: ocr (fwd)"</a>
<li> <b>Maybe in reply to:</b> <a href="0051.html">Sreenivasa Sista: "SCSI-II scanner command list - specification file - common lib"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0095.html">Matto Marjanovic: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<!-- reply="end" -->
</ul>
