<!-- received="Wed Jul 22 02:41:08 1998 PDT" -->
<!-- sent="Wed, 22 Jul 1998 10:00:11 +0200" -->
<!-- name="Abdelmajid Kamoun" -->
<!-- email="abdelmajid.kamoun@telnet.com.tn" -->
<!-- subject="TIFF Image File Format" -->
<!-- id="c=FR%a=_%p=Telecom_networks%l=PROXY_SRV-980722080011Z-93@proxy_srv.telnet.com.tnabdelmajid.kamoun@telnet.com.tn" -->
<!-- inreplyto="" -->
<title>sane-devel: TIFF Image File Format</title>
<h1>TIFF Image File Format</h1>
<b>Abdelmajid Kamoun</b> (<a href="mailto:abdelmajid.kamoun@telnet.com.tn"><i>abdelmajid.kamoun@telnet.com.tn</i></a>)<br>
<i>Wed, 22 Jul 1998 10:00:11 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0122.html">Abdelmajid Kamoun: "abdelmajid.kamoun@telnet.com.tn"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello everybody;<br>
is TIFF supported by SANE<br>
<p>
Best Regards <br>
Majdi Ben Hadj Ali<br>
TELECOM NETWORKS ENGINEERING<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0122.html">Abdelmajid Kamoun: "abdelmajid.kamoun@telnet.com.tn"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
