<!-- received="Wed Jul 22 07:12:11 1998 PDT" -->
<!-- sent="Wed, 22 Jul 1998 23:10:43 +0100 (GMT+0100)" -->
<!-- name="Magnus & Tina" -->
<!-- email="magnus@gol.com" -->
<!-- subject="RE: HP 6100C Scanner" -->
<!-- id="" -->
<!-- inreplyto="c=FR%a=_%p=Telecom_networks%l=PROXY_SRV-980722073459Z-89@proxy_srv.telnet.com.tn" -->
<title>sane-devel: RE: HP 6100C Scanner</title>
<h1>RE: HP 6100C Scanner</h1>
<b>Magnus & Tina</b> (<a href="mailto:magnus@gol.com"><i>magnus@gol.com</i></a>)<br>
<i>Wed, 22 Jul 1998 23:10:43 +0100 (GMT+0100)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#127">[ date ]</a><a href="index.html#127">[ thread ]</a><a href="subject.html#127">[ subject ]</a><a href="author.html#127">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Antal Novak: "Re: ANNOUNCE: Plustek backend"</a>
<li> <b>Previous message:</b> <a href="0126.html">Michael Sweet: "Re: problems with sgi/umax"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I would recomend you to use another card.<br>
I tried to get the Hp SCSI CARD to work but failed.<br>
Even though I tried loads of different drivers and settings.<br>
<p>
BR Magnus<br>
<p>
On 22-Jul-98 Abdelmajid Kamoun wrote:<br>
<i>&gt; Hello;</i><br>
<i>&gt; </i><br>
<i>&gt; I want to use the HP 6100C Scanner with SANE under REDHAT Linux 5.0</i><br>
<i>&gt; Does someone have experience with this case</i><br>
<i>&gt; Can use the Hp SCSI CARD Provided with the Scanner or should I install </i><br>
<i>&gt; an other Card</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Thanks in Advance</i><br>
<i>&gt; Majdi Ben Hadj Ali</i><br>
<i>&gt; TELNET INC</i><br>
<i>&gt; Telecom Networks Engineering</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
      .---.        .----------- Magnus Back<br>
     /     \  __  /    ------   Nippon Ericsson K.K<br>
    / /     \(  )/    -----     SY/NRJ/SV/F MBK<br>
   //////   ' \/ `   ---        <a href="mailto:Magnus.Back@ericsson.co.jp">Magnus.Back@ericsson.co.jp</a> (work)<br>
  //// / // :    : ---          <a href="mailto:magnus@gol.com">magnus@gol.com</a>             (home)<br>
 // /   /  /`    '--            +81-45-475-0418 phone<br>
//          //..\\              +81-45-475-0040 fax<br>
       ====UU====UU====         <a href="http://www2.gol.com/users/magnus/">http://www2.gol.com/users/magnus/</a><br>
           '//||\\`            <br>
             ''``<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Antal Novak: "Re: ANNOUNCE: Plustek backend"</a>
<li> <b>Previous message:</b> <a href="0126.html">Michael Sweet: "Re: problems with sgi/umax"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
