<!-- received="Wed Jul 22 22:34:30 1998 PDT" -->
<!-- sent="Wed, 22 Jul 1998 22:34:28 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Installing SANE on DU machines" -->
<!-- id="199807230534.WAA11133@panda.mostang.com" -->
<!-- inreplyto="Pine.OSF.3.96.980710102054.1758D-100000@quark.amtp.cam.ac.uk" -->
<title>sane-devel: Re: Installing SANE on DU machines</title>
<h1>Re: Installing SANE on DU machines</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 22 Jul 1998 22:34:28 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">David Mosberger-Tang: "Re: shmem in backends?"</a>
<li> <b>Previous message:</b> <a href="0135.html">David Mosberger-Tang: "Re: [PATCH] Fix re: Mustek Scan Express 12000SP Problems"</a>
<li> <b>In reply to:</b> <a href="0030.html">Ian Grant: "Installing SANE on DU machines"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Ian,<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 10 Jul 1998 11:04:49 +0100 (BST), Ian Grant &lt;<a href="mailto:I.A.N.Grant@damtp.cam.ac.uk">I.A.N.Grant@damtp.cam.ac.uk</a>&gt; said:</i><br>
<p>
  Ian&gt; I'm wondering now how I tell SANE where to find the scanner. My<br>
  Ian&gt; system has a /dev/cam device, and I see from sanei_scsi.c that<br>
  Ian&gt; for SCSI/CAM sanei_scsi_open expects a device string of the<br>
  Ian&gt; form "bNtNlN" where the N's are bus, target and lun, and opens<br>
  Ian&gt; /dev/cam. The trouble is that I can't see where I have to<br>
  Ian&gt; specify the bus/target/lun string. For example the sane-hp man<br>
  Ian&gt; page says:<br>
<p>
  Ian&gt;    "This backend expects device names of the form:<br>
<p>
  Ian&gt;                     special<br>
<p>
  Ian&gt;        Where special is the UNIX path-name for the special<br>
  Ian&gt; device that corresponds to the scanner.<br>
<p>
  Ian&gt; Is this just a bug in the man page, and should I be putting<br>
  Ian&gt; b0t2l0 or whatever in the hp.conf file?<br>
<p>
Yes, you're supposed to put b0t2l0 in hp.conf.<br>
<p>
  Ian&gt; Also, can anyone tell me how buggy the user-level scsi<br>
  Ian&gt; interface is?  I.e does it trash disks? What sort of bugs<br>
  Ian&gt; should I expect?<br>
<p>
As I mentioned earlier, expect it to be buggy.  I wrote that code<br>
based on some DUX docs and I'm pretty sure some things are not quite<br>
right.  It has the potential to trash the disks.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">David Mosberger-Tang: "Re: shmem in backends?"</a>
<li> <b>Previous message:</b> <a href="0135.html">David Mosberger-Tang: "Re: [PATCH] Fix re: Mustek Scan Express 12000SP Problems"</a>
<li> <b>In reply to:</b> <a href="0030.html">Ian Grant: "Installing SANE on DU machines"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
