<!-- received="Fri Jul 24 14:55:21 1998 PDT" -->
<!-- sent="Fri, 24 Jul 1998 23:41:57 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Mustek ScanExpress Backend" -->
<!-- id="" -->
<!-- inreplyto="Mustek ScanExpress Backend" -->
<title>sane-devel: Re: Mustek ScanExpress Backend</title>
<h1>Re: Mustek ScanExpress Backend</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Fri, 24 Jul 1998 23:41:57 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Dave Restall - System Administrator: "PIE (SCANACE) won't release technical info"</a>
<li> <b>Previous message:</b> <a href="0152.html">Oliver Rauch: "Re: Does CANCEL_PREVIEW work?"</a>
<li> <b>Maybe in reply to:</b> <a href="0072.html">Dr. Andreas Bolsch: "Mustek ScanExpress Backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;                      Name: Cropped.tif</i><br>
<i>&gt;    Cropped.tif       Type: TIFF Image (image/tiff)</i><br>
<i>&gt;                  Encoding: base64</i><br>
<p>
  Hi Dieter,<br>
<p>
please could you avoid sending such a big mail to the sane-list<br>
if the mail is - like in this case - only interesiting for a small<br>
group?! There are a lot of people who get their mails via modem!<br>
<p>
Thanks<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Dave Restall - System Administrator: "PIE (SCANACE) won't release technical info"</a>
<li> <b>Previous message:</b> <a href="0152.html">Oliver Rauch: "Re: Does CANCEL_PREVIEW work?"</a>
<li> <b>Maybe in reply to:</b> <a href="0072.html">Dr. Andreas Bolsch: "Mustek ScanExpress Backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
