<!-- received="Sun Jul 26 06:44:45 1998 PDT" -->
<!-- sent="Sun, 26 Jul 1998 13:31:20 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: problems with sgi/umax" -->
<!-- id="" -->
<!-- inreplyto="problems with sgi/umax" -->
<title>sane-devel: Re: problems with sgi/umax</title>
<h1>Re: problems with sgi/umax</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 26 Jul 1998 13:31:20 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#157">[ date ]</a><a href="index.html#157">[ thread ]</a><a href="subject.html#157">[ subject ]</a><a href="author.html#157">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Bernd Schroeder: "Re: Scanmaker 630 and Adaptec 2940UW"</a>
<li> <b>Previous message:</b> <a href="0156.html">Norman Uhlmann: "segfault with Microtek Scanmaker 330"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">vp00955@hp2.vpn.at: "problems with sgi/umax"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Didier Carlier wrote:<br>
<p>
<i>&gt; On 24-Jul-98 Oliver Rauch wrote:</i><br>
<i>&gt; &gt; Hi Didier,</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; it looks like the modulo(%) function:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;       s-&gt;row_bufsize - (s-&gt;row_bufsize % row_len)</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; makes problems with such big arguments (8*1024*1024)</i><br>
<i>&gt; &gt; and returns 0 in the described case.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I replaced it by a (long)-integer division in the umax-backend.</i><br>
<i>&gt;</i><br>
<i>&gt; Strange, I can't reproduce that here (egcs + pentium). As long as</i><br>
<i>&gt; s-&gt;row_bufsize fits on 32 bits, the result looks ok.</i><br>
<i>&gt;</i><br>
<i>&gt; Does that change fixes the problem reported by Chinedum Osuji ?</i><br>
<i>&gt;</i><br>
<p>
Hi Didier,<br>
<p>
it is not tested yet.<br>
<p>
My backend prints row_bufsize after the modulo-function, so<br>
I know that it is 8MB if the image is greater than 4MB,<br>
so the modulo-function seems to return 0 on SGI in that case.<br>
<p>
I sent a patch to david for the umax-backend, I hope he included it<br>
into sane-0.74, then we will se!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Bernd Schroeder: "Re: Scanmaker 630 and Adaptec 2940UW"</a>
<li> <b>Previous message:</b> <a href="0156.html">Norman Uhlmann: "segfault with Microtek Scanmaker 330"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">vp00955@hp2.vpn.at: "problems with sgi/umax"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
