<!-- received="Sun Jul 26 18:47:37 1998 PDT" -->
<!-- sent="26 Jul 1998 21:46:19 -0400" -->
<!-- name="Cory Kempf" -->
<!-- email="ckempf@enigami.com" -->
<!-- subject="It is ported, now what do I do with it?" -->
<!-- id="" -->
<!-- inreplyto="Thu, 23 Jul 1998 09:43:39 +0100"" -->
<title>sane-devel: It is ported, now what do I do with it?</title>
<h1>It is ported, now what do I do with it?</h1>
<b>Cory Kempf</b> (<a href="mailto:ckempf@enigami.com"><i>ckempf@enigami.com</i></a>)<br>
<i>26 Jul 1998 21:46:19 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#159">[ date ]</a><a href="index.html#159">[ thread ]</a><a href="subject.html#159">[ subject ]</a><a href="author.html#159">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">Norman Uhlmann: "Re: segfault with Microtek Scanmaker 330"</a>
<li> <b>Previous message:</b> <a href="0158.html">Bernd Schroeder: "Re: Scanmaker 630 and Adaptec 2940UW"</a>
<li> <b>In reply to:</b> <a href="0139.html">Yuri Dario: "Re: Parallel port OS/2 support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have successfully brought an image up on FreeBSD using the new CAM<br>
SCSI interface.  There is still a bit more work to do, but the major<br>
part of the work is done.<br>
<p>
So, what do I need to do to get my changes merged in?<br>
<p>
+C<br>
<p>
<pre>
-- 
Thinking of purchasing RAM from the Chip Merchant?  
Please read this first: &lt;<a href="http://www.enigami.com/~ckempf/chipmerchant.html">http://www.enigami.com/~ckempf/chipmerchant.html</a>&gt;
<p>
Cory Kempf                Macintosh / Unix Consulting &amp; Software Development
<a href="mailto:ckempf@enigami.com">ckempf@enigami.com</a>        &lt;<a href="http://www.enigami.com/~ckempf/">http://www.enigami.com/~ckempf/</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">Norman Uhlmann: "Re: segfault with Microtek Scanmaker 330"</a>
<li> <b>Previous message:</b> <a href="0158.html">Bernd Schroeder: "Re: Scanmaker 630 and Adaptec 2940UW"</a>
<li> <b>In reply to:</b> <a href="0139.html">Yuri Dario: "Re: Parallel port OS/2 support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
