<!-- received="Tue Jul 28 20:17:07 1998 PDT" -->
<!-- sent="Tue, 28 Jul 1998 23:17:14 -0400 (EDT)" -->
<!-- name="Antal Novak" -->
<!-- email="afn@weevil.net" -->
<!-- subject="Re: Is there a driver for a plustek OpticPro 4800P for sane?" -->
<!-- id="" -->
<!-- inreplyto="35BDA455.CB703F91@seitz.de" -->
<title>sane-devel: Re: Is there a driver for a plustek OpticPro 4800P for sane?</title>
<h1>Re: Is there a driver for a plustek OpticPro 4800P for sane?</h1>
<b>Antal Novak</b> (<a href="mailto:afn@weevil.net"><i>afn@weevil.net</i></a>)<br>
<i>Tue, 28 Jul 1998 23:17:14 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#167">[ date ]</a><a href="index.html#167">[ thread ]</a><a href="subject.html#167">[ subject ]</a><a href="author.html#167">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Brian Drawert: "Visioneer Paperport 3100"</a>
<li> <b>Previous message:</b> <a href="0166.html">Bernd Schroeder: "Re: segfault with Microtek Scanmaker 330"</a>
<li> <b>In reply to:</b> <a href="0121.html">: ""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Yes, Erik, there is one currently in the works.  Assuming no legal<br>
hassles, I think it should be ready in an alpha state in a few weeks at<br>
the latest.<br>
<p>
I'll try to remember to let you know.  If you don't hear back from me in 3<br>
weeks, email me personally (or send it to the list), and I'll let you know<br>
what the status is.<br>
<p>
Best Regards,<br>
<p>
Antal Novak<br>
<p>
Weevil Systems Programming Enterprises         KDE Developer<br>
<a href="mailto:afn@weevil.net">afn@weevil.net</a>                                 afn@kde.org<br>
<a href="http://www.weevil.net">http://www.weevil.net</a>                          http://www.kde.org<br>
<p>
<i>&gt; Hi.</i><br>
<i>&gt; </i><br>
<i>&gt; I am looking for a driver for my Plustek Scanner,</i><br>
<i>&gt; OpticPro 4800P.</i><br>
<i>&gt; The scanner is connected via the parallel port.</i><br>
<i>&gt; Is there a driver for SANE to get this scanner running</i><br>
<i>&gt; under linux?</i><br>
<i>&gt; </i><br>
<i>&gt; Please answer directly to me, cause i'v not subscribed</i><br>
<i>&gt; the sane-devel maillist.</i><br>
<i>&gt; </i><br>
<i>&gt; Thank you.</i><br>
<i>&gt; </i><br>
<i>&gt; Erik Heim</i><br>
<i>&gt; -- </i><br>
<i>&gt;               \\|//       </i><br>
<i>&gt; "Just Do it"  (- o)                   ... und tschuess ....  Erik.</i><br>
<i>&gt; ----------oOOo-(_)-oOOo------------------------------------------------</i><br>
<i>&gt; Mail to me at: <a href="mailto:erik@seitz.de">mailto:erik@seitz.de</a> Visit me at: <a href="http://fly.to/per-erik">http://fly.to/per-erik</a></i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Brian Drawert: "Visioneer Paperport 3100"</a>
<li> <b>Previous message:</b> <a href="0166.html">Bernd Schroeder: "Re: segfault with Microtek Scanmaker 330"</a>
<li> <b>In reply to:</b> <a href="0121.html">: ""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
