<!-- received="Mon Aug  2 07:27:31 1999 PDT" -->
<!-- sent="Mon, 02 Aug 1999 16:27:08 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane-0.31 available" -->
<!-- id="џџџџџџџџри" -->
<!-- inreplyto="xsane-0.31 available" -->
<title>sane-devel: Re: xsane-0.31 available</title>
<h1>Re: xsane-0.31 available</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 02 Aug 1999 16:27:08 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#11">[ date ]</a><a href="index.html#11">[ thread ]</a><a href="subject.html#11">[ subject ]</a><a href="author.html#11">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Ewald R. de Wit: "Re: xsane-0.31 available"</a>
<li> <b>Previous message:</b> <a href="0010.html">Andreas Rick: "Re: xsane-0.31 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0005.html">Oliver Rauch: "xsane-0.31 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0013.html">Oliver Rauch: "Re: xsane-0.31 available"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Andreas Rick wrote:<br>
<p>
<i>&gt; On the Nikon-Filmscanner we use the infrared channel</i><br>
<i>&gt; as forth channel but it is stored in the alpha channel</i><br>
<i>&gt; of the png format (or other formats) or it is transfered</i><br>
<i>&gt; to gimp as alpha-channel.</i><br>
<i>&gt; If we think of the dust as beeing a filter which occludes</i><br>
<i>&gt; some of the image, the interpretation as "apha" channel is</i><br>
<i>&gt; quite acceptable.</i><br>
<i>&gt; As there might be other methods to scan an "alpha" channel</i><br>
<i>&gt; than by scanning with infrared ligth I think the</i><br>
<i>&gt; renaming to RGBA is a good idea.</i><br>
<i>&gt;</i><br>
<p>
Hi Andreas,<br>
<p>
that is the reason why I renamed it!<br>
The frontend does not need to know how the alpha channel<br>
is generated, so it is better to name it alpha than infrared.<br>
<p>
I sent some changes of sane.tex to David as suggestion<br>
at that point!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0012.html">Ewald R. de Wit: "Re: xsane-0.31 available"</a>
<li> <b>Previous message:</b> <a href="0010.html">Andreas Rick: "Re: xsane-0.31 available"</a>
<li> <b>Maybe in reply to:</b> <a href="0005.html">Oliver Rauch: "xsane-0.31 available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0013.html">Oliver Rauch: "Re: xsane-0.31 available"</a>
<!-- reply="end" -->
</ul>
