<!-- received="Tue Aug  3 14:30:52 1999 PDT" -->
<!-- sent="Tue, 03 Aug 1999 21:36:30 +0000" -->
<!-- name="Patrick L. McGillan" -->
<!-- email="pmcgilla@cpinternet.com" -->
<!-- subject="Basic info needed" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Basic info needed</title>
<h1>Basic info needed</h1>
<b>Patrick L. McGillan</b> (<a href="mailto:pmcgilla@cpinternet.com"><i>pmcgilla@cpinternet.com</i></a>)<br>
<i>Tue, 03 Aug 1999 21:36:30 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#35">[ date ]</a><a href="index.html#35">[ thread ]</a><a href="subject.html#35">[ subject ]</a><a href="author.html#35">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">Oliver Rauch: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0034.html">Oliver Rauch: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I have an older OBM Page FX, B&amp;W scanner. It appears to be the same as a<br>
Plustek Page Reader 800. It has its own control card in the pc and under<br>
win95/98 works just fine. I would really like to make this work under<br>
linux. I can write a driver for it, if I only had some direction to go<br>
as to the programming of the card. Is there any hope of finding docs on<br>
this? I have written letters to Plustek, but to no avail. I could<br>
reverse enginner the win95 driver using a dis-assembler, but would<br>
rather not.<br>
<p>
I really like this scanner because of its small foot print and the fact<br>
that I can hold a sheet up to it and it will pull it in, scan it and<br>
spit it out the other side.<br>
<p>
Any help gretaly appreciated,<br>
Patrick L. McGillan<br>
<a href="mailto:pmcgilla@cpinternet.com">pmcgilla@cpinternet.com</a><br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">Oliver Rauch: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0034.html">Oliver Rauch: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
