<!-- received="Sat Aug  7 01:45:15 1999 PDT" -->
<!-- sent="Fri, 06 Aug 1999 21:45:14 +0200 (MEST)" -->
<!-- name="Bernhard Scheffold" -->
<!-- email="bernhard@adinfinitum.de" -->
<!-- subject="RE: Autofocus problem with Coolscan  LS-30 backend" -->
<!-- id="" -->
<!-- inreplyto="37A9F6EA.ADC87138@free.fr" -->
<title>sane-devel: RE: Autofocus problem with Coolscan  LS-30 backend</title>
<h1>RE: Autofocus problem with Coolscan  LS-30 backend</h1>
<b>Bernhard Scheffold</b> (<a href="mailto:bernhard@adinfinitum.de"><i>bernhard@adinfinitum.de</i></a>)<br>
<i>Fri, 06 Aug 1999 21:45:14 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#66">[ date ]</a><a href="index.html#66">[ thread ]</a><a href="subject.html#66">[ subject ]</a><a href="author.html#66">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">Bernd Schroeder: "Re: SANE-1.0.1,  Linux/m68k 2.0.36 (Amiga), Scanmaker E3+"</a>
<li> <b>Previous message:</b> <a href="0065.html">Ewald R. de Wit: "Re: Dust-removal and color-correction"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Andreas,<br>
<p>
<i>&gt; I still get messages with autofocus-problems with my coolscan</i><br>
<i>&gt; backend with a SCSI card:</i><br>
<i>&gt; AVA-1505AE under linux 2.0.36</i><br>
<p>
I've read your description for dustremoval with xsane. Works much better now.<br>
But I still have problems with the black border (OK, it can be cropped).<br>
<p>
Coolscan Backend Version (0.4/0.4.1/0.4.2): 0.4.2<br>
Sane Version: 1.0.1<br>
Kernel: 2.2.5<br>
Distribution: SuSE<br>
SCSI-Card: Adaptec 1542<br>
SCSI sg.o version: It's from kernmod-2.2.5. How do I find out the version of<br>
sg.o?<br>
SCSI low level driver: I took the SuSE kernel with builtin support for th 1542<br>
Backend functionality (nothing works/works but hangs on autofocus/ works<br>
with autofocus): works with autofokus (most of the time).<br>
Any other usefull info: AMD K6 233, 192 MB RAM, CD-Rewriter (so I have to use<br>
ide-scsi, too).<br>
<p>
<i>&gt; Thanks a lot</i><br>
<p>
Bitteschön.<br>
<p>
Tschau, Bernhard.<br>
<pre>
--
Bernhard Scheffold . Breisacherstrasse 37 . D-79106 Freiburg . Germany
E-Mail: <a href="mailto:Bernhard.Scheffold@adinfinitum.de">Bernhard.Scheffold@adinfinitum.de</a>
Fon: +49 761 288124 . Fax: +49 761 288299
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">Bernd Schroeder: "Re: SANE-1.0.1,  Linux/m68k 2.0.36 (Amiga), Scanmaker E3+"</a>
<li> <b>Previous message:</b> <a href="0065.html">Ewald R. de Wit: "Re: Dust-removal and color-correction"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
