<!-- received="Sun Aug  8 20:16:44 1999 PDT" -->
<!-- sent="Mon, 09 Aug 1999 11:21:45 +0800" -->
<!-- name="Steve Gunnell" -->
<!-- email="steveg@ccis.adisys.com.au" -->
<!-- subject="Re: RGBI (was Re: xsane-0.31 available)" -->
<!-- id="" -->
<!-- inreplyto="RGBI (was Re: xsane-0.31 available)" -->
<title>sane-devel: Re: RGBI (was Re: xsane-0.31 available)</title>
<h1>Re: RGBI (was Re: xsane-0.31 available)</h1>
<b>Steve Gunnell</b> (<a href="mailto:steveg@ccis.adisys.com.au"><i>steveg@ccis.adisys.com.au</i></a>)<br>
<i>Mon, 09 Aug 1999 11:21:45 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#73">[ date ]</a><a href="index.html#73">[ thread ]</a><a href="subject.html#73">[ subject ]</a><a href="author.html#73">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">Nick Lamb: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0072.html">Irv Thomae: "Re: Microtek E3 won't scan, but II-G okay"</a>
<li> <b>Maybe in reply to:</b> <a href="0025.html">Nick Lamb: "RGBI (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">Oliver Rauch: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Oliver,<br>
<p>
Indeed I understand that SANE isn't a Gimp plugin. If<br>
you saw my other post with an (somewhat rough)<br>
alternative model that puts SANE as a mediator between<br>
data sources and data sinks you would see that I make<br>
allowance for other data destinations. Surely you have<br>
an interface that writes a Gimp format file? I don't<br>
actually know whether you write a physical file for Gimp<br>
or pass the data as memory structures but it isn't<br>
particularly relavent for this exersize. Once you have<br>
one Gimp interface there is no reason why you (or<br>
someone else with a vested interest) cant write a second.<br>
<p>
Gimp has this nice layers model which can be used for<br>
generic image data. Whereas the Alpha layer has a<br>
specific meaning which is distinct from dust removal<br>
operations.<br>
<p>
Cheers,<br>
<p>
Steve Gunnell<br>
<p>
Oliver Rauch wrote:<br>
<p>
<i>&gt; Hi Steve,</i><br>
<i>&gt;</i><br>
<i>&gt; I have no problem to shift the 4th channel data as an auxillary channel to the</i><br>
<i>&gt; gimp.</i><br>
<i>&gt; But SANE is not ONLY a gimp plugin and I am programming a frontend</i><br>
<i>&gt; that normally saves the images to a file and I want to know how to</i><br>
<i>&gt; save new formats.</i><br>
<i>&gt;</i><br>
<i>&gt; Nick seems to be a really big Gimp fan and gimp is a nice tool, but</i><br>
<i>&gt; SANE/xscanimage/xsane are not only scanning-tools for the Gimp.</i><br>
<i>&gt;</i><br>
<i>&gt; I also have no problem to remove the RGBA routine if nobody likes it.</i><br>
<i>&gt; It is a way to save the data in a known format.</i><br>
<i>&gt;</i><br>
<i>&gt; Other possiblities are to define a raw format that is passed through the</i><br>
<i>&gt; frontend without any changes or the frontend say "unsupported".</i><br>
<i>&gt;</i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0074.html">Nick Lamb: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0072.html">Irv Thomae: "Re: Microtek E3 won't scan, but II-G okay"</a>
<li> <b>Maybe in reply to:</b> <a href="0025.html">Nick Lamb: "RGBI (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">Oliver Rauch: "Re: RGBI (was Re: xsane-0.31 available)"</a>
<!-- reply="end" -->
</ul>
