<!-- received="Fri Aug 13 06:38:01 1999 PDT" -->
<!-- sent="Fri, 13 Aug 1999 14:40:25 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: SV: modprobe" -->
<!-- id="" -->
<!-- inreplyto="99081223193300.01500@localhost.localdomain" -->
<title>sane-devel: Re: SV: modprobe</title>
<h1>Re: SV: modprobe</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Fri, 13 Aug 1999 14:40:25 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Lars Hanke: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0122.html">Andreas Czechanowski: "Re: a few questions"</a>
<li> <b>In reply to:</b> <a href="0117.html">Pamela Akazawa: "Re: SV: modprobe"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0131.html">Pamela Akazawa: "Re: SV: modprobe"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 12 Aug 1999, Pamela Akazawa wrote:<br>
<p>
<i>&gt; I must say I have tried all the suggestions from this mail group but</i><br>
<i>&gt; unfortunatley i have come up with nothing.  i suspect there are more than a</i><br>
<i>&gt; few of us out there.  As I said before ther must be something else we need to</i><br>
<i>&gt; do.  even if the scanner is not supported I would expect SANE to see it but</i><br>
<i>&gt; not work properly</i><br>
<i>&gt; any ideas anyone.</i><br>
<p>
No. SANE doesn't have any way to know if something "might" be a scanner --<br>
It can only list devices which are supported in SANE, and let you pick one<br>
to scan from.<br>
<p>
What you are seeing (ie scanner is recognised, SCSI generic loaded etc.<br>
but SANE doesn't report your scanner) is exactly what's supposed to happen<br>
if your scanner isn't supported.<br>
<p>
Sorry -- looks like you're out of luck<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Lars Hanke: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0122.html">Andreas Czechanowski: "Re: a few questions"</a>
<li> <b>In reply to:</b> <a href="0117.html">Pamela Akazawa: "Re: SV: modprobe"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0131.html">Pamela Akazawa: "Re: SV: modprobe"</a>
<!-- reply="end" -->
</ul>
