<!-- received="Sat Aug 14 03:48:21 1999 PDT" -->
<!-- sent="Sat, 14 Aug 1999 10:45:38 +0000 (GMT)" -->
<!-- name="Benedikt Eric Heinen" -->
<!-- email="beh@icemark.ch" -->
<!-- subject="Coolscan-III (vertical vs horizontal position of scanner)?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Coolscan-III (vertical vs horizontal position of scanner)?</title>
<h1>Coolscan-III (vertical vs horizontal position of scanner)?</h1>
<b>Benedikt Eric Heinen</b> (<a href="mailto:beh@icemark.ch"><i>beh@icemark.ch</i></a>)<br>
<i>Sat, 14 Aug 1999 10:45:38 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#139">[ date ]</a><a href="index.html#139">[ thread ]</a><a href="subject.html#139">[ subject ]</a><a href="author.html#139">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0138.html">Andreas Beck: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  This message is in MIME format.  The first part should be readable text,<br>
  while the remaining parts are likely unreadable without MIME-aware tools.<br>
  Send mail to <a href="mailto:mime@docserver.cac.washington.edu">mime@docserver.cac.washington.edu</a> for more info.<br>
<p>
--685040144-1527976169-934627538=:733<br>
Content-Type: TEXT/PLAIN; charset=US-ASCII<br>
<p>
<p>
<p>
Hi there,<br>
<p>
  I borrowed a Coolscan III over the weekend from a local photo store.<br>
Right on the first scan I noticed something strange (now I'd like to know,<br>
whether this might be related to this being a "demo" unit). When the<br>
scanner is standing up (slide put in horizontally), I get some very<br>
strange 'sawtooth'-like disruption in the scan [both using sane/linux +<br>
nikonscan/windows). When the scanner is lying on the side (slide<br>
vertical) the problem disappears. <br>
<p>
<p>
  I attached a small part of a picture scanned with the scanner standing<br>
up. Did anyone else here have similar experiences with this scanner (if<br>
so, did these come in right from the start, or is this a sign of "usage")?<br>
<p>
<p>
<p>
yours,<br>
<p>
  Benedikt<br>
<p>
ULTIMATUM, n.  In diplomacy, a last demand before resorting to concessions.<br>
                                 [Ambrose Bierce, "The Devil's Dictionary"]<br>
<p>
--685040144-1527976169-934627538=:733<br>
Content-Type: APPLICATION/octet-stream; name="window.png"<br>
Content-Transfer-Encoding: BASE64<br>
Content-ID: &lt;<a href="mailto:Pine.LNX.4.10.9908141045380.733@fenun.icemark.ch">Pine.LNX.4.10.9908141045380.733@fenun.icemark.ch</a>&gt;<br>
Content-Description: <br>
Content-Disposition: attachment; filename="window.png"<br>
<p>
iVBORw0KGgoAAAANSUhEUgAAAGgAAABqCAIAAADftoP9AAAABGdBTUEAALGP<br>
C/xhBQAAAAlwSFlzAAALEgAACxIB0t1+/AAAIABJREFUeJxEu8m2LEmOJCYQ<br>
QM3M/b4hIjLzsOo0m+Q/9Qf0h/NwwaFziMqIeMO9181UAQEX/rLad75yVygU<br>
kAGw//7f/5vT4DHPq4AxCHdcMltt3fjpfHvrbWz71mZtt7Ue67xc18vHT0LL<br>
gqYdgh50twHfPiCZ+dr0rorxp8E1gOTL2/dvyjfzo63ke9B8axfI4fvnpLyu<br>
mtf1QPZELVoHsfodXV2EFt385d8sO7KvWkbmtsI/sqsjvNHWUgYyZ9f8rp7z<br>
vCIIuISdRDijaVEABPRU53rDGJInQJRlR9AQvHJzPbhtbmstP19n1jtjoHcG<br>
t7YAyWgPkDSEbYRTvHfQx37EAIZXgK0epBC36kYHOrHSDMDAKOOOLhA+RvNm<br>
a6HejViIhsWQxQDSG1QJE1kRB53AGV1tW4ebI0gzbtZmTR6Ve5Lhm3sQollZ<br>
wavZwt6ZVctwFcobZCsT12kFaru9fNxjcxAgYOpR07TSHIhWO0CLIRTgsA0l<br>
sjjCzLUwaGFX1w43sx4RI+6Ah7zaRYXvdwdWQhe0O0EwghePQw4qkp51ouUS<br>
PUqGbtrsJmgAyvas+EAKBdvQtsyqZyoc0wp0RqHrUTbMGolEjc1Uci+DM0bh<br>
o/AbuvYmIsKayNmk5KPBPbO6hF7obm+qTNZWqxKlzWMMa36Q/fFmZDMIKgJX<br>
cS0EVkeIaC2mlrrQOyhhgxyw2Acb6AbazRcHi5LH7txbCh5jsJh2NoaKBV+5<br>
aWUmsECY02A1toPYFQePvVZ1ptN8IBrACosRB9rA0Unp6jIrSIIe5B1a3mlc<br>
6gfWFf2wbUfTDRHmvteaXbNmA8vMbFlIDtsDA4KJXceuI0rsZYSZYcXoLayq<br>
hTRWdEce0b2qKmFxq7GR7XZxvqtp4SN29AIvcBkKulAFbIARDnjDJDNa2GYq<br>
WHG3pSE4osTYXz5vx74d93GL6BqzY1jaKmUOQw9ZLfgOAubOQ33SjTbHQtUj<br>
jk0cDrlpi719Qz2YZczwrlxwJARY9O6e7iGrhGyk84BCSsLAIAwyuiLSDK1y<br>
vU3SEisEmNBmTj+FZbZ7S960oLdW85n2VoUxglkjrapis0e1BuTEXEjmRrJ1<br>
eDcnEMvk9sa4G7pV6pBBaqnJKBzWj8JAa8ROe6CjhXHcerRWXHGn4Wasdgxg<br>
j0KEEeGuTuNyHm0qx2bLqT32bQdi0Ns230bYtsG31LLuoDYzGWRSUlXqE/FJ<br>
2LpfAMM4aty1ErQ2b1ENN7qFW7WMmSiVurDeq08M4Wi4spDl8HBfc4oleTdp<br>
MElmaZFIoL0bbcByrTYVBsBNi11dM5xhRicYxjCIlgZXr5QEdJQUU6i+QZAW<br>
ATTRauW1dOU4z2tNhI9b+AOFIpuoHKhp20fa9xEGO1Zn8HAKbLzslQtounFs<br>
baUe6moJDB+khdZA1arl+g7sZZ8BD3KLXcg5bQmCiAgTsJfQ1jY3WTfPkhlR<br>
Ss25Hy/tVLVVgGWgbNu5aN1wp6mWuWyEKSCJZeWoM9kNaw1RewxDFtFdMrdm<br>
090G5W3TYXQ1A90IAIYljtVthsmgMAWpVhd0RQG6HgWP9u7ard671QpWq7PU<br>
2D4YSY91+b7tzUKVcBFe3rLRvieys6pm+Gbe8t2wOZnXg3mhydshVBvMtPGO<br>
fEPKYtc63QrOYtmlLtEJ6ERZUDmEgp8yZU3kCndgF7aWb9EdIUXb2obBbsAh<br>
WgmSU92oWnLf3CQuLQmACeYqtFEinWkUzJC0KLqhjKKGiI7d5kNmkBIL6M4n<br>
eFlWYr2uZdFXASUUcjVeyAxZrkke1WHEoLeyZFR3p1HVG0GgWzSuALy38hKC<br>
NeAy2JB67DZuxjarNqSNLlkrgu4MmnyYD56pQt06ZLka2WXmm9c6FspqkdEm<br>
t+r2toJHkIVuum+GvsNMuJrydHSlI+Ab3agCpy6DA4lGpTUblmUyczTU0Raz<br>
IPSuIWHsyoIXGXPWKvsUSoZTZUpi8WBmhqMap1HVKJxWbW1QQqfwkiJ3rEsU<br>
BMQ4qr3TgdlrwQCgza3VCcNQ9WIazV4OD++etBdCJS8UHI1y449XITi8rUGh<br>
ka1RZ8tt2yyiLpbyCPr41PmIAKzLbujM1d0N24oKQ1uha9iOcanaaVtsQYi7<br>
d29ww2xIfUEyltxh1CoDDWZIw+gqgcCqCuN7j4sckUkG2DSMQM0lR/i+30aQ<br>
a61yDNiiVjU2uwdlhi6XhRmQMCfQMO9yt5NIVBCrycJL2KtLlZ2WYW0H49iA<br>
TV9PUtagBRtFbvSIbT3SrC1YUoQR1rCih5u7TWuz6OOux++x3XzsDJgZ/Sgc<br>
6+27anLbzAA7yoUWuBsOKcvdrNBbj11WBrpZm2m580j+bpT7valzaoDAEvpw<br>
z2bWozupj4Oq2Eofi19CD3BgnbwPkJaEqfeIlaW2hhkJO6V92haVsJELu8mZ<br>
bt320jaFlpp40DlqCQEejXvWNxirZ5lusXG7m3W3w9vY9BFO5WQ344ixVV3w<br>
kgiV73Tbrt6aZi0YDsLQtW+7vcR+h4s4QDD3puVwb5HltrDdhEkjaLVMbuFb<br>
dl+PPPYX0sI9ZVdxVoWqALrv2wZSjz/Cus2XEcsDUqtsiNVw1lHQ0mCeQC8u<br>
VN/2Qyo5cinWQmzNNtv2bqJuUwNKV5GX4WYobrusCuWZCMjoHYDMQP/Yjeu9<br>
ltnGCTOB0cxmd+IwumG4UWjbcCwbc10YL+pZaLIinB4tf9CeAQqotfZqO35y<br>
kwzuR8PTpPYwl2+rHA6PdNDQco9S0IP2LsIlWw6nFhCeETF7T5fbzfw4jLu9<br>
n+ZV5gV0RkkcB+DUnATrVBOSymsr2CE1MOClFqvDtMwCCHN5bR1mSmA0YnCz<br>
hsddzS51gbL20e3WKlvDNzl6rU4Al+2yHn4cKWUBji3QRFFWDL85mXNWwbZw<br>
o9gWF2wTN4NHJrEBJTS2/WX1QrvbZLC7Ola+g2Pbbgs0dwzPuoJhgWG39gsR<br>
Cw0hjlv1WrVWXrF/MsCKZRQd2FeNAbP7X9jvsPcDlsvALdeQUvXecVs9KTDK<br>
MWgAHKsfhGBaEDI8lvWHdnANWAlluAwH4xgR5ov4KJRVo9G9YbWblbnVLL/N<br>
dWm+wjo4yd3aDaaOIJphrV4BFOU8CFjQzI+V1RiGJJlNyGoVDbCm0TeDH2Hd<br>
eJhvwY3XQ4lAY+Rhx+bw476GX1++W8/DaYOnhsqAImFCZs2GSYc6k49TdZ6q<br>
KuDtXC9Y+88fu8pcA8PmIsPXKq1r1Y7RYVoXd/cBLWRWBLIAEPSV72EN7zWL<br>
yw+DrEANsIatYCO2qkaEDweWHuWqjhY39ZF16VxaX9AshtUw6z17mGEIpF/R<br>
UyN6exnLN1PTvRFjvZbZfUeNPa+Katiyj38ej3fEsDFiODogxgB5V2Gzt/12<br>
4MPN3npY2Mt9s8Com+Xt84ccn9CvUYaxTeLr748Ga7FqNa658nx/6JprLfFK<br>
rav04UMUTHl7SRQ2q2vlpVVz0evRIyzJwOxLKxoVsBgHygRDRRgJW7B9yQzt<br>
ZaQjTJ5pYyDaKTpahW3ZqxHkgGbanmux3olSXYujON0EB+jZ6Yr7/egNHPSP<br>
H2yG9dpKa8RVuXXePt4y9tVfA46I8dOnj8My8XC3HZ3b0BphvY30z8NS/pkv<br>
h9kVMYt3mD5++nxsbi9/pnZ+Dtp8rPbKs2clH29XXvn+stbM+fW151XQSmhd<br>
WTo/71n3fOR9TX56cc16n7imogvvWAeE6KqSIBqgBLtRWA+4R8W9meSO8zTP<br>
tgORaJQdl7hn+pYNv7zmAjVgp+SYOU1dIUdjKB+wrkBpy7zI6GpE8eWTv2yI<br>
stsxtq3mq8N4bBS5nfv9cPtgTWdx33k7RsAeWPZAHPExoNWG9g+xg/TEsB68<br>
D8TqPKA5Pt/lL+fcPS/ELoz1eCiranv79np+edP5mpfmQ/P1e+uE21pvNfNM<br>
+V+95k91vb/l+3j/yCicifV2f/GGwCFgAcM2OECTOXJZl1UsrBA2A0LAYPeO<br>
8Eap21ZM6Mzzw7Y19FbK928fzLJ1PSYf9bhlOGuxH0kC3evdPTU/fAvr2ECM<br>
ODbfWLHDPWM37zaAx+1zYHtZFswYH3+SGu6YcUX0aLddfdPWws/VvR7c7sz4<br>
9H6lfb3uf7m3OC/jG/CTafn59j7Wuv0cpjKWRZznfHz9/vj2R81V17mWrbeT<br>
/hCgRGotgf9M1rnyMevVKsdoaxDn/bjPcEd2WymGkw1AqweXHIM+qIrRw6Xg<br>
km2iSVN1yfZCXifO1++43Srx/XzD6+/66eOcfv2RPN/yJ3gg3zPP9/vL6mmP<br>
7xl5ffp8qzAcL0H0QY1bd7w/UpG731Fzvdb+09aF7yfH63n8+bY03r6+bddj<br>
/zMDZv0iac5M3t7fdf7zt9u/f27EP3+78Pd//GX/t5V8++3BL39sa5Md9SWP<br>
Kn66O73ipde8zuvxeHs83jOr53uuDdcjmYiugiDA8XirljSFqfc/ao/dvVE0<br>
ZgES0x2QbdWnawPbx2ARw2grdpvtZmjlgxxQg/W4MCtff5uPb7/2S8x1v+bv<br>
fH29hDljfXvgeh9tHWudkB7IKK35+g6s97dt3C+rWzhkW+m4Huv3L1cFbxvW<br>
nPmPL4f/XJd9//Xity93/mnN4/Vvf+zX48/bzxgfPmw05LrqsR6//sfr+fe/<br>
+fXW+OW3v/2hf/7f816VP7/+46v++H8/2C+Fj/ZH3vn+0//+v9m+O3yi18qc<br>
p9Zc+UhlzznXyXBaqiEZVgMrURKQieMSmAW0VtVuiXWgE+J6sN1R4bczxj2i<br>
1MjYwvYqDC2VzdHD3Ipe3+f1Ph9fv1yPL99/vQuZ+RWPE/leua+398zXG27t<br>
nYtW5/Xhcz7es05DvJ86BgaYHWxeZ3/7kt+/n1++P459W+9X/eP/ux//Nb/f<br>
3v/6K17/Y/dHzQ/nr/+xzW+3vxQ/6xYvRNe53n5/e/3r3+cfv65vv3W8vv32<br>
Bdf/8/v/tYSv33/9Xef/yA8z8/t2PbA38V8dXXCHdS30Ul2qxzVBzSVq1kBi<br>
NiBIbwQEVAJraADWSHS9P879QwhSj3uVSqghPyHLYjvm41HsmPCscktX0rPU<br>
ubKaNc+cX1ee+P617cr1hvmGtUHn4/2V+XbZ0vBetHz47qlEoWopT/VRbVKt<br>
1DXzen/U9ceX//F355GP1/7266un3o7z939q/WPb0uan9eWvA1/fvr98/uS0<br>
wxrqXq9/rK9f5/nPx5eEfe/1hfry/W+V/O3x7Rvyu/7+iP4zBhZuqGW6AVSl<br>
qdBZWIKQ1wVBA3zUCS2MIaBKrsVBAdpUUhkbhuttzuOIYW1j7EShtXrEtbrU<br>
ijVfa2JF5gW10a33K1dbIlmOVllduTLf/ygcyjdUUcJaeV6sBB+ZjhrMB19F<br>
9NKwfKy0yA99ZWmWmOtV17eqL+vtr3OOWu92fZ9/u5hjXm+13uZf/0/2T7X+<br>
KK96XJZIYKCnI3V2vlV9f5wn7N3tDOB8fLnwvuY76k1fro3gh9s1gniAP6mu<br>
pdmdq5eghpRyArhcqwDSF0AOrDUI+BPTgsin8+CdaxVfNjPW/R5luSDErEef<br>
D1lar7UULaBRoGLP9e4G0pTvXReUhD+uU0joqpmeC8paqiqMKb2Xhq8HBxyR<br>
SPb1uCLOnOcVgkcYyvohFaby/A3rvQGsAoJYSzNfv0vfI2AK667sVILbdV6r<br>
Zud7d0kP8HILjFEz0afjKp2YVLz3ikalLbGuWpIpU2VZrc4FEAAulMMLQBUK<br>
T2HSsaogHYNP+7DQZtVZNkx8S7uNo2rlwwASDwraZKsjEzJHc9u0taU8jZqX<br>
eoKgGa5FrCWhrlUCqgoOrWv5gHAKhYvBQ5wEcHWt65wnpGWZptUTvbyUlS3A<br>
PVHDSuhUSatKZDSRKABBNw8uMjOrUhgAEeYOkmGx1oQAoQSs9mWWlcRVvbJk<br>
nSZFyzIblYIAAKgaWAJKqkGWlhfgJVTgpip0plmZd22oXl9P3YKLWOfwBc80<br>
p8fmCuVFewGQ3mxUWVsDO+xEjNigR/J5TT5wLqDcB4sqgE+RYlAAT8LJLSyU<br>
q66zEud8W5lholt1GtDuFh4o4HntrAJQAow3Kc1F5wge943cAHUvCb55BAFY<br>
APlMGAJFJBx0og+iEahuwSvLUXxqrWthgHr+IlyCAyKAhUE+u8VTd1zs4U3V<br>
YrU/rPIVvvu4NlI0wNwdjui0JMjZkwV4e6PMb/AzzYpvQAj5oxY4SUgCiGMI<br>
5QAFOYghuICZ1TO3NQ2bnd9MwxFuARNRtC7Q2gEIBbp+ZAPawyEziwBH9H5Y<br>
mGE+QzysChhhyEhUFaocgIasN4fJ+sSWXaOrtcZ6SMkfTxJVACSIGEUAKAIg<br>
q/SMGzIIYFN3SaZLCsLCEfuFEe7DezAXBs7TIssQ0yy7NxiAgkyB4sg+Z14g<br>
SxAdSz/OWVgOVLk7aqmA8fxVwupKRydl4TwagJpwp4c/TwpEmwxFkGSVO9bg<br>
kIq4BtUG1FRdBNtaoMcwAEEbO7OCtTxcCyUgIKEmHTXleMAcCDrEBpqO5cOr<br>
AKFKIAGxCArPkZEBZFg5B8DSPCu3MpvGn0aEczTc4Xu3fngt7oEoBM2OLLCV<br>
7a1TspasHyaWsJ7lfLl71TPZuShAAAmHF4gHnIShF3LEhu24dXzeemXExmFj<br>
q+WdEdFwQF5lqRxeWM+olxH2rweofF2S2tEGujxi3I2H461IkM+a/yR7M7lF<br>
uV0JPjLEvRn8YdHTAWKJRGE4gHI4ljAIDDLoBFpqtGDeSszEWrF/Qkje7je2<br>
A0K7is0VKOt22W3vtTBhEObQXirAQAhUFQUAC2C5+4IAogSXWMCgMNCSuRuC<br>
vt99P8Y02nH37d2rtoiMAYywB2JH27USscZwYUkEN7MPhjCrrM2aqqlGEwAs<br>
hsdmPjwMNNDK3ZfEJMxghYrDfX5kX+YG94ibaoKLyuFjkQMajsKPQjH+E4sE<br>
1YaGVBCGSWN6g7TeNtpw3Eo5uIDRKAJUNxZwPeSmUHMBexWyTYXKkxT/1ZVI<br>
wWsVtBYWAdUqAYsQgk5wWOzbQcTR3LYDNsjYCptv4ba7ydCGHb0/axcBjhGk<br>
eayOxKwc82LwoMspeA8qDPtgHCyG3B0QAo4CiRzw62GpDbUxw83NovyQO+JZ<br>
EjZnwJ+lDQvA2IWxSEoUYHgOvHC5KVGnobLOYR52Y+zkRj/KCO8BZ2laLnSt<br>
elcRvbWiVmW2VRENTQdQcj+Hnqn2PC9QdI4aRUkQcINedt98bGEvtIOxh0Vp<br>
kyE7AgbPigAmbBFBhLgIBBEGY5pH90vDjAGahwdojn2zGB7uhht7h2IUMDCE<br>
MrTLRSsKTSQbgXAjZC5BmVJlFmIJWlChxIWQiAVAbj2YNxdZjgd9waTucCJY<br>
0L6l+TBf3SHLcCVHw23UBY62FqcsVZc7vIfqBOADcGCRgDucXs9eCgjuDIDQ<br>
UKdh3+LY474PDOxqTLPhHIEVxooeaBJATM9C8gYkIKiAVG+5Cl0GoXf0xkLR<br>
4cNIt809h9kkhmctaAeaaWt/8UZVCEPmMj5HtfjELmclAHioAsyBqkqC7oIL<br>
3OGGZ7NCFiRrh625lkpmrUfv6KnuWFNAMjwIdb5G7MFyew1U9wVPmFFGP4id<br>
TuBYgFP1LMsgqIUf9Q4cQNKvRrTdBevuMJBFA8q5v8CHb9uIu7uBYS7SAApM<br>
8dLq7nld0INY1svb1b3YHlGAx04GIxAOCgyhgHQHzIw0C6IMJtSFzLpahWfh<br>
UknQmkQ6FiCHHDkCYAgqxEIkBhAFeHmA8/1dBeh0qW3ALKeL05docKvlWuqa<br>
bWhrDJoRDZQEp8G54HgCVQGFEvzZCZcDRE5IYDmjDHNhrbWSZ9Ws6+qubuoG<br>
DwsDNzaGFLbTdj05AEAP57MKldvoklBQOTZgYCM9jAIpDzEKBB2AOJ7owztZ<br>
aFGdQMESVgWWnve8iNNVWKgf8DuQhIS1kEkarMCnh+be6HWt1WtVvi1LCiAs<br>
bDMyKmWRZqFaFoN9a0C2oy/1Q3DyXOtZ235E7wekfLoLeDaqgkraXAmU412W<br>
ihOlnLk6ZeW9Bj3lZj3ibg1dsJ4BMEjnZkMkY7gv9x1gaAY8yrDZ8GNgtJV0<br>
UdzECQkDCG8GvAFZd2/qq80ZDoQsVUQ9I0xHsQDHQu2AxHI4RIDeHgWj7Aoz<br>
CMKZNR7fvvb4wOvR4RxDgDXbP0RhOSO5ffStvVcRXMiGHAow9aQkXCWKckEg<br>
CxoAFnYnUO4usbMsd+99b9/WFpsT4uqeYhrTI9BuTsq73fzN3OKJ3WKgm9bw<br>
9j1aDi6jG2FDvvEYDsDhYUCbgISIZyKmjc2g7nBbdHMIzxmCTvqPax6A4BoA<br>
SN8dl3yJ7qDM3Yl2NEkBO6oYq4THl688RMFffz8+/ESYmDCnhRt3aqNHG6/J<br>
TOy0IAaNXJDKIZUKwKjCU4t5QhQJWj+yHpZCBGPjdtjwPBAB39vQ0+huHmPs<br>
Hg4RKkLubmSTAcK5Cy5YjZZV7GBE9Da2tpabefrmN+LmtR/YP74McCdHDN98<br>
rUv24ID52IGBBRNAD8Kf3HSBLAfgju3EIEQBUnbXwlqoSyDNaZRAJ3JOXFdr<br>
oZL5LlSJbhW0AHcAl9bKDUJvMaghu9DMrJRXqfC8Mj1DNn5E7Zn5DpAAIxR6<br>
lseM8rMl1x3z61AFQ9gaC3aDP0C4vA35emvOPYi7DwwHAuJ4qwVk3ON+fNJ8<br>
9Z3jl48Hjs/zt9drn8f9dr/d3x6/bvv6+Mtx/LS7Bb1WfUpczWHPjmVEYlSA<br>
VQ7VchwEVBMAnjwC2CBNEQ32UzCAl5ObD7AME83qKLiyO1wYASARpCq9RWw5<br>
zKYF+FS46BAE+nAf9WTkrCdpIeQ+CifKIcAIVqLTeFkPW+lGG3f2/nlc/3FD<br>
nNbFTx/9FUD1zUdZvy6zr8dPGz//NPaIfceWI/a917G3/fnQh/Fh1+2D3376<br>
qbfPn/4054fU/dPBDy/fGceX7X/5L+P4c8RHx32VngTGYBEq1gZhIOGQOwoF<br>
qMTlGk8M5+AxSKNcJroAYtsQPrb7i+lbc2K7AykOA8JxpkWZU5fgHLvQhdTK<br>
RSzOBSs4n/qND5WePazwtByP50AZgBpP3poCOueZfvdl9AAxaJ9vazvGy3J/<br>
jfgFP/8SRvj7PD64HK/tY7dPzu2/+MvNIhq3zLvfa/xij8fLyvjwy4r7cW0f<br>
lDj+8rHz376dWz/q+D/+nfxF/BPWYdEBB/VYbEpkGlpQQBwr6Uh4VKU/SdCA<br>
qoBRoGB0p5MYpsvdxzboL8f9A1OCOpzWjeljG45kR7VvqsJyRPs2rFZgSVIQ<br>
8eSq5VCp1gn4D1GLghZQGD/eLQkMEJt1ox7RL257zcuB2m+ZKz4Mu/9s2w1+<br>
j78YzGeOPTX+/S+K+7nudd7kG4o996pr9kzer6vfv77zT0fi83o43iePfMuf<br>
v/5+8tsf/b/eSgd+v+AL/KWJxWjOqk4xm4JdICZXlaB6FucCsOQ7wANYElaD<br>
gEyAc9C946aOMQb2D6tWm5mVQYPmwbArwkRE+6L1xvTYo4q4DOGAoQqbcELL<br>
XWshqXD+S80SSAgjKhxAmBkAYsIkMddjAefCfJ1irP1PmR5f/jh+PjDv1/dr<br>
z7n9/NOc+/rDcr7ndCyVHjBfl85Xzd8f5+tX2/68rfSeWO/nu97e8P7P3/zt<br>
n2vcU7ejtd8O5VirhXfrR4sOZzvgSuNaXm/lP6AAoKI/mRb5bKPT+rlhlA3I<br>
fMKsuCgfQ2g5rG0f4YMwVCsMbMjtuGB0oI/u12BNy+7uNT1s5TPLCCqcfHbV<br>
AWBI5BL250ttRBoMg9VcCpY9pHqd5+P769tcsef713j79eqfsXJ9excUv/x0<br>
1f3t8Xu//7HmkbhKnyiLQr7P6+1tnl/9i3OX31arrteab2d+++f1/jv698Gf<br>
/ca0z+rqvtwe3gSqOwmomyhgwheK8qe2BGCgLjkW4M+hfqzBDZgTGD0qicm3<br>
q17CEyZ4dDsTtlcR2MKB5rCOpWRCK9FllXrK/eqFRD2bqeCDpBYIONbCgSqg<br>
tAZCGMtFG8P4ZIwGd0/geoue15c/Uo+c32q+PcaGlX5ODtU15/J5Pdb5ep3n<br>
lcaryUcKvdZ1Pep6wH/vEHUI6jW1Vl1fMr/nt9ZI88+XbwXjLnR0tTVVjYYE<br>
IYG1QLrjP3UeFYdT6/k1EW6QFrthI8vjUq9zfhc/792wHmAXiaJ6EB2uKd/L<br>
CK2GJNK6EqtRXYLhurBEL9UTCj8xnGtdwAIKz7UFAajWgJEWqIEogOyuLm9W<br>
TT1eladU9frNsUXLXFWr1yOvV11nrnW+rf12IexSZz/Wmisr+xo6TRtCCSqn<br>
6hKqZiYcNaX0XDZcPVKXmwGj4AUjJHAAVSCfbKMKFMD6geme/L9SQkSzVVpL<br>
S3lNXQ3coULAeGvcyAYHl6F6ADAcphvHjeMQDWEy0487ek7U/Qu4QfAT/NFS<br>
/9UrSDng1UJRuVJtGCuVZoXONVefqdlsv15dJzy7qhrKpfle9WgBdZrDsTFU<br>
cJU9VzRIdah5gwn9w61BCVpuamvnGS6CtNFdQLeWup4Yk88CoxoDGD7o1IIT<br>
DBIbSA8PItx6+SxWRZ1dS2dJaF2qq7uMbt4DzYVNyqEHOqw3NVeikWaDBqJA<br>
uf9Phgo99R/9SyCB+GT9z7JXNDQwvEhLlJgwJBtgdrVRWjbauMqQsqyutfVK<br>
dXdfFiwBDfhz5n3SBHSPQ3Ez6/CmCVrSdBSUQDVoY2Ps1hhIdMMK3e4Awt0B<br>
dwzQn5knf2pVoFKeBgvz3bfD0TmRF9bZWJtVKpFXz0TatVbxrCzpPaBq/pHa<br>
gYuI1WvlrAZqPScEf4Tox14sRPA/+cO/Pk+2rW44Qh0GeIQZukZkuqn6uRFr<br>
Ntua3SZrmuiVV2UbT/fuuipTWG2bVNYySzdg5RIjl2NmayGfjPmZ8Wo3eils<br>
mebUnKCRHhEoB55+IkkU+K9ppaGnd/RDJmkCTuvuWVWxyJ2AS/iGAAAgAElE<br>
QVTOEZaaWEMtW9KFGmVnLV0BOyWbTosqlUOIKDkx0U0SxfL1nyImvODOAgZU<br>
eqYc3fVDYWcDhVrmm3O4jR6XnYGyFMkW3LfnxBkSDHRX9wUDkCjQGuZsqGej<br>
raPJbvZ8x4H2QK3OxI8zB4lGGHpKvbK6CqF2mv+ARlA9XQbHWk8/tfzps2r4<br>
eOIFk6NgSIBwy23b4WOYuaM6OxKVOh/iDfWQKQhzG4gh0voKHxTRAhxPZDEm<br>
QdEpCg7CF54NHC6vWnz+DdHlCINbo0lhgzc0CjQPQ7ZlgW5bK5vpGg43g/0A<br>
hWZge2y1sYRZaHmYVcCHe5sd4D7wCD4BdzgFsCU2vBoMkGZntyUsu5XP9/C8<br>
cQEFLmBQBQcBJ56HAwwqVBGgEyO6RxAZpm4yRGtda722yrjovWMM9BZSxJBt<br>
2RUg5EarJ4OHL9BLP3wuPR1cEYSD42kPyhlBB9rhQzbUiTpbD+QqmTes3Bow<br>
83uMFw7rQRJ0MNx8mKHmiazqa2sOPdIKoJnADRwELXb3nTbAAU/CTTJJ6IaE<br>
Us82VKuq1RMgHFdpqVDQDwCgpweA9UxBdVUKBYNgFt3jx9Jlw92Dg2NrGDQJ<br>
2HMFn1bopNOc6ETJCFnANtBGQSoulRfWgqT9eVML0PoXDkewgGVpJqCG5oae<br>
1zVzVp4piLdocxMAjmjsJVRdeDqKTkNkt3eJs8LgXnC1pQCjzJ1txvZAbGSQ<br>
z/W9ZUAVcr0LV9sDsKWsEjMbvSqxir5qAC7CHQSHik9/n0I+dxH6SfARUGBt<br>
liLCLAygholgtG0BMmi9hhiW3UJi5Aoa2e5Ab5DgIOVeGoMEUeOJf0EBKMfS<br>
U/yWlrobapXgXeXtPk91oJlN9NYI9Oqaud5S78oL5V1UO9CQjA5aGCWJG8Cu<br>
bJShAKLVsLYG/V+KYBJFLGWlArlVwmvF02OR8SnAkQ5HARwY46n3AOO59FsG<br>
mAOtRnMAVEju6hAdLFAWY4wRQ3CDGzcY4IaqlOYCZGgYzAxIBxTAGEXnGj52<br>
0J8qCQAUof/ZXSlzxUwt2Cpb/e7cVqY3Ni71rN4kNNQoYgXLR8i6yNQQiyV7<br>
9utsKodqVAWq9LAu6/bO0iq1aT39K+L/L+rd1mxHcuRMgwHuJOOwM7Mqq3Wc<br>
fv8nG43Un/K0I2It0gGDLrhT8woknQDMfpgDXIbLMNlJ22R0dKCbTpozSJYc<br>
BR+3ACeNAlUeC5vgVAt2v4m2e6eZRVojYUBZWzLCSecYFgpiMHEbBQWcAKpO<br>
GgAMq0kUQ9ikDaW6C/mNGpX/aIhvIAEERkvVvbplX6B1wUa49f1ltlajVBTD<br>
fBg2wGAGDSuTJrxJl1bWZX4QcGsjHGZdLHWugKwydBFxf4WCNWwLHFS7cZuN<br>
kffOuTUgFxwo548XDCD8nsaEKpXJWOftGhlPufktckS7zcaorOdZYI7gNneP<br>
N56gkYoXshASqkd1y6yNRvvbhCoJT4i32TVuSIo/ahPJwCBbbBnRJEmGqPDX<br>
xMjCbA1cjqKr8kQ36QZ6lUsblmPQd4BEllLW4iwQMAMapmspk+gw6dbF4WC4<br>
Am6TBpuEhrV8aysw2xokNg6EAwssDwUHJm4xkfeqU2P1/UyNQgz5RrwQRqrS<br>
GrCL6YjNgV3bQdXtl4QwCGMs94FOQxYqwYFEiSjo9qF/wC73b4MF6P7dlCup<br>
NrXZcHd1mInVDmvbb7kO6LYIpFsH4bDuVi9YB9s5Bi3czLf1/MpaQEHRaOsF<br>
u3pjdYJBMgh4AAOO8Aljob2XlcwW2n540fxRuAYWBj0GMG9oadDJ6aLRjEE3<br>
2+KmmKShwuhRt57uHkS3JXa1sTLoEEZAC3Ka0U2Y1uqL919eP2ZSDgcKGhpw<br>
D1S67jq1SRB9NYnltazPhjVAo/yiGWzC2IR1mL3MeBq828yylmpdFwpGC5kP<br>
MGBTayFPk1jpDGdr3+FuDqjs/zowYFkXeBmANqlqsZ6ssmoU78Zp1Y1W5a1H<br>
CADDBUiobHvtEYA1AHPLtgSw4C9m03gWvDstxxK9zmCGrJiByIPDvEimLSNB<br>
J/M+ogCGSwRckIbfsgJcPxSTgZkKMgkXW2ZXYUQBs+Hd7bgC503gaMDa2cbo<br>
se0r5d50L7aBbW3mJDw4m7NpbHMqXtqC1u5j8soAFMRjIF7MalY1YDIoqxu4<br>
v20Jd3mGq8r9Fi8dQEi5AKxTw2dlZhFApYANNj3Nogmno48hfeniIldWXvux<br>
BVEDFwWP2fTVT3JmXMVoPm98gHBgQQ4fTgABPHQDyJJKAxNaN6nZRqnWqgsh<br>
lFk7dMw8tz36GoPr7Z1/fhpz+yYe/6jfH+bbNkbe1h3T3Abk8TI83ib727er<br>
1gG9bk9sP51/lcY43kLHSz/W22a//PPd//mLRLYJY5muPrNTKvaN8MF/CJgC<br>
UiDquv3W9UOVLVSyW30vbqF9moWU04FmCz5QV/J6GllZgTLzK7KXU4lsdg/Z<br>
Q82WMzYgHSo4fniBgfq7D7hHZAd0FWIoQACuKiVpK9Ft5fMJjOOXf+afv8Xx<br>
un372cHennx9Nbx6LCfGvseGMcOcarA06LVt+MebXudxft++cXt7Lby8bzrf<br>
39a/gO3b9omXF7z851+313/jJNx67a2szCXpPqeQQEqSMKoKqBJ8w32S3LFy<br>
TcZdwNPBcjcDmijvUDerr3CBh7psxdIjSpkNt1RtskajLqA24hO0NLsLwA0v<br>
/v86JtyFqluuY4FOkEaxM5cOwxlGiJ1ZTi3H23s4e5h38J/f2t+eJ/kszLfY<br>
rsYDgzherB1pDTNf8R7X9suC7T9tfImzvq1zvf3jZXt7+8A3PDH/23+Jjf36<br>
j4g3eKCoq3Q+UbRqWMmlC3XTUET97W/eloNXEV4OpKSxVgKrJp1mnewI2y8t<br>
K8pW6EQcvdD6KqxQpYZfzmkh5mMha61aCS511wKFojiIST3lqvtNMn48SN6j<br>
8g8pInOxzrxytXo9dD2vk3pep7WPb8hnfT77n1tf4/nbZ37+5d92g9HBEsY7<br>
2wGDe7Frj0duX38+eETprU7yqvPbXPbPr/8o/fHH8a/XM97qa5itXy7biO4n<br>
Y9VSgE1vXFWSQBTh62/81asAX0scCzU8wFyNFDpb6CDCCYYW4ZXBjTfrqkV8<br>
pmZYwyMbbry6J7QauM6v53nlo7Cq4ubgKCXunhP5N2t/9yJ/WzmQEAX1+dHX<br>
WyL19VFP5lr5fJy53DY8V+dXjcMWzr+e5+fvk7sV63oyn7T/x3mTH2EW57M+<br>
/ljn738wRrzsbmvk+edv57WOP/7fr3r+9XpspY3rqvj47/lfe0RHMjdrEBRN<br>
f5/YW78mf0z4EAuLvlwD9IDQnzJHYwFP9Iu3umV+WLcPM8iG0o1fRGetoOEu<br>
L6df6kmj+xMn8FxYly4heNcAFAguyQnQSwX+4GkHEElEA7IafslxMg52dVHn<br>
WvWlzweAs4zr0SFcdp5/fT7+Slxoan0Fuutz4ThIN6uK8+vz+fsf6+sv/rbt<br>
NbUd0Pn4+nx+7o8/f9P6vf7HUf04zObbAZWYFAkf7nd2j1Kg+926OFatAQos<br>
ym+1YYwfH4AoB2EEZZcsSo6mNZoGc2N39q1NT1mou4rDsFaSTZPBvDBKyVoB<br>
nf93EwGutQBo1M1Ui8DTAcrBhCjI+RqRPtqnb8drXkt9ismqVnYtafEcS77q<br>
u/T1+L5MBIQIIBsusrHy6vVcdX2u9dyX9eNREAx5Ih9/1vnHtT7qty/FZ7y9<br>
NHeGwiGRjvbXMrAzeINgEZOi41l0MJQEHgMYERCDhJmLEjsALrEA1VKW3dze<br>
HICNVhGwRAdRy96qz6FhLLBC+5yfGFhpFG9QwP8eT0FwsbDAumlMJ+SLABEA<br>
GcA4Yg4OI6fxMhp9pF0NAlUcpgeFzoR6PT8ggkEkZASrRVZlXYt3DODEsLqo<br>
gk8t9HWiHsozBfYt1ckYfcslLTgZZnN4Y17Y9oiXmR4UgNMHbhtaP8hEIgYM<br>
7IYZIYipZGX0KhtEuBWqnbTydoMyBEcpVfs2frTZds1t02V1DrAH/h7qVfcs<br>
qZEuYHmhSL8rVIiMgGAm+rQx4RsdsY3YttW6pYQyV5Mo60S1CrouwMjssXcl<br>
7KraZSYr9IW+2G26BgvjkL00/ihdwEVImcHhuCxXZSOS3Og7ecpn+0b5/h6x<br>
wbfNg7hgYDXY8q3hus9hRCScWWhCDwFcRcEt3WJaMVBY5xV0w2BURKvpXwhn<br>
F+BqwJ4We8dEn4LA4euLIDa5ajkK5cPHlwaBvYDhEO6eCcnGCAX34O6z+XRz<br>
7xOjbXVa0bTuwQ6wtnlramALsySrGl6JY9Dd5GXVyg73afaty8xh0X//PApc<br>
jo5G5kP4R2BDr+7mDzASc5omG4aLfN06oVXQ/bdKQzQMRnaUAKURk9rvbSDk<br>
CIs7ygOOTHB5fKMpSI3NHeGWtGFt1Z35tTQdPdwvxHBgwOcLLgwskB78QewH<br>
oBFaAYgXSZrcWz7M9iVlVy8g4db3OlBaylwYxhNs3dBv0AAYEVv4q5lN0o2A<br>
NbTggI0LzoQBFnkPUoCk6kELsq2t0V3PaHfY7itbC9QlncVr6duodGVTKjf1<br>
4DJI590YnAmeHpjmHAS2RskqY6McjJd9wUgOzRXt0xEAF2HtDcFY9VeWaOYc<br>
4YtjKIYwMQfwqAQvnO7jbkd+mCEENYywaDYqTK0aqmW63NEM2LIh9lhqA2Dp<br>
uO7mHkbaknkbKukOIUm0ZzVbVxZiXhJUthYSUSiUU+jqhMKdUOvh1htZM9Dz<br>
tPr+9ayVyoUU7EiAlczWnX7xvIgLmqRRy5njrhWc7ABWXQnqRmuDAz57LQyF<br>
YSKZKLK9V+ESLAzT1zUY1zOmpAEQV2LfoEM6Vedw/Q3/LMQowmwajB5uY5O2<br>
fsAd7jGM7Qn/OyW2hxFcl7XJggFMgsMZKSutvoBjQYLcYE5aRN98eKjijiAE<br>
fyjRxiylA6N15tmFbQ+tWX6UqX//Qi7iSkDrOxDITBSvjTq5ziQnAcY2ZYP7<br>
DA8G2/2KYd1GdbMDl9q1hOqmIpT6McOPxoKWMINz2tUuzWnPBVGZWoX5qBxb<br>
JaEs/lg59h9a5w5zxmDTCH8oXIYYkbFxVbMIl+oeu5u35vidhIFEuB2DN9Ci<br>
vkFU0GneBneLZtOHBTJgE7jIAoIDAmQg6VKm8fSBMZ09y66x8TbRCVzXCgAo<br>
UVISy49BzoErRnqQgz7nfmCfooeNuCsIoMD2xFkV6BpSoFNmQRM8QTq8PWIb<br>
81Sbqvuv8/bENFDX6cjwAgdWbQV6iQNJn5yDFhZBN9mQYg6ZgWe38jKofZpo<br>
sWqdDbTqFkmDF3oI1tvg5s6wOmkiBpowh8st4Hb7Mj/ScpV3wYejWZIuwBgW<br>
EisCG6eh922AF7hbGRLOcqI41gUG4XPAtwE6x6B8cJv71NiDIGNmBwrJS5rt<br>
A91Qd0XASQDDANBs2ijj032MMLOu5Q4EhjBiPK6TgNO58eYbOZ0e68xJ7W+w<br>
uc1tzm16vNBfaN2pyqckrjz9mCE3g1N1Ad00iEW2EEpjiEdoQCcbMsAM6ruj<br>
/5FQwShrYZXkuIcXx/CWqlbbBOWB7SUAUvzY3eZrN60Sz9MIR5hJoeABgOjD<br>
Ar4xiGEetOHygeLkkKb8CvTSgxhGNIcuRdkYTONGGNRwc5AEQ3D5NSMmWwZM<br>
x5kKxhzwAa/XxrVtUdyAz+3Q8bqN+brNAz7cZ0TIkN3qENol6Fpor8Ycq6xg<br>
5Y+OB0SEqsoWcnVQsGxZWzfs3lguOK6SLdrgD6QcOIUJthtCprCZMIDbPDav<br>
VTmUr2+vnbrWMqVt/EHCpHYSRgujxbaZOewgY2weDWg5gTPvfAy4dcp4PSxe<br>
RSI6HOZhpNLu9XDAE+GysPLw8m0jL8AMjMBG+sxwxrF1Y4QnN5+Yrzbe3jd/<br>
2ca7b5jbiBHVJUxo6zIgWM+zOmBoLk3ZrVa00d2KtsoW7CoN8d5igu5hSJ2F<br>
6WU+yk5xArvHwrlASG2FxkIOw9PaEW+lC2YIvry8rPOrTSbvMdQLBsS0knva<br>
2KoRx2R4bMEYuzW948avsxhFtGFyjMrLScp7KPYA3NEl+i3nlPnt8aNk7NfR<br>
hZlog21ZgzYG4QyHtbtvHobxvr1YjAM2/HWPg+J7KnYl4cpFI7isbmjeJc0u<br>
qFbdZlUabquhCYat6qEyqaFGisZGg2Sj7M4GEPLuJdVl3SAIXNbdTW+BYUQA<br>
OV9vsKeu7niy2+ju7HUa6UFrGMk4hpm10S+GwwhFhMOesFEXemBpDDklOQNB<br>
R8GM3fAuDMh2fMLwBALb7mcWGiD6JRBOzgaPe0XfHR4bZ4S7WwwSMcSBoluR<br>
hK/y8kZRctzpu61yOSr6Xo80Nd1MQTMLeDiKcNTSma1WwaVaMl0GNy6aSBFO<br>
hdFgVT2shXZhwfIHNKTlY++86EQ8R2w3UgNvwy5r0gI+KIMGHK2FGBjU8Lv0<br>
NHshS4kvLYhvsuWLkRoeJK6Q2rpWeYC+SzmcJnu4IVZkuMXY1AEf03gknmZt<br>
MeCbM2mDY7hvpt2lMc4Rb7KRtcCUbGEzoLlSxlptrruJAB2DaDM0yxxN81rE<br>
MsmQ5mhcnZcFbIyx6jKMuDEjGHynDoehu9F1mb5DSpRMZgRL4SyEomjwscUC<br>
9wYay9yMEWjbZOZFuCMbg7BuyapaKnh2yYHV552JE7cfRkX7pW5yEbZsFwZR<br>
8QPNPCKGWZtVhQU3n+4dZsA40qwN8G4fsBHDwr2wrfRog+4QANgdVIdqU0Ow<br>
y/xyFtHmt0axSdX5hXhdVWXZxDZiQFKGtA3XdtTHXy4bgzG2R2EM7LOnD+JZ<br>
eGksgKZnmZwNmzlEoa/v1cJoDCP3wdey5Wawsdgm0AF3x80XZkLWKKT5Mgbc<br>
lDQKfaLG6YjhcpTRDWHlKUm4qroBldBzDEBnsmJt2Gi97cEx2UN4Ps16ZfKi<br>
dgh0GBJ9YFnZF+wIH2FOO2fATKjWeF1fS1U0m0fo6bLep8+3cIXa0cwID+fo<br>
ly045/PxtVHf3na8f/ufv39M97dvo45vOv942/qnn3f/dqQZAefIYrLNgWRl<br>
gkcj1QB02aSqbA6Yj2kGsx6IYJpZ0AiebY0X62K4SzH3M5WcZXA8qSmfhTPY<br>
RZNKtWgCLWEF0lRlDSDcswksd3dgsGI7zKMRV/r5mXU+/GgoCZlFQGZJfrmP<br>
61xoH04E9z205Nrx+lZnF74f36r318fjy49+/fnwX37dOFm7wyO1Rxwzvv30<br>
jb++Pf7Xn9uL3v9x8O2fz7cHYr3/9K/6+V/H1//3fnx//6+/1tu/gBe26+pc<br>
X8LR+XVd0lpGy1ylhiyXG/tZcD/95c1bsKYlRfVYwFAMXMlJhxmTZjw6Eihs<br>
A/kKDA+UIQJSU2bU07CGgdAJCs5utFqdjTZzbDHWnJRHw79XPXKsrwey37cI<br>
K2Kr2yjrK3XAp66LvY8Rtm1vCU+XPu2Xoy+C4LFr/+VjXfHyPH799/HybyhY<br>
13kxz6cHfn7f+I9Xe39/3/8T+Zt/+zdw/+nXn7jy5V/vnL+8/PvY3p/49Zey<br>
n01vlZbXc1UueV/m+XToXLm0tCrTJFI8rYg6zOjRLqCt6AilLeCYhF3G2WpO<br>
5h1FkIg7rgugBFrAUT3dI5nAIto7kF+ozarQXPWgzmEkesx9TDzJtez5uNbT<br>
oCWg4LKRAHQ9T47ezAPAtqH6Ggec728/77M6sen4pf/tRIwaTf8n/zt6fvrb<br>
v1Mj50Lk+dR6PvbN5rdvObfStv36gv7pwp7Pr/2Xo+sfNd/t9PhP/9RR3YfO<br>
yu3iZUtnlSMXQFJy5Vldqm6YE0IDtGY0q26ViyGAsmhbyHInZLDmCLO1AMFh<br>
3lrI7lrioIWMcoQJPtVyK5QNo3AVG3DekGVb2HLfNAaWFy49y6+LFIa5u7Er<br>
P6y3C3uFc3WtR7z9mvowjvUMP7ZrAD37q+r9beXovGzt+OnX6l/OT/r62L/F<br>
82HPz2c+L32z6d+el+dnrp+ehpd1Pq6Pz5d/bW3H+iQfT77uyoVTXKuyiOPr<br>
ss5qfRKsmILML/YyJ35ch2FWrqvMDFpmINB+C3LpN+DGXYxivGjd+Tf3ML/E<br>
ToEJzXAfxts/a0lGEwCf0ElNsYcdrRaBMEevOxxNo/Xd7Mkt4uX1cJLoEqDn<br>
WvW8omLHOdYbZV9frnVO+OrDUvj4X/rXz9fJuND54S/M5fnXbwa17Up/fH2p<br>
14JdMz4v6PEnxI7r8f3U9Wfv34B9PcrP7xteT0FXRp1eRxWez3R9pi7SFgJl<br>
pLcZurOqwboEPdLh/QatgYEObDXMcW+r2tZ+yNssiI6/2faCgTBmWFpHtBvh<br>
xVVlDZkKGEXJnJTRMMwqbCDnWBAoqqOxTcCGvxzY3rtUKg+2AbpwWrcl1/n5<br>
u/e3sx4lVD2udVl/2fnZfzrKr0rkc+VeHXh+tmb2B/H4XM1OV58nrrVw/vWE<br>
O+v6vLQ++GcIlc/w67fq68rQ+QBq6pm55/pgPdMJs9VPLG0zqvj8wnU9KpW5<br>
HNmDOBd5+9PpcASGdSOE3e/ZQvMaw9mWq7VahdXBpHuZAqruNt6qUydJC++y<br>
MRAJeUfaPmm09sXc61pFl23Hi4XleG2R3uYLMdYa9MmuysuyHvt3wFdJZ+Xh<br>
ff2e/eBX0f6AQnriemL/acn4yF7fYYfD6wLW9zXC7Mpc8Xw8Ldxwng97fl7b<br>
Xlm1mvW1sNZy5rOlC2+tL1wna1W4aqy6us48jvNL1/dPrQdahrSt5YdubnuK<br>
HhOsAHKoh8fmWobNLFfDZa3KcqDcMqLhQ3VbanZnbSwgmp1Q1AZX5lB9OQLR<br>
6N0gupm6q0WzYy8QGnY99B7tWz6Zzz7erNuvM8/rc5ujPLTUHw/lnnrWevBa<br>
0y4spBZyicwz/RTrsz5hFljK9dkZjU8uBPF8XLDGurqv6+O79da9qq6lrz4H<br>
At4rPzerzy616UqgotdVeGRWP5bXH4mTl2IiLMwM3nRw0H0K7bZ1G6wKReur<br>
TvTqnkulHmA7HWjzYQSvEYxY8splI5BhTOTNCq7KsysdVu2A2s4xXkoLMpQW<br>
Wgt2PjvPr707R30tXUlfsCOfq3XqYzWM9eBSf/9eRuirOvT4UIfufYnv35WE<br>
w9z8/Gx3K4nBqu4egZibPj+NcZiwjef52byClhAz28yMZA892qo9gbZutIiv<br>
6kZ+TU+MbnhlEfBbgR5zbGEjmvHI9Zo3Xd6pz2aUssXRXVzkxvvaFg+ze8dI<br>
cV+qkvmEvdOwFGw2Jbl1yQiIaovPcgcpRKIo6Xz2iq6skr6XeceF7ufzIY9m<br>
F/uqs9lCn2bBhJtbGNBZZeQNzNvzhLVvsHFsX4/CCXdse58le4w5fWzzOWU1<br>
vX0ewkN3u7+jvsKDsY0ydqE6rCFxXg94xeBlns/LAj4nWo+z6ZgTMXMMYhzN<br>
CMTFunQRUrPaIGGYa4DZvQWWda3CGLYkaDOuqKZR9OxriQyT7t5Md6wKZfJp<br>
ZW42SgBGV4EW66FSlTtCj8smaLGFX2XTrvDSvmy5umCN0SwPX85h3ldboI3A<br>
8O7R9vR9x9wGRtmHh2HOoi7V2ByxXt7ec51zBo9fBtJYY7LiNVtzlPGt/Dyf<br>
bTCajGGV2NL5akbaMjPDtATGxdljH3MbZEPLNU1geN3ry02rQXc0TNbi5q6+<br>
IKkZXS7CTYWwPlvDFMBTSkOxlb1zZdVlNm+qXG2WSzJg7rSyEXLlBXe6ZTkh<br>
G2kxj1ybO99S45UfqHV5cBy7dw9kWNe+u57sxDa1k7Yh4HMDNx6L/DaGhOB7<br>
2zUiIPPt/W2Vx3xfPWLfzL80XDVjh03iuvcBLQD55mC8bIp9YXQm3yZBPQlp<br>
OuFw0m3ChlVKC1jbcHF3psFb3ijkaJUSgWp1cYXv1lvEkhWKwVprGQqFq1DV<br>
8nLiiyLQsMy0kkCBxvV074jtsrymN449jH5lhRnm8KZiizG69zfHC1/OrggH<br>
41szHaBPY+Rht6lIBA+Ko2lMg5tzrGZlxr5tXktRT9lBjbcvHfXXh8+t1NfD<br>
ta79eBdQ17NW6d2BWCv8fHA7JF2r7Sx7my2/ztSVpAVIdEvWA1LzCc/Zb7oX<br>
0hrdRa0rBEM01kVEkYNA9yhUl0hEyZRX9wW0kfdVj3G107q9rM29TaNd1g7O<br>
MGMPdIwOBONS904vArRextfNZtTlFLAfJjT9cZofu3oVNnvkFS+QPKFV4ydT<br>
j3oUzt/97adqrMt11obTfX8+Lb//dnZ1vPfHRz/+Y77vVaOeV+mxfGR5f12d<br>
Z48tM/J56vyI10O68inksg4l6pm9rjfHcEijwUabwwKO2WjD0zQaLlM4i2TV<br>
ncntAWK3XpdlSi2PfoYKbJN1NxzupNGKt+R7s6oVgaGx8IxxwAimyYLEBrUr<br>
Wxatflxt6+I1U1t/rtbl4x3QerC+/ve0bwlRZc/z3GSKWJ3roRGo1tez1sPp<br>
ickF1sfnn1dw5yWvSx8LWPN6av9an6trWp4xq76+d4b7V3udf32hJiXv0ucl<br>
q9e2a/j6XKyecdVRezGcF8rgwkUENLO6+HSfZnDrpgu5ZULLEM4mpvXVHF0N<br>
eIDqDgd7VGN2LoO3Wbe7ulEYbtxCy90Hb4o+qwPqZox5JJSPrLYzz1bU8xl9<br>
rs/RzFiAXY/vcDrP58iP/isrJgn2o76fzoGm91V/XtEX9ESwPj4sYhrp13US<br>
9ukmbmNVOf46XmHH9ud/nNZrviX2Nz2b/rS9l7/383+U17ZN2YazgmufY8Xx<br>
9cfXPj55xBXH9pGibvX0Jn1qWaI2yJpjygARyiSqOTxIKROICxpEBsKwMixi<br>
+OpFTTNrupmplzMbqthA8/GCaOER3LNq9QUaLWxPXGHuROfnX6aI/nKrWJ/W<br>
g4fTLT8+t7F5g7EtPFFtTEaqdzInAQ9/nm7G11rHcf15jZnH0Ipj+6sI+fDY<br>
NmZaVBwe49vL40/ifPnprceb5slauf9MDF4f1TbsKOMIzQgMBkenHXOOl5en<br>
vM4voEboiZ8AAANHSURBVIkEzDFQMjuNTZ+OdLB/bHrtjWoNkXJb9TCffWLz<br>
RmchESPQnUW2ISbvVVnQRigrK4gn9/fWF/0APRPECplARYxOLpxdkTVsjane<br>
5oFs2nijbKtVw9ttj818HLgStnx7R1w0H8PcX50OW/HyGv7qr9wnxgznxnyW<br>
HhhBG+PdDN2blb1tv2Dac+yvaMpYeCNfop59vKMKtQ9fsX2DTVmBPY7BYx/7<br>
4Vnf45Nt3dGOvmPX2UGDo/wybtCtIR2VqS62MeicQsD9yiH7QprR40zrRhlH<br>
i5WX0MNhu+w5VGZ7+EiMoHczkMFdUt/xO6D8AfQWPrz2l83HKwcQse0vZRvO<br>
s+BjxDxwbEc/rlPiPAa+k8GYQNjrLtvKosH99ecjMke4bB5X3jmSTEQE93In<br>
tnix4YfK2EZT+Rtb7swYtOEu/ghlmzuutLZ9i32zoBvNg11uKJSU9KM1BA9L<br>
cYpBhp+5+lwLcEUjqoyjqmB9LmYUlTxXLFSYp1mpxTQ6A1fRuTmXxwgvEwCY<br>
cZtU7+oTWBNxL1wObi8vgmt7eQnO9BzzoB9mvu8ocb72GC/TvQ/LC901thfh<br>
NpNEu8OhrV0DYYOEI4RtykpygpcG74g92yxLhdICYgRJz1rDPOMleDkEBCKH<br>
MZpb12Nw0t06OcIDEkY7jDRCpwow51bdKKdZICOQKgsj5n0xHXDIYHHWPdpn<br>
RddSOJyXRyCC9A7hbJsFpx7YNxeqW0yhVMJtD4fDWClAYzxsEuFpCI6wkiW4<br>
28yA2dxghwcWhq0TKDBohl4R4RCV5jBM17nK4GF0bhv7wnJvAxxIw1bCKOuU<br>
RwK0OclNj6ephoUxu1i69n0CAMIBr2W90Du6+76LLuA268cFvAnh0oa+zEzd<br>
BNIjIo2EKRsGb4zVawTHZcAGejQ2jDU4lsp6V8MWzU4g255qdF0VbKFzFYFe<br>
EghT37rzvaxdwUn3RiNeezS5lTltT1PjqOr56lcCRhTIJskIGmUZA1nB3Nq+<br>
s6M93V5Wt3EOJkfMq9i0aqLGGBrZ5kUXwkSJgNwuNa3vZYY0urkDo7EKAYNw<br>
wotQZwDjpKEuZ8OschljMwJfVZ7rJCbKYlrWTaJf6qfJBwK+X/r+fwCYl5VF<br>
d4EViQAAAABJRU5ErkJggg==<br>
--685040144-1527976169-934627538=:733--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0138.html">Andreas Beck: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
