<!-- received="Sat Aug 14 06:22:35 1999 PDT" -->
<!-- sent="Sat, 14 Aug 1999 15:21:30 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Snapscan failure (AGFA Snapscap 1236s)" -->
<!-- id="199908141321.PAA11239@lee.Cc.Uit.No" -->
<!-- inreplyto="" -->
<title>sane-devel: Snapscan failure (AGFA Snapscap 1236s)</title>
<h1>Snapscan failure (AGFA Snapscap 1236s)</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sat, 14 Aug 1999 15:21:30 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#143">[ date ]</a><a href="index.html#143">[ thread ]</a><a href="subject.html#143">[ subject ]</a><a href="author.html#143">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Stephen Williams: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0142.html">Petter Reinholdtsen: "Re: [net] connect_dev: major version mismatch: got 0, expected 1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The snapscan backend is not working properly with my Snapscan 1236s.<br>
'scanimage -T' fails on all tests, and the kernel reports this when I<br>
try to access the scanner:<br>
<p>
  kernel: (scsi0:0:2:0) Data overrun detected in Data-In phase, tag 0;<br>
  kernel:   Have seen Data Phase. Length=0, NumSGs=0.<br>
<p>
I'm running RedHat Linux 6.0 with kernel 2.2.10.  Here are the output<br>
of /proc/scsi/aic7xxx/0:<br>
<p>
Adaptec AIC7xxx driver version: 5.1.17/3.2.4<br>
Compile Options:<br>
  TCQ Enabled By Default : Enabled<br>
  AIC7XXX_PROC_STATS     : Disabled<br>
  AIC7XXX_RESET_DELAY    : 5<br>
 <br>
Adapter Configuration:<br>
           SCSI Adapter: Adaptec AIC-7850 SCSI host adapter<br>
                           Narrow Controller<br>
    PCI MMAPed I/O Base: 0x80200000<br>
 Adapter SEEPROM Config: SEEPROM found and used.<br>
      Adaptec SCSI BIOS: Disabled<br>
                    IRQ: 11<br>
                   SCBs: Active 0, Max Active 1,<br>
                         Allocated 15, HW 3, Page 255<br>
             Interrupts: 963<br>
      BIOS Control Word: 0x0000<br>
   Adapter Control Word: 0x0055<br>
   Extended Translation: Disabled<br>
Disconnect Enable Flags: 0x00ff<br>
 Tag Queue Enable Flags: 0x0000<br>
Ordered Queue Tag Flags: 0x0000<br>
Default Tag Queue Depth: 8<br>
    Tagged Queue By Device array for aic7xxx host instance 0:<br>
      {0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}<br>
    Actual queue depth per device for aic7xxx host instance 0:<br>
      {1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1}<br>
 <br>
Statistics:<br>
 <br>
(scsi0:0:1:0)<br>
  Device using Narrow/Async transfers.<br>
  Transinfo settings: current(0/0/0/0), goal(0/0/0/0), user(25/15/0/0)<br>
  Total transfers 268 (268 reads and 0 writes)<br>
 <br>
 <br>
(scsi0:0:3:0)<br>
  Device using Narrow/Async transfers.<br>
  Transinfo settings: current(0/0/0/0), goal(0/0/0/0), user(25/15/0/0)<br>
  Total transfers 1 (1 reads and 0 writes)<br>
<p>
(Currently, the Snapscan scanner is not present).  Any ideas?<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Stephen Williams: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0142.html">Petter Reinholdtsen: "Re: [net] connect_dev: major version mismatch: got 0, expected 1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
