<!-- received="Sun Aug 15 09:54:18 1999 PDT" -->
<!-- sent="Sun, 15 Aug 1999 18:51:05 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Starting a discussion about SANE and TWAIN..." -->
<!-- id="" -->
<!-- inreplyto="Starting a discussion about SANE and TWAIN..." -->
<title>sane-devel: Re: Starting a discussion about SANE and TWAIN...</title>
<h1>Re: Starting a discussion about SANE and TWAIN...</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 15 Aug 1999 18:51:05 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#169">[ date ]</a><a href="index.html#169">[ thread ]</a><a href="subject.html#169">[ subject ]</a><a href="author.html#169">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">Oliver Rauch: "Re: sane-frames (sane2.0) [was:Starting a discussion about SANE and"</a>
<li> <b>Previous message:</b> <a href="0168.html">Tom Martone: "Re: [Fwd: Re: Discussion about SANE and TWAIN...]"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">252353N@knotes.kodak.com: "Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0171.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Milon Firikis wrote:<br>
<p>
<i>&gt;</i><br>
<i>&gt; I  think you are wrong on that:</i><br>
<i>&gt; In win32 with the functions</i><br>
<i>&gt; [_open,_pipe_,_close,DuplicateHandle,_open_osfhandle,_dup,_dup2]</i><br>
<i>&gt; you can get the exact same functionality as with the POSIX ones [open,</i><br>
<i>&gt; close, pipe, fcntl, dup, dup2].</i><br>
<p>
Ok.<br>
<p>
<i>&gt;</i><br>
<i>&gt; For all the other matters, I can' comment. Especially I don't understand</i><br>
<i>&gt; why you would like to turn your xsane into a TWAIN backend. Anyway, I am</i><br>
<i>&gt; not questioning you, because I am aware that I am missing some critical</i><br>
<i>&gt; details, and I am taking for granted that you don't :).</i><br>
<p>
I do not want to make xsane only a TWAIN backend.<br>
The point is:<br>
I think it is good to have a TWAIN standard on unix systems<br>
and I want to support this idea.<br>
The twain people want to use the drivers we already have written,<br>
so from the view of sane we only need to add a TWAIN interface<br>
to one or all graphical sane frontends.<br>
So I want to add the TWAIN interface to xsane, that is comparable<br>
to the gimp-plugin mode of xsane.<br>
<p>
<p>
<i>&gt; As a side note, I hate to fire up false alarms, but reading through the</i><br>
<i>&gt; e-mail chain (TWAIN--SANE) so far, I get the feeling that:</i><br>
<i>&gt;</i><br>
<i>&gt; 1) TWAIN people haven't realized that SANE is open source in general,</i><br>
<i>&gt; and GPL in particular</i><br>
<i>&gt; 2) They think that they need special permission to get the code</i><br>
<i>&gt; 3) They are not aware for the two TWAIN frontend to SANE attempts. Maybe</i><br>
<i>&gt; they should take a look at:</i><br>
<i>&gt; <a href="http://www.sunshinecomputing.com/winsane/">http://www.sunshinecomputing.com/winsane/</a></i><br>
<i>&gt; <a href="http://integramicro.com/winsane/">http://integramicro.com/winsane/</a></i><br>
<i>&gt;</i><br>
<i>&gt; Finally WinZip is the standard (shareware) program for decompression in</i><br>
<i>&gt; windows world. It handles greatly *.tar.gz. So if they download</i><br>
<i>&gt; ghostcript/ghostview for win32 they could then read the SANE Standard</i><br>
<i>&gt; document.</i><br>
<i>&gt;</i><br>
<i>&gt; Since you are our ambassador to the TWAIN-land, by the blessing of our</i><br>
<i>&gt; leader (David) I think you should make sure that I am wrong and the</i><br>
<i>&gt; TWAIN people are aware of the programs and  documents I mentioned.</i><br>
<i>&gt; Otherwise I find the lack of knowledge about them a very good base for</i><br>
<i>&gt; mutual misunderstanding :-/.</i><br>
<i>&gt;</i><br>
<p>
I think you understood here something wrong.<br>
The idea the TWAIN people have is to make availabel a TWAIN<br>
standard on unix systems to make it easy for application (like Photoshop)<br>
programmers to make a unix version of their windows/Mac software.<br>
<p>
Of course they can take the code of us and use it, but what they want<br>
is that the sane team and the twain team do this togehter!<br>
<p>
<p>
To get a sane frontend on windows is only a little side effect of this<br>
idea.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">Oliver Rauch: "Re: sane-frames (sane2.0) [was:Starting a discussion about SANE and"</a>
<li> <b>Previous message:</b> <a href="0168.html">Tom Martone: "Re: [Fwd: Re: Discussion about SANE and TWAIN...]"</a>
<li> <b>Maybe in reply to:</b> <a href="0084.html">252353N@knotes.kodak.com: "Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0171.html">Oliver Rauch: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- reply="end" -->
</ul>
