<!-- received="Mon Aug 16 08:47:32 1999 PDT" -->
<!-- sent="Mon, 16 Aug 1999 08:47:55 -0700" -->
<!-- name="Stephen Williams" -->
<!-- email="steve@icarus.com" -->
<!-- subject="Re: SANE V2" -->
<!-- id="199908161547.IAA08554@icarus.com" -->
<!-- inreplyto="199908161123.NAA11079@zeus.rz.uni-duesseldorf.de" -->
<title>sane-devel: Re: SANE V2</title>
<h1>Re: SANE V2</h1>
<b>Stephen Williams</b> (<a href="mailto:steve@icarus.com"><i>steve@icarus.com</i></a>)<br>
<i>Mon, 16 Aug 1999 08:47:55 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#195">[ date ]</a><a href="index.html#195">[ thread ]</a><a href="subject.html#195">[ subject ]</a><a href="author.html#195">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Petter Reinholdtsen: "Re: SANE 1.0.1 under DEC UNIX 4.0"</a>
<li> <b>Previous message:</b> <a href="0194.html">becka@rz.uni-duesseldorf.de: "Re: SANE V2"</a>
<li> <b>In reply to:</b> <a href="0194.html">becka@rz.uni-duesseldorf.de: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0218.html">Andreas Beck: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0218.html">Andreas Beck: "Re: SANE V2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a> said:<br>
<i>&gt; O.K. - if it really really really pleases all people here, we can add</i><br>
<i>&gt; that  types. But as said, I am afraid of opening a neverending growth</i><br>
<i>&gt; of the frame types, which is very bad regarding compatibility and</i><br>
<i>&gt; cannot be easily  extended by just editing a textfile or something.</i><br>
<p>
I made a proposal to handle compatibility, to wit:<br>
<p>
<p>
<a href="mailto:steve@icarus.com">steve@icarus.com</a> said:<br>
<i>&gt; Anyhow, to summarize. If we simply add new frame formats and define</i><br>
<i>&gt; them as advanced or optional, drivers will be expected to support the</i><br>
<i>&gt; existing formats as defaults. This will allow old applications to</i><br>
<i>&gt; work. Add wording to the standard something like: </i><br>
<p>
    "All SANE drivers must support at least one of SANE_FRAME_GRAY<br>
    and SANE_FRAME_RGB. All SANE applications must support *both*<br>
    SANE_FRAME_GRAY *and* SANE_FRAME_RGB. The driver must provide<br>
    data in one of these standard formats unless requested otherwise<br>
    by manipulation of its "format" option."<br>
<p>
<a href="mailto:steve@icarus.com">steve@icarus.com</a> said:<br>
<i>&gt; should protect most existing applications. </i><br>
<p>
IMPORTANT POINT:<br>
** Once the well-known format option is added, new "advanced" frame formats<br>
** can be added liberally without ever again breaking compatibility.<br>
<p>
<pre>
-- 
Steve Williams                "The woods are lovely, dark and deep.
<a href="mailto:steve@icarus.com">steve@icarus.com</a>              But I have promises to keep,
<a href="mailto:steve@picturel.com">steve@picturel.com</a>            and lines to code before I sleep,
<a href="http://www.picturel.com">http://www.picturel.com</a>       And lines to code before I sleep."
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0196.html">Petter Reinholdtsen: "Re: SANE 1.0.1 under DEC UNIX 4.0"</a>
<li> <b>Previous message:</b> <a href="0194.html">becka@rz.uni-duesseldorf.de: "Re: SANE V2"</a>
<li> <b>In reply to:</b> <a href="0194.html">becka@rz.uni-duesseldorf.de: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0218.html">Andreas Beck: "Re: SANE V2"</a>
<li> <b>Reply:</b> <a href="0218.html">Andreas Beck: "Re: SANE V2"</a>
<!-- reply="end" -->
</ul>
