<!-- received="Thu Aug 19 08:51:30 1999 PDT" -->
<!-- sent="Thu, 19 Aug 1999 17:49:26 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: sane-umax" -->
<!-- id="" -->
<!-- inreplyto="sane-umax" -->
<title>sane-devel: Re: sane-umax</title>
<h1>Re: sane-umax</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 19 Aug 1999 17:49:26 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#235">[ date ]</a><a href="index.html#235">[ thread ]</a><a href="subject.html#235">[ subject ]</a><a href="author.html#235">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0236.html">Andreas Beck: "Re: Mustek Paragon 1200SP"</a>
<li> <b>Previous message:</b> <a href="0234.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe in reply to:</b> <a href="0232.html">Mike Schmitz: "sane-umax"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mike Schmitz wrote:<br>
<p>
<i>&gt; I'm trying to set up a Umax Astra 1200s with sane.</i><br>
<i>&gt;</i><br>
<i>&gt; Machine:</i><br>
<i>&gt;   Pentium 133</i><br>
<i>&gt;   Debian Slink with debian sane package</i><br>
<i>&gt;   Umax Astra 1200s with firmware v3.1</i><br>
<i>&gt;   NCR53c400 SCSI card</i><br>
<i>&gt;</i><br>
<i>&gt; When the machine boots up, the card is recognized, and the scanner is</i><br>
<i>&gt; placed at /dev/sga.  "find-scanner" finds the scanner OK.  When I try to</i><br>
<i>&gt; scan, though, the machine locks up and I can't do anything but shut it</i><br>
<i>&gt; off.</i><br>
<p>
Hi Mike,<br>
<p>
I think you need to buy a better scsi card,<br>
but let's have a look what happens:<br>
<p>
do<br>
export SANE_DEBUG_UMAX=12<br>
xscanimage<br>
and then do a scan.<br>
Try to send me the text output, especally the last lines!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0236.html">Andreas Beck: "Re: Mustek Paragon 1200SP"</a>
<li> <b>Previous message:</b> <a href="0234.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Maybe in reply to:</b> <a href="0232.html">Mike Schmitz: "sane-umax"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
