<!-- received="Mon Aug 23 09:02:06 1999 PDT" -->
<!-- sent="Mon, 23 Aug 1999 14:30:57 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMAX parallel port scanner" -->
<!-- id="" -->
<!-- inreplyto="UMAX parallel port scanner" -->
<title>sane-devel: Re: UMAX parallel port scanner</title>
<h1>Re: UMAX parallel port scanner</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 23 Aug 1999 14:30:57 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#281">[ date ]</a><a href="index.html#281">[ thread ]</a><a href="subject.html#281">[ subject ]</a><a href="author.html#281">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0282.html">Andreas Beck: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0280.html">Kevin Charter: "Re: Acer Scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0277.html">s.arunprabhakar@barco.com: "UMAX parallel port scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Richard Tobin wrote:<br>
<p>
<i>&gt; &gt; I am sorry to say that but there is no progress for umax</i><br>
<i>&gt; &gt; parallel port scanners. The one who has been working on</i><br>
<i>&gt; &gt; it stopped his work.</i><br>
<i>&gt;</i><br>
<i>&gt; Is it practical to reverse-engineer a parallel port connection without</i><br>
<i>&gt; special hardware?  Could one daisychain the parallel cable through</i><br>
<i>&gt; another PC to see what is happening?  Or somehow get MS Windows to</i><br>
<i>&gt; log the traffic?</i><br>
<i>&gt;</i><br>
<i>&gt; Or does Sane not want to use information obtained by</i><br>
<i>&gt; reverse-engineering?</i><br>
<i>&gt;</i><br>
<p>
Martin Mevald has already done this but stopped his work:<br>
<p>
<i>&gt;I stop driver development for umax parallel scanners.</i><br>
<i>&gt;</i><br>
<i>&gt;<a href="http://www.penguin.cz/~martinmv/umax/">http://www.penguin.cz/~martinmv/umax/</a></i><br>
<i>&gt;There is sniffed communication with ASTRA 610P and analyze.</i><br>
<i>&gt;</i><br>
<i>&gt;Martin Mevald, <a href="mailto:martinmv@hornet.cz">martinmv@hornet.cz</a></i><br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0282.html">Andreas Beck: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0280.html">Kevin Charter: "Re: Acer Scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0277.html">s.arunprabhakar@barco.com: "UMAX parallel port scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
