<!-- received="Thu Aug 26 08:47:40 1999 PDT" -->
<!-- sent="Thu, 26 Aug 1999 08:46:55 -0700" -->
<!-- name="Stephen Williams" -->
<!-- email="steve@icarus.com" -->
<!-- subject="Re: SANE V2" -->
<!-- id="199908261546.IAA05340@icarus.com" -->
<!-- inreplyto="Pine.LNX.4.10.9908261543300.25550-100000@chef.ecs.soton.ac.uk" -->
<title>sane-devel: Re: SANE V2</title>
<h1>Re: SANE V2</h1>
<b>Stephen Williams</b> (<a href="mailto:steve@icarus.com"><i>steve@icarus.com</i></a>)<br>
<i>Thu, 26 Aug 1999 08:46:55 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#311">[ date ]</a><a href="index.html#311">[ thread ]</a><a href="subject.html#311">[ subject ]</a><a href="author.html#311">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0312.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0310.html">Nick Lamb: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; tl-x[1] ... tl-x[8] and format[1] ... format[8]</i><br>
<p>
So add a new parameter to the scan area collection, the format, and<br>
extend the names to take numbers. Sounds fine. The format, by the way,<br>
can be a word list and now the application can query the formats supported.<br>
You can add a new format type NULL or OFF that turns off the window.<br>
<p>
You might want to add to the SCAN_Parameters structure an ID number<br>
that says which window made this frame. It can be simply a cookie that<br>
the front end attaches to a window and interprets how it sees fit.<br>
<p>
The "extending the names to take numbers" part can get tricky. Maybe<br>
there should be a new type, the word array? (Ugh!) How does SCSI manage<br>
windows?<br>
<pre>
-- 
Steve Williams                "The woods are lovely, dark and deep.
<a href="mailto:steve@icarus.com">steve@icarus.com</a>              But I have promises to keep,
<a href="mailto:steve@picturel.com">steve@picturel.com</a>            and lines to code before I sleep,
<a href="http://www.picturel.com">http://www.picturel.com</a>       And lines to code before I sleep."
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0312.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0310.html">Nick Lamb: "Re: SANE V2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
