<!-- received="Fri Aug 27 07:40:59 1999 PDT" -->
<!-- sent="Sat, 28 Aug 1999 00:42:11 +1000" -->
<!-- name="Menaka Lashitha Bandara" -->
<!-- email="lashi@alphalink.com.au" -->
<!-- subject="Acer Scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Acer Scanners</title>
<h1>Acer Scanners</h1>
<b>Menaka Lashitha Bandara</b> (<a href="mailto:lashi@alphalink.com.au"><i>lashi@alphalink.com.au</i></a>)<br>
<i>Sat, 28 Aug 1999 00:42:11 +1000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#318">[ date ]</a><a href="index.html#318">[ thread ]</a><a href="subject.html#318">[ subject ]</a><a href="author.html#318">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0319.html">Steve Darrall: "SANE with a SHARP JX-330"</a>
<li> <b>Previous message:</b> <a href="0317.html">Petter Reinholdtsen: "Re: net problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0252.html">Menaka Lashitha Bandara: "Re: Acer Scanners"</a>
<li> <b>Maybe reply:</b> <a href="0252.html">Menaka Lashitha Bandara: "Re: Acer Scanners"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I desperately need to get my Acer Scanner working under Linux.<br>
<p>
Is there any possibility of loading the VxD in Windows under Wine, and<br>
using TWAIN to access my scanner through Linux. I've downloaded Wine-990713<br>
and it's quite stable, it runs Winword without a problem (not that you'd<br>
wan't to, but it's nice to know it does).<br>
<p>
Can someone help me?<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0319.html">Steve Darrall: "SANE with a SHARP JX-330"</a>
<li> <b>Previous message:</b> <a href="0317.html">Petter Reinholdtsen: "Re: net problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0252.html">Menaka Lashitha Bandara: "Re: Acer Scanners"</a>
<li> <b>Maybe reply:</b> <a href="0252.html">Menaka Lashitha Bandara: "Re: Acer Scanners"</a>
<!-- reply="end" -->
</ul>
